%li
  =realm.harvest
  =realm.healthy
  =realm.resources
  instead of
  =realm.resources
  that merely
  =realm.appear
  good
%li
  avoid
  =realm.adjective
  labor that requires too
  =realm.much_strength + ";"
  if you feel
  =realm.exhausted
  you will stop
  =realm.use_energy.ing
%li
  =realm.use_energy
  as much as you can even if you have no new
  =realm.goals
  to
  =realm.attempt
