%li
  =realm.achieve
  important
  =realm.goals
  instead of wasting
  =realm.energy
  on
  =realm.goals
  that are merely easy to
  =realm.attempt
%li
  avoid
  =realm.resources
  that make you
  =realm.reject_toxic_resources + ";"
  you will lose
  =realm.healthy
  =realm.resources
  as well
%li
  =realm.get_energy
  as much as you can even if you have no new
  =realm.resources
  to
  =realm.harvest
