%li
  avoid
  =realm.adjective
  labor that requires too
  =realm.much_strength + ";"
  if you feel
  =realm.exhausted
  you will stop
  =realm.use_energy.ing
%li
  wait until after you feel
  =realm.empty
  (you are using your
  =realm.reserves + ")"
  before you
  =realm.get_energy
%li
  =realm.harvest
  =realm.healthy
  =realm.resources
  instead of
  =realm.resources
  that merely
  =realm.appear
  good
