%li
  avoid
  =realm.resources
  that make you
  =realm. reject_toxic_resources + ";"
  you will lose
  =realm.healthy
  =realm.resources
  as well
%li
  wait until after you feel
  =realm.full
  (you have refilled your
  =realm.reserves + ")"
  before you
  =realm.use_energy
%li
  =realm.achieve
  important
  =realm.goals
  instead of wasting
  =realm.energy
  on
  =realm.goals
  that are merely easy to
  =realm.attempt
