%li
  the extra
  =realm.carbs
  made you feel a little
  =realm.sick
  but not enough to stop
  =realm.eat1.ing
%li
  the extra
  =realm.glycogen
  made you feel
  =realm.physical.ly
  restless so you
  =realm.walk.ed
  more
