%li
  the extra
  =realm.carbs
  made you
  =realm.throw_up
  so you learned not to
  =realm.eat1
  more
%li
  you did not get more
  =realm.glycogen
  and so did not become
  =realm.physical.ly
  restless or
  =realm.walk
  more
