%li
  it takes time to build
  =realm.muscles
  but although you were still unable to
  =realm.lift
  that
  =realm.heavy
  =realm.weight
  no one else
  =realm.lift.ed
  =realm.weight.it
  for you
%li
  eventually you became
  =realm.strong
  enough to
  =realm.lift
  =realm.weight.it 
  yourself
