%li
  it takes time to build
  =realm.muscles
  and since you were still unable to
  =realm.lift
  that
  =realm.heavy
  =realm.weight
  someone else
  =realm.lift.ed
  =realm.weight.it
  for you
%li
  you never needed to become
  =realm.strong
  enough to
  =realm.lift
  =realm.heavy
  =realm.weight.pluralize
  yourself
