%p
  at first I
  =realm.walk
  a lot, but pretty soon I am
  =realm.eat.ing
  too many
  =realm.carbs
  and can no longer
  =realm.move
%p
  mania is okay at first — I like being
  =realm.energetic
  — but I would rather be
  =realm.strong
