%p
  despite
  =realm.eat.ing
  more and more
  =realm.carbs
  I keep running out of
  =realm.glycogen
  and have to
  =realm.hit
%p
  mania is euphoric at first — I can
  =realm.move
  more — but it ends as soon as I realize how
  =realm.sore
  I have become
