you do not have to
%em seek out
=realm.carbs.punctuate(";")
they appear to drop out of the sky at your feet and all you have to do is
=realm.eat
them and you have all the
=realm.glycogen
you need to
=realm.run
