%p
  I cannot
  =realm.eat
  any
  =realm.carbs
  because they make me feel sick and I stay awake all night
  =realm.walk.ing
%p
  mania is an unmitigated and never-ending horrific disaster and the best reason to become depressed again as soon as possible
