you do not have to
%em seek out
=realm.carbs.punctuate(";")
they appear to drop out of the sky at your feet and all you have to do is
=realm.eat
a few and you fall asleep even in the middle of the day. So you switch to
=realm.eat.ing
=realm.proteins
and you become
=realm.strong.er
