%p
  I
  =realm.walk
  a lot more, sometimes I even wake in the middle of the night and
  =realm.walk
%p
  mania is a pain at first — I would rather sleep than be
  =realm.energetic
  — but I start to crave it once I realize I am actually using and losing unnecessary and unwanted
  =realm.fat
