%p.heading
  -if current_page? type_path(subtype.path)
    mania
  -else
    =link_to subtype.mbti + " mania", type_path(subtype.path)
  %br
  =subtype.manic_result
  =subtype.next_mbti.parenthetical  unless subtype.next_mbti == subtype.mbti
%p=render "manic/#{subtype.attitude.path}", :realm => subtype.realm
