%table
  %caption.heading The Four #{realm.name} Subtypes
  %tr
    %th
    %th stimulated
    %th sedated
  %tr
    %th liberal (manic)
    %td.top=render "subtypes/cell", subtype: realm + Attitude.h
    %td.top=render "subtypes/cell", subtype: realm + Attitude.f
  %tr
    %th conservative (depressed)
    %td.top=render "subtypes/cell", subtype: realm + Attitude.l
    %td.top=render "subtypes/cell", subtype: realm + Attitude.g
