- content_for(:title, "The Four Realms")
=render "header"
=render "affect"
%table
  %caption.heading The Four Realms
  %tr
    %th.narrow
    -Realm.each do |realm|
      %th=realm.name

  -%w{ energy achieve_goals low_energy_activities high_energy_activities harvest_resources  low_energy_resources high_energy_resources}.each do |word|
    %tr
      %th=word.titleize
      -Realm.each do |realm|
        %td=realm.send(word)
