- content_for(:title, "The Four Realms")
%table
  %tr
    %th.narrow
    -Realm.each do |realm|
      %th=link_to realm.name, realm_path(realm.path)
  -%w{ target appear neurochemical energetic energy reserves full output empty intake pain pained painful }.each do |word|
    %tr
      %th=word.titleize
      -Realm.each do |realm|
        %td=realm.send(word)
