- content_for(:title, "The #{@realm.name} Realm")
%h2 The Four #{@realm.name} Behaviors
%table
  %tr
    %td
      =link_to @realm.behaviors.third.name, behaviors_path(@realm.behaviors.third.name)
      %br
    %th
    %td
      =link_to @realm.behaviors.fourth.name, behaviors_path(@realm.behaviors.fourth.name)
      %br
  %tr
    %th
    %th ↻
    %th
  %tr
    %td
      =link_to @realm.behaviors.second.name, behaviors_path(@realm.behaviors.second.name)
      %br
    %th
    %td
      =link_to @realm.behaviors.first.name, behaviors_path(@realm.behaviors.first.name)
      %br
%h2 The Two #{@realm.name} Problems and their Solutions
-@realm.problems.each do |problem|
  %h3=link_to problem.name, problem_path(problem.symbol)
  -problem.solutions.each do |solution|
    %h4=link_to solution.name, solution_path(solution.symbol)
