%li
  =realm.eat
  =realm.carbs
  earlier in the morning or the week
%li
  save the
  =realm.protein
  for
  later in the day or on the weekends
%li
  buffer the
  =realm.carbs
  with
  =realm.fats
  and keep opportunities to
  =realm.eat
  =realm.carbs
  readily available at home
