%li
  =realm.eat
  =realm.protein
  earlier in the morning or the beginnning of the week
%li
  save the
  =realm.carbs
  for
  later in the day or on the weekends
%li
  do not buffer the
  =realm.carbs
  with
  =realm.fats
  and do not keep opportunities to
  =realm.eat
  =realm.carbs
  readily available at home
