%ul
  =render "response/generic", :subtype => subtype
  %li
    if you are 
    %em unable  
    to
    =subtype.eat1
    as much as you want, then
    =subtype.move
    less
    %em immediately
    %ul
      %li
        don’t 
        =subtype.move
        again until you feel
        =subtype.restless
      %li
        do not wait until you are so
        =subtype.thin
        that you are forced to stop
        =subtype.move.ing
        because you don’t have enough
        =subtype.physical
        energy to do so
