%ul
  =render "response/generic", :subtype => subtype
  %li
    if you are not sure, here are a few tips to make it easier to
    =subtype.advice
    %ul=render "response/consume_more", :realm => subtype.realm
  %li
    if you are absolutely sure that you cannot
    =subtype.advice.comma
    then you will have to
    =subtype.move
    less
    %em if and only if
    you are still too
    =subtype.thin
    %ul=render "response/produce_less", :realm => subtype.realm
