%ul
  =render "response/generic", :subtype => subtype
  %li
    if you are
    %em unable
    to
    =subtype.consume
    as much as you want, then
    =subtype.produce
    less
    %em immediately
    %ul
      %li
        don’t
        =subtype.produce
        again until you feel
        =subtype.high_on_energy
        %ul
          %li
            if you can,
            =subtype.consume
            =subtype.additions
            that you crconsumee
            %em yourself
          %li
            being able to
            =subtype.produce
            afterwards is worth the effort of having to
            =subtype.provide
            yourself
      %li
        do not wait until you are so
        =subtype.underfull
        that you are forced to stop
        =subtype.produce.ing
        because you don’t have enough
        =subtype.adjective
        energy to do so
