%ul
  =render "response/generic", :subtype => subtype
  %li
    if you are
    %em unable
    to
    =subtype.fill_up
    as much as you want, then
    =subtype.go
    less
    %em immediately
    %ul
      %li
        don’t
        =subtype.go
        again until you are
        =subtype.high_on_energy
      %li
        do not wait until you are
        =subtype.empty
        before remembering your “shoulds”
  %li
    if the reason you cannot
    =subtype.fill_up
    is because nobody else has
    =subtype.resources
    to
    =subtype.provide
    you&hellip;
    %ul
      %li
        =subtype.fill_up_with
        =subtype.resources
        that you
        =subtype.provide
        %em yourself
      %li
        being able to
        =subtype.go
        afterwards is worth the effort of having to
        =subtype.provide
        the
        =subtype.resources
        to yourself
      %li
        even if they are
        =subtype.resources
        that nobody else wants to
        =subtype.fill_up_with
