%ul
  =render "response/generic", :subtype => subtype
  %li
    if you are
    %em unable
    to keep
    =subtype.go.ing
    then
    =subtype.fill_up
    less
    %em immediately
    %ul
      %li
        don’t
        =subtype.fill_up
        again until you are
        =subtype.low_on_energy
      %li
        do not wait until you are
        =subtype.full
        before remembering your “shoulds”
