%li
  are you sure?
  %ul
    %li
      is the reason real or just an excuse to hang on to your role?
    %li
      does the person who wants you to
      =subtype.nurture
      have any actual power over you?
    %li
      do they understand that you are not trying to get
      %em them
      to
      =subtype.advice.comma
      you just want to
      =subtype.advice
      yourself?
    %li
      can they
      =subtype.nurture
      without you?
    -if subtype.attitude.path == "ip"
      %ul
        %li
          isn’t there anyone
          %em else
          to whom they can
          =subtype.provide
          =subtype.resources
          if they really
          %em must
          =subtype.provide
          =subtype.resources.punctuate("?")
        %li
          alternatively, can they save it for later when you are
          =subtype.low_on_energy.er.punctuate("?")
