%li
  are you sure?
  %ul
    %li
      is the reason real? or just an excuse to stick to your “role” as the one who has to
      =subtype.role.punctuate("?")
    %li
      does the person who doesn’t want you to
      =subtype.advice
      have real authority?
      do they understand that you are not trying to get
      %em them
      to
      =subtype.advice.comma
      you just want to
      =subtype.advice
      yourself?
