%ul
  =render "response/generic", :subtype => subtype
  %li
    if you are 
    %em unable  
    to
    =subtype.move
    as little as you want, then
    =subtype.eat1
    more
    %em immediately
    %ul
      %li
        don’t 
        =subtype.move
        again until you feel
        =subtype.restless
      %li
        do not wait until you are so
        =subtype.thin
        that you are forced to start
        =subtype.eat1.ing
        the
        =subtype.carbs
        you hate