%ul
  =render "response/generic", :subtype => subtype
  %li
    if you are
    %em unable
    to stop
    =subtype.go.ing
    then
    =subtype.fill_up
    more
    %em immediately
    %ul
      %li
        don’t
        =subtype.go
        again until you are
        =subtype.high_on_energy
      %li
        do not wait until you are
        =subtype.empty
        before remembering your “shoulds”
  %li
    if you are already
    =subtype.high_on_energy
    and cannot stop
    =subtype.fill_up.ing
    do not focus on the
    =subtype.energy
    so you can
    =subtype.reject_energy
    %ul
      %li
        being
        =subtype.empty
        afterwards is
        %em not
        worth the risk of becoming
        =subtype.phobic.punctuate("!")
      %li
        focus on the
        =subtype.strength
        and buffer any
        =subtype.energy
        with as
        =subtype.buffers.many
        as you can until the
        =subtype.resources
        go away
