%ul
  =render "response/generic", :subtype => subtype
  %li
    if you are 
    %em unable  
    to
    =subtype.produce
    as little as you want, then
    =subtype.consume
    more
    %em immediately
    %ul
      %li
        don’t 
        =subtype.produce
        again until you feel
        =subtype.high_on_energy
      %li
        do not wait until you are so
        =subtype.underfull
        that you are forced to start
        =subtype.consume.ing
        the
        =subtype.energy
        you hate