%ul
  =render "response/generic", :subtype => subtype
  %li
    if you are
    %em unable
    to stop
    =subtype.go.ing
    then
    =subtype.fill_up
    more
    %em immediately
    %ul
      %li
        don’t
        =subtype.go
        again until you are
        =subtype.high_on_energy
      %li
        do not wait until you are
        =subtype.empty
        before remembering your “shoulds”
  %li
    if you are already
    =subtype.low_on_energy
    and must
    =subtype.fill_up.comma
    do not focus on the
    =subtype.energy
    or you will start 
    =subtype.reject_energy.ing
    %ul
      %li
        try to
        =subtype.fill_up_with
        more
        =subtype.strength
      %li
        buffer any
        =subtype.energy
        with as
        =subtype.buffers.many
        as you can
