%ul
  =render "response/generic", :subtype => subtype
  %li
    if you are
    %em unable
    to
    =subtype.fill_up
    as little as you want, then
    =subtype.go
    more
    %em immediately
    %ul
      %li
        don’t
        =subtype.fill_up
        again until you are
        =subtype.low_on_energy
      %li
        do not wait until you are
        =subtype.full
        before remembering your “shoulds”
  %li
    if you are already
    =subtype.high_on_energy
    and cannot stop
    =subtype.fill_up.ing
    focus on the
    =subtype.energy
    so you can
    =subtype.reject_energy
    and become
    =subtype.low_on_energy
    again
    %ul
      %li
        after the
        =subtype.resources.singularize
        ends, find a way to avoid it in the future
        %ul
          %li
            even if that means you have to avoid the people who
            =subtype.provide.ed
            it to you
          %li
            anyone who forces
            =subtype.resources
            on you that make you
            =subtype.reject_energy
            is not someone whose
            =subtype.resources
            you should
            =subtype.fill_up_with
  %li
    if you have been
    =subtype.reject_energy.ing
    too often and are becoming
    =subtype.phobic
    %ul
      %li
        find a safe place where there is absolutely nothing to
        =subtype.fill_up_with
      %li
        stop
        =subtype.go.ing
        so you have time to heal before you have to
        =subtype.fill_up
        again
      %li
        when you feel
        =subtype.empty
        enough&hellip;
        %ul
          %li
            only
            =subtype.fill_up_with
            =subtype.resources
            with as
            =subtype.strength.many
            and as
            =subtype.energy.few
            as possible
          %li
            avoid all
            =subtype.energetic
            =subtype.resources
            &mdash; even those buffered with plenty of
            =subtype.buffers
            &mdash; until you are fully recovered

