%ul
  =render "response/generic", :subtype => subtype
  %li
    if you are 
    %em unable  
    to
    =subtype.eat1
    as little as you want, then
    =subtype.move
    more
    %em immediately
    %ul
      %li
        don’t 
        =subtype.eat1
        again until you feel
        =subtype.hungry
        %ul
          %li
            if you
            =subtype.eat
            more
            =subtype.carbs
            you will 
            =subtype.throw_up
          %li
            not having to
            =subtype.move
            afterwards is
            %em not
            worth the risk of becoming
            =subtype.anorexic.punctuate("!")
      %li
        do not wait until you are so
        =subtype.fat
        that you are forced to start
        =subtype.move.ing
        when you don’t have enough
        =subtype.physical
        strength to do so