%ul
  =render "response/generic", :subtype => subtype
  %li
    as an
    =subtype.mbti
    the generic tips on how to
    =subtype.advice
    will make you
    =subtype.throw_up
    and cause you to toss out the good
    =subtype.foods
    with the bad
    %ul
      %li
        in environments in which you cannot buffer the
        =subtype.carbs
        with enough
        =subtype.fats
        you may
        =subtype.throw_up
        continuously
      %li
        if you become so sensitized to
        =subtype.carbs
        that you cannot stop
        =subtype.throw_up.ing
        you may become dangerously
        =subtype.anorexic
      %li
        in which case you must
        %em immediately
        stop
        =subtype.move.ing
        and
        =subtype.eat
        plenty of
        =subtype.protein
      %li
        do not
        =subtype.eat
        %em any
        =subtype.carbs.gsub(" and ", " or ")
        &mdash; even those buffered with
        =subtype.fats
        &mdash; until you have recovered
  %li
    if you are absolutely sure that you cannot
    =subtype.advice.comma
    then you will have to
    =subtype.move
    more
    %em if and only if
    you are still too
    =subtype.fat
    %ul=render "response/produce_more", :realm => subtype.realm
