%ul
  =render "response/generic", :subtype => subtype
  %li
    if you are 
    %em unable  
    to
    =subtype.consume
    as little as you want, then
    =subtype.produce
    more
    %em immediately
    %ul
      %li
        don’t 
        =subtype.consume
        again until you feel
        =subtype.low_on_energy
        %ul
          %li
            if you
            =subtype.consume
            more
            =subtype.energy
            you will 
            =subtype.reject_energy
          %li
            not having to
            =subtype.produce
            afterwards is
            %em not
            worth the risk of becoming
            =subtype.phobic.punctuate("!")
      %li
        do not wait until you are so
        =subtype.overfull
        that you are forced to start
        =subtype.produce.ing
        when you don’t have enough
        =subtype.adjective
        strength to do so