- content_for(:title, "#{@mbti.name}")
%h2=render "mbti", mbti: @mbti.name
%table.wide
  %th{colspan: 2}
    %h2 Mania
  %tr
    -@mbti.realms.each do |realm|
      %td.half.top
        %p=render "rationale/#{@mbti.attitude}m", realm: realm
  %th{colspan: 2}
    %h2 Depression
  %tr
    -@mbti.realms.each do |realm|
      %td.top
        %p=render "rationale/#{@mbti.attitude}d", realm: realm
