%p
  If you
  =t :consume
  too many
  =t :externals
  without
  =t :producing
  you will have too many
  =t :internals
  and become
  =t(:overfull).punctuate
%p
  If you
  =t :produce
  without
  =t(:consuming)
  enough
  =t(:externals)
  you will not have any
  =t :internals
  and will
  =t(:run_out).punctuate
%p
  Some people are more at risk for one than the other depending on their
  =t :neurotransmitter
  levels.
%h1
  The
  =t(:mbti)
  Attitudes
=render "ip"
=render "ep"
=render "ej"
=render "ij"
