%p
  Anyone will
  =t :consume
  =t :external_resources
  if they feel
  =t :needy
  enough and the
  =t :external_resources
  are
  =t :appealing
  enough. 
%p
  Anyone will
  =t :produce
  =t :output
  if they feel
  =t :competent
  enough and the
  =t :object
  is
  =t :important
  enough. 
%p
  What constitutes “enough” determines your attitude. 
%h1
  =t(:mbti).punctuate(":") unless t(:mbti).blank?
  The
  =t(:name).capitalize
  Attitudes
=render "ip"
=render "ij"
=render "ej"
=render "ep"
