%p
  Happiness is
  =t :consuming
  =t :external_sources
  and being
  =t :agile
%p
  These two things are mutually exclusive unless I
  =t :produce
  “enough”.
%h1
  =t(:mbti).punctuate(":") unless t(:mbti).blank?
  The
  =t(:name).capitalize
  Attitudes
=render "ip"
=render "ep"
=render "ej"
=render "ij"
