%p
  If you
  =t :consume
  too many
  =t :external_sources
  without
  =t :producing
  enough you will become
  =t :overfull
%p
  If you
  =t :produce
  too much
  without
  =t(:consuming).split.first
  enough
  you will
  =t :run_out
%p
  Some people are more at risk for one than the other.
%h1
  =t(:mbti).punctuate(":") unless t(:mbti).blank?
  The
  =t(:name).capitalize
  Attitudes
=render "ip"
=render "ep"
=render "ej"
=render "ij"
