%h3
  =realm.description
  Autumn
%ol
  %li
    go out to get summer
    (fresh, new, interesting)
    =realm.resources
    and go home to get winter
    (long-lasting, indestructible, timeless)
    =realm.resources.punctuate(";")
    you need them both to have enough
    =realm.realm
    energy to
    =realm.produce
    reliably and consistently
  %li
    stock winter
    =realm.resources
    so you have them in your
    =realm.external
    to go home to when your
    =realm.organ
    starts to ache
  %li
    if you can’t
    =realm.produce.punctuate(",")
    go home and
    =realm.consume
    some winter
    =realm.resources
  %li
    if you don’t want to
    =realm.produce.punctuate(",")
    go out and
    =realm.consume
    some summer
    =realm.resources
  %li
    yes, you really are at risk of dying from
    =realm.death
    but staying out where you have to
    =realm.consume
    summer
    =realm.resources
    will only hasten the process; go home until you’ve recovered a little
    =realm.internal
