%p.heading=realm.autumn
%h3 Historical Autumn
%p
  Autumn may have been a time of harvest and bounty, but it was also extremely stressful.
  People often had to go out and
  =realm.consume
  excess summer
  =realm.resources
  before they disappeared, even though they had already
  =realm.consume.split.first.ed
  far too much and their
  =realm.organ
  was bursting. And they often had to force themselves to go home and stop
  =realm.produce.ing
  because it was becoming cold and dark outside.
%p
  As compensation, they quickly gained the
  =realm.internal
  that would be both necessary and wanted now that summer was over and winter was approaching.
%h3 Present Day Autumn
%p
  =render "mbti", :mbti => "E#{realm.mbti}J", :punctuate => "s"
  %em know
  when their
  =realm.organ.pluralize
  are starting to ache so they stop
  =realm.consume.ing
  summer
  =realm.resources.punctuate
  But they don’t
  %em want
  to go home and stop
  =realm.produce.ing.punctuate
%p
  Unfortunately for them, in this day and age, autumn is, to all intents and purposes, completely avoidable. Summer
  =realm.resources
  are
  %em always
  going to be available later, so they don’t have to continue to
  =realm.consume
  them now if their
  =realm.organ
  starts to ache. And they rarely
  %em have
  to stop
  =realm.produce.ing.punctuate
  So gaining necessary and wanted
  =realm.internal
  becomes virtually impossible.
%p
  Fortunately for them, forcing themselves to
  =realm.consume
  enough summer
  =realm.resources
  to make their
  =realm.organ.pluralize
  ache and then refrain from
  =realm.produce.ing.punctuate(",")
  is
  %em not
  the only way to gain wanted and necessary
  =realm.internal.punctuate
%p
  They can switch to
  =realm.consume.ing
  winter
  =realm.resources
  whenever they feel
  =realm.empty.punctuate
  Since such
  =realm.resources
  are always there, even in the middle of summer, they do
  %em not
  have to
  =realm.consume
  summer
  =realm.resources
  unless they want to.
%p
  They do not have to fear excess
  =realm.internal
  if they start
  =realm.consume.ing
  winter
  =realm.resources.punctuate
  Because their
  =realm.organ
  will eventually start to ache even on
  %em winter
  =realm.resources.punctuate
  They can’t
  =realm.consume
  too much of
  %em anything,
  even if they are feeling
  =realm.empty.punctuate
%p
  And besides, they
  %em like
  to stay out and
  =realm.produce
  when they have enough
  =realm.realm
  energy so it doesn’t accumulate unnecessarily.
