%h3
  =realm.description
  Autumn
%ol
  %li
    stock safe
    =realm.resources
    =realm.winter_adjectives
    in your personal
    =realm.external
    for when your
    =realm.organ
    aches
  %li
    go to the
    =realm.resources
    from your personal
    =realm.external
    when you feel
    =realm.empty
    or if your
    =realm.organ
    aches
  %li
    do not try to
    =realm.produce
    unless you have enough winter
    =realm.resources
    in your personal
    =realm.external
    to keep you going when you cannot
    =realm.consume
    any more summer
    =realm.resources
    =realm.summer_adjectives
