%p
  =subtype.description.pluralize
  can’t
  =subtype.get
  only
  =subtype.median_size.word
  =subtype.energies
  per
  =subtype.chunk
  at all, and even find it difficult to
  =subtype.get
  =subtype.next.size_chunks
  for long before the
  =subtype.energies
  per
  =subtype.chunk
  start to increase.
  Since they have no hope of being “normal”, most adult
  =subtype.description.pluralize
  =subtype.get
  the
  =subtype.natural_chunks
  that is natural for them.
  Even though they get constant signals to
  =subtype.get
  the “normal” three
  =subtype.chunk.pluralize
  a day,
  =subtype.too_much
  =subtype.energies
  is more than most people can
  =subtype.use
  in a day unless they are severely manic. So most
  =subtype.description.pluralize
  learn to ignore most — but not all — of the signals to
  =subtype.get
  more
  =subtype.chunk.pluralize
  a day than they want to
  =subtype.get.punctuate
%p
  They tend to be moderately
  =subtype.full
  as not all of the signals to
  =subtype.get
  more
  =subtype.chunk.pluralize
  can be ignored.
  They eventually learn to habitually
  =subtype.react("more").punctuate(",")
  and thus habitually
  =subtype.react_normally("more than").punctuate(",")
  and do not continue to become
  =subtype.full.er.punctuate
  They can become too
  =subtype.empty
  on rare occasions if they manage to ignore
  %em all
  of the signals telling them to
  =subtype.get
  more than one
  =subtype.chunk
  a day
  (since they habitually
  =subtype.react_normally("more than").punctuate(",")
  one of their
  =subtype.chunk.pluralize
  doesn’t provide quite enough
  =subtype.energies.punctuate(").")
  But since becoming
  =subtype.empty
  typically acts as an unignorable signal to
  =subtype.act("more").punctuate(",")
  they almost never become dangerously
  =subtype.empty.punctuate
%p
  When hypomanic, they merely
  =subtype.act("two")
  a day.
  Even when severely manic they only need to
  =subtype.act("three")
  a day.
  As they can get enough
  =subtype.energies
  to sustain their
  =subtype.adjective
  energy even when severely manic, their
  =subtype.adjective
  mania can last for as long as they are being bombarded with signals to
  %em=subtype.react("more").punctuate("!")
  and they never feel
  =subtype.adjective + "ly"
  depressed enough to have to
  =subtype.get
  four or six
  =subtype.chunk.pluralize
  per day (42
  =subtype.chunk.pluralize
  a week), nor do they get
  =subtype.full.er
  after every manic attack. Nevertheless, mania inevitably spills over into other realms, and although they are in little danger of running out of
  =subtype.adjective
  energy and dying of
  =subtype.death.punctuate(",")
  running out of energy in other realms can be fatal and they should make an effort to ignore the
  %em=subtype.react("more").punctuate("!")
  signals they receive from their environment and
  =subtype.act_naturally("only")
  on a regular basis.
