%p
  =subtype.description.pluralize
  can’t
  =subtype.get
  =subtype.next.size_chunks
  for long — let alone
  =subtype.median_energy_chunks.punctuate
  Since they have no hope of being “normal”, most adult
  =subtype.description.pluralize
  gave up trying to
  =subtype.get
  fewer
  =subtype.energy.pluralize
  per
  =subtype.chunk
  long ago. Even though they get constant signals to
  =subtype.get
  =subtype.normal_chunks.punctuate(",")
  =subtype.too_much
  =subtype.energy.pluralize
  is more than most people can
  =subtype.use
  every day, and they quickly become so
  =subtype.full
  that they either
  =subtype.react
  that they later regret
  =subtype.produce.ing
  or refuse to
  =subtype.get
  at all and most, but not all, of the signals to
  =subtype.get
  more
  =subtype.chunk.pluralize
  go away.
%p
  They tend to be moderately
  =subtype.full
  as not all of the signals to
  =subtype.get
  more
  =subtype.chunk.pluralize
  go away.
  But as they habitually
  =subtype.react("more").punctuate(",")
  and thus
  =subtype.react_normally("more").punctuate(",")
  most
  =subtype.description.pluralize
  are fairly stable.
  They can become too
  =subtype.empty
  on rare occasions if they do not receive any signals telling them to
  =subtype.get
  more
  =subtype.chunk.pluralize
  but continue to
  =subtype.react("more")
  and run out of
  =subtype.energy.pluralize.punctuate
  This reinforces their belief that they “should”
  =subtype.get
  more
  =subtype.chunk.pluralize(",")
  so they do and quickly recover.
%p
  Although this works, they would be happier if rather than
  =subtype.act("more").ing
  they
  =subtype.react("fewer").ed.punctuate
  They can
  =subtype.react_normally("more")
  when they are unable to ignore signals that they “should”
  =subtype.act("more").punctuate(",")
  but they needn’t make it a habit.
