%p
  =subtype.description.pluralize
  are so far from average that even though they get constant signals to
  =subtype.consume
  the “normal”
  =subtype.median.word
  =subtype.unit.pluralize.punctuate(",")
  nobody
  %em needs
  =subtype.averaged
  =subtype.energy.pluralize
  every day and even
  =subtype.consume.ing
  =subtype.next.number.word
  =subtype.next.unit.pluralize
  they quickly become so
  =subtype.full
  that they
  =subtype.produce
  =subtype.things
  that they later regret
  =subtype.produce.ing
  or refuse to
  =subtype.consume
  at all, which is not sustainable in the long term. Since they have no hope of being “normal” most adult
  =subtype.mbti.pluralize
  gave up trying long ago.
%p
  They tend to be moderately
  =subtype.full
  as they become
  =subtype.full.er
  whenever they give in to the signals to
  =subtype.consume
  more
  =subtype.unit.pluralize.punctuate
  But they can usually recover by
  =subtype.produce.ing
  a few more
  =subtype.things
  for a while. For this reason, most
  =subtype.description.pluralize
  actually
  =subtype.produce_we
  more than
  =subtype.total.word
  =subtype.energy.pluralize
  a day on average.
%p
  They can become too
  =subtype.empty
  on rare occasions if they do not receive any signals telling them to
  =subtype.consume
  more
  =subtype.unit.pluralize
  for a while but continue to
  =subtype.produce_we
  more than
  =subtype.total.word
  =subtype.energy.pluralize
  a day and start to run out of fresh
  =subtype.energy.pluralize.punctuate
  This reinforces their belief that they
  “should”
  =subtype.consume
  more
  =subtype.unit.pluralize
  which makes them more sensitive to such signals, and they quickly recover.
%p
  Although this works, they will find life much easier if they
  =subtype.short
  most days, and
  only
  =subtype.produce
  more when they are unable to
  =subtype.consume
  only one
  =subtype.unit
  and feel especially
  =subtype.full
  rather than
  =subtype.produce.ing
  more
  regularly and then having to
  =subtype.consume
  more
  =subtype.unit.pluralize
  when they feel too
  =subtype.empty.punctuate
