They
=t :identify
and
=t :consume
but their pleasure comes primarily from
=t(:identifying).punctuate
They are actually
=t :consuming_less
but since they are not
=t :producing_much
and have completely stopped
=t :utilizing
they become
=t(:overfull)
and unable to
=t(:consume).punctuate