%dl
  %dt input
  %dd
    can
    =realm.gain
  %dt output
  %dd
    wants to
    =realm.lose
  %dt euphoric mania
  %dd
    =realm.lose.s
  %dt dysphoric depression
  %dd
    cannot
    =realm.lose
  %dt preference
  %dd
    willing to never be manic again; not being able  to
    =realm.lose
    during the subsequent depression is horrific and they can
    =realm.lose
    without being manic
