%p
  Prefers
  =realm.use_energy.ing
  to
  =realm.gain.ing.punctuate
%p
  Doesn’t
  %em need
  =realm.energy
  for
  =realm.adjective
  energy, because they don’t
  %em have
  to
  =realm.use_energy
  that much. They just
  %em want
  to
  =realm.gain
  =realm.energy
  because
  =realm.gain.ing
  =realm.energy
  allows them to
  =realm.use_energy
  more.
%p
  Can indulge themselves on
  =realm.energy
  and become manic when the excess
  =realm.adjective
  energy spills over into their
  -if @type
    =@type.i_state.adjective
  -else
    I
  realm.
%p
  Or force themselves to
  =realm.use_energy
  less and get by on the
  =realm.adjective
  strength they get from
  =realm.strength.punctuate
