%h2
  ="E#{t(:mbti)}J:"
  Judicious
  =t(:name).capitalize
  Production
%p
  I would rather not
  =t :consume
  more
  =t :external_sources
  so I will just
  =t :produce
  longer until I can start
  =t(:consuming).split.first
  again
%p
  I don’t mind waiting to
  =t :consume
  =t :external_sources
  again;
  sometimes they make me feel
  =t :bad
  anyway
%p
  High natural
  =t :neurotransmitter
  levels
