%h2
  ="E#{t(:mbti)}J"
%p
  Their
  =t :neurotransmitter
  levels are high enough that they are rarely
  =t :overfull
  — although they have some
  =t :internals
  — because they usually
  =t :produce
  enough and you just can’t be
  =t :overfull
  when you
  =t :produce
  enough.
%p
  They sometimes
  =t :consume
  =t :externals
  when they don’t want to because they are in danger of
  =t :running_out
  because they
  =t :produced
  too much or too fast and you can’t avoid
  =t :consuming
  new
  =t :externals
  when you are in danger of
  =t :running_out
  if you can’t access your
  =t(:internals)
  fast enough.
%p
  They will always
  =t :consume
  =t :externals
  when they have to but rarely feel
  =t :bad
  when they
  =t :consume
  too many
  =t :externals
  because their
  =t :neurotransmitter
  levels are high, but not that high.
