%h2
  ="E#{t(:mbti)}J:"
  Judicious
  =t(:name).capitalize
  Production
%p
  This attitude receives so much pain from
  =t :producing
  =t :unimportant 
  =t :output
  that they will not
  =t :continue_producing
  even if they are feeling
  =t(:competent).punctuate
  They are never  
  =t(:competent)
  “enough” to
  =t :produce
  =t :unimportant 
  =t(:output).punctuate