%p
  An
  ="E#{t(:mbti)}Js"
  =t :neurotransmitter
  levels are high and they are generally
  =t :naturally_more
  but although they receive many signals to
  =t :do_less
  and to be
  =t :less
  they are
  =t :naturally_less
  enough that they also receive occasional signals to
  =t :do_more
  and to be
  =t(:more).punctuate
