%p
  An
  ="E#{t:mbti}Js"
  =t :neurotransmitter 
  levels are above average, but although they primarily received signals to be
  =t :less
  and to
  =t(:do_less)
  they were
  =t :naturally_less
  enough that they occasionally received signals to be
  =t :more
  and to
  =t(:do_more).punctuate
  As an adult, they are usually
  =t :less
  — except when they forget, or are stressed, or are manic and they revert to being
  =t :more
  but they don’t feel too guilty unless it goes on for too long and they become
  =t(:overdone).punctuate
  When they are depressed, or on general sedatives or
  =t :neurotransmitter
  sedatives, they find it much easier to be
  =t :less
  and to not
  =t(:title).downcase
  more than they
  “should” — but although they don't usually become objectively
  =t :underdone
  they do feel too
  =t :naturally_less
  and unable to
  =t(:do_more)
  and be
  =t(:more).punctuate
