%h2
  ="E#{t(:mbti)}P:"
  Pure
  =t(:name).capitalize
  Production
%p
  This attitude receives so much pleasure from
  =t :producing
  =t :important
  =t :output
  that they will
  =t :continue_producing
  even if they aren’t feeling
  =t(:competent).punctuate
  They are always  
  =t(:competent)
  “enough”
  to
  =t :produce
  =t :important
  =t(:output).punctuate