%h2
  ="E#{t(:mbti)}P:"
  Compulsive
  =t(:name).capitalize
  Production
%p
  I would rather be
  =t :agile
  so I will just
  =t :produce
  more until I am no longer
  =t :overfull
%p
  I don’t mind
  =t :producing
  because
  =t :producing
  makes me
  =t :agile
%p
  Low natural
  =t :neurotransmitter
  levels
