%h2
  ="E#{t(:mbti)}P:"
  Compulsive
  =t(:name).capitalize
  Production
%p
  ="E#{t(:mbti)}Ps"
  usually
  =t :consume
  too many
  =t :external_sources
  and have to
  =t :produce
  longer to compensate. That’s just the way they are.
%p
  Low natural
  =t :neurotransmitter
  levels. Usually feel better after they
  =t :consume
  =t :external_sources
