%p
  An
  ="E#{t(:mbti)}Ps"
  =t :neurotransmitter
  levels are so low and they are so
  =t :naturally_less
  that they receive strong and consistent signals to
  =t :do_more
  and to be
  =t(:more).punctuate
  As an adult, they are always
  =t :more
  — except when they forget and they revert to being
  =t :naturally_less
  until they are reminded again. If are ecouraged to
  =t :do_less
  or to be
  =t(:less)
  they don’t feel
  %em guilty
  — they feel relieved.
