%h2
  ="E#{t(:mbti)}P"
%p
  Their
  =t :neurotransmitter
  levels are low enough that they rarely
  =t :run_out
  because they usually
  =t :consume
  enough
  =t :externals
  and you just can’t
  =t :run_out
  when you are
  =t :consuming
  enough
  =t(:externals).punctuate
%p
  They sometimes
  =t :produce
  when they don’t want to because they
  =t :consumed
  too many
  =t :externals
  or 
  =t :consumed
  them too fast and you can’t avoid feeling the need to
  =t :produce
  when you
  =t :consume
  enough
  =t(:externals).punctuate
%p
  They will always
  =t :produce
  when they have to but rarely
  =t :produce
  too long or too fast
  because when they are in danger of
  =t :running_out
  they don’t binge on
  =t :consuming
  =t :externals
  because their
  =t :neurotransmitter
  levels are low, but not that low.
