%p
  An
  ="E#{t(:mbti)}Ps"
  =t :neurotransmitter
  levels are so low that they were born
  =t :naturally_less
  and they received strong and consistent messages to be more
  =t :more
  and to
  =t(:do_more).punctuate
  As an adult, they are always
  =t :more
  — except when they forget, or relax, or are depressed and they revert to being
  =t :naturally_less
  and feel guilty for not having been
  =t :naturally_more
  enough.
  When they are manic, or on general stimulants or
  =t :neurotransmitter
  stimulants, they find it much easier to be
  =t :more
  and to
  =t(:title).downcase
  as much as they
  “should”.
