%h4 Footnote:
%p
  =domains.map(&:words).flatten.map(&:string).uniq.sort.to_sentence.capitalize
  are merely the
  =Realm.f.strengths
  I am currently using when I
  =Realm.f.putz
  as I attempt to translate
  from the
  =Realm.n.name
  realm to the
  =Realm.f.name
  realm.
%p
  Future versions of this site may use different
  =Realm.f.strengths
  to describe the same
  =Realm.n.strengths.period
