%dl
  %dt input
  %dd
    wants to
    =realm.gain
  %dt output
  %dd
    can
    =realm.lose
  %dt dysphoric mania
  %dd
    cannot
    =realm.gain
  %dt euphoric depression
  %dd
    =realm.gain.s
  %dt preference
  %dd
    willing to never be depressed again; being unable to
    =realm.gain
    during the subsequent mania is horrific and they can
    =realm.gain
    without being depressed
