%p
  Prefers
  =realm.gain.ing
  to
  =realm.use_energy.ing.punctuate
%p
  %em Needs
  =realm.strength
  for
  =realm.adjective
  strength, because everyone has to
  =realm.use_energy
  sometime.
%p
  Becomes
  =realm.adverb
  overloaded (manic)
  — and
  =realm.use_energy.s
  uncontrollably — after
  -if @type
    =@type.e_state.gain.ing
    too many
    =@type.e_state.energy
    or
  =realm.gain.ing
  too many
  =realm.energy.punctuate
