%h2
  ="I#{t(:mbti)}J:"
  Aversive
  =t(:name).capitalize
  Consumption
%p
  I would rather stop
  =t :consuming
  =t :external_sources
  than be
  =t :overfull
%p
  I never liked
  =t :consuming
  =t :external_sources
  that much in the first place;
  they often make me feel
  =t :bad
  anyway
%p
  Very high natural
  =t :neurotransmitter
  levels
