%h2
  ="I#{t(:mbti)}J:"
  Judicious
  =t(:name).capitalize
  Consumption
%p
  This attitude receives so much pain from
  =t :consuming
  =t :unappealing
  =t :external_resources
  that they will not
  =t :consume
  them even if they are feeling
  =t(:needy).punctuate
  They are never  
  =t(:needy)
  “enough” to
  =t :consume
  =t :unappealing
  =t(:external_resources).punctuate