%p
  An
  ="I#{t(:mbti)}Js"
  =t :neurotransmitter
  levels are so high and they are so
  =t :naturally_more
  that they receive strong and consistent signals to
  =t :do_less
  and to be
  =t(:less).punctuate
  As an adult, they are always
  =t :less
  — except when they forget and they revert to being
  =t :naturally_more
  until they are reminded again. If they are encouraged to
  =t :do_more
  or to be
  =t(:more)
  they don’t feel
  %em guilty
  — they feel relieved.

