%h2
  ="I#{t(:mbti)}J:"
  Aversive
  =t(:name).capitalize
  Consumption
%p
  ="I#{t(:mbti)}Js"
  always
  =t :produce
  too long
  without
  =t :consuming
  enough
  =t :external_sources
  to compensate and — assuming they weren’t allowed to become
  =t :an_aversive_consumer
  — are always having to
  =t(:consume).split.first
  more than they want to. That’s just the way they are.
%p
  Very high natural
  =t :neurotransmitter
  levels. Always feel
  =t :bad
  after they
  =t :consume
  too many
  =t :external_sources
