%p
  An
  ="I#{t:mbti}Js"
  =t :neurotransmitter
  levels are so high that they were born
  =t :naturally_more
  and they received strong and consistent messages to be
  =t :less
  and to
  =t(:do_less).punctuate
  As an adult, they are always
  =t :less
  — except when they forget, or are stressed, or are manic and they revert to being
  =t :naturally_more
  and feel guilty for not having been
  =t :naturally_less
  enough.
  When they are depressed, or on general sedatives or
  =t :neurotransmitter
  sedatives, they find it much easier to be
  =t :less
  and to not
  =t(:title).downcase
  more than they
  “should”.
