%h2
  ="I#{t(:mbti)}J"
%p
  Their
  =t :neurotransmitter
  levels are so high that they are never
  =t :overfull
  — and have few
  =t :internals
  — because they always
  =t :produce
  and you just can't be
  =t :overfull
  when you
  =t :produce
  that often.
%p
  They often have to
  =t :consume
  =t :externals
  because they often
  =t :run_out
  because they
  =t :produce
  so often and you can't avoid
  =t :consuming
  =t :externals
  when you are
  =t :running_out
  and have so few
  =t(:internals).punctuate
%p
  They will always
  =t :consume
  =t :externals
  when they have to no matter how
  =t :bad
  they feel and they always feel
  =t :bad
  when they
  =t :consume
  too many
  =t :externals
  because their
  =t :neurotransmitter
  levels are so high.
