%p
  An
  ="I#{t(:mbti)}Ps"
  =t :neurotransmitter
  levels are low and they are generally
  =t :naturally_less
  but although they receive many signals to
  =t :do_more
  and to be
  =t :more
  they are
  =t :naturally_more
  enough that they also receive occasional signals to
  =t :do_less
  and to be
  =t(:less).punctuate
