%p
  An
  ="I#{t:mbti}Ps"
  =t :neurotransmitter 
  levels are below average, but 
  although they primarily received signals to be more
  =t :more
  and to
  =t(:do_more)
  they were
  =t :naturally_more
  often enough that they occasionally received signals to
  =t :do_less
  and to be
  =t(:less).punctuate
  As an adult, they are usually
  =t :more
  — except when they forget, or relax, or are depressed and they revert to being
  =t :less
  but they don’t feel too guilty unless it goes on for too long and they become
  =t(:underdone).punctuate
  When they are manic, or on general stimulants or
  =t :neurotransmitter
  stimulants, they find it much easier to be
  =t :more
  and to
  =t(:title).downcase
  as much as they
  “should” — but although they don't usually become objectively
  =t :overdone
  they do feel too
  =t :naturally_more
  and unable to
  =t(:do_less)
  and be
  =t(:less).punctuate
