%h2
  ="I#{t(:mbti)}P:"
  Addictive
  =t(:name).capitalize
  Consumption
%p
  I would rather be
  =t :overfull
  than stop
  =t :consuming
  =t :external_sources
%p
  I don’t like being
  =t :overfull
  but
  =t :consuming
  =t :external_sources
  is the only thing that makes life worthwhile
%p
  Very low natural
  =t :neurotransmitter
  levels
