%h2
  ="I#{t(:mbti)}P:"
  Pure
  =t(:name).capitalize
  Consumption
%p
  This attitude receives so much pleasure from
  =t :consuming
  =t :appealing
  =t :external_resources
  that they will
  =t :consume
  them even if they aren’t feeling
  =t(:needy).punctuate
  They are always  
  =t(:needy)
  “enough”
  to
  =t :consume
  =t :appealing
  =t(:external_resources).punctuate