%h2
  ="I#{t(:mbti)}P:"
  Addictive
  =t(:name).capitalize
  Consumption
%p
  ="I#{t(:mbti)}Ps"
  always
  =t :consume
  too many
  =t :external_sources
  without being able to
  =t :produce
  enough to compensate and — assuming they aren’t
  =t :professional_producers
  — have been
  =t :overfull
  all their life. That’s just the way they are.
%p
  Very low natural
  =t :neurotransmitter
  levels. Always feel better after they
  =t :consume
  =t :external_sources

