%dl
  %dt input
  %dd
    cannot
    =realm.gain
  %dt output
  %dd
    wants to 
    =realm.lose
  %dt chronic mania
  %dd
    =realm.input.s
    enough to provide enough
    =realm.energy
    to be able to
    =realm.lose
    most of the time, but always
    =realm.underfull.er
    than they want to be
  %dt agitated depression
  %dd
    finally able to 
    =realm.gain
    but no longer able to 
    =realm.lose
  %dt preference
  %dd
    be just depressed enough to
    =realm.gain
    but not so manic that they cannot
    =realm.lose
