%p
  Prefers
  =realm.use_energy.ing
  to
  =realm.gain.ing.punctuate
%p
  %em Needs
  =realm.energy
  for
  =realm.adjective
  energy, because anyone who
  =realm.use_energy.s
  as much as they do needs both the strength they get from
  =realm.strength
  and the energy they get from
  =realm.energy.punctuate
%p
  Becomes
  =realm.adverb
  underloaded (depressed)
  — and
  cannot
  =realm.use_energy
  — if they do not
  -if @type
    =@type.p_state.gain
    enough
    =@type.p_state.energy
    or
  =realm.gain
  enough
  =realm.energy.punctuate

