They
=t :evaluate
and
=t :improve
but their pleasure comes primarily from
=t(:improving).punctuate
But since they are not planning to
=t :produce
— as they have already
=t :produced
— they stop
=t :consuming
and eventually
=t(:run_out)
and are unable to
=t(:utilize).punctuate
