Stable people
=realm.act_normally
and
=realm.use
=realm.bursty.word
=realm.energies
a day.
=realm.description
mania is the urgent need to
%em=realm.react.punctuate("!:")
three
=realm.median_size_energy_chunks
do not provide enough
=realm.adjective
energy for the
=realm.hypomanic
=realm.energies
(hypomania)
or even
=realm.manic
=realm.energies
(severe mania)
required.
=realm.description
depression is the belated realization that mania has caused you to run low on stored
=realm.adjective
energy, and you must
%em=realm.act("more").punctuate("!:")
four
=realm.median_size_energy_chunks
(28 per week during mild depression) follows hypomania, and six
=realm.median_size_energy_chunks
(42 per week during severe depression) follows severe mania. If you do the math, you will see that mild depression must last a little longer than the hypomania which preceded it and severe depression will last half again as long as the severe mania which preceded it. And that’s only to bring you back to normal. Typically, depression lasts even longer, in order to store up even more
=realm.adjective
energy than you used — as insurance in case the next manic attack lasts even longer — since completely running out of
=realm.adjective
energy can be fatal.
