%p
  =subtype.description.pluralize
  find it difficult, but by no means impossible, to
  =subtype.get
  =subtype.median_size_energy_chunks.punctuate
  Since they
  %em can
  be “normal”, most adult
  =subtype.description.pluralize
  =subtype.act_normally
  and eschew the
  =subtype.natural_chunks
  that would be natural for them.
%p
  They are always too
  =subtype.full
  as it is impossible to go against nature
  %em all of the time
  and so they often
  =subtype.get
  =subtype.size_chunks.pluralize
  but still
  =subtype.react_normally("only").punctuate
  In other words, they become
  =subtype.full.er
  whenever they are not actively paying attention to the
  =subtype.adjective
  realm by either deliberately
  =subtype.get.ing
  =subtype.median_size_energy_chunks
  (which they find unsatisfying)
  or
  =subtype.react_normally("more than").ing.punctuate
%p
  When hypomanic, they can
  %em finally
  relax.
  Severe mania is euphoric, as they actually become
  =subtype.empty.er
  without even trying!
  Unfortunately,
  =subtype.adjective
  mania inevitably spills over into other realms, and although they are in
  %em no
  danger of running out of
  =subtype.adjective
  energy and dying of
  =subtype.death.punctuate(",")
  running out of energy in other realms can be fatal. They will be much happier if they learn to ignore the signals to
  =subtype.get
  three
  =subtype.chunks
  a day,
  =subtype.get
  only one
  =subtype.chunk
  a day when they need to become
  =subtype.empty.er.punctuate(",")
  stop trying to
  =subtype.get
  fewer
  =subtype.energies
  per
  =subtype.chunk.punctuate(",")
  and
  =subtype.act_naturally
  on a regular basis.
