=subtype.description.pluralize
are not so far from average and when they get signals to
=subtype.consume
the “normal”
=subtype.realm.median.word
=subtype.unit.pluralize
they usually do.
They do not become so
=subtype.full
so quickly that they
=subtype.produce
=subtype.things
that they later regret or refuse to
=subtype.consume
at all.
%p
  Although they usually compensate by
  =subtype.produce.ing
  more
  =subtype.things
  it is actually fairly difficult to consistently
  =subtype.produce_we
  =subtype.averaged
  =subtype.energy.pluralize
  every day and most
  =subtype.description.pluralize
  struggle with being too
  =subtype.full
  and spend much of their life trying to become
  =subtype.empty.er.punctuate
  Since they assume the problem is that they
  =subtype.consume
  =subtype.amount_units
  (which is not normal) instead of that they
  =subtype.consume
  =subtype.realm.median.word
  =subtype.units
  (which is normal)
  they are always trying to restrain themselves from
  =subtype.consume.ing
  more
  =subtype.energy.pluralize
  per
  =subtype.unit
  than seems “normal” but it’s very difficult to have to constantly restrain themselves.
%p
  They will find life much easier if they only
  =subtype.consume
  =subtype.number.word
  =subtype.units
  a day most days — and
  only one
  when they are trying to be
  =subtype.empty.er
  — and just let themselves
  =subtype.consume
  as many
  =subtype.energy.pluralize
  per
  =subtype.unit
  as they can.
