%p
  =subtype.description.pluralize
  get constant signals to
  =subtype.get
  =subtype.normal_chunks.punctuate
  Although not impossible, it is difficult to consistently
  =subtype.use
  =subtype.too_much.word
  =subtype.energy.pluralize
  every day.
  They become
  =subtype.full
  so slowly that they do not
  =subtype.react
  that they later regret
  =subtype.produce.ing
  or refuse to
  =subtype.get
  at all, so the signals continue.
%p
  Most
  =subtype.description.pluralize
  constantly struggle with being too
  =subtype.full.punctuate
  Since they assume the problem is that they
  =subtype.get
  =subtype.size_chunks
  (which is not normal) instead of that they
  =subtype.get
  =subtype.realm.median_chunks.word
  =subtype.chunks
  (which is normal)
  they are always trying to restrain themselves from
  =subtype.get.ing
  more
  =subtype.energy.pluralize
  per
  =subtype.chunk
  than they “should”.
%p
  Although this works, they would be happier if rather than
  =subtype.get.ing
  =subtype.normal_chunks
  every day they
  =subtype.get.ed
  only
  =subtype.number.word
  — and only one
  when they are too
  =subtype.full
  — and
  allowed themselves as many
  =subtype.energy.pluralize
  per
  =subtype.chunk
  as they can handle.
