%dl
  %dt input
  %dd
    wants to
    =realm.gain
  %dt output
  %dd
    cannot
    =realm.lose
  %dt irritable mania
  %dd
    finally able to
    =realm.lose
    but unable to
    =realm.gain
  %dt chronic depression
  %dd
    =realm.output.s
    enough to use up some of the
    =realm.energy
    they get from
    =realm.gain.ing
    but always
    =realm.overfull.er
    than they want to be
  %dt preference
  %dd
    be just manic enough to
    =realm.lose
    but not so manic that they cannot
    =realm.gain
