%p
  Prefers
  =realm.gain.ing
  to
  =realm.use_energy.ing.punctuate
%p
  Doesn’t
  %em need
  =realm.energy
  for
  =realm.adjective
  energy, because they don’t
  =realm.use_energy
  that much. They just
  %em want
  to
  =realm.gain
  =realm.energy
  because
  =realm.energy
  make them feel energetic.
%p
  Can deprive themselves of
  =realm.energy
  and consist only on
  =realm.strength
  and become depressed when the lack of
  =realm.adjective
  energy drags down their
  -if @type
    =@type.j_state.adjective
  -else
    J
  realm.
%p
  Or force themselves to
  =realm.use_energy
  more and actually
  %em use
  that
  =realm.adjective
  energy.
