%p
  The basic cycle in the
  =realm.realm
  realm is as follows:
  %ol
    %li
      You feel
      =realm.empty
      so you find
      =realm.resources
      you can
      =realm.consume.punctuate
    %li
      When you are
      =realm.full
      enough you
      =realm.produce
      until you feel
      =realm.empty
      again.
