-I18n.with_locale(subtypes.first) do
  =t(:do_more).punctuate("!")
-I18n.with_locale(subtypes.second) do 
  =t(:do_more).punctuate(".")
-I18n.with_locale(subtypes.third) do
  =t(:do_less).punctuate(".")
-I18n.with_locale(subtypes.fourth) do
  =t(:do_less).punctuate("!")
