%h3 Historical Spring
%p
  Spring may have been a time of renewal and growth, but it was also extremely unpleasant.
  People often had to stay home and
  =realm.consume
  leftover winter
  =realm.resources
  even though they were now boring and tedious. And they often had to force themselves to go out and
  =realm.produce
  even though it was still cold and dark outside.
%p
  As compensation, they quickly lost the excess
  =realm.internal
  that was both unnecessary and unwanted now that winter was over and summer was approaching.
%h3 Present Day Spring
%p
  =render "mbti", :mbti => "I#{realm.mbti}P", :punctuate => "s"
  %em know
  there are more interesting
  =realm.resources
  out there. But they don’t
  %em want
  to go out and
  =realm.produce
  in public.
%p
  Unfortunately for them, in this day and age, spring is, to all intents and purposes, completely avoidable. There really
  %em are
  better
  =realm.resources
  out there. And they rarely
  %em have
  to
  =realm.produce
  in public. So losing unnecessary and unwanted
  =realm.internal
  becomes virtually impossible.
%p
  Fortunately for them, staying home to
  =realm.consume
  boring winter
  =realm.resources
  while forcing themselves to go out and
  =realm.produce
  in public is
  %em not
  the only way to lose unwanted and unnecessary
  =realm.internal.punctuate
%p
  They can
  %em stay home
  and
  =realm.produce.punctuate
  And they can stop stocking winter
  =realm.resources
  in their personal
  =realm.external.punctuate
  If they are not there, they cannot
  =realm.consume
  them whenever they are feeling stressed and need something boring and unthreatening to do.
%p
  They do not have to fear running out of
  =realm.internal
  and dying of
  =realm.death
  if they do not stock sufficient winter
  =realm.resources
  =realm.winter_adjectives.punctuate
  Because they can always go out and get summer
  =realm.resources
  =realm.summer_adjectives
  whenever they feel
  =realm.empty.punctuate
  They can
  =realm.consume
  %em anything
  if they feel
  =realm.empty
  enough.
%p
  If they must stock winter
  =realm.resources
  in the home for other members of the household who are either
  ="#{realm.mbti}Js"
  and too sensitive to go out and
  =realm.consume
  whatever is available, or who are too young, old, or infirm to do so, then such
  =realm.resources
  must be designated as
  %em their
  =realm.resources.punctuate(",")
  so they will not be tempted to
  =realm.consume
  too many of them when they are stressed.
