%h3
  =realm.description
  Spring 
%ol
  %li
    =realm.produce
    whenever you can, especially when you are at home and in private
  %li
    do not stock winter
    (long-lasting, indestructible, timeless)
    =realm.resources
    in your 
    =realm.external
  %li
    if such
    =realm.resources
    must be stocked in your shared
    =realm.external
    for other people,
    clearly designate them as
    %em theirs
  %li
    go out to get spring
    (fresh, new, interesting)
    =realm.resources
    whenever you feel
    =realm.empty
  %li
    do not bring the leftover
    =realm.resources
    home for later
