%h3
  =realm.description
  Spring
%ol
  %li
    do not stock any more winter
    =realm.resources
    =realm.winter_adjectives
    in your personal
    =realm.external
    than you must
  %li
    go out to get summer
    =realm.resources
    =realm.summer_adjectives
    whenever you feel
    =realm.empty
  %li
    =realm.produce
    at home if you feel bored or if you cannot sleep
