%table.center
  -states.in_groups_of(2).each do |row|
    %tr
      -row.each do |state|
        %td
          -if @type
            %b=state.short_with_mbti
          -else
            %b=link_to state.short_with_mbti, discover_path("Q2_#{state.letters}")
          =render state.attitude.letter, :realm => state.realm
          -if @type
            %p.small=link_to "not right?", discover_path(@type.qpath(state))
