%p
  You know you are
  =state.high_or_low
  because you have a
  =state.objective_measure
  which tells you so.
%p
  Your brain “knows” you are
  =state.high
%p
  Your brain “knows” you are
  =state.low
