%p
  You know you are
  =state.top_or_bottom
  because you have a
  =state.objective_measure
  which tells you so.
%p
  Your brain “knows” you are
  =state.top
%p
  Your brain “knows” you are
  =state.bottom
%p.small=link_to "not right?", discover_path(@type.qpath_without_state(state))
