%table.center
  -states.in_groups_of(2).each do |row|
    %tr
      -row.each do |state|
        %td
          %b=state.short_with_mbti
          =render state.attitude.letter, :realm => state.realm
          -if @type
            %p.small=link_to "not right?", discover_path(@type.qpath(state))
