%p
  =subtype.description.pluralize
  can’t
  =subtype.get
  =subtype.median_size.word
  =subtype.energies
  per
  =subtype.chunk
  at all, and even find it difficult to
  =subtype.get
  =subtype.previous.size_chunks
  for long before the
  =subtype.energies
  per
  =subtype.chunk
  start to decrease.
  Since they have no hope of being “normal”, most adult
  =subtype.description.pluralize
  =subtype.get
  the
  =subtype.natural_chunks
  that is natural for them.
  Even though they get constant signals to
  =subtype.get
  the “normal” three
  =subtype.chunk.pluralize
  a day,
  =subtype.too_few.word
  =subtype.energies
  is fewer than most people require. So most
  =subtype.description.pluralize
  learn to ignore most — but not all — of the signals to
  =subtype.get
  fewer
  =subtype.chunk.pluralize
  a day than they want to
  =subtype.get.punctuate
%p
  They tend to be moderately
  =subtype.empty
  as not all of the signals to
  =subtype.get
  fewer
  =subtype.chunk.pluralize
  can be ignored.
  They eventually learn to habitually
  =subtype.react("fewer").punctuate(",")
  and thus habitually
  =subtype.react_normally("fewer than").punctuate(",")
  and do not continue to become
  =subtype.empty.er.punctuate
  They can become too
  =subtype.full
  on rare occasions if they manage to ignore
  %em all
  of the signals telling them to
  =subtype.get
  less than
  =subtype.number_chunks
  a day
  (since they habitually
  =subtype.react_normally("fewer than").punctuate(",")
  =subtype.number_chunks
  of their
  =subtype.chunk.pluralize
  proveds a little too much enough
  =subtype.energies.punctuate(").")
  But since becoming
  =subtype.full
  typically acts as an unignorable signal to
  =subtype.act("fewer").punctuate(",")
  they almost never become dangerously
  =subtype.full.punctuate
%p
  As they can rarely get enough
  =subtype.energies
  to sustain even their normal
  =subtype.adjective
  activities, their manias are extremely short no matter how many
  %em=subtype.react("more").punctuate("!")
  signals they get, as they almost immediately run out of
  =subtype.energies.punctuate
  In fact, if they cannot learn to ignore the signals to
  %em=subtype.react("more").punctuate("!")
  they can completely run out of
  =subtype.adjective
  energy and die of
  =subtype.death.punctuate
  Even though they become
  =subtype.full.er
  after every manic attack, they become
  =subtype.full.er
  extremely slowly and are always at risk for
  =subtype.death
  if the next manic attack occurs too soon. They must make every effort to ignore the
  %em=subtype.react("more").punctuate("!")
  signals they receive from their environment and always remember to
  =subtype.act_naturally
  or even more if they are feeling
  =subtype.sick.punctuate
