%p
  =subtype.description.pluralize
  can’t
  =subtype.get
  =subtype.previous.size_chunks
  for long — let alone
  =subtype.median_energy_chunks.punctuate
  Since they have no hope of being “normal”, most adult
  =subtype.description.pluralize
  gave up trying to
  =subtype.get
  more
  =subtype.energy.pluralize
  per
  =subtype.chunk
  long ago. Even though they get constant signals to
  =subtype.get
  only
  =subtype.normal_chunks.punctuate(",")
  =subtype.too_few
  =subtype.energy.pluralize
  is less than most people need in order to
  =subtype.react
  every day, and they quickly become so
  =subtype.empty
  that they either stop
  =subtype.react.ing
  that they have to
  =subtype.produce
  or refuse to
  =subtype.react_normally("any")
  at all and most, but not all, of the signals to
  =subtype.get
  fewer
  =subtype.chunk.pluralize
  go away.
%p
  They tend to be moderately
  =subtype.empty
  as not all of the signals to
  =subtype.get
  fewer
  =subtype.chunk.pluralize
  disappear.
  But as they habitually
  =subtype.react("fewer").punctuate(",")
  and thus
  =subtype.react_normally("fewer").punctuate(",")
  most
  =subtype.description.pluralize
  are fairly stable.
  They can become too
  =subtype.full
  on rare occasions if they do not receive any signals telling them to
  =subtype.get
  fewer
  =subtype.chunk.pluralize
  but continue to
  =subtype.react("fewer")
  and overflow with
  =subtype.energy.pluralize.punctuate
  This reinforces their belief that they “should”
  =subtype.get
  fewer
  =subtype.chunk.pluralize.punctuate(",")
  so they do and quickly recover.
%p
  Although this works, they would be happier if rather than
  =subtype.act("fewer").ing
  they
  =subtype.react("more").ed.punctuate
  They can
  =subtype.react_normally("fewer")
  when they are unable to ignore signals that they “should”
  =subtype.act("fewer").punctuate(",")
  but they needn’t make it a habit.
