%p
  =subtype.description.pluralize
  are so far from average that even though they get constant signals to
  =subtype.consume
  the “normal”
  =subtype.realm.average_unit
  they cannot do so. Although they can
  =subtype.consume
  =subtype.previous.amount_units
  if they try, they are constitutionally incapable of
  =subtype.consume.ing
  =subtype.realm.average_unit.punctuate
  Since they have no hope of being “normal” most adult
  =subtype.mbti.pluralize
  gave up trying long ago.
%p
  They tend to be moderately
  =subtype.empty
  as they become
  =subtype.empty.er
  whenever they give in to the signals to
  =subtype.consume
  fewer
  =subtype.units
  and start running out of
  =subtype.energy.pluralize.punctuate
  But they can usually recover by
  =subtype.consume.ing
  a few
  =subtype.previous.amount_units.punctuate
  For this reason, most
  =subtype.description.pluralize
  actually
  =subtype.consume
  =subtype.previous.amount_units
  on a regular basis, and are usually a little stressed.
%p
  They can become too
  =subtype.full
  on rare occasions if they do not receive any signals telling them to
  =subtype.consume
  fewer
  =subtype.unit.pluralize
  for a while but continue to
  =subtype.consume
  =subtype.previous.amount_units
  and start to overflow with
  =subtype.energy.pluralize.punctuate
  This reinforces their belief that they
  “should”
  =subtype.consume
  fewer
  =subtype.units
  which makes them more sensitive to such signals, and they quickly recover.
%p
  Although this works, they will find life much easier if they
  =subtype.short
  most days, and
  only
  =subtype.consume
  =subtype.previous.amount_units
  when they are unable to get all
  =subtype.number.word
  and feel especially
  =subtype.empty
  rather than
  =subtype.consume.ing
  =subtype.previous.amount_units
  regularly and then having to
  =subtype.consume
  fewer
  =subtype.units
  when they feel too
  =subtype.full.punctuate
