A stable
=subtype.description
=subtype.short.s
a day on average and
=subtype.produce_we.s
=subtype.total.word
=subtype.energy.pluralize
a day and becomes neither
=subtype.full.er
nor
=subtype.empty.er.punctuate
