%p
  You know you are
  =subtype.manic_or_depressed
  because you have a
  =subtype.objective_measure
  which tells you so.
%p
  Your brain “knows” you are
  =subtype.manic
%p
  Your brain “knows” you are
  =subtype.depressed
