%h3
  =realm.description
  Summer
%ol
  %li
    =realm.resources
    are ubiquitous, if you don’t like this one, look around for a better one tomorrow
  %li
    if you don’t want to
    =realm.produce
    more, don’t force yourself to
    =realm.consume
    more
    =realm.resources
  %li
    if you can’t
    =realm.consume
    =realm.resources
    (temporarily) you need to
    =realm.produce
    less (for a while)
  %li
    if you are running low on
    =realm.internal.punctuate(",")
    =realm.consume
    any
    =realm.resources
    you can find; you won’t have to
    =realm.consume
    them for long before more interesting
    =realm.resources
    become available
  %li
    don’t bother stocking
    =realm.resources
    because you will always go out and get summer (fresh, new, interesting)
    =realm.resources
    to
    =realm.consume
    no matter how many winter (long-lasting, indestructible, timeless)
    =realm.resources
    you already have in your
    =realm.external
