%h3
  =realm.description
  Summer
%ol
  %li
    do not bother to stock winter
    =realm.resources
    =realm.winter_adjectives
    in your personal
    =realm.external
    because you will not
    =realm.consume
    them
  %li
    go out to get summer
    =realm.resources
    =realm.summer_adjectives
    whenever you feel
    =realm.empty
  %li
    only
    =realm.produce
    if you have enough
    =realm.internal
