%h3 Historical Summer
%p
  Summer was a time of long days and short nights and warm weather.
  People could go out and
  =realm.consume
  summer
  =realm.resources
  and never have to stay home unless they were sick or injured. And they could
  =realm.produce
  as much and as long as they wanted, until they were pleasantly worn out and ready for bed.
%p
  They neither needed, nor missed, their excess winter
  =realm.internal
  or their old familiar winter
  =realm.resources.punctuate
%h3 Present Day Summer
%p
  =render "mbti", :mbti => "E#{realm.mbti}P", :punctuate => "s"
  %em know
  there are always new and interesting
  =realm.resources
  out there. And they
  %em want
  to go out and
  =realm.produce
  with only a short break in the middle of the day when they need a siesta.
%p
  Fortunately for them, in this day and age, summer is, to all intents and purposes, eternal. There really
  %em are
  new and interesting
  =realm.resources
  out there. And they
  %em can
  =realm.produce
  whenever they want.
  So excess
  =realm.internal
  really
  =realm.internal.uncountable? ? "is" : "are"
  unnecessary and unwanted.
%p
  They do not have to fear running out of
  =realm.internal
  and dying of
  =realm.death.punctuate(",")
  because they can always go out and get new and interesting
  =realm.resources
  whenever they feel
  =realm.empty.punctuate
  And, in the rare cases where
  =realm.resources
  are less abundant, and they are in any real danger of running out of
  =realm.internal.punctuate(",")
  they can easily stop
  =realm.produce.ing
  for a while. They don’t
  %em have
  to
  =realm.produce
  so much, after all. They just
  %em want
  to.
