=subtype.description.pluralize
are not so far from average and when they get constant signals to
=subtype.consume
the “normal”
=subtype.realm.average_unit
they usually do. Sometimes they even
=subtype.consume
=subtype.previous.amount_units.punctuate
They are usually fairly proud of themselves for managing to
=subtype.consume
so much, but they are
%em always
stressed.
%p
  Since they assume the stress is caused by
  =subtype.consume.ing
  =subtype.number.word
  =subtype.units
  (which is not normal)
  instead of
  =subtype.consume.ing
  =subtype.realm.average_unit
  (which is normal)
  they are always trying to reduce their stress by
  =subtype.consume.ing
  fewer
  =subtype.unit.pluralize
  which never actually works to reduce their stress, although it does keep them from becoming too
  =subtype.full.punctuate
%p
  They will find life much easier if they only
  =subtype.consume
  =subtype.amount_units
  most of the time, or even
  =subtype.next.amount_units
  when they are especially stressed and stop trying to
  =subtype.consume
  fewer
  =subtype.units.punctuate
