%p
  =subtype.description.pluralize
  get constant signals to
  =subtype.get
  =subtype.normal_chunks.punctuate
  Although not impossible, it is difficult to consistently
  =subtype.use
  only
  =subtype.too_few.word
  =subtype.energy.pluralize
  every day.
  They become
  =subtype.empty
  so slowly that they do not stop
  =subtype.react.ing
  that they have to
  =subtype.produce
  or refuse to
  =subtype.react_normally("any")
  at all, so the signals continue.
%p
  Most
  =subtype.description.pluralize
  constantly struggle with being too
  =subtype.empty.punctuate
  Since they assume the problem is that they
  =subtype.get
  =subtype.size_chunks
  (which is not normal)
  instead of
  =subtype.get.ing
  =subtype.normal_chunks
  (which is normal)
  they are always trying to force themselves to
  =subtype.get
  more
  =subtype.energy.pluralize
  per
  =subtype.chunk
  than is comfortable.
%p
  Although this works, they would be happier if rather than
  =subtype.get.ing
  =subtype.median_energy_chunks
  they
  =subtype.get.ed
  only
  =subtype.size_chunks
  — and
  =subtype.next.size_chunks
  when they are too
  =subtype.empty
  — and
  allowed themselves as many
  =subtype.chunks
  as they can handle.
