%p
  =subtype.description.pluralize
  find it difficult, but by no means impossible, to
  =subtype.get
  only three
  =subtype.chunks
  per day.
  Since they
  %em can
  be “normal”, most adult
  =subtype.description.pluralize
  =subtype.act_normally
  and eschew the
  =subtype.natural_chunks
  that would be natural for them.
%p
  They are always too
  =subtype.empty
  as it is impossible to go against nature
  %em all of the time
  and so they often
  =subtype.get
  only
  =subtype.size_chunks
  but still try to
  =subtype.react_normally("the normal").punctuate
  In other words, they become
  =subtype.empty.er
  whenever they are not actively paying attention to the
  =subtype.adjective
  realm by either deliberately
  =subtype.get.ing
  =subtype.median_size_energy_chunks
  (which they find stressful)
  or
  =subtype.react_normally("fewer than").ing.punctuate
%p
  Hypomania is sustainable, although irritable,
  as they know it’s their own fault that they do not have enough
  =subtype.energies
  and since they do not want to die of
  =subtype.death
  they increase to
  =subtype.previous.size
  and may even attempt
  =subtype.previous.previous.size
  =subtype.energies.punctuate
  As they cannot
  =subtype.get
  =subtype.previous.previous.size
  =subtype.energy_chunks
  for long, severe manias do not last long no matter how many
  %em=subtype.react("more").punctuate("!")
  signals they get, as they eventually run out of
  =subtype.energies.punctuate
  They are very sensitive to signals that they are
  =subtype.get.ing
  “too many”
  =subtype.chunks
  and their
  =subtype.adjective
  depression tends to last for a long time as they are unwilling to
  =subtype.get
  even four
  =subtype.chunks
  let alone six!
  If their manias do not recur too frequently, they can become
  =subtype.full.er
  after every manic attack, which allows them to maintain their subsequent manias less irritably and with shorter and milder depressions afterward.
  Nevertheless, constant stress carries many health risks, and they should make an effort to ignore the
  %em=subtype.react("more").punctuate("!")
  signals they receive from their environment.
  They will be much happier if they learn to ignore the signals to
  =subtype.get
  only three
  =subtype.chunks
  a day, stop stressing themselves out by
  =subtype.get.ing
  =subtype.previous.size_chunks.punctuate(",")
  =subtype.get
  six
  =subtype.size_chunks
  if they need to be
  =subtype.full.er.punctuate(",")
  and
  =subtype.act_naturally
  on a regular basis.
