%h3 Historical Winter
%p
  Winter was a time of short days and long nights and cold weather.
  People could
  =realm.produce
  as little as they wanted, because there weren’t many opportunies to
  =realm.produce.punctuate(",")
  and someone else in the household was usually bored and willing to
  =realm.produce
  for them when those few opportunities arose.
  Since they could not go out and
  =realm.consume
  summer
  =realm.resources
  they learned how to make the best of the
  winter
  =realm.resources
  they had.
%p
  They both needed, and relied on, their old familiar winter
  =realm.resources
  and their
  =realm.internal.punctuate(",")
  both of which they maintained and hoarded zealously whenever they dipped too low. The less they had, the less they tried to
  =realm.produce.punctuate
  If they ran out, after all, they would die of
  =realm.death
  before spring arrived.
%h3 Present Day Winter
%p
  =render "mbti", :mbti => "I#{realm.mbti}J", :punctuate => "s"
  %em know
  their
  =realm.organ.pluralize
  are aching so they stop
  =realm.consume.ing
  =realm.resources.punctuate
  And they
  %em can’t
  go out and
  =realm.produce
  when they feel too
  =realm.empty.punctuate
  They just shut down, and find somewhere safe to hole up and hide — preferably somewhere filled with safe and familiar winter
  =realm.resources
  but anywhere that they do not have to
  =realm.produce
  — in order to preserve their last remaining shreds of
  =realm.internal
  so they do not die of
  =realm.death.punctuate
%p
  Fortunately for them, in this day and age, winter is, to all intents and purposes, eternal. There really
  %em are
  too many summer
  =realm.resources
  out there for any one person to
  =realm.consume
  without their
  =realm.organ
  exploding. And they don’t
  %em have
  to
  =realm.produce
  all day long.
  So staying home to
  =realm.consume
  as many winter
  =realm.resources
  as they need to
  =realm.consume
  — before they run out of
  =realm.internal
  entirely — really is possible.
%p
  They do not have to fear excess
  =realm.internal
  because they always stop
  =realm.consume.ing
  =realm.resources
  whenever their
  =realm.organ
  starts to ache, even winter
  =realm.resources.punctuate
  And, in the rare cases where winter
  =realm.resources
  are too energizing, they can easily go out and
  =realm.produce.punctuate
  They don’t
  %em have
  to stay home and not
  =realm.produce.punctuate(",")
  after all. They just don’t
  %em want
  to go out and
  =realm.produce
  any more than they already do. Because
  =realm.produce.ing
  more means they have to
  =realm.consume
  more
  =realm.resources.punctuate
  And
  =realm.consume.ing
  more
  =realm.resources
  makes their
  =realm.organ
  ache.
