%h3
  =realm.description
  Winter
%ol
  %li
    =realm.produce
    as little as you can, especially when you are out and in public
  %li
    stock winter
    (long-lasting, indestructible, timeless)
    =realm.resources
    in your personal
    =realm.external
  %li
    go out to get spring
    (fresh, new, interesting)
    =realm.resources
    only when you are already feeling
    =realm.realm + "ly"
    strong
  %li
    if they do not make your
    =realm.organ
    ache, then stock them for later
  %li
    yes, you really are at risk of dying from
    =realm.death
    but going out where you have to
    =realm.produce
    will only hasten the process; stay home until you’ve recovered a little
    =realm.internal
