%h3
  =realm.description
  Winter
%ol
  %li
    stock as many safe
    =realm.resources
    =realm.winter_adjectives
    in your personal
    =realm.external
    as you can
  %li
    =realm.consume
    =realm.resources
    from your personal
    =realm.external
    when you feel
    =realm.empty
    or if you cannot wake up
  %li
    do not try to
    =realm.produce
    unless you feel strong enough to
    =realm.consume
    stressful
    =realm.resources
    =realm.summer_adjectives
  %li
    =realm.consume
    =realm.resources
    in the morning and and evening and
    =realm.produce
    in the afternoon
