- content_for(:title, 'Advice')
%table.center
  -Quad.all.in_groups_of(6).each do |row|
    %tr
      -row.each do |quad|
        %td
          =link_to quad.mbti.upcase, type_path(quad.path)
          %ul
            -quad.subtypes.each do |subtype|
              %li=subtype.advice
