- content_for(:title, 'Appendix')
%p
  The following are some sample drugs and activities — in no particular order and of various efficacy and purity.
%h2 General Stimulants
%ul
  %li caffeine
  %li nicotine
%h2 General Sedatives
%ul
  %li alcohol
  %li sleeping pills
  %li benzodiazepines
  %li anticonvulsants
%h2 Dopamine Stimulants
%ul
  %li sugar
  %li cocaine
  %li gambling
  %li amphetamines
  %li video games
%h2 Dopamine Sedatives
%ul
  %li antipsychotics
%h2 Serotonin Stimulans
%ul
  %li SSRIs
  %li carbohydrates
  %li 5-HTP
%h2 Serotonin Sedatives
%ul
  %li antihistamines
%h2 Norepinephrine Stimulants
%ul
  %li danger
  %li loud noises and bright lights
  %li desipramine
  %li epinephrine
  %li buproprion
%h2 Norepinephrine Sedatives
%ul
  %li dim lights and soft music
  %li steroids
  %li beta blockers
%h2 Oxytocin Stimulants
%ul
  %li giving birth
  %li breastfeeding
  %li hugs and kisses
  %li orgasm
  %li warm baths
  %li massages
  %li eye contact
%h2 Oxytocin Sedatives
%ul
  %li solitude
%h2 Hybrids
%p
  Lithium decreases norepinephrine and increases serotonin
