- content_for(:title, t(:title))
%h2 Depressed (or on sedatives)
%p
  Neurotransmitter levels are abnormally low. Natural behaviors associated with high neurotransmitter levels are absent. The only behaviors associated with high neurotransmitter levels that remain are those behaviors that have been learned.
%h2 Extrovert (EP)
%p
  Naturally low neurotransmitter levels.  Have been taught many behaviors associated with high neurotransmitter levels. Such behaviors may be prized — if they are rewarded for them — or they may be a burden — if they are punished for 
  %em not
  producing them — but they are neither natural nor instinctive. They themselves self-identify with their low-level behaviors, but people who do not know them well may assume that their learned high-level behaviors are innate.
%p
  When manic (or on stimulants) their behavior changes very little. Although they find it easier to produce their learned high-level behaviors, they do not stop producing their low-level behaviors. 
%p
  When depressed (or on sedatives) their behavior changes very little. Although they find it more difficult to produce their learned high-level behaviors, they do not stop as long as they are still being rewarded for producing them or punished for not producing them. 
%h2 Introverted Extrovert (IP)
%p
  Moderately low neurotransmitter levels. Produce behaviors associated with both high and low neurotransmitter levels at various times, but they self-identify with their high level behaviors, because those are the ones they 
  %em notice
  as they are less frequent (one notices the foreground because it stands out from the background, even though the background is much larger and more pervasive).
%p 
  Mania is initially euphoric as they perform their prized high-level behaviors more easily and more often, but they eventually realize what everyone else has already noticed: that there is something really wrong with them and that they are acting “out of character” because they are no longer performing their more typical and pervasive low-level behaviors. 
%p
  Depression is initially invisible, but the fact that it never ends is stressful and injurious to their self-image as they no longer perform their prized high-level behaviors and they must either learn how to compensate by performing those behaviors for external rewards or lack of punishment even when they don't “feel” like it (as EPs do) or just wait it out and hope it doesn't last too long.
%h2 Extroverted Introvert (EJ)
%p
  Moderately high neurotransmitter levels. Produce behaviors associated with both high and low neurotransmitter levels at various times, but they self-identify with their low level behaviors, because those are the ones they 
  %em notice
  as they are less frequent and stand out more. 
%p 
  Depression is initially euphoric as they perform their prized low-level behaviors more often, but they eventually realize what everyone else has already noticed: that there is something really wrong with them and that they are acting “out of character” because they are no longer performing their more typical and pervasive high-level behaviors. 
%p
  Mania is initially invisible, but the fact that it never ends is stressful and injurious to their self-image as they no longer perform their prized low-level behaviors and they must either learn how to compensate by performing those behaviors for external rewards or lack of punishment even when they don't “feel” like it (as IJs do) or just wait it out and hope it doesn't last too long.
%h2 Introvert (IJ)
%p
  Naturally high neurotransmitter levels.  Have been taught many behaviors associated with low neurotransmitter levels. Such behaviors may be prized — if they are rewarded for them — or they may be a burden — if they are punished for 
  %em not
  producing them — but they are neither natural nor instinctive. They themselves self-identify with their high-level behaviors, but people who do not know them well may assume that their learned low-level behaviors are innate.
%p
  When depressed (or on sedatives) their behavior changes very little. Although they find it easier to produce their learned low-level behaviors, they do not stop producing their high-level behaviors. 
%p
  When manic (or on stimulants) their behavior changes very little. Although they find it more difficult to produce their learned low-level behaviors, they do not stop as long as they are still being rewarded for producing them or punished for not producing them. 
%h2 Manic (or on stimulants)
%p
  Neurotransmitter levels are abnormally high. Natural behaviors associated with low neurotransmitter levels are absent. The only behaviors associated with low neurotransmitter levels that remain are those behaviors that have been learned.
%p=I18n.with_locale(@next) {link_to t(:title), type_path(@next)}
