- content_for(:title, @attitude.name_with_mbti)
%table.center
  %tr
    -@attitude.subtypes.each do |subtype|
      %td
        =link_to subtype.name_with_mbti, type_path(subtype.path)
        %br
        =render "subtype", :subtype => subtype
