- content_for(:title, 'The 4 Attitudes')
%table
  -Attitude.all.in_groups_of(2) do |row|
    %tr
      -row.each do |attitude|
        %td.half.bordered
          %h2=link_to attitude.name, type_path(attitude.path)
          -attitude.subtypes.each do |subtype|
            =render "attitude/#{subtype.domainer}", :subtype => subtype
