- content_for(:title, @attitude.name_with_mbti)
%table.center
  -@attitude.behaviors.in_groups_of(2).each do |row|
    %tr
      -row.each do |behavior|
        %td.quarter.behavior=render "behavior", :behavior => behavior
