- content_for(:title, 'The 4 Attitudes')
%table
  %tr
    %td.narrow &nbsp;
    %td.bordered{:colspan => 3}=render "square", :subtypes => Attitude.first.subtypes, :caption => Attitude.first
    %td.narrow &nbsp;
  %tr
    %td.bordered{:colspan => 3} &nbsp;
    %td.halfish.bordered{:colspan => 2, :rowspan => 2}=render "square", :subtypes => Attitude.second.subtypes, :caption => Attitude.second
  %tr
    %td.halfish.bordered{:colspan => 2, :rowspan => 2}=render "square", :subtypes => Attitude.third.subtypes, :caption => Attitude.third
    %td.narrow &nbsp;
  %tr
    %td.bordered{:colspan => 3} &nbsp;
  %tr
    %td
    %td.bordered{:colspan => 3}=render "square", :subtypes => Attitude.fourth.subtypes, :caption => Attitude.fourth
    %td
=render "footnote", :letters => Attitude.all, :domains => Attitude.all.map(&:domain)
