- content_for(:title, @attitude.name_with_mbti)
=link_to_unless_current @attitude.name_with_mbti, type_path(@attitude.path)
%br
=@attitude.description
%br
=@attitude.trumps
%h2 Sensitivities
%table.center
  -@attitude.quas.in_groups_of(2).each do |row|
    %tr
      -row.each do |qua|
        %td.half=link_to qua.name_with_mbti, type_path(qua.path)
%h2 Subtypes
=render "subtypes", :subtypes => @attitude.subtypes.in_groups_of(2)
