- content_for(:title, 'The Four Attitudes')
%table
  %caption
    %h2 Euthymia
  -Attitude.all.values_at(0,1,3,2).in_groups_of(2).each do |row|
    %tr
      -row.each do |attitude|
        %td.half
          %h2=link_to attitude.name, type_path(attitude.path)
          -%w{hate dislike like love}.in_groups_of(2).each do |group|
            %ul
              -group.each do |method|
                %li=attitude.send(method).ing.prefix(method + "s ")
          %p.center=attitude.result
%table
  %caption
    %h2 Bipolar States
  -Attitude.all.values_at(0,1,3,2).in_groups_of(2).each do |row|
    %tr
      -row.each do |attitude|
        %td.half
          %h2=attitude.name
          %ul
            %li=attitude.mania
            %li=attitude.depression
          %p.center=attitude.cycle_result