- content_for(:title, @attitude.description_with_mbti)
%p
  =@attitude.description.pluralize
  use
  =@attitude.generic_chunks
  to get the three chunks they require.
-@attitude.subtypes.each do |subtype|
  %h2=subtype.description_with_mbti
  %p
    =render "subtype", :subtype => subtype
    A “normal” adult
    =subtype.act_normally.s.punctuate
    =render subtype.attitude.adjective, :subtype => subtype
