- content_for(:title, @attitude.description_with_mbti)
%p
  A stable generic
  =@attitude.description
  needs
  =@attitude.short
  =@attitude.units
  to get the three required units.
-@attitude.subtypes.each do |subtype|
  %h2=subtype.description_with_mbti
  %p
    =render "subtype", :subtype => subtype
    An average adult
    =subtype.realm.short.s.punctuate
    =render subtype.attitude.adjective, :subtype => subtype
