- content_for(:title, 'The 4 Attitudes')
%table.none
  %tr
    %td.third.none
    %td.third.none=render "square", :subtypes => Attitude.eXe.subtypes, :caption => Attitude.eXe
    %td.third.none
  %tr
    %td.third.none=render "square", :subtypes => Attitude.eXi.subtypes, :caption => Attitude.eXi
    %td.third.none
    %td.third.none=render "square", :subtypes => Attitude.iXe.subtypes, :caption => Attitude.iXe
  %tr
    %td.third.none
    %td.third.none=render "square", :subtypes => Attitude.iXi.subtypes, :caption => Attitude.iXi
    %td.third.none

