- content_for(:title, 'The 4 Attitudes')
-@some = true
%table
  -Attitude.all.in_groups_of(2) do |row|
    %tr
      -row.each do |attitude|
        %td.half.bordered
          %h2=link_to attitude.name, type_path(attitude.path)
          =render "square", :subtypes => attitude.subtypes
=render "footnote"
