- content_for(:title, 'Bipolar')
%p
  Mania — an increase in neurotransmitter levels — is always associated with a decreased ability to sleep, but the other symptoms which manifest depend on whether you embrace, or fight against, the increase. The inevitable depression — a decrease in neurotransmitter levels — is always associated with an increased ability to sleep — but the other symptoms which manifest depend on whether you embrace, or fight against, the decrease.
%p
  Complicating the matter, everyone uses legal (and sometimes illegal) drugs and activities to stimulate or sedate their neurotransmitters without realizing it, and these drugs and activities may aggravate or alleviate the mania or depression.
%p
  Further complicating the issue, few drugs or activities affect only one system in the brain, and your receptors can and will downregulate or upregulate in order maintain the status quo — even if that status is abnormal for you.
=render "bipolar", :subtypes => 4.times.collect{|t| "behave"}
=link_to "BipolarTypes", type_path("bipolartypes")
