- content_for(:title, 'Mania and Depression')
%table
  %tr
    %td.half
      %h2 Mania
      %p
        Mania is the perception that resources are abundant, but things for production are vanishing:
        You have to produce it now! Before it’s too late! Don’t stop producing to consume! You can consume tomorrow! You must produce now!
      %p
        Unfortunately, mania is only concerned with the fact that the opportunity is vanishing, not whether the opportunity is inherently desirable:
        it
        %em assumes
        that tomorrow you will wish you had produced it, while the opportunity was still available.
      %p
        You only know it was mania — and not rational production during a limited window of opportunity — when you wake up in the morning and not only is the opportunity still there, you regret producing because now you have to consume something to regain the energy you used up during production.
    %td.half
      %h2 Depression
      %p
        Depression is the perception that things for production are abundant, but resources are vanishing:
        You have to consume it now! Before it’s too late! Don’t stop consuming to produce! You can produce tomorrow! You must consume now!
      %p
        Unfortunately, depression is only concerned with the fact that the resource is vanishing, not whether the resource is inherently desirable:
        it
        %em assumes
        that tomorrow you will wish you had consumed it, while the resource was still available.
      %p
        You only know it was depression — and not rational consumption of a scarce resource — when you wake up in the morning and not only is the resource still there, you regret consuming because now you have to produce something to use up the energy you gained during consumption.
  -Realm.all.each do |realm|
    %tr
      %td.half=render "mania", :realm => realm
      %td.half=render "depression", :realm => realm
