- content_for(:title, 'BipolarTypes')
%h2 The Four Realms
%table.center
  -Realm.all.in_groups_of(2).each do |row|
    %tr
      -row.each do |realm|
        %td
          =link_to realm.short_with_mbti, type_path(realm.letter)
%h2 The Four Attitudes
%table.center
  -Attitude.all.in_groups_of(2).each do |row|
    %tr
      -row.each do |attitude|
        %td
          =link_to attitude.short_with_mbti, type_path(attitude.letter)
%h2 The Sixteen States
%table.center
  -State.all.in_groups_of(4).each do |row|
    %tr
      -row.each do |state|
        %td
          =link_to state.short_with_mbti, discover_path("Q2_#{state.letters}")
%h2 The Twenty Four Bipolar Types
%table.center
  %tr
  -Type.all.in_groups_of(6).each do |row|
    %tr
      -row.each do |type|
        %td
          =link_to type.short_with_mbti, type_path(type.path)
