- content_for(:title, t(:title))
%p
  BipolarType asserts that everyone has an attitude in each of the four behavioral realms which depends upon their relative neurotransmitter levels (although they may or may not be four 
  %em different
  attitudes) and thus has four subtypes which makes up their BipolarType. For example, my BipolarType is ESTP-ISFP-ENTJ-INFJ.
%h2 BipolarType vs the MBTI
%p
  Your MBTI&reg; true type may or not be one of your four BipolarType subtypes. For example I currently self-identify as an MBTI
  =render "mbti", :mbti => "ISFP"
  under normal circumstances and an
  =render "mbti", :mbti => "INTJ"
  when manic.