- content_for(:title, 'The Four Bipolar States')
%table
  %tr
    %th
    %th Energy
    %th Strength
  %tr
    %th.middle Mania
    %td
      %ul
        %li consume fewer energizers
        %li use more potential energy
        %li produce more energetically
      %p.center lose potential energy
    %td
      %ul
        %li produce more strongly
        %li consume more strengtheners
        %li build new strengths
      %p.center build new strengths
  %tr
    %th.middle Depression
    %td
      %ul
        %li consume more energizers
        %li use less potential energy
        %li produce less energetically
      %p.center gain potential energy
    %td
      %ul
        %li produce less strongly
        %li consume fewer strengtheners
        %li repair essential strengths
      %p.center unused strengths atrophy