- content_for(:title, 'The 16 Subtypes')

%table
  %tr
    %th.narrow
      Realm →
      %br
      Attitude ↓
      =link_to "transpose", type_path("subtypes")
    -Realm.all.each do |realm|
      %th.quarter=realm.name
  -Attitude.all.each do |attitude|
    %tr
      %th.name=attitude.name
      -attitude.subtypes.each do |subtype|
        %td.top=render "subtype", subtype: subtype
