- content_for(:title, 'Depression')
%p
  Depression, whether triggered by organic causes, sedatives, or an illness, decreases the levels of
  %em all
  your neurotransmitters.
%h2 IP: addiction
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %p
      -unless t(:mbti).blank?
        ="I#{t(:mbti)}P:"
      Their addiction to
      =t :consuming
      =t :external_sources
      becomes worse and they become more and more
      =t :overfull
%h2 EP: severe depression
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %p
      -unless t(:mbti).blank?
        ="E#{t(:mbti)}P:"
      They keep trying to
      =t :produce
      more but it’s no longer enough, and they slowly become
      =t :overfull
%h2 EJ: mild depression
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %p
      -unless t(:mbti).blank?
        ="E#{t(:mbti)}J:"
      They can
      =t :consume
      more
      =t :external_sources
      without feeling
      =t :bad
      but they may go too far and become
      =t :overfull
%h2 IJ: invisible depression
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %p
      -unless t(:mbti).blank?
        ="I#{t(:mbti)}J:"
      They can
      =t :consume
      =t :external_sources
      without feeling
      =t :bad
      and everyone rejoices
%p=link_to "Rapid Cycling", type_path("rapid")
