- content_for(:title, 'Depression')
%p
  Depression, whether triggered by organic causes, sedatives, or an illness, decreases the levels of
  %em all
  your neurotransmitters.
%h2 IP: addiction
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    -unless t(:mbti).blank?
      %h3
        ="I#{t(:mbti)}P:"
        =t :name
        addiction
    %p
      Their addiction to
      =t :external_sources
      becomes worse and they become more and more
      =t :overfull
%h2 EP: agitated depression
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    -unless t(:mbti).blank?
      %h3
        ="E#{t(:mbti)}P:"
        =t :name
        agitated depression
    %p
      They keep trying to
      =t :produce
      more but it’s no longer enough, and they slowly become
      =t :overfull
%h2 EJ: lethargic depression
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    -unless t(:mbti).blank?
      %h3
        ="E#{t(:mbti)}J:"
        =t :name
        lethargic depression
    %p
      They don’t have to
      =t :produce
      as long before they can
      =t :consume
      =t :external_sources
      but they may go too far and stop
      =t :producing
      altogether
%h2 IJ: invisible depression
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    -unless t(:mbti).blank?
      %h3
        ="I#{t(:mbti)}J:"
        =t :name
        invisible depression
    %p
      They can
      =t :consume
      =t :external_sources
      without feeling
      =t :bad
      and everyone rejoices
%p=link_to "Rapid Cycling", type_path("rapid")
