- content_for(:title, 'Mania')
%p
  Mania, whether triggered by organic causes, stimulants, or an emergency, increases the levels of
  %em all
  your neurotransmitters.
%h2 IP: invisible mania
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    -unless t(:mbti).blank?
      %h3
        ="I#{t(:mbti)}P:"
        =t :name
        invisible mania
    %p
      Their addiction to
      =t :external_sources
      dries up and everyone rejoices as they become less
      =t :overfull
%h2 EP: euphoric mania
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    -unless t(:mbti).blank?
      %h3
        ="E#{t(:mbti)}P:"
        =t :name
        euphoric mania
    %p
      They may become so euphoric at the thought of finally being
      =t(:agile)
      that they 
      =t(:consume).split.first
      even less, 
      =t :produce
      even more, and
      =t :run_out
%h2 EJ: irritable mania
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    -unless t(:mbti).blank?
      %h3
        ="E#{t(:mbti)}J:"
        =t :name
        irritable mania
    %p
      They keep trying to
      =t :produce
      longer but they just continue to feel
      =t :bad
%h2 IJ: suicidal “depression”
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    -unless t(:mbti).blank?
      %h3
        ="I#{t(:mbti)}J:"
        =t :name
        suicidal “depression”
    %p
      They feel so
      =t :bad
      they may choose a less painful death.
%p=link_to "Depression", type_path("depression")
