- content_for(:title, 'Mania')
%p
  Mania, whether triggered by organic causes, stimulants, or an emergency, increases the levels of
  %em all
  your neurotransmitters.
%h2 IP: invisible mania
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %p
      -unless t(:mbti).blank?
        ="I#{t(:mbti)}P:"
      Their addiction to
      =t :consuming
      =t :external_sources
      dries up and everyone rejoices as they become less
      =t :overfull
%h2 EP: severe mania
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %p
      -unless t(:mbti).blank?
        ="E#{t(:mbti)}P:"
      They may become so euphoric at the thought of finally becoming
      =t(:good)
      that they
      =t(:consume).split.first
      even less,
      =t :produce
      even more, and
      =t :run_out
%h2 EJ: mixed states
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %p
      -unless t(:mbti).blank?
        ="E#{t(:mbti)}J:"
      They keep trying to
      =t(:consume).split.first
      more but they just feel
      =t :worse
      so they try to 
      =t :produce
      less and feel lazy
%h2 IJ: suicidal “depression”
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %p
      -unless t(:mbti).blank?
        ="I#{t(:mbti)}J:"
      They feel so
      =t :bad
      they stop
      =t :consuming
      =t :external_sources
      entirely and if other people try to force them to do so — because they are about to
      =t :run_out
      — they may choose a less painful death.
%p=link_to "Depression", type_path("depression")
