- content_for(:title, 'Mania')
%p
  Mania, whether triggered by drugs or by consuming too many external resources too fast, increases the levels of your neurotransmitters; you will stop consuming and produce more and more until the neurotransmitters return to normal. 
%h2 IP invisible mania
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %p
      ="I#{t(:mbti)}P:" unless t(:mbti).blank?
      When they are manic they find it easier to
      =t :produce
      and they may even feel
      =t :bad
      for the first time in their life if they aren't currently restricting how many
      =t :externals
      they 
      =t :consume
      but will learn quickly which types of
      =t :externals
      to avoid.  
      They are in no danger of
      =t :running_out
      because although they are
      =t :consuming
      fewer
      =t :externals
      they are still
      =t :consuming
      plenty and although they are
      =t :producing
      more they are still relatively unmotivated; their
      =t :neurotransmitter
      levels are higher, but still low.
%h2 EP recurrent mania
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %p
      ="E#{t(:mbti)}P:" unless t(:mbti).blank?
      When they are manic they find it easier to
      =t :produce
      and they will feel
      =t :bad
      for the first time in their life if they 
      =t :consume
      as many
      =t :externals
      as they normally do out of habit.
      They are in severe danger of
      =t :running_out
      if they stop
      =t :consuming
      =t :externals
      because they feel so
      =t(:bad).punctuate
      On the other hand, the shock of
      =t :running_out
      will get them to start
      =t :consuming
      =t :externals
      again even though they feel
      =t :bad
      so they won't
      =t :run_out
      more than a few times before they start
      =t :consuming
      =t :externals
      even when they feel
      =t(:bad)
      which will inevitably trigger another mania. 
%h2 EJ severe mania
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %p
      ="E#{t(:mbti)}J:" unless t(:mbti).blank?
      They have felt
      =t :bad
      before, but when they are manic they will suffer from
      =t :something_worse
      for the first time in their life if they 
      =t :consume
      as many
      =t :externals
      as they normally do out of habit.
      They won't be able to start
      =t :consuming
      =t :externals
      again because they feel so
      =t(:bad).punctuate
      They will
      =t :run_out
      over and over. As this is completely out of character for them, they will probably get treatment for the
      =t(:something_worse)
      before they die from
      =t :running_out
      so many times.
%h2 IJ acute mania
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %p
      ="I#{t(:mbti)}J:" unless t(:mbti).blank?
      Their mania is initially invisible because they can’t
      =t :produce
      much more than they already do, or
      =t :consume
      many fewer
      =t :externals
      as their
      =t :neurotransmitter
      levels are already maxed out.
      They suffer from
      =t :something_worse
      but they always feel
      =t :bad
      so it’s only an increase in quantity not quality and they may not seek treatment until it’s too late and they
      =t :run_out
      so often they die.
%p=link_to "Depression", type_path("depression")
