- content_for(:title, 'Mania')
%p
  Mania, whether triggered by organic causes, stimulants, or an emergency, increases the levels of
  %em all
  your neurotransmitters.
%h2 IP: invisible mania
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %p
      -unless t(:mbti).blank?
        ="I#{t(:mbti)}P:"
      Their addiction to
      =t :consuming
      =t :external_sources
      dries up and everyone rejoices as they become less
      =t :overfull
%h2 EP: euphoric mania
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %p
      -unless t(:mbti).blank?
        ="E#{t(:mbti)}P:"
      They may become so euphoric at the thought of finally becoming
      =t(:good)
      that they
      =t(:consume).split.first
      even less,
      =t :produce
      even more, don’t have
      =t :enough_storage
      and
      =t :run_out
      and have to stop
      =t :producing
%h2 EJ: hypomania
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %p
      -unless t(:mbti).blank?
        ="E#{t(:mbti)}J:"
      At first they try to
      =t(:consume)
      the same
      =t :external_sources
      they always have, but they feel
      =t :bad
      so they try to find better
      =t :external_sources
      and feel
      =t :worse
      so they
      =t :consume
      fewer
      =t :external_sources
      and
      =t :produce
      less
%h2 IJ: fatal mania
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %p
      -unless t(:mbti).blank?
        ="I#{t(:mbti)}J:"
      They feel so
      =t :bad
      they stop
      =t :consuming
      any
      =t :external_sources
      and
      =t :run_out
      — fatally.
%p=link_to "Depression", type_path("depression")
