- content_for(:title, @nature.mbti)
%h2 Subtypes
=render "subtypes", :subtypes => @nature.subtypes.in_groups_of(2)
%h2 Behaviors
=render "behaviors", :behaviors => @nature.behaviors.in_groups_of(2)
%h2 BipolarTypes
%dl
  -@nature.types.each do |type|
    %dt=link_to type.name, type_path(type.path)
    %dd
      =type.trumps
      =type.mbtis.join("-").parenthetical
