-content_for(:title, 'Comparisons')
%table
  %caption Numbers are for illustrative purposes only.
  %tr
  -Realm.all.each do |realm|
    %tr
      -%w{mania equilibrium depression}.each do |state|
        %td
          %h3==#{realm.name} #{state.capitalize}
          %p=render state, :subtype => realm.generic_subtype
