-content_for(:title, 'Numbers')
%table
  %tr
  -Realm.all.each do |realm|
    %tr
      %td
        %h3==#{realm.name} Mania
        %p=render "mania", :subtype => realm.subtypes.first
      %td
        =render "equilibrium", :subtype => realm.subtypes.first
      %td
        %h3==#{realm.name} Depression
        %p=render "depression", :subtype => realm.subtypes.second
