- content_for(:title, @nurture.mbti + " Nurture")
=render "subtypes", :subtypes => @nurture.ordered_subtypes
%h2 BipolarTypes
%table.center
  -@nurture.types.in_groups_of(3).each do |row|
    %tr
      -row.each do |type|
        %td.third
          -type.sensitivities.each do |sensitivity|
            =sensitivity
            %br
          =link_to type.mbti, type_path(type.path)
