- content_for(:title, 'Overview')
%h2 The Four Realms
%table.center
  -Realm.all.in_groups_of(2).each do |row|
    %tr
      -row.each do |realm|
        %td.half=link_to realm.name_with_mbti, type_path(realm.path)
%h2 The Four Attitudes
%table.center
  -Attitude.matrix_ordered.in_groups_of(2).each do |row|
    %tr
      -row.each do |attitude|
        %td.half=link_to attitude.name_with_mbti, type_path(attitude.path)
%h2 The Sixteen Subtypes
%table.center
  -Subtype.all.in_groups_of(4).each do |row|
    %tr
      -row.each do |subtype|
        %td.quarter
          =subtype.description
          %br
          =link_to subtype.name_with_mbti, type_path(subtype.path)
          %br
          =subtype.alt.parenthetical
%h2 The Twenty-Four Natures
%table.center
  %tr
  -Nature.all.in_groups_of(3).each do |row|
    %tr
      -row.each do |nature|
        %td
          %ul
            -nature.sensitivities.each do |sensitivity|
              %li=sensitivity
          =link_to nature.mbti, type_path(nature.path)
%h2 The Twenty-Four Nurtures
%table.center
  %tr
  -Nurture.all.sort_by{|n| n.stages}.in_groups_of(3).each do |row|
    %tr
      -row.each do |nurture|
        %td
          %ul
            -nurture.stages.each do |stage|
              %li=stage
          =link_to nurture.mbti, type_path(nurture.path)
