- content_for(:title, 'Overview')
%h2 The Four Attitudes
%table.center.narrow
  -Attitude.all.in_groups_of(1).each do |row|
    %tr
      -row.each do |attitude|
        %td
          =link_to attitude.name_with_mbti, type_path(attitude.path)
%h2 The Four Realms
%table
  -Realm.all.in_groups_of(4).each do |row|
    %tr
      -row.each do |realm|
        %td
          =link_to realm.name_with_mbti, type_path(realm.path)
          =render "realm", :realm => realm
%h2 The Sixteen Subtypes
%table.center
  -Subtype.all.in_groups_of(4).each do |row|
    %tr
      -row.each do |subtype|
        %td
          =link_to subtype.name_with_mbti, type_path(subtype.path)
          =render "subtype", :subtype => subtype
%h2 The Twenty-Four BipolarTypes
%table.center
  -Quad.all.in_groups_of(6).each do |row|
    %tr
      -row.each do |quad|
        %td
          =link_to quad.mbti, type_path(quad.path)
          -quad.names.each do |name|
            %br
            =name
