- content_for(:title, 'Overview')
%h2 The Four Realms
%table.center
  -Realm.all.in_groups_of(2).each do |row|
    %tr
      -row.each do |realm|
        %td.half
          =realm.description
          %br
          =link_to realm.name_with_mbti, type_path(realm.path)
%h2 The Four Attitudes
%table.center
  -Attitude.all.in_groups_of(2).each do |row|
    %tr
      -row.each do |attitude|
        %td.half
          =link_to attitude.name_with_mbti, type_path(attitude.path)
%h2 The Sixteen Behaviors
%table.center
  -Behavior.by_realm.in_groups_of(4).each do |row|
    %tr
      -row.each do |behavior|
        %td.fourth
          =behavior.description
          %br
          =behavior.alt.parenthetical
          %br
          =link_to behavior.name_with_mbti, type_path(behavior.path)
%h2 The Twenty-Four BipolarTypes
%table.center
  -Nature.all.in_groups_of(6).each do |row|
    %tr
      -row.each do |nature|
        %td.sixth
          -nature.names.each do |name|
            =name
            %br
          =link_to nature.mbti, type_path(nature.path)
