- content_for(:title, 'Overview')
%h2 The Four Realms
%table.center.half
  -Realm.all.in_groups_of(2).each do |row|
    %tr
      -row.each do |realm|
        %td
          =link_to realm.name_with_mbti, type_path(realm.path)
%h2 The Four Attitudes
%table.center.half
  -Attitude.all.in_groups_of(2).each do |row|
    %tr
      -row.each do |attitude|
        %td
          =link_to attitude.name_with_mbti, type_path(attitude.path)
%h2=link_to "The Sixteen Subtypes", type_path("subtypes")
%table.center.half
  -Subtype.all.in_groups_of(4).each do |row|
    %tr
      -row.each do |subtype|
        %td.quarter
          =subtype.name
          %br
          =link_to subtype.mbti.parenthetical, type_path(subtype.path)
%h2 The Twenty-Four BipolarTypes
%table.center
  -Quad.all.in_groups_of(6).each do |row|
    %tr
      -row.each do |quad|
        %td
          -quad.subtypes.each do |subtype|
            =subtype.name
            %br
          =link_to quad.mbti, type_path(quad.path)
