- content_for(:title, 'Outline')
%h2 The Four Realms
%table.center.half
  -Realm.all.in_groups_of(2) do |row|
    %tr
      -row.each do |realm|
        %td
          =link_to realm.name_with_mbti, type_path(realm.path)
          %br
          =realm.description
%p.heading=link_to "the four realms compared", type_path("realms")
%h2 The Four Attitudes
%table.center.half
  -Attitude.all.in_groups_of(2) do |row|
    %tr
      -row.each do |attitude|
        %td
          =link_to attitude.name_with_mbti, type_path(attitude.path)
          %br
          =attitude.description
%h2 The Sixteen Subtypes
%table.center
  -Subtype.all.in_groups_of(4).each do |row|
    %tr
      -row.each do |subtype|
        %td
          =link_to subtype.name_with_mbti, type_path(subtype.path)
          %br
          =subtype.description
%p.heading=link_to "specifics", type_path("subtypes")
%h2 The Twenty-Four BipolarTypes
%table.center
  -Quad.all.in_groups_of(6).each do |row|
    %tr
      -row.each do |quad|
        %td
          =link_to quad.mbti.upcase, type_path(quad.path)
          -quad.subtypes.each do |subtype|
            %br
            =subtype.name
%p.heading=link_to "advice", type_path("advice")
