- content_for(:title, 'Outline')
%h4 The Four Realms
%dl
  -Realm.all.each do |realm|
    %dt=link_to realm.name, type_path(realm.path)
    %dd=realm.description
%h4 The Four Attitudes
%dl
  -Attitude.all.each do |attitude|
    %dt=link_to attitude.name, type_path(attitude.path)
    %dd=attitude.description
