- content_for(:title, 'Overview')
%h2 The Four Attitudes
%table.center
  -Attitude.all.in_groups_of(2).each do |row|
    %tr
      -row.each do |attitude|
        %td.half=link_to attitude.name_with_mbti, type_path(attitude.path)
%h2 The Four Realms
%table.center
  -Realm.all.in_groups_of(2).each do |row|
    %tr
      -row.each do |realm|
        %td.half=link_to realm.name_with_mbti, type_path(realm.path)
%h2 The Sixteen Behaviors
%table.center
  -Behavior.by_realm.in_groups_of(4).each do |row|
    %tr
      -row.each do |behavior|
        %td.quarter.behavior=render "behavior", :behavior => behavior
%h2 The Forty-Eight Subtypes
%table.center
  -Subtype.all.in_groups_of(6).each do |row|
    %tr
      -row.each do |subtype|
        %td.sixth.subtype=render "subtype", :subtype => subtype
