- content_for(:title, 'Outline')
%h2=link_to "The Four Realms", type_path("realms")
%table.center
  %tr
    -Realm.all.each do |realm|
      %td.quarter.none=link_to realm.name, type_path(realm.path)
%h2=link_to "The Four Attitudes", type_path("attitudes")
%table.center
  -Attitude.all.each do |attitude|
    %tr
      %td.none=link_to attitude.name, type_path(attitude.path)
%h2=link_to "The Sixteen Subtypes", type_path("subtypes")
%table.center
  -Subtype.all.in_groups_of(4).each do |row|
    %tr
      -row.each do |subtype|
        %td.quarter.none=link_to subtype.name, type_path(subtype.path)
