- content_for(:title, 'Overview')
%table
  %tr
    %th.half Energy
    %th.half Strength
  %tr
    %td
      %ul
        %li consume energizers
        %li or use potential energy
        %li to produce energetically
    %td
      %ul
        %li produce strongly
        %li then consume strengtheners
        %li to build or repair strengths
