- content_for(:title, 'Overview')
%p
  “Strive for the serenity to accept the things you cannot change; the courage to change the things you can, and the wisdom to know the difference.”
%p
  You cannot change your nature without drugs. You
  %em can
  change your nurture if it is no longer adaptive to your environment.
%h4 The Four Realms
%p 
  Each realm is concerned with the consumption of resources to obtain energy, and using that energy in order to produce results. 
%dl
  -Realm.all.each do |realm|
    %dt=link_to realm.name, type_path(realm.path)
    %dd=realm.description
%h4 The Four Attitudes
%p
  Your attitude is a combination of your nature: sensitive to resources and unable to consume much without becoming ill (I) or insensitive to resources and able to consume almost anything (E) and your nurture: encouraged to produce less and/or allow others to produce for you (P) or encouraged to produce more and/or produce for others (J).
%dl
  -Attitude.all.each do |attitude|
    %dt=link_to attitude.name, type_path(attitude.path)
    %dd=attitude.description
