- content_for(:title, 'Overview')
%h2 The Four Realms
%p
  Each realm is concerned with the consumption of resources to gain strength and energy, and then using strength and kinetic energy in order to produce results now, or saving the kinetic energy as potential energy in order to produce results later.
-Realm.all.each do |realm|
  %h3
    =realm.description.capitalize.colon
    =link_to realm.name, type_path(realm.path)
  %dl
    %dt gain resources
    %dd=realm.gain_resources
    %dt external resources (strengtheners, energizers, buffered energy)
    %dd
      =realm.strengtheners.comma
      =realm.energizers.comma
      =realm.buffers
    %dt internal resources (strength, kinetic energy, potential energy)
    %dd
      =realm.strengths.comma
      =realm.kinetics.comma
      =realm.potential
    %dt produce results
    %dd=realm.produce
    %dt production examples
    %dd=realm.productions
%h2 The Four Attitudes
%h3 Two Natures
%dl
  %dt relatively sensitive (I)
  %dd unable to consume many unbuffered energizers without rejecting them
  %dt relatively insensitive (E)
  %dd able to consume and store almost all energizers without rejecting them
%h3 Two Nurtures
%dl
  %dt relatively submissive (P)
  %dd nurtured to allow others to continue to produce for you
  %dt relatively dominant (J)
  %dd nurtured to produce for yourself and for others
%h3 Nature plus Nurture
%dl
  -Attitude.all.each do |attitude|
    %dt=link_to attitude.name, type_path(attitude.path)
    %dd=attitude.description
%h2 Mania and Depression
%h3 Mania
%p
  Mania is triggered by stress, stimulants, or a longer day.
%p
  During mania, you become much more sensitive (you consume fewer energizers: you stop consuming energizers sooner or you start rejecting unbuffered energizers). You also become much more dominant (you start producing more: you insist upon producing for yourself and you try to produce for other people).
%p
  You
  %em will
  lose potential energy during a manic episode.
  This makes mania a highly desirable state for those with the
  =Attitude.first.name
  attitude but a complete and utter disaster for those of the
  =Attitude.fourth.name
  attitude. The other two attitudes enjoy producing more but don’t like being unable to consume energizers, but the loss of potential energy is neither desirable nor disastrous.
%h3 Depression
%p
  Depression is triggered by crashing after a manic episode, sedatives, or a longer night.
%p
  During depression, you become much less sensitive (you consume more energizers: you start craving energizers and you are unable to stop consuming buffered energizers). You also become much less dominant (you start producing less: you refuse to produce for others and you find it difficult to produce for yourself).
%p
  You
  %em will
  gain potential energy during a depressive episode.
  This makes depression a highly desirable state for those with the
  =Attitude.fourth.name
  attitude but a complete and utter disaster for those of the
  =Attitude.first.name
  attitude. The other two attitudes enjoy consuming more but don’t like being unable to produce, but the gain of potential energy is neither desirable nor disastrous.
%p
  %b Footnote:
  =Realm.all.join(", ")
  I, E, P, and J are inherited from the MBTI;
  they are not acronyms for any words used in the BipolarType theory.

