- content_for(:title, @pair.name)
%table.center
  %tr
    -@pair.quads.each do |quad|
      %td.quarter
        %p
          I always thought my
          =quad.dominant.location
          was
          %em extremely
          =quad.dominant.nature
        %p
          But I have to admit that it is actually fairly
          =quad.dominant.goal.period
        %p=link_to quad.second_pair_name, type_path(quad.path)
