- content_for(:title, @pair.name)
=render "pair", :pair => @pair
%p
  To a lesser extent you are also…
%table
  %tr
    -@pair.alts.each do |subtype|
      %td.quarter
        %p.heading=subtype.name
        =render @pair.behavior2 + "s", :subtype => subtype, :pairs => subtype.send(@pair.behavior2 + "s") & @pair.possibles
