- content_for(:title, @quad.name)
%h2 Bipolar
%h3 Mania
=render "manias", :subtypes => @quad.subtypes
%h3 Depression
=render "depressions", :subtypes => @quad.subtypes
%h2 Type
=render "subtypes", :subtypes => @quad.subtypes
%h3 Quick links to related BipolarTypes
%ul
  %li=link_to @quad.opposite.name, type_path(@quad.opposite.path)
  %li=link_to @quad.twin.name, type_path(@quad.twin.path)
  %li=link_to @quad.sibling.name, type_path(@quad.sibling.path)
