- content_for(:title, @quad.name)
%table
  %tr
    %td.third
      %h2=@first.name
      =render "subtype", :subtype => @first
    %td.quarter
      %h2 Manic
      %p You consume less but produce more
      %p You convert potential energy to kinetic energy
      %h3 Irritable Mania
      %ul
        %li=@first.potential.prefix "You lose needed "
        %li=@second.potential.prefix "You lose needed "
      %h3 Euphoric Mania
      %ul
        %li=@third.potential.prefix "You lose unwanted "
        %li=@fourth.potential.prefix "You lose unwanted "
    %td.third
      %h2=@second.name
      =render "subtype", :subtype => @second
  %tr
    %td
      %h2 Liberal
      %p You produce more than average
      %p You consume more than average
    %td
      %h2 “Normal”
      %p You produce an average amount
      %p You consume an average amount
    %td
      %h2 Conservative
      %p You produce less than average
      %p You consume less than average
  %tr
    %td
      %h2=@third.name
      =render "subtype", :subtype => @third
    %td
      %h2 Depressed
      %p You consume more but produce less
      %p You convert kinetic energy to potential energy
      %h3 Lethargic Depression
      %ul
        %li=@first.potential.prefix "You gain needed "
        %li=@second.potential.prefix "You gain needed "
      %h3 Agitated Depression
      %ul
        %li=@third.potential.prefix "You gain unwanted "
        %li=@fourth.potential.prefix "You gain unwanted "
    %td
      %h2=@fourth.name
      =render "subtype", :subtype => @fourth
