- content_for(:title, @quad.mbti)
%h2 Cycle
%h3 Sleeping, Resting, Hibernating
%p Night ~11pm-5am, Sunday, January-March
%p
  Be sure all
  =@quad.subtypes.last.smells
  =@quad.subtypes.last.smells.are
  as low as possible if
  =@quad.subtypes.last.smells.they
  cannot be completely eliminated; do not
  =@quad.subtypes.last.eat
  =@quad.subtypes.last.simple_carbs
  unless it is an emergency; do not
  =@quad.subtypes.last.walk
  unless you have plenty of spare
  =@quad.subtypes.last.fat
  and enough
  =@quad.subtypes.last.muscles.punctuate
%p
  You can and should
  =@quad.subtypes.first.walk
  if you feel restless: you have plenty of
  =@quad.subtypes.first.fat
  and won’t need to
  =@quad.subtypes.first.eat.split.first
  more
%h3 Very Insensitive
%p Early Morning ~5am-8am, Monday, April
%p
  Will be waking up/working soon. Extroverts may require caffeine but probably better to just increase the
  =@quad.subtypes.last.smells
  and
  =@quad.subtypes.second.smells
  or stay asleep.
%p
  A great time to
  =@quad.subtypes.last.consume
  as you will not become
  =@quad.subtypes.last.sick.punctuate
  A terrible time to
  =@quad.subtypes.first.consume
  as you will definitely
  =@quad.subtypes.first.eat.split.first
  too much.
%h3 Insensitive
%p
  Morning ~8am-11am, Tuesday, May-June
  %br
  Afternoon ~2pm-5pm, Thursday, August-September
%p
  A good time to
  =@quad.subtypes.last.consume
  as you will probably not become
  =@quad.subtypes.last.sick.punctuate
  A bad time to
  =@quad.subtypes.first.consume
  as you will probably
  =@quad.subtypes.first.eat.split.first
  too much.
%p
  A good time to take a nap if you didn’t sleep enough the night before.
%p
  Your best
  =@quad.subtypes.third.physical
  work time: it’s easier to
  =@quad.subtypes.third.taste
  without becoming
  =@quad.subtypes.third.sick
  and
  =@quad.subtypes.third.eat
  =@quad.subtypes.third.sweet.er
  =@quad.subtypes.third.meals
%h3 Sensitive
%p
  Midday ~11am-2pm, Wednesday, July
  %br
  Evening ~5pm-8pm, Friday, October
%p
  A bad time to
  =@quad.subtypes.last.consume
  as you will probably become
  =@quad.subtypes.last.sick.punctuate
  A good time to
  =@quad.subtypes.first.consume
  as you will probably not
  =@quad.subtypes.first.eat.split.first
  too much.
%p
  Your best
  =@quad.subtypes.second.physical
  work time: it’s easier to
  =@quad.subtypes.second.taste
  and
  =@quad.subtypes.second.eat
  =@quad.subtypes.second.simple_carbs
  and you’ll need
  =@quad.subtypes.second.sweet.fewer
  =@quad.subtypes.second.meals
%h3 Very Sensitive
%p Late Evening ~8pm-11pm, Saturday, November-December
%p
  Will be crashing soon. Introverts may require alcohol but probably better to just lower the
  =@quad.subtypes.last.smells
  and
  =@quad.subtypes.second.smells
  and go to sleep.
%p
  A terrible time to
  =@quad.subtypes.last.consume
  as you will definitely become
  =@quad.subtypes.last.sick.punctuate
  A great time to
  =@quad.subtypes.first.consume
  as you will not
  =@quad.subtypes.first.eat.split.first
  too much.
%h2 Realms
=render "subtypes", :subtypes => @quad.subtypes
