%h2 The Twenty-Four BipolarTypes
%table.center
  -Quad.ordered.in_groups_of(4).each do |row|
    %tr
      -row.each do |quad|
        %td
          =link_to quad.name, type_path(quad.path)
          %ul
            -quad.subtypes.each do |subtype|
              %li=link_to subtype.name, type_path(subtype.path)
