- content_for(:title, "#{@quad.name}")
%table
  %tr
    %td.top{colspan: 2}
      =render "subtype", subtype: @quad.subtypes.second
  %tr
    %td.top.half
      =render "subtype", subtype: @quad.subtypes.first
    %td.top.half
      =render "subtype", subtype: @quad.subtypes.fourth
  %tr
    %td.top{colspan: 2}
      =render "subtype", subtype: @quad.subtypes.third