- content_for(:title, @quad.name)
%p.heading
  Closest MBTI&reg; type:
  =render "mbti", :mbti => @quad.mbti
-@quad.subtypes.each_with_index do |subtype, index|
  %h2=subtype.name
  =render "realm", :realm => subtype.realm
  =render subtype.sensitivity.word, :realm => subtype.realm, :index => index
