- content_for(:title, @quad.name)
%table
  %caption Numbers are for illustrative purposes only.
  -@quad.subtypes.in_groups_of(2) do |row|
    -row.each do |subtype|
      %td.top.quarter=render "subtype", :subtype => subtype
