- content_for(:title, @quad.name)
%p.small.center Numbers are for illustrative purposes only.
%h2 Equilibrium
%table
  -@quad.subtypes.in_groups_of(2) do |row|
    %tr
    -row.each do |subtype|
      %td.top.half
        %h3==#{subtype.name} Equilibrium
        %p.center=subtype.preference.s
        %p=render "equilibrium", :subtype => subtype
        %p
          If they
          =subtype.consume_verb
          a little more one day, they will automatically compensate by
          =subtype.produce.ing
          a little more the next day. If they
          =subtype.consume_verb
          a little less one day, they will automatically compensate by
          =subtype.produce.ing
          a little less the next day.
%h2 Mania
%table
  -@quad.subtypes.in_groups_of(2) do |row|
    %tr
    -row.each do |subtype|
      %td.top.half
        %h3==#{subtype.name} Mania
        %p.center=subtype.preference.s
        %p
          BipolarType defines
          =subtype.realm.identifier
          mania as a state in which one
          =subtype.consume_verb.s
          less but
          =subtype.produce.s
          more.
          Mania is a state of disequilibrium and can be fatal if it continues after all your
          =subtype.potential
          =subtype.potential.are
          used up.
        %p
          Your obvious manic symptom (because it is unusual for you) is that you want to
          =subtype.consumer? ? subtype.produce : subtype.consume_verb
          =subtype.consumer? ? "more." : "less."
          You will try to
          =subtype.consumer? ? subtype.produce : subtype.consume_verb
          =subtype.consumer? ? "less" : "more"
          when you are in danger of running out of
          =subtype.potential
          but may not be able to if the mania is severe.
        %p
          It may be less obvious that you are also
          =subtype.consumer? ? subtype.consume_verb.ing : subtype.produce.ing
          =subtype.consumer? ? "less" : "more"
          and that
          =subtype.consumer? ? subtype.consume_verb.ing : subtype.produce.ing
          =subtype.consumer? ? "more" : "less"
          will also slow the loss of
          =subtype.potential.period
        -unless subtype.insensitive?
          %p=render "mania", :subtype => subtype
%h2 Depression
%table
  -@quad.subtypes.in_groups_of(2) do |row|
    %tr
    -row.each do |subtype|
      %td.top.half
        %h3==#{subtype.name} Depression
        %p.center=subtype.preference.s
        %p
          BipolarType defines
          =subtype.realm.identifier
          depression as a state in which one
          =subtype.consume_verb.s
          more, but
          =subtype.produce.s
          less and thus gains
          =subtype.potential.period
          Depression is a state of disequilibrium and although rarely fatal, having so
          =subtype.potential.many
          unwanted
          =subtype.potential
          can be embarrassing and may even be
          =subtype.realm.identifier.ly
          unhealthy.
        %p
          Because you
          =subtype.preference.comma
          your more obvious depressive symptom is that you
          =subtype.consumer? ? subtype.consume_verb : subtype.produce
          =subtype.consumer? ? "more." : "less."
          You also
          =subtype.consumer? ? subtype.produce : subtype.consume_verb
          =subtype.consumer? ? "less," : "more,"
          however, and if you are drowning under a load of unwanted
          =subtype.potential
          you may find it easier to
          =subtype.consumer? ? subtype.produce : subtype.consume_verb
          =subtype.consumer? ? "more" : "less"
          since you have probably already tried to
          =subtype.consumer? ? subtype.consume_verb : subtype.produce
          =subtype.consumer? ? "less." : "more."
        -if subtype.insensitive?
          %p=render "depression", :subtype => subtype
