- content_for(:title, @quad.name)
%table
  -@quad.subtypes.values_at(0,1,3,2).in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td.top.quarter
          %h2
            =subtype.name
            =subtype.inspect.parenthesize
          -%w{bad good reason leverage alternative}.each do |x|
            %p.left=render x, subtype: subtype
