- content_for(:title, @quad.mbti)
=render "subtypes", :subtypes => @quad.subtypes
%h2 BipolarType vs the MBTI
%p
  Please note that your MBTI true type may or may not be one of the four subtypes.
%p
  If you are relatively sensitive, then your MBTI true type may be
  =render "mbti", :mbti => @quad.subtypes.third.mbti
  or
  =render "mbti", :mbti => @quad.subtypes.fourth.mbti
  but if you are extremely sensitive then it may be
  =render "mbti", :mbti => @quad.subtypes.first.mbti.gsub('E', 'I')
  or
  =render "mbti", :mbti => @quad.subtypes.second.mbti.gsub('E', 'I')
%p
  If you are relatively insensitive, then your MBTI true type may be
  =render "mbti", :mbti => @quad.subtypes.first.mbti
  or
  =render "mbti", :mbti => @quad.subtypes.second.mbti
  but if you are extremely insensitive then it may be
  =render "mbti", :mbti => @quad.subtypes.third.mbti.gsub('I', 'E')
  or
  =render "mbti", :mbti => @quad.subtypes.fourth.mbti.gsub('I', 'E')
