- content_for(:title, @quad.name)
%h2 Closest MBTI&reg; types
%dl.center
  -%w{manic euthymic depressed}.each do |state|
    %dt=state.capitalize
    %dd=render "mbti", :mbti => @quad.send(state + "_mbti")