- content_for(:title, @quad.name)
%h2 Bipolar
%p.heading
  %b When manic:
  (last thing Saturday night)
  %br
  =@quad.manic_advice.join(", ")
%p.heading
  %b When depressed:
  (first thing Monday morning)
  %br
  =@quad.depressed_advice.join(", ")
%h2 Type
=render "objects", :objects => @quad.subtypes
%h3 Quick links to related BipolarTypes
%ul
  %li=link_to @quad.opposite.name, type_path(@quad.opposite.path)
  %li=link_to @quad.twin.name, type_path(@quad.twin.path)
  %li=link_to @quad.sibling.name, type_path(@quad.sibling.path)
