- content_for(:title, @quad.name)
%h2 Bipolar
%h3 Mania
%p=@quad.subtypes.map(&:evening).to_sentence.capitalize.punctuate
%h3 Depression
%p
  Depression always follows mania.
%p
  If you didn’t
  =@quad.subtypes.map(&:evening).to_sentence
  when you were manic, you will have to
  =@quad.subtypes.map(&:morning).to_sentence
  now that you are depressed.
%h2 Type
=render "subtypes", :subtypes => @quad.subtypes
%h3 Priorities
%p
  Your priorities can and do change over time.
  You always have the same four subtypes, but your circumstances determine how critical it is to
  =@quad.subtypes.map(&:goal).to_sentence(:last_word_connector => ", and/or ").comma
  and your environment determines how difficult it is to do so.
%h3 Strength
%p
  BipolarType is concerned only with energy, and the storage of energy; it says nothing about how strong you are in any realm or in which realms you may need or want to develop more strength.
%h3 Related types
%dl
  %dt=link_to @quad.opposite.name, type_path(@quad.opposite.path)
  %dd your opposite (opposite nature, opposite nurture)
  %dt=link_to @quad.twin.name, type_path(@quad.twin.path)
  %dd your identical twin separated at birth (same nature, opposite nurture)
  %dt=link_to @quad.sibling.name, type_path(@quad.sibling.path)
  %dd your sibling (same nurture, opposite nature)
