- content_for(:title, 'The 48 BipolarTypes')
%table.center
  -Quad.all.sort_by(&:euthymic_subtypes).in_groups_of(6).each do |row|
    %tr
      -row.in_groups_of(2).each do |pair|
        %td.quarter
          =render "mbtis", :mbtis => [pair.first.dominant_mbtiish]
          %br
          =pair.first.dominant_full
          with
          -pair.each_with_index do |quad, index|
            -unless index == 0
              %br
              or
            %br
            =quad.secondary_full.colon
            =link_to quad.name, type_path(quad.path)
