- content_for(:title, @quad.name)
%table
  -@quad.subtypes.in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td.half.top
          %h2=subtype.name
          =render "always", :subtype => subtype
          %h3=subtype.manic.name
          %h3=subtype.depressed.name
