- content_for(:title, "#{@name}")
%table.wide
  %caption If you don’t know what to do:
  -@quad.subtypes.in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        %td.top.half
          %h2=subtype.name
          -if @quad.differentiated?
            =render "advice", subtype: subtype
          -else
            =render "both", subtype: subtype
-if @quad.differentiated?
  %p.center=link_to "by attitude", mbti_path(@quad.path)
