- content_for(:title, @quad.mbti)
=render "subtypes", :subtypes => @quad.subtypes
%h2 Suicidal Mania
%p
  If you won’t allow yourself to
  =@quad.ip.eat
  =@quad.ip.carbs
  because you hate yourself for
  =@quad.ip.eat.split.first.ing
  so much when you were depressed, then you will not be able to sleep the next time you are manic.
%p
  If you cannot have the “little death”, you may opt for the “eternal sleep”. You might as well, since you already hate yourself, and assume everyone else does too.
%p
  First: stop
  =@quad.ep.eat.ing
  so many
  =@quad.ep.carbs
  — that’s what is keeping you awake. You don’t need the
  =@quad.ep.glycogen
  because you have learned how to be
  =@quad.ep.restrained.er.punctuate
  Just because the
  =@quad.ep.carbs
  are dropping out of the sky to fall at your feet doesn’t mean you have to
  =@quad.ep.eat
  them.
%p
  Second:
  =@quad.ip.eat
  as many
  =@quad.ip.carbs
  as you need to: it’s much better to
  =@quad.ip.eat
  too much and be
  =@quad.ip.obese
  than to be dead. And
  %em nobody else
  hates you for
  =@quad.ip.eat.split.first.ing
  as much as you hate yourself so even if other people disapprove, they do
  %em not
  disapprove as much as you
  %em think
  they disapprove, and they do
  %em not
  wish that you were
  %em dead
  instead of
  =@quad.ip.eat.split.first.ing.punctuate
%p
  Third: avoid
  =@quad.ip.carbs
  when you are
  %em not
  tired — for example, first thing in the morning — and save them for when you need to sleep.
  =@quad.ip.eat.capitalize
  =@quad.ip.proteins
  the rest of the time as they won’t make you
  =@quad.ip.fat.punctuate
%p
  Fourth:
  =@quad.ip.move
  as much as you can, especially when you cannot sleep and do not
  %em have
  to sleep.
