- content_for(:title, @quad.name)
=render "subtypes", :subtypes => @quad.subtypes
%h2 Medication
%p
  Sedatives to make you
  =@quad.subtypes[0,2].map(&:goal).map(&:er).join(" and ")
  will make you
  =@quad.subtypes[2,2].map(&:result).map(&:er).join(" and ")
  whereas stimulants to make you
  =@quad.subtypes[2,2].map(&:goal).map(&:er).join(" and ")
  will make you
  =@quad.subtypes[0,2].reverse.map(&:result).map(&:er).join(" and ")
  and eventually
  =@quad.subtypes.first.phobic.punctuate
%p
  If you can get
  =@quad.subtypes[2,2].map(&:neurochemical).join(" and ")
  stimulants
  and
  =@quad.subtypes[0,2].reverse.map(&:neurochemical).join(" and ")
  sedatives, you may be able to adjust your personality.
  Personally, I find that adjusting my environment has fewer side effects.
