- content_for(:title, 'The 24 BipolarTypes')
%table
  -Quad.all.in_groups_of(6) do |row|
    %tr
      -row.each do |quad|
        %td.top.sixth
          =link_to quad.name, type_path(quad.path)
          %ul.left
            -quad.subtypes.each do |subtype|
              %li=link_to subtype.name, type_path(subtype.path)
