- content_for(:title, @quad.name)
%table
  %tr
    %td.third.top=render "subtype", subtype: @quad.first
    %td.third=render "insensitive"
    %td.third.top=render "subtype", subtype: @quad.second
  %tr
    %td=render "consume"
    %td=render "advice"
    %td=render "produce"
  %tr
    %td.top=render "subtype", subtype: @quad.third
    %td=render "sensitive"
    %td.top=render "subtype", subtype: @quad.fourth
