- content_for(:title, 'Rapid Cycling')
%p
  Rapid cycling, or kindling, happens over time if your mania is not controlled.
  Over time, mania becomes easier and easier to trigger, but it also ends sooner.
%p
  I am a rapid cycler, and my cycle lasts about six days on average: three manic days, a crash, three depressed days, and then another manic episode. Manic episodes can be triggered sooner or last longer if I’m under a lot of stress, but six days is typical. Mania is also worse in the morning, spring and fall, and depression is worse in the evening, summer and winter, but the six-day cycle predominates.
%p
  The following are my recommendations for dealing with rapid cycling, but although they work for me (ISFP-ESTP-ENTJ-INFJ) the recommendations for the other subtypes are based on analogy and may do more harm than good. Caveat emptor.
%h2 IP: invisible mania & addiction
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    -unless t(:mbti).blank?
      %h3
        ="I#{t(:mbti)}P"
      %p
        Unless they are
        =t :professional_producers
        they should try to
        =t(:produce)
        as much as they can, whenever they can. The more they
        =t :produce
        the more
        =t :external_sources
        they will be able to
        =t :consume
        without becoming
        =t :overfull
      %p
        Would find small amounts of short acting meds that increase
        =t :neurotransmitter
        — without increasing all the rest — helpful, but need to stop taking them as soon as they start to feel
        =t :good
        or they will feel
        =t :bad
        when they resume
        =t :consuming
        =t :external_sources
%h2 EP: euphoric mania & severe depression
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    -unless t(:mbti).blank?
      %h3
        ="E#{t(:mbti)}P"
      %p
        Should
        =t(:produce)
        longer whenever they feel
        =t :overfull
        but stop as soon as they feel
        =t :good
        enough; if they
        =t :produce
        too much they will either have to
        =t :consume
        even more
        =t :external_sources
        — and feel
        =t :bad
        — or they will
        =t :run_out
      %p
        Meds that increase
        =t(:neurotransmitter)
        could alleviate the depression but will aggravate the mania.
        Meds that decrease
        =t(:neurotransmitter)
        could curtail the mania but will aggravate the depression.
%h2 EJ: hypomania & mild depression
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    -unless t(:mbti).blank?
      %h3
        ="E#{t(:mbti)}J"
      %p
        Should try to
        =t(:produce)
        longer when they are manic without
        =t :consuming
        =t :external_sources
        that make them feel
        =t :worse
        — they are in no danger of
        =t(:running_out)
        fatally — and wait to
        =t :consume
        them later when they are depressed and not feeling so
        =t :bad
      %p
        Meds that increase
        =t(:neurotransmitter)
        could alleviate the depression but will aggravate the mania.
        Meds that decrease
        =t(:neurotransmitter)
        could curtail the mania but will aggravate the depression.
%h2 IJ: fatal mania & invisible depression
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    -unless t(:mbti).blank?
      %h3
        ="I#{t(:mbti)}J"
      %p
        They should try to
        =t(:consume)
        =t(:external_sources)
        when they are depressed — to store up
        =t :enough_storage
        — and avoid
        =t(:consuming)
        =t(:external_sources)
        as soon as they start to feel
        =t :bad
        as they
        %em are
        in danger of
        =t :running_out
        fatally
      %p
        Would find small amounts of long-acting meds that decrease
        =t :neurotransmitter
        — without decreasing all the rest — helpful.
%p=link_to "Terminology", type_path("terms")
