- content_for(:title, 'The Four Realms')
%table
  -Realm.all.each do |realm|
    %tr
      %th.narrow=link_to realm.name.suffix(" Subtypes"), type_path(realm.path)
      %td.quarter
        %ul.left
          %li=realm.empty.prefix("feel ")
          %li=realm.consume_triggers.prefix("don’t ")
          %li=realm.potential.prefix("lose ")
      %td.quarter
        %ul.left
          %li=realm.empty.prefix("feel ")
          %li=realm.consume_triggers
          %li=realm.full.prefix("feel ")
          %li=realm.consume_triggers.ing.prefix("keep ")
          %li=realm.potential.prefix("gain ")
      %td.quarter
        %ul.left
          %li=realm.ready.prefix("feel ")
          %li=realm.produce_energetically
          %li=realm.strengths_atrophy
      %td.quarter
        %ul.left
          %li=realm.ready.prefix("feel ")
          %li=realm.produce_strongly
          %li=realm.worn_out.prefix("feel ")
          %li=realm.consume_strengtheners
          %li=realm.strengths.prefix("gain ")