- content_for(:title, 'The Four Realms')
%table
  -Realm.all.each do |realm|
    %tr
      %td.top
        %h2==#{realm.generic.capitalize} Mania
        %p.left=render "mania", realm: realm
      %td.top
        %h2==#{realm.generic.capitalize} Depression
        %p.left=render "depression", realm: realm