- content_for(:title, 'The Four Realms')
%table
  %tr
    %th &nbsp;
    %th Energy
    %th Strength
  -Realm.all.each do |realm|
    %tr
      %th=link_to realm.name, type_path(realm.path)
      %td
        %ul
          %li=realm.consume_energizers
          %li=realm.energy.prefix("or use ")
          %li=realm.produce_energetically.prefix("to ")
      %td
        %ul
          %li=realm.produce_strongly
          %li=realm.consume_strengtheners.prefix("then ")
          %li=realm.strengths.prefix("to build or repair ")
