- content_for(:title, @realm.name_with_mbti)
=render "realm", :realm => @realm
-@realm.subtypes.each do |subtype|
  %h3=link_to subtype.name_with_mbti, type_path(subtype.path)
  =render "subtype", :subtype => subtype
