- content_for(:title, 'The Four Realms')
%table
  -Realm.all.in_groups_of(2) do |row|
    %tr
      -row.each do |realm|
        %td.half
          %h2=link_to realm.name, type_path(realm.path)
          %ul.left
            %li=realm.consume_energizers
            %li=realm.produce_energetically
            %li=realm.produce_strongly
            %li=realm.consume_strengtheners