- content_for(:title, 'The 4 Realms')
%table
  -Realm.all.in_groups_of(2) do |row|
    %tr
      -row.each do |realm|
        %td.half.bordered
          =render "square", :subtypes => realm.subtypes, :caption => realm
=render "footnote"
