- content_for(:title, @realm.description_with_mbti)
%p=render "realm", :realm => @realm
-@realm.subtypes.each do |subtype|
  %h2=subtype.description_with_mbti
  %p=render "subtype", :subtype => subtype
  =render subtype.attitude.adjective, :subtype => subtype
