- content_for(:title, 'Recommendations')
%p
  As a general rule of thumb, you may find being overfull more upsetting, but running out can kill you a lot faster, so deal with the mania first, and worry about the depression afterwards.
%p
  The following recommendations fly in the face of conventional wisdom, but they work for me. They may not work for you. Caveat emptor. 
-[:generic, :aerobic, :anaerobic, :cognitive, :interpersonal].each do |local|
  -I18n.with_locale(local) do
    %h3
      =t :mbti
      Mania
    %p
      If you
      =t :run_out
      too many times you will die sooner than later, so your first goal is to make sure you have enough
      =t(:internals).punctuate
      It will be easier to
      %em acquire
      =t(:internals)
      when you are depressed, but you can keep from running out of them when manic by remembering that if you have no
      =t :internals
      then you must stop
      =t :consuming
      =t :externals
      immediately — which should be easy because you’re manic — and your urge to
      =t :produce
      will vanish along with the mania and you won’t
      =t :run_out
      so quickly that you die before you can recover.
    %p
      If you are in absolutely no danger of
      =t :running_out
      and are, on the contrary,
      objectively
      =t :overfull
      — not just remembering being
      =t :overfull
      or anticipating being
      =t :overfull
      — then now is the best time to fix the problem. You won’t want to
      =t :consume
      too many
      =t :externals
      anyway because they make you feel
      =t :bad
      but you should probably
      =t :consume
      %em something
      — I recommend
      =t :alternatives
      — but if you must
      =t :consume
      =t :externals
      =t :consume
      bland and boring
      =t :externals
      that don’t make you feel
      =t :bad
      and if you do suffer from
      =t :something_worse
      stop 
      =t :consuming 
      those
      =t(:externals)
      when you're manic. 
      And don't 
      =t :consume
      =t :externals
      — or take drugs that increase your
      =t :neurotransmitter
      levels — right before you go to bed or you will wake up in the middle of the night. If that does happen, deal with it. If you don’t get up and
      =t :produce
      for a few hours your
      =t :neurotransmitter
      levels will take forever to fall and you won't sleep at all.
    %p
      If you are not
      =t :consuming
      =t :externals
      — or at least not 
      =t :externals 
      that dramatically increase your
      =t :neurotransmitter
      levels — you may not feel like
      =t(:producing).punctuate
      =t(:produce).capitalize
      anyway. Once you start and begin to tap into your store of
      =t :internals
      you won't have any trouble continuing.
    %h3
      =t :mbti
      Depression
    %p
      Now that you're depressed, your first goal must be to rebuild your
      =t :internals
      if you don't have enough. You will automatically want to
      =t :consume
      more
      =t :externals
      and
      =t :produce
      less, but if you want to speed the process, focus on those
      =t :externals
      that
      %em won't
      make you want to
      =t(:produce).punctuate
    %p
      Not all
      =t :externals
      are created equal, and if you are not objectively
      =t :overfull
      you need to avoid the
      =t :externals
      that made you feel
      =t :bad
      when you were manic, because those are the ones that cause your
      =t :neurotransmitter
      levels to spike and make you want to
      =t(:produce)
      more; save them for when you are feeling
      =t(:overfull).punctuate
      If you have no current
      =t :internals
      you need to
      =t :consume
      =t :externals
      that have
      %em never
      made you feel
      =t(:bad)
      in the past and are somewhat bland and boring; they will make you feel
      =t :overfull
      without making you want to
      =t(:produce).punctuate
    %p
      If you are in absolutely no danger of
      =t :running_out
      and are, on the contrary,
      objectively
      =t :overfull
      — not just remembering being
      =t :overfull
      or anticipating being
      =t :overfull
      — you're not going to be able to fix the problem while you're depressed without the use of meds which increase your
      =t :neurotransmitter 
      levels, but you can slow it down
      enough that you don't lose all the progress you made when you were manic. 
    %p
      Some
      =t :externals
      will give your
      =t :neurotransmitter 
      levels more of a boost. If you 
      =t :consume
      the 
      =t :externals 
      that are the most likely to make you feel
      =t :bad
      when you are manic, you will need to
      =t :consume
      fewer of them and you will feel more like
      =t :producing
      afterwards. So give in to temptation and 
      =t :consume
      the most tempting
      =t :externals 
      you can find. Just remember that the more you 
      =t :consume
      them the less pleasure you will feel, so cut it short and you will be able to 
      =t :consume
      them again sooner. If you can wait until the cravings are bad, you will feel the biggest surge. Then, 
      %em use
      that surge to
      =t :produce
      for as long as you can. You're essentially jump starting the process of
      =t :producing 
      by using a few powerful
      =t :externals
      to increase your
      =t :neurotransmitter 
      levels enough to get you to
      =t :produce
      when you don't want to. 
    %p
      And whatever you do, don't
      =t :consume
      =t :externals
      that you don't want to
      =t :consume 
      or when you don't want to 
      =t :consume
      them just because you think you “should” because
      %em those
      =t :externals 
      are supposed to be “good”
      for you to
      =t(:consume).punctuate
      If you really feel you
      %em must
      =t :consume
      those 
      =t :externals
      wait until you are no longer
      =t :overfull
      and 
      =t :consume
      them then. Because if you don't want to 
      =t :consume
      them when you are
      %em depressed
      then it's pretty clear that they are not going to help you
      =t :produce
      more. And the primary reason to
      =t :consume
      =t :externals
      is so that you can
      =t(:produce).punctuate
%p=link_to "Terminology", type_path("terms")
