- content_for(:title, 'Seasonal Affective Disorder')
%p
  Let’s start with a picture of what life looked like hundreds or thousands of years ago, in a small village in a far northern latitude.
%p
  Everyone would have a cycle, and that cycle would be the same for everyone. What they did, what they ate, who they listened to, and what they learned would all depend on the seasons.
%p
  In the summer, they could travel to distant villages and find new jobs, eat new foods, hear new stories, and learn new information. In the winter, they had to stay at home by the fire without dying of starvation or boredom by going out into the cold and dark because they had nothing at home to do, eat, hear or learn.
%p
  Now take that well adjusted, highly adapted, perfectly normal person, and drop them into the modern world where new jobs, new foods, new stories, and new information are always available, and what do you get?
%p
  Someone who is badly adjusted, maladapted, and highly abnormal.
%p
  Sometimes they work too much, sometimes they don’t work enough; sometimes they eat too much, sometimes they don’t eat enough; sometimes they listen too much, sometimes they don’t listen enough; sometimes they learn too much, sometimes they don’t learn enough.
%p
  In other words, they are bipolar.
%p
  BipolarType is my attempt to explain why I am constantly too much or too little, and what I can do about it.
%p
  I believe that the theory is applicable to most people, but all I know for sure is that it works for me.
%p
  You can read about
  =link_to "my BipolarType", type_path("iaebfcgdh")
  or you can
  =link_to "discover your own BipolarType", discover_path("Q1")
  or you can read about
  =link_to "the sixteen subtypes", type_path("subtypes")
