- content_for(:title, @object.name)
%table
  -@object.subtypes.in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        %td.half.bordered=render "subtype", :subtype => subtype
-if @object.is_a? Quad
  %h2 Manic-Depression
  -@object.subtypes.each do |ij|
    -if ij.attitude == Attitude.ij
      %h3
        =ij.realm.name
        Mania: dangerous loss of
        =ij.potential
      %p
        While manic:
        buffer your
        =ij.energizers
        with even more
        =ij.buffers
        and try to refrain from
        =ij.produce.ing.period
        Take sedatives if you are in any danger of
        =ij.dying.period
      -@object.subtypes.each do |ej|
        -if ej.attitude == Attitude.ej
          %p
            After the mania ends, you will find it easier to regain critical
            =ij.potential
            if you
            =ej.produce
            less: avoid
            =ej.productions.ing
            if you will have to use
            =ij.kinetics
            to do so.
  -@object.subtypes.each do |ep|
    -if ep.attitude == Attitude.ep
      %h3
        =ep.realm.name
        Depression: unwanted
        =ep.potential
      %p
        While depressed:
        buffer your
        =ep.energizers
        with even
        =ep.buffers.fewer_phrase
        and try to keep
        =ep.produce.ing.period
        Do not take stimulants if you are in any danger of going manic.
      -@object.subtypes.each do |ip|
        -if ip.attitude == Attitude.ip
          %p
            After the depression ends, you will find it easier to lose unwanted
            =ep.potential
            if you
            =ip.consume_with
            =ip.energizers.colon
            you will find it easier to
            =ep.productions
            if you have some extra
            =ip.kinetics.period
