- content_for(:title, @type.mbtis)
%p
  =@type.subtypes.map(&:choice).to_sentence.capitalize.punctuate
-@type.subtypes.each do |subtype|
  %h2=subtype.description_with_mbti
  =render subtype.attitude.adjective, :subtype => subtype
%h2 BipolarType vs the MBTI&reg;
%p
  Every BipolarType is associated with twelve four letter types. A type is made up of a dominant function, and an auxiliary function. Some types match the MBTI whole types better than others, and some don’t fit at all.
%dl
  -@type.truetypes.each do |truetype|
    %dt=render "mbti", :mbti => truetype.mbti
    %dd
      Dominant
      =truetype.dominant.mbti
      with Auxiliary
      =truetype.auxiliary.mbti.punctuate(":")
      loves to
      =truetype.love
      and likes to
      =truetype.like
      but not as interested in
      =truetype.indifferent.map(&:ing).join(" or ")
