- content_for(:title, @object.name)
%table
  -@object.subtypes.values_at(0,1,3,2).in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        %td.half
          %h2=link_to subtype.name, discover_path(subtype.discover_path)
          =render "subtype", :subtype => subtype
          %p
            Usually has too
            =subtype.result.period