- content_for(:title, @object.name)
%table
  %caption
    %p.center The four tendencies.
  %tr
    -@object.subtypes.each do |subtype|
      %td.quarter.bordered
        %p.center
          =link_to subtype.domain, discover_path(subtype.discover_path)
          %br
          =subtype.result.prefix("too ").parenthesize
%table
  %caption
    %p.center
      The less you like the result, the more you need to change
      %em when
      you consume energizers and produce strongly.
  %tr
    -@object.subtypes.each do |subtype|
      %td.quarter.bordered
        %h2 Morning or Depression
        %ul.left
          %li=subtype.morning_do.prefix("do ")
          %li=subtype.morning_dont.prefix("don’t ")
        %h2 Evening or Mania
        %ul.left
          %li=subtype.evening_do.prefix("do ")
          %li=subtype.evening_dont.prefix("don’t ")
%table
  %caption
    %p.center When in doubt, consume strengtheners and produce energetically.
  %tr
    -@object.subtypes.each do |subtype|
      %td.quarter.bordered
        %ul.left
          %li=subtype.consume_strengtheners
          %li=subtype.produce_energetically
