- content_for(:title, @type.mbtis)
-@type.subtypes.each do |subtype|
  %h2=subtype.description_with_mbti
  %p.heading=subtype.short
  =link_to "not right?", discover_path(@type.q4_path_without(subtype))
%h2 Type Dynamics
%p
  The four letter type for this BipolarType
  =@type.mbti? ? "is" : "would be"
  =render "mbti", :mbti => @type.mbti
  -if @type.closest != @type.mbti
    which isn’t an MBTI type; the closest MBTI type is
    =render "mbti", :mbti => @type.closest, :punctuate => "."
  -else
    =@type.dynamic? ? "and follows" : "but does not follow"
    the MBTI type dynamic theory.
%p
  BipolarTypes are not static. Any change in environment or circumstance can change your BipolarType to one of the following associated BipolarTypes. They all have the same basic underlying personality —
  =@type.traits.to_sentence
  — and the solutions which allow them to be
  =@type.ideal_states.to_sentence
  are the same for all.
-@type.alternatives.in_groups_of(6) do |attitude_group|
  %h3=attitude_group.first.dominant.attitude.description
  -state=attitude_group.first.dominant.state
  %p=state
  %dl
    -attitude_group.sort_by{|t| [t.closest, t.also_state]}.each do |type|
      %dt=link_to type.mbtis, type_path(type.path)
      %dd
        =type.with_closest
        =type.non_ideal_states.reject{|s| s == state}.first
        but
        =type.ideal_state
