- content_for(:title, @type.mbti)
-@type.behavior_problems.each do |behavior_problem|
  %h2=behavior_problem.mbti
  =link_to "attitude not right?", discover_path(@type.discover_path_without_behavior(behavior_problem))
  =link_to "problem not right?", discover_path(@type.discover_path_without_problem(behavior_problem))
%h2 Type Dynamics
%h3
  =render "mbti", :mbti => @type.manic_mbti
  Mania
%ul
  -@type.manic_behaviors.each do |behavior_problem|
    -if behavior_problem.manic?
      %li
        =behavior_problem.mbti
        aggravates mania
    - else
      %li
        =behavior_problem.mbti
        mitigates mania
%h3
  =render "mbti", :mbti => @type.hypomanic_mbti
  Hypomania
%ul
  -@type.hypomanic_behaviors.each do |behavior_problem|
    -if behavior_problem.manic?
      %li
        =behavior_problem.mbti
        aggravates hypomania
    - else
      %li
        =behavior_problem.mbti
        mitigates hypomania
%h3
  =render "mbti", :mbti => @type.dysthymic_mbti
  Dysthymia
%ul
  -@type.dysthymic_behaviors.each do |behavior_problem|
    -if behavior_problem.manic?
      %li
        =behavior_problem.mbti
        mitigates dysthymia
    - else
      %li
        =behavior_problem.mbti
        aggravates dysthymia
%h3
  =render "mbti", :mbti => @type.depressed_mbti
  Depression
%ul
  -@type.depressed_behaviors.each do |behavior_problem|
    -if behavior_problem.manic?
      %li
        =behavior_problem.mbti
        mitigates depression
    - else
      %li
        =behavior_problem.mbti
        aggravates depression
