- content_for(:title, @object.name)
%table
  %caption
    %h2 Euthymia
  -@object.subtypes.values_at(0,1,3,2).in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td.half
          %h2=link_to subtype.name, discover_path(subtype.discover_path)
          =render "subtype", :subtype => subtype
          %p.center=subtype.result
%table
  %caption
    %h2 Bipolar States
  -@object.subtypes.values_at(0,1,3,2).in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td.half
          %h2=subtype.name
          %ul
            %li=subtype.mania
            %li=subtype.depression
          %p.center=subtype.cycle_result
%table
  %caption
    %h2 Mania Advice
  -@object.subtypes.values_at(0,1,3,2).in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td.half
          %h2=subtype.name
          =render "mania/" + subtype.ordinal, :realm => subtype.realm
%table
  %caption
    %h2 Depression Advice
  -@object.subtypes.values_at(0,1,3,2).in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td.half
          %h2=subtype.name
          =render "depression/" + subtype.ordinal, :realm => subtype.realm
