- content_for(:title, @type.mbtis)
-@type.subtypes.each do |subtype|
  %h2=subtype.description_with_mbti
  %p.heading=subtype.short
  =link_to "not right?", discover_path(@type.q4_path_without(subtype))
%h2 Type Dynamics
%p
  The four letter type for this BipolarType
  =@type.mbti? ? "is" : "would be"
  =render "mbti", :mbti => @type.mbti
  -if @type.closest != @type.mbti
    which isn’t an MBTI type; the closest MBTI type is
    =render "mbti", :mbti => @type.closest, :punctuate => "."
  -else
    =@type.dynamic? ? "and follows" : "but does not follow"
    the MBTI type dynamic theory.
%p
  BipolarTypes are not static. Any change in environment or circumstance can change your priorities, which will change your BipolarType and your MBTI type.
%p
  Although you will always have the same basic personality of
  =@type.mbtis
  — albeit in a different order — your MBTI type can be any of the following:
  =@type.alternatives.map(&:closest).uniq.to_sentence(:last_word_connector => ", or ").punctuate
=link_to "reset priorities?", discover_path(@type.q5_path)
