- content_for(:title, @object.name)
%table
  -@object.subtypes.values_at(0,1,3,2).in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        %td.half
          %h2=link_to subtype.name, discover_path(subtype.discover_path)
          %ul.left
            %li=subtype.preface.s
            %li
              =subtype.verb.s
              =subtype.objects
              until there
              =subtype.objects.are
              no more
              =subtype.objects
              left to
              =subtype.verb
            %li=subtype.result.prefix("tends to have too ")
          %ul.left
            %li=subtype.goal.prefix("needs ")
            %li=subtype.hard.prefix("first ")
            %li
              then, when you feel
              =subtype.rare.comma
              =subtype.postfix

