- content_for(:title, @type.mbtis)
-@type.subtypes.each do |subtype|
  %h2=subtype.description_with_mbti
  %p.heading=subtype.choice

%h2 BipolarType vs the MBTI&reg;
%p
  The four letter type for this BipolarType is
  =render "mbti", :mbti => @type.mbti
  which
  =@type.mbti? ? "is" : "is not"
  an actual MBTI type.
  -if @type.closest
    The closest MBTI type is
    =render "mbti", :mbti => @type.closest, :punctuate => "."
  -else
    It
    =@type.dynamic? ? "even fits well" : "does not, however, fit"
    into the MBTI type dynamic theory.
