- content_for(:title, @object.name)
%table
  -@object.subtypes.in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        %td.half.bordered=render "subtype", :subtype => subtype
-if @object.is_a? Quad
  %h2 Manic-Depression
  -@object.subtypes.each do |ij|
    -if ij.attitude == Attitude.ij
      %h3
        =ij.realm.name
        Mania: dangerous loss of
        =ij.potential
      %p
        While manic:
        =ij.consume_with
        more
        =ij.buffers
        and try to refrain from
        =ij.produce.ing
        and take sedatives if there is any danger of
        =ij.dying.period
      -@object.subtypes.each do |ej|
        -if ej.attitude == Attitude.ej
          %p
            After the mania ends, you will find it easier to regain critical
            =ij.potential
            if you make an effort to
            =ej.produce
            less: put off
            =ej.productions.ing
            if you will have to use
            =ij.kinetics
            in order to
            =ej.produce_with
            things.
  -@object.subtypes.each do |ep|
    -if ep.attitude == Attitude.ep
      %h3
        =ep.realm.name
        Depression: unwanted
        =ep.potential
      %p
        While depressed:
        =ep.consume_with
        =ep.buffers.fewer_phrase
        and try to keep
        =ep.produce.ing
        but do not take stimulants if there is any danger of going manic.
      -@object.subtypes.each do |ip|
        -if ip.attitude == Attitude.ip
          %p
            After the depression ends, you will find it easier to lose unwanted
            =ep.potential
            if you make an effort to
            =ip.consume_with
            =ip.obvious.er
            =ip.energizers.colon
            you will find it easier to
            =ep.productions
            without
            =ep.consume.ing
            if you have some extra
            =ip.kinetics.period
