- content_for(:title, 'Introduction')
%p
  I developed BipolarType for my own personal use and it works for me.
%p
  The theory is scientific (it is falsifiable) but it has not been validated by the medical, psychiatric, psychological, or type communities.
%p
  I am sharing it on the web because I believe that other people may find it useful or interesting.
%p
  Please note that words are inherently emotional;
  the words I have chosen to use express my personal biases.
%p
  A future version of this website will hopefully allow you to choose your own words for empty and full in each of the four realms.
%p
  The theory itself makes no relative value judgements: all eight words are equally bad for those who do not want to be empty or full.
