- content_for(:title, 'Introduction')
%p
  BipolarType is my dynamic theory of personality.
%p
  The theory is scientific (it is falsifiable) but it has not been validated by the medical, psychiatric, psychological, or type communities.
%p
  I developed BipolarType for my own personal use. I am sharing it on the web because I believe that other people may find it useful or interesting.
%p
  I believe that the theory is applicable to most people, but all I know is that it works for me.
%p
  You can read about
  =link_to "my BipolarType", type_path(Type.my_path)
  or you can
  =link_to "discover your BipolarType", discover_path("Q1")
  or view
  =link_to "all 48 BipolarTypes.", type_path("bipolartypes")
