- content_for(:title, 'Introduction')
%p
  BipolarType is my dynamic theory of personality.
%p
  The theory is scientific (it is falsifiable) but it has not been validated by the medical, psychiatric, psychological, or type communities.
%p
  I developed BipolarType for my own personal use. I am sharing it on the web because I believe that other people may find it useful or interesting.
%p
  Although primarily developed as a tool for people who are Manic-Depressive, I believe it may be useful for anyone who would like to decrease their use of sedatives in the evening or stimulants in the morning.
