- content_for(:title, 'Introduction')
%p
  I developed BipolarType for my own personal use.
%p
  The theory is scientific (it is
  =link_to("falsifiable", "https://en.m.wikipedia.org/wiki/Falsifiability", :class => "external") + ")"
  but it has not been validated by the medical, psychiatric, psychological, or type communities.
%p
  I am sharing it on the web because I believe that other people may find it useful or interesting.
%p
  I’m bipolar. When I’m manic, or depressed, my behavior changes. Some of those changes are for the better. Some are for the worse. 
%p
  BipolarType is an attempt to identify each behavior and offer some advice for mitigating the bad behaviors during an episode and prolonging the good behaviors after the episode ends.