- content_for(:title, 'Introduction')
%p
  I developed BipolarType for my own personal use.
%p
  The theory is scientific (it is
  =link_to("falsifiable", "https://en.m.wikipedia.org/wiki/Falsifiability", :class => "external") + ")"
  but it has not been validated by the medical, psychiatric, psychological, or type communities.
%p
  I am sharing it on the web because I believe that other ambiverts may find it useful or interesting.
%p
  If you are an extrovert, then you can use general stimulants (e.g. caffeine) when you are depressed or understimulated. If you are an introvert, then you can use general sedatives (e.g. alcohol) when you are manic or overstimulated. But if you are an ambivert then general stimulants will trigger mania in your introverted realms and general sedatives will trigger depression in your extroverted realms.
%p
  BipolarType is my attempt to identify which stimuli I need to avoid when manic or overstimulated and which stimuli I need to seek out when depressed or understimulated so as to minimize my use of psychotropic drugs.
