- content_for(:title, 'Introduction')
%p
  I developed BipolarType for my own personal use.
%p
  The theory is scientific (it is
  =link_to("falsifiable", "https://en.m.wikipedia.org/wiki/Falsifiability", :class => "external") + ")"
  but it has not been validated by the medical, psychiatric, psychological, or type communities.
%p
  I am sharing it on the web because I believe that other ambiverts may find it useful or interesting.
%p
  If you are an extrovert, then you can use general stimulants (e.g. caffeine) when you are depressed or understimulated. If you are an introvert, then you can use general sedatives (e.g. alcohol) when you are manic or overstimulated. But if you are an ambivert then general stimulants will trigger mania in your introverted realms and general sedatives will trigger depression in your extroverted realms.
%p
  BipolarType is my attempt to learn how to sedate myself in one realm while stimulating myself in another realm not through drugs which control how I react to stimuli, but by identifying which stimuli I need to avoid when manic and overstimulated in my introverted realms and which stimuli I need to seek out when depressed and under stimulated in my extroverted realms.
