- content_for(:title, 'Introduction')
%p
  I developed BipolarType for my own personal use and it works for me. 
%p
  The theory is scientific (it is falsifiable) but it has not been validated by the medical, psychiatric, psychological, or type communities.
%p
  I am sharing it on the web because I believe that other people may find it useful or interesting.