- content_for(:title, 'Introduction')
%p
  I developed BipolarType for my own personal use.
%p
  The theory is scientific (it is falsifiable) but it has not been validated by the medical, psychiatric, psychological, or type communities.
%p
  I am sharing it on the web because I believe that other people may find it useful or interesting.
%p
  I don’t know what causes
  manic episodes; all I know is that BipolarType helps me mitigate the side effects of the manias (and the side effects of the inevitable resulting depressions) without the use of sedatives (or stimulants). 
%p.small
  The reason why I don't use prescription drugs to prevent the manias is because I tried everything the psychiatric community could offer me for thirty years, but nothing worked.