- content_for(:title, 'The Theory')
%h2 The Four Realms
%ul.center
  -Realm.all.each do |realm|
    %li
      =link_to realm.mbti, theory_path(realm.letter)
%h2 The Four Attitudes
%ul.center
  -Attitude.all.each do |attitude|
    %li
      =link_to attitude.mbti, theory_path(attitude.letter)
%h2 The Four Priorities
%ul.center
  -Priority.all.each do |priority|
    %li
      =link_to priority.mbti, theory_path(priority.letter)
