- content_for(:title, 'The Subtypes')
%h2 The Four Realms
%table.center
  %tr
  -Realm.all.in_groups_of(2).each do |row|
    %tr
      -row.each do |realm|
        %td=realm.short_with_mbti
%h2 The Four Attitudes
%table.center
  %tr
  -Attitude.all.in_groups_of(2).each do |row|
    %tr
      -row.each do |attitude|
        %td=attitude.short_with_mbti
%h2 The Sixteen Traits
%table.center
  %tr
  -Trait.all.in_groups_of(4).each do |row|
    %tr
      -row.each do |trait|
        %td=trait.short_with_mbti
%h2 The Four States
%table.center
  %tr
  -State.all.in_groups_of(2).each do |row|
    %tr
      -row.each do |state|
        %td=state.short_with_mbti
%h2 The Sixteen Behaviors
%table.center
  %tr
  -Behavior.all.in_groups_of(4).each do |row|
    %tr
      -row.each do |behavior|
        %td=behavior.short_with_mbti
%h2
  =link_to "The Forty Eight Bipolar Types", discover_path("Q1")
