- content_for(:title, 'Subtypes')
%table
  %tr
    -Realm.all.each do |realm|
      %th=realm.name
  -Attitude.all.each do |attitude|
    %tr
      -attitude.subtypes.each do |subtype|
        %td.top=render "subtype", subtype: subtype
