- content_for(:title, '16 Subtypes')
%table
  %tr
    -Realm.all.each do |realm|
      %th.quarter=realm.name
  -Attitude.all.values_at(0,1,3,2).each do |attitude|
    %tr
      -attitude.subtypes.each do |subtype|
        %td.top=render "subtype", subtype: subtype
