- content_for(:title, 'The Sixteen Subtypes')
%table
  %tr
    %th.narrow
    -Attitude.all.each do |attitude|
      %th.quarter=attitude.name
  -Realm.all.each do |realm|
    %tr
      %th.middle=realm.name
      -realm.subtypes.each do |subtype|
        %td
          %h2=link_to subtype.name, discover_path(subtype.discover_path)
          =render "subtype", :subtype => subtype
          %p.center=subtype.result
          %ul
            %li=subtype.mania
            %li=subtype.depression
          %p.center=subtype.cycle_result