- content_for(:title, 'Subtypes')

%table
  -Attitude.all.each do |attitude|
    %tr
      -attitude.subtypes.each do |subtype|
        %th.quarter
          =subtype.name
          %br
          =subtype.inspect.parenthesize
    %tr
      -attitude.subtypes.each do |subtype|
        %td.top
          %p.left=render attitude.path, realm: subtype.realm
