- content_for(:title, @subtype.name_with_mbti.html_safe)
=render "subtype", :subtype => @subtype
%h2 Associated Attitudes
%dl
  -@subtype.realm.subtypes.without(@subtype).each do |subtype|
    %dt=link_to subtype.name_with_mbti, type_path(subtype.path)
    %dd=subtype.description
%h2 Associated Realms
%dl
  -@subtype.attitude.subtypes.without(@subtype).each do |subtype|
    %dt=link_to subtype.name_with_mbti, type_path(subtype.path)
    %dd=subtype.description
%h2 Associated BipolarTypes
%dl
  -@subtype.quads.each do |quad|
    %dt=link_to quad.mbti, type_path(quad.path)
    %dd=quad.subtypes.map(&:name).join(", ")
