- content_for(:title, 'The 16 Subtypes')
%table.center
  %caption
    %li There are actually 32 Subtypes.
    %li This table only contrasts the most and least differentiated.
  -Subtype.all.in_groups_of(2) do |realm_group|
    %tr
      %td.narrow.none
      %td.none{:colspan => 2}
        %h1
          =realm_group.first.realm.name
          realm
    %tr
      %td.narrow.none
      %td.halfish.none
        %h2 Most Differentiated
      %td.halfish.none
        %h2 Least Differentiated
    -realm_group.each do |subtype|
      %tr
        %td.narrow.middle.none
          %h2=subtype.name
        %td.halfish.left
          =render "subtype", :sensitivity => subtype.sensitivity.path, :realm => subtype.realm, :index => 0
        %td.halfish.left
          =render "subtype", :sensitivity => subtype.sensitivity.path, :realm => subtype.realm, :index => 3
