- content_for(:title, @subtype.name)
%table.center
  %tr
    %td.half=render "outputs", :subtype => @subtype, :pairs => @subtype.outputs
    %td.half=render "inputs", :subtype => @subtype, :pairs => @subtype.inputs
