- content_for(:title, "The Sixteen Subtypes")
-if @resort
  =link_to "Sort by Attitude", type_path("subtypes")
-else
  =link_to "Sort by Realm", type_path("subtypes", :sort_by => "realm")
%table.center
  %tr
    -if @resort
      %th{:colspan => 2}=Realm.all.first.name_with_mbti
      %th{:colspan => 2}=Realm.all.second.name_with_mbti
      -subtypes = Subtype.by_realm
    -else
      %th{:colspan => 2}=Attitude.all.first.name_with_mbti
      %th{:colspan => 2}=Attitude.all.second.name_with_mbti
      -subtypes = Subtype.by_attitude
  -subtypes.in_groups_of(4).each do |row|
    %tr
      -row.each do |subtype|
        %td.quarter=render "subtype/subtype", :subtype => subtype
  %tr
    -if @resort
      %th{:colspan => 2}=Realm.all.third.name_with_mbti
      %th{:colspan => 2}=Realm.all.fourth.name_with_mbti
    -else
      %th{:colspan => 2}=Attitude.all.third.name_with_mbti
      %th{:colspan => 2}=Attitude.all.fourth.name_with_mbti
