- content_for(:title, 'Subtypes')
-%w{bad good reason leverage alternative }.each do |x|
  %h2=x.capitalize
  %table
    -Attitude.all.each do |attitude|
      %tr
        -attitude.subtypes.each do |subtype|
          %td.top.quarter
            %h2=subtype
            %p.left=render x, subtype: subtype
