- content_for(:title, @subtype.name_with_mbti.html_safe)
%h2 Normal
=render @subtype.attitude.path, :realm => @subtype.realm
%h2 Pathological
=render "bipolar/#{@subtype.attitude.path}", :realm => @subtype.realm
%h2 Associated BipolarTypes
%table.center.half
  -@subtype.quads.in_groups_of(2).each do |row|
    %tr
      -row.each do |quad|
        %td
          -quad.subtypes.each do |subtype|
            =subtype.name
            %br
          =link_to quad.mbti, type_path(quad.path)
