- content_for(:title, 'The Theory')
%h2 The Four Realms
%ul.center
  -Realm.all.each do |realm|
    %li
      =link_to realm.description, theory_path(realm.letter)
      =surround "(", ")" do
        =realm.mbti
%h2 The Four Attitudes
%ul.center
  -Attitude.all.each do |attitude|
    %li
      =link_to attitude.description, theory_path(attitude.letter)
      =surround "(", ")" do
        =attitude.mbti
%h2 The Four Priorities
%ul.center
  -Priority.all.each do |priority|
    %li
      =link_to priority.description, theory_path(priority.letter)
      =surround "(", ")" do
        =priority.mbti
