- content_for(:title, "Terminology and Definitions")
%p
  Words don’t always mean the same thing to different people. BipolarType is about the patterns of behavior, not the words used to define those behaviors.
%p
  If you are having trouble finding your type or disagree with the recommendations it may be because the words I have chosen to use to represent the different aspects of the pattern don’t mean the same thing to you that they do to me. Feel free to substitute your own words.
%p
  A future version of this website may allow you to easily substitute your own words. As you can see, if you inspect the
  =link_to "source code", "https://github.com/ambtus/bipolar_type/blob/master/config/locales/realms.yml", :class=> "external"
  the words used for the different realms are merely translations of those for the generic realm and even the words used for the generic realm are easily changed.
%p
  Also, I am not a psychopharmacologist, although I have been treated by some very good ones, and the neurotransmitters I have indicated for each realm are merely my best guesses.
