- content_for(:title, 'The Theory')
%table
  %caption
    %h2 The Normal Cycle
  %tr
    %td.top.half
      %h3 Consume! ➡
      %p I want to go out and get some energy!
      %p I want to see brighter colors, hear louder music, eat sweeter carbs, earn bigger rewards!
      %p I want to consume something energizing that will really get me going!
    %td.top.half
      %h3 Process. ⬇
      %p Right. Well. Okay. Now I’ve got all this energy, I need to process it.
      %p I need to believe what I’ve seen (extract the facts), understand what I’ve heard (extract the emotions), digest what I’ve eaten (extract the glycogen), collect what I’ve earned (extract the cash).
      %p I am full of energy, but I need to process it so I can actually use it.
  %tr
    %td.top.half
      %h3 Recover. ⬆
      %p Right. Well. Okay. Now I’ve used up all my energy; I am completely worn out.
      %p I need to analyze the results (I am feeling wrong and stupid), hear the words (I am feeling misunderstood and ostracized), eat the protein (I am feeling sore and achy), earn the loan repayments (I am feeling overdrawn and indebted).
      %p I need to consume something nourishing that will make me feel better after I have produced too long and too hard.
    %td.top.half
      %h3 Produce! ⬅
      %p I want to go out and burn some energy!
      %p I have all the facts I need, now it’s time to make decisions; I have all the emotions I need, now it’s time to scream and shout; I have all the glycogen I need, now it’s time to run; I have all the cash I need, now it’s time to splurge!
      %p I am restless and full of energy and if I don’t use it now, I’m going to explode!
%table
  %caption
    %h2 The Four Attitudes
  %tr
    %td.top.half
      %h3 Stuck Consuming
      %p I don’t need any more energy!
      %p I don’t want to see brighter colors, hear louder music, eat sweeter carbs, earn bigger rewards!
      %p I don’t need to consume something energizing!
      %p.heading So why do I keep looking, listening, eating or working?!?!?!?!?!?!?!?
    %td.top.half
      %h3 Stuck Processing
      %p I don’t need more time to process!
      %p I have already believed what I’ve seen, understood what I’ve heard, digested what I’ve eaten, collected what I’ve earned.
      %p I am full of energy that I can use.
      %p.heading So why can’t I take the next step and actually use it?!?!?!?!?!?!?!?  
  %tr
    %td.top.half
      %h3 Stuck Recovering
      %p I am not feeling worn out.
      %p I am not wrong or stupid, I am neither misunderstood or ostracized, I am not sore or achy, I am neither overdrawn nor indebted.
      %p I don’t need to consume something nourishing.
      %p.heading So why can’t I consume something energizing?!?!?!?!?!?!?!?  
    %td.top.half
      %h3 Stuck Producing
      %p I don’t want to go out and burn some energy!
      %p I don’t feel sure; I don’t feel excited; I don’t feel restless; I don’t feel rich!
      %p I am not overflowing with energy!
      %p.heading So why do I keep deciding, talking, walking or shopping?!?!?!?!?!?!?!?