- content_for(:title, 'Theory')
%h2 Nature
%p
  There are four realms, each associated with a different neurotransmitter.
%p
  Relative neurotransmitter levels determine your nature: the most sensitive first, the least sensitive last.
%p
  Your nature cannot be changed without long-term psychotropic drugs.
%p
  Changing your nature with psychotropioc drugs in one realm tends to change your nature in other realms as they are all interconnected in your brain.
%h2 Nurture
%p
  There are four attitudes, each associated with a different state of stress.
%p
  Relative messages to “relax” or “grow up” determine your nurture: the most relaxed first, the most stressed last.
%p
  Your nurture cannot be changed without long-term psychotherapy.
%p
  Changing your nurture with psychotherapy in one attitude tends to change your nurture in other attitudes as they are all interconnected in your mind.
%h2 Balance
%p
  There are sixteen behaviors (four realms x four attitudes).
%p
  Most people perform all sixteen behaviors every day.
%p
  Given that you are not dead yet, you can assume that your nurture was adequate, if not ideal, for your nature in the environment in which you developed.
%p
  If you would like to change your behavior without the use of drugs (fiddling with your nature) or therapy (fiddling with your nurture) you may be able to change your
  %em environment.
%p
  Changing your environment means changing not
  %em what
  you do, but
  %em when
  you do it.
%p
  If you perform a behavior at the right time of the day
  %em for you
  then you will neither do it too much, nor too little, and you will remain in balance.
