- content_for(:title, 'Theory')
%h2 TBD
%h2 BipolarType vs the MBTI&reg;
%p
  BipolarType grew out of the MBTI, and thus uses the same symbols. The meanings are different, however, so BipolarType symbols are not acronymic.
%p
  The MBTI puts certain restrictions on combinations of symbols. For example, in the MBTI you can be either an F or a T but not both. BipolarType relaxes most of those restrictions and calculates to three places instead of two. Instead of 16 types (2*2*2*2), there are 576 (4*3*2*1*4*3*2*1).
