- content_for(:title, 'Theory')
%p
  Normal personality theories validate individual differences without abnormality: you are not the same as everyone else, but there are other people just like you.
%h2 BipolarType vs the MBTI&reg;
%p
  Jungian personality theory asserts that people are not just introverted or extroverted, they are introverted and extroverted in different realms. Jungian personality theory describes four realms (Thinking, Feeling, Sensing and iNtuiting) and thus eight function-attitudes. For example, extraverted feeling, which he described as a judging function, is usually designated as Fe, but can also be designated using MBTI symbols as EFJ. There are eight Jungian function-attitudes: Si, Ni, Ti, Fi, Ne, Se, Fe, and Te
  =String::THEORETICALS.to_sentence.parenthetical.punctuate
%p
  The MBTI is an extension of Jungian personality theory, which asserts that if you are introverted in one realm, then you must necessarily be extroverted in another, and that you must have a realm in each of the four attitudes (IJ, EJ, IP, EJ). For example, an ISFP is someone with introverted feeling (Fi/IFP), extroverted sensing (Se/ESP), introverted intuition (Ni/INJ), and extroverted thinking (Te/ETJ).
%p
  ESFP, INTJ, and ENTJ have the same function-attitudes as ISFP, but in a different order.
  BipolarType does not care what the order of your function-attitudes is, and thus defines the following four BipolarTypes:
  %dl
    -Quad.officials.each do |quad|
      %dt=link_to quad.mbti, type_path(quad.path)
      %dd=quad.mbtis.join(", ")
%p
  BipolarType doubles the number of function-attitudes by asserting that, for example, extroverted feeling can be a perceptive function (EFP). There are thus twenty-four BipolarTypes: the above four and twenty more which do not have associated MBTI types. For example, my BipolarType is
  =link_to Quad.first.mbti, type_path(Quad.my_path)
  and although I claim
  =render "mbti", :mbti => "ISFP"
  as my MBTI true-type, it does not actually fit very well.
