- content_for(:title, 'Theory')
%h2 BipolarType vs the MBTI&reg;
%p
  The MBTI gives you permission to be unbalanced. Discovering your type gives you individuality — you are not just like everyone else — without abnormality: there are other people just like you.
%p
  For most people, being a little unbalanced is only an inconvenience. For someone who is bipolar, starting out a little unbalanced can kill you when your imbalances are magnified during repeated manic and depressive cycles.
%p
  BipolarType explains why two people with the same manic-depressive illness can manifest completely different symptoms, and what they can do to minimize those symptoms. 
%p
  BipolarType grew out of the MBTI, and thus uses the same symbols. The meanings are different, however, so BipolarType symbols are not acronymic.
%h2 The four attitudes
%dl
  %dt Get Energy (IP)
  %dd get kinetic energy, optionally converting  it to potential energy
  %dt Use Energy (EP)
  %dd use kinetic energy, optionally converting it from potential energy
  %dt Get Strength (IJ)
  %dd get building blocks, build and repair the infrastructure
  %dt Use Strength (EJ)
  %dd use strength, put wear and tear on the infrastructure
%h2 The four realms
-Realm.all.each do |realm|
  %h3
    =realm.adjective.capitalize
    =realm.mbti.parenthetical
  =render "realm", :realm => realm
