- content_for(:title, 'Theory')
%h2 Normal Personality
%p
  Normal personality theories validate individual differences without abnormality: you are not the same as everyone else, but there are other people just like you.
%p
  The most basic of all personality differences is extroversion vs introversion. The measure of extroversion and introversion falls along a normal distribution: it is no more abnormal to be introverted than it is to be extroverted, and most people lie somewhere in the middle.
%p
  Jungian personality theory asserts that people are not just introverted or extroverted, they are introverted and extroverted in different ways. Jungian personality theory describes four realms, and thus eight types: four extroverted types and four introverted types. The MBTI is an extension of Jungian personality theory, which says that if you are extroverted in one realm, then you must necessarily be introverted in another, and vice versa.
%h3 Being an ambivert vs being bipolar
%p
  An ambivert appears relatively more introverted when surrounded by extroverts and relatively more extroverted when surrounded by introverts. They themselves do not change, they merely appear different by comparison.
%p
  BipolarType asserts that someone who is bipolar actually becomes physiologically more introverted when surrounded by extroverts and physiologically more extroverted when surrounded by introverts. They self-regulate in order to keep the balance of introversion and extroversion in the group constant. If a group of people needs an extrovert, they will step up and become that extrovert. If a group of people needs an introvert, they will retire into themselves and become that introvert.
%p
  They do not, however, change their relative extroversions and introversions. That is, if they are more extroverted in one realm than another, then when manic they are still more extroverted in the first realm than the second. If that is the extroversion required of them, then they do not appear manic, as their extroversion is not pathological. If, however, the extroversion that is required of them is their typical introversion, then when their introverted realm becomes extroverted, their normally extroverted realm may become pathologically extroverted, aka mania. Similarly, if they are required to become more introverted in a normally extroverted realm, then that extroverted realm mearly becomes normally introverted, but their previously introverted realm may become pathologically introverted, aka depression.
%h3 BipolarType vs the MBTI&reg;
%p
  The MBTI constrains combinations of introversion and extroversion in such a way as to create sixteen types. For example, the MBTI asserts that if you are extroverted in the Feeling realm, you must necessarily be introverted in either the Intuitive or Sensing realm; you cannot have Thinking as your auxiliary introverted realm. It also asserts that if you are extroverted in the Feeling realm, you must necessariliy be a Judging type; you cannot be a Perceiving type and also be a dominant extroverted feeler.
%p
  BipolarType lifts the constraints and differentiates to the third realm, giving 192 types. It uses the same symbols as the MBTI but uses different words to describe concepts which are similar but not identical. For this reason, BipolarType symbols are not acronymic.
%h2 BipolarType vs the DSM-5
%p
  The DSM classifies mania as producing “too much”. It compares your production with “normal” production. Anyone reading the checklist of manic symptoms would have to believe that extroversion in and of itself is considered pathological by the psychiatric community.
%p
  Its classification of depression however, is patently absurd. Lose weight? You’re depressed. Gain weight? You’re depressed. Insomnia? You’re depressed. Hypersomnia? You’re depressed. Psychomotor agitation? You’re depressed. Psychomotor retardation? You’re depressed. Diminished ability to think? You’re depressed. Indecisiveness (you’re thinking too much and keep changing your mind)? You’re depressed. It even lists suicide as a symptom of depression, when anyone who has ever been actively suicidal knows that it’s a symptom of mania: nobody who is depressed has enough energy or strength to actually do away with themselves. Lie in bed and hope for death to come to you? Sure. Go out and
  %em effectuate
  it? That’s not depression, that’s mania.
%p
  BipolarType classifies mania as when you cannot stop producing long enough to consume or sleep — unbalanced production — and depression as when you cannot stop consuming or sleeping long enough to produce — unbalanced consumption. It compares your production with your consumption and only defines a behavior as pathological if it becomes unbalanced.
%h3 BipolarType vs drug therapy
%p
  Neither extroversion nor introversion is inherently abnormal or pathological. Mania, although characterized with symptoms such as “more talkative than usual” is only pathological because the individual gets themselves into trouble because they have stopped
  %em listening.
  It’s not the talking that is the problem. It’s the lack of balance.
%p
  If you can catch someone during their first bipolar episode, and prevent all future bipolar episodes, then they will be perfectly content to take mood stabilizing drugs for the rest of their life: the pathological extroversion associated with mania and the pathological introversion associated with depression are horrible and unwanted, and are much better drugged away.
%p
  If, however, you wait until someone has been bipolar for years before starting drug therapy, then you have a problem. Because the perfectly normal extroversion associated with mania, or the perfectly normal introversion asociated with depression, may be something they are unwilling or unable to give up. They may not be in a position to be always extroverted (given stimulants so they can not become depressed) or always introverted (given sedatives so they can not become manic). They may not even know what “normal” is for them.
%p
  BipolarType attempts to differentiate pathological (unbalanced) behaviors from “normal” introversion and extroversion by teasing out exactly what the different behaviors are, what triggers them, and how to balance them.
