- content_for(:title, 'Theory')
%h2 Consumption & Production
=render "realm", :realm => Realm.generic
%h2 The Four Attitudes
-Quad.generic.subtypes.each do |subtype|
  =render "attitude/#{subtype.domainer}", :subtype => subtype
