- content_for(:title, 'Theory')
%h2 C. G. Jung
%p
  Jung was the first to define Introversion and Extroversion. He defined both as normal: introversion is not a pathological lack of extroversion, nor is introversion better than extroversion, they are merely different. 
%p
  He also noted that not all extroverts are the same, nor are all introverts. He defined four separate realms, each of which manifests extroversion and introversion differently. 
%p
  Jung’s 
  %cite Psychological Types
  is his treatise on these patterns of behavior.
%h2 Isabel Briggs Myers
%p
  Briggs Myers’s
  %cite Gifts Differing
  expands Jung’s theory in two ways. 
%p
  First, she stresses the fact that everyone, no matter how introverted or extroverted, has aspects of themselves that are more extroverted or more introverted. Thus, even if someone is extremely extroverted in one realm, there is another realm in which they are more introverted. Similarly, someone extremely introverted in one realm has another realm in which they are more extroverted. 
%p
  Second, she noticed that even two extroverts in the same realm have markedly different behaviors, and she added another dimension to extroversion to explain these differences. That is, for your more extroverted realm, she differentiated between those who primarily perceive stimuli vs those who judge or make an effort to control the stimuli.
%h2 Alice Brown
%p
  %cite BipolarType
  is based on Jung’s and Briggs Myers’s theories, but has two main differences. 
%p
  First, BipolarType is not concerned with interpersonal differences. BipolarType is only concerned with intrapersonal differences. BipolarType is not asking the question “how introverted or extroverted are you compared to other people?”.  Nor is BipolarType concerned with which realms you prefer, or are more comfortable in, compared to other people. BipolarType is asking the question “what is your relative attitude towards each of the four realms?”
%p
  Second, BipolarType is not purely descriptive. It doesn’t merely describe how someone behaves, it explains how they can most easily alleviate the inevitable
  %em results
  of unbalanced behavior.
%h2 Nomenclature
%h3 The four realms
%p
  BipolarType has redefined the Jungian functions as realms connected with a specific sensory system and a specific neuro-hormonal subsystem.  
%p
  BipolarType treats taste and smell as one sense: the Gustatory realm is closest to the Jungian function of Sensation (anything physical, as opposed to mental) and is associated with the Serotonin subsystem (tampering with your serotonin subsystem makes a difference in what you eat). 
%p
  The Visual realm is closest to the Jungian function of Intuition (the ability to see and believe patterns) and is associated with the GABA subsystem (tampering with the GABA subsystem makes a difference in what patterns you see and what you remember). 
%p
  The Auditory realm is closest to the Jungian function of Feeling (the ability to hear and understand personal opinions) and is associated with the Oxytocin subsystem (tampering with the oxytocin subsystem makes a difference in how well you relate to other people). 
%p
  BipolarType also treats touch and pain as one sense: the Tactile realm is closest to the Jungian function of Thinking (the ability to use tools to do work and receive a logical return on your investment) and is associated with the Dopamine subsystem (tampering with the dopamine subsystem makes a difference in how hard you work to achieve rewards). 
%h3 The four attitudes
%p
  Because Introversion and Extroversion have become almost exclusively associated with
  %em Auditory
  introversion and extroversion (whether you like to socialize and spend time talking to and listening to other people) BipolarType does not use these terms, but uses relative Sensitivity and Insensitivity to stimulation instead. 
%p
  Because Perception does not stress the importance of actually consuming what you perceive, and Judging does not explain that the Judgers are too busy producing to stop and perceive, and because they produce more they have to consume proportionally more strength which is why they tend to judge and control what they consume, BipolarType does not use these terms, but uses Consumer and Producer instead.
