- content_for(:title, 'Theory')
%p
  BipolarType is based on my belief that the Bipolar spectrum is a single illness that manifests different symptoms based on your personality type.
%p
  I believe that there are four basic realms of behavior, each associated with a different set of sensory signals.
  %table
    %caption The Four Realms
    %tr
      %th.third.none
      -Realm.all.each do |realm|
        %th.sixth.bordered=realm.name
    %tr
      %th.bordered Sensory System
      -Realm.all.each do |realm|
        %td.bordered.middle=realm.sense
    %tr
      %th.bordered Resources
      -Realm.all.each do |realm|
        %td.bordered.middle=realm.resources
    %tr
      %th.bordered Neurochemical Hormonal System
      -Realm.all.each do |realm|
        %td.bordered.middle=realm.neuro
%p
  I believe that your innate sensitivity to the four senses determines your attitude towards mania and depression in each of the four realms.
  %table
    %caption The Four Attitudes
    %tr
      %th.quarter.none &nbsp;
      %th.quarter.bordered Relative Sensitivity
      %th.quarter.bordered Mania
      %th.quarter.bordered Depression
    %tr
      %th.bordered=Attitude.first.name
      %td.bordered.middle Most Insensitive
      %td.bordered.middle=Attitude.first.manic_affect.capitalize
      %td.bordered.middle=Attitude.first.depressed_affect.capitalize
    %tr
      %th.bordered=Attitude.second.name
      %td.bordered.middle Relatively Insensitive
      %td.bordered.middle
        =Attitude.second.manic_affect.capitalize.comma
        but good for you
      %td.bordered.middle
        =Attitude.second.depressed_affect.capitalize.comma
        but bad for you
    %tr
      %th.bordered=Attitude.third.name
      %td.bordered.middle Relatively Sensitive
      %td.bordered.middle
        =Attitude.third.manic_affect.capitalize.comma
        but bad for you
      %td.bordered.middle
        =Attitude.third.depressed_affect.capitalize.comma
        but good for you
    %tr
      %th.bordered=Attitude.fourth.name
      %td.bordered.middle Most Sensitive
      %td.bordered.middle=Attitude.fourth.manic_affect.capitalize
      %td.bordered.middle=Attitude.fourth.depressed_affect.capitalize
%p
  I believe that, in the long run, manipulating the sensory signals present in a controllable environment (your own home or office or other personal space) is more effective at mitigating the symptoms of mania and depression than manipulating brain chemistry and the reaction to those signals.
=render "footnote"
