- content_for(:title, 'Theory')
%p
  BipolarType is based on my belief that the Bipolar spectrum is a single illness that manifests different symptoms based on your personality type.
%p
  I believe that there are four basic realms of behavior, each associated with a different set of sensory signals.
  %table
    %caption The Four Realms
    %tr
      %th.third.none
      -Realm.all.each do |realm|
        %th.sixth.bordered=realm.name
    %tr
      %th.bordered Sensory System
      -Realm.all.each do |realm|
        %td.bordered.middle=realm.sense
    %tr
      %th.bordered Triggers
      -Realm.all.each do |realm|
        %td.bordered.middle=realm.resources
    %tr
      %th.bordered Neurochemical Hormonal System
      -Realm.all.each do |realm|
        %td.bordered.middle=realm.neuro
    %tr
      %th.bordered Overloaded
      -Realm.all.each do |realm|
        %td.bordered.middle=realm.overfull
%p
  I believe that your natural sensitivity to the four senses plus your initial nurture as an infant determines your attitude towards mania and depression in each of the four realms.
  %table
    %caption The Four Attitudes
    %tr
      %th.third.none &nbsp;
      %th.third.bordered Mania
      %th.third.bordered Depression
    -Attitude.all.each do |attitude|
      %tr
        %th.bordered=attitude.name
        %td.bordered.middle=attitude.manic_affect.capitalize
        %td.bordered.middle=attitude.depressed_affect.capitalize
%p
  I believe that, in the long run, manipulating the sensory signals present in a controllable environment (your own home or office or other personal space) is more effective at mitigating the symptoms of mania and depression than manipulating brain chemistry and the reaction to those signals.
=render "footnote"
