- content_for(:title, 'The Theory')
%table
  %tr
    %td.top.half
      %h2 Mania
      %p When you are manic, or taking stimulants, your senses become more acute. The same stimulus, as measured by laboratory equipment, appears to be more so: better or worse. 
      %p Good foods smell more fragrant, bad ones taste terrible; good songs sound more harmonious, bad ones sound more out of tune; good sights are more beautiful, bad ones clash more; good tools feel more pleasurable, bad ones feel more painful. 
      %p The actual stimulus hasn’t changed at all, but your perception has changed: your brain thinks that it has received more energy, but it is wrong. Because it thinks it has received more, it consumes less: you stop eating, listening, looking, and working sooner. But you feel more energetic, so you walk, talk, decide, and spend more.
      %p Mania (or stimulants such as caffeine) cause you to use up your stored energy because although you think you are receiving more energy, you are actually receiving less but using more.
    %td.top.half
      %h2 Depression
      %p When you are depressed, or taking sedatives, your senses become less acute. The same stimulus, as measured by laboratory equipment, appears to be less so: not as good or not as bad. 
      %p Good foods taste bland, bad ones taste less bitter; good stories sound less interesting, bad ones sound less whiny; good sights are less colorful, bad ones aren't as ugly; good touches are less pleasurable, bad ones are less painful. 
      %p The actual stimulus hasn’t changed at all, but your perception has changed: your brain thinks that it has received less energy, but it is wrong. Because it thinks it has received less, it consumes more: you keep eating, listening, looking, and working longer. But you feel less energetic, so you walk, talk, decide, and spend less.
      %p Depression (or sedatives such as alcohol) cause you to accumulate stored energy because although you think you are receiving less energy, you are actually receiving more but using less.
%h2 The Four Attitudes
%table
  %tr
    %td.top.half
      %h3 Insensitive Consumer
      %p.heading I have too much stored energy
      %p Relatively insensitive to stimuli to begin with, the increased pleasure from mania outweighs the increased pain as it’s not difficult to find something else to consume. Not one to produce much at the best of times, you’re apt to ignore the excess production or take sedatives if you start to produce too much. Generally speaking, mania is a pleasure.
      %p Depression, on the other hand, is unpleasant because everything seem dull and lifeless and you keep consuming more and more, trying to recapture the pleasure that you remember. Unbothered by the fact that you are producing less, you’re highly unlikely to take stimulants in order to produce more. Eventually you realize just how much energy you have stored up and try to stop consuming so much. Unfortunately, this just makes you produce even less and store even more energy.
    %td.top.half
      %h3 I need to be able to produce
      %p Mania is great. I can produce more without having to stop and consume as much. I like being manic right up until I either discover that I can’t stop producing even though there is nothing left to produce, or I run out of energy and am forced to consume; I never noticed before how horrible everything is. I really need some sedatives.
      %p Depression is unbearable. I keep consuming and consuming and I still can't produce. I gain more and more energy but I seem to be less and less able to use it. And everything I consume seems so boring! I really need some stimulants.
  %tr
    %td.top.half
      %h3 I need to be able to consume
      %p Depression is great. I can consume more without having to stop and produce as much. I like being depressed right up until I either discover that I can’t stop consuming even though there is nothing left to consume, or I overflow with energy and am forced to produce; I never noticed before how hard it is to produce when you’re dragging around so much stored energy. I really need some stimulants.
      %p Mania is unbearable. I keep producing and producing and I still can't consume. I lose more and more energy but I seem to be less and less able to recover it. And everything I consume seems so overwhelming! I really need some sedatives.
    %td.top.half
      %h3 I have too little energy already
      %p I am horrified that I am consuming less and losing energy. I hate being manic. Thankfully it doesn't last forever. Even if I'm taking sedatives I'll eventually habituate and the mania will end.
      %p I am thankful that I am consuming more and gaining energy. I love being depressed. Too bad it doesn't last forever. Too bad I eventually become acclimated to the sedatives and need more and more.