- content_for(:title, 'Theory')
%h2 C. G. Jung
%p
  Jung was the first to define Introversion and Extroversion. He defined both as normal: introversion is not a pathological lack of extroversion, nor is introversion better than extroversion, they are merely different.
%p
  He also noted that not all extroverts are the same, nor are all introverts. He defined four separate realms, each of which manifests extroversion and introversion differently.
%p
  Jung’s
  %cite Psychological Types
  is his treatise on these patterns of behavior.
%h2 Isabel Briggs Myers
%p
  Briggs Myers’s
  %cite Gifts Differing
  expands Jung’s theory in two ways.
%p
  First, she stresses the fact that everyone, no matter how introverted or extroverted, has aspects of themselves that are more extroverted or more introverted. Thus, even if someone is extremely extroverted in one realm, there is another realm in which they are more introverted. Similarly, someone extremely introverted in one realm has another realm in which they are more extroverted.
%p
  Second, she noticed that even two extroverts in the same realm have markedly different behaviors, and she added another dimension to extroversion to explain these differences. That is, for your more extroverted realm, she differentiated between those who primarily perceive stimuli vs those who judge or make an effort to control the stimuli.
%h2 Alice Brown
%p
  %cite BipolarType
  is based on Jung’s and Briggs Myers’s theories, but has two main differences.
%p
  First, BipolarType is not concerned with interpersonal differences. BipolarType is only concerned with intrapersonal differences. BipolarType is not asking the question “how introverted or extroverted are you compared to other people?”.  Nor is BipolarType concerned with which realms you prefer, or are more comfortable in, compared to other people. BipolarType is asking the question “what is your relative attitude towards each of the four realms?”
%p
  Second, BipolarType is not purely descriptive. It doesn’t merely describe how someone behaves, it explains how they can most easily alleviate the inevitable
  %em results
  of unbalanced behavior.
%h2 The four realms
%p
  BipolarType has redefined the Jungian functions as realms connected with a specific sensory system and a specific neuro-hormonal subsystem.
%p
  BipolarType treats taste and smell as one sense: the Gustatory realm is closest to the Jungian function of Sensation (anything physical, as opposed to mental) and is associated with the Serotonin subsystem (tampering with your serotonin subsystem makes a difference in what you eat).
%p
  The Visual realm is closest to the Jungian function of Intuition (the ability to see and believe patterns) and is associated with the GABA subsystem (tampering with the GABA subsystem makes a difference in what patterns you see and what you remember).
%p
  The Auditory realm is closest to the Jungian function of Feeling (the ability to hear and understand personal opinions) and is associated with the Oxytocin subsystem (tampering with the oxytocin subsystem makes a difference in how well you relate to other people).
%p
  BipolarType also treats touch and pain as one sense: the Tactile realm is closest to the Jungian function of Thinking (the ability to use tools to do work and receive a logical return on your investment) and is associated with the Dopamine subsystem (tampering with the dopamine subsystem makes a difference in how hard you work to achieve rewards).
%h2 The four attitudes
%p
  Because Introversion and Extroversion have become almost exclusively associated with
  %em Auditory
  introversion and extroversion (whether you like to socialize and spend time talking to and listening to other people), BipolarType does not use these terms, but uses relative Sensitivity and Insensitivity to stimulation instead.
%p
  Because Perception does not stress the importance of actually consuming what you perceive, and Judging does not recognize that Judgers
  %em produce more
  which is why they have to consume proportionally more strength which is why they tend to judge and control what they consume, BipolarType does not use these terms, but uses Consumer and Producer instead.
%h2 The four realm-attitude pairs
%h3 Relatively Insensitive
%p In your two relatively insensitive realms you consume, and thus produce, more than average, or “too much”. You get many more messages telling you to stop consuming and producing than to consume or produce more.
%p
  Even someone who is much more insensitive than other people has two realms in which the messages to
  %em stop
  are stronger and more ubiquitous than those in general. Similarly, even someone who is much more sensitive than other people gets a few more “stop” messages in two of the realms than the other two.
%h4 Insensitive Consumer
%p
  In one of these realms, you pay more attention to messages signaling that you should produce less, than those signaling you to consume less. You are left unbalanced, with too much unused energy, and with residual messages “you consume too much” that you have not paid much attention to.
%p
  If having too much unused energy becomes a problem for you, you begin to pay more attention to these messages and attempt to solve this problem by consuming less. BipolarType asserts that you will be much happier in the long run if you
  %em produce more
  even though you are getting relatively few signals to do so since you already produce more than average.
%h4 Insensitive Producer
%p
  In the other of your less sensitive realms, you pay more attention to messages signaling that you should consume less, than those signaling you to produce less. You are left unbalanced, with too little available energy, and with residual messages “you produce too much” that you have not paid much attention to.
%p
  If having too little available energy becomes a problem for you, you begin to pay more attention to these messages and attempt to solve this problem by producing less. BipolarType asserts that you will be much happier in the long run if you
  %em consume more
  even though you are getting relatively few signals to so since you already consume more than average.
%h3 Relatively Sensitive
%p In your two relatively sensitive realms you consume, and thus produce, less than average, or “too little”. You get many more messages telling you to start consuming and producing than to consume or produce less.
%p
  Even someone who is much more sensitive than other people has two realms in which the messages to
  %em start
  are stronger and more ubiquitous than those in general. Similarly, even someone who is much less sensitive than other people gets a few more “start” messages in two of the realms than the other two.
%h4 Sensitive Consumer
%p
  In one of these realms, you pay more attention to messages signaling that you should consume more, than those signaling you to produce more. You are left unbalanced, with too much unused energy, and with residual messages “you produce too little” that you have not paid much attention to.
%p
  If having too much unused energy becomes a problem for you, you begin to pay more attention to these messages and attempt to solve this problem by producing more. BipolarType asserts that you will be much happier in the long run if you
  %em consume less
  even though you are getting relatively few signals to do so since you already consume less than average.
%h4 Sensitive Producer
%p
  In the other of your more sensitive realms, you pay more attention to messages signaling that you should produce more, than those signaling you to consume more. You are left unbalanced, with too little available energy, and with residual messages “you consume too little” that you have not paid much attention to.
%p
  If having too little available energy becomes a problem for you, you begin to pay more attention to these messages and attempt to solve this problem by consuming more. BipolarType asserts that you will be much happier in the long run if you
  %em produce less
  even though you are getting relatively few signals to so since you already produce less than average.
