- content_for(:title, 'Theory')
%h2 Intrapersonal
%p
  Most personality theories compare one person to another person. BipolarType compares you to yourself.
%h3 Realms
%h3 Attitudes
%h3 Subtypes
%h3 BipolarTypes
%p
  Whether, compared to other people, you are sensitive or insensitive (introverted or extroverted), you are not equally sensitive in every realm.
%h2 Dynamic
%p
  BipolarType also asserts that everyone is the least sensitive in the morning on the first day of the week in the first part of the year (which is why they are then most in need of the most common general stimulant caffeine) and most sensitive in the evening on the last day of the week in the last part of the year (which is why they are then most in need of the most common general stimulant alcohol).
%p
  No matter where they are during the cycle, they are still the most sensitive in their most sensitive realm, and the least sensitive in their least sensitive realm, which is why personality is stable over time.
%p
  =image_tag("cycle.png", :alt => "cycle")
%h3 Daily cycle
%h3 Weekly cycle
%h3 Annual cycle
%h2 BipolarType vs the DSM-5
%p
  The DSM says that if you are awake, alert, and working or playing when the rest of the world is asleep, resting, or hibernating, then you are manic. If you are asleep, resting, or hibernating when the rest of the world is awake, alert, and working or playing, then you are depressed.
%p
  BipolarType says your cycles have become unentrained.
%h2 BipolarType vs the MBTI&reg;
%p
  In the MBTI, an
  =render "mbti", :mbti => "ENTJ"
  is someone who is moderately extroverted compared to the general population, and prefers to spend most of their time in the mental realm. Being moderately extroverted means that although they crave background details and prefer colorful pictures, they know they — and their dependents — need lots of foreground shapes.
%p
  In BipolarType, an
  =link_to "ENTJ", type_path("ejnt")
  is someone who is relatively insensitive in the mental realm. How sensitive they are
  %em compared to other people
  is unknown (they may or may not be an extrovert), as is whether they
  %em enjoy
  spending time in the mental realm or how
  %em many
  background details they crave.
%p
  Although it is possible for someone’s MBTI true type to be one of their four BipolarType subtypes, it is by no means guaranteed.
%p
  For example, my BipolarType is
  =link_to Quad.first.mbti, type_path(Quad.first.path)
  but I self-identify as an
  =render "mbti", :mbti => "ISFP"
  — someone who is extremely introverted compared to the general population, and prefers to spend most of their time in the physical realm —
  even though
  =link_to "ISFP", type_path("ipsf")
  is
  %em not
  one of my four BipolarType subtypes.
