- content_for(:title, 'Theory')
%h2 Balance
%p
  Everyone is a little bit unbalanced, or else we would all have identical personalities.
%p
  It’s those slight natural tendencies — augmented by environment — which make up the study of individual differences. Normal personality theories validate individuality: you are not just like everyone else — without abnormality: there are other people just like you.
%p
  Some people are extroverted and some are introverted and the measure falls along a normal distribution: it is no more normal to be extroverted than introverted, and most people lie somewhere in the middle, but nobody is completely centered at all times.
%p
  For most people, being a little unbalanced is only an inconvenience: everyone has their strengths and weaknesses and for the most part your strengths balance out your weaknesses. And there are silver linings associated with most weaknesses.
%p
  But for people who are bipolar, being unbalanced can be fatal.
%h2 BipolarType vs the DSM-5
%p
  The DSM classifies mania and depression using a checklist of symptoms of which you must have a certain number for a certain length of time in order to be considered clinically significant.
%p
  BipolarType classifies mania as when you cannot stop producing long enough to consume or sleep, and depression as when you cannot stop sleeping or consuming long enough to produce.
  %em What
  you produce or consume too much of depends on your natural pattern of behavior. Whether producing or consuming “too much” is
  %em problematic
  depends on your previous state.
%p
  BipolarType can be used to identify and forestall manic and depressive behaviors long before the individual has to be drugged, hospitalized, or incarcerated.
  It can also differentiate mania from depression when the cycles are too short to fit DSM diagnostic criteria as anything but a “mixed state”.
%h2 BipolarType vs the MBTI&reg;
%p
  BipolarType uses the same symbols as the MBTI but the definitions are somewhat different. For this reason, BipolarType symbols are not acronymic. For example, S in BipolarType isn’t short for Sensing; S indicates the Physical realm.
%p
  I appologize for the confusion to anyone not familiar with the MBTI. For example, ISFP should be designated as CPVE (Consume Physical and Verbal Energy) but CPVE means nothing at all to me, whereas ISFP means a lot. A future version of this app will allow you to choose which symbols you prefer, depending on whether you come from an MBTI background or not.
%p
  The MBTI combines the eight symbols into sixteen types, but BipolarType combines the same eight symbols into 192 types.
  Every MBTI type corresponds to twelve BipolarTypes. Some BipolarTypes are closer to the MBTI theoretical type dynamics, and will fit the MBTI descriptions better than others.
