- content_for(:title, 'Theory')
%h2 Normal Personality
%p
  Normal personality theories validate individual differences without abnormality: you are not the same as everyone else, but there are other people just like you.
%p
  Jungian personality theory asserts that people are not just introverted or extroverted, they are introverted and extroverted in different realms. Jungian personality theory describes the four realms (thinking, feeling, sensing and intuiting), and thus describes eight types: four extroverted types and four introverted types.
%p
  The MBTI is an extension of Jungian personality theory, which says that if you are extroverted in one realm, then you must necessarily be introverted in another, and vice versa. It also describes two different kinds of extroversion: perceptive and judging. The MBTI constrains possible combinations in such a way as to create sixteen MBTI types.
%p
  BipolarType lifts the constraints but does not differentiate between extroverts with introversion and introverts with extroversion, giving 24 BipolarTypes. BipolarType uses the same symbols as the MBTI but uses different words to describe concepts which are similar but not identical. For this reason, BipolarType symbols are not acronymic.
