- content_for(:title, 'Theory')
%p
  BipolarType is my theory that Manic-Depression manifests different symptoms depending on your personality type.
%p
  I hypothesize that there are four basic realms of behavior, each associated with a different sensory signal. The more energy you can gain during consumption without the related neurochemical hormonal system becoming overloaded and forcing you to stop consuming, the more energy you will have available to use during current production or store as potential energy for future production.
  %table
    %caption The Four Realms
    %tr
      %th.fifth.none
      -Realm.all.each do |realm|
        %th.fifth.bordered=link_to realm.name, type_path(realm.path)
    %tr
      %th.bordered Sensory System
      -Realm.all.each do |realm|
        %td.bordered.middle=realm.sense
    %tr
      %th.bordered Brain Chemistry
      -Realm.all.each do |realm|
        %td.bordered.middle=realm.neuro
    %tr
      %th.bordered Consume
      -Realm.all.each do |realm|
        %td.bordered.middle=realm.consume
    %tr
      %th.bordered Produce
      -Realm.all.each do |realm|
        %td.bordered.middle=realm.produce
    %tr
      %th.bordered Energy
      -Realm.all.each do |realm|
        %td.bordered.middle=realm.kinetics
    %tr
      %th.bordered Stored Energy
      -Realm.all.each do |realm|
        %td.bordered.middle=realm.potentials
%p
  I further hypothesize that your relative sensitivity to each signal determines your attitude towards each of the four realms, the amount of potential energy you usually have stored, and the effect of mania (or stimulants) and depression (or sedatives).
  %table
    %caption The Four Attitudes
    %tr
      %th.quarter &nbsp;
      %th.quarter.bordered Sensitivity
    -Attitude.all.each do |attitude|
      %tr
        %th.bordered.middle=link_to attitude.name, type_path(attitude.path)
        %td.bordered.middle=attitude.sensitivity.titleize
=render "footnote"
