<!DOCTYPE html>
<html>
  <head>
    <title>BipolarType: The 192 BipolarTypes</title>
    <meta content='text/html; charset=utf-8'>
    <meta content='width=device-width' name='viewport'>
    <link href="/assets/application.css" media="screen" rel="stylesheet" />
  </head>
  <body>
    <p class='small'>
      <a href="/">Introduction</a>
      |
      <a href="/type/theory">Theory</a>
      |
      <a href="/type/outline">Outline</a>
      |
      <a href="/discover/Q1">Discover</a>
      |
      <a href="/type/fstnsf">My BipolarType</a>
      |
      <a class="external" href="https://github.com/ambtus/bipolar_type">Source Code</a>
    </p>
    <h1>BipolarType: The 192 BipolarTypes</h1>
    <div>
      <a href='#ISTJ'>ISTJ</a>
      <a href='#ISFJ'>ISFJ</a>
      <a href='#INFJ'>INFJ</a>
      <a href='#INTJ'>INTJ</a>
      <a href='#ESTP'>ESTP</a>
      <a href='#ESFP'>ESFP</a>
      <a href='#ENFP'>ENFP</a>
      <a href='#ENTP'>ENTP</a>
      <a href='#ISTP'>ISTP</a>
      <a href='#ISFP'>ISFP</a>
      <a href='#INFP'>INFP</a>
      <a href='#INTP'>INTP</a>
      <a href='#ESTJ'>ESTJ</a>
      <a href='#ESFJ'>ESFJ</a>
      <a href='#ENFJ'>ENFJ</a>
      <a href='#ENTJ'>ENTJ</a>
      <a name='ENFJ'></a>
      <h2><a class="external" href="http://en.wikipedia.org/wiki/ENFJ">ENFJ</a></h2>
      <dl>
        <dt><a href="/type/fnsftn">EF–IT–NJ–SP</a></dt>
        <dd>intelligible (EFJ), not indebted (ITP), theoretical (INJ), and not strong (ESP)</dd>
        <dt><a href="/type/fntfsn">EF–IS–NJ–TP</a></dt>
        <dd>intelligible (EFJ), not weak (ISP), theoretical (INJ), and not wealthy (ETP)</dd>
        <dt><a href="/type/fttfsn">EF–IS–TP–NJ</a></dt>
        <dd>intelligible (EFJ), not weak (ISP), poor (ETP), and not indecisive (INJ)</dd>
        <dt><a href="/type/nfnfts">EN–IS–FJ–TP</a></dt>
        <dd>indecisive (ENP), not active (ISJ), intelligible (EFJ), and not indebted (ITP)</dd>
        <dt><a href="/type/nfnfst">EN–IT–FJ–SP</a></dt>
        <dd>indecisive (ENP), not poor (ITJ), intelligible (EFJ), and not weak (ISP)</dd>
        <dt><a href="/type/nsnfst">EN–IT–SP–FJ</a></dt>
        <dd>indecisive (ENP), not poor (ITJ), fat (ISP), and not empathetic (EFJ)</dd>
        <dt><a href="/type/nfsntf">EN–IT–FJ–SP</a></dt>
        <dd>irresolute (ENJ), not indebted (ITP), understanding (IFJ), and not strong (ESP)</dd>
        <dt><a href="/type/nftnsf">EN–IS–FJ–TP</a></dt>
        <dd>irresolute (ENJ), not weak (ISP), understanding (IFJ), and not wealthy (ETP)</dd>
        <dt><a href="/type/nssntf">EN–IT–SP–FJ</a></dt>
        <dd>irresolute (ENJ), not indebted (ITP), active (ESP), and not persuasive (IFJ)</dd>
        <dt><a href="/type/fnfnts">EF–IS–NJ–TP</a></dt>
        <dd>persuasive (EFP), not active (ISJ), irresolute (ENJ), and not indebted (ITP)</dd>
        <dt><a href="/type/ftfnts">EF–IS–TP–NJ</a></dt>
        <dd>persuasive (EFP), not active (ISJ), rich (ITP), and not trivial (ENJ)</dd>
        <dt><a href="/type/fnfnst">EF–IT–NJ–SP</a></dt>
        <dd>persuasive (EFP), not poor (ITJ), irresolute (ENJ), and not weak (ISP)</dd>
      </dl>
      <a href='#ISTJ'>ISTJ</a>
      <a href='#ISFJ'>ISFJ</a>
      <a href='#INFJ'>INFJ</a>
      <a href='#INTJ'>INTJ</a>
      <a href='#ESTP'>ESTP</a>
      <a href='#ESFP'>ESFP</a>
      <a href='#ENFP'>ENFP</a>
      <a href='#ENTP'>ENTP</a>
      <a href='#ISTP'>ISTP</a>
      <a href='#ISFP'>ISFP</a>
      <a href='#INFP'>INFP</a>
      <a href='#INTP'>INTP</a>
      <a href='#ESTJ'>ESTJ</a>
      <a href='#ESFJ'>ESFJ</a>
      <a href='#ENFJ'>ENFJ</a>
      <a href='#ENTJ'>ENTJ</a>
      <a name='ENFP'></a>
      <h2><a class="external" href="http://en.wikipedia.org/wiki/ENFP">ENFP</a></h2>
      <dl>
        <dt><a href="/type/nfntfs">EN–IS–FP–TJ</a></dt>
        <dd>indecisive (ENP), not active (ISJ), empathetic (IFP), and not rich (ETJ)</dd>
        <dt><a href="/type/nfnsft">EN–IT–FP–SJ</a></dt>
        <dd>indecisive (ENP), not poor (ITJ), empathetic (IFP), and not fat (ESJ)</dd>
        <dt><a href="/type/nsnsft">EN–IT–SJ–FP</a></dt>
        <dd>indecisive (ENP), not poor (ITJ), weak (ESJ), and not intelligible (IFP)</dd>
        <dt><a href="/type/fnnfts">EF–IT–NP–SJ</a></dt>
        <dd>intelligible (EFJ), not indebted (ITP), indecisive (ENP), and not active (ISJ)</dd>
        <dt><a href="/type/fnnfst">EF–IS–NP–TJ</a></dt>
        <dd>intelligible (EFJ), not weak (ISP), indecisive (ENP), and not poor (ITJ)</dd>
        <dt><a href="/type/ftnfst">EF–IS–TJ–NP</a></dt>
        <dd>intelligible (EFJ), not weak (ISP), wealthy (ITJ), and not theoretical (ENP)</dd>
        <dt><a href="/type/fnftns">EF–IS–NP–TJ</a></dt>
        <dd>persuasive (EFP), not active (ISJ), trivial (INP), and not rich (ETJ)</dd>
        <dt><a href="/type/fnfsnt">EF–IT–NP–SJ</a></dt>
        <dd>persuasive (EFP), not poor (ITJ), trivial (INP), and not fat (ESJ)</dd>
        <dt><a href="/type/ftftns">EF–IS–TJ–NP</a></dt>
        <dd>persuasive (EFP), not active (ISJ), indebted (ETJ), and not irresolute (INP)</dd>
        <dt><a href="/type/nffnts">EN–IT–FP–SJ</a></dt>
        <dd>irresolute (ENJ), not indebted (ITP), persuasive (EFP), and not active (ISJ)</dd>
        <dt><a href="/type/nsfnts">EN–IT–SJ–FP</a></dt>
        <dd>irresolute (ENJ), not indebted (ITP), strong (ISJ), and not understanding (EFP)</dd>
        <dt><a href="/type/nffnst">EN–IS–FP–TJ</a></dt>
        <dd>irresolute (ENJ), not weak (ISP), persuasive (EFP), and not poor (ITJ)</dd>
      </dl>
      <a href='#ISTJ'>ISTJ</a>
      <a href='#ISFJ'>ISFJ</a>
      <a href='#INFJ'>INFJ</a>
      <a href='#INTJ'>INTJ</a>
      <a href='#ESTP'>ESTP</a>
      <a href='#ESFP'>ESFP</a>
      <a href='#ENFP'>ENFP</a>
      <a href='#ENTP'>ENTP</a>
      <a href='#ISTP'>ISTP</a>
      <a href='#ISFP'>ISFP</a>
      <a href='#INFP'>INFP</a>
      <a href='#INTP'>INTP</a>
      <a href='#ESTJ'>ESTJ</a>
      <a href='#ESFJ'>ESFJ</a>
      <a href='#ENFJ'>ENFJ</a>
      <a href='#ENTJ'>ENTJ</a>
      <a name='ENTJ'></a>
      <h2><a class="external" href="http://en.wikipedia.org/wiki/ENTJ">ENTJ</a></h2>
      <dl>
        <dt><a href="/type/tnstfn">ET–IF–NJ–SP</a></dt>
        <dd>indebted (ETJ), not intelligible (IFP), theoretical (INJ), and not strong (ESP)</dd>
        <dt><a href="/type/tnftsn">ET–IS–NJ–FP</a></dt>
        <dd>indebted (ETJ), not weak (ISP), theoretical (INJ), and not understanding (EFP)</dd>
        <dt><a href="/type/tfftsn">ET–IS–FP–NJ</a></dt>
        <dd>indebted (ETJ), not weak (ISP), persuasive (EFP), and not indecisive (INJ)</dd>
        <dt><a href="/type/ntntfs">EN–IS–TJ–FP</a></dt>
        <dd>indecisive (ENP), not active (ISJ), indebted (ETJ), and not intelligible (IFP)</dd>
        <dt><a href="/type/ntntsf">EN–IF–TJ–SP</a></dt>
        <dd>indecisive (ENP), not persuasive (IFJ), indebted (ETJ), and not weak (ISP)</dd>
        <dt><a href="/type/nsntsf">EN–IF–SP–TJ</a></dt>
        <dd>indecisive (ENP), not persuasive (IFJ), fat (ISP), and not rich (ETJ)</dd>
        <dt><a href="/type/ntsnft">EN–IF–TJ–SP</a></dt>
        <dd>irresolute (ENJ), not intelligible (IFP), wealthy (ITJ), and not strong (ESP)</dd>
        <dt><a href="/type/ntfnst">EN–IS–TJ–FP</a></dt>
        <dd>irresolute (ENJ), not weak (ISP), wealthy (ITJ), and not understanding (EFP)</dd>
        <dt><a href="/type/nssnft">EN–IF–SP–TJ</a></dt>
        <dd>irresolute (ENJ), not intelligible (IFP), active (ESP), and not poor (ITJ)</dd>
        <dt><a href="/type/tntnfs">ET–IS–NJ–FP</a></dt>
        <dd>poor (ETP), not active (ISJ), irresolute (ENJ), and not intelligible (IFP)</dd>
        <dt><a href="/type/tftnfs">ET–IS–FP–NJ</a></dt>
        <dd>poor (ETP), not active (ISJ), empathetic (IFP), and not trivial (ENJ)</dd>
        <dt><a href="/type/tntnsf">ET–IF–NJ–SP</a></dt>
        <dd>poor (ETP), not persuasive (IFJ), irresolute (ENJ), and not weak (ISP)</dd>
      </dl>
      <a href='#ISTJ'>ISTJ</a>
      <a href='#ISFJ'>ISFJ</a>
      <a href='#INFJ'>INFJ</a>
      <a href='#INTJ'>INTJ</a>
      <a href='#ESTP'>ESTP</a>
      <a href='#ESFP'>ESFP</a>
      <a href='#ENFP'>ENFP</a>
      <a href='#ENTP'>ENTP</a>
      <a href='#ISTP'>ISTP</a>
      <a href='#ISFP'>ISFP</a>
      <a href='#INFP'>INFP</a>
      <a href='#INTP'>INTP</a>
      <a href='#ESTJ'>ESTJ</a>
      <a href='#ESFJ'>ESFJ</a>
      <a href='#ENFJ'>ENFJ</a>
      <a href='#ENTJ'>ENTJ</a>
      <a name='ENTP'></a>
      <h2><a class="external" href="http://en.wikipedia.org/wiki/ENTP">ENTP</a></h2>
      <dl>
        <dt><a href="/type/ntnfts">EN–IS–TP–FJ</a></dt>
        <dd>indecisive (ENP), not active (ISJ), rich (ITP), and not empathetic (EFJ)</dd>
        <dt><a href="/type/ntnstf">EN–IF–TP–SJ</a></dt>
        <dd>indecisive (ENP), not persuasive (IFJ), rich (ITP), and not fat (ESJ)</dd>
        <dt><a href="/type/nsnstf">EN–IF–SJ–TP</a></dt>
        <dd>indecisive (ENP), not persuasive (IFJ), weak (ESJ), and not indebted (ITP)</dd>
        <dt><a href="/type/tnntfs">ET–IF–NP–SJ</a></dt>
        <dd>indebted (ETJ), not intelligible (IFP), indecisive (ENP), and not active (ISJ)</dd>
        <dt><a href="/type/tnntsf">ET–IS–NP–FJ</a></dt>
        <dd>indebted (ETJ), not weak (ISP), indecisive (ENP), and not persuasive (IFJ)</dd>
        <dt><a href="/type/tfntsf">ET–IS–FJ–NP</a></dt>
        <dd>indebted (ETJ), not weak (ISP), understanding (IFJ), and not theoretical (ENP)</dd>
        <dt><a href="/type/tntfns">ET–IS–NP–FJ</a></dt>
        <dd>poor (ETP), not active (ISJ), trivial (INP), and not empathetic (EFJ)</dd>
        <dt><a href="/type/tntsnf">ET–IF–NP–SJ</a></dt>
        <dd>poor (ETP), not persuasive (IFJ), trivial (INP), and not fat (ESJ)</dd>
        <dt><a href="/type/tftfns">ET–IS–FJ–NP</a></dt>
        <dd>poor (ETP), not active (ISJ), intelligible (EFJ), and not irresolute (INP)</dd>
        <dt><a href="/type/nttnfs">EN–IF–TP–SJ</a></dt>
        <dd>irresolute (ENJ), not intelligible (IFP), poor (ETP), and not active (ISJ)</dd>
        <dt><a href="/type/nstnfs">EN–IF–SJ–TP</a></dt>
        <dd>irresolute (ENJ), not intelligible (IFP), strong (ISJ), and not wealthy (ETP)</dd>
        <dt><a href="/type/nttnsf">EN–IS–TP–FJ</a></dt>
        <dd>irresolute (ENJ), not weak (ISP), poor (ETP), and not persuasive (IFJ)</dd>
      </dl>
      <a href='#ISTJ'>ISTJ</a>
      <a href='#ISFJ'>ISFJ</a>
      <a href='#INFJ'>INFJ</a>
      <a href='#INTJ'>INTJ</a>
      <a href='#ESTP'>ESTP</a>
      <a href='#ESFP'>ESFP</a>
      <a href='#ENFP'>ENFP</a>
      <a href='#ENTP'>ENTP</a>
      <a href='#ISTP'>ISTP</a>
      <a href='#ISFP'>ISFP</a>
      <a href='#INFP'>INFP</a>
      <a href='#INTP'>INTP</a>
      <a href='#ESTJ'>ESTJ</a>
      <a href='#ESFJ'>ESFJ</a>
      <a href='#ENFJ'>ENFJ</a>
      <a href='#ENTJ'>ENTJ</a>
      <a name='ESFJ'></a>
      <h2><a class="external" href="http://en.wikipedia.org/wiki/ESFJ">ESFJ</a></h2>
      <dl>
        <dt><a href="/type/fsnfts">EF–IT–SJ–NP</a></dt>
        <dd>intelligible (EFJ), not indebted (ITP), strong (ISJ), and not theoretical (ENP)</dd>
        <dt><a href="/type/fstfns">EF–IN–SJ–TP</a></dt>
        <dd>intelligible (EFJ), not irresolute (INP), strong (ISJ), and not wealthy (ETP)</dd>
        <dt><a href="/type/fttfns">EF–IN–TP–SJ</a></dt>
        <dd>intelligible (EFJ), not irresolute (INP), poor (ETP), and not active (ISJ)</dd>
        <dt><a href="/type/sfsftn">ES–IN–FJ–TP</a></dt>
        <dd>active (ESP), not indecisive (INJ), intelligible (EFJ), and not indebted (ITP)</dd>
        <dt><a href="/type/sfsfnt">ES–IT–FJ–NP</a></dt>
        <dd>active (ESP), not poor (ITJ), intelligible (EFJ), and not irresolute (INP)</dd>
        <dt><a href="/type/snsfnt">ES–IT–NP–FJ</a></dt>
        <dd>active (ESP), not poor (ITJ), trivial (INP), and not empathetic (EFJ)</dd>
        <dt><a href="/type/sfnstf">ES–IT–FJ–NP</a></dt>
        <dd>weak (ESJ), not indebted (ITP), understanding (IFJ), and not theoretical (ENP)</dd>
        <dt><a href="/type/sftsnf">ES–IN–FJ–TP</a></dt>
        <dd>weak (ESJ), not irresolute (INP), understanding (IFJ), and not wealthy (ETP)</dd>
        <dt><a href="/type/snnstf">ES–IT–NP–FJ</a></dt>
        <dd>weak (ESJ), not indebted (ITP), indecisive (ENP), and not persuasive (IFJ)</dd>
        <dt><a href="/type/fsfstn">EF–IN–SJ–TP</a></dt>
        <dd>persuasive (EFP), not indecisive (INJ), weak (ESJ), and not indebted (ITP)</dd>
        <dt><a href="/type/ftfstn">EF–IN–TP–SJ</a></dt>
        <dd>persuasive (EFP), not indecisive (INJ), rich (ITP), and not fat (ESJ)</dd>
        <dt><a href="/type/fsfsnt">EF–IT–SJ–NP</a></dt>
        <dd>persuasive (EFP), not poor (ITJ), weak (ESJ), and not irresolute (INP)</dd>
      </dl>
      <a href='#ISTJ'>ISTJ</a>
      <a href='#ISFJ'>ISFJ</a>
      <a href='#INFJ'>INFJ</a>
      <a href='#INTJ'>INTJ</a>
      <a href='#ESTP'>ESTP</a>
      <a href='#ESFP'>ESFP</a>
      <a href='#ENFP'>ENFP</a>
      <a href='#ENTP'>ENTP</a>
      <a href='#ISTP'>ISTP</a>
      <a href='#ISFP'>ISFP</a>
      <a href='#INFP'>INFP</a>
      <a href='#INTP'>INTP</a>
      <a href='#ESTJ'>ESTJ</a>
      <a href='#ESFJ'>ESFJ</a>
      <a href='#ENFJ'>ENFJ</a>
      <a href='#ENTJ'>ENTJ</a>
      <a name='ESFP'></a>
      <h2><a class="external" href="http://en.wikipedia.org/wiki/ESFP">ESFP</a></h2>
      <dl>
        <dt><a href="/type/sfstfn">ES–IN–FP–TJ</a></dt>
        <dd>active (ESP), not indecisive (INJ), empathetic (IFP), and not rich (ETJ)</dd>
        <dt><a href="/type/sfsnft">ES–IT–FP–NJ</a></dt>
        <dd>active (ESP), not poor (ITJ), empathetic (IFP), and not trivial (ENJ)</dd>
        <dt><a href="/type/snsnft">ES–IT–NJ–FP</a></dt>
        <dd>active (ESP), not poor (ITJ), irresolute (ENJ), and not intelligible (IFP)</dd>
        <dt><a href="/type/fssftn">EF–IT–SP–NJ</a></dt>
        <dd>intelligible (EFJ), not indebted (ITP), active (ESP), and not indecisive (INJ)</dd>
        <dt><a href="/type/fssfnt">EF–IN–SP–TJ</a></dt>
        <dd>intelligible (EFJ), not irresolute (INP), active (ESP), and not poor (ITJ)</dd>
        <dt><a href="/type/ftsfnt">EF–IN–TJ–SP</a></dt>
        <dd>intelligible (EFJ), not irresolute (INP), wealthy (ITJ), and not strong (ESP)</dd>
        <dt><a href="/type/fsftsn">EF–IN–SP–TJ</a></dt>
        <dd>persuasive (EFP), not indecisive (INJ), fat (ISP), and not rich (ETJ)</dd>
        <dt><a href="/type/fsfnst">EF–IT–SP–NJ</a></dt>
        <dd>persuasive (EFP), not poor (ITJ), fat (ISP), and not trivial (ENJ)</dd>
        <dt><a href="/type/ftftsn">EF–IN–TJ–SP</a></dt>
        <dd>persuasive (EFP), not indecisive (INJ), indebted (ETJ), and not weak (ISP)</dd>
        <dt><a href="/type/sffstn">ES–IT–FP–NJ</a></dt>
        <dd>weak (ESJ), not indebted (ITP), persuasive (EFP), and not indecisive (INJ)</dd>
        <dt><a href="/type/snfstn">ES–IT–NJ–FP</a></dt>
        <dd>weak (ESJ), not indebted (ITP), theoretical (INJ), and not understanding (EFP)</dd>
        <dt><a href="/type/sffsnt">ES–IN–FP–TJ</a></dt>
        <dd>weak (ESJ), not irresolute (INP), persuasive (EFP), and not poor (ITJ)</dd>
      </dl>
      <a href='#ISTJ'>ISTJ</a>
      <a href='#ISFJ'>ISFJ</a>
      <a href='#INFJ'>INFJ</a>
      <a href='#INTJ'>INTJ</a>
      <a href='#ESTP'>ESTP</a>
      <a href='#ESFP'>ESFP</a>
      <a href='#ENFP'>ENFP</a>
      <a href='#ENTP'>ENTP</a>
      <a href='#ISTP'>ISTP</a>
      <a href='#ISFP'>ISFP</a>
      <a href='#INFP'>INFP</a>
      <a href='#INTP'>INTP</a>
      <a href='#ESTJ'>ESTJ</a>
      <a href='#ESFJ'>ESFJ</a>
      <a href='#ENFJ'>ENFJ</a>
      <a href='#ENTJ'>ENTJ</a>
      <a name='ESTJ'></a>
      <h2><a class="external" href="http://en.wikipedia.org/wiki/ESTJ">ESTJ</a></h2>
      <dl>
        <dt><a href="/type/tsntfs">ET–IF–SJ–NP</a></dt>
        <dd>indebted (ETJ), not intelligible (IFP), strong (ISJ), and not theoretical (ENP)</dd>
        <dt><a href="/type/tsftns">ET–IN–SJ–FP</a></dt>
        <dd>indebted (ETJ), not irresolute (INP), strong (ISJ), and not understanding (EFP)</dd>
        <dt><a href="/type/tfftns">ET–IN–FP–SJ</a></dt>
        <dd>indebted (ETJ), not irresolute (INP), persuasive (EFP), and not active (ISJ)</dd>
        <dt><a href="/type/ststfn">ES–IN–TJ–FP</a></dt>
        <dd>active (ESP), not indecisive (INJ), indebted (ETJ), and not intelligible (IFP)</dd>
        <dt><a href="/type/ststnf">ES–IF–TJ–NP</a></dt>
        <dd>active (ESP), not persuasive (IFJ), indebted (ETJ), and not irresolute (INP)</dd>
        <dt><a href="/type/snstnf">ES–IF–NP–TJ</a></dt>
        <dd>active (ESP), not persuasive (IFJ), trivial (INP), and not rich (ETJ)</dd>
        <dt><a href="/type/stnsft">ES–IF–TJ–NP</a></dt>
        <dd>weak (ESJ), not intelligible (IFP), wealthy (ITJ), and not theoretical (ENP)</dd>
        <dt><a href="/type/stfsnt">ES–IN–TJ–FP</a></dt>
        <dd>weak (ESJ), not irresolute (INP), wealthy (ITJ), and not understanding (EFP)</dd>
        <dt><a href="/type/snnsft">ES–IF–NP–TJ</a></dt>
        <dd>weak (ESJ), not intelligible (IFP), indecisive (ENP), and not poor (ITJ)</dd>
        <dt><a href="/type/tstsfn">ET–IN–SJ–FP</a></dt>
        <dd>poor (ETP), not indecisive (INJ), weak (ESJ), and not intelligible (IFP)</dd>
        <dt><a href="/type/tftsfn">ET–IN–FP–SJ</a></dt>
        <dd>poor (ETP), not indecisive (INJ), empathetic (IFP), and not fat (ESJ)</dd>
        <dt><a href="/type/tstsnf">ET–IF–SJ–NP</a></dt>
        <dd>poor (ETP), not persuasive (IFJ), weak (ESJ), and not irresolute (INP)</dd>
      </dl>
      <a href='#ISTJ'>ISTJ</a>
      <a href='#ISFJ'>ISFJ</a>
      <a href='#INFJ'>INFJ</a>
      <a href='#INTJ'>INTJ</a>
      <a href='#ESTP'>ESTP</a>
      <a href='#ESFP'>ESFP</a>
      <a href='#ENFP'>ENFP</a>
      <a href='#ENTP'>ENTP</a>
      <a href='#ISTP'>ISTP</a>
      <a href='#ISFP'>ISFP</a>
      <a href='#INFP'>INFP</a>
      <a href='#INTP'>INTP</a>
      <a href='#ESTJ'>ESTJ</a>
      <a href='#ESFJ'>ESFJ</a>
      <a href='#ENFJ'>ENFJ</a>
      <a href='#ENTJ'>ENTJ</a>
      <a name='ESTP'></a>
      <h2><a class="external" href="http://en.wikipedia.org/wiki/ESTP">ESTP</a></h2>
      <dl>
        <dt><a href="/type/stsftn">ES–IN–TP–FJ</a></dt>
        <dd>active (ESP), not indecisive (INJ), rich (ITP), and not empathetic (EFJ)</dd>
        <dt><a href="/type/stsntf">ES–IF–TP–NJ</a></dt>
        <dd>active (ESP), not persuasive (IFJ), rich (ITP), and not trivial (ENJ)</dd>
        <dt><a href="/type/snsntf">ES–IF–NJ–TP</a></dt>
        <dd>active (ESP), not persuasive (IFJ), irresolute (ENJ), and not indebted (ITP)</dd>
        <dt><a href="/type/tsstfn">ET–IF–SP–NJ</a></dt>
        <dd>indebted (ETJ), not intelligible (IFP), active (ESP), and not indecisive (INJ)</dd>
        <dt><a href="/type/tsstnf">ET–IN–SP–FJ</a></dt>
        <dd>indebted (ETJ), not irresolute (INP), active (ESP), and not persuasive (IFJ)</dd>
        <dt><a href="/type/tfstnf">ET–IN–FJ–SP</a></dt>
        <dd>indebted (ETJ), not irresolute (INP), understanding (IFJ), and not strong (ESP)</dd>
        <dt><a href="/type/tstfsn">ET–IN–SP–FJ</a></dt>
        <dd>poor (ETP), not indecisive (INJ), fat (ISP), and not empathetic (EFJ)</dd>
        <dt><a href="/type/tstnsf">ET–IF–SP–NJ</a></dt>
        <dd>poor (ETP), not persuasive (IFJ), fat (ISP), and not trivial (ENJ)</dd>
        <dt><a href="/type/tftfsn">ET–IN–FJ–SP</a></dt>
        <dd>poor (ETP), not indecisive (INJ), intelligible (EFJ), and not weak (ISP)</dd>
        <dt><a href="/type/sttsfn">ES–IF–TP–NJ</a></dt>
        <dd>weak (ESJ), not intelligible (IFP), poor (ETP), and not indecisive (INJ)</dd>
        <dt><a href="/type/sntsfn">ES–IF–NJ–TP</a></dt>
        <dd>weak (ESJ), not intelligible (IFP), theoretical (INJ), and not wealthy (ETP)</dd>
        <dt><a href="/type/sttsnf">ES–IN–TP–FJ</a></dt>
        <dd>weak (ESJ), not irresolute (INP), poor (ETP), and not persuasive (IFJ)</dd>
      </dl>
      <a href='#ISTJ'>ISTJ</a>
      <a href='#ISFJ'>ISFJ</a>
      <a href='#INFJ'>INFJ</a>
      <a href='#INTJ'>INTJ</a>
      <a href='#ESTP'>ESTP</a>
      <a href='#ESFP'>ESFP</a>
      <a href='#ENFP'>ENFP</a>
      <a href='#ENTP'>ENTP</a>
      <a href='#ISTP'>ISTP</a>
      <a href='#ISFP'>ISFP</a>
      <a href='#INFP'>INFP</a>
      <a href='#INTP'>INTP</a>
      <a href='#ESTJ'>ESTJ</a>
      <a href='#ESFJ'>ESFJ</a>
      <a href='#ENFJ'>ENFJ</a>
      <a href='#ENTJ'>ENTJ</a>
      <a name='INFJ'></a>
      <h2><a class="external" href="http://en.wikipedia.org/wiki/INFJ">INFJ</a></h2>
      <dl>
        <dt><a href="/type/nfsftn">IN–ES–FJ–TP</a></dt>
        <dd>theoretical (INJ), not strong (ESP), intelligible (EFJ), and not indebted (ITP)</dd>
        <dt><a href="/type/nftfsn">IN–ET–FJ–SP</a></dt>
        <dd>theoretical (INJ), not wealthy (ETP), intelligible (EFJ), and not weak (ISP)</dd>
        <dt><a href="/type/nstfsn">IN–ET–SP–FJ</a></dt>
        <dd>theoretical (INJ), not wealthy (ETP), fat (ISP), and not empathetic (EFJ)</dd>
        <dt><a href="/type/fnstfn">IF–ET–NJ–SP</a></dt>
        <dd>empathetic (IFP), not rich (ETJ), theoretical (INJ), and not strong (ESP)</dd>
        <dt><a href="/type/fntsfn">IF–ES–NJ–TP</a></dt>
        <dd>empathetic (IFP), not fat (ESJ), theoretical (INJ), and not wealthy (ETP)</dd>
        <dt><a href="/type/fttsfn">IF–ES–TP–NJ</a></dt>
        <dd>empathetic (IFP), not fat (ESJ), poor (ETP), and not indecisive (INJ)</dd>
        <dt><a href="/type/fnsntf">IF–ES–NJ–TP</a></dt>
        <dd>understanding (IFJ), not strong (ESP), irresolute (ENJ), and not indebted (ITP)</dd>
        <dt><a href="/type/fntnsf">IF–ET–NJ–SP</a></dt>
        <dd>understanding (IFJ), not wealthy (ETP), irresolute (ENJ), and not weak (ISP)</dd>
        <dt><a href="/type/ftsntf">IF–ES–TP–NJ</a></dt>
        <dd>understanding (IFJ), not strong (ESP), rich (ITP), and not trivial (ENJ)</dd>
        <dt><a href="/type/nfstnf">IN–ET–FJ–SP</a></dt>
        <dd>trivial (INP), not rich (ETJ), understanding (IFJ), and not strong (ESP)</dd>
        <dt><a href="/type/nsstnf">IN–ET–SP–FJ</a></dt>
        <dd>trivial (INP), not rich (ETJ), active (ESP), and not persuasive (IFJ)</dd>
        <dt><a href="/type/nftsnf">IN–ES–FJ–TP</a></dt>
        <dd>trivial (INP), not fat (ESJ), understanding (IFJ), and not wealthy (ETP)</dd>
      </dl>
      <a href='#ISTJ'>ISTJ</a>
      <a href='#ISFJ'>ISFJ</a>
      <a href='#INFJ'>INFJ</a>
      <a href='#INTJ'>INTJ</a>
      <a href='#ESTP'>ESTP</a>
      <a href='#ESFP'>ESFP</a>
      <a href='#ENFP'>ENFP</a>
      <a href='#ENTP'>ENTP</a>
      <a href='#ISTP'>ISTP</a>
      <a href='#ISFP'>ISFP</a>
      <a href='#INFP'>INFP</a>
      <a href='#INTP'>INTP</a>
      <a href='#ESTJ'>ESTJ</a>
      <a href='#ESFJ'>ESFJ</a>
      <a href='#ENFJ'>ENFJ</a>
      <a href='#ENTJ'>ENTJ</a>
      <a name='INFP'></a>
      <h2><a class="external" href="http://en.wikipedia.org/wiki/INFP">INFP</a></h2>
      <dl>
        <dt><a href="/type/fnntfs">IF–ET–NP–SJ</a></dt>
        <dd>empathetic (IFP), not rich (ETJ), indecisive (ENP), and not active (ISJ)</dd>
        <dt><a href="/type/fnnsft">IF–ES–NP–TJ</a></dt>
        <dd>empathetic (IFP), not fat (ESJ), indecisive (ENP), and not poor (ITJ)</dd>
        <dt><a href="/type/ftnsft">IF–ES–TJ–NP</a></dt>
        <dd>empathetic (IFP), not fat (ESJ), wealthy (ITJ), and not theoretical (ENP)</dd>
        <dt><a href="/type/nfstfn">IN–ES–FP–TJ</a></dt>
        <dd>theoretical (INJ), not strong (ESP), empathetic (IFP), and not rich (ETJ)</dd>
        <dt><a href="/type/nftsfn">IN–ET–FP–SJ</a></dt>
        <dd>theoretical (INJ), not wealthy (ETP), empathetic (IFP), and not fat (ESJ)</dd>
        <dt><a href="/type/nstsfn">IN–ET–SJ–FP</a></dt>
        <dd>theoretical (INJ), not wealthy (ETP), weak (ESJ), and not intelligible (IFP)</dd>
        <dt><a href="/type/nfftns">IN–ET–FP–SJ</a></dt>
        <dd>trivial (INP), not rich (ETJ), persuasive (EFP), and not active (ISJ)</dd>
        <dt><a href="/type/nffsnt">IN–ES–FP–TJ</a></dt>
        <dd>trivial (INP), not fat (ESJ), persuasive (EFP), and not poor (ITJ)</dd>
        <dt><a href="/type/nsftns">IN–ET–SJ–FP</a></dt>
        <dd>trivial (INP), not rich (ETJ), strong (ISJ), and not understanding (EFP)</dd>
        <dt><a href="/type/fnstnf">IF–ES–NP–TJ</a></dt>
        <dd>understanding (IFJ), not strong (ESP), trivial (INP), and not rich (ETJ)</dd>
        <dt><a href="/type/ftstnf">IF–ES–TJ–NP</a></dt>
        <dd>understanding (IFJ), not strong (ESP), indebted (ETJ), and not irresolute (INP)</dd>
        <dt><a href="/type/fntsnf">IF–ET–NP–SJ</a></dt>
        <dd>understanding (IFJ), not wealthy (ETP), trivial (INP), and not fat (ESJ)</dd>
      </dl>
      <a href='#ISTJ'>ISTJ</a>
      <a href='#ISFJ'>ISFJ</a>
      <a href='#INFJ'>INFJ</a>
      <a href='#INTJ'>INTJ</a>
      <a href='#ESTP'>ESTP</a>
      <a href='#ESFP'>ESFP</a>
      <a href='#ENFP'>ENFP</a>
      <a href='#ENTP'>ENTP</a>
      <a href='#ISTP'>ISTP</a>
      <a href='#ISFP'>ISFP</a>
      <a href='#INFP'>INFP</a>
      <a href='#INTP'>INTP</a>
      <a href='#ESTJ'>ESTJ</a>
      <a href='#ESFJ'>ESFJ</a>
      <a href='#ENFJ'>ENFJ</a>
      <a href='#ENTJ'>ENTJ</a>
      <a name='INTJ'></a>
      <h2><a class="external" href="http://en.wikipedia.org/wiki/INTJ">INTJ</a></h2>
      <dl>
        <dt><a href="/type/ntstfn">IN–ES–TJ–FP</a></dt>
        <dd>theoretical (INJ), not strong (ESP), indebted (ETJ), and not intelligible (IFP)</dd>
        <dt><a href="/type/ntftsn">IN–EF–TJ–SP</a></dt>
        <dd>theoretical (INJ), not understanding (EFP), indebted (ETJ), and not weak (ISP)</dd>
        <dt><a href="/type/nsftsn">IN–EF–SP–TJ</a></dt>
        <dd>theoretical (INJ), not understanding (EFP), fat (ISP), and not rich (ETJ)</dd>
        <dt><a href="/type/tnsftn">IT–EF–NJ–SP</a></dt>
        <dd>rich (ITP), not empathetic (EFJ), theoretical (INJ), and not strong (ESP)</dd>
        <dt><a href="/type/tnfstn">IT–ES–NJ–FP</a></dt>
        <dd>rich (ITP), not fat (ESJ), theoretical (INJ), and not understanding (EFP)</dd>
        <dt><a href="/type/tffstn">IT–ES–FP–NJ</a></dt>
        <dd>rich (ITP), not fat (ESJ), persuasive (EFP), and not indecisive (INJ)</dd>
        <dt><a href="/type/tnsnft">IT–ES–NJ–FP</a></dt>
        <dd>wealthy (ITJ), not strong (ESP), irresolute (ENJ), and not intelligible (IFP)</dd>
        <dt><a href="/type/tnfnst">IT–EF–NJ–SP</a></dt>
        <dd>wealthy (ITJ), not understanding (EFP), irresolute (ENJ), and not weak (ISP)</dd>
        <dt><a href="/type/tfsnft">IT–ES–FP–NJ</a></dt>
        <dd>wealthy (ITJ), not strong (ESP), empathetic (IFP), and not trivial (ENJ)</dd>
        <dt><a href="/type/ntsfnt">IN–EF–TJ–SP</a></dt>
        <dd>trivial (INP), not empathetic (EFJ), wealthy (ITJ), and not strong (ESP)</dd>
        <dt><a href="/type/nssfnt">IN–EF–SP–TJ</a></dt>
        <dd>trivial (INP), not empathetic (EFJ), active (ESP), and not poor (ITJ)</dd>
        <dt><a href="/type/ntfsnt">IN–ES–TJ–FP</a></dt>
        <dd>trivial (INP), not fat (ESJ), wealthy (ITJ), and not understanding (EFP)</dd>
      </dl>
      <a href='#ISTJ'>ISTJ</a>
      <a href='#ISFJ'>ISFJ</a>
      <a href='#INFJ'>INFJ</a>
      <a href='#INTJ'>INTJ</a>
      <a href='#ESTP'>ESTP</a>
      <a href='#ESFP'>ESFP</a>
      <a href='#ENFP'>ENFP</a>
      <a href='#ENTP'>ENTP</a>
      <a href='#ISTP'>ISTP</a>
      <a href='#ISFP'>ISFP</a>
      <a href='#INFP'>INFP</a>
      <a href='#INTP'>INTP</a>
      <a href='#ESTJ'>ESTJ</a>
      <a href='#ESFJ'>ESFJ</a>
      <a href='#ENFJ'>ENFJ</a>
      <a href='#ENTJ'>ENTJ</a>
      <a name='INTP'></a>
      <h2><a class="external" href="http://en.wikipedia.org/wiki/INTP">INTP</a></h2>
      <dl>
        <dt><a href="/type/tnnfts">IT–EF–NP–SJ</a></dt>
        <dd>rich (ITP), not empathetic (EFJ), indecisive (ENP), and not active (ISJ)</dd>
        <dt><a href="/type/tnnstf">IT–ES–NP–FJ</a></dt>
        <dd>rich (ITP), not fat (ESJ), indecisive (ENP), and not persuasive (IFJ)</dd>
        <dt><a href="/type/tfnstf">IT–ES–FJ–NP</a></dt>
        <dd>rich (ITP), not fat (ESJ), understanding (IFJ), and not theoretical (ENP)</dd>
        <dt><a href="/type/ntsftn">IN–ES–TP–FJ</a></dt>
        <dd>theoretical (INJ), not strong (ESP), rich (ITP), and not empathetic (EFJ)</dd>
        <dt><a href="/type/ntfstn">IN–EF–TP–SJ</a></dt>
        <dd>theoretical (INJ), not understanding (EFP), rich (ITP), and not fat (ESJ)</dd>
        <dt><a href="/type/nsfstn">IN–EF–SJ–TP</a></dt>
        <dd>theoretical (INJ), not understanding (EFP), weak (ESJ), and not indebted (ITP)</dd>
        <dt><a href="/type/nttfns">IN–EF–TP–SJ</a></dt>
        <dd>trivial (INP), not empathetic (EFJ), poor (ETP), and not active (ISJ)</dd>
        <dt><a href="/type/nttsnf">IN–ES–TP–FJ</a></dt>
        <dd>trivial (INP), not fat (ESJ), poor (ETP), and not persuasive (IFJ)</dd>
        <dt><a href="/type/nstfns">IN–EF–SJ–TP</a></dt>
        <dd>trivial (INP), not empathetic (EFJ), strong (ISJ), and not wealthy (ETP)</dd>
        <dt><a href="/type/tnsfnt">IT–ES–NP–FJ</a></dt>
        <dd>wealthy (ITJ), not strong (ESP), trivial (INP), and not empathetic (EFJ)</dd>
        <dt><a href="/type/tfsfnt">IT–ES–FJ–NP</a></dt>
        <dd>wealthy (ITJ), not strong (ESP), intelligible (EFJ), and not irresolute (INP)</dd>
        <dt><a href="/type/tnfsnt">IT–EF–NP–SJ</a></dt>
        <dd>wealthy (ITJ), not understanding (EFP), trivial (INP), and not fat (ESJ)</dd>
      </dl>
      <a href='#ISTJ'>ISTJ</a>
      <a href='#ISFJ'>ISFJ</a>
      <a href='#INFJ'>INFJ</a>
      <a href='#INTJ'>INTJ</a>
      <a href='#ESTP'>ESTP</a>
      <a href='#ESFP'>ESFP</a>
      <a href='#ENFP'>ENFP</a>
      <a href='#ENTP'>ENTP</a>
      <a href='#ISTP'>ISTP</a>
      <a href='#ISFP'>ISFP</a>
      <a href='#INFP'>INFP</a>
      <a href='#INTP'>INTP</a>
      <a href='#ESTJ'>ESTJ</a>
      <a href='#ESFJ'>ESFJ</a>
      <a href='#ENFJ'>ENFJ</a>
      <a href='#ENTJ'>ENTJ</a>
      <a name='ISFJ'></a>
      <h2><a class="external" href="http://en.wikipedia.org/wiki/ISFJ">ISFJ</a></h2>
      <dl>
        <dt><a href="/type/sfnfts">IS–EN–FJ–TP</a></dt>
        <dd>strong (ISJ), not theoretical (ENP), intelligible (EFJ), and not indebted (ITP)</dd>
        <dt><a href="/type/sftfns">IS–ET–FJ–NP</a></dt>
        <dd>strong (ISJ), not wealthy (ETP), intelligible (EFJ), and not irresolute (INP)</dd>
        <dt><a href="/type/sntfns">IS–ET–NP–FJ</a></dt>
        <dd>strong (ISJ), not wealthy (ETP), trivial (INP), and not empathetic (EFJ)</dd>
        <dt><a href="/type/fsntfs">IF–ET–SJ–NP</a></dt>
        <dd>empathetic (IFP), not rich (ETJ), strong (ISJ), and not theoretical (ENP)</dd>
        <dt><a href="/type/fstnfs">IF–EN–SJ–TP</a></dt>
        <dd>empathetic (IFP), not trivial (ENJ), strong (ISJ), and not wealthy (ETP)</dd>
        <dt><a href="/type/fttnfs">IF–EN–TP–SJ</a></dt>
        <dd>empathetic (IFP), not trivial (ENJ), poor (ETP), and not active (ISJ)</dd>
        <dt><a href="/type/fsnstf">IF–EN–SJ–TP</a></dt>
        <dd>understanding (IFJ), not theoretical (ENP), weak (ESJ), and not indebted (ITP)</dd>
        <dt><a href="/type/fstsnf">IF–ET–SJ–NP</a></dt>
        <dd>understanding (IFJ), not wealthy (ETP), weak (ESJ), and not irresolute (INP)</dd>
        <dt><a href="/type/ftnstf">IF–EN–TP–SJ</a></dt>
        <dd>understanding (IFJ), not theoretical (ENP), rich (ITP), and not fat (ESJ)</dd>
        <dt><a href="/type/sfntsf">IS–ET–FJ–NP</a></dt>
        <dd>fat (ISP), not rich (ETJ), understanding (IFJ), and not theoretical (ENP)</dd>
        <dt><a href="/type/snntsf">IS–ET–NP–FJ</a></dt>
        <dd>fat (ISP), not rich (ETJ), indecisive (ENP), and not persuasive (IFJ)</dd>
        <dt><a href="/type/sftnsf">IS–EN–FJ–TP</a></dt>
        <dd>fat (ISP), not trivial (ENJ), understanding (IFJ), and not wealthy (ETP)</dd>
      </dl>
      <a href='#ISTJ'>ISTJ</a>
      <a href='#ISFJ'>ISFJ</a>
      <a href='#INFJ'>INFJ</a>
      <a href='#INTJ'>INTJ</a>
      <a href='#ESTP'>ESTP</a>
      <a href='#ESFP'>ESFP</a>
      <a href='#ENFP'>ENFP</a>
      <a href='#ENTP'>ENTP</a>
      <a href='#ISTP'>ISTP</a>
      <a href='#ISFP'>ISFP</a>
      <a href='#INFP'>INFP</a>
      <a href='#INTP'>INTP</a>
      <a href='#ESTJ'>ESTJ</a>
      <a href='#ESFJ'>ESFJ</a>
      <a href='#ENFJ'>ENFJ</a>
      <a href='#ENTJ'>ENTJ</a>
      <a name='ISFP'></a>
      <h2><a class="external" href="http://en.wikipedia.org/wiki/ISFP">ISFP</a></h2>
      <dl>
        <dt><a href="/type/fsstfn">IF–ET–SP–NJ</a></dt>
        <dd>empathetic (IFP), not rich (ETJ), active (ESP), and not indecisive (INJ)</dd>
        <dt><a href="/type/fssnft">IF–EN–SP–TJ</a></dt>
        <dd>empathetic (IFP), not trivial (ENJ), active (ESP), and not poor (ITJ)</dd>
        <dt><a href="/type/ftsnft">IF–EN–TJ–SP</a></dt>
        <dd>empathetic (IFP), not trivial (ENJ), wealthy (ITJ), and not strong (ESP)</dd>
        <dt><a href="/type/sfntfs">IS–EN–FP–TJ</a></dt>
        <dd>strong (ISJ), not theoretical (ENP), empathetic (IFP), and not rich (ETJ)</dd>
        <dt><a href="/type/sftnfs">IS–ET–FP–NJ</a></dt>
        <dd>strong (ISJ), not wealthy (ETP), empathetic (IFP), and not trivial (ENJ)</dd>
        <dt><a href="/type/sntnfs">IS–ET–NJ–FP</a></dt>
        <dd>strong (ISJ), not wealthy (ETP), irresolute (ENJ), and not intelligible (IFP)</dd>
        <dt><a href="/type/sfftsn">IS–ET–FP–NJ</a></dt>
        <dd>fat (ISP), not rich (ETJ), persuasive (EFP), and not indecisive (INJ)</dd>
        <dt><a href="/type/sffnst">IS–EN–FP–TJ</a></dt>
        <dd>fat (ISP), not trivial (ENJ), persuasive (EFP), and not poor (ITJ)</dd>
        <dt><a href="/type/snftsn">IS–ET–NJ–FP</a></dt>
        <dd>fat (ISP), not rich (ETJ), theoretical (INJ), and not understanding (EFP)</dd>
        <dt><a href="/type/fsntsf">IF–EN–SP–TJ</a></dt>
        <dd>understanding (IFJ), not theoretical (ENP), fat (ISP), and not rich (ETJ)</dd>
        <dt><a href="/type/ftntsf">IF–EN–TJ–SP</a></dt>
        <dd>understanding (IFJ), not theoretical (ENP), indebted (ETJ), and not weak (ISP)</dd>
        <dt><a href="/type/fstnsf">IF–ET–SP–NJ</a></dt>
        <dd>understanding (IFJ), not wealthy (ETP), fat (ISP), and not trivial (ENJ)</dd>
      </dl>
      <a href='#ISTJ'>ISTJ</a>
      <a href='#ISFJ'>ISFJ</a>
      <a href='#INFJ'>INFJ</a>
      <a href='#INTJ'>INTJ</a>
      <a href='#ESTP'>ESTP</a>
      <a href='#ESFP'>ESFP</a>
      <a href='#ENFP'>ENFP</a>
      <a href='#ENTP'>ENTP</a>
      <a href='#ISTP'>ISTP</a>
      <a href='#ISFP'>ISFP</a>
      <a href='#INFP'>INFP</a>
      <a href='#INTP'>INTP</a>
      <a href='#ESTJ'>ESTJ</a>
      <a href='#ESFJ'>ESFJ</a>
      <a href='#ENFJ'>ENFJ</a>
      <a href='#ENTJ'>ENTJ</a>
      <a name='ISTJ'></a>
      <h2><a class="external" href="http://en.wikipedia.org/wiki/ISTJ">ISTJ</a></h2>
      <dl>
        <dt><a href="/type/stntfs">IS–EN–TJ–FP</a></dt>
        <dd>strong (ISJ), not theoretical (ENP), indebted (ETJ), and not intelligible (IFP)</dd>
        <dt><a href="/type/stftns">IS–EF–TJ–NP</a></dt>
        <dd>strong (ISJ), not understanding (EFP), indebted (ETJ), and not irresolute (INP)</dd>
        <dt><a href="/type/snftns">IS–EF–NP–TJ</a></dt>
        <dd>strong (ISJ), not understanding (EFP), trivial (INP), and not rich (ETJ)</dd>
        <dt><a href="/type/tsnfts">IT–EF–SJ–NP</a></dt>
        <dd>rich (ITP), not empathetic (EFJ), strong (ISJ), and not theoretical (ENP)</dd>
        <dt><a href="/type/tsfnts">IT–EN–SJ–FP</a></dt>
        <dd>rich (ITP), not trivial (ENJ), strong (ISJ), and not understanding (EFP)</dd>
        <dt><a href="/type/tffnts">IT–EN–FP–SJ</a></dt>
        <dd>rich (ITP), not trivial (ENJ), persuasive (EFP), and not active (ISJ)</dd>
        <dt><a href="/type/tsnsft">IT–EN–SJ–FP</a></dt>
        <dd>wealthy (ITJ), not theoretical (ENP), weak (ESJ), and not intelligible (IFP)</dd>
        <dt><a href="/type/tsfsnt">IT–EF–SJ–NP</a></dt>
        <dd>wealthy (ITJ), not understanding (EFP), weak (ESJ), and not irresolute (INP)</dd>
        <dt><a href="/type/tfnsft">IT–EN–FP–SJ</a></dt>
        <dd>wealthy (ITJ), not theoretical (ENP), empathetic (IFP), and not fat (ESJ)</dd>
        <dt><a href="/type/stnfst">IS–EF–TJ–NP</a></dt>
        <dd>fat (ISP), not empathetic (EFJ), wealthy (ITJ), and not theoretical (ENP)</dd>
        <dt><a href="/type/snnfst">IS–EF–NP–TJ</a></dt>
        <dd>fat (ISP), not empathetic (EFJ), indecisive (ENP), and not poor (ITJ)</dd>
        <dt><a href="/type/stfnst">IS–EN–TJ–FP</a></dt>
        <dd>fat (ISP), not trivial (ENJ), wealthy (ITJ), and not understanding (EFP)</dd>
      </dl>
      <a href='#ISTJ'>ISTJ</a>
      <a href='#ISFJ'>ISFJ</a>
      <a href='#INFJ'>INFJ</a>
      <a href='#INTJ'>INTJ</a>
      <a href='#ESTP'>ESTP</a>
      <a href='#ESFP'>ESFP</a>
      <a href='#ENFP'>ENFP</a>
      <a href='#ENTP'>ENTP</a>
      <a href='#ISTP'>ISTP</a>
      <a href='#ISFP'>ISFP</a>
      <a href='#INFP'>INFP</a>
      <a href='#INTP'>INTP</a>
      <a href='#ESTJ'>ESTJ</a>
      <a href='#ESFJ'>ESFJ</a>
      <a href='#ENFJ'>ENFJ</a>
      <a href='#ENTJ'>ENTJ</a>
      <a name='ISTP'></a>
      <h2><a class="external" href="http://en.wikipedia.org/wiki/ISTP_(personality_type)">ISTP</a></h2>
      <dl>
        <dt><a href="/type/tssftn">IT–EF–SP–NJ</a></dt>
        <dd>rich (ITP), not empathetic (EFJ), active (ESP), and not indecisive (INJ)</dd>
        <dt><a href="/type/tssntf">IT–EN–SP–FJ</a></dt>
        <dd>rich (ITP), not trivial (ENJ), active (ESP), and not persuasive (IFJ)</dd>
        <dt><a href="/type/tfsntf">IT–EN–FJ–SP</a></dt>
        <dd>rich (ITP), not trivial (ENJ), understanding (IFJ), and not strong (ESP)</dd>
        <dt><a href="/type/stnfts">IS–EN–TP–FJ</a></dt>
        <dd>strong (ISJ), not theoretical (ENP), rich (ITP), and not empathetic (EFJ)</dd>
        <dt><a href="/type/stfnts">IS–EF–TP–NJ</a></dt>
        <dd>strong (ISJ), not understanding (EFP), rich (ITP), and not trivial (ENJ)</dd>
        <dt><a href="/type/snfnts">IS–EF–NJ–TP</a></dt>
        <dd>strong (ISJ), not understanding (EFP), irresolute (ENJ), and not indebted (ITP)</dd>
        <dt><a href="/type/sttfsn">IS–EF–TP–NJ</a></dt>
        <dd>fat (ISP), not empathetic (EFJ), poor (ETP), and not indecisive (INJ)</dd>
        <dt><a href="/type/sttnsf">IS–EN–TP–FJ</a></dt>
        <dd>fat (ISP), not trivial (ENJ), poor (ETP), and not persuasive (IFJ)</dd>
        <dt><a href="/type/sntfsn">IS–EF–NJ–TP</a></dt>
        <dd>fat (ISP), not empathetic (EFJ), theoretical (INJ), and not wealthy (ETP)</dd>
        <dt><a href="/type/tsnfst">IT–EN–SP–FJ</a></dt>
        <dd>wealthy (ITJ), not theoretical (ENP), fat (ISP), and not empathetic (EFJ)</dd>
        <dt><a href="/type/tfnfst">IT–EN–FJ–SP</a></dt>
        <dd>wealthy (ITJ), not theoretical (ENP), intelligible (EFJ), and not weak (ISP)</dd>
        <dt><a href="/type/tsfnst">IT–EF–SP–NJ</a></dt>
        <dd>wealthy (ITJ), not understanding (EFP), fat (ISP), and not trivial (ENJ)</dd>
      </dl>
    </div>
  </body>
</html>
