- content_for(:title, @type.mbti)
%h2
  Nature:
  =link_to @type.nature.mbti, type_path(@type.nature.path)
%p
  -@type.sensitivities.each do |sensitivity|
    =sensitivity
    %br
%h2
  Nurture:
  =link_to @type.nurture.mbti, type_path(@type.nurture.path)
%dl
  -@type.nurture.ordered_subtypes.each do |subtype|
    %dt=subtype.stage
    %dd=subtype.verb.punctuate("!")
%h2 Balance
%p
  If your environment changes after your initial nurture, you can have the following issues:
-@type.subtypes.each_with_index do |subtype, index|
  %h3=subtype.state_with_mbti
  %p
    If you use psychotropic drugs, you will do best with
    =subtype.neuro
    =index < 2 ? "sedatives" : "stimulants"
    %br
    If you use psychotherapy, you will do best with
    =subtype.adjective
    =subtype.fast? ? "parenting" : "relaxation techniques"
    %br
    If you use BipolarType scheduling, pay particular heed to when you
    =subtype.sequence.map(&:verb).to_sentence
%h2 BipolarType and the MBTI&reg;
%p
  The MBTI claims that your four letter type is stable, whereas BipolarType claims that your four letter type will change if your environment changes.
%p
  At any given time you will “self-identify” with one of the following more than the others:
%dl
  -@type.pairs.each do |pair|
    %dt=render "mbti", :mbti => pair.map(&:mbti).join.mbti_order
    %dd
      I am
      =pair.map(&:state_with_mbti).join(" and ")
