- content_for(:title, @type.mbti)
%table.center
  %tr
    %td=render "mbti", :mbti => @type.mbtis.sixth
    %td
    %td=render "behavior", :behavior => @type.behaviors.eighth
    %td
    %td=render "mbti", :mbti => @type.mbtis.seventh
  %tr
    %td
    %td=render "behavior", :behavior => @type.behaviors.sixth
    %td=render "mbti", :mbti => @type.mbtis.eighth
    %td=render "behavior", :behavior => @type.behaviors.seventh
    %td
  %tr
    %td=render "behavior", :behavior => @type.behaviors.fourth
    %td=(render "mbti", :mbti => @type.mbtis.fourth) if @type.mbtis.fourth.is_mbti?
    %td
    %td=render "mbti", :mbti => @type.mbtis.fifth
    %td=render "behavior", :behavior => @type.behaviors.fifth
  %tr
    %td
    %td=render "behavior", :behavior => @type.behaviors.second
    %td=render "mbti", :mbti => @type.mbtis.first
    %td=render "behavior", :behavior => @type.behaviors.third
    %td
  %tr
    %td=render "mbti", :mbti => @type.mbtis.second
    %td
    %td=render "behavior", :behavior => @type.behaviors.first
    %td
    %td=render "mbti", :mbti => @type.mbtis.third
%p=link_to "opposite type", type_path(@type.opposite.path)
