- content_for(:title, @type.mbti)
%h2 Overview
=render "type", :type => @type
%h2 Subtypes
=link_to @type.quad.mbti, type_path(@type.quad.path)
-%w{dominant auxiliary tertiary inferior}.each do |function|
  -subtype = @type.send(function)
  %h2
    =function.capitalize
    =link_to subtype.mbti, type_path(subtype.path)
  =render "subtype", :subtype => subtype
%h2
  -unless @type.theoretical_count == 0
    Closest
  MBTI&reg; types
=render "mbti", :mbti => @type.mbti
