-content_for(:title, "The 192 BipolarTypes")
-Type.by_mbti.in_groups_of(12).each do |group|
  -current = group.first.mbti
  -String::MBTIS.sort.each do |mbti|
    %a{:href => "#" + mbti}=mbti
  %a{:name => current}
  %h2=render "mbti", :mbti => current
  %dl
    -group.each do |type|
      %dt=link_to type.partials, type_path(type.path)
      %dd=type.results_with_mbtis.to_sentence
