%p You like to #{t :produce} good things.
%p In the best of times this makes you liberal with your energy.
%p However, sometimes you are hyperactive: #{t :producing} things that you should not #{t :produce}.
%p In the worst of times you can’t stop #{t :producing} things.
