%p You like to #{t :consume} good things.
%p In the best of times this makes you grateful and appreciative.
%p However, sometimes you are greedy: #{t :consuming} things that you should not #{t :consume}.
%p In the worst of times you can’t #{t :consume} anything without binging.
