%p You don’t like to #{t :produce} bad things.
%p In the best of times this makes you conservative with your energy.
%p However, sometimes you are lazy: not #{t :producing} things that you should #{t :produce}.
%p In the worst of times you can’t #{t :produce} anything.
