%table.wide
  %tr
    %th morning
    %th evening
  %tr
    %td.p do use #{@type.productive.strength}; don’t #{@type.depressed.get_energy}
    %td.p do #{@type.receptive.get_energy}; don’t use #{@type.manic.strength}

