%table.wide
  %tr
    %th morning
    %th evening
  %tr
    %td.p do #{@type.productive.use_strength}; don’t #{@type.depressed.get_energy}.
    %td.p do #{@type.receptive.get_energy}; don’t #{@type.manic.use_strength}.

