%table
  -@types.in_groups_of(2) do |row|
    %tr
      -row.each do |type|
        %td.top
          =link_to type.name, type_path(type.path)
          -type.subtypes.each do |subtype|
            %br
            -I18n.locale=subtype.locale
            =render subtype.attitude.path


