-content_for(:title, 'The 24 BipolarTypes')
%table
  -Type.all.in_groups_of(6) do |row|
    %tr
      -row.each do |type|
        %td.top.sixth
          =link_to type.name, type_path(type.path)
          -type.subtypes.each do |subtype|
            -I18n.locale = subtype.locale
            %br
            =subtype.name
