- content_for(:title, 'The Twenty Four BipolarTypes')
%table
  -Type.all.in_groups_of(6) do |anorexia|
    %tr
      %th{rowspan: 2}
        =anorexia.first.subtypes.first.adjective
        anorexia
      -anorexia.in_groups_of(2) do |mania|
        %th{colspan: 2}
          =mania.first.subtypes.second.adjective
          mania
      %tr
        -anorexia.in_groups_of(2) do |mania|
          -mania.each do |type|
            %td
              =type.subtypes.third.adjective
              depression
              %br
              =link_to type.name, type_path(type.path)
              %br
              =type.subtypes.fourth.adjective
              obesity
