- content_for(:title, 'The Twenty Four BipolarTypes')
%table
  -Type.all.in_groups_of(6) do |mania|
    %tr
      %th{rowspan: 2}
        not
        =mania.first.subtypes.first.strong
        enough
      -mania.in_groups_of(2) do |depression|
        %th{colspan: 2}
          not
          =depression.first.subtypes.last.fat
          enough
      %tr
        -mania.in_groups_of(2) do |depression|
          -depression.each do |type|
            %td
              =link_to type_path(type.path) do
                =type.subtypes.second.strong
                &
                =type.subtypes.third.fat


