- content_for(:title, @name)
=render "header"
%div.center
  -@type.subtypes.each_with_index do |subtype, index|
    =link_to subtype.name, subtype_path(subtype.path)
    ="|" unless index==3
%h2 Mania (Goal Oriented)
-@type.manic_order.each do |subtype|
  %p=render "manic", subtype: subtype
%h2 Depression (Resource Oriented)
-@type.depressed_order.each do |subtype|
  %p=render "depressed", subtype: subtype
