- content_for(:title, 'Introduction')
%p
  I developed BipolarType to help me achieve and maintain
  =succeed "." do
    =link_to "my goals", type_path(Type.my_path)
%p
  The
  =link_to "theory", theory_path
  is scientific (it is
  =succeed ")" do
    =link_to "falsifiable", "https://en.m.wikipedia.org/wiki/Falsifiability", :class => "external"
  but it has not been validated by the medical, psychiatric, psychological, or type communities.
%p
  I am sharing it on the web because I believe that
  =link_to "you", answer_path(Answer.first_path)
  may find it useful or interesting.
%p
  I’ve been working on this theory since I first learned about personality type. I wanted to know
  %em why
  I binge eat and drop out of school when I’m depressed, and
  %em why
  I spend too much money and get into debt and run out of hope and become suicidal when I’m manic.
%p
  It wasn’t enough for me to be told that these things happened just because I was manic or depressed. Most of my family is bipolar and we’re not all obese suicidal drop-out spendthrifts. So clearly it’s not the illness that causes these results, but the intersection of the illness with the individual personality.
%p After twenty years of ineffective medication and therapy, I gave up trying to prevent the bipolar cycle. But I can and will prevent the unwanted consequences of the cycle.
