- content_for(:title, 'The Theory')
%h2 Bipolar
%h3 Mania
%h3 Depression
%h2 Type
%h3 Least Sensitive
%h3 Less Sensitive
%h3 More Sensitive
%h3 Most Sensitive 
%h2 Realms
%h3 Mental
%h3 Physical
%h3 Financial
%h3 Emotional
