- content_for(:title, 'The Theory')
%p
  There are
  =link_to "four realms", realms_path
  of behavior.
%p
  There are
  =link_to "four attitudes", attitudes_path
  towards each realm of behavior.
%p
  There are
  =link_to "16 subtypes:", subtypes_path
  a specific attitude towards a specific realm. 
%p 
  There are
  =link_to "24 BipolarTypes:", types_path
  one attitude per realm.