- content_for(:title, 'My Story')
%h2=Type.my_type.s.name
%p
  Trying to remind myself not to binge just because I’m not walking is incredibly difficult. But even when I give in and eat, it’s a huge relief to know
  %em why
  I’m eating. It used to be that I would find myself binging and have absolutely no idea why. Now, every time I find myself binging I can see that it’s because I’m not being physically active. I
  %em never
  binge when I’m going somewhere or doing something.
%p Eventually, I hope to get out of the habit of reaching for carbs just because I’m not currently moving.
%h2=Type.my_type.f.name
%p It’s only been since finishing my theory that I have been able to start to feel hopeless, immediately turn on my music or audio books, and avert the suicidal ideation before it gets started. It’s a lot better to listen to what I want to listen to than to rely on other people telling me things. Especially things I don’t want to hear.
%p Energy is energy, but I’d much rather listen to things that sound good.
%h2=Type.my_type.n.name
%p Despite being the end of my graduate school ambitions, mental depression has been the least of my problems. Probably because I quite trying to be a professional thinker. Well, as a UNIX system administrator it was still my job to solve problems. But they were easy problems for me to solve. Not graduate level math problems.
%p This theory is the solution to a difficult problem, but I didn’t have to solve it when I was depressed. I didn’t have to try, and fail, to think on demand.
%h2=Type.my_type.t.name
%p I went from full time to half time to quarter time and then I retired. Each step along the way improved my manic symptoms and reduced and then eliminated my dependence on antipsychotics.
%p In fact, it was the realization that the less I earned, the less I spent, and the happier I was, that was the first real breakthrough in my theory.
