- content_for(:title, 'The Theory')
%h2 Differentiation
%p BipolarType differentiates between the behaviors which get energy (Consuming) and those which use energy (Producing). It further differentaties between four different kinds of energy (Physical, Mental, Emotional, and Financial). Finally, it differentiates between behaviors which are Natural and those which are Nurtured.

%h3 Physical Differentiation
%p Eating is a Natural behavior in the Physical realm if you eat because you need to get physical energy: you refuse to eat when you do not feel hungry and insist upon eating when you do. You don’t care what you eat, as long as you eat something.
%p Moving is a Natural behavior in the Physical realm if you move because you need to use physical energy: you refuse to move when you do not feel energetic and insist upon moving when you do. You don’t care what you do, as long as you do something.
%p Eating is a Nurtured behavior if you do not want to eat, do not feel hungry, do not need any more calories, but eat anyway. You try very hard not to eat, but you cannot stop yourself. BipolarType asserts that you are eating not because you lack energy, but because you lack strength. You
%p Moving is a Nurtured behavior if you do not want to move, do not feel energetic, do not have enough physical energy, but move anyway. You try very hard not to move, but you cannot stop yourself.
