- content_for(:title, 'The Theory')
%h2=link_to "The Four Realms", realms_path
%p.center There are four realms of behavior, each centered around a different type of energy.
=render "realms/links"
%h2=link_to "The Four Attitudes", attitudes_path
%p.center There are four attitudes, each manifesting as a different problem.
=render "attitudes/links"
%h2=link_to "The Sixteen Subtypes", subtypes_path
%p.center A subtype is an attitude towards a realm.
=render "subtypes/links"
%h2 The 256 BipolarTypes
%p.center A BipolarType is a set of subtypes: one attitude for each realm.
%p.center
  It is my hope that BipolarType will make it easier for you to achieve and maintain
  =succeed "." do
    =link_to "your goals", answer_path(Answer.first_path)
