- content_for(:title, 'The Theory')
%h2=link_to "The Four Realms", realms_path
%p.center There are four realms of behavior, each centered around a different type of energy.
=render "realms/links"
%h2=link_to "The Four Attitudes", attitudes_path
%h3 The Facts
%p.center increased consumption => increased production & increased energy reserves
%p.center decreased consumption => decreased production & decreased energy reserves
%h3 The Depressed Choice
%p
  I consume more and thus do not produce less when depressed. The increased energy reserves are an unintended and unwelcome consequence. When I am depressed I become
  =succeed "." do
    =link_to Attitude.ep.name, attitude_path("ep")
%p
  I consume less and thus do not gain reserves when depressed. The decreased production is an unintended and unwelcome consequence. When I am depressed I become
  =succeed "." do
    =link_to Attitude.ej.name, attitude_path("ej")
%h3 The Manic Choice
%p
  I consume less and thus do not produce more when manic. The decreased energy reserves are an unintended and unwelcome consequence. When I am manic I become
  =succeed "." do
    =link_to Attitude.ip.name, attitude_path("ip")
%p
  I consume more and thus do not lose reserves when manic. The increased production is an unintended and unwelcome consequence. When I am manic I become
  =succeed "." do
    =link_to Attitude.ij.name, attitude_path("ij")
%h2=link_to "The Sixteen Subtypes", subtypes_path
%p.center A subtype is an attitude towards a realm.
=render "subtypes/links"
%h2 The 256 BipolarTypes
%p.center A BipolarType is a set of subtypes: one attitude for each realm.
%p.center
  It is my hope that BipolarType will make it easier for you to achieve and maintain
  =succeed "." do
    =link_to "your goals", answer_path(Answer.first_path)
