- content_for(:title, 'The Theory')
%h2=link_to "The Four Energies", energies_path
=render "energies/links"
%h2=link_to "The Four States", states_path
=render "states/links"
%h2=link_to "The Sixteen Subtypes", subtypes_path
=render "subtypes/links"
%h2 The 256 BipolarTypes
%p.center
  A BipolarType is a set of subtypes:
  =succeed "." do
    =link_to "one state for each type of energy", answer_path(Answer.first_path)
