.bold turn on the music
%ul
  %li get tones and music (left ear)
  %li sensitive to continuous sounds
  %li notice the intonation
  %li hear the melody
  %li listen to the harmony
  %li understand the emotions
  %li increase your mood
