.bold Listen to Stories
%ul
  %li get clicks and speach (right ear)
  %li sensitive to discreet sounds
  %li notice the syllables and rhythms
  %li hear the words
  %li understand the meaning
  %li increase your vocabulary
