.bold invest
%ul
  %li get passive income (capital)
  %li sensitive to somatosensory temperature
  %li invest money or assets
  %li earn returns and profits
  %li collect interest and dividends
  %li increase your credit rating
