.bold Research Known Facts
%ul
  %li get colors and details (cones)
  %li sensitive to bright lights
  %li notice the foreground
  %li see the specific components
  %li look at static pictures
  %li look for small differences
  %li increase your long-term memories
