.bold turn down the lights
%ul
  %li get shadows and movement (rods)
  %li sensitive to dim lights
  %li notice the background
  %li see the general outline
  %li look at moving pictures
  %li look for large changes
  %li watch experimental results
  %li increase your mental models
