- content_for(:title, 'The 16 Behaviors')

%table
  -Phase.all.each do |gb|
    %tr
      -gb.behaviors.each do |behavior|
        %td
          =behavior.name
          %b=behavior.episode
          =render "behaviors/#{behavior.symbol}"
