.smaller { font-size: .8em; }
.bigger { font-size: 1.2em; }
.huge { font-size: 3em; }

.bold { font-weight: bold; }
.italic { font-family: italic; }

.padded_bottom { padding-bottom: 1em; }
.padded_top { padding-top: 1em; }
.indented { padding-left: 1em; }

.float { display: inline; }
.clear { clear: both;}

p.center { text-align: center; }
ul.none { list-style-type: none; padding: 0; }

table { border-collapse: collapse; }
table.center { margin-left: auto; margin-right: auto; }
table.index { float: left; border: 1px solid grey; margin: .25em; }

td {
  vertical-align: top;
  padding: 1em;
  border: 1px solid grey;
}
td.none {border: none;}

a.external:link {text-decoration: none; color: grey;}
a.external:visited {text-decoration: none; color: grey;}
a.external:active {text-decoration: none}
a.external:hover {text-decoration: underline; color: grey;}

a.answer:link {text-decoration: none; color: black;}
a.answer:visited {text-decoration: none; color: black;}
a.answer:active {text-decoration: none}
a.answer:hover {text-decoration: underline; color: black;}

.chosen {font-weight: bold; }
.constrained { color: grey}
.free {}
