.header {  text-align: center; margin-bottom: 1em; /* font-size: .8em */ }
.footer { text-align: center;  margin-top: 2em; /* font-size: .8em */}

.none { border: none; }
.clear { clear: both; }

.chosen {color: green; font-style: italic}
.constrained {color: grey; text-decoration:line-through;}

.heading {font-style: italic; text-align: center; }

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }


h1 {
  font-size: 1.3em;
  font-style: bold;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  font-style: bold;
  text-align: center;
}
.big {font-size: 1.1em;}
.small { font-size: .9em; }

a.external:link {text-decoration: none; color: grey;}
a.external:visited {text-decoration: none; color: grey;}
a.external:active {text-decoration: none}
a.external:hover {text-decoration: underline; color: grey;}

ol, ul { list-style-position: inside; margin: 0; padding: 0; text-align: left;}
ul.none { list-style-type: none; }

dt {
  float: left; clear: left; text-align: right;
  font-weight: bold;
  width: 18ch; /* length of the longest word used as a dt in the app */
}
dt::after { content: ":"; }
dd { margin: 0 0 0 19ch;  /* 1 more than the width in dt */ }

table
{
  border: none;
  border-collapse: collapse;
  empty-cells: hide;
  margin: auto;
}
.bottom { vertical-align: bottom;}
.top { vertical-align: top; }
.thin_column_header { padding: 0; width: 4%; hyphens: auto; text-align: right;}

td {
  padding: 1em;
  border: 1px solid grey;
  text-align: center;
  overflow-wrap: break-word;
}

.quarter { width: 24%; }
.third { width: 32%; }
.half { width: 48% }


