.block {display: block;}

.header { text-align: center; margin-bottom: 1em; margin-top 0; /* font-size: .8em */ }
.footer { text-align: center; margin-top: 1em; margin-bottom 0; /* font-size: .8em */}

.none { border: none; }
.clear { clear: both; }
.hz { margin: 0 auto; display: table; }

.chosen {color: #FFBF00; font-style: italic}
.constrained {color: grey; text-decoration:line-through;}

.heading {font-style: italic; text-align: center; }

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }
.none {padding: 0}

.biggest {font-size: 1.3em;}
.bigger {font-size: 1.2em;}
.big {font-size: 1.1em;}
.small { font-size: .9em; }

.green {color: green;}
.blue {color: blue;}
.amber {color: #ffbf00;}
.red {color: red;}

.unbold { font-weight: normal; }
.bold { font-weight: bold;}
.italic { font-style: italic; }
.underline { text-decoration: underline }
.strikethrough { text-decoration: line-through;}

h1 { font-size: 1.3em; font-weight: bold; text-align: center; }
h2 { font-size: 1.2em; font-weight: bold; text-align: center; }
h3 { font-size: 1.1em; font-style: italic; text-align: center; }

a:link { color: inherit;}
a:visited { color: inherit;}

a.internal:link {text-decoration: none; color: inherit;}
a.internal:visited {text-decoration: none; color: inherit;}
a.internal:active {text-decoration: none}
a.internal:hover {text-decoration: underline; color: inherit;}

a.external:link {text-decoration: none; color: grey;}
a.external:visited {text-decoration: none; color: grey;}
a.external:active {text-decoration: none}
a.external:hover {text-decoration: underline; color: grey;}

ol, ul { list-style-position: inside; margin: 0; padding: 0; text-align: left; display: inline-block; }
ul.none { list-style-type: none; }
.outdent { margin-left: 1em; }

dt::after { content: ":"; }

dl.none { margin: 0 auto 0 auto; padding: 0; display: table; }
dt { float: auto; text-align: center; font-weight: bold; }
dd { margin: auto; text-align: center; }

dt.inline { float: left; clear: left; text-align: right; font-weight: bold; width: 6ch; }
/* width of the longest word used as a dt in the app */
dd.inline { margin: 0 0 0 7; }
/* 1 more than the width in dt */

table { border-collapse: collapse; margin-left: auto; margin-right: auto; }
td { padding: 1em; border: 1px solid grey; text-align: center; overflow-wrap: break-word; }

.bottom { vertical-align: bottom;}
.top { vertical-align: top; }

.fifth { width: 19%; }
.quarter { width: 24%; }
.third { width: 32%; }
.half { width: 48% }


