%table.wide
  %th{colspan: 2}
    %h2 Mania
    %p.center The less you #{realm.produce.first_word} the less you have to #{realm.consume}.
  %tr
    %td.half.top
      %h3 Excess Production
      %p=render "rationale/ejm", realm: realm
    %td.top
      %h3 Oversensitivity
      %p=render "rationale/ijm", realm: realm
  %th{colspan: 2}
    %h2 Depression
    %p.center
  %tr
    %td.top
      %h3 Lack of Production
      %p=render "rationale/ejd", realm: realm
    %td.top
      %h3 Undersensitivity
      %p=render "rationale/ijd", realm: realm
