-@realms.each do |realm|
  -choice = number + realm.symbol
  %div{:class => @answer.css(choice)}
    -if @answer.css(choice) == "free"
      %p
        =link_to answer_path(@answer.next(choice)) do
          =realm.symbol
          =render "text", realm: realm, number: number
    -else
      =realm.inspect
