-I18n.locale = subtype.locale
%td.quarter.top
  -if @answer.css(subtype) == "free"
    %p.center
      =render "nature/#{subtype.attitude.loc}"
  %p.center{:class => @answer.css(subtype)}
    -if @answer.css(subtype) == "free"
      =link_to (render subtype.attitude.loc), answer_path(@answer.next(subtype))
    -else
      =render subtype.attitude.loc
