%table
  %tr
    %td.none
      %strong Manic
      =render "choice", number: "1"
    %td.none
      %strong Receptive
      =render "choice", number: "2"
  %tr
    %td.none
      %strong Productive
      =render "choice", number: "4"
    %td.none
      %strong Depressed
      =render "choice", number: "3"
