%table
  %caption=attitude.name
  %tr
    =render "td", subtype: attitude + Realm.first
    =render "td", subtype: attitude + Realm.second
  %tr
    =render "td", subtype: attitude + Realm.third
    =render "td", subtype: attitude + Realm.fourth
