%table
  %tbody
    %tr
      %th Manic realm: #{Realm.symbols.join}
      %th Receptive realm: #{Realm.symbols.join}
    %tr
      %th Productive realm: #{Realm.symbols.join}
      %th Depressed realm: #{Realm.symbols.join}
