%td.top.half{:class => @answer.css(subtype)}
  -if @answer.css(subtype) == "free"
    =link_to subtype.name, answer_path(@answer.next(subtype), :group_by => params[:group_by]), :class => "answer"
  -else
    =subtype.name
