-case number
  -when "1", "3"
    Sometimes I
    %em cannot
    stop myself from
    =render "application/text", realm: realm, number: number
  -when "2", "4"
    I
    %em can
    =render "application/text", realm: realm, number: number
    Although I’m pretty sure I shouldn’t.
