-content_for(:title, "Question ##{@answer.number} of 3")
%p There is another realm in which getting energy is more painful or unpleasant or time consuming.
%p It’s difficult to make up the energy deficit, but you find the time and make the effort to find energy you can enjoy, because you can’t just stop using energy.
%ul
  -@realms.each do |realm|
    %li
      =link_to realm.name, answer_path(@answer.next(realm.path))
      I enjoy #{realm.get_nice_energy.ing} even when I can’t #{realm.process} the #{realm.strengtheners}
%p
  If none of these seem right, you can
  =link_to "start over", answer_path(Answer.first_path)
