-content_for(:title, "Question ##{@answer.number} of 4")
%p.center
  Once you have
  %span.chosen chosen
  something, other choices will become
  %span.constrained unavailable.

-unless @answer.number == 1
  %p.center
    If you are stuck you can
    =link_to_unless_current "start over", answer_path(Answer.first_path)

%table
  %caption Choose your Most Unbalanced Behaviors (that you would or do take drugs to balance)
  -GenericBehavior.each do |gb|
    %tr
      -gb.behaviors.each do |behavior|
        %td{class: @answer.css(behavior)}
          =link_to_unless @answer.taken?(behavior), behavior.problem_names, answer_path(@answer.next(behavior))
          %p=link_to behavior.bad, behavior_path(behavior.symbol), class: "external"
          %p=link_to behavior.good, behavior_path(behavior.opposite.symbol), class: "external"
