-content_for(:title, "Question ##{@answer.number} of 4")
%p.center
  Once you have
  %span.chosen chosen
  a Subtype, the other subtypes in the
  %span.warning same
  Realm or Attitude will become unavailable.
%p.center
  If you get stuck, you can
  =link_to "start over.", answer_path(Answer.first_path)
%table
  %tr
    %th
    -Realm.all.each do |realm|
      %th #{realm.name} Realm
  -Attitude.all.each do |attitude|
    %tr
      %th #{attitude.name} Attitude
      -attitude.subtypes.each do |subtype|
        =render "subtype", subtype: subtype
