-content_for(:title, "Question ##{@answer.number} of 4")
%p.center
  Once you have
  %span.chosen chosen
  something, the other choices in the
  %span.warning same
  Row or Column will become unavailable.
-unless @answer.number == 1
  %p.center
    If you get stuck, you can
    =link_to_unless_current "start over", answer_path(Answer.first_path)
%table
  %tr
    %th
      -if @by_attitude
        =link_to "Transpose rows and columns", url_for(params.merge(:sort => "r"))
        -concepts = Attitude.all
        -inner = Realm
      -else
        =link_to "Transpose rows and columns", url_for(params.merge(:sort => "a"))
        -concepts = Realm.all
        -inner = Attitude
    -inner.all.each do |header|
      %th=header.name
  -concepts.each do |concept|
    %tr
      %th #{concept.name}
      -concept.subtypes.each do |subtype|
        %td.quarter.none
          %div{:class => @answer.css(subtype)}
            -if @answer.css(subtype) == "free"
              =link_to answer_path(@answer.next(subtype), :sort => params[:sort]) do
                =render "problem", subtype: subtype
            -else
              =subtype.name
