-content_for(:title, "Question ##{@answer.number} of 3")
%p
  Once you have
  %span.chosen chosen
  something, the other choices in the
  %span.warning same
  Realm or Attitude will become unavailable.
-unless @answer.number == 1
  %p.center
    If you are stuck you can
    =link_to_unless_current "start over", answer_path(Answer.first_path)
%table
  %tr
    %td.none
      -if @by_attitude
        =link_to "Transpose realms and attitudes", url_for(params.merge(:sort => "r"))
        -cols = Realm.all
        -rows = Attitude.all
      -else
        =link_to "Transpose attitudes and realms", url_for(params.merge(:sort => "a"))
        -cols = Attitude.all
        -rows = Realm.all
    -cols.each do |col|
      %th=col.name
  -rows.each do |row|
    %tr
      %th=row.name
      -row.subtypes.each do |subtype|
        %td.p{:class => @answer.css(subtype)}
          -#=subtype.stimulated? ? "I" : "I have"
          -if @answer.css(subtype) == "free"
            =link_to answer_path(@answer.next(subtype), :sort => params[:sort]), :class => "answer" do
              =render "problem", subtype: subtype
          -else
            =render "problem", subtype: subtype
