-content_for(:title, "Question ##{@answer.number} of 4")
%table
  %caption Your #{@realm.name} Goal
  -@subtypes.in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        %td
          =link_to subtype.name, answer_path(@answer.next(subtype))
