-content_for(:title, "Question ##{@answer.number} of 4")
%h2 Your #{@answer.energy.name} State
%table
  -@answer.energy.subtypes.in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        %td.half.top
          =link_to subtype.name, answer_path(@answer.next(subtype.state.path))
          %div=subtype.overreaction
