-content_for(:title, "Question ##{@answer.number} of 4")
%p.center
  Once you have
  %span.chosen chosen
  something, about half the remaining choices will become unavailable.
-unless @answer.number == 1
  %p.center
    If you get stuck, you can
    =link_to_unless_current "start over", answer_path(Answer.first_path)
-Subtype.each do |subtype|
  %div{:class => @answer.css(subtype)}
    -if @answer.css(subtype) == "free"
      =link_to answer_path(@answer.next(subtype), :sort => params[:sort]) do
        =subtype.name
    -else
      =subtype.name
