-content_for(:title, "Question ##{@answer.number} of 3")
%p.center
  Once you have
  %span.chosen chosen
  something, the other choices in the
  %span.warning same
  Row or Column will become unavailable.
-unless @answer.number == 1
  %p.center
    If you get stuck you can
    =link_to_unless_current "start over", answer_path(Answer.first_path)
%p.center
  -if @by_attitude
    =link_to "Transpose rows and columns", url_for(params.merge(:sort => "r"))
    -cols = Realm.all
    -rows = Attitude.all
  -else
    =link_to "Transpose columns and rows", url_for(params.merge(:sort => "a"))
    -cols = Attitude.all
    -rows = Realm.all
%table
  %caption I feel better if I…
  %tr
    %th
    -cols.each do |col|
      %th=col.name
  -rows.each do |row|
    %tr
      %th=row.name
      -row.subtypes.each do |subtype|
        %td.quarter.none
          %div{:class => @answer.css(subtype)}
            -if @answer.css(subtype) == "free"
              =link_to answer_path(@answer.next(subtype), :sort => params[:sort]), :class => "answer" do
                .left=render "short", subtype: subtype
            -elsif @answer.css(subtype) == "chosen"
              .left=render "short", subtype: subtype
            -else
              =subtype.name
