-content_for(:title, "Question ##{@answer.number} of 4")
%p
  Once you have
  %span.chosen chosen
  something you always want to do, the others in the
  %span.warning same
  Realm or Attitude will become unavailable.
  If you get stuck, you can
  =link_to "start over.", answer_path(Answer.first_path)
%table
  -Realm.all.in_groups_of(2) do |outter_row|
    %tr
      -outter_row.each do |realm|
        %td
          %table
            %caption My #{realm.name} Attitude
            -realm.subtypes.in_groups_of(2) do |inner_row|
              %tr
              -inner_row.each do |subtype|
                %td.top
                  %div{:class => @answer.css(subtype)}
                    -if @answer.css(subtype) == "free"
                      =link_to answer_path(@answer.next(subtype)) do
                        =render "subtype", subtype: subtype
                    -elsif @answer.css(subtype) == "chosen"
                      =subtype.hard
                    -else
                      =subtype.easier
                    =subtype.arrow
