-content_for(:title, "Question ##{@answer.number} of 4")
-I18n.locale = @answer.realm.locale
%h2 Your #{@answer.realm.name} Problem
%table.wide
  -@answer.realm.subtypes.each do |subtype|
    %td.quarter.top
      %div=link_to subtype.name, answer_path(@answer.next(subtype.attitude.path))
      %div=render subtype.attitude.path
