-content_for(:title, "Question ##{@answer.number} of 4")
-@answer.realms.each do |realm|
  %p.center
    =link_to answer_path(@answer.next(realm)) do
      =render "attitude", subtype: @answer.attitude + realm

-unless @answer.number == 1
  %p.heading=link_to "start over", answer_path(Answer.first_path)
