-content_for(:title, "Question ##{@answer.number} of 4")
%p
  Once you have
  %span.chosen chosen
  something, the other choices in the
  %span.warning same
  quadrant will become unavailable.
-unless @answer.number == 1
  %p.center
    If you are stuck you can
    =link_to_unless_current "start over", answer_path(Answer.first_path)
%table
  %tr
    %th
    %th Energy
    %th Strength
  %tr
    %th Intake
    %td=render "table", attitude: Attitude.ep
    %td=render "table", attitude: Attitude.ej
  %tr
    %th Output
    %td=render "table", attitude: Attitude.ip
    %td=render "table", attitude: Attitude.ij
