-content_for(:title, "Question ##{@answer.number} of 4")
%p.center
  Once you have
  %span.chosen chosen
  a Subtype, the other subtypes in the
  %span.warning same
  Realm or Attitude will become unavailable.
%p.center
  If you get stuck, you can
  =link_to "start over.", answer_path(Answer.first_path)
%table
  -Attitude.all.in_groups_of(2) do |outter_row|
    %tr
    -outter_row.each do |attitude|
      %td
        %table
          -attitude.subtypes.in_groups_of(2) do |inner_row|
            %tr
            -inner_row.each do |subtype|
              =render "subtype", subtype: subtype
