-content_for(:title, "Question ##{@answer.number} of 4")
%h2 Your #{@energy.name} Imbalance
%table
  %caption I know I should…
  -@energy.subtypes.in_groups_of(2).each_with_index do |row, index|
    %tr
      -row.each do |subtype|
        %td.top
          =link_to subtype.problem, answer_path(@answer.next(subtype.imbalance.path))
