-content_for(:title, "Question ##{@answer.number} of 4")
%p
  Once you have
  %span.chosen chosen
  a hate, the other hates in the
  %span.warning same
  Realm or Attitude will become unavailable.
%p.center
  If you get stuck, you can
  =link_to "start over.", answer_path(Answer.first_path)
%table
  -Attitude.all.in_groups_of(2) do |outter_row|
    %tr
    -outter_row.each do |attitude|
      %td
        %table
          -attitude.subtypes.in_groups_of(2) do |inner_row|
            %tr
            -inner_row.each do |subtype|
              %td.quarter.top
                %p{:class => @answer.css(subtype)}
                  -if @answer.css(subtype) == "free"
                    =link_to subtype.hate, answer_path(@answer.next(subtype))
                  -elsif @answer.css(subtype) == "chosen"
                    =subtype.hate
                  -else
                    =subtype.indifferent
