%h3=subtype.name
%p
  =subtype.name.an_phrase.capitalize
  wants to
  %em=subtype.consume
  more.
  They don’t want to
  =subtype.produce
  %em or
  =subtype.effect.period
  They just want to
  =subtype.consume.period
  So they can
  =subtype.perform
  in
  %em circles
  if they want to. They just need to somehow get rid of enough
  =subtype.kinetic_energy
  so they can
  =subtype.consume
  as much as they want without collecting too
  =subtype.potential_energy.many_phrase.period
