%h3=subtype.name
%p
  =subtype.name.an_phrase.capitalize
  want to
  %em=subtype.effect("more").period
  They don’t want to
  %em=subtype.produce("new").period
  So they don’t need
  =subtype.kinetic_energy.many_phrase.period
  They just need to somehow gain enough
  =subtype.strengths
  so they can
  =subtype.effect("as #{subtype.effect_nouns.many}")
  as they want without feeling too
  =subtype.worn_out.period
