%h3=subtype.name
%p
  =subtype.name.an_phrase.capitalize
  wants to
  %em=subtype.produce("new").period
  They don’t want to
  %em=subtype.effect("more").period
  So they don’t need
  =subtype.strengths.many_phrase.period
  They just need to somehow gain enough
  =subtype.kinetic_energy
  so they can
  =subtype.produce("as #{subtype.produce_nouns.many}")
  as they want without losing too
  =subtype.potential_energy.many_phrase.period
