%h3=subtype.name
%p
  =subtype.name.an_phrase.capitalize
  wants to
  %em=subtype.perform
  more.
  They want to
  =subtype.produce("new")
  %em and
  =subtype.effect("more").period
  They need both
  =subtype.strengths
  and
  =subtype.kinetic_energy
  and enough, but not too much,
  =subtype.potential_energy.period
  So they have to learn how
  =subtype.provide
  =subtype.resources
  =subtype.provide_helper
  themselves, so they get the proper balance of
  =subtype.strong_resources
  and
  =subtype.energetic_resources
  and
  =subtype.buffers.period
