You're having a ball
=realm.produce_with.ing
=realm.things
but you must sleep sometime!
%br
%br
You won't stop
=realm.produce.ing
until you stop
=realm.consume.ing
so
=realm.turn_off
and go to sleep!
%br
%br
Even a micro-nap will refresh you and you will be able to stop
=realm.produce.ing
and actually
=realm.produce_with
some important
=realm.things.period