Mania (or taking stimulants)
is not a problem for me because my
=realm.organ.are_phrase
not very sensitive so I don’t have to either force myself to try to
=realm.produce
less than I want to
=realm.produce
or keep 
=realm.consume.ing
until I am
=realm.sick
and start to
=realm.be_sick.period
