=render "mania/template", :subtype => subtype,
  :type_of_mania => "Hypo",
  :i_am_manic => "I am #{subtype.go.ing}!",
  :you_are_manic => "you keep #{subtype.go.ing}",
  :high_response => "try to go to bed and sleep — as you learned to do as an infant — but you can’t sleep because of the emergency so you stay up and keep #{subtype.go.ing}"
