%p
  The loss of
  =realm.energy
  during mania is not just distressing, it could be fatal.
%p
  Although you do not normally have too
  =realm.energy.few_phrase.comma
  you will not easily regain
  =realm.energy.them
  during the subsequent depression, and you will, eventually, run out.
%p
  The best way to slow the loss is to continue to
  =realm.consume_strengtheners
  even when you are too manic to
  =realm.consume
  =realm.energizers.many_phrase.period
%p
  The best way to regain
  =realm.energy
  is to remember to start
  =realm.consume_energizers.more_phrase.ing
  again as soon as the mania ends; the more
  =realm.energizers
  you can
  =realm.consume.comma
  the more
  =realm.energy
  you will accumulate.
