%p
  Building new
  =realm.strengths
  may be painful during mania, but it’s good for you.
%p
  You will find it faster and less painful if you make an effort to
  =realm.consume_strengtheners.more_phrase.period
%p
  In fact, you should make it a habit to always
  =realm.consume_strengtheners
  before you treat yourself to
  =realm.energizers.period
