Do not 
=realm.produce
unless you have to. The
=realm.things.fewer_phrase
you
=realm.produce_with.comma
the
=realm.resources.fewer
=realm.bad
=realm.parts
you’ll have to
=realm.consume_with.period
%br
%br
Pull out your favorite
=realm.resources
— the ones that never make you
=realm.be_sick
even if they are a little boring — and
=realm.consume
as often as you can, since you won’t be able to
=realm.consume
for long.
