=realm.produce.capitalize
as little as possible: ask yourself whether this
=realm.thing
really needs to be
=realm.produce_with.en.period
%br
%br
=realm.consume.capitalize
as little as possible, the less you
=realm.consume.comma
the less you will
=realm.produce.period
%br
%br
If you must
=realm.consume.comma
=realm.consume_with
=realm.subtle
=realm.resources.period