Take the opportunity to get rid of some excess
=realm.potential
by
=realm.consume.ing
as late in the day as possible when you are even more sensitive to
=realm.appearance.period
%br
%br
=realm.produce.capitalize
as much and as often as you can: the more you
=realm.produce.comma
the more you can
=realm.consume.period
%br
%br
If you cannot sleep, get up and
=realm.produce
until you’re tired.
%br
%br
If you still can’t sleep,
=realm.consume_with
something.