%p
  The loss of
  =realm.energy
  during mania is distressing, but is unlikely to be fatal.
%p
  For one thing, you are used to having
  =realm.energy.few_phrase.comma
  so you are aware of the danger, and for another you will easily regain
  =realm.energy.them
  during the subsequent depression.
%p
  The best way to slow the loss is to continue to
  =realm.consume_strengtheners
  even when you are too manic to
  =realm.consume
  =realm.energizers.many_phrase.period
%p
  The best way to regain
  =realm.energy
  is to take advantage of the
  depression which inevitably follows mania.
