%h3==#{type_of_mania}mania: #{i_am_manic}
%ul
  %li
    =you_are_manic
    because you keep
    =subtype.fill_up.ing
  %li
    because you keep
    =subtype.fill_up.ing.comma
    you are
    =subtype.high_on_energy
  %li
    because you are
    =subtype.high_on_energy.comma
    you
    =high_response