%p
  Building new
  =realm.strengths
  may be easier during mania, but it’s not necessarily a good use of your time.
%p
  You should make an effort to only
  =realm.produce_strongly
  that need to be
  =realm.psv.en.period
%p
  In fact, you should make it a habit to always verify that
  =realm.psn
  need to be
  =realm.psv.en
  before you try to
  =realm.psv
  =realm.psn.them.period
