%li
  relatively
  insensitive
  in the
  =realm.generic
  realm, as an infant you
  could be
  =realm.provide.en
  a lot
  without
  =realm.reject_energy.ing
  and you
  =realm.go.ed
  a lot as a result
%li
  sometimes you were
  prevented from
  =realm.go.ing
  when you felt
  =realm.high_on_energy
  and sometimes you
  were not
  =realm.provide.en
  =realm.resources
  when you felt
  =realm.low_on_energy
