%li
  relatively
  insensitive
  in the
  =realm.physical
  realm, as an infant you
  could be
  =realm.feed.en
  a lot
  without
  =realm.throw_up.ing
  and you
  did
  =realm.move
  a lot as a result
%li
  sometimes you were
  prevented from
  =realm.move.ing
  when you felt
  =realm.restless
  and sometimes you
  were not
  =realm.feed.en
  when you felt
  =realm.hungry
