%ul
  =render "role/e", :realm => realm
  %ul
    %li
      relative to your other
      insensitive
      realm, there were more times when you
      were not
      =realm.provide.en
      =realm.resources
      when you felt
      =realm.low_on_energy
      than there were times when you were
      prevented from
      =realm.produce.ing
      when you felt
      =realm.high_on_energy
    %li
      this cemented your “attitude” towards the
      =realm.adjective
      realm: you are a
      ==#{realm.adjective.capitalize}#{Attitude.ej.name}
  %li
    your role in life is to
    =realm.gsub(Attitude.ej.role)
    %ul
      %li
        =realm.adjective
        =Attitude.ej.name.pluralize
        are the only
        =realm.adjective
        attitude that can provide
        =realm.resources
        to
        %em all
        people:
        they have to keep adding
        =realm.energetic
        =realm.additions
        to the
        =realm.resources
        they provide until they themselves no longer feel
        =realm.low_on_energy
        but they can be taught to put warnings on
        =realm.additions
        that are too
        =realm.energetic
        for Subs and Bottoms to
        =realm.consume
        and although Tops may feel guilty afterwards for
        =realm.consume.ing
        too many
        =realm.energetic
        =realm.additions
        they rarely blame the Dom for
        %em providing
        =realm.additions.them
      %li
        =realm.adjective
        =Attitude.ip.name.pluralize
        cannot
        =realm.provide
        =realm.resources
        to others because they are too busy
        =realm.consume.ing
        the
        =realm.resources
        that are being
        =realm.provide.en
        to them (or are eschewing
        =realm.resources
        altogether)
      %li
        =realm.adjective
        =Attitude.ij.name.pluralize
        are willing to provide
        =realm.resources.comma
        but they rarely provide enough
        =realm.additions
        or
        =realm.additions
        that are
        =realm.energetic
        enough to satisfy Tops and Doms
      %li
        =realm.adjective
        =Attitude.ep.name.pluralize
        are willing to provide
        =realm.resources.comma
        but their
        =realm.resources
        are usually too
        =realm.energetic
        for Bottoms and Subs
        to
        =realm.consume
