%ul
  =render "role/e", :realm => realm
  %ul
    %li
      relative to your other
      insensitive
      realm, there were more times when you
      were not
      =realm.provide.en
      =realm.resources
      when you were
      =realm.low_on_energy
      than there were times when you were
      prevented from
      =realm.go.ing
      when you were
      =realm.high_on_energy
    %li
      raised in a different environment, you would have become a
      =link_to realm.gsub(Attitude.ep.nature).s.titleize.squash, type_path(realm.path + "ep")
  %li
    your “role” in life is to
    =realm.gsub(Attitude.ej.role)
