%ul
  =render "role/e", :realm => realm
  %ul
    %li
      relative to your other
      insensitive
      realm, there were more times when you
      were prevented from
      =realm.go.ing
      when you felt
      =realm.high_on_energy
      than there were times when you were
      not
      =realm.provide.en
      =realm.resources
      when you felt
      =realm.low_on_energy
    %li
      this cemented your attitude towards the
      =realm.generic
      realm: you are a
      ==#{realm.generic.capitalize}#{Attitude.ep.name}
  %li
    your “role” in life is to
    =realm.gsub(Attitude.ep.role)
