%ul
  =render "role/e", :realm => realm
  %ul
    %li
      relative to your other
      insensitive
      realm, there were more times when you
      were prevented from
      =realm.move.ing
      when you felt
      =realm.restless
      than there were times when you were
      not
      =realm.feed.en
      when you felt
      =realm.hungry
    %li
      this cemented your “attitude” towards the
      =realm.physical
      realm: you are a
      ==#{realm.physical.capitalize}#{Attitude.ep.name}
      and your role in life is to
      =realm.gsub(Attitude.ep.role)
