%li
  relatively
  sensitive
  to
  =realm.stimulus.comma
  as an infant you
  could not be
  =realm.provide.en
  a lot
  without
  =realm.reject_energy.ing
  and you
  did not
  =realm.go
  a lot as a result
%li
  sometimes you were
  encouraged to
  =realm.go
  before you were
  =realm.high_on_energy
  and sometimes you
  were
  =realm.provide.en
  =realm.resources
  before you were
  =realm.low_on_energy
