%li
  relatively
  sensitive
  in the
  =realm.generic
  realm, as an infant you
  could not be
  =realm.provide.en
  a lot
  without
  =realm.reject_energy.ing
  and you
  did not
  =realm.go
  a lot as a result
%li
  sometimes you were
  encouraged to
  =realm.go
  before you felt
  =realm.high_on_energy
  and sometimes you
  were
  =realm.provide.en
  before you felt
  =realm.low_on_energy
