%li
  relatively
  sensitive
  in the
  =realm.physical
  realm, as an infant you
  could not be
  =realm.feed.en
  a lot
  without
  =realm.throw_up.ing
  and you
  did not
  =realm.move
  a lot as a result
%li
  sometimes you were
  encouraged to
  =realm.move
  before you felt
  =realm.restless
  and sometimes you
  were
  =realm.feed.en
  before you felt
  =realm.hungry
