%ul
  =render "role/i", :realm => realm
  %ul
    %li
      relative to your other sensitive realm, there were more times when you were
      encouraged to
      =realm.go
      when were not
      =realm.high_on_energy
      than there were times when you were
      =realm.provide.en
      =realm.resources
      when you were not
      =realm.low_on_energy
    %li
      raised in a different environment, you would have become a
      =link_to realm.gsub(Attitude.ip.nature).s.titleize.squash, type_path(realm.path + "ip")
  %li
    your “role” in life is to
    =realm.gsub(Attitude.ij.role)
