%ul
  =render "role/i", :realm => realm
  %ul
    %li
      relative to your other sensitive realm, there were more times when you were
      encouraged to
      =realm.produce
      when you did not feel
      =realm.high_on_energy
      than there were times when you were
      =realm.provide.en
      =realm.resources
      when you did not feel
      =realm.low_on_energy
    %li
      this cemented your “attitude” towards the
      =realm.adjective
      realm: you are a
      ==#{realm.adjective.capitalize}#{Attitude.ij.name}
  %li
    your role in life is to
    =realm.gsub(Attitude.ij.role)
