%ul
  =render "role/i", :realm => realm
  %ul
    %li
      relative to your other
      sensitive
      realm, there were more times when you
      were
      =realm.provide.en
      =realm.resources
      when you were not
      =realm.low_on_energy
      than there were times when you were
      encouraged to
      =realm.go
      before you were
      =realm.high_on_energy
    %li
      raised in a different environment, you would have become a
      =link_to realm.gsub(Attitude.ij.nature).s.titleize.squash, type_path(realm.path + "ij")
  %li
    your “role” in life is to
    =realm.gsub(Attitude.ip.role)
  %li
    luckily most people stop
    =realm.provide.ing
    you
    =realm.resources
    when you start
    =realm.reject_energy.ing
    %ul
      %li
        this has the added benefit of your not having to
        =realm.go
        in order to get rid of all the other
        =realm.resources
        you’ve
        =realm.fill_up_with.en
      %li
        unfortunately, when you
        =realm.reject_energy
        you get rid of all the good
        =realm.strength
        as well as all the toxic
        =realm.energy
      %li
        worse, you may become so averse to
        =realm.resources
        that you become
        =realm.phobic
        and unwilling to
        =realm.fill_up_with
        or
        =realm.process
        anything
