%ul
  =render "role/i", :realm => realm
  %ul
    %li
      relative to your other
      sensitive
      realm, there were more times when you
      were
      =realm.provide.en
      =realm.resources
      when you
      did not feel
      =realm.low_on_energy
      than there were times when you were
      encouraged to
      =realm.produce
      before you felt
      =realm.high_on_energy
    %li
      this cemented your “attitude” towards the
      =realm.adjective
      realm: you are a
      ==#{realm.adjective.capitalize}#{Attitude.ip.name}
  %li
    your role in life is to
    =realm.gsub(Attitude.ip.role)
  %li
    luckily most people stop
    =realm.provide.ing
    you when you
    =realm.reject_energy
    %ul
      %li
        this has the added benefit of your not having to
        =realm.produce
        in order to get rid of all the other
        =realm.resources
        you’ve
        =realm.consume.en
        because you’ve already
        =realm.reject_energy.en
        and you have no
        =realm.resources
        left to
        =realm.produce
        with
      %li
        =realm.adjective
        =Attitude.ip.name.pluralize
        are the only
        =realm.adjective
        attitude that can and will deliberately try to
        =realm.consume
        too much, knowing that they will eventually
        =realm.reject_energy.punctuate(":")
        Tops and Doms cannot
        =realm.reject_energy
        just by
        =realm.consume.ing
        too
        %em=realm.resources.many.split.first
        =realm.resources
        and Bottoms need the
        =realm.resources
        too much to risk
        =realm.reject_energy.ing
        by
        =realm.consume.ing
        more
      %li
        unfortunately, when you
        =realm.reject_energy
        you get rid of all the good
        =realm.strength
        as well as the toxic
        =realm.energy
      %li
        worse, you may become so averse to
        =realm.energy
        that you become
        =realm.phobic
        and unwilling to
        =realm.process
        anything, even
        =realm.strength
