%p
  =mbti.s
  learned as infants to
  %em=first_lesson.punctuate("!")
%p
  The anxiety that an
  =mbti
  feels whenever they
  =first_action
  is so ingrained that they find it difficult to
  =first_action_alt
  unless given explicit permission and continuous encouragement.
%p
  When they became too
  =result.punctuate(",")
  they learned to
  %em=second_lesson.punctuate("!")
%p
  This second message is not nearly as firmly entrenched in their psyche and when they are tired they do not always have enough
  =power
  to
  =second_lesson
  even though they know they “should”.
