%ul
  =render "normal/j", :realm => realm
  %ul
    %li
      the times when you were
      prevented from
      =realm.move.ing
      when you felt
      =realm.restless
      were not unusual, merely more than you were used to
    %li
      the times when you were
      =realm.feed.en
      before you felt
      =realm.hungry
      by
      %em
        someone who wants you to be
        =realm.fat.er
      were often in direct conflict with your role in life, which is to stop
      =realm.eat1.ing
      whenever
      %em anyone
      wants you to stop
    %li
      thus, unless
      %em everyone
      around you wants you to become
      =realm.fat.er
      and is willing for you to
      =realm.eat1
      more to achieve that goal, you will eventually learn that you
      “should”
      =realm.move
      less
      in order to be less
      =realm.thin
  =render "normal/result", :realm => realm
