%ul
  =render "normal/j", :realm => realm
  %ul
    %li
      the times when you were
      prevented from
      =realm.go.ing
      when you were
      =realm.high_on_energy
      were not unusual, merely more than you were used to
    %li
      the times when you were
      =realm.provide.en
      before you were
      =realm.low_on_energy
      by
      %em
        someone who wanted you to be
        =realm.full.er
      were often in direct conflict with your role in life, which is to stop
      =realm.fill_up.ing
      whenever
      %em anyone
      wants you to stop
  %li
    thus, unless
    %em everyone
    around you wants you to become
    =realm.full.er
    and is willing for you to
    =realm.fill_up
    more to achieve that goal, you will eventually learn that you
    “should”
    =realm.go
    less
    in order to be less
    =realm.empty
    %ul=render "normal/result", :realm => realm
