%ul
  =render "normal/p", :realm => realm
  %ul
    %li
      the times when you were
      not
      =realm.provide.en
      when you felt
      =realm.low_on_energy
      were not unusual, merely more than you were used to
    %li
      the times when you were encouraged to
      =realm.produce
      before you felt
      =realm.high_on_energy
      by
      %em
        someone who wants you to be
        =realm.underfull.er
      were often in direct conflict with your role in life, which is to stop
      =realm.produce.ing
      whenever
      %em anyone
      wants you to stop
    %li
      thus, unless
      %em everyone
      around you wants you to become
      =realm.underfull.er
      and is willing for you to
      =realm.produce
      more to achieve that goal, you will eventually learn that you
      “should”
      =realm.consume
      less
      in order to be less
      =realm.overfull
  =render "normal/result", :realm => realm
