%ul
  =render "normal/p", :realm => realm
  %ul
    %li
      the times when you were
      not
      =realm.feed.en
      when you felt
      =realm.hungry
      were not unusual, merely more than you were used to
    %li
      the times when you were encouraged to
      =realm.move
      before you felt
      =realm.restless
      by
      %em
        someone who wants you to be
        =realm.thin.er
      were often in direct conflict with your role in life, which is to stop
      =realm.move.ing
      whenever
      %em anyone
      wants you to stop
    %li
      thus, unless
      %em everyone
      around you wants you to become
      =realm.thin.er
      and is willing for you to
      =realm.move
      more to achieve that goal, you will eventually learn that you
      “should”
      =realm.eat1
      less
      in order to be
      =realm.thin.er
  =render "normal/result", :realm => realm
