%ul
  =render "normal/p", :realm => realm
  %ul
    %li
      the times when you were
      encouraged to
      =realm.move
      before you felt
      =realm.restless
      were not unusual, merely more than you were used to
    %li
      the times when you were prevented from
      =realm.eat1.ing
      before you felt
      =realm.hungry
      by
      %em
        someone who wants you to be
        =realm.thin.er
      were often in direct conflict with your role in life, which is to start
      =realm.eat1.ing
      whenever
      %em anyone
      wants to
      =realm.feed
      you
    %li
      thus, unless
      %em everyone
      around you wants you to become
      =realm.thin.er
      and is willing for you to
      =realm.eat1
      less to achieve that goal, you will eventually learn that you
      “should”
      =realm.move
      more
      in order to be less
      =realm.fat
  =render "normal/result", :realm => realm
