%li
  eventually all this
  =realm.produce.ing
  without
  =realm.consume.ing
  had its inevitable result: you became too
  =realm.underfull
%li
  sometimes you were
  prevented from
  =realm.produce.ing
  when you felt
  =realm.high_on_energy
  and sometimes you
  were
  =realm.provide.en
  before you felt
  =realm.low_on_energy
