%li
  eventually all this
  =realm.move.ing
  without
  =realm.eat1.ing
  had its inevitable result: you became too
  =realm.thin
%li
  sometimes you were
  prevented from
  =realm.move.ing
  when you felt
  =realm.restless
  and sometimes you
  were
  =realm.feed.en
  before you felt
  =realm.hungry
