%li
  eventually all this
  =realm.go.ing
  without
  =realm.fill_up.ing
  had its inevitable result: you became too
  =realm.empty
%li
  sometimes you were
  prevented from
  =realm.go.ing
  when you were
  =realm.high_on_energy
  and sometimes you
  were
  =realm.provide.en
  =realm.resources
  before you were
  =realm.low_on_energy
