%li
  eventually all this
  =realm.eat1.ing
  without
  =realm.move.ing
  had its inevitable result: you became too
  =realm.fat
%li
  sometimes you were
  encouraged to
  =realm.move
  before you felt
  =realm.restless
  and sometimes you
  were not
  =realm.feed.en
  when you felt
  =realm.hungry
