%li
  eventually all this
  =realm.consume.ing
  without
  =realm.produce.ing
  had its inevitable result: you became too
  =realm.overfull
%li
  sometimes you were
  encouraged to
  =realm.produce
  before you felt
  =realm.high_on_energy
  and sometimes you
  were not
  =realm.provide.en
  when you felt
  =realm.low_on_energy
