%li
  eventually all this
  =realm.fill_up.ing
  without
  =realm.go.ing
  had its inevitable result: you became too
  =realm.full
%li
  sometimes you were
  encouraged to
  =realm.go
  before you felt
  =realm.high_on_energy
  and sometimes you
  were not
  =realm.provide.en
  when you felt
  =realm.low_on_energy
