%li
  the result of this process leaves you “acting normal” in the
  =realm.adjective
  realm
  %ul
    %li
      you
      =realm.consume1
      a “normal” amount, and you
      =realm.produce
      a “normal” amount
    %li
      you are neither too
      =realm.overfull
      nor too
      =realm.underfull
