%li
  the result of this process leaves you “acting normal” in the
  =realm.physical
  realm
  %ul
    %li
      you
      =realm.eat1
      a “normal” amount, and you
      =realm.move
      a “normal” amount
    %li
      you are neither too
      =realm.fat
      nor too
      =realm.thin
