%ul
  %li
    unfortunately, that’s all it is: an act
  %ul
    %li
      you are
      %em not
      normal, because you were not born average
    %li
      %em nobody
      can be born average &mdash; even the most average person in the world &mdash; because nobody is identically sensitive in all four realms
