%ul
  %li
    you were born
    overactive
    in the
    =realm.adjective
    realm
  %li
    you don’t
    =realm.consume1
    as much as you want, and then you become too
    =realm.underfull
    and have to
    =realm.produce
    less to compensate
  %li
    you will be less stressed, and less
    =realm.underfull.comma
    if you just accept that you are abnormal and allow yourself to
    =realm.consume1
    more to begin with
