%ul
  %li
    you want to
    =realm.produce
    &mdash; and that requires
    =realm.energy
    &mdash; but the
    =realm.resources
    they
    =realm.provide
    you
    =realm.resources.uncountable? ? "comes" : "come"
    bundled with far too
    =realm.energy.few
  %li
    then you become too
    =realm.underfull
    and have to let someone else
    =realm.produce
    for you
  %li
    you need to create your
    %em own
    =realm.resources.punctuate(":")
    the more
    =realm.energy
    =realm.resources.they
    contain, the more often you will be able to
    =realm.produce
    for yourself
