%ul
  %li
    you want to
    =realm.consume_wo
    &mdash; especially
    =realm.energy
    &mdash; but you keep waiting around for someone else to encourage you to
    %em use
    all
    =realm.energy.those
    you’ve
    =realm.consume_wo.en
  %li
    then you become too
    =realm.overfull
    and you have no excuse to
    =realm.consume_wo
    the
    =realm.energy
    you love
  %li
    you need to encourage
    %em yourself
    to
    =realm.produce
    even when you don’t have to:
    the more you
    =realm.produce
    the more
    =realm.energy
    you will be able to
    =realm.consume_wo
