%ul
  %li
    you want to
    =realm.consume_wo
    &mdash; especially
    =realm.strength
    &mdash; but you keep allowing someone else to encourage you to
    %em waste
    all the
    =realm.energy
    you’ve
    =realm.consume_wo.en
  %li
    then you become too
    =realm.underfull
    and you have to cannibalize some of the
    =realm.stored_strength
    you have built up over time in order to
    =realm.produce
    when you actually have to
  %li
    you need to discourage
    %em yourself
    from
    =realm.produce.ing
    when you don’t need to:
    the less you
    =realm.produce.comma
    the more of your
    =realm.stored_strength
    you will be able to preserve
