%ul
  %li
    you were born
    underactive
    in the
    =realm.physical
    realm
  %li
    you
    =realm.move
    more than you want, and then you have to
    =realm.eat1
    more to compensate
  %li
    you will be less stressed, and less
    =realm.thin.comma
    if you just accept that you are abnormal and allow yourself to
    =realm.move
    less to begin with
