%ul
  %li
    you want to
    =realm.produce
    &mdash; and that requires
    =realm.strength
    &mdash; but the
    =realm.resources
    they
    =realm.provide
    you
    =realm.resources.uncountable? ? "comes" : "come"
    bundled with far too
    =realm.energy.many
  %li
    then you
    =realm.reject_energy
    and become
    =realm.phobic
    and you cannot
    =realm.consume
    at
    %em all
    and have to let someone else
    =realm.produce
    for you
  %li
    you need to stop
    =realm.consume_wo.ing
    =realm.energetic
    =realm.resources.punctuate(":")
    seek out
    =realm.resources
    that contain plenty of
    =realm.strength
    and you will be able to
    =realm.produce
    for yourself
