%ul
  %li
    you were born
    underactive
    in the
    =realm.adjective
    realm
  %li
    you
    =realm.consume1
    more than you want, and then you become too
    =realm.overfull
    and have to
    =realm.produce
    more to compensate
  %li
    you will be less stressed, and less
    =realm.overfull.comma
    if you just accept that you are abnormal and allow yourself to
    =realm.consume1
    less to begin with
