%ul
  %li
    the truth is you were born
    underactive
    in the
    =realm.physical
    realm
  %li
    you
    =realm.eat1
    more than you want, and then you have to
    =realm.move
    more to compensate
  %li
    you will be less stressed if you just allow yourself to
    =realm.eat1
    less to begin with
