%ul
  %li
    unfortunately, that’s all it is: an act
  %li
    you are
    %em not
    normal
    %ul
      %li
        your “roles” are much more firmly entrenched in your psyche than your “shoulds”
      %li
        this makes you unbalanced whenever you forget your “shoulds” for too long, because you
        %em never
        forget your “roles”
  %li
    BipolarType asserts that it is easier to try to forget your “roles” than it is to always remember your “shoulds”
    %ul
      %li
        forgetting your “role” is just reverting to nature: you
        %em want
        to
        =subtype.advice
      %li
        your “should” doesn’t kick in until you are even
        =subtype.result.er
        than usual
