%ul
  %li
    you don’t
    =realm.fill_up
    when you feel
    =realm.low_on_energy
    because you are waiting for
    %em permission
    to
    =realm.fill_up
  %li
    give
    %em yourself
    permission to
    =realm.fill_up
    even when you are not especially
    =realm.low_on_energy
    %ul
      %li
        the more you
        =realm.fill_up.comma
        the
        =realm.high_on_energy.er
        you will be
      %li
        the
        =realm.high_on_energy.er
        you are, the easier it will be to
        =realm.go
