%ul
  %li
    you don’t
    =realm.go
    when you feel
    =realm.high_on_energy
    because you are waiting for
    %em permission
    to
    =realm.go
  %li
    give
    %em yourself
    permission to
    =realm.go
    even when you are not especially
    =realm.high_on_energy
    %ul
      %li
        the more you
        =realm.go.comma
        the
        =realm.low_on_energy.er
        you will be
      %li
        the
        =realm.low_on_energy.er
        you are, the more you can
        =realm.fill_up
