%ul
  %li
    you keep
    =realm.fill_up.ing
    when you are
    =realm.high_on_energy
    because you are waiting for
    %em permission
    to stop
    =realm.fill_up.ing
  %li
    give
    %em yourself
    permission to stop
    =realm.fill_up.ing
    even when you are still a little
    =realm.low_on_energy
    %ul
      %li
        the less you
        =realm.fill_up.comma
        the less
        =realm.high_on_energy
        you will be
      %li
        the less
        =realm.high_on_energy
        you are, the easier it is not to
        =realm.go
      %li
        the less you
        =realm.go.comma
        the less you have to
        =realm.fill_up
