.center { text-align: center; }
.small { font-size: small;}
.heading {font-style: italic; text-align: center; }
.constrained {color: green; font-style: italic}
.free {color: black; font-weight: bold}
.chosen {color: grey; font-style: italic}
