.warning {color: grey; font-style: italic}
.free {color: purple; font-weight: normal}
.chosen {color: black; font-style: italic}
.bold {font-weight: bold}
.ninth { width: 11%; }
.quarterish { width: 24%; }
.quarter { width: 25%; }
.third { width: 33%; }
.halfish { width: 48% }
.half { width: 50% }
.wide { width: 80% }
.full { width: 96% }
.narrow {
  padding: 0;
  width: 4%;
  hyphens: auto;
}
.heading {font-style: italic; text-align: center; }
.header {font-weight: bold; text-align: center; }
.center { text-align: center; }
.left { text-align: left; }
p { text-align: left; }
.right { text-align: right; }
.small { font-size: small;}
.nowrap {white-space: nowrap; }
.no_top {margin-top: 0; }
.no_bottom {margin-bottom: 0; }


.red {color: red;}
.green {color: green;}
.blue {color: blue;}
.gold {color: orange;}
