h1 {
  font-size: 1.4em;
  font-style: bold;
  text-align: center;
}
h2 {
  font-size: 1.3em;
  font-style: bold;
  text-align: center;
}
h3 {
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
}
h4 {
  font-size: 1.1em;
  text-align: center;
}
