a.external:link {text-decoration: none; color: grey;}
a.external:visited {text-decoration: none; color: grey;}
a.external:active {text-decoration: none}
a.external:hover {text-decoration: underline; color: grey;}
