ul, dl {
  text-align: left;
  margin: 0;
  padding: 0;
}
li.none {
  list-style-type: none;
}
dt, dd {
  display: inline;
  margin: 0;
}
dt:after {
  content: ":";
}
dd:after {
  content: '\A';
  white-space: pre;
}
