table {
  border: none;
  border-collapse: collapse;
  empty-cells: hide;
  margin-left:auto;
  margin-right:auto;
}
td {
  border: none;
  padding: 0 1%;
  vertical-align: top;
}
td.bottom { vertical-align: bottom;}
td.middle { vertical-align: middle; }
