table {
  border: none;
  border-collapse: collapse;
  empty-cells: hide;
  margin-left:auto;
  margin-right:auto;
}
td {
  border: 1px solid grey;
  vertical-align: top;
}
td.bottom { vertical-align: bottom;}
td.middle { vertical-align: middle; }
td.none {border: none;}
