To be permanently
=realm.empty.comma
so I can always stay home and
=realm.gain_phrase
=realm.energetic_resources.colon
=link_to  realm.full.prefix("I am too "), discover_path(@answer.next("#{realm.path}e"))
