%ul
  %li
    It is relatively
    =subtype.gaining_ease_of
    for me to gain
    =subtype.energy_potential
  %li
    It is relatively
    =subtype.losing_ease_of
    for me to lose
    =subtype.energy_potential
