- content_for(:title, "Choice ##{@answer.number}")
-if @answer.number > 1
  %p.chosen.center
    Selecting the same row or column again (shown in green) will reset
    - if @answer.number == 2
      your previous choice
    - else
      one or more of your previous choices
%table.center
  %tr
  -@answer.realm.behaviors.in_groups_of(2).each_with_index do |row, index|
    %tr
      -row.each do |behavior|
        %td
          =link_to behavior.mbti, (@answer.next(behavior.letters)), :class => @answer.css(behavior)
-unless @answer.number == 1
  %p=link_to "Start over", discover_path("Q1")
