- content_for(:title, "Question #1")
%p
  You are going to be away from home for a few days, and you can only bring one of the following with you; the others will be provided for you.
%ol
  -@answer.unchosen.each do |realm|
    %li
      =realm.resources
      to
      =realm.sense
      and
      =realm.consume
-@answer.unchosen.each do |realm|
  %p
    I would bring
    =link_to "my favorite " + realm.resources_with_mbti, discover_path(@answer.next(realm.path))
