- content_for(:title, "Question ##{@answer.number}")
%p.heading There are only three questions, and the next two have fewer choices.
%h2 Choose the one over which you have the least control.
-Realm.all.each do |realm|
  %h3
    =realm.kind.capitalize
    Realm
  %ul
    %li
      I don’t know why I keep gaining
      =realm.energy
      and am so
      =realm.full.colon
      =link_to realm.e.direction, discover_path(@answer.next("i#{realm.path}"))
    %li
      I don’t know why I keep losing
      =realm.energy
      and am so
      =realm.empty.colon
      =link_to realm.i.direction, discover_path(@answer.next("e#{realm.path}"))
