-content_for(:title, 'Discovery: Question #2')
%p
  I would rather
  =@answer.second.produce_things.colon
  =link_to "#{@answer.second.upcase}J", discover_path(@answer.three(@answer.pair))
%p
  I would rather
  =@answer.first.produce_things.colon
  =link_to "#{@answer.first.upcase}J", discover_path(@answer.three(@answer.pair.reverse))