-content_for(:title, "Question #1#{@answer.number}")
-Realm.all.each do |realm|
  %p
    I would be thrilled if I woke up and had lost all my
    =realm.potential.colon
    it would give me an excuse to
    =realm.produce
    as little as I have always wanted to
    =realm.produce.period
    %br
    =link_to_unless @answer.chosen?(realm), "I hate having to #{realm.produce_things}.", discover_path(@answer.next(realm))

