- content_for(:title, "Question ##{@answer.number}")
%h2 Choose the one that is the most true…
-@answer.realms.each do |realm|
  %h3=realm.kind.capitalize
  -if @answer.attitude == "e"
    %li
      I don’t know why I keep gaining
      =realm.energy
      and am so
      =realm.full.colon
      =link_to realm.e.direction, discover_path(@answer.next("#{realm.path}"))
  -if @answer.attitude == "i"
    %li
      I don’t know why I keep losing
      =realm.energy
      and am so
      =realm.empty.colon
      =link_to realm.i.direction, discover_path(@answer.next("#{realm.path}"))
