-content_for(:title, 'Discovery: Question #3')
%p
  I don’t
  =@answer.fourth.consume_resources
  because I have to, but because I like the way 
  =@answer.fourth.resources.they
  =@answer.fourth.appear.colon
  =link_to "#{@answer.fourth.upcase}P", discover_path(@answer.four(@answer.overs))
%p
  I don’t
  =@answer.third.consume_resources
  because I have to, but because I like the way 
  =@answer.third.resources.they
  =@answer.third.appear.colon
  =link_to "#{@answer.third.upcase}P", discover_path(@answer.four(@answer.overs.reverse))