- content_for(:title, "Choice ##{@answer.number}")
%p
  Choosing something in a column or row that has already been used will reset one or both of your previous choices.
%table
  %tr
    %th
    -Realm.all.each do |realm|
      %th
        =realm.description
  -Subtype.all.in_groups_of(4).each_with_index do |group, index|
    %tr
      %th
        -attitude=Attitude.all[index]
        =attitude.description
      -group.each do |subtype|
        %td
          -if @answer.chosen?(subtype)
            =subtype.short
            =surround "(", ")" do
              =subtype.mbti(@answer.basic?(subtype))
          -elsif @answer.free?(subtype)
            %b=link_to subtype.short(true), discover_path(@answer.next(subtype.letters))
          -else
            =link_to subtype.short(true), discover_path(@answer.next(subtype.letters))
%p=link_to "Start over", discover_path("Q1")
