- content_for(:title, "Choice ##{@answer.number}")
%h2
  =@answer.realm.short_with_mbti
%p.chosen.center
  Please replace one or more of your previous choices (shown in green)
  %ul.chosen.center
    -@answer.sorted_states.each do |state|
      %li=state.short_with_mbti
%table.center
  %tr
  -@answer.realm.states.in_groups_of(2).each do |row|
    %tr
      -row.each do |state|
        %td=link_to state.short_with_mbti, (@answer.fixme(state.letters)), :class => @answer.fixme_css(state)
%p.center=link_to "Start over", discover_path("Q1")
