-content_for(:title, "Question ##{@answer.number}")
%p.heading
  %span.free Choose one
  from each column; if you choose the
  %span.warning same column,
  your
  %span.chosen previous selections
  in that column will be reset.
%table
  -Subtype.all.in_groups_of(4) do |row|
    %tr
      -row.each do |subtype|
        %td.quarter{:class => @answer.class(subtype)}
          %p.heading
            I hate being so
            =subtype.problem.period
          %p.heading=link_to subtype, discover_path(@answer.next(subtype))
