-content_for(:title, 'Discovery')
%p.center A BipolarType is made up of four yeses: one from each row and column.
%h2==Subtype ##{@answer.number} of 4
-#==choices: #{@answer.choices}
%table
  %tr
    -Realm.all.each do |realm|
      %th.quarter=realm.name
  -Attitude.all.each do |attitude|
    %tr
      -attitude.subtypes.each do |subtype|
        %td.top.quarter{:class => @answer.class(subtype)}
          %p.left=render "bipolar", subtype: subtype
          -%w{yes maybe no}.each_with_index do |choice, index|
            =link_to choice, discover_path(@answer.next(subtype, choice))
            ="|" unless index == 2


