-content_for(:title, "Question ##{@answer.number}")
%p.heading
  Chose
  %span.free one from each row and  column; 
  if you choose 
  %span.warning the same row or column,
  your
  %span.chosen previous selections
  in that row or column will be reset.
%table
  -Subtype.all.in_groups_of(4) do |row|
    %tr
      -row.each do |subtype|
        %td.quarter{:class => @answer.class(subtype)}
          =render "short", :subtype => subtype
          %p.heading=link_to subtype, discover_path(@answer.next(subtype))
