-content_for(:title, "Question ##{@answer.number} of 4")
%p.center A BipolarType is made up of four subtypes: one from each row and column.
%p.center
  Once you have
  %span.chosen choosen a Subtype,
  the other subtypes in the
  %span.warning same Realm or Attitude
  will become unavailable.
%p.center
  If you get stuck, you can
  =link_to "start over.", discover_path(Answer.first_path)
%table
  -Attitude.all.each do |row|
    %tr
      -row.subtypes.each do |subtype|
        %td.quarter.top{:class => @answer.css(subtype)}
          %p.left=render "subtype", subtype: subtype

