-content_for(:title, 'The 24 BipolarTypes')
%p.center A BipolarType is made up of four subtypes: one from each row and column.
%p.center
  Once you have
  %span.chosen choosen a subtype,
  other subtypes with the
  %span.warning same row or column
  will become unavailable.
  %br
  If you get stuck, you can
  =link_to "start over.", discover_path(Answer.first_path)
%h2==Subtype ##{@answer.number} of 4
%table
  %tr
    %th
    -Attitude.all.each do |attitude|
      %th=attitude.name
  -Realm.all.each do |realm|
    %tr
      %th.middle=realm.name
      -realm.subtypes.each do |subtype|
        %td{:class => @answer.class(subtype)}
          %p=subtype.preference.s
          %p
            -if @answer.class(subtype) == "free"
              =link_to subtype.name, discover_path(@answer.next(subtype))
            -else
              =subtype.name
