- content_for(:title, "Question ##{@answer.number}")
-if @answer.number > 1
  %p.heading.constrained
    Choices in red will reset
    %span.chosen earlier choices.
-else
  %p.heading &nbsp;
%table.center
  -@subtypes.in_groups_of(4).each do |row|
    %tr
      -row.each do |subtype|
        %td{:class => @answer.css(subtype)}
          =subtype.description
          %br
          =link_to subtype.mbti, discover_path(@answer.next(subtype.path))

