-content_for(:title, "Subtype ##{@answer.number} of 4")
%table
  %caption
    %p.center A BipolarType is made up of four subtypes: one from each realm and attitude.
    %p.center
      Once you have
      %span.chosen choosen a subtype,
      other subtypes with the
      %span.warning same realm or attitude
      will become unavailable.
  %tr
    %td.seventh.none &nbsp;
    -Attitude.all.each do |attitude|
      %td.fifth.none=attitude.name.prefix("Tendency towards ")
  -Realm.all.each do |realm|
    %tr
      %td.seventh.middle.none=realm.name
      -realm.subtypes.each do |subtype|
        %td.fifth.bordered{:class => @answer.class(subtype)}
          %p.center
            -if @answer.class(subtype) == "free"
              =link_to subtype.result.prefix("too "), discover_path(@answer.next(subtype))
            -else
              =subtype.result.prefix("too ")
%p
  Note: a tendency is not the same thing as an actuality. If you work very hard 
  %em not
  to have more or less of something, then you can be pretty sure that your
  %em tendency
  is the opposite.
  This also means it’s usually impossible to answer for someone else because you cannot know whether or not they are 
  %em trying 
  to be the way they are.
