- content_for(:title, "Question ##{@answer.number}")
%p.heading
  Most personality theories compare you to other people. BipolarType compares you to yourself.
-if @answer.number < 2
  %p.heading.constrained
    Choose four: one from each row and column.
-else
  %p.heading.constrained
    Choices in red will reset
    %span.chosen earlier choices.
%table.center
  -@subtypes.in_groups_of(4).each do |row|
    %tr
      -row.each do |subtype|
        %td{:class => @answer.css(subtype)}
          =link_to subtype.name, discover_path(@answer.next(subtype.path))
          =render "description", :object => subtype
