- content_for(:title, "Choice ##{@answer.number}")
%table
  %tr
    %th &nbsp;
    -Realm.all.each do |realm|
      %th=realm.mbti
  -@answer.choices.in_groups_of(4).each_with_index do |group, index|
    -attitude=Attitude.all[index]
    %tr
      %th=attitude.mbti
      -group.each do |subtype|
        %td
          -if @answer.chosen?(subtype)
            %span.green
              =subtype.choice
              =surround "(", ")" do
                =subtype.mbti
          -elsif @answer.free?(subtype)
            - if @answer.number < 4
              %b=link_to subtype.choice, discover_path(@answer.next(subtype.letters))
            - if @answer.number == 4
              %b
                =link_to subtype.choice, type_path(@answer.type_path(subtype.letters))
                =surround "(", ")" do
                  =subtype.mbti
          -else
            =link_to subtype.choice, discover_path(@answer.next(subtype.letters))

-unless @answer.number == 1
  %p=link_to "Start over", discover_path("Q1")
