-content_for(:title, "Question ##{@answer.number}")
%p.heading
  %span.free Choose one.
  -unless @answer.number == 1
    If you choose
    %span.warning the same row or column,
    your
    %span.chosen previous selection
    will be reset.
%table
  %tr
    -Realm.all.each do |realm|
      %th
        =realm.name
  -Subtype.all.in_groups_of(4).each_with_index do |row, index|
    %tr
      -row.each do |subtype|
        %td.bordered.quarter{:class => @answer.class(subtype)}
          =render "subtype", :subtype => subtype
          %p.center=link_to subtype.name, discover_path(@answer.next(subtype))
