- content_for(:title, "Choice ##{@answer.number}")
-if @answer.number == 1
  %p
    The following table is the front of a 4x4x4 cube. If you click on the same square four times you will cycle from front to back.
-if @answer.number > 1
  Selecting the same row or column again (shown in green) will reset
  - if @answer.number == 2
    your previous choice which was
  - else
    one or more of your previous choices which were:
  %ul
    -@answer.descriptions.each do |d|
      %li=d
-if @answer.number == 4
  %p Selecting the only black link will take you to the description for one of the BipolarTypes.
%table
  %tr
    %th &nbsp;
    -Realm.all.each do |realm|
      %th
        =realm.description_with_mbti
  -@answer.priority.subtypes.in_groups_of(4).each_with_index do |group, index|
    -attitude=Attitude.all[index]
    %tr
      %th
        =@answer.priority.description
        =attitude.description_with_mbti
      -group.each do |subtype|
        %td
          -if @answer.free?(subtype) && @answer.number == 4
            =link_to subtype.short, type_path(@answer.type_path(subtype.letters)), :class => @answer.css(subtype)
            %br
            =subtype.with_mbti
          -else
            =link_to subtype.short, discover_path(@answer.next(subtype.letters)), :class => @answer.css(subtype)
            %br
            =subtype.with_mbti

-unless @answer.number == 1
  %p=link_to "Start over", discover_path("Q1")
