- content_for(:title, "Question ##{@answer.number}")
%p.heading
  Most personality theories compare you to other people. BipolarType compares you to yourself.
%p
  Even if everyone else thinks you are too fat or too thin compared to
  %em them,
  please answer based on whether you are too fat or too thin compared to whether you are too rich or too poor, etc.
%p
  In other words, which “too” bothers you the most, and would be the first you would “fix” if given a magic pill.
%p
  And if you were given a magic pill to make you thinner, for example, would it do so by magically making you want to eat less, or move more?
-if @answer.number < 2
  %p.heading.constrained
    Choose four: one from each row and column.
-else
  %p.heading.constrained
    Choices in red will reset
    %span.chosen earlier choices.
%table.center
  -@subtypes.in_groups_of(4).each do |row|
    %tr
      -row.each do |subtype|
        %td{:class => @answer.css(subtype)}
          =link_to subtype.name_with_mbti, discover_path(@answer.next(subtype.path))
          %br
          =subtype.description
