-content_for(:title, 'Discovery')
%p.center A BipolarType is made up of four subtypes: one from each column.
%p.center
  Once you have
  %span.chosen choosen a subtype,
  other subtypes in the
  %span.warning same column
  will become unavailable.
%h2==Subtype ##{@answer.number} of 4
%table
  %tr
    -Realm.all.each do |realm|
      %th.quarter=realm.name
  -Attitude.all.values_at(0,2,1,3).each do |attitude|
    %tr
      -attitude.subtypes.each do |subtype|
        %td.top{:class => @answer.class(subtype)}
          %p.center
            -if @answer.class(subtype) == "free"
              =link_to subtype.short, discover_path(@answer.next(subtype))
            -else
              =subtype.short
