-content_for(:title, "Subtype ##{@answer.number} of 4")
%table
  %caption
    A BipolarType is made up of four subtypes: one from each realm and attitude. Once you 
    %span.free choose a subtype,
    other subtypes with the 
    %span.warning same realm or attitude
    will become unavailable.
  %tr
    %th.narrow &nbsp;
    -Realm.all.each do |realm|
      %th
        =realm.name
  -Subtype.all.in_groups_of(4).each_with_index do |row, index|
    %tr
      %th.narrow
        =Attitude.all[index].name
      -row.each do |subtype|
        %td.bordered.quarter{:class => @answer.class(subtype)}
          =render subtype.attitude.path, :realm => subtype.realm
          %p.center
            -if @answer.class(subtype) == "free"
              =link_to subtype.name, discover_path(@answer.next(subtype))
            -else
              =subtype.name
