- content_for(:title, "Choice ##{@answer.number}")
-if @answer.number > 1
  %p.chosen.center
    If you select the same row or column again (shown in green) it will replace
    - if @answer.number == 2
      your previous choice:
    - else
      one or more of your previous choices:
  %ul.chosen.center
    -@answer.sorted_states.each do |state|
      %li=state.short_with_mbti
-if @answer.number < 4
  %p.center You can refresh this page to get a different set of choices
-else
  %p.center Please select the only remaining choice if it has been true in the past, even if it is not currently true.
%table.center
  %tr
  -@attitude.states.in_groups_of(2).each do |row|
    %tr
      -row.each do |state|
        %td
          =link_to state.short_with_mbti, (@answer.next(state.letters)), :class => @answer.realm_chosen?(state)
-unless @answer.number == 1
  %p.center=link_to "Start over", discover_path("Q1")
