- content_for(:title, "Choice ##{@answer.number}")
%h2
  =@answer.attitude.short_with_mbti
-if @answer.number > 1
  %p.chosen.center
    Feel free to select the same row or column again (shown in green) to change
    - if @answer.number == 2
      your previous choice
    - else
      one or more of your previous choices
    of
    %ul.chosen.center
      -@answer.sorted_traits.each do |trait|
        %li=trait.short_with_mbti
%table.center
  %tr
  -@answer.attitude.traits.in_groups_of(2).each do |row|
    %tr
      -row.each do |trait|
        %td=link_to trait.short_with_mbti, (@answer.next(trait.letters)), :class => @answer.css(trait)
-unless @answer.number == 1
  %p=link_to "Start over", discover_path("Q1")
