- content_for(:title, "Choice ##{@answer.number}")
%p
  Being
  =@answer.depressed
  is worse than being
  =@answer.manic.punctuate
  If I am
  =@answer.depressed
  for too long I will be in real trouble, but if I am
  =@answer.manic
  I just have to
  =@answer.output
  less and I will soon be
  =@answer.on_the_bottom.punctuate
  %br
  =link_to @answer.introvert.mbti_with_mbtis, type_path(@answer.introvert.path)
%p
  Being
  =@answer.manic
  is worse than being
  =@answer.depressed.punctuate
  If I am
  =@answer.manic
  for too long I will be in real trouble, but if I am
  =@answer.depressed
  I just have to
  =@answer.input
  less and I will soon be
  =@answer.on_top.punctuate
  %br
  =link_to @answer.extrovert.mbti_with_mbtis, type_path(@answer.extrovert.path)
%p.center=link_to "Start over", discover_path("Q1")
