- content_for(:title, "Choice ##{@answer.number}")
%p
  Being
  =@answer.stuffed
  is worse than being
  =@answer.empty.punctuate
  If I am
  =@answer.stuffed
  for too long I will be in real trouble, but if I am
  =@answer.empty
  I just have to
  =@answer.output
  less and I will soon be
  =@answer.overfull
  again.
  %br
  =link_to @answer.introvert.mbti_with_mbtis, type_path(@answer.introvert.path)
%p
  Being
  =@answer.empty
  is worse than being
  =@answer.stuffed.punctuate
  If I am
  =@answer.empty
  for too long I will be in real trouble, but if I am
  =@answer.stuffed
  I just have to
  =@answer.input
  less and I will soon be
  =@answer.underfull.punctuate
  %br
  =link_to @answer.extrovert.mbti_with_mbtis, type_path(@answer.extrovert.path)
%p.center=link_to "Start over", discover_path("Q1")
