- content_for(:title, "Choice ##{@answer.number}")
%p
  =link_to @answer.clockwise.mbti, type_path(@answer.clockwise.path)
%p
  =link_to @answer.counterclockwise.mbti, type_path(@answer.counterclockwise.path)
%p
  =link_to "Start over", discover_path("Q1")
