%p
  #{@attitude.name} is
  -case @attitude.nurture
  -when "fat"
    a lesser disorder and should never be your first priority. Untreated obesity is rarely fatal as long as you remain active and don’t eschew necessary resources that provide strength. Obesity is embarrasing but it’s not an immediate problem.
  -when "thin"
    the most critical disorder and should always be your first priority. Untreated anorexia  can be fatal. You cannot reduce your use of energy to nothing; just living day to day requires
    %em some
    energy. If you have no reserves, you will die when you are unable to get critical energy.
  -when "active"
    the second most critical disorder because untreated it can lead to anorexia which can be fatal. It is not quite as critical as anorexia because if you run low on reserves you
    %em will
    stop using unnecessary energy until you can get more.
  -when "passive"
    the least critical disorder and will always resolve itself on its own when something important comes alone. You may feel useless but that’s because there is nothing you need to do right now. Not wanting to do things you don’t need to do isn’t actually a problem. Having unrealistic expectations about always being active is the problem.
