-I18n.locale="en"
%table.wide
  -Attitude.all.in_groups_of(2) do |row|
    %tr
      -row.each do |attitude|
        %td.top.half
          =link_to attitude.name, attitude_path(attitude.path)
          %div=render "problems/#{attitude.path}"
