%table
  %caption The Four Attitudes
  %tr
    %th
    %th Consumption
    %th Production
  %tr
    %th Conscious
    %td I pay attention to what I consume.
    %td I pay attention to what I produce.
  %tr
    %th Subconscious
    %td I consume without noticing what I consume.
    %td I produce without noticing what I produce.
