-I18n.locale="en"
%table
  %tr
    %td.half
      =link_to Attitude.ep.name, attitude_path("ep")
      =render Attitude.ep.path
    %td
      =link_to Attitude.ej.name, attitude_path("ej")
      =render Attitude.ej.path
  %tr
    %td
      =link_to Attitude.ip.name, attitude_path("ip")
      =render Attitude.ip.path
    %td
      =link_to Attitude.ij.name, attitude_path("ij")
      =render Attitude.ij.path
