- content_for(:title, "The Four States")
%p=render "energies/links"
%table
  -State.all.in_groups_of(2) do |row|
    %tr
      -row.each do |state|
        %td.top
          =link_to state.name, state_path(state.path)
          %div
            if
            =state.cause
            then
            =state.effect
