- content_for(:title, "The Four Attitudes")
=render "header"
%table
  %caption.heading The Four Attitudes
  %tr
    %th.narrow
    -Attitude.each do |attitude|
      %th=attitude.name
  -%w{cause effect result solution }.each do |word|
    %tr
      %th=word.titleize
      -Attitude.each do |attitude|
        %td=attitude.send(word)
