- content_for(:title, "The Four Attitudes")
=render "header"
%table
  %caption.heading The Four Attitudes
  %tr
    %th.narrow
    -Attitude.each do |attitude|
      %th=attitude.name

  -%w{ orientation direction result }.each do |word|
    %tr
      %th=word.titleize
      -Attitude.each do |attitude|
        %td=attitude.send(word)
