=render "header"
%h2 The Problems
%table
  -@subtypes.in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        -I18n.locale = subtype.locale
        %td.half.top
          %h2=subtype.mbti
          =render "problems/#{subtype.attitude.path}"
%h2 The Solutions
%table
  -@subtypes.in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        -I18n.locale = subtype.locale
        %td.half.top
          %h2=subtype.mbti
          =render "solutions/#{subtype.attitude.path}"
