- content_for(:title, @name)
=render "header"
%table
  %caption.heading The Four #{@attitude.name} Subtypes
  %tr
    %th
    -@attitude.subtypes.each do |subtype|
      %th=link_to subtype.name, subtype_path(subtype.path)
  -%w{description manic depressed}.each do |word|
    %tr
      %th=word.capitalize
      -@attitude.subtypes.each do |subtype|
        %td.p=render word, subtype: subtype
