=render "header"
%h2 The Subtypes
%table
  -@subtypes.in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        -I18n.locale = subtype.locale
        %td.half.top
          %h2=link_to subtype.name, subtype_path(subtype.path)
%h2 The Problems
%table
  -@subtypes.in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        -I18n.locale = subtype.locale
        %td.half.top
          =render "problems/#{subtype.attitude.path}"
%h2 The Solutions
%table
  -@subtypes.in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        -I18n.locale = subtype.locale
        %td.half.top
          =render "solutions/#{subtype.attitude.path}"
%h2 The Reasons
%table
  -@subtypes.in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        -I18n.locale = subtype.locale
        %td.half.top
          =render "long/#{subtype.attitude.path}"
