p.center
  b=s.bad
  br
  em=s.timespan
  br
  =s.goal
p
|> Either
b=display(s)
|<> (to
=s.goal
|> ) or
em=display(v.flip)
|<> (to
=v.flip.goal
|> ).
p
|> Do not
=display(t.flop)
|<> since you will not willingly
=display(t.opposite)
| .
p
|> If you are
=display(u.flop).ing
|> , and cannot stop, it&rsquo;s because you believe you cannot currently
=display(u.opposite)
|<> because you have not
=display(u.flop).en.enough
|> . This is not true. You cannot
=display(u.opposite)
|<> because you do not
=s.top? ? 'want' : 'need'
|<> to
=u.opposite.goal
|> ; you
=s.top? ? 'want' : 'need'
|<> to
=u.flip.attitude.goal
|<>
=u.flip.what.them
|> . And it is difficult to
em>=display(u.flip)
=s.second? ? 'at' : 'in the'
|<>
=s.time
| .
