%p.heading Advice
%ul
  %li
    don’t
    =object.stress
  %li
    just
    =object.relax
  %li
    the
    =object.more_you_relax.comma
    the
    =object.more_you_can_play
%ul
  %li
    if you cannot
    =object.relax
  %li
    =object.make_the_best_of_it
