-case subtype.attitude.adjective
-when "hyperactive"
  wait until after you feel
  =subtype.full
  before you
  =subtype.use_energy
-when "greedy"
  wait until after you feel
  =subtype.empty
  before you
  =subtype.get_energy
-when "picky", "lazy"
  identify and
  =subtype.hit
  your favorite
  =subtype.targets
