%h2=formatted over.balance

%ol.none
  %li
    =urge ? 'a compulsion' : 'an inability'
    to
    =formatted over.behavior
    &rArr; time to
    =formatted under.behavior
  %li
    can also
    =formatted also
    but don&rsquo;t bother trying
    ='not' if urge
    to
    =formatted other
