%p.heading
  -unless current_page? type_path(object.path)
    =link_to object.name, type_path(object.path)
%ul
  %li
    I wish I had
    =object.want
  %li
    I should
    =object.stress
    but
    =object.obstacle
%ul
  %li
    if you just
    =object.stress.comma
    you will also
    =object.stress_backfire
    and will only stress yourself out without
    =object.goal.ing
  %ul
  %li
    whenever you can, but especially in the evening:
    %ul
      %li
        =object.advice
      %li
        the
        =object.advice.more_you.comma
        the
        =object.relax.more_you(object.can_or_must)
  %li
    when you have to
    =object.goal.punctuate(":")
    %ul
      %li
        =object.advice.even
      %li
        =object.stress.a_little.comma
        but mostly in the morning
      %li
        the
        =object.stress.more_you(object.can_or_must).comma
        the more stressed you will become
      %li
        the more stressed you are, the more likely you are to become manic
