%p.heading
  -unless current_page? type_path(object.path)
    =link_to object.name, type_path(object.path)
%ul
  %li=object.short
  %li
    to
    =object.goal
    you must
    =object.change
  %ul
  %li
    afternoon/evening
    %ul
      %li=object.evening
      %li
        if you force yourself to
        =object.morning
        today you will only
        =object.morning_backfire
        tomorrow
  %li
    morning/midday
    %ul
      %li=object.morning
      %li
        if you can
        =object.evening.comma
        you will be able to
        =object.evening_backfire
        later in the day
