%p.heading
  -unless current_page? type_path(object.path)
    =link_to object.name, type_path(object.path)
%ul
  %li
    to
    =object.goal
    you must
    =object.change
  %ul
  %li
    morning/midday
    %ul
      %li=object.morning
      %li
        don’t force yourself to
        =object.evening.comma
        you’ll just
        =object.evening_backfire
        later in the day
  %li
    afternoon/evening
    %ul
      %li=object.evening
      %li
        don’t force yourself to
        =object.morning.comma
        you’ll just
        =object.morning_backfire
        tomorrow 
