%tr
  %td.bold{colspan:4}
    =help.cycle_name
%tr
-subtypes.each_with_index do |subtype, index|
  %td
    -if @hide
      =(index+1).to_s.colon
      =format_solution subtype, false
    -else
      .bold=format_solution(subtype, false)
-unless @hide
  %tr
  -subtypes.each_with_index do |subtype, index|
    %td.left=render %w{easy can hard cant}[index], subtype: subtype, help: help
