%ul
  %li
    You are
    -if @realm
      surrounded by
      =s.first.realm.foci.period
    -else
      =s.first.unhappy.period
  %li.episodes
    You don&rsquo;t want to
    =(display s.first).period
  %li.donts
    You know you shouldn&rsquo;t
    =(display s.second).period
  %li.mores=(display s.third).capitalize.bang
  %li.dos
    If you cannot
    =(display s.third).comma
    then
    =(display s.fourth).period
