%p.heading Advice
%ul
  %li
    being
    =quad.subtypes.second.sore
    is not the same as being
    =quad.subtypes.second.weak.punctuate(";")
    keep
    =quad.subtypes.second.eat.ing
    =quad.subtypes.second.protein
    and you’ll
    =quad.subtypes.second.lift
    =quad.subtypes.second.weight.it
    eventually
  %li
    keep
    =quad.subtypes.first.walk.ing.punctuate(";")
    the more you
    =quad.subtypes.first.walk
    the more
    =quad.subtypes.first.carbs
    you can
    =quad.subtypes.first.eat
    without feeling guilty
  %li
    stop
    =quad.subtypes.third.walk.ing.punctuate(";")
    the less you
    =quad.subtypes.third.walk
    the
    =quad.subtypes.third.carbs.fewer
    you have to
    =quad.subtypes.third.eat
  %li
    you have the right to remain
    =quad.subtypes.fourth.seated.punctuate(";")
    since
    =quad.subtypes.fourth.carbs.dont
    make them
    =quad.subtypes.fourth.throw_up
    let them
    =quad.subtypes.fourth.lift
    the
    =quad.subtypes.fourth.heavy
    =quad.subtypes.fourth.weight.pluralize
  %li
    your strength lies in
    =quad.subtypes.second.lift.ing
    =quad.subtypes.second.heavy
    =quad.subtypes.second.weight.pluralize
    not in
    =quad.subtypes.fourth.walk.ing
    =quad.subtypes.fourth.around
    them
