%p.heading
  -unless current_page? type_path(object.path)
    =link_to object.name, type_path(object.path)
%ul
  %li=object.short
  %li
    I wish I had
    =object.want
  %ul
  %li
    evening (craving alcohol)
    %ul
      %li
        =object.evening
      %li
        if you
        =object.morning
        now you will only
        =object.morning_backfire
        tomorrow
  %li
    morning (craving caffeine)
    %ul
      %li
        =object.morning
      %li
        the
        =object.evening.split.second
        you
        =object.evening.split.first.comma
        the sooner you will be able to
        =object.evening_relax
