-if subtype.more?
  Start #{display(transform(subtype.solution, :ing))} as soon
  as possible and give yourself permission to
  keep
  =display(transform(subtype.solution, :ing))
  until
-else
  Give yourself permission to postpone
  =display(transform(subtype.problem, :ing))
  as long as possible and stop
  =display(transform(subtype.problem, :ing))
  when

you are
=ly(subtype)
=subtype.inverted? ? 'tired.' : 'full.'

%table
  %caption
    %h2 Related Subtypes
  %tr
  -subtype.peers.each do |st|
    %td=link_to display(st), subtype_path(st.symbol)
  %tr
  -subtype.siblings.each do |st|
    %td=link_to display(st), subtype_path(st.symbol)