%p.small affect: the conscious subjective aspect of an emotion considered apart from bodily changes. For example, an adrenaline rush is a bodily change which can be experienced as either fear or excitement.
