If you have to
=subtype.left? ? "#{subtype.consume} more," : "#{subtype.produce} less,"
-case subtype.ordinal
-when "first"
  then let yourself
  =subtype.be_sick.colon
  the sooner you
  =subtype.be_sick.comma
  the sooner “they” will let you stop
  =subtype.consume.ing
  and you don’t need the
  =subtype.energy
  since you don’t want to
  =subtype.produce_anything.period
-when "second"
  then only
  =subtype.consume_the_good_parts.colon
  not every
  =subtype.part
  will
  =subtype.appear
  bad enough to make you feel so
  =subtype.sick
  you quit
  =subtype.consume.ing
  altogether and although “they” may not be happy that you are cherry-picking, they will be more unhappy if you don’t
  =subtype.consume_anything.period
-when "third"
  then wait as long as you can before you start to
  =subtype.produce.colon
  you can’t
  =subtype.produce
  %em less, 
  but you can
  =subtype.produce
  less
  %em often.
-when "fourth"
  then wait as long as you can before you start to
  =subtype.consume.colon
  you can’t
  =subtype.consume
  %em less, 
  but you can
  =subtype.consume
  less
  %em often.