I
-case subtype.ordinal
-when "first", "third"
  often
-when "second", "fourth"
  rarely
-case subtype.ordinal
-when "second", "third"
  =subtype.consume
  =subtype.energy
  that
  =subtype.energy.uncountable? ?subtype.appear.s : subtype.appear
  good but
  =subtype.energy.uncountable? ? "provides" : "provide"
  no
  =subtype.realm.identifier
  strength
  (e.g.
  =subtype.empty.close_paren
-when "first", "fourth"
  =subtype.use
  =subtype.energy
  that do not need to be
  =subtype.use.en
  (e.g.
  =subtype.waste.close_paren
even if I
-case subtype.ordinal
-when "fourth", "third"
  already have too
  =subtype.potential.many
-when "second", "first"
  don’t have enough
=subtype.potential
