-if @answer
  -unless @answer.taken?(subtype)
    .span{title: subtype.clear_name}=link_to_unless @answer.taken?(subtype), subtype.display, answer_path(@answer.next(subtype))
-else
  .span{title: subtype.clear_name}=link_to subtype.display, subtype_path(subtype.path)
