-if @answer.free?(behavior)
  %span{title: behavior.clear_name}
    =link_to behavior.display, answer_path(@answer.next(behavior)), class: 'black'
  I don&rsquo;t actually want to
  =cookies[behavior.display]
  
  

-else
  =behavior.display
