%span{class: subtype.class_type, title: subtype.clear_name}=link_to subtype.display, subtype_path(subtype.path), class: 'subtype'
-if @answer
  -unless @answer.taken?(subtype)
    %span{title: subtype.clear_name}=link_to_unless @answer.taken?(subtype), 'Sounds like me', answer_path(@answer.next(subtype))
