-if @answer
  -unless @answer.taken?(subtype)
    %span{title: subtype.clear_name}=link_to_unless @answer.taken?(subtype), subtype.answer, answer_path(@answer.next(subtype))
-else
  %span{class: subtype.class_names, title: subtype.clear_name}=link_to subtype.eg, subtype_path(subtype.path), class: 'subtype'
