%span{title: behavior.clear_name}
  =link_to answer_path(@answer.next(behavior)), class: 'black' do
    I
    =cookies[behavior.display]
    compulsively when I am
    =behavior.episode
    but have difficulty
    =cookies[behavior.opposite.display].replace_and_with_or.ing
