It’s easier to
=subtype.surplus? ? subtype.get_energy : subtype.use_energy
than
=subtype.surplus? ? subtype.use_energy : subtype.get_energy
=subtype.averse? ? "and I sometimes" : "but I rarely"
feel so bad I can’t
=subtype.surplus? ? subtype.use_energy : subtype.get_energy
