-unless current_page? type_path(attitude.path)
  %p.heading=link_to attitude.name, type_path(attitude.path)
%ul
  %li
    strong action:
    =attitude.strong
    to
    =attitude.action
  %li
    weak reaction:
    =attitude.weak
    to
    =attitude.reaction
  %li
    result:
    =attitude.result
