%table.equal
  %tr
    -if @attitude == Attitude.TL
      %td.none=display(@type.j1 + Attitude.TL)
      %td.none=display(@type.j2 + Attitude.TL)
    -else
      %th
      %th
    -if @attitude == Attitude.TR
      %td.none
        %s=display(@type.p2 + Attitude.TR)
      %td.none=display(@type.p1 + Attitude.TR)
    -else
      %th
      %th
  %tr
    %th
    %td.bottom.right
      -if @attitude == Attitude.TL
        %ul
          %li=display(@type.p1 + Attitude.TL)
          %li
            %b=display(@type.p2 + Attitude.TL)
    %td.bottom.left
      -if @attitude == Attitude.TR
        %ul
          %li=display(@type.j2 + Attitude.TR)
          %li
            %b.larger=display(@type.j1 + Attitude.TR)
    %th
  %tr
    %th
    %td.top.right
      -if @attitude == Attitude.BL
        %ul
          %li
            %b.larger=display(@type.p1 + Attitude.BL)
          %li=display(@type.p2 + Attitude.BL)
    %td.p
      -if @attitude == Attitude.BR
        %ul
          %li
            %b=display(@type.j2 + Attitude.BR)
          %li=display(@type.j1 + Attitude.BR)
    %th
  %tr
    -if @attitude == Attitude.BL
      %td.none=display(@type.j1 + Attitude.BL)
      %td.none
        %s=display(@type.j2 + Attitude.BL)
    -else
      %th
      %th
    -if @attitude == Attitude.BR
      %td.none=display(@type.p2 + Attitude.BR)
      %td.none=display(@type.p1 + Attitude.BR)
