=subtype.sf? ? subtype.intake.ing : subtype.output.ing
is always
=subtype.st? ? "pleasurable" : "painful"
and feeling
=subtype.sf? ? subtype.empty : subtype.full
just makes
=subtype.sf? ? subtype.intake.ing : subtype.output.ing
feel
=subtype.st? ? "better" : "worse"
