auxiliary ENJ: i want to *theorize*. theorizing balances watching. watching is easy. so far so good. but. theorizing *replaces* guessing. and. well. i'm not actually okay with that. guessing isn't my highest priority, but, i want to be able to do it!

so. in order to guess, i look. in order to look, i have to watch less, watching less makes it harder to theorize. so there's a balancing game going on.

theorize is number 1, because it's my highest priority. lights in the morning is number 2, because without it, i won't be able to guess (number 3), which isn't a high priority, but high *enough*. #4 gets whats left. i don't watch tv. i don't watch the "breaking news", i don't sit around in the dark all night reading to find out what happens. it's easy, but i'd rather theorize. i *choose* not to watch tv or read all night, so that i *can* theorize. note, unlike my dominant, there's no, if i theorize enough, or look enough, i'll get to watch more.
