continue to
=format_solution(subtype)
as long as possible
%p.left
  It is not easy, but the longer you postpone  
  =format_problem(subtype).ing
  now, the less you will have to
  =format_solution(subtype.opposite)
  later. 