I don’t like being
=subtype.left? ? "manic" : "depressed"
because
-case subtype.ordinal
-when "first"
  I keep
  =subtype.be_sick.ing.period
-when "second"
  I lose all my
  =subtype.potential.period
-when "third"
  I can’t
  =subtype.produce.period
-when "fourth"
  I gain too
  =subtype.potential.many_phrase.period
