I don’t like being
=subtype.left? ? "manic" : "depressed"
because
-case subtype.ordinal
-when "first"
  I keep
  =subtype.be_sick.ing.period
-when "second"
  I run out of
  =subtype.potential.period
-when "third"
  I can’t
  =subtype.produce_anything.period
-when "fourth"
  I accumulate too
  =subtype.potential.many_phrase.period
