=link_to_unless_current b.name, b.path
%br
=b.phrase
%b=b.aka.wrap
%br
=b.example_list.html_safe
%br
%br
=link_to b.episode, b.nature_path
%br
%b=b.natures.first
(#{b.aka.ing} is pleasurable)
%b="& #{b.natures.second}"
(#{b.opposite.aka.ing} is painful)
