=b.episode
%br
%b=b.natures.first
(#{b.aka.ing} is easy or pleasurable)
%br
%b="& #{b.natures.second}"
(#{b.opposite.aka.ing} is difficult or painful)
%br
%br
=link_to_unless_current b.name, b.path, class: 'internal'
%br
=b.phrase
%b=b.aka.wrap
%br
=b.example_list.html_safe
