-if @realm || @behavior || @phase
  =link_to_unless_current b.name, b.path, class: 'internal'
  %br
  =b.phrase
  %b=b.aka.wrap
  %br
  =b.example_list.html_safe
%br=b.episode
%br=b.nature.wrap
%b=b.problem
