%h2 #{behavior.symbol} (e.g. #{behavior.eg})
=render behavior.example_path
-if @realm || @behavior.is_a?(Phase)
  %p.left
    =succeed ":" do
      =link_to behavior.episode, behavior.answer_path
    =render 'problem', behavior: behavior
