%p
  Wait until you feel
  =realm.adverb
  empty
  =surround "(", ")" do
    =realm.empty
  to
  =realm.intake + "."
%p
  Don’t force yourself to
  =realm.output
  before you feel
  =realm.adverb
  full
  =surround "(", ")" do
    =realm.full
  but do
  =realm.output
  when you feel
  =realm.full
  even if you don’t have any
  =realm.targets
  you want to
  =realm.impact + "."
%p
  If you’re
  %em miserable
  it’s okay to create a temporary surplus of
  =realm.reserves
  by binging
  =surround "(", ")" do
    =realm.intake.ing
    when you are not feeling
    =realm.empty
    just because the
    =realm.resources
    =realm.appear
    good
  but your primary
  =realm.adjective
  goal should always be to wait until you are feeling as
  =realm.empty
  as possible before you
  =realm.sense
  anything.
