=realm.intake.ing.capitalize
when you no longer feel
=realm.empty
and don’t need more
=realm.energy
while continuing to
=realm.output
normally causing you to gain
=realm.reserves
but retain
=realm.strength
