%b=attitude.name
%ul
  %li
    if you still feel
    =attitude.previous.feel
    .longer=attitude.previous.do_something.more
    until you
    =attitude.previous.finish
  %li
    .dont
      do not
      =attitude.do_something
    unless you feel
    %em=attitude.feel
    %br
    and need to
    =attitude.finish
  %li
    if you are already
    =attitude.next.feeling
    %br
    .sooner
      start
      =attitude.next.do_something.ing
