I lose
="a #{subtype.potential.few}" if subtype.first?
="some" if subtype.cyclothymic?
="a lot of" if subtype.last?
=subtype.potential
when I’m manic, and gain 
="more" if subtype.insensitive?
="a #{subtype.potential.few}" if subtype.sensitive?
back during the subsequent depression
