%b=attitude.episode
%br
do not want to
=attitude.finish
%br
=attitude.do_something
%em anyway

%br
enjoy not feeling
=attitude.feel

%br
=attitude.do_something.more
%br
feel even
%em less
=attitude.feeling

%br
=attitude.gu
even
%em more
=attitude.es

%br
-case attitude.symbol
-when :TL
  run out of energy
-when :TR
  strain your strength
-when :BR
  cannot build any more strength
-when :BL
  cannot store any more energy

%br
=attitude.bipolar_result

