%h2 Mania
%table
  %caption
    %p BipolarType equates mania with insomnia. Many of the worst symptoms of mania, including psychosis, can be attributed to sleep deprivation. Other symptoms vary by subtype.
  -@subtypes.in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        %td.half.top{class: subtype.color}
          =render "mania/#{subtype.nature.path}", subtype: subtype
%h2 Depression
%table
  %caption
    %p BipolarType equates depression with hypersomnia. Other symptoms vary by subtype.
  -@subtypes.in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        %td.half.top{class: subtype.color}
          =render "depression/#{subtype.nature.path}", subtype: subtype

