I gain
="a lot of" if subtype.first?
="some" if subtype.slash?
="a #{subtype.potential.few}" if subtype.last?
=subtype.potential
when I'm depressed and
lose
="a lot" if subtype.last?
="some" if subtype.slash?
="a #{subtype.potential.few}" if subtype.first?
when I’m manic.