%ul
 %li.italic=cookies[(realms.first+attitude).tla] || realms.first.send(attitude.action)
 %li.strike=cookies[(realms.second+attitude).tla] || realms.second.send(attitude.action)
 %li=cookies[(realms.third+attitude).tla] || realms.third.send(attitude.action)
 %li.bold=cookies[(realms.fourth+attitude).tla] || realms.fourth.send(attitude.action)
