-if number.positive?
  =link_to 'home', root_path
-if number > 1
  |<> |
  =link_to 'depression', depression_path
-if number > 2
  |<> |
  =link_to 'insomnia', insomnia_path(@depression || @type.realms.first)
-if number > 3
  |<> |
  =link_to 'stress', stress_path(@type.realms.first.path + @type.realms.last.path)
-if number > 4
  |<> |
  =link_to 'type', type_path(@bipolar.type)

