-if @breadcrumbs.length.positive?
  |<> |
  =link_to @breadcrumbs.first, basic_path
-if @breadcrumbs.length > 1
  |<> |
  =link_to @breadcrumbs.second, morning_path(@breadcrumbs.first)
-if @breadcrumbs.length > 2
  |<> |
  =link_to @breadcrumbs.third, midday_path(@breadcrumbs[0, 2])
-if @breadcrumbs.length > 3
  |<> |
  =link_to @breadcrumbs.fourth, afternoon_path(@breadcrumbs[0, 3])
-if @breadcrumbs.length > 4
  |<> |
  =link_to @breadcrumbs.fifth, evening_path(@breadcrumbs)
