%ol
  %li Try to #{formatted(behavior.flop)} <em>instead of</em> #{formatted(behavior).ing} whenever possible. 
  %li Try to #{formatted(behavior.flip)} <em>in addition to</em> #{formatted(behavior.opposite).ing} whenever possible. 
