%ol
  %li
    Do
    =formatted(flip)
    unless you cannot
  %li
    Do
    =formatted(flop)
    unless you don’t want to
  %li
    Don’t
    =formatted(opposite)
    unless you want to
  %li
    Don’t
    =formatted(behavior)
    unless you have to
