start to
=format_solution(subtype)
again as soon as possible
%p.left
  Even if you gave up and
  =format_problem(subtype).ed.comma
  the sooner you start to
  =format_solution(subtype)
  again, the less you will have to
  =format_solution(subtype.opposite)
  later. 