The second easiest time for you to
=format_solution(subtype)
is when you are
=help.name(cookies[:setting])
and
=format_problem(subtype).ing.period
If you want to
=format_solution(subtype)
a lot more, then do it now as well as in the
=subtype.opposite.time.period
