-@realms.each do |realm|
  -choice = realm + phase
  %p{:class => @answer.css(choice)}
    -if @answer.css(choice) == "free"
      =link_to answer_path(@answer.next(choice)) do
        #{choice.nature}: #{choice.problem}
    -else
      =choice.episode
