-Realm.each do |realm|
  -choice = realm.symbol + position.symbol.first
  %div{:class => @answer.css(choice)}
    -if @answer.css(choice) == "free"
      =link_to answer_path(@answer.next(choice)) do
        %p #{realm.symbol}
    -else
      =realm.inspect + position.inspect
