-@realms.each do |realm|
  -choice = realm + phase
  %div{:class => @answer.css(choice)}
    -if @answer.css(choice) == "free"
      =link_to choice.episode, answer_path(@answer.next(choice))
      %p #{choice.natural_state} (#{choice.aka.too_much})
    -else
      =choice.episode
