-case realm.letter
-when "S"
  Don’t eat so much, don’t eat so often, don’t eat snacks, don’t eat seconds, don’t eat desserts. Don’t eat unless and until you are fed!
-when "N"
  Don’t look so much, don’t look so often, don’t look at hidden things, don’t snoop, don’t look too closely. Don’t look unless and until you are shown!
-when "T"
  Don’t touch so much, don’t touch so often, don’t reach for distant things, don’t touch close things, don’t touch too hard. Don’t touch unless and until you are given!
-when "F"
  Don’t listen so much, don’t listen so often, don’t listen to whispers, don’t eavesdrop, don’t listen too closely. Don’t listen unless and until you are told!
