%p
  If you want to lose some
  =subtype.potential_energy.comma
  the most important thing you need to know is why you keep
  %em gaining
  =subtype.potential_energy.them.period
%p
  You are extremely unsatisfied with a “normal” amount of
  =subtype.energetic_resources
  and learned how to
  =subtype.provide
  yourself more
  =subtype.energetic_resources
  than your parents
  =subtype.provide.ed
  =subtype.provide_helper
  you when you were a child.
  While still under parental control, you were prevented from
  =subtype.consume.ing
  =subtype.consume_helper
  too
  =subtype.energetic_resources.many_phrase.comma
  but as soon as you became independent you began to
  =subtype.consume
  =subtype.consume_helper
  more
  =subtype.energetic_resources
  whenever you felt
  =subtype.empty.period
  Since you were
  =subtype.consume.ing
  more, but not
  =subtype.perform.ing
  more, you gained even more
  =subtype.potential_energy.period
%p
  You have two basic problems. The first is that once you start
  =subtype.consume.ing
  =subtype.consume_helper
  =subtype.energetic_resources
  you won’t be able to stop until your
  =subtype.neuro
  system triggers. The second is that you don’t want to
  =subtype.produce_effects.period
  You can alleviate the first problem by
  =subtype.consume.ing
  =subtype.consume_helper
  =subtype.strong_resources
  more often,
  =subtype.strong_resources.they
  won’t make you want to
  =subtype.consume
  more,
  and when you do allow yourself to
  =subtype.consume
  =subtype.consume_helper
  =subtype.energetic_resources.comma
  =subtype.consume
  =subtype.consume_helper
  pure
  =subtype.energetic_resources
  without
  =subtype.buffers
  so your
  =subtype.neuro
  system triggers sooner.
  You can alleviate the second problem by realizing that you don’t actually have to have
  =subtype.produce_nouns
  to
  =subtype.produce_verb
  in order to
  =subtype.perform
  more. You don’t have to actually
  =subtype.produce("new").semicolon
  you can just
  =subtype.perform
  in circles and
  =subtype.produce_verb
  =subtype.produce_nouns
  you’ve
  =subtype.produce.en
  before: the more you
  =subtype.perform.comma
  the more
  =subtype.kinetic_energy
  you will use, the
  =subtype.empty.er
  you will feel, and that means you are burning through your unwanted
  =subtype.potential_energy.period
