I
=subtype.insensitive? ? "usually" : "rarely"
want to
=subtype.consume
the 
=subtype.resources
other people create,
-case subtype.ordinal
-when "first"
  even when I don't like the
-when "second"
  as long as I 
  =subtype.buffer 
  the
-when "third"
  as long as I can get rid of the
-when "fourth"
  they add too many
=subtype.interesting
=subtype.parts.period