-case realm.letter
-when "S"
  Eat more, eat more often, eat snacks, eat seconds, eat desserts. Eat whatever you are fed!
-when "N"
  Look more, look more often, look at hidden things, snoop, look more closely. Look at whatever you are shown!
-when "T"
  Touch more, touch more often, reach for distant things, touch close things, touch harder. Touch whatever you are given!
-when "F"
  Listen more, listen more often, listen to whispers, eavesdrop, listen more closely. Listen to whatever you are told!
