%table.fixed
  -if defined? caption
    %caption=caption
  %tr
    %td.none{colspan: 2}=chunks.first.html_safe
    %td.top{colspan: 3}
      .bold=Phase.first.name
      =Phase.first.description
    %td.none{colspan: 2}=chunks.second.html_safe
  %tr
    %td.top{colspan: 3}
      .bold=Phase.fourth.name
      =Phase.fourth.description
    %td.none ↻
    %td.top{colspan: 3}
      .bold=Phase.second.name
      =Phase.second.description
  %tr
    %td.none{colspan: 2}=chunks.fourth.html_safe
    %td.top{colspan: 3}
      .bold=Phase.third.name
      =Phase.third.description
    %td.none{colspan: 2}=chunks.third.html_safe

