%table
  -if defined? caption
    %caption=caption
  %tr
    %td.top=chunks.first
    %th 🌕
    %td.top=chunks.second
  %tr
    %th 🌓Spring
    %th ↻
    %th 🌗Fall
  %tr
    %td.top=chunks.fourth
    %th 🌑
    %td.top=chunks.third
