%table
  -if defined? caption
    %caption=caption
  %tr
    %td.top.halfish=chunks.second
    %th
      Up
    %td.top.halfish=chunks.third
  %tr
    %th
      Early
    %th ↻
    %th
      Late
  %tr
    %td.top=chunks.first
    %th
      Down
      .unbold.small
        ='-reset-'
    %td.top=chunks.fourth
