%table
  -if defined? caption
    %caption=caption
  %tr
    %td.top=chunks.second
    %th
    %td.top=chunks.third
  %tr
    %th
    %th ↻
    %th
  %tr
    %td.top=chunks.first
    %th
    %td.top=chunks.fourth
