%table{class: (defined?(klass) ? klass : :bordered)}
  %caption
    %b=caption
  %tr
    %td=render render, attitude: Attitude.TL
    %th
    %td=render render, attitude: Attitude.TR
  %tr
    %th{colspan:3} &orarr;
  %tr
    %td=render render, attitude: Attitude.BL
    %th
    %td=render render, attitude: Attitude.BR
