-case subtype.season
-when "spring", "summer"
  #{subtype.practice} if you don’t have any #{subtype.adjective} chores you need to do
-when "autumn", "winter"
  no #{subtype.chores}!  (unless it is constrained / externally limited and you cannot #{subtype.do} too much)
