%ul
  %li
    depression is
    %em objectively
    =subtype.depression_effect
    for you because you gain
    =subtype.energy_affect
    =subtype.energy
  %li
    =subtype.produce.ing
    less makes you
    %em feel
    =subtype.depression_output_affect
  %li
    =subtype.consume.ing
    more makes you
    %em feel
    =subtype.depression_input_affect