%h2 Depression
%p.heading=render "attitude", subtype: @type.g
%p.heading=render "attitude", subtype: @type.l
%p
  You are
  =@type.l.adverb
  exhausted.
%p
  You are not actually feeling calm and receptive. You don’t want to get energy. You don’t feel
  =@type.l.empty
  and don’t need to get
  =@type.l.energy + "."
  You just can’t
  =@type.l.act
  any longer or
  =@type.l.improve
  difficult
  =@type.l.nouns + "."
%p
  You
  =@type.g.process
  because it doesn’t
  =@type.g.appear
  that bad.
%p
  Of your four senses,
  =@type.g.sense.ing
  is the least sensitive and you are least likely to have
  =@type.g.sensory
  hallucinations when manic. You rarely tend to notice when
  =@type.g.nouns
  =@type.g.appear
  bad — unless they
  =@type.g.appear
  very bad — and you rarely feel
  =@type.g.emotional
  but sometimes feel
  =@type.g.less_emotional
  because you keep
  =@type.g.process.ing
  even when it is
  =@type.g.harmful + "."
%p
  You are in a productive frame of mind, but you cannot
  =@type.h.act + "—"
  you don’t have enough
  =@type.h.energy + "—"
  or
  =@type.p.act + "—"
  you don’t have enough
  =@type.p.energy + "."
  You could
  =@type.g.act
  — you have plenty of
  =@type.g.energy
  — but the
  =@type.g.noun
  doesn’t
  =@type.g.appear
  bad, so you have no internal motivation to
  =@type.g.improve + "."
%p
  You
  %em can
  =@type.g.process
  even when it is difficult to
  =@type.g.others.map(&:process).or
  because you are not in a receptive frame of mind.
  There is always some#{@type.g.thing} that doesn’t
  =@type.g.appear
  too bad and
  =@type.g.preposition
  which you can
  =@type.g.process + "."
%p
  You could try to
  =@type.h.process + "."
  If you had more
  =@type.h.energy
  you could
  =@type.h.improve
  some
  =@type.h.nouns
  and that would make you happy. However, since you are not currently in a receptive frame of mind, most things that you
  =@type.h.sense
  will make you feel
  =@type.h.emotional + "."
  Even if they only make you feel
  =@type.h.less_emotional + ","
  the joy of being able to
  =@type.h.act
  more isn’t really worth the pain since you don’t really have a lot of
  =@type.h.nouns
  you want to
  =@type.h.improve + "."
%p
  What you should try to do is
  =@type.p.process + "."
  If you had more
  =@type.p.energy
  you could
  =@type.p.act
  more and
  =@type.p.improve
  some
  =@type.p.nouns
  that
  =@type.p.appear
  bad. However, since you are not currently in a receptive frame of mind, most things that you try to
  =@type.p.process
  =@type.p.preposition
  will make you feel
  =@type.p.less_emotional
  and some will even make you feel
  =@type.p.emotional + "."
%p
  Thus, the goal when depressed is to find lots of
  =@type.p.nouns
  that are
  =@type.p.beneficial
  so that you can
  =@type.p.process
  =@type.p.preposition
  them and get a lot of
  =@type.p.energy
  so you can
  =@type.p.act
  more while you are still feeling alert and productive.
