%p
  If you feel
  =realm.adverb
  depressed
  =surround "(", ")" do
    =realm.output_pain
  then find
  =realm.something
  else to
  =realm.impact + ";"
  =realm.a_target
  that
  =realm.appears
  %em good.
%p
  Don’t force yourself not to
  =realm.intake
  when you feel
  =realm.adverb
  empty
  =surround "(", ")" do
    =realm.empty
  but don’t
  =realm.intake
  when you feel
  =realm.full
  even if there are
  =realm.resources
  that
  =realm.appear
  good.
%p
  If you’re
  %em miserable
  it’s okay to create a temporary surplus of
  =realm.reserves
  by avoiding all
  =realm.targets
  but your primary goal should always be to
  =realm.impact
  =realm.targets
  that
  %em you
  think
  =realm.appear
  good.
