p.left First. Since your #{s.mood.mood} realm is #{s.adjective} you should not expect yourself to be able to be #{s.adverb} active during the #{s.season}. So stop hating yourself for being normal. Only #{s.opposite.episode} subtypes are willing and able to #{s.opposite.behaviors.map(&:words).or} all #{s.season} without taking stimulants such as caffeine.
p.left Second. #{s.episode.capitalize} involves both #{s.behaviors.map(&:words).map(&:ing).and}, but #{s.better.words.ing} is much less unbalancing than #{s.worse.words.ing} as you will stop sooner. That is, since you are going to #{s.better.words.first_word} all #{s.season}, you will gain fewer #{s.adjective} reserves if you #{s.better.words} instead of #{s.worse.words.last_word}.
p.left Third. You <em>will</em> gain #{s.adjective} reserves during the #{s.season}. Which means you need to <em>use</em> #{s.adjective} reserves during the #{s.opposite.season}. Even though you can now #{s.worse.words} without gaining #{s.adjective} reserves you won’t <em>lose</em> them. So continue to #{s.better.words} instead of #{s.worse.words.last_word}. And whenever you need or want to #{s.worse.flip.words.first_word}, #{s.worse.flip.words} rather than #{s.better.flip.words.ing} as you will continue longer and therefore lose more #{s.adjective} reserves.
