-if subtype.generic?
  You
-else
  Because you are insensitive to
  =subtype.triggers.comma
  -if subtype.consumer?
    if you cannot
    =subtype.produce
    more you
will find it easier to
=subtype.consume
less if you
=subtype.consume
one large
=subtype.resource.period
