%h3
  =realm.domain.capitalize
  Depression
%p
  During the subsequent depressive episode, they become less sensitive to
  =realm.resources.colon
  they have to
  =realm.get_triggered("more")
  before they feel
  =realm.full.period
%p
  At the same time, they have less
  =realm.domain
  energy
  =realm.kinetics.are_phrase.open_paren
  being converted to
  =realm.potentials.close_paren
  and find it difficult to
  =realm.putz.comma
  let alone
  =realm.splurge.period
%p
  They
  %em will
  gain
  =realm.potentials
  during a depressive episode — whether they need
  =realm.potentials.them
  or not.
