During
=realm.adjective
depression (or while taking sedatives such as alcohol), everyone becomes less sensitive to
=realm.appearances.colon
=realm.parts
=realm.appear
less
=realm.obvious
and 
=realm.bad 
=realm.parts
may completely disappear in
=realm.good.an_phrase
=realm.resource
whereas
=realm.subtle
=realm.parts
are much less satisfying than previously.
%br
%br
You feel like you must be receiving absolutely no
=realm.generic
energy whenever you
=realm.consume.comma
so you
=realm.consume
more. Whether or not you already have enough
=realm.potential.period
%br
=realm.consume.ing.capitalize
more but continuing to
=realm.produce_with
only the
=realm.things
you need or want to
=realm.produce_with
inevitably results in gaining
=realm.potential.period
%br
%br
The most important thing to remember about 
=realm.generic
depression is that you are not
=realm.consume.ing
more because the
=realm.parts
=realm.appear
%em=realm.good.period
You are
=realm.consume.ing
more because the
=realm.parts
don’t
=realm.appear
%em=realm.obvious
enough.
%br
If you want to stop
=realm.consume.ing
you must 
=realm.turn_on
so you will feel satisfied sooner.
