When depressed or taking sedatives (e.g. alcohol) I
-case subtype.ordinal
-when "first", "fourth"
  =subtype.consume
  =subtype.energy
  that
  =subtype.energy.uncountable? ?subtype.appear.s : subtype.appear
  good but
  =subtype.energy.uncountable? ? "provides" : "provide"
  no
  =subtype.realm.identifier
  strength
  (e.g.
  =subtype.empty.close_paren
-when "second", "third"
  do not
  =subtype.use
  =subtype.energy
  that do not need to be
  =subtype.use.en
  (e.g.
  =subtype.waste.close_paren
and start gaining
-case subtype.ordinal
-when "first", "second"
  needed
-when "third", "fourth"
  unneeded
=subtype.potential

