%ul
  %li
    you
    =subtype.depression_output_affect
    =subtype.produce.ing
    less
  %li
    you
    =subtype.depression_input_affect
    =subtype.consume.ing
    more
  %li
    depression is
    =subtype.depression_effect
    for you because you gain
    =subtype.energy_affect
    =subtype.energy
