%table.center
  %caption
    %p.wide
      You are much less sensitive to stimulation.
      %br
      You feel like you have much less energy.
      %br
      Despite consuming more, you produce less.
  %tr
    %th Lethargic Depression
    %th Agitated Depression
  %tr
    %td.half
      %p
        In Consumption realms, depression feels good.
        %br
        Objectively, it has a bad effect.
    %td.half
      %p
        In Production realms, depression feels bad.
        %br
        Objectively, it has a good effect.
  -subtypes.in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        %td.half=render "depression", :subtype => subtype
