%td.left.top
  %b.center=attitude.episode
  %p
    You keep
    =attitude.action.deunderscore.ing.period
    Not because you still feel
    =attitude.real.comma
    but because you do not yet feel
    =attitude.next.real
    enough to
    =attitude.next.mode.period
  %p
    You feel more and more
    =attitude.unhappy
    as your
    =attitude.top? ? 'problems' : 'resources'
    become less and less
    =attitude.top? ? "worth #{attitude.happy.ing}" : attitude.happy.able
    (you have already
    =attitude.happy.en
    the
    =attitude.top? ? 'worst' : 'best'
    ones). But you
    %em cannot
    stop
    =attitude.mode.ing
    and
    =attitude.next.mode
    because you are still in
    =attitude.mode
    mode.
