%ul
  -if [Attitude, Subtype].include?(object.class)
    %li=object.i_am
    %li=object.i_should
  -elsif object.class == Realm
    %li
      feel alert and
      =object.high_on_energy
    %li
      =object.go
    %li
      feel tired and
      =object.low_on_energy
    %li
      =object.fill_up_with
      and
      =object.process
      =object.resources


