%p.heading
  I
  =realm.purge.period
%p.heading
  I have
  =realm.potentials.few_phrase
  in my
  =realm.body
  and
  =realm.resources.few_phrase
  in my
  =realm.home.period
-unless @answer
  %p
    Stock your
    =realm.home
    %em before
    you become depressed.
-if @full
  %p
    Most of the time you go out to
    =realm.consume
    =realm.resources
    when you feel
    =realm.empty
    and you
    naturally gravitate towards
    =realm.triggers
    so you feel
    =realm.full
    enough to
    =realm.purge.period
  %h3 Mania
  %p
    Mania is wonderful because you need a lot
    =realm.triggers.fewer_phrase
    before you feel
    =realm.full
    enough to
    =realm.purge.period
  %h3 Depression
  %p
    Depression is horrible because you cannot
    =realm.purge
    and may not even be able to
    =realm.putz.period
  %p
    But not
    =realm.purge.ing.comma
    although out of character for you, is not the real problem. The real problem is that you stop
    =realm.consume.ing
    any
    =realm.resources
    at all, because you are so bored by the
    =realm.nontriggers
    and
    =realm.alt_nontriggers.period
  %p
    Stocking your
    =realm.home
    with
    =realm.triggers
    and
    =realm.alt_triggers
    %em before
    you become depressed will not only keep you
    =realm.putz.ing.comma
    it may allow you to
    =realm.purge.period
