-if @full
  %h3 Nurture
%p
  Born extroverted in the
  =realm.domain
  realm, you were allowed to remain an extrovert.
%p
  You were neither forced to
  =realm.putz
  nor forced to
  =realm.graze.period
%p
  You
  =realm.binge
  and
  =realm.purge.period
-if @full
  %h3 Mania
  %p
    Mania is a
    %em godsend.
  %p
    You can easily
    =realm.purge
    and almost never have to just
    =realm.putz.period
  %p
    This is not out of character for you, but it is
    %em abnormal
    to
    =realm.purge
    so frequently.
  %p
    =realm.resources.capitalize
    that usually
    =realm.resources.if_uncountable("bores", "bore")
    you to death
    =realm.resources.make
    you feel
    =realm.full
    or even
    =realm.overwhelmed.period
  %p
    If the mania lasts long enough, you will
    =realm.produce
    =realm.thing.every
    you have to
    =realm.produce
    and may even run out of
    =realm.things
    you want to
    =realm.produce.period
  %p
    Why, you could almost pass for
    =realm.domain.an_phrase
    introvert!
  %h3 Depression
  %p
    The subsequent depression is a
    %em disaster.
  %p
    You stop
    =realm.purge.ing
    and can only
    =realm.putz.period
  %p
    Since half the world doesn’t
    =realm.purge.comma
    although out of character for you, it’s not
    %em abnormal.
  %p
    You can no longer
    =realm.sense
    the
    =realm.triggers
    that you were happy to
    =realm.consume
    yesterday, and you never feel
    =realm.full
    so you keep
    =realm.get_without.ing
    even though your
    =realm.organs_ache
    from being so full. 
  %p
    If the depression lasts too long, you will gain far more
    =realm.potentials
    than you could possibly need.
  %h3 Living with Bipolar Disorder
  %p
    First, no matter what anyone tries to tell you,
    =realm.binge.ing
    is
    %em not
    going to make you
    =realm.reject.period
  %p
    Second, it doesn't matter how
    =realm.potentials.many_phrase
    you have, what matters is how
    =realm.kinetics.many_phrase
    you have: the more you have, the more you can
    =realm.purge.period
    And being able to
    =realm.purge
    is really what makes life worth living.
  %p
    When you are unable to
    =realm.sense
    the
    =realm.triggery
    =realm.triggers
    you need to refuse to
    =realm.putz
    and wait until you can
    =realm.purge.comma
    or they will think you have had
    %em enough
    and will stop providing you with
    =realm.triggers.period
  %p
    If all else fails,
    =realm.turn_up_the_signal.semicolon
    that will almost always get you more
    =realm.kinetics.period
  %p
    Take advantage of your manias to
    =realm.produce
    the
    =realm.thing
    you want to
    =realm.produce.comma
    but do not induce them. It’s almost impossible to selectively induce
    =realm.domain
    mania without inducing mania in the other realms.
  %p
    Besides, do you really
    %em want
    to spend your whole life feeling
    =realm.empty
    when you could be
    =realm.purge.ing.question?
