-if @full
  %p
    You don't wait until you feel
    =realm.full
    before you start
    =realm.produce.ing.period 
%p.heading 
  Stop
  =realm.graze.ing
  when you feel
  =realm.empty.colon
  switch to
  =realm.triggery
  =realm.triggers.period
  