I don’t notice the individual
=realm.parts
in
=realm.resource.an_phrase
unless they are especially 
=realm.obvious.period
%br
I almost never feel
=realm.sick.period
%br
I am always willing to
=realm.produce
and I love
=realm.produce_with.ing
=realm.things.period
-unless controller.controller_name == "discover"
  %br
  %br
  I hate being depressed because I cannot
  =realm.produce_with
  =realm.things.colon
  I can’t even
  =realm.produce.period
  %br
  %br
  I love being manic because it’s easier to
  =realm.produce_with
  =realm.things 
  when you can
  =realm.produce.period
  And I am not always
  =realm.worn_out.exclaim!