I rarely notice the individual
=realm.parts
in
=realm.resource.an_phrase
unless they
=realm.appear
especially good or bad.
%br
I rarely feel
=realm.sick.period
%br
I often
=realm.produce
and I love
=realm.produce_with.ing
=realm.things.period
