The easiest time for you to
=format_solution(subtype)
is when you are
=help.name(cookies[:setting])
and
=format_solution(subtype.opposite).ing.period
If all you want to do is
=format_solution(subtype)
a little more, then do it now.
