%p
  You love to
  =energy.consume.period
%p
  All of your experiences with
  =energy.consume.ing
  are positive:
  you start
  =energy.consume.ing
  because the
  =energy.resource_seems_good
  and you stop
  =energy.consume.ing
  because you are
  =energy.full.period
%p
  Unfortunately, this means you
  =energy.consume
  “too much” and have far more
  =energy.potentials
  than you want and so you learned, long ago, to
  =energy.produce
  much more than you want to.
=render "ex", :energy => energy
=render "xi", :energy => energy
