%p
  Your attitude towards the
  =energy.realm
  realm is mixed.
%p
  You love the start of the
  =energy.resources
  when
  =energy.resources.they
  =energy.seem_if
  =energy.good.period
  But
  =energy.resources.they
  so often
  =energy.resources.if_uncountable("becomes", "become")
  =energy.bad
  and you have to stop
  =energy.consume.ing
  before you get to the
  =energy.triggers
  and feel
  =energy.full.period
%p
  On the bright side, you rarely have
  too
  =energy.potentials.many
  or too
  =energy.potentials.few
  =energy.potentials
  and don’t have to
  =energy.produce
  more or less than average.
=render "ex", :energy => energy
=render "xe", :energy => energy
