%ul
  %li
    You love to
    =energy.consume.period
    All of your experiences with
    =energy.consume.ing
    are positive:
    %ul
      %li
        you start
        =energy.consume.ing
        because the
        =energy.resource_seems_good
      %li
        you stop
        =energy.consume.ing
        because you are
        =energy.full.period
  %li
    Unfortunately, this means you
    =energy.consume
    “too much” and have far more
    =energy.potentials
    than you will ever need.
  =render "xe", :energy => energy
  =render "ex", :energy => energy

