%p
  You love to
  =energy.consume.period
%p
  All of your experiences with
  =energy.consume.ing
  are positive:
  you start
  =energy.consume.ing
  because the
  =energy.resources_seem_good
  and you stop
  =energy.consume.ing
  because you are
  =energy.full.period
%p
  Unfortunately, this means you usually
  =energy.consume
  “too much” and have far more
  =energy.essentials
  than you will ever be able to use unless you
  =energy.produce
  much more than average.
=render "ex", :energy => energy
=render "xi", :energy => energy
