%li
  you love to
  =realm.eat
  =realm.carbs
  and you have to
  =realm.walk
%li
  in order to remain
  =realm.strong
  you must continue to
  =realm.walk
  and
  =realm.eat
  plenty of
  =realm.protein
%li
  if you are too
  =realm.fat.comma
  =realm.walk
  more &mdash; even when you have
  =realm.nowhere
  you need to
  =realm.go
%li
  if you are too
  =realm.thin.comma
  =realm.eat
  more
  =realm.carbs
