%li
  relatively extroverted in the
  =realm.physical
  realm, as an infant you
  =realm.walk.ed
  a lot, and as a result you
  =realm.eat.ed
  a lot
%li
  you learned very early to stop
  =realm.eat.ing
  &mdash; even when you feel
  =realm.hungry
  &mdash; if there is anyone else around
%li
  eventually all this
  =realm.walk.ing
  without
  =realm.eat.ing
  had its inevitable result: you became too
  =realm.thin
%li
  if you were lucky, you were then taught how to
  =realm.eat
  without offending other people but you were probably just taught to
  =realm.walk
  less
%ul
  %li
    unfortunately, this latter teaching is not quite as ingrained as the original, and you often “fail” to
    =realm.walk
    less even when you know you “should”, although you almost never “fail” to stop
    =realm.eat.ing
    even when you are “allowed” to continue
  %li
    you may never be able to overcome your initial training enough to
    =realm.eat
    more when there are “authority figures” around
  %li
    you
    %em can
    learn to
    =realm.eat
    more when you are alone and to avoid “friends” who want you to
    =realm.eat
    less
  %li
    a true friend will encourage you to
    =realm.eat
    more so you can
    =realm.walk
    more
