%li
  when you are
  =realm.sore
  you
  =realm.eat1
  more and
  =realm.walk
  more and become
  =realm.strong.er
  relatively quickly
%li
  you are both powerful and active in the
  =realm.physical
  realm as you both
  =realm.lift  
  =realm.weight.pluralize.many(realm.heavy)
  and
  =realm.walk
  a lot
