%li
  you love to
  =realm.eat
  =realm.carbs
  &mdash;
  =realm.carbs.they
  destress you &mdash; and you have
  =realm.somewhere
  you want to
  =realm.go
%li
  in order to remain
  =realm.strong
  you must continue to
  =realm.walk
  and
  =realm.eat
  plenty of
  =realm.protein
%li
  if you are too
  =realm.weak.comma
  =realm.eat
  more
  =realm.protein
%li
  if you are too
  =realm.thin.comma
  =realm.eat
  more
  =realm.carbs
%li
  even if you are not too
  =realm.thin.comma
  =realm.eat
  more
  =realm.carbs
  &mdash;
  =realm.carbs.they
  will destress you &mdash; just don’t make other people
  =realm.eat
  =realm.carbs.them
  with you
%li
  if you are too
  =realm.fat.comma
  =realm.walk
  more &mdash; even when you have
  =realm.nowhere
  you need to
  =realm.go
  &mdash; just don’t make other people
  =realm.walk
  with you
