%ul
  %li
    you will 
    =object.consume
    =object.energy
    even if you are not 
    =object.empty
  %li
    you will not always
    =object.output
    when you are 
    =object.full
  %li
    you end up storing more 
    =object.potential_energy
    than you will ever be able to use
  %li
    you are willing to 
    =object.output
    but you need some encouragement: the more you 
    =object.output.comma
    the more 
    =object.energy
    you will be able to 
    =object.consume