%li
  you love to
  =realm.eat
  =realm.carbs
  &mdash;
  =realm.carbs.they
  destress you &mdash; but you don’t have
  =realm.anywhere
  you want to
  =realm.go
%li
  you need to
  =realm.walk
  more &mdash; even when you have
  =realm.nowhere
  to
  =realm.go
  &mdash; and
  =realm.eat
  more
  =realm.protein
  so you will become
  =realm.strong.er
  &mdash; just don’t make other people
  =realm.walk
  with you
%li
  if you want to become
  =realm.thin.er
  because you are ashamed of being so
  =realm.fat
  %ul
    %li
      reduce the stress from your sensitive realms
    %li
      change your environment so you have to
      =realm.go
      =realm.somewhere
      in order to
      =realm.eat
      =realm.carbs
    %li
      try not to
      =realm.eat
      =realm.meals
      at all unless you are
      =realm.hungry
    %li
      =realm.eat
      =realm.protein
      first when you are
      =realm.hungry.punctuate(":")
      =realm.protein
      will not trigger a binge and you need to
      =realm.eat
      more
      =realm.protein
      anyway since you have been
      =realm.walk.ing
      more
    %li
      don’t buffer your
      =realm.carbs
      with
      =realm.fats
    %li
      save the
      =realm.carbs
      for later in the day/week/year when you are more sensitive and need
      =realm.carbs.fewer
      in order to feel satisfied and you are more stressed so you will appreciate
      =realm.carbs.them
      more
