%li
  you love to
  =realm.eat
  =realm.carbs
  but you don’t have
  =realm.anywhere
  you have to
  =realm.go
%li
  if you
  =realm.walk
  more &mdash; even when you have
  =realm.nowhere
  to
  =realm.go
  &mdash; and
  =realm.eat
  more
  =realm.protein
  you will become
  =realm.strong.er
  which is all you really need to do
%li
  if you want to become
  =realm.thin.er
  because you are ashamed of being
  =realm.fat
  %ul
    %li
      don’t
      =realm.eat
      =realm.food
      at all unless you are
      =realm.hungry
    %li
      =realm.eat
      =realm.protein
      first:
      =realm.protein
      will not trigger
      =realm.eat.split.first.ing.an
      binge
    %li
      don’t buffer your
      =realm.carbs
      with
      =realm.fats
    %li
      =realm.eat
      =realm.carbs
      later in the day/week/year when you are more sensitive and need
      =realm.carbs.fewer
      in order to feel satisfied
