%li
  when you are
  =realm.sore
  you
  =realm.eat1
  more and
  =realm.walk
  more but do not become
  =realm.strong.er
%li
  you are active but not powerful in the
  =realm.physical
  realm as you
  =realm.walk
  a lot but do not try to
  =realm.lift
  =realm.heavy
  =realm.weight.pluralize
