%ul
  %li
    you will always
    =realm.eat
    as
    =realm.simple_carbs.many
    as are available, only stopping when they run out or your
    =realm.stomach
    =realm.stomach.are
    full
  %li
    you may be criticized because, as an adult, you
    =realm.binge.punctuate(",")
    because you
    =realm.walk
    “too much”, or because you have too
    =realm.fat.many.punctuate(",")
    but during your early childhood you were allowed to
    =realm.eat
    as
    =realm.simple_carbs.many
    as you wanted and you do not feel guilty
    %em while
    you are doing so — no matter how guilty you may feel
    %em after
    you feel satisfied enough to stop
    =realm.eat.split.first.ing
  %li
    if you have a legal right to the
    =realm.simple_carbs
    you
    =realm.eat
    and are not stealing
    =realm.simple_carbs.them
    from people who have the legal right to keep them from you, you are not forcing other people to
    =realm.walk
    with you or otherwise forcing them to
    =realm.eat
    more
    =realm.simple_carbs
    than they can without becoming
    =realm.sick
    or
    =realm.anorexic.punctuate(",")
    and you are not carrying around so
    =realm.fat.many
    that you can no longer
    =realm.walk.punctuate(",")
    you can ignore the criticism and
    =realm.eat
    whatever you want
  %li
    otherwise, if you feel guilty afterwards and
    %em want
    to be more “normal” —
    =realm.eat
    =realm.simple_carbs.fewer
    or have
    =realm.fat.fewer
    or not bother other people with your
    =realm.walk.ing
    — then do not keep
    =realm.simple_carbs
    where they are easily accessible, do wait until you are
    =realm.hungry
    to
    =realm.eat
    =realm.simple_carbs.them.punctuate(",")
    do not buffer the
    =realm.simple_carbs
    with too
    =realm.fats.many.punctuate(",")
    do not
    =realm.eat
    =realm.meals
    during the night or in the morning or on your day of rest or the first day of the week, do remember to
    =realm.eat
    enough
    =realm.protein
    to maintain your
    =realm.muscles.punctuate(",")
    do
    =realm.walk
    whenever you feel restless or cannot sleep, but
    =realm.walk
    in private where it won’t bother anyone else
  %li
    whatever you do, do not take general sedatives so that you will not
    =realm.walk
    when you
    “should” remain
    =realm.seated.punctuate(",")
    rest, or sleep, because that will only make you
    =realm.eat
    %em more
    =realm.simple_carbs
    and gain
    %em more
    =realm.fat
    while you are sedated, and then
    =realm.walk
    even
    %em more
    once the sedatives wear off
  %li
    if you
    %em must
    take drugs to help you be more “normal” ask your doctor for targeted
    stimulants:
    =realm.serotonin
    reuptake inhibitors or agonists
