%p
  I
  %em always
  =realm.get
  (get #{realm.energy})
  when I am depressed.
%p
  That means I must
  =realm.use
  as much as possible in order to
  %em use
  the #{realm.energy} I get.
%p
  And if I want to
  %em get rid
  of unwanted #{realm.reserves}, I’ll have to
  not
  =realm.get
  when I am
  %em manic
  (e.g. before noon).
