%li
  I don’t always
  =object.output
  when I am
  =object.full
%li
  if you cannot
  =object.be_strong.insert_word('enough')
  to
  =object.output
  you need to
  =object.consume
  more
  =object.strength
