h3=s.episode
p
  |> Since
  =s.flip.goal.ing
  |<> is your
  =s.ordinal
  |<> balance, it is
  =['very difficult', 'difficult', 'easy', 'very easy'][s.index]
  |<> for authority figures, peer pressure, or social norms to convince you to
  =s.opposite.attitude.goal
  |<>
  =s.opposite.what.last_word.them
  |<> instead. Which means that you are
  =['most un', 'un', '', 'most '][s.index]
  |> likely to suffer from
  =s.bipolar
  | .
