.block
  -if defined? no_links
    %b=behavior.episode
  -else
    %br
    =link_to behavior.episode, behavior.answer_path
  %br
  =behavior.natural_state.wrap
  %p.left #{behavior.words.ing.capitalize} is becoming easier and easier, but #{behavior.opposite.words.ing} is becoming more and more difficult.

