.block
  -if defined? no_links
    %b=behavior.episode
  -else
    %br
    =link_to behavior.episode, behavior.answer_path
  %br
  =behavior.natural_state.wrap
  %p.left
    #{behavior.words.ing.capitalize} is easy, but #{behavior.opposite.words.ing}
    -if defined? index
      =%w|⇗ ⇘ ⇙ ⇖|[index]
    is hard.
