If a person
=subtype.consume.s
three average
=subtype.resource.pluralize
throughout the day and
=subtype.produce.s
an average amount of
=subtype.result.pluralize.comma
their
=subtype.potential.uncountable? ? "amount" : "number"
of
=subtype.potential
will remain stable.
