If a person
=subtype.consume.s
three
==#{subtype.density}-#{subtype.kinetics}-per-#{subtype.resource}
=subtype.resource.pluralize
throughout the day and uses up
=subtype.product
=subtype.kinetics
=subtype.produce.ing.comma
their
=subtype.potential.uncountable? ? "amount" : "number"
of
=subtype.potential
will remain stable.
