%table
  %caption
    %h2=caption
  %tr
    %td.none
      -subtype = subtypes.first
      =render 'answer_link', subtype: subtype, name: subtype.symbolic_name
      %p.left=render 'good', subtype: subtype
    %td.none.top &rarr;
    %td.none
      -subtype = subtypes.second
      =render 'answer_link', subtype: subtype, name: subtype.symbolic_name
      %p.left=render 'good', subtype: subtype
  %tr
    %td.none.left &uarr;
    %td.none ↻
    %td.none.right &darr;
  %tr
    %td.none
      -subtype = subtypes.third
      =render 'answer_link', subtype: subtype, name: subtype.symbolic_name
      %p.left=render 'good', subtype: subtype
    %td.none &larr;
    %td.none
      -subtype = subtypes.fourth
      =render 'answer_link', subtype: subtype, name: subtype.symbolic_name
      %p.left=render 'good', subtype: subtype
