an eSe *likes* binging at night and on the weekends. and the more they putz during the day, the more they will "be able to" binge later (stimulants make it easier to putz more and binge less) usually too fat. stimulants actually help. 
