%li
  do
  %em not 
  keep a stash of your “favorite”
  =realm.resources
  available at all times.
  %ul
    %li
      favorite
      =realm.resources
      are 
      =realm.resources
      that make you feel like
      =realm.get_without_object.ing
      even when you are not
      =realm.uncomfortable.period
    %li
      keep a stash of
      =realm.graze_examples
      for when you’re
      =realm.uncomfortable
      (they won’t trigger a binge)
%li
  when you notice you are binging,
  stop 
  =realm.get_without_object.ing 
  %em immediately,
  throw whatever it is you are binging on away
  %ul
    %li
      you won’t stop
      =realm.get_without_object.ing
      until it’s
      %em gone
    %li
      better it end up “wasted” than turning to unwanted
      =realm.potentials
    %li
      unwanted and unused
      =realm.potentials
      is 
      %em exactly 
      as “wasteful” as
      =realm.get.en.prefix("un")
      =realm.resources.exclaim
      And much worse for you. 
    %li
      you can always get more 
      =realm.binge_objects
      later (but not that one)
%li
  =realm.putz
  all day long but especially right before you fall asleep at night so any excess
  =realm.kinetics
  will not be converted into 
  =realm.potentials
  during the night.