%li
  Once you start to
  =realm.binge
  (favorite
  =realm.binge_objects.close_paren.comma
  you will not be able to stop until you are
  =realm.triggered.period
  %ul
    %li
      No manic episode
      =realm.mania.parenthesize
      can last long enough for you to get rid of all your excess
      =realm.potentials.period
    %li
      During every subsequent depression, you will gain
      =realm.potentials.them
      all back.
    %li
      And more.
%li
  If you want to lose
  =realm.potentials
  you have to…
  %ul
    %li
      create an environment where
      =realm.binge_examples.are_phrase
      difficult to get.
    %li
      =realm.putz
      as  much as you possibly can.
    %li
      =realm.get
      as
      =realm.graze_objects.many
      pure
      =realm.graze_objects
      as you can
      =realm.tolerate.period
    %li
      save the
      =realm.binge_examples
      for when you’re
      =realm.domain.ly
      energetic enough to
      =realm.putz
      enough to get
      =realm.binge_examples.them.period
