%li
  You are not
  =realm.thin
  because you don’t
  %em=realm.consume
  enough (although you do
  =realm.consume
  less than your peers).
%li
  You are
  =realm.thin
  because you
  %em=realm.produce
  too much.
%li
  You are a slave to
  =realm.road.time.scare_quotes.period
  You should pay more attention to whether you actually feel
  =realm.full
  %em before
  you start
  =realm.produce.ing
  because
  you won’t
  %em stop
  =realm.produce.ing
  until you feel
  =realm.empty.period
%li
  If you cannot postpone
  =realm.road.time
  until you
  %em are
  =realm.full.comma
  then you will have to
  =realm.produce
  less when you do
  =realm.produce.period
  Just remember: the more you
  =realm.produce
  now, the more you will have to
  =realm.consume
  later.

