%li
  You compare how much you
  =realm.consume
  to how much other people
  =realm.consume
  and reach the perfectly logical conclusion that you
  =realm.consume
  “too much”.
%li
  That is, it becomes apparant that you are
  =realm.fat
  and then it becomes apparant that you also
  =realm.consume
  more than average, and the perfectly “logical” conclusion is that
  %em reason
  you are so
  =realm.fat
  is because you
  =realm.consume
  more than you “should”.
%li
  The logical fallacy that you are committing is in assuming you are
  %em average.
%li
  The very fact that you don’t “mind” being
  =realm.restless
  means that it is something that you are very familiar with. And that means you don’t
  =realm.produce
  enough.
%li
  BipolarType says you are not average, and should not
  %em try
  to be average. If you
  =realm.consume
  “too much” then you should also
  %em=realm.produce
  “too much”.
%li
  Stop failing to
  =realm.consume
  less and start succeeding in
  =realm.produce.ing
  more.
