%li
  You don’t admit to being
  =realm.energetic.comma
  because there are so many times when you just don’t
  %em want
  to
  =realm.produce.period
%li
  You are not
  =realm.fat
  because you
  =realm.consume
  too
  %em much
  (although you do
  =realm.consume
  more than your peers).
%li
  You are
  =realm.fat
  because you
  =realm.consume
  too
  %em often.
%li
  You are a slave to
  =realm.gas_station.time.scare_quotes.period
  %ul
    %li
      You should pay more attention to whether you feel
      =realm.empty
      before you start
      =realm.get.ing
      =realm.triggers.period
    %li
      Once you start
      =realm.get.ing
      =realm.triggers.comma
      you won’t
      %em stop
      =realm.consume.ing
      until you feel
      =realm.triggered.period
    %li
      =realm.non_triggers.are_phrase.capitalize
      safe to
      =realm.get.colon
      =realm.non_triggers.they
      won’t trigger a binge.
%li
  If you cannot refrain from
  =realm.consume.ing
  until after you are
  =realm.empty.comma
  then you will have to
  =realm.produce
  even when you do not feel
  =realm.full.period
  %ul
    %li
      You will find that if you just
      %em start
      =realm.produce.ing
      you will easily be able to continue.
    %li
      The more you
      =realm.produce.comma
      the more
      =realm.triggers
      you will be able to
      =realm.get
      without becoming
      =realm.fat.ererer.period
