%li
  You compare how much you
  =realm.consume
  to how much other people
  =realm.consume
  and reach the perfectly logical conclusion that you
  =realm.consume
  “too much”.
%li
  You are assuming you are
  %em average.
%li
  The very fact that you don’t “mind” being
  =realm.restless
  means you don’t
  =realm.produce
  enough.
%li
  You are not average, and should not
  %em try
  to be average. If you
  =realm.consume
  “too much” then you should also
  %em=realm.produce
  “too much”.
%li
  Stop failing to
  =realm.consume
  less and start succeeding in
  =realm.produce.ing
  more.
