%h3 Nature
%p
  You are relatively
  %em insensitive
  to
  =realm.signals
  which means
  =realm.consume.ing
  is
  %em rarely
  painful.
  Since you were usually
  willing to
  =realm.gain2
  =realm.resources.comma
  you
  %em had
  enough
  =realm.energy
  as a child.
%h3 Nurture
%p
  This was a
  %em
    -case index
    -when 0
      disaster.
    -when 1
      problem.
    -when 2
      minor inconvenience.
    -when 3
      nonissue.
  There were
  %em
    -case index
    -when 0
      always
    -when 1
      often
    -when 2
      rarely
    -when 3
      never
  times when you
  %em had
  to
  %em=realm.gain
  but felt too
  %em=realm.full
  to do so.
%p
  You felt
  %em=realm.full
  %em
    -case index
    -when 0
      all
    -when 1
      too much
    -when 2
      only a little
    -when 3
      none
  of the time.
  You were
  %em
    -case index
    -when 0
      always
    -when 1
      eventually
    -when 2
      almost never
    -when 3
      never
  forced to
  %em reject
  those
  =realm.resources
  that were
  %em harder
  for you to
  =realm.gain2
  so you wouldn’t feel so
  %em=realm.full.period
%p
  You became
  %em
    -case index
    -when 0
      so good
    -when 1
      pretty good
    -when 2
      insignificantly better at
    -when 3
      no better
  at
  %em rejecting
  %em=realm.energetic_resources
  and
  %em
    -case index
    -when 0
      used up so
      =realm.energy.much.split.first
    -when 1
      used up just enough
    -when 2
      rarely used up enough
    -when 3
      never used up enough
  =realm.energy
  that you felt
  %em=realm.empty
  and
  %em needed
  to
  %em=realm.gain.period
%p
  You are
  %em
    -case index
    -when 0
      the most
    -when 1
      fairly well
    -when 2
      not very
    -when 3
      not at all
  differentiated in the
  =realm.kind
  realm. You
  %em
    -case index
    -when 0
      know
    -when 1
      usually know
    -when 2
      almost never know
    -when 3
      don’t know
  what it feels like to be so
  %em=realm.full
  you are unable to
  %em=realm.gain.comma
  and you
  %em
    -case index
    -when 0
      always
    -when 1
      usually
    -when 2
      rarely
    -when 3
      never
  know what you need to do if you
  %em have
  to
  %em get rid of
  =realm.energy.period
%h3 Maxim
%p.heading
  start
  =realm.lose.ing
  and try to
  =realm.gain2
  =realm.energetic_resources.fewer
  until you feel
  =realm.empty
  again

