%p
  You have always had too
  =subtype.potential.many
  unwanted and unneeded
  =subtype.potential.colon
  you feel guilty if you
  =subtype.produce_with
  more
  things and your nature will not allow you to
  =subtype.consume
  less.
%p
  Most of your focus has been on trying to change your nature (with or without the use of
  stimulants)
  so you will be
  %em able
  to
  =subtype.consume
  less
  so you can become
  =subtype.wannabee.name.period
%p
  BipolarType asserts that your goal should be to try to change your nurture to
  =subtype.goal.name
  by encouraging yourself to
  =subtype.produce
  more
  and
  =subtype.produce_with
  more
  things. You will feel less guilty if you
  =subtype.produce
  when you are alone.
%ul.left
  %li
    =subtype.produce_with
    unnecessary things,
    even
    when you are
    =subtype.worn_out
    =subtype.consume_with.open_paren
    more
    =subtype.strengtheners
    and you will build more
    =subtype.strengths.close_paren
  %li
    continue
    =subtype.produce.ing
    even when
    you feel
    =subtype.empty
    so you can use up some of your unwanted
    =subtype.potential
  %li
    don’t
    =subtype.consume_with
    so
    =subtype.buffers.many_phrase
    and you’ll be able to stop
    =subtype.consume.ing
    sooner
