%p
  Being 
  =subtype.domain
  is an unbalanced state. You always have too
  =subtype.potential.many
  unwanted and unneeded
  =subtype.potential.period
%p
  Most of your focus has been on trying to change your nature to
  =subtype.wannabee.name
  by
  =subtype.consume.ing
  less.
%p
  BipolarType asserts that your goal should be to try to change your nurture to
  =subtype.goal.name
  by 
  =subtype.produce.ing
  more.
%ul.left
  %li
    =subtype.produce
    even when you feel
    =subtype.empty 
    or are
    =subtype.worn_out
  %li
    when one
    =subtype.strengths.singularize
    is
    =subtype.worn_out
    or strained, use others
  %li
    =subtype.consume
    =subtype.consume_helper
    more 
    =subtype.strengtheners 
    and
    =subtype.buffers.fewer_phrase