you must start
=realm.consume.ing
=realm.strengtheners.parenthesize
%br
as soon as you feel
=realm.worn_out
%br
then you will develop new
=realm.strengths
%br
and you will be able to
=realm.produce
more when you are depressed
%br
and won’t gain so
=realm.potential.many_phrase
