%p
  You become
  =realm.adverb
  obese when depressed because you
  keep 
  =realm.consume.ing
  because 
  =realm.ending.pluralize
  are no longer
  =realm.triggery
  enough to trigger your
  =realm.neuro
  system, and then you
  =realm.provision
  yourself again before you feel
  =realm.empty
  because it’s
  =realm.time
  even though you 
  =realm.consume.ed
  more than usual at the last
  =realm.time
  but have
  =realm.produce.en
  less than usual since then.
%p
  You won’t stop
  %em gaining
  =realm.potentials
  until you jettison the concept of
  =realm.time
  and only
  =realm.consume
  when you feel
  =realm.empty
  (a sign that you have run out of 
  =realm.kinetics
  and are using
  =realm.potentials.close_paren.period
  If you want to feel
  =realm.empty
  more
  %em often
  (so you can
  =realm.consume
  more often without gaining unwanted
  =realm.potentials.close_paren
  then
  =realm.produce
  more. You will do this automatically when manic, but you can do it deliberately even when depressed.
%p
  In order to
  %em lose
  =realm.potentials
  you have to be prevented from
  =realm.consume.ing
  when you feel
  =realm.empty.period
  Since you know how to
  =realm.provide_verb
  your own
  =realm.resources
  that means the only
  =realm.ingredients
  in your
  =realm.place
  must be those that you would only 
  =realm.consume_with
  if you were
  =realm.even_emptier.comma
  or so
  =realm.triggery
  that even 
  %em you
  think they are too
  =realm.triggery
  and don’t
  =realm.consume_with
  too much. 