%p.heading
  I go out to
  =realm.consume
  =realm.resources
  and
  =realm.purge.period
  I prefer
  =realm.triggers
  and
  =realm.alt_triggers.period
-if @full
  %p
    If you’re exhausted from
    =realm.purge.ing.comma
    then go home and go to sleep.
  %p
    But first stock your
    =realm.home
    with some
    =realm.triggers
    and
    =realm.alt_triggers
    in case you are too depressed to go out in the morning.
