%p.heading
  I
  =realm.purge
  when I want to. 
-unless @answer
  %p.heading
    I rarely have
    =realm.potentials
    in my
    =realm.body
    and rarely have 
    =realm.resources
    in my
    =realm.home.period
-if @full
  %p
    You need to make sure your home is a nice place to visit when you are trapped in the desert of depression. 
  %p
    Stock your 
    =realm.home
    with
    =realm.triggers
    and
    =realm.alt_triggers
    and you will be able to
    =realm.putz
    when you're depressed, and you may even be able to
    =realm.purge.period
  %p
    If you’re exhausted from
    =realm.purge.ing.comma
    then go home and go to sleep. 
    But keep some
    =realm.triggers
    in your
    =realm.home
    in case you have trouble going out again in the morning. 