in order to
=subtype.st? ? "increase pleasure" : "decrease pain"
you need to
-case subtype.attitude.symbol
  -when "S"
    postpone #{subtype.intake.ing}
  -when "N"
    #{subtype.output}
  -when "F"
    #{subtype.intake}
  -when "T"
    postpone #{subtype.output.ing}
as
=subtype.nf? ? "soon" : "long"
as possible; the
=subtype.st? ? "more" : "less"
=subtype.sf? ? subtype.empty : subtype.full
you feel, the
=subtype.st? ? "more pleasurable" : "less painful"
=subtype.nt? ? subtype.output.ing : subtype.intake.ing
will be
