%p.heading
  All
  =realm.energy
  and no
  =realm.strengths.period
  %br
  I
  =realm.putz_verb
  =realm.big
  =realm.putz_nouns.period
  %br
  I
  =realm.consume
  =realm.triggers
  and
  =realm.alt_triggers.period
-if @full
  %p
    =realm.domain.capitalize
    =Attitude.second.domain.capitalize.pluralize
    can
    =realm.putz_verb
    =realm.big
    =realm.putz_nouns
    because they can
    =realm.consume
    plenty of
    =realm.triggers
    and
    =realm.alt_triggers
    without feeling
    =realm.full.period
  %p
    If they become overloaded with unwanted
    =realm.potentials
    they need to
    =realm.putz_verb
    =realm.big.er
    =realm.putz_nouns
    and
    =realm.consume
    =realm.triggers
    and
    =realm.alt_triggers
    only when they feel
    =realm.empty.period
  %p
    =Attitude.second.domain.pluralize.capitalize
    needs to purge their
    =realm.environment
    of
    =realm.triggers
    and
    =realm.alt_triggers
    and go out for fresh
    =realm.resources
    when they feel
    =realm.empty
    because they cannot stop
    =realm.putz_short.ing
    and actually
    =realm.purge_short
    (like
    =Attitude.second.name.an_phrase
    does) or
    =realm.consume
    =realm.nontriggers
    and
    =realm.alt_nontriggers
    when
    =realm.triggers
    and
    =realm.alt_triggers
    are readily available
    (like
    =Attitude.third.name.an_phrase
    can).
