%p.heading
  I
  =realm.consume
  too
  =realm.addictions.many_phrase
-if @some || @more || @most
  %p
    Insensitive as an infant, you
    =realm.consume_short.ed
    a lot and
    =realm.produce_short.ed
    a lot.
-if @some
  %p
    You learned early not to
    =realm.produce_short
    as much as you wanted to.
-elsif @more || @most
  %p
    The following message, whether deliberately or accidentally, was hardwired into your growing brain:
    =render "produce_less", :realm => realm
-if @some
  %p
    Later you learned not to
    =realm.consume_short
    as much as you wanted to.
-elsif @more || @most
  %p
    Since you stopped
    =realm.produce_short.ing
    but continued to
    =realm.consume_short.comma
    you inevitably gained unwanted and unnecessary
    =realm.potentials.period
  %p
    The following message, whether deliberately or accidentally, was then layered on as an afterthought:
    =render "consume_less", :realm => realm
-if @most
  %p
    You sometimes forget and
    =realm.consume_short
    when you “shouldn’t” but you never 
    =realm.produce_short 
    as much as you want to, even when manic.