The first problem is that you
=subtype.averse? ? "won’t" : "will"
=subtype.hit
=subtype.targets
that other people
=subtype.averse? ? "can and will" : "can’t and won’t"
=subtype.hit + "."
This causes external conflict. Just because you
="don’t" unless subtype.averse?
feel
=subtype.bad
doesn’t mean that other people
="don’t" if subtype.averse?
want to
=subtype.hit.first_word + "."

