%p 
  If you must
  =realm.lose.comma
  as opposed to merely not
  =realm.gain_verb.ing
  %em more
  =realm.object.comma
  then don’t try to 
  =realm.get
  =realm.kinetic.fewer_phrase
  at a time,
  =realm.get
  =realm.kinetic.them
  less
  %em often.
