%p
  If you want to lose some
  =subtype.potentials.comma
  the most important thing you need to know is why you keep
  %em gaining
  =subtype.potentials.them.period
%p
  You are extremely unsatisfied with a “normal” amount of
  =subtype.energizers
  and learned how to
  =subtype.provide
  yourself more
  =subtype.energizers
  than your parents
  =subtype.provide.ed
  =subtype.provide_helper
  you when you were a child.
  While still under parental control, you were prevented from
  =subtype.consume_with.ing
  too
  =subtype.energizers.many_phrase.comma
  but as soon as you became independent you began to
  =subtype.consume_with
  more
  =subtype.energizers
  whenever you felt
  =subtype.empty.period
  Since you were
  =subtype.consume.ing
  more, but not
  =subtype.produce.ing
  more, you gained even more
  =subtype.potentials.period
%p
  You have two basic problems. The first is that once you start
  =subtype.consume_with.ing
  =subtype.energizers
  you won’t be able to stop until your
  =subtype.neuro
  system triggers. The second is that you don’t have
  =subtype.thing.any
  you want or need to
  =subtype.produce_short.period
  You can alleviate the first problem by
  =subtype.consume_with.ing 
  =subtype.strengtheners
  more often, 
  =subtype.strengtheners.they
  won’t make you want to
  =subtype.consume
  more, 
  and when you do allow yourself to
  =subtype.consume_with
  =subtype.energizers.comma
  =subtype.consume_with
  pure
  =subtype.energizers
  without
  =subtype.buffers
  so your
  =subtype.neuro
  system triggers sooner.  
  You can alleviate the second problem by realizing that you don’t actually have to have
  =subtype.thing.some
  to 
  =subtype.produce_short
  in order to
  =subtype.produce
  more. You don’t have to actually
  =subtype.produce_long.semicolon
  you can just
  =subtype.produce
  in circles and
  =subtype.produce_short
  =subtype.things
  you’ve
  =subtype.produce_short.en
  before: the more you
  =subtype.produce.comma
  the more
  =subtype.kinetics
  you will use, the
  =subtype.empty.er
  you will feel, and that means you are burning through your unwanted
  =subtype.potentials.period