-if %w{symbols both}.include? cookies['setting']
  %p Note: BipolarType doesn’t differentiate between dominants and inferiors. Two people with the same BipolarType may have completely different MBTI&reg; Best-fit Types. Even if they share the same four subtypes they may not prioritize them the same.
