%p Note: BipolarType doesn’t actually differentiate between dominant and inferior subtypes. Two people with the same BipolarType may appear <em>very</em> different from each other and have completely different MBTI&reg; Best-fit Types: even though they share the same four subtypes they don’t prioritize them to the same degree.
