%p
  If you want to gain some
  =subtype.potentials.comma
  the most important thing you need to know is why you keep
  %em losing
  =subtype.potentials.them.period
%p
  You are overly sensitive to a “normal” amount of
  =subtype.energizers
  and learned how to avoid
  =subtype.consume_with.ing
  =subtype.energizers
  while you were still a child.
  While still under parental control, you could not avoid all
  =subtype.energizers.comma
  but as soon as you became independent you began to avoid
  =subtype.energizers
  whenever you felt overwhelmed.
  Since you were
  =subtype.consume.ing
  less, but not
  =subtype.produce.ing
  less, you lost even more
  =subtype.potentials.period
%p
  You have two basic problems. The first is if you have too many bad experiences with
  =subtype.strengtheners
  you won’t be able to
  =subtype.consume_with
  %em anything,
  even if you are
  =subtype.dying.period
  The second is that you have too many
  =subtype.things
  you want or need to
  =subtype.produce_short.period
  You can alleviate the first problem by realizing that you don’t need to accept
  =subtype.strengtheners
  that
  =subtype.strengtheners.are
  =subtype.nasty
  even if 
  =subtype.strengtheners.they_were
  =subtype.provide.en
  especially
  =subtype.provide_helper
  you; seek out and
  =subtype.consume_with
  the
  =subtype.nice.est
  =subtype.strengtheners
  you can find, with lots of
  =subtype.buffers.period
  You can alleviate the second problem by asking yourself if these are
  =subtype.things
  you really need to
  =subtype.produce_short.colon
  the less you
  =subtype.produce.comma
  the
  =subtype.kinetics.fewer_phrase
  you will use, the less
  =subtype.empty
  you will feel, and that means you can keep more of your
  =subtype.potentials
  for future emergencies when there are
  =subtype.things
  you 
  %em must
  =subtype.produce_short.period

