%p 
  If you must
  =realm.gain.comma
  as opposed to merely not
  =realm.lose_verb.ing
  %em more
  =realm.object.comma
  then don’t try to 
  =realm.get
  =realm.kinetic.more_phrase
  at a time,
  =realm.get
  =realm.kinetic.them
  more
  %em often.
