%p.heading
  I
  =realm.putz
  and bring
  =realm.resources
  home to
  =realm.consume.period
  I prefer
  =realm.nontriggers
  and
  =realm.alt_nontriggers.period
-if @full
  %p
    If you’re bored with a steady diet of
    =realm.nontriggers
    and
    =realm.alt_nontriggers.comma
    then go out and
    =realm.consume
    some
    =realm.alt_triggers.period
  %p
    But first purge the
    =realm.triggers
    and 
    =realm.alt_triggers
    from your own
    =realm.home
    so you have somewhere safe to retreat to when you are manic in the evening.
