%p.heading
  I
  =realm.putz.period
  %br
  I
  =realm.consume
  =realm.nontriggers
  and
  =realm.alt_nontriggers.period
-if @full
  %p
    =realm.domain.capitalize
    Bottoms can only
    =realm.putz_verb
    =realm.small
    =realm.putz_nouns
    because they cannot
    =realm.consume
    too
    =realm.triggers.many_phrase
    or
    =realm.alt_triggers
    without feeling
    =realm.overfull.period
  %p
    If they are unable to stop
    =realm.reject.ing.comma
    they have overdosed on
    =realm.energy
    and need a complete break from
    =realm.triggers
    and
    =realm.alt_triggers
    while they
    =realm.consume
    =realm.nontriggers
    and
    =realm.alt_nontriggers.period
  %p
    Or they will
    =realm.die.period
