%p.heading
  I
  =realm.putz
  when I want to. 
-unless @answer
  %p.heading
    I rarely have
    =realm.potentials
    in my
    =realm.body
    and always have
    =realm.resources
    in my
    =realm.home.period
-if @full
  %p
    You need to make sure your home is a safe refuge when you are tossed by the storm of mania. 
  %p
    Purge your 
    =realm.home
    of
    =realm.triggers
    and
    =realm.alt_triggers
    and you won’t
    =realm.reject
    when you're manic, and you may even avoid having to
    =realm.purge
    =realm.something.period
  %p
    If you’re bored with a steady diet of
    =realm.nontriggers.comma
    then go out and 
    =realm.consume
    some
    =realm.alt_triggers.period
    But keep the
    =realm.triggers
    out of your own
    =realm.home.period