-if @full
  %p
    You cannot
    =realm.get_triggered
    without feeling
    =realm.overwhelmed
    and you don’t want to feel
    =realm.overwhelmed.period
%p.center
  The less you
  =realm.splurge.comma
  the less you have to
  =realm.get_without.period
