%p.heading
  All
  =realm.strengths
  and no
  =realm.energy.period
  %br
  I
  =realm.purge_verb
  =realm.small
  =realm.purge_nouns.period
  %br
  I
  =realm.consume
  =realm.nontriggers
  and
  =realm.alt_nontriggers.period
-if @full
  %p
    =realm.domain.capitalize
    =Attitude.third.domain.capitalize.pluralize
    can only
    =realm.purge_verb
    =realm.small
    =realm.purge_nouns
    because they cannot
    =realm.consume
    too
    =realm.triggers.many_phrase
    or
    =realm.alt_triggers
    without feeling
    =realm.overfull.period
  %p
    If they start running out of essential
    =realm.potentials
    they need to
    =realm.purge_verb
    =realm.small.er
    =realm.purge_nouns
    and stop
    =realm.consume.ing
    =realm.triggers
    and
    =realm.alt_triggers
    and switch to
    =realm.nontriggers
    and
    =realm.alt_nontriggers
    as soon as they feel
    =realm.full.period
  %p
    =Attitude.third.domain.pluralize.capitalize
    need to stock their personal
    =realm.environment
    with
    =realm.nontriggers
    and
    =realm.alt_nontriggers
    and go home for safe
    =realm.resources
    as soon as they feel
    =realm.full
    because they cannot stop
    =realm.purge_short.ing
    and just
    =realm.putz_short
    (like
    =Attitude.third.name.an_phrase
    does) or
    =realm.consume
    =realm.triggers
    and
    =realm.alt_triggers
    when they are already
    =realm.full
    without feeling
    =realm.overfull
    (like
    =Attitude.second.name.an_phrase
    does).
