%p.heading
  I don’t
  =realm.consume
  enough
  =realm.energizers
-if @some || @more || @most
  %p
    Sensitive as an infant, you
    =realm.consume_short.ed
    little and
    =realm.produce_short.ed
    little.
-if @some
  %p
    You learned early to
    =realm.produce_short
    more than you wanted to.
-elsif @more || @most
  %p
    The following message, whether deliberately or accidentally, was hardwired into your growing brain:
    =render "produce_more", :realm => realm
-if @some
  %p
    Later you learned to
    =realm.consume_short
    more than you wanted to.
-elsif @more || @most
  %p
    Since you started
    =realm.consume_short.ing
    but continued to
    =realm.produce_short
    little, you inevitably lost necessary and critical
    =realm.potentials.period
  %p
    The following message, whether deliberately or accidentally, was then layered on as an afterthought:
    =render "consume_more", :realm => realm
-if @most
  %p
    You sometimes forget and don’t 
    =realm.consume_short
    when you “should” but you always 
    =realm.produce_short 
    more than you want to, even when depressed.

