p.left First. Since your #{s.mood.mood} realm is #{s.adjective} you should not expect yourself to be able to be #{s.adverb} strong during the #{s.season}. So stop hating yourself for being normal. Only #{s.opposite.episode} subtypes are willing and able to #{s.opposite.behaviors.map(&:words).or} all #{s.season}.

p.left Second. #{s.episode.capitalize} involves both #{s.behaviors.map(&:words).map(&:ing).and}, but #{s.better.words.ing} is much less unbalancing than #{s.worse.words.ing} as you will stop sooner. That is, since you are going to be #{s.adverb} energetic all #{s.season}, you will lose fewer #{s.adjective} reserves if you #{s.better.words} to balance your #{s.worse.words.ing}.

p.left Third. You <em>will</em> lose #{s.adjective} reserves during the #{s.season}. Which means you need to <em>get</em> #{s.adjective} reserves during the #{s.opposite.season}. So continue to #{s.better.words}. And whenever you need or want to be strong, #{s.better.flop.words} instead of #{s.worse.flop.words.ing}.
