I like being
=subtype.left? ? "depressed" : "manic"
because I
-case subtype.ordinal
-when "first"
  am no longer
  =subtype.worn_out.period
-when "second"
  gain a
  =subtype.potential.few_phrase.period
-when "third"
  can
  =subtype.produce_anything.period
-when "fourth"
  lose a
  =subtype.potential.few_phrase.period
