I like being
=subtype.left? ? "depressed" : "manic"
because I
-case subtype.ordinal
-when "first"
  am not
  =subtype.worn_out.period
-when "second"
  accumulate
  =subtype.potential.period
-when "third"
  can
  =subtype.produce_anything.period
-when "fourth"
  lose
  =subtype.potential.period