%ul
  %li
    I refuse, and
    =subtype.goal_oriented? ? subtype.achieve_goals : subtype.harvest_resources
    =subtype.now? ? "now!" : "later…"
  -if subtype.goal_oriented?
    %li
      I
      =render "use_my_energy", subtype: subtype
    %li
      I also
      =render "get_my_energy", subtype: subtype
  -else
    %li
      I
      =render "get_my_energy", subtype: subtype
    %li
      I also
      =render "use_my_energy", subtype: subtype
  %li
    Well… I have to
    =subtype.stress_out
    until I have
    =subtype.fat? ? "lost" : "gained"
    enough #{subtype.stored_energy}, but
    %em then
    I can #{subtype.relax}!
