It
%em should
be easiest for you to
=format_solution(subtype)
when you are
=help.name(cookies[:setting]).comma
but this is actually the
%em hardest
time for you.
The first problem is a nurtured inversion of natural instincts: if it is
=help.time.comma
then I should be
=format_problem(subtype.opposite).ing.period
The second problem is a false dichotomy:
=render 'fd', subtype: subtype
