I know exactly which
=realm.parts
are making
=realm.resource.an_phrase
=realm.appear
good or bad.
%br
I often feel
=realm.sick.period
%br
I don’t
=realm.produce
much or
=realm.produce_with
=realm.things.many_phrase.period
-unless controller.controller_name == "discover"
  %br
  %br
  I hate being manic because I cannot
  =realm.consume
  because everything
  =realm.appears
  =realm.bad.period
  Even the
  =realm.resources
  I create.
  %br
  %br
  I love being depressed because everything
  =realm.appears
  =realm.good.er.period
  And I am not always
  =realm.be_sick.ing.exclaim!
