-if @full
  %p
    You’ve never had
    =realm.potentials.many_phrase
    to lose, which is why losing
    =realm.potentials.them
    is so painful. You’re not
    =realm.empty.semicolon
    you’re
    =realm.dying.period
  %p
    You often feel
    =realm.full
    and would desperately love to
    =realm.splurge
    but you feel too
    =realm.overwhelmed.comma
    so you just
    =realm.reject.period
  %p
    Unfortunately, when you
    =realm.reject
    you don’t just lose the
    =realm.triggery
    =realm.triggers.comma
    you lose all the
    =realm.nony
    =realm.nons
    you’ve
    =realm.get_with.en.period
  %p
    Worse,
    =realm.reject.ing
    is extremely unpleasant and you risk becoming averse to
    =realm.resources
    and refusing to
    =realm.get_without
    at all.
  %p
    If you stop
    =realm.graze.ing
    you will run out of
    =realm.essentials.comma
    start cannibalizing your
    =realm.strengths.comma
    and
    =realm.die.period
  %p
    You need to
    =realm.putz
    as much as possible and
    =realm.graze
    whenever you can to build your
    =realm.strengths.period
    Then, when you cannot avoid
    =realm.binge.ing.comma
    your
    =realm.strengths
    will be able to hold
    =realm.kinetics.many_phrase("more")
    and you won’t feel as
    =realm.overwhelmed.period
  %p
    Besides. If worst comes to worst, and you do become averse to
    =realm.resources.comma
    you will have more
    =realm.strengths
    to cannibalize and you won’t
    =realm.die
    before you can find some
    =realm.nony
    =realm.nons
    to
    =realm.get_with.period
%p.heading
  Build your
  =realm.strengths
  and you won’t feel so
  =realm.overwhelmed.comma
  =realm.reject
  so often, or
  =realm.die
  so soon.
