%p.heading
  I
  =realm.putz.period
%p.heading
  I have
  =realm.potentials.few_phrase
  in my
  =realm.body
  and
  =realm.resources.many_phrase
  in my
  =realm.home.period
-unless @answer
  %p
    Purge your
    =realm.home
    %em before
    you become manic.
-if @full
  %p
    Most of the time you stay home to
    =realm.consume
    =realm.resources
    when you feel
    =realm.empty
    and you
    naturally gravitate away from
    =realm.triggers
    so you don’t feel so
    =realm.full
    you have to
    =realm.purge.period
  %h3 Mania
  %p
    Mania is horrible because you cannot stop
    =realm.putz.ing
    and may even
    =realm.purge.period
  %p
    But
    =realm.purge.ing.comma
    although out of character for you, is not the real problem. The real problem is that you stop
    =realm.consume.ing
    any
    =realm.resources
    at all, because you are so sensitive to the
    =realm.triggers
    and
    =realm.alt_triggers.period
  %p
    Purging your
    =realm.home
    of
    =realm.triggers
    and
    =realm.alt_triggers
    %em before
    you become manic will not only keep you from
    =realm.purge.ing.comma
    it will allow you to continue to
    =realm.consume
    =realm.nontriggers
    and
    =realm.alt_nontriggers
    so you don’t run out of essential
    =realm.potentials.period
  %h3 Depression
  %p
    Depression is wonderful because you can tolerate a lot more
    =realm.resources
    without feeling so
    =realm.full
    you just have to
    =realm.purge.period
