I know exactly which
=realm.parts
are making
=realm.resource.an_phrase
=realm.appear
good or bad.
%br
I often feel
=realm.sick.period
%br
I don’t
=realm.produce
much or
=realm.produce_with
=realm.things.many_phrase.period
