-if @full
  %h3 Nurture
%p
  Born introverted in the
  =realm.domain
  realm, you were allowed to remain an introvert.
%p
  You were neither forced to
  =realm.binge
  nor forced to
  =realm.purge.period
%p
  You
  =realm.putz
  =realm.easily
  and
  =realm.graze.period
-if @full
  %h3 Mania
  %p
    Mania is a
    %em disaster.
  %p
    You start to
    =realm.purge.period
  %p
    Since half the world
    =realm.purge.s.comma
    although out of character for you, it’s not
    %em abnormal.
  %p
    =realm.resources.capitalize
    that you used to enjoy make your
    =realm.organs_clench
    in protest and you
    =realm.reject
    almost every night (instead of just every now and then).
  %p
    If the mania lasts too long, you will lose all your
    =realm.potentials.comma
    all your
    =realm.essentials.comma
    and
    =realm.die.period
  %h3 Depression
  %p
    The subsequent depression (if you live that long) is a
    %em godsend.
  %p
    You stop
    =realm.purge.ing
    and almost never
    =realm.putz.period
  %p
    This is not out of character for you, but it is
    %em abnormal
    to
    =realm.putz
    so infrequently.
  %p
    =realm.resources.capitalize
    that usually make you
    =realm.reject
    don’t even make your
    =realm.organs_clench
    (and old favorites may even seem a little boring).
  %p
    If the depression lasts long enough, you will regain all your
    =realm.essentials
    and may even start to gain unnecessary
    =realm.potentials.period
  %p
    Why, you could almost pass for
    =realm.domain.an_phrase
    extrovert!
  %h3 Living with Bipolar Disorder
  %p
    First, no matter what anyone tries to tell you, extra
    =realm.potentials.are_phrase
    %em not
    a requirement for a happy and healthy life
    and
    =realm.binge.ing
    is clearly detrimental if
    =realm.triggers.if_uncountable("it causes", "they cause")
    you to
    =realm.die.period
  %p
    You can get by just fine
    with a bare minimum of
    =realm.essentials
    %em if
    you have enough readily available
    %em safe
    =realm.resources.period
    So stock up on
    =realm.nony
    =realm.nons
    and keep
    =realm.nons.them
    close by so you can
    =realm.consume
    =realm.nons.them
    whenever you want.
  %p
    When you are unable to avoid the
    =realm.triggery
    =realm.triggers
    you need to learn how to
    =realm.produce
    =realm.thing.some
    =realm.small
    as soon as possible, or they will think you want
    %em more
    and will keep providing you with
    =realm.triggers.period
  %p
    If all else fails, let yourself
    =realm.reject.semicolon
    that will almost always get them to stop feeding you
    =realm.triggers.period
  %p
    Take advantage of your depressions to bolster your
    =realm.essentials.comma
    but do not induce them: it’s almost impossible to selectively induce
    =realm.domain
    depression without inducing depression in the other realms and you really don’t need a lot of unnecessary
    =realm.potentials.period
  %p
    Besides, do you really
    %em want
    to spend your whole life
    =realm.binge.ing
    when you could be
    =realm.graze.ing.question?
