%p
  Your attitude towards the
  =energy.domain
  realm is mixed.
%p
  You love the start of the
  =energy.resource
  when it
  =energy.seem.s
  =energy.good.period
  But the
  =energy.reality
  is often so
  =energy.bad
  that you have to stop
  =energy.consume.ing
  before you get to the
  =energy.triggers
  and feel
  =energy.full.period
%p
  On the bright side, you rarely have
  too
  =energy.potentials.many_phrase
  or too
  =energy.essentials.few_phrase
  and don’t have to
  =energy.produce
  more or less than you want.
=render "xe", :energy => energy
=render "ix", :energy => energy