%p
  Your attitude towards the
  =energy.realm
  realm is mixed.
%p
  You hate the start of the
  =energy.resources
  when you feel so
  =energy.empty.period
  But if you keep
  =energy.consume.ing
  you will eventually get to the
  =energy.triggers
  and feel
  =energy.full.period
%p
  On the bright side, you rarely have
  too
  =energy.potentials.many
  or too
  =energy.potentials.few
  =energy.potentials
  and don’t have to
  =energy.produce
  more or less than average.
=render "ix", :energy => energy
=render "xi", :energy => energy
