%p
  You hate to
  =energy.consume.period
%p
  All of your experiences with
  =energy.consume.ing
  are negative:
  you start
  =energy.consume.ing
  because you feel
  =energy.empty
  and you stop
  =energy.consume.ing
  because the
  =energy.reality_is_too_bad.period
%p
  Unfortunately, this means you
  =energy.consume
  “too little” and have far
  =energy.essentials.fewer_phrase
  than you want and so you learned, long ago, to
  =energy.produce
  much less than you want to.
=render "ix", :energy => energy
=render "xe", :energy => energy
