%li
  when you are
  =realm.sore
  you do not
  =realm.eat1
  more nor
  =realm.walk
  more and become
  =realm.strong.er
  relatively slowly
%li
  you are powerful but not active in the
  =realm.physical
  realm as you
  =realm.lift
  some
  =realm.heavy
  =realm.weight.pluralize
  but do not
  =realm.walk
  much
