%li
  relatively introverted in the
  =realm.physical
  realm, as an infant you weren’t
  =realm.feed.en
  much, and as a result you did not
  =realm.move
  much
%li
  you learned very early to
  =realm.move
  &mdash; even when you don’t feel
  =realm.restless
  &mdash; if there is anyone else around
%li
  eventually all this
  =realm.move.ing
  without
  =realm.eat.ing
  had its inevitable result: you became too
  =realm.thin
%li
  if you were lucky, you were then taught how to stop
  =realm.move.ing
  without offending other people but you were probably just taught to
  =realm.eat
  more
%ul
  %li
    unfortunately, this latter teaching is not quite as ingrained as the original, and you often “fail” to
    =realm.eat
    more even when you know you “should”, although you almost never “fail” to
    =realm.move
    even when you are “allowed” to stop
  %li
    you may never be able to overcome your initial training enough to
    =realm.move
    less when when there are “authority figures” around
  %li
    you
    %em can
    learn to
    =realm.move
    less when you are alone and to avoid “friends” who want you to
    =realm.move
    more
  %li
    a true friend will encourage you to
    =realm.move
    less so you don’t have to
    =realm.eat
    as much
