%li
  you don’t like to
  =realm.eat
  =realm.carbs
  &mdash;
  =realm.carbs.they
  stress you out &mdash; but you have
  =realm.somewhere
  you want to
  =realm.go
%li
  you must continue to
  =realm.walk
  less than you want to; if you
  =realm.walk
  too much you will quickly use up your
  =realm.fat_deposits
  and start canibalizing essential
  =realm.muscles
  and become
  =realm.weak
  and unable to
  =realm.go
  the
  =realm.where.s
  you need to
  =realm.go
%li
  if you want to become
  =realm.fat.er
  so you can
  =realm.walk
  more
  %ul
    %li
      =realm.eat
      =realm.meals
      before you feel
      =realm.hungry
    %li
      =realm.eat
      more
      =realm.protein.punctuate(":")
      =realm.protein
      will not trigger your aversion to
      =realm.meals
    %li
      =realm.eat
      =realm.carbs.fewer
      at a time: too
      =realm.carbs.many
      will stress you out and you will stop
      =realm.eat.split.first.ing
      too soon
    %li
      if you must
      =realm.eat
      more
      =realm.carbs.comma
      buffer
      =realm.carbs.them
      with plenty of
      =realm.fats
