%ul
  %li
    you will 
    =object.consume
    =object.strength
    even if you are not 
    =object.weak
  %li
    you will always 
    =object.output
    when you are 
    =object.full
  %li
    you end up storing 
    =object.potential_energy.fewer
    than you need for emergencies
  %li
    you are willing to not
    =object.output
    but you need some encouragement: the less you 
    =object.output.comma
    the less 
    =object.energy
    you will have to
    =object.consume
    in an emergency 