you
=realm.hit.ed
too much and feel
=realm.sore.punctuate(",")
so you
=realm.eat
=realm.proteins
and promise yourself that
%em tomorrow
you will not
=realm.hit
so much. The next day you still feel
=realm.sore
so you remember not to
=realm.hit
