inferior ESP: i want to eat carbs. walking balances carbs. walking is not hard. so far so good. but. walking *replaces* running. and. well. i'm not actually okay with that. running isn't my highest priority, but, i want to be able to do it!

so. in order to run, i eat protein. in order to eat protein, i have to carbs less, carbs less makes it harder to walk. so there's a balancing game going on.

protein is number 1, because without it, running's a no go. which isn't a high priority, but high *enough*
walking is number 2, because, well, without it, there's no carbs, and i *like* carbs
running is number 3, becuase well, running is a lower priority than being able to eat carbs.
carbs is whats left. it's easy, and fun, but, if i indulge i'll be fat, and worse, i'll be replcing preotin, which makes running impossible. note, unlike my dominant and auxiliary, there's a definite, as soon as things are back to "normal", i'll be back to eating more carbs (as long as they don't replace the protein)
