%p You can replace the following #{items} with one of the listed alternatives or write your own. Saving a blank entry will restore the default. Any change from the default will be saved as a cookie in your current session.
