%h3 Nature
%p
  You are relatively
  %em sensitive
  to
  =realm.signals
  which means
  =realm.consume.ing
  is
  %em often
  painful.
  Since you were usually
  %em not
  willing to
  =realm.gain2
  =realm.resources.comma
  you
  %em did not have
  enough
  =realm.energy
  as a child.
%h3 Nurture
%p
  This was a
  %em
    -case index
    -when 0
      disaster.
    -when 1
      problem.
    -when 2
      minor inconvenience.
    -when 3
      nonissue.
  There were
  %em
    -case index
    -when 0
      always
    -when 1
      often
    -when 2
      rarely
    -when 3
      never
  times when you
  %em had
  to
  %em=realm.lose
  but felt too
  %em=realm.empty
  to do so.
%p
  You felt
  %em=realm.empty
  %em
    -case index
    -when 0
      all
    -when 1
      too much
    -when 2
      only a little
    -when 3
      none
  of the time.
  You were
  %em
    -case index
    -when 0
      always
    -when 1
      eventually
    -when 2
      almost never
    -when 3
      never
  forced to
  %em seek out
  those
  =realm.resources
  that were
  %em easier
  for you to
  =realm.gain2
  so you wouldn’t feel so
  %em=realm.empty.period
%p
  You became
  %em
    -case index
    -when 0
      so good
    -when 1
      pretty good
    -when 2
      insignificantly better at
    -when 3
      no better
  at
  %em seeking out
  %em=realm.strong_resources
  and
  %em
    -case index
    -when 0
      accumulated so
      =realm.energy.much.split.first
    -when 1
      accumulated just enough
    -when 2
      rarely accumulated enough
    -when 3
      never accumulated enough
  =realm.energy
  that you felt
  %em=realm.full
  and
  %em wanted
  to
  %em=realm.lose.period
%p
  You are
  %em
    -case index
    -when 0
      the most
    -when 1
      fairly well
    -when 2
      not very
    -when 3
      not at all
  differentiated in the
  =realm.kind
  realm. You
  %em
    -case index
    -when 0
      know
    -when 1
      usually know
    -when 2
      almost never know
    -when 3
      don’t know
  what it feels like to be so
  %em=realm.empty
  you are unable to
  %em=realm.lose.comma
  and you
  %em
    -case index
    -when 0
      always
    -when 1
      usually
    -when 2
      rarely
    -when 3
      never
  know what you need to do if you
  %em have
  to
  %em accumulate
  =realm.energy.period
%h3 Maxim
%p.heading
  stop trying to
  =realm.lose
  and
  start
  =realm.gain2.ing
  =realm.strong_resources
  until you feel
  =realm.full
  again
