%li
  you don’t like to
  =realm.eat
  =realm.carbs
  &mdash;
  =realm.carbs.they
  stress you out &mdash; and you don’t have
  =realm.anywhere
  you want to
  =realm.go
%li
  you must
  =realm.walk
  more &mdash; even though you have
  =realm.nowhere
  to
  =realm.go
  &mdash; because
  =realm.eat.ing
  more
  =realm.protein
  without
  =realm.walk.ing
  first will not make you
  =realm.strong.er.punctuate(";")
  you cannot build
  =realm.muscles
  without
  =realm.go.ing
  =realm.anywhere
  &mdash; no matter how
  =realm.protein.many
  you
  =realm.eat
%li
  having to
  =realm.eat
  =realm.meals
  is the biggest stress in your life since most
  =realm.meals
  include at least some
  =realm.carbs
%li
  luckily you do not have to
  =realm.eat
  =realm.carbs
  in order to
  =realm.go
  =realm.somewhere
  since you don’t
  =realm.walk
  much; you can get all the
  =realm.physical
  energy you need from
  =realm.protein
  and
  =realm.fats
  since you are not trying to become
  =realm.fat.er.comma
  just
  =realm.strong.er
%li
  if other people want you to
  =realm.eat
  more
  =realm.carbs.comma
  refuse; if you can’t, buffer the extra
  =realm.carbs
  with plenty of
  =realm.fats
  &mdash; even if you have to add
  =realm.fats.them
  yourself
