%li
  you don’t like to
  =realm.eat
  =realm.carbs
  &mdash;
  =realm.carbs.they
  stress you out &mdash; and you don’t have
  =realm.anywhere
  you want to
  =realm.go
%li
  you must
  =realm.walk
  more &mdash; even when you have
  =realm.nowhere
  to
  =realm.go
%li
  =realm.eat.ing
  more
  =realm.protein
  without
  =realm.walk.ing
  first will not make you
  =realm.strong.er
  as you cannot build
  =realm.muscles
  without
  =realm.go.ing
  =realm.anywhere
  &mdash; no matter how
  =realm.protein.many
  you
  =realm.eat
