%ul
  %li
    you have the right to remain
    =realm.seated.punctuate(":")
    you don’t actually have to
    =realm.walk
    when you don’t want to just because other people are
    =realm.walk.ing
    or want you to
    =realm.walk
  %li
    just because you feel
    %em guilty
    when you don’t
    =realm.walk
    enough, doesn’t mean that you
    %em should
    =realm.walk
    more
  %li
    %em they
    have the
    =realm.fat
    to prove that they can
    =realm.eat
    =realm.simple_carbs
    without becoming
    =realm.sick
    or even
    =realm.anorexic.punctuate(";")
    you don’t and you can’t
  %li
    you cannot
    =realm.eat
    too
    =realm.simple_carbs.many
    without becoming
    =realm.sick
    and if you are
    =realm.sick
    too often you will become
    =realm.anorexic.punctuate(":")
    averse to
    =realm.eat.ing
    %em any
    =realm.meals.punctuate(",")
    even pure
    =realm.protein
    or
    =realm.fats
    with no
    =realm.simple_carbs
  %li
    if you become
    =realm.anorexic
    and stop
    =realm.eat.ing
    =realm.protein
    you won’t be able to
    =realm.walk
    at all because your
    =realm.muscles
    will become too weak
  %li
    you can
    =realm.walk
    some without ever
    =realm.eat.ing
    any
    =realm.simple_carbs
    but if you want to
    =realm.walk
    %em more
    then you will need to buffer the
    =realm.simple_carbs
    you
    =realm.eat
    with lots of
    =realm.fats
    and only
    =realm.eat
    =realm.simple_carbs.them
    early in the day or afternoon and/or on Monday, Tuesday or Thursday.
  %li
    if you start to feel
    =realm.sick
    or
    =realm.anorexic
    either
    =realm.eat
    nothing at all for a while, or if your
    =realm.muscles
    =realm.muscles.are
    extremely weak,
    =realm.eat
    pure
    =realm.protein
    with
    =realm.fats
    — especially in the midday, evening and nighttime hours and/or on Wednesday and the weekend — and try to get some sleep or take a break (you’ll feel much less
    =realm.anorexic
    after you’ve reset your cycle).
  %li
    whatever you do, do not take general stimulants so that you will
    =realm.walk
    when you
    “should not” remain
    =realm.seated.punctuate(",")
    rest, or sleep, because that will only make you
    =realm.eat
    %em more
    =realm.simple_carbs
    and become
    %em more
    =realm.sick
    and
    =realm.anorexic
  %li
    if you
    %em must
    take drugs to help you be more “normal” ask your doctor for targeted
    sedatives:
    =realm.serotonin
    antagonists or inverse agonists
