%li
  when you are
  =realm.sore
  you do not
  =realm.eat1
  more or
  =realm.walk
  more and do not become
  =realm.strong.er
%li
  you are neither active nor powerful in the
  =realm.physical
  realm as you neither
  =realm.walk
  much nor try to
  =realm.lift
  =realm.heavy
  =realm.weight.pluralize
