%p
  I
  %em always
  =realm.use
  (use #{realm.energy})
  when I am manic.
%p
  That means I must
  =realm.get
  as much as possible in order to
  %em get
  the #{realm.energy} I use.
%p
  And if I want to
  %em gain
  #{realm.reserves}, I’ll have to not
  =realm.use
  when I am
  %em depressed
  (e.g. after noon).
