%ul
  %li
    you will 
    =object.consume
    =object.energy
    even if you are not 
    =object.empty
  %li
    you will not always 
    =object.consume
    =object.strength
    when you are 
    =object.weak
  %li
    you end up
    =object.weak
    because your
    =object.power.are
    not strong enough
  %li
    you are willing to 
    =object.consume
    =object.strength
    but you need some encouragement: the more 
    =object.strength
    you
    =object.consume.comma
    the more you will be able to 
    =object.output