%li
  I don’t always
  =object.consume
  =object.strength
  when I am
  =object.weak
%li
  if you cannot
  =object.consume
  more
  =object.strength
  you need to
  =object.be_strong.insert_word("easier")
