%li
  relatively introverted in the
  =realm.physical
  realm, as an infant you didn’t
  =realm.walk
  much, and as a result you were not
  =realm.feed.en
  much
%li
  you learned very early to
  =realm.eat
  &mdash; even when you don’t feel
  =realm.hungry
  &mdash; if there is anyone else around
%li
  eventually all this
  =realm.eat.ing
  without
  =realm.walk.ing
  had its inevitable result: you became too
  =realm.fat
%li
  if you were lucky, you were then taught how to stop
  =realm.eat.ing
  without offending other people but you were probably just taught to
  =realm.walk
  more
%ul
  %li
    unfortunately, this latter teaching is not quite as ingrained as the original, and you often “fail” to
    =realm.walk
    more even when you know you “should”, although you almost never “fail” to
    =realm.eat
    even when you are “allowed” to stop
  %li
    you may never be able to overcome your initial training enough to
    =realm.eat
    less when there are “authority figures” around
  %li
    you
    %em can
    learn to
    =realm.eat
    less when you are alone and to avoid “friends” who want you to
    =realm.eat
    more
  %li
    a true friend will encourage you to
    =realm.eat
    less so you don’t have to
    =realm.walk
    as much
