%li
  You don’t have to
  =realm.graze
  as long as you still have enough
  =realm.potentials
  to
  =realm.putz.period
%li
  stop 
  =realm.burst.ing 
  %em before
  you run low on
  =realm.kinetics
  and start feeling
  =realm.uncomfortable
  (a sign that you are tapping into your
  =realm.potentials.close_paren.period
%li
  only give yourself permission to
  =realm.burst
  when you have 
  slept on it first to give at least some of the 
  =realm.kinetics
  time to turn into
  =realm.essentials.period
%li
  the rest of the time, stick to
  =realm.putz.ing.semicolon
  you’ll be much happier if you don’t have to
  =realm.get_without_object
  all day long because you are
  =realm.uncomfortable.period