%li
  Once you start to
  =realm.burst.comma
  you will not be able to stop until you have run out of
  =realm.potentials.period
  %ul
    %li
      A manic episode
      =realm.mania.parenthesize
      can last long enough for you to die of
      =realm.death.period
    %li
      During every subsequent depression, you will gain back some
      =realm.potentials.period
    %li
      But never as
      =realm.potentials.many
      as you lost.
%li
  If you want to live,
  you have to…
  %ul
    %li
      create an environment where safe
      =realm.resources.are_phrase
      easy to get.
    %li
      stop
      =realm.putz.ing
      immediately and 
      =realm.get
      =realm.binge_objects.them
      as soon you start to feel
      =realm.deathly.colon
      you are dangerously close to running out of
      =realm.potentials.period
    %li
      =realm.get_without_object
      right before you sleep so the
      =realm.binge_objects
      will be converted to
      =realm.potentials
      before you
      =realm.putz
      =realm.binge_objects.them
      off.
    %li
      avoid
      =realm.resources
      that
      =realm.resources.if_uncountable("makes", "make")
      you want to
      =realm.burst.comma
      no matter how good
      =realm.resources.they
      =realm.seem.colon
      the
      =realm.binge_objects.are_phrase
      overloading your
      =realm.neuro
      system.

