%li
  keep a stash of “safe”
  =realm.resources
  available at all times.
%li
  safe
  =realm.resources.are_phrase
  =realm.resources
  that
  =realm.resources.do
  not make you feel like
  =realm.burst.ing.period
%li
  when you feel
  =realm.deathly.comma
  stop 
  =realm.putz.ing 
  %em immediately
  and start 
  =realm.get.ing
  your stash of safe 
  =realm.resources.period
%li
  =realm.get_without_object
  all day long but especially right before you fall asleep at night so the 
  =realm.kinetics
  you have will be converted into 
  =realm.essentials
  during the night.