%li
  You don’t admit being
  =realm.strong.comma
  because there are so many times when you just
  %em cannot
  =realm.produce.period
%li
  You are not
  =realm.thin
  because you don’t
  =realm.consume
  %em enough
  (although you do
  =realm.consume
  less than your peers).
%li
  You are
  =realm.thin
  because you
  =realm.get
  %em=realm.non_triggers.period
%li
  If you can no longer
  =realm.produce
  it is not because you need to
  =realm.get
  more
  %em=realm.kinetics.semicolon
  being
  =realm.fat.er
  will not help you continue to
  =realm.produce.colon
  you have
  =realm.get.en
  far too
  =realm.triggers.many_phrase
  already, which is why you feel so
  =realm.full
  and have been
  =realm.produce.ing
  so much.
%li
  You’re
  =realm.domain.ly
  exhausted and need to sleep and give the
  =realm.non_triggers
  you’ve
  =realm.get.en
  time to repair and rebuild your
  =realm.strengths
  before you will be able to
  =realm.produce
  again.
