%li
  You compare how much you
  =realm.consume
  to how much other people
  =realm.consume
  and reach the perfectly logical conclusion that you
  =realm.consume
  “too little”.
%li
  You are assuming you are
  %em average.
%li
  The very fact that you don’t “mind” being
  =realm.thin
  means you
  =realm.produce
  too much.
%li
  You are not average, and should not
  %em try
  to be average. If you
  =realm.consume
  “too little” then you should also
  %em=realm.produce
  “too little”.
%li
  Stop failing to
  =realm.consume
  more and start succeeding in
  =realm.produce.ing
  less.

