%li
  You compare how much you
  =realm.produce
  to how much other people
  =realm.produce
  and reach the perfectly logical conclusion that you
  =realm.produce
  “too little”.
%li
  That is, it becomes apparant that you are
  =realm.restless
  and then it becomes apparant that you also
  =realm.produce
  less than average, and the perfectly “logical” conclusion is that
  %em reason
  you are so
  =realm.restless
  is because you
  =realm.produce
  less than you “should”.
%li
  The logical fallacy that you are committing is in assuming you are
  %em average.
%li
  The very fact that you don’t “mind” being
  =realm.fat
  means that it is something that you are very familiar with. And that means you
  =realm.get
  too
  =realm.triggers.many_phrase.period
%li
  BipolarType says you are not average, and should not
  %em try
  to be average. If you
  =realm.produce
  “too little” then you should also
  %em=realm.consume
  “too little”.
%li
  Stop failing to
  =realm.produce
  more and start succeeding in
  =realm.consume.ing
  less.

