%li
  You compare how much you
  =realm.produce
  to how much other people
  =realm.produce
  and reach the perfectly logical conclusion that you
  =realm.produce
  “too little”.
%li
  You are assuming you are
  %em average.
%li
  The very fact that you don’t “mind” being
  =realm.fat
  means you
  =realm.get
  too
  =realm.triggers.many_phrase.period
%li
  You are not average, and should not
  %em try
  to be average. If you
  =realm.produce
  “too little” then you should also
  %em=realm.consume
  “too little”.
%li
  Stop failing to
  =realm.produce
  more and start succeeding in
  =realm.consume.ing
  less.

