I rarely notice the individual
=realm.parts
in
=realm.resource.an_phrase
unless they are relatively
=realm.obvious.period
%br
I rarely feel
=realm.sick.period
%br
I am usually willing to
=realm.produce
and I like
=realm.produce_with.ing
=realm.things.period
-unless controller.controller_name == "discover"
  %br
  %br
  I dislike being manic because I just can’t seem to stop myself from
  =realm.produce.ing
  so much I am
  =realm.worn_out.comma
  even though 
  =realm.nothing
  I
  =realm.produce_with
  is really necessary.
  %br
  %br
  I like being depressed because it’s easier to
  =realm.consume_with
  =realm.resources.period
  Even if everything does
  =realm.appear
  a bit too
  =realm.good
  to be true.
