-if @full
  %p
    Politely refuse the
    =realm.triggery
    =realm.triggers.period
  %p
    The
    =realm.kinetics.fewer_phrase
    you have, the less you will
    =realm.purge.comma
    and the happier you will be.
  %p
    You don’t like
    =realm.purge.ing
    because it means you’re out of control and just reacting instead of
    =realm.putz.ing
    =realm.easily.period
  %p
    If you must
    =realm.binge
    then
    %em go to sleep
    afterwards.
  %p
    As you sleep, some of the
    =realm.kinetics
    will be converted to
    =realm.potentials
    and you will find it easier to
    =realm.putz
    without
    =realm.purge.ing
    in the morning.
  %p
    If you are
    =realm.purge.ing
    instead of
    =realm.putz.ing
    =realm.easily
    that’s a sign that you have been
    =realm.get_with.ing
    too much. If you keep on the way you are, you will become so
    =realm.overwhelmed
    you will want to
    =realm.reject.period
  %p
    You won’t
    =realm.reject.comma
    because you aren’t a
    %em baby.
    But you will continue to
    =realm.purge.comma
    and become
    =realm.sore.comma
    and burn through your
    =realm.potentials
    until you start cannibalizing your
    =realm.essentials.period
    All of which is
    %em extremely stressful.
%p
  =realm.nons.capitalize
  are safe.
  =realm.triggers.capitalize
  aren’t.
%p
  So stop
  =realm.binge.ing
  but keep
  =realm.graze.ing.period
