-if @full
  %p
    You would desperately love to
    =realm.reject
    but you never feel quite
    =realm.overwhelmed
    enough, so you just stop
    =realm.get_without.ing
    and
    =realm.splurge.period
  %p
    Unfortunately, once you start to
    =realm.splurge
    you don’t always stop when you feel
    =realm.empty.period
  %p
    If you don’t have enough 
    =realm.potentials
    you risk losing your
    =realm.essentials.period
  %p
    It’s much safer to just
    stop
    =realm.binge.ing
    and go to sleep:
    repair your
    =realm.strengths
    and gain a
    =realm.potentials.few_phrase
    by not 
    =realm.splurge.ing.period
  %p
    =realm.putz.capitalize
    in the morning before you
    =realm.get_without
    and you won’t
    =realm.splurge
    too much. Which means you won’t have to
    =realm.get_without
    so much. Which means you won’t feel so
    =realm.overwhelmed 
    you wish you could
    =realm.reject.period
%p.heading
  The less you
  =realm.splurge.comma
  the less you have to
  =realm.get_without.period
