%ul
  -@legend.each do |format, legend|
    %li{class: format}=link_to_unless @show == format, legend, type_path(@type.path, format)
  %li=link_to_unless @show == 'all', 'show all', type_path(@type.path, 'all')
-Realm.each do |realm|
  =link_to_unless @show == realm.string, realm.name, type_path(@type.path, realm.string)
%br
-Attitude.each do |attitude|
  =link_to_unless @show == attitude.string, attitude.name, type_path(@type.path, attitude.string)
