Leverage the fact that you have learned that nothing terrible happens when you don’t
=subtype.left? ? subtype.produce_anything.colon :  "stop #{subtype.produce.ing}:"
-case subtype.ordinal
-when "first"
  if you don’t
  =subtype.produce.comma
  you won’t have to
  =subtype.consume_bad_things.period
-when "second"
  the less you
  =subtype.produce.comma
  the less you can
  =subtype.consume
  without losing
  =subtype.potential.period
-when "third"
  if you don’t stop 
  =subtype.produce.ing
  when you are
  =subtype.worn_out.comma
  you will be able to
  =subtype.produce_more.period
-when "fourth"
  the more you
  =subtype.produce.comma
  the more you can
  =subtype.consume
  without gaining too
  =subtype.potential.many_phrase.period