Leverage the fact that you have learned that nothing terrible happens when you don’t
=subtype.left? ? subtype.produce_anything.colon :  "stop #{subtype.produce.ing}:"
-case subtype.ordinal
-when "first"
  the less you
  =subtype.produce.comma
  the fewer
  =subtype.part.pluralize
  you will have to
  =subtype.consume_with.period
-when "second"
  the less you
  =subtype.produce.comma
  the
  =subtype.potential.fewer_phrase
  you will lose.
-when "third"
  if you don’t stop
  =subtype.produce.ing
  when you are
  =subtype.worn_out.comma
  you will be able to
  =subtype.produce_more.period
-when "fourth"
  the more you
  =subtype.produce.comma
  the more you can
  =subtype.consume.period
  You don’t have to
  =subtype.produce_anything
  important, you just have to
  =subtype.produce.period
