=link_to_unless_current('Introduction', root_path)
|
=link_to_unless_current('Theory', theory_path)
|
=link_to_unless_current('Words', words_path)
|
=link_to_unless_current('BipolarTypes', types_path)