%p
  Although I want to
  =subtype.alt_behave
  =subtype.more? ? "less" : "more"
  when I am
  =subtype.loss? ? "manic," : "depressed,"
  I must force myself to
  =subtype.alt_behave
  %em=subtype.more? ? "more" : "less"
  if I don’t want to
  =subtype.loss? ? "lose" : "gain"
  =subtype.potential
  because I’m never going to be able to
  =subtype.more? ? "prevent myself from" : "force myself to"
  =subtype.more? ? subtype.behave.ing : subtype.behave
%p
  When I
  %em can
  =subtype.behave
  =subtype.more? ? "less" : "more"
  then I will know the
  =subtype.loss? ? "mania" : "depression"
  is over
