%p
  During
  =subtype.loss? ? "mania," : "depression,"
  you will
  =subtype.easy
  =subtype.loss? ? "needed" : "unneeded"
  =subtype.potential
%p.left
  You cannot stem the
  =subtype.loss? ? "loss" : "accumulation"
  of
  =subtype.potential
  by
  =subtype.rational? ? subtype.use.ing : subtype.get.ing
  =subtype.more? ? subtype.energy.fewer_phrase : subtype.energy.more_phrase
  because you will just
  =subtype.rational? ? subtype.get : subtype.use
  =subtype.more? ? subtype.energy.fewer_phrase.comma : subtype.energy.more_phrase.comma
  but you
  %em can
  =subtype.get
  =subtype.more? ? subtype.energy.more_phrase : subtype.energy.fewer_phrase
  =subtype.rational? ? "without" : "and thus be able to"
  =subtype.rational? ? subtype.use.ing : subtype.use
  =subtype.more? ? subtype.energy.more_phrase : subtype.energy.fewer_phrase
