b=s.episode
br
em=s.flop.advice.too_much
-if @all || s.index > 1
  br
  em=s.flip.advice.too_little
ol.left
  li
    =s.long
    |<> and whenever you have
    =s.flip.advice.en.too_much

  -if @all || s.index.positive?
    li
      =s.advice
      |<>
      =s.flop.time
      |<> even if you feel
      =s.adverb
      |<>
      =s.flop.bad
      |<> and want to
      =s.flop.advice
      |<> because you have
      =s.opposite.advice.too_much.en


  -if @all || s.index > 1
    li
      =s.flip.advice
      |<>
      =s.opposite.time
      |<> even if you feel
      =s.adverb
      |<>
      =s.opposite.bad
      |<> and want to
      =s.opposite.advice
      |<> because you have
      =s.flop.advice.too_much.en


  -if @all || s.index > 2
    li
      =s.flip.advice
      |<>
      =s.flip.time
      |<> and whenever you feel
      =s.adverb
      |<>
      =s.flip.bad
