%table.center
  %tr
    %td.empty &nbsp;
    %td=render "long", :subtype => subtypes.second
    %td.empty &nbsp;
  %tr
    %td=render "long", :subtype => subtypes.first
    %td.empty=center
    %td=render "long", :subtype => subtypes.third
  %tr
    %td.empty &nbsp;
    %td=render "long", :subtype => subtypes.fourth
    %td.empty &nbsp;
