=subtype.intake.ing.capitalize
=subtype.e? ? "rarely" : "often"
makes me feel
=subtype.mild_intake_pain
=subtype.balanced? ? "but" : "and"
I
="don’t" unless subtype.p?
enjoy
=subtype.get_more_energy.ing + ";"
=subtype.output.ing
=subtype.e? ? "often" : "rarely"
makes me feel
=subtype.output_pain
=subtype.balanced? ? "but" : "and"
I
="don’t" if subtype.p?
enjoy
=subtype.use_more_energy.ing + "."
