%p
  I
  %em cannot
  =realm.use
  (use #{realm.energy})
  when I am depressed.
%p
  That means I must
  %em=realm.get
  as little as possible in order to
  %em not get
  the #{realm.energy} I don’t use.
%p
  And if I want to
  %em get rid
  of unwanted #{realm.reserves}, I’ll have to
  =realm.use
  when I am
  %em manic
  (e.g. before noon).
