%h3
  =realm.domain.capitalize
  Mania
%p
  During a manic episode, people becomes more sensitive to
  =realm.resources.colon
  it takes
  =realm.triggers.fewer_phrase
  to make them feel
  =realm.overwhelmed
  and they may even start
  =realm.reject.ing.period
%p
  At the same time, they feel
  =realm.full.er
  =realm.potentials.are_phrase.open_paren
  being converted to
  =realm.kinetics.close_paren
  and they will
  =realm.putz
  more and may even start
  =realm.splurge.ing.period
%p
  They
  %em will
  lose
  =realm.potentials
  during a manic episode — whether they can afford to lose
  =realm.potentials.them
  or not.
