%h3
  =realm.domain.capitalize
  Mania
%p
  During a 
  =realm.domain
  manic episode, you become more sensitive to
  =realm.neuro.colon
  it takes
  =realm.triggers.fewer
  =realm.triggery
  =realm.triggers
  to make you feel
  =realm.overwhelmed
  and you may even
  =realm.reject.period
%p
  =realm.resources.are_phrase.capitalize
  not just abundant, 
  =realm.resources.they
  may even be toxic. I certainly don’t need to
  =realm.consume
  =realm.resources.them
  right now.
%p
  At the same time, you feel
  =realm.full.er
  =realm.potentials.are_phrase.open_paren
  being converted to
  =realm.kinetics.close_paren
  and you will
  =realm.putz
  much more and may even be able to
  =realm.purge.period
%p
  If there is
  =realm.thing.any
  you’ve been wanting to
  =realm.produce
  — but haven’t had enough 
  =realm.domain
  energy — now is the time to
  =realm.produce
  =realm.it.exclaim!
%p
  You
  %em will
  lose
  =realm.potentials
  during a manic episode — whether you want to or not. 