%p
  If you feel
  =realm.adverb
  manic
  =surround "(", ")" do
    =realm.intake_pain
  then find something else to
  =realm.sense + ";"
  =realm.an_resource
  that
  =realm.appears
  %em good.
%p
  Don’t force yourself not to
  =realm.output
  when you feel
  =realm.adverb
  full
  =surround "(", ")" do
    =realm.full
  but don’t
  =realm.output
  when you feel
  =realm.empty
  even if there are
  =realm.targets
  you want to
  =realm.impact + "."
%p
  If you’re
  %em miserable
  it’s okay to create a temporary deficit of
  =realm.reserves
  by avoiding all
  =realm.resources
  but your primary goal should always be to
  =realm.sense
  =realm.resources
  that
  %em you
  think
  =realm.appear
  good.
