%ul
  %li
    you
    =subtype.mania_output_affect
    =subtype.produce.ing
    more
  %li
    you
    =subtype.mania_input_affect
    =subtype.consume.ing
    less
  %li
    mania is
    =subtype.mania_effect
    for you because you lose
    =subtype.energy_affect
    =subtype.energy
