During
=realm.adjective
mania (or while taking stimulants such as caffeine), everyone becomes more sensitive to
=realm.appearances.colon
=realm.parts
=realm.appear
=realm.obvious.er
and 
=realm.bad 
=realm.parts
may completely ruin an otherwise
=realm.good
=realm.resource
whereas
=realm.subtle.er
=realm.parts
are much more satisfying than previously.
%br
%br
You feel like you must be receiving a ton of
=realm.generic
energy whenever you
=realm.consume.comma
so you
=realm.produce
more. Whether or not you have
=realm.things
your want or need to
=realm.produce_with.period
%br
=realm.produce.ing.capitalize
more but
=realm.consume.ing
less inevitably results in a loss of
=realm.potential.period
%br
%br
The most important thing to remember about 
=realm.generic
mania is that you are not
=realm.produce.ing
more because there are important
=realm.things
that must be
=realm.produce_with.en.period
You are
=realm.produce.ing
more because you are
=realm.consume_alt.ing
=realm.energy.period
%br
If you want to stop
=realm.produce.ing
you must 
=realm.shut_down
so you can’t
=realm.consume_alt
anything.