%table.center
  %caption
    %p.half Mania (being overstimulated without the actual use of stimulants) is a time when you are much more sensitive to stimulation, which makes you feel like you have much more energy. For this reason, despite consuming less, you produce more.
  -subtypes.in_groups_of(2) do |row|
    %tr
      -row.each do |subtype|
        %td.half=render "mania", :subtype => subtype