%h2 Mania
%p.heading=render "attitude", subtype: @type.h
%p.heading=render "attitude", subtype: @type.p
%p
  You are suffering from
  =@type.p.sensory
  overload.
%p
  You are not actually feeling alert and productive. You don’t want to use energy. You don’t feel
  =@type.p.emotional
  and don’t need to use
  =@type.p.energy
  to
  =@type.p.improve
  =@type.p.nouns + "."
  You just can no longer
  =@type.p.sense
  and
  =@type.p.process
  =@type.p.preposition
  =@type.p.nouns + "."
%p
  You
  =@type.h.act
  because the
  =@type.h.nouns
  around you don’t
  =@type.h.appear
  that good.
%p
  Of your four senses,
  =@type.h.sense.ing
  is the most sensitive and you are most likely to have
  =@type.h.sensory
  hallucinations. You always tend to notice when
  =@type.h.nouns
  don’t
  =@type.h.appear
  good — unless they
  =@type.h.appear
  very good — and you often feel
  =@type.h.less_emotional
  although rarely
  =@type.h.emotional
  because you are proactive and refuse to
  =@type.h.process
  =@type.h.preposition
  =@type.h.harmful
  =@type.h.nouns + "."
%p
  You are in a receptive frame of mind, but you cannot
  =@type.g.process
  or
  =@type.l.process
  because you already have enough
  =@type.g.energy
  and
  =@type.l.energy + "."
  You could
  =@type.h.process
  more — you have very little
  =@type.h.energy
  — but the
  =@type.h.nouns
  =@type.h.appear
  bad, so you have no internal motivation to
  =@type.h.sense
  them.
%p
  You
  %em can
  =@type.h.act
  and
  =@type.h.improve
  =@type.h.nouns
  even when it is difficult to
  =@type.h.others.map(&:improve).or
  because you are not in a productive frame of mind.
  There are always some
  =@type.h.nouns
  that could be improved and made to
  =@type.h.appear
  better even if they are not actually
  =@type.h.harmful + "."
%p
  You could try to
  =@type.g.act + "."
  If you had less
  =@type.g.energy
  you could
  =@type.g.process
  more and that would make you happy. However, since you are not currently in a productive frame of mind, trying to
  =@type.g.improve
  will make you feel
  =@type.g.adverb
  exhausted.
  Even if you only feel
  =@type.g.adverb
  tired, the joy of being able to
  =@type.g.process
  more isn’t really worth the pain since there aren’t that many
  =@type.g.nouns
  that
  =@type.g.appear
  so good you really want to
  =@type.g.process
  =@type.g.preposition
  them anyway.
%p
  What you should try to do is
  =@type.l.act + "."
  If you used more
  =@type.l.energy
  you could
  =@type.l.process
  =@type.l.preposition
  =@type.l.beneficial
  =@type.l.nouns + "."
%p
  However, since you are not currently in a productive frame of mind, most things that you try to
  =@type.l.improve
  will make you feel
  =@type.l.adverb
  tired and some will even make you feel
  =@type.l.adverb
  exhausted.
%p
  Thus, the goal when manic is to find lots of
  =@type.l.nouns
  that are easy to
  =@type.l.improve
  so that you can
  =@type.l.act
  and use a lot of
  =@type.l.energy
  so that you can
  =@type.l.process
  more while you are still feeling calm and receptive.
