%ul
  %li
    mania is 
    %em objectively
    =subtype.mania_effect
    for you because you lose
    =subtype.energy_affect
    =subtype.energy
%ul
  %li
    =subtype.produce.ing
    more makes you
    %em feel
    =subtype.generic.ly
    =subtype.mania_output_affect
  %li
    =subtype.consume.ing
    less makes you
    %em feel
    =subtype.generic.ly
    =subtype.mania_input_affect
%ul
  %li
    =subtype.consume
    =subtype.strength
    and you won’t feel so
    =subtype.mania_output_affect
  %li
    it won’t hurt you to
    =subtype.advice
    when you feel
    =subtype.mania_input_affect