%ul
  %li
    mania is 
    %em objectively
    =subtype.mania_effect
    for you because you lose
    =subtype.energy_affect
    =subtype.energy
  %li
    =subtype.produce.ing
    more makes you
    %em feel
    =subtype.generic.ly
    =subtype.mania_output_affect
  %li
    =subtype.consume.ing
    less makes you
    %em feel
    =subtype.generic.ly
    =subtype.mania_input_affect
