-if subtype.generic?
  You
-else
  Because you are sensitive to
  =subtype.triggers.comma
  -unless subtype.consumer?
    if you cannot
    =subtype.produce
    less you
will find it easier to
=subtype.consume
more if you
=subtype.consume
six small
=subtype.resource.pluralize.period
