-if mbti == "ISTP"
  =link_to mbti, "http://en.wikipedia.org/wiki/#{mbti}_(personality_type)", :class => "external"
-else
  =link_to mbti, "http://en.wikipedia.org/wiki/#{mbti}", :class => "external"
