|> If you are forced to
=s.execute
|<>
=s.adjective
em<=s.something
|> , then you will learn to
=s.flip.do_something
=s.flip.second? ? ' at ' : ' in the '
=s.flip.time
|<> to balance it:
a href="##{s.flop.tla}" =s.bipolar
