%p.heading
  I would rather
  =nurture.left? ? realm.consume : realm.produce
  than
  =nurture.left? ? realm.produce : realm.consume
  and sometimes
  =nurture.left? ? "accumulate unwanted" : "run out of"
  =realm.energy.period