-if @full
  %p
    You don't wait until you feel
    =realm.empty
    before you start
    =realm.get_without.ing.period 
%p.center
  The more you
  =realm.putz.comma
  the more you can
  =realm.get_without.period
  
