%p
  Too
  =tendency.external.much.does
  make you anxious; you often want to stop
  =tendency.consume1.ing
  before the
  =tendency.external.are
  all
  =tendency.gone
%p
  You 
  %em want
  to
  =tendency.natural_level == "empty" ? tendency.energetic_action : tendency.consume1
  less.
%p
  Unfortunately, when you stop
  =tendency.natural_level == "empty" ? tendency.energetic_action.ing : tendency.consume1.ing
  you become
  =tendency.insensitive_pairs.map(&:tertiary_nature).to_sentence(:last_word_connector => ", or ").period
%p
  You don’t stop 
  =tendency.natural_level == "empty" ? tendency.energetic_action.ing : tendency.consume1.ing
  because it’s better to be
  =tendency.nature
  than to be
  =render "pairs", :pairs => tendency.insensitive_pairs
  