-if @full
  %p
    You don't wait until you feel
    =realm.empty
    before you start
    =realm.get_without.ing.period 
%p.heading
  The more you
  =realm.produce.comma
  the more 
  =realm.triggers
  you can
  =realm.get_with.period
  
