I know more or less which
=realm.parts
are making
=realm.resource.an_phrase
=realm.appear
good or bad.
%br
I occasionally feel
=realm.sick.period
%br
I don’t
=realm.produce
that much or
=realm.produce_with
that
=realm.things.many_phrase.period
-unless controller.controller_name == "discover"
  %br
  %br
  I dislike being depressed because I just cannot seem to stop myself from
  =realm.consume.ing
  even though nothing
  =realm.appears
  very good.
  %br
  %br
  I like being manic because it’s easy to get rid of unwanted
  =realm.potential.period
  Even if I am
  =realm.generic.ly
  restless and
  =realm.produce
  too much.