%p
  You have failed to differentiate
  =pair.subtype.generic
  =pair.subtype.put
  from 
  =pair.realm.generic 
  =pair.subtype.put.punctuate(":")
  instead of
  =pair.subtype.putting
  more, you try to
  =pair.subtype.change
  =pair.subtype.energy
  by
  =pair.realm.send(pair.subtype.put).ing
  more.
%p
  Unfortunately, this doesn’t actually work except through coincidence. Although you often end up
  =pair.subtype.putting
  more when you
  =pair.realm.send(pair.subtype.put).comma
  this is an extremely inefficient way to
  =pair.subtype.change
  =pair.subtype.energy
  and you end up
  =pair.subtype.change.ing
  more
  =pair.realm.energy
  than
  =pair.subtype.energy.punctuate