%p
  If you are clearly 
  -if pair.path.last == "p"
    not
    =pair.realm_goal
    enough to be
    =pair.realm.send(pair.subtype.put).ing
    so much, 
  -else
    not
    =pair.subtype.other_putting
    enough
  you may be diagnosed with
  =pair.episode
  and
  =pair.drugged.punctuate(":")
  this will make you even
  =pair.drugged_result.er.comma
  but at least you won't become
  =pair.episode_result.er
  -if pair.path.last == "p"
    because the sedatives will force you to stop
    =pair.realm_putting
    (desired result)
    even as they force you to stop
    =pair.subtype.putting
    (undesired result).
  -else
    because the stimulants will force you to start
    =pair.subtype.putting
    more (desired result) even as they force you to keep
    =pair.realm_putting
    more (undesired result).
%p
  Or, you may become so
  =pair.first_result
  that you have to stop
  =pair.subtype.other_putting.punctuate(":")
  this won't make you any
  =pair.goal.er
  but at least you won't continue to become
  =pair.first_result.er.punctuate
  At which point you will notice how
  =pair.second_result
  you have become and start
  =pair.realm_other_putting.punctuate(":")
  the acute, irrational,
  =pair.episode
  is over, but the chronic
  =pair.recovery
  has just begun: it may be rational, since you are clearly both
  =pair.results.to_sentence.comma
  but it's horrible to always be
  =pair.realm_other_putting
  more than you want, and never
  =pair.subtype.other_putting
  as much as you want. 
%p
  The only way for you to become
  =pair.goals.to_sentence
  is to differentiate 
  =pair.subtype.generic
  =pair.subtype.put
  from 
  =pair.realm.generic 
  =pair.subtype.put.punctuate(":")
  =pair.advice.punctuate("!")