.bold
  =link_to phase.name, phase.path, class: 'internal'
%div.center=phase.time
%br
-case phase.symbol

  -when "GE"

    %div.center.green
      Do
      =link_to @type.behaviors.second.balancer.aka, @type.behaviors.second.balancer.path, class: 'internal'
    %div.center.red
      Do <em>not</em>
      =link_to @type.behaviors.first.aka, @type.behaviors.first.path, class: 'internal'


  -when "UE"

    %div.center.green
      Do
      =link_to @type.behaviors.fourth.opposite.aka, @type.behaviors.fourth.opposite.path, class: 'internal'
    %div.center.yellow
      Do
      =link_to @type.behaviors.third.displacer.aka, @type.behaviors.third.displacer.path, class: 'internal'


  -when "US"

    %div.center.green
      Do
      =link_to @type.behaviors.fourth.balancer.aka, @type.behaviors.fourth.balancer.path, class: 'internal'
    %div.center.red
      Do <em>not</em>
      =link_to @type.behaviors.third.aka, @type.behaviors.third.path, class: 'internal'


  -when "GS"

    %div.center.green
      Do
      =link_to @type.behaviors.second.opposite.aka, @type.behaviors.second.opposite.path, class: 'internal'
    %div.center.yellow
      Do
      =link_to @type.behaviors.first.displacer.aka, @type.behaviors.first.displacer.path, class: 'internal'

