.bold.bigger=link_to @type.start_time(phase), hours_path(@type.symbol), class: 'internal'
%br
%ol
  -4.times do |i|
    -@type.by_phase(phase, i).each do |b|
      -if i > 1
        %li{class: @type.color(b)}=link_to b.aka.less, b.path, class: 'internal'
      -else
        %li{class: @type.color(b)}=link_to b.aka.more, b.path, class: 'internal'
