%p
  As a child, you were
  =subtype.provide.en
  =subtype.provide_helper
  as
  =subtype.energetic_resources.many_phrase
  as you wanted.
%p
  As an adult, you didn’t know how to
  =subtype.provide
  =subtype.energetic_resources
  =subtype.provide_helper
  yourself when you felt
  =subtype.empty.period
  Since you were
  =subtype.consume.ing
  less, but not
  =subtype.perform.ing
  less, you lost
  =subtype.potential_energy.period
