As a very small child I was often forced to 
=subtype.flop.act
when I wanted to
%br
=link_to_unless @answer.taken?(subtype), subtype.act, answer_path(@answer.next(subtype))
%br
%br
Now, either I don&rsquo;t
=subtype.getting? ? subtype.get.first_word : subtype.use
at all, or I
=subtype.flop.act.too_much.period