-if behavior.is_a? Behavior
  =link_to behavior.problem_names, answer_path(Answer.jump_path(behavior))
-elsif behavior.is_a? GenericBehavior
  =link_to behavior.problem_names, answer_path(behavior.opposite.symbol)

%br=link_to behavior.eg.too_much.capitalize, behavior_path(behavior.symbol), class: "external"

%p
  Whenever you aren’t paying attention, you #{behavior.eg}, but you don’t always #{behavior.switch_attitude.eg} when you feel like doing so (nurture over nature).
%p
  %em Everyone
  feels like
  =behavior.eg.ing
  on a
  =behavior.short_description
  but you have
  %em already
  #{behavior.eg.en.enough} and have not #{behavior.switch_attitude.eg.en.enough} to balance it.
%p
  You need to distract yourself with other behaviors that you feel like doing at this time, but have
  %em not
  already done too much.
