-case realm.letter
-when "S"
  Wriggle more, walk sooner, move faster, run, move at as much as you can. Be active!
-when "N"
  Decide more, choose sooner, think faster, guess if you have to, decide as much as you can. Be decisive!
-when "T"
  Play more, work harder, try harder, don’t give up, compete as much as you can. Be successful!
-when "F"
  Cry more, talk sooner, talk faster, yell more, answer the question, talk as much as you can. Be communicative!
