=subtype.realm.name
do not trigger my
=subtype.attitude.episode.downcase.period
%br
%br
It is always safe for me to
.center=link_to_unless @answer.taken?(subtype), display(subtype).make_mine, answer_path(@answer.next(subtype))
 