-case subtype.attitude.symbol
-when "IJ"
  once I start
  =subtype.use.ing
  I find it hard to stop
  =subtype.use.ing
  and
  =subtype.get
-when "IP"
  the more I
  =subtype.use
  the easier it is to stop
  =subtype.use.ing
  and
  =subtype.get
-when "EP"
  once I start
  =subtype.get.ing
  I find it hard to stop
  =subtype.get.ing
  and
  =subtype.use
-when "IJ"
