#{behavior.words.ing.capitalize} comes easy for you but #{behavior.opposite.words.ing} is a lot harder. Your natural #{behavior.try(:realm).try(:word)} state — before you make a conscious effort to change it — is #{behavior.problems.and}.
