I have learned to
.div=subtype.flop.react
.div=subtype.foci
when necessary
%br
but I can’t
.italic=subtype.opposite.react
them, only
.div=subtype.react
them:
.bold=link_to_unless @answer.taken?(subtype), display(subtype), answer_path(@answer.next(subtype))
