-case subtype.problem
-when "hyperactive"
  =subtype.achieve_goals.too_much
-when "finicky"
  too #{subtype.stored_energy.little} #{subtype.stored_energy}
-when "lazy"
  =subtype.achieve_goals.too_little
-when "greedy"
  too #{subtype.stored_energy.much} #{subtype.stored_energy}
