=link_to_unless behavior.is_a?(Behavior), behavior.problem_names, answer_path(behavior.symbol)
%p
  Trapped in unbalancing
  =link_to behavior.name, behavior_path(behavior.symbol), class: "external"
  behaviors when what I
  %em should
  be doing is
  =succeed "!" do
    =link_to behavior.opposite.name, behavior_path(behavior.opposite.symbol), class: "external"
