-case realm.letter
-when "S"
  Don’t wriggle so much, don’t walk so soon, don’t move too fast, don’t run, don’t move at all if you can help it. Be still!
-when "N"
  Don’t decide so much, don’t choose so soon, don’t think too fast, don’t be decisive, don’t choose at all if you can help it. Be patient!
-when "T"
  Don’t play so much, don’t work so hard, don’t try so hard, don’t win, don’t compete at all if you can help it. Be nice!
-when "F"
  Don’t cry so much, don’t talk so soon, don’t talk too fast, don’t yell, don’t talk at all if you can help it. Be quiet!
