%em They
want me to
=subtype.goal_oriented? ? subtype.achieve_them : subtype.harvest_them
=subtype.now? ? "later…" : "now!"
%br
But they still want me to
=subtype.goal_oriented? ? subtype.harvest_them : subtype.achieve_them
=subtype.now? ? "now!" : "later…"
