-case phase.symbol

  -when "GE"

    %p.left Get more energy than you want or need to get.

  -when "UE"

    %p.left Use all the energy you have and <em>crash</em>.

  -when "US"

    %p.left Use more strength than you want or need to use.

  -when "GS"

    %p.left Get all the strength you need and <em>fall asleep</em>.
