%p
  If you want to gain some
  =subtype.potential_energy.comma
  the most important thing you need to know is why you keep
  %em losing
  =subtype.potential_energy.them.period
%p
  You are overly sensitive to a “normal” amount of
  =subtype.energetic_resources
  and learned how to avoid
  =subtype.consume.ing
  =subtype.consume_helper
  =subtype.energetic_resources
  while you were still a child.
  While still under parental control, you could not avoid all
  =subtype.energetic_resources.comma
  but as soon as you became independent you began to avoid
  =subtype.energetic_resources
  whenever you felt overwhelmed.
  Since you were
  =subtype.consume.ing
  less, but not
  =subtype.perform.ing
  less, you lost even more
  =subtype.potential_energy.period
%p
  You have two basic problems. The first is if you have too many bad experiences with
  =subtype.strong_resources
  you won’t be able to
  =subtype.consume
  =subtype.consume_helper
  %em anything,
  even if you are
  =subtype.even_emptier.period
  The second is that you have too many
  =subtype.effect_nouns
  you want or need to
  =subtype.effect_verb.period
  You can alleviate the first problem by realizing that you don’t need to accept
  =subtype.strong_resources
  that
  =subtype.strong_resources.are
  =subtype.nasty
  even if you
  =subtype.get
  =subtype.strong_resources.them.semicolon
  seek out and
  =subtype.consume
  =subtype.consume_helper
  the
  =subtype.nice.est
  =subtype.strong_resources
  you can find, with lots of
  =subtype.buffers.period
  You can alleviate the second problem by asking yourself if these are
  =subtype.effect_nouns
  you really need to
  =subtype.effect_verb.colon
  the less you
  =subtype.perform.comma
  the
  =subtype.kinetic_energy.fewer_phrase
  you will use, the less
  =subtype.empty
  you will feel, and that means you can keep more of your
  =subtype.potential_energy
  for future emergencies when there are
  =subtype.effect_nouns
  you
  %em must
  =subtype.effect_verb.period

