Most people
=subtype.provider? ? "want" : "don’t want"
to
=subtype.consume
the 
=subtype.resources
I create,
-case subtype.ordinal
-when "first"
  they have too few
-when "second"
  as long as I 
  =subtype.buffer 
  the
-when "third"
  as long as I add a few
-when "fourth"
  they have too many
=subtype.interesting
=subtype.parts.period