I cannot always
=solution(subtype).make_mine(false)
in the
=subtype.normal
=subtype.extreme? ? 'while' : 'when'
I
=solution(subtype.flop).make_mine
but I can
=solution(subtype).make_mine(false)
in the
=subtype.alternate
=subtype.extreme? ? 'when' : 'while'
I
=interference(subtype).make_mine.period
