I cannot always
=solution(subtype).make_mine
in the
=subtype.normal
=subtype.extreme? ? 'while' : 'when'
I
=solution(subtype.flop).make_mine
but I
%em can
=solution(subtype).make_mine
in the
=subtype.alternate
=subtype.extreme? ? 'when' : 'while'
I
='can' if subtype.extreme?
=interference(subtype).make_mine.period
