I cannot always
=solution subtype
in the
=subtype.normal.semi
I
%em=subtype.extreme? ? 'have to' : 'should'
=subtype.extreme? ? solution(subtype.flop).make_mine.period : solution(subtype.opposite).make_mine.period
But I
%em can
=solution(subtype).make_mine
in the
=subtype.alternate
when I
%em=subtype.extreme? ? 'can finally' : 'am able to'
=interference(subtype).make_mine.period
