It’s much easier to
=format_solution(subtype).make_mine('be')
when I
=succeed '.' do
  -if subtype.extreme?
    don’t have to
    =format_problem(subtype.opposite).make_mine('be')
  -else
    can
    =format_solution(subtype.opposite).make_mine('be')
