p One of the four realms is most under your control (your dominant function).
p First select the realm in which you can most easily do <em>all four</em> behaviors. Then, choose the behavior that you most <em>enjoy</em> from that realm (diagonal from the behavior that you least enjoy).
