p One of the four realms is the most unbalanced (your inferior function).
p Please select the behavior over which you have the least control. That is, once you start it, you cannot stop yourself with &ldquo;willpower&rdquo; or self-control: you require drugs or external intervention to force you to stop.
