p One of the three remaining realms is the most unbalanced (your tertiary function).
p Please select the behavior over which you have the least control. That is, once you start it, you are (or were) not able to stop yourself with &ldquo;willpower&rdquo; or self-control: you require(d) drugs or external intervention to help you find your balance.
