p One of the three remaining realms is most under your control (your auxiliary function).
p First select the realm in which you can do <em>all four</em> behaviors (if not easily). Then, choose the behavior that you most <em>enjoy</em> from that realm (diagonal from the behavior that you least enjoy).
