p One of the two remaining realms is more unbalanced (your auxiliary function).
p Please select the behavior over which you have the least control. That is, at one point in your life you were not able to stop yourself with &ldquo;willpower&rdquo; or self-control: you required drugs or external intervention before you found your balance.
