p One of the two remaining realms is more under your control (your auxiliary function).
p First find the behavior (of the four available), that is the most difficult, and then chose your prefered behavior from the <em>other</em> realm.
