You are aware of the fact that
="you are" if subtype.st?
=subtype.sf? ? subtype.intake.ing : subtype.output.ing
=subtype.st? ? "too much" : "is painful"
but you are not aware that you
=subtype.sf? ? subtype.output.ed : subtype.intake.ed
=subtype.nf? ? "too much" : "until it was painful"
and are now balancing the
=subtype.st? ? "pain;" : "energy imbalance;"
you need to stop creating the
=subtype.st? ? "pain" : "imbalance"
first and then you will no longer be compelled by behaviors which create
=subtype.st? ? "imbalance" : "pain"
in order to treat the
=subtype.st? ? "pain" : "imbalance"
