%h3 Consumption
%p
  In order to
  =realm.consume.comma
  you need
  =realm.resources.period
  Some
  =realm.resources.are_phrase
  easy to
  =realm.sense
  and
  =realm.get.comma
  but many need to be
  =realm.process.en.colon
  either to make
  =realm.resources.them
  easier to
  =realm.sense.comma
  to make
  =realm.resources.them
  easier to
  =realm.get.comma
  or to make them
  =realm.appear
  better so you are more willing to
  =realm.consume
  =realm.consume_helper
  =realm.resources.them.period
%h4 Strength
%p
  You need
  =realm.strong_resources
  to repair and build new
  =realm.strengths.period
  If you
  =realm.get
  more
  =realm.strong_resources
  than you need for your
  =realm.strengths.comma
  the excess
  =realm.strong_resources.pluralize
  you have
  =realm.consume.en
  =realm.consume_helper
  can, with some difficulty, be converted to
  =realm.kinetic_energy.period
%p
  You cannot build new
  =realm.strengths
  merely by
  =realm.consume.ing
  =realm.consume_helper
  more
  =realm.strong_resources.comma
  you also have to
  =realm.perform
  more. Feeling
  =realm.worn_out
  is a sign that you have
  =realm.perform.en
  too much and should probably
  =realm.consume
  =realm.consume_helper
  more
  =realm.strong_resources
  so you can build more
  =realm.strengths.period
%h4 Energy
%p
  =realm.energetic_resources.are_phrase.capitalize
  converted to
  =realm.kinetic_energy.semicolon
  =realm.energetic_resources.they
  can not be used to build and restore
  =realm.strengths.period
  =realm.energetic_resources.capitalize
  =realm.energetic_resources.uncountable("triggers", "trigger")
  your
  =realm.neuro
  system. Once your
  =realm.neuro
  system is triggered, you won’t stop
  =realm.consume.ing
  until you feel satisfied or all the
  =realm.resources
  are gone. Once you feel satisfied, you will stop
  =realm.consume.ing
  no matter how good the
  =realm.resources
  =realm.appear.period
  If you
  =realm.consume
  =realm.consume_helper
  more
  =realm.energetic_resources
  than your
  =realm.strengths
  can hold as
  =realm.kinetic_energy.comma
  the excess will be stored as
  =realm.potential_energy.period
  The more
  =realm.strengths
  you have, the more
  =realm.kinetic_energy
  they can hold.
%p
  =realm.buffers.are_phrase.capitalize
  stored as
  =realm.potential_energy.semicolon
  =realm.potential_energy
  can only be converted to
  =realm.kinetic_energy.comma
  =realm.potential_energy.they
  can not be used to repair or build new
  =realm.strengths.period
  =realm.buffers.capitalize
  not only
  =realm.buffers.do
  not trigger your
  =realm.neuro
  system,
  =realm.buffers.they
  also allow you to
  =realm.consume
  =realm.consume_helper
  more
  =realm.energetic_resources
  before your
  =realm.neuro
  system is triggered or satisfied.
%h3 Production
%p
  In order to
  =realm.perform
  =realm.produce_effects.parenthesize
  you need both
  =realm.strengths
  and
  =realm.kinetic_energy.period
%p
  If you run out of
  =realm.kinetic_energy.comma
  you will feel
  =realm.empty
  which indicates that you are converting
  =realm.potential_energy
  to
  =realm.kinetic_energy.period
  The more
  =realm.potential_energy
  you convert, the
  =realm.empty.er
  you feel. Feeling
  =realm.even_emptier
  doesn’t indicate whether or not you have any
  =realm.potential_energy
  left, it just means you have been
  =realm.perform.ing
  for a long time without
  =realm.consume.ing
  =realm.consume_helper
  any
  =realm.energetic_resources.period
%p
  If you run out of
  =realm.potential_energy
  you will start cannibalizing your
  =realm.strengths
  for
  =realm.kinetic_energy.period
%p
  If you cannibalize critical
  =realm.strengths.comma
  you will be unable to
  =realm.perform
  at all and will probably die of
  =realm.weakness.period

