%p.heading
  -unless current_page? type_path(realm.path)
    =link_to realm.name, type_path(realm.path)
    %br
  =realm.description
%ul
  %li
    feeling
    =realm.high_on_energy
    is a natural signal telling you to
    =realm.produce
  %li
    feeling
    =realm.low_on_energy
    is a natural signal telling you to
    =realm.consume1
    %ul
      %li
        =realm.strength
        =realm.strength.uncountable? ? "provides" : "provide"
        =realm.adjective
        strength
      %li
        =realm.energy
        =realm.energy.uncountable? ? "provides" : "provide"
        =realm.adjective
        energy
      %li
        =realm.buffers
        can slow the absorption of
        =realm.energy
        and buffer
        =realm.energy.their
        attack
      %li
        overloading on
        =realm.energy
        without enough
        =realm.buffers
        will make some people
        =realm.reject_energy
      %li
        someone becomes
        =realm.phobic
        when they have developed an aversion to
        =realm.consume.ing
        anything &mdash; no matter how
        =realm.low_on_energy
        they feel &mdash; because they don’t want to
        =realm.reject_energy
        again
  %li
    if you
    =realm.produce
    more than you
    =realm.consume1
    you will become too
    =realm.underfull.punctuate(";")
    if you want to be
    =realm.overfull.er
    you can&hellip;
    %ul
      %li
        =realm.produce
        less
      %li
        =realm.consume1
        more
  %li
    if you
    =realm.consume1
    more than you
    =realm.produce
    you will become too
    =realm.overfull.punctuate(";")
    if you want to be
    =realm.underfull.er
    you can&hellip;
    %ul
      %li
        =realm.produce
        more
      %li
        =realm.consume1
        less
  %li
    if you have tried and failed to find balance in the
    =realm.adjective
    realm, you have probably chosen the wrong option

