%p.heading
  -unless current_page? type_path(realm.path)
    =link_to realm.name, type_path(realm.path)
%ul
  %li
    use
    =realm.power
    and
    =realm.kinetic_energy
    to
    =realm.produce
  %li
    be
    =realm.worn_out
    and/or
    =realm.low_on_energy
    and/or
    =realm.perceive
    =realm.resources
  %li
    stop
    =realm.produce.ing
    and start
    =realm.consume_without_object.ing
  %li
    =realm.consume
    =realm.resources
    to gain
    =realm.input
    %ul
      %li
        =realm.consume
        =realm.strength
        to build strong
        =realm.power
      %li
        =realm.consume
        =realm.energy
        for
        =realm.kinetic_energy
      %li
        store excess
        =realm.kinetic_energy
        as
        =realm.potential_energy