%h2
  The
  =realm.kind
  realm
%h3 Nature
%p
  People must stop
  =realm.gain.ing
  when their
  =realm.organs.are_phrase
  completely full, but they do not have to stop
  =realm.gain.ing
  just because they feel
  =realm.full.period
%p
  People will keep
  =realm.gain.ing
  even after they feel
  =realm.full
  if they are enjoying the
  =realm.resources
  they are
  =realm.gain_phrase.ing.period
%p
  How long an individual will continue to
  =realm.gain_phrase
  =realm.energetic_resources
  after they feel
  =realm.full
  from
  =realm.strong_resources
  depends on genetics but can be changed with drugs.
%h3 Nurture
%p
  People must stop
  =realm.lose.ing
  when they completely run out of
  =realm.energy.comma
  but they do not have to wait until they feel
  =realm.empty
  before they stop
  =realm.lose.ing.period
%p
  People will stop
  =realm.lose.ing
  before they feel
  =realm.empty
  if they believe that they need to save some
  =realm.energy
  for later.
%p
  How long before they feel
  =realm.empty
  an individual will decide that
  =realm.loss.an
  is unnecessary depends on their past experiences with
  =realm.internals
  but can be changed with deliberate effort.
