%p.heading
  -unless current_page? type_path(realm.path)
    =link_to realm.name, type_path(realm.path)
%ul
  %li
    use
    =realm.power
    and
    =realm.kinetic_energy
    to
    =realm.produce
  %li
    be
    =realm.worn_out
    and/or
    =realm.low_on_energy
  %li
    stop
    =realm.produce.ing
    and start
    =realm.consume_without_object.ing
  %li
    =realm.perceive
    and
    =realm.consume
    =realm.resources
    to gain
    =realm.input
  %ul
    %li
      if you stopped because you were
      =realm.worn_out
      %ul
        %li
          use the
          =realm.strength
          to build stronger
          =realm.power
        %li
          store the
          =realm.kinetic_energy
          as
          =realm.potential_energy
          so you can
          =realm.produce
          later
    %li
      if you stopped because you were
      =realm.low_on_energy
      %ul
        %li
          use the
          =realm.strength
          to bolster existing
          =realm.power
        %li
          use the
          =realm.kinetic_energy
          to keep
          =realm.produce.ing
          now
