%h2=realm.name
%ul
  -%w{output resources input energy }.each do |term|
    %li
      =term.punctuate(":")
      =realm.send(term)
  %ul
    -%w{empty full}.each do |term|
      %li
        =term.punctuate(":")
        =realm.send(term)
%h3 Subtypes
%ul
  %li
    I am too
    =link_to(realm.full, type_path(realm.path + "p")).punctuate(";")
    I can’t
    =realm.input
    as much as I want to
    =realm.input
  %li
    I am too
    =link_to(realm.empty, type_path(realm.path + "j")).punctuate(";")
    I can’t
    =realm.output
    as much as I want to
    =realm.output