%p.heading
  -unless current_page? type_path(realm.path)
    =link_to realm.name_with_mbti, type_path(realm.path)
    %br
  =realm.description
%ul
  %li
    feeling
    =realm.restless
    is a natural signal telling you to
    =realm.move
  %li
    feeling
    =realm.hungry
    is a natural signal telling you to
    =realm.eat1
    %ul
      %li
        =realm.protein
        =realm.protein.uncountable? ? "provides" : "provide"
        =realm.physical
        strength 
      %li
        =realm.carbs
        =realm.carbs.uncountable? ? "provides" : "provide" 
        =realm.physical
        energy
      %li
        =realm.fats
        can buffer the
        =realm.carbs
        and slow
        =realm.carbs.their
        absorption
      %li
        overloading on
        =realm.carbs
        without enough 
        =realm.fats
        will make some people 
        =realm.throw_up
      %li
        you become 
        =realm.anorexic
        when you have developed an aversion to
        =realm.eat.ing
        anything &mdash; no matter how
        =realm.hungry
        you feel &mdash; because you have
        =realm.throw_up.en
        once too often
  %li
    if you
    =realm.move
    more than you
    =realm.eat1
    you will become too
    =realm.thin.punctuate(";")
    if you want to be
    =realm.fat.er
    you can&hellip;
    %ul
      %li
        =realm.move
        less
      %li
        =realm.eat1
        more
  %li
    if you
    =realm.eat1
    more than you 
    =realm.move
    you will become too
    =realm.fat.punctuate(";")
    if you want to be
    =realm.thin.er
    you can&hellip;
    %ul
      %li
        =realm.move
        more
      %li
        =realm.eat1
        less
  %li
    if you have tried and failed to find balance in the
    =realm.physical
    realm, you have probably chosen the wrong option

