%p.heading
  -unless current_page? type_path(realm.path)
    =link_to realm.name_with_mbti, type_path(realm.path)
%p.heading=realm.description
%p.left
  the result of
  =realm.consume.ing
  is that you have enough
  =realm.glycogen
  from
  =realm.digest.ing
  =realm.carbs
  and
  =realm.fats
  to
  =realm.walk.comma
  and enough
  =realm.amino_acids
  from
  =realm.protein
  to develop and maintain the
  =realm.muscles
  you need to
  =realm.walk
  and
  =realm.lift
  =realm.weight.pluralize
%ul
  %li
    if you
    =realm.walk
    too much you will use up all your readily available
    =realm.glycogen
    and start pulling from your
    =realm.fat_deposits
    and feel
    =realm.hungry.comma
    which means you need more
    =realm.glycogen
    which you can get from
    =realm.digest.ing
    =realm.carbs
    (quickest) or
    =realm.fats
    (slower)
    or even
    =realm.protein
    (harder to get)
    %ul
      %li
        sensitivity to
        =realm.carbs
        is nature
      %li
        some people have sensitive
        =realm.stomach.s
        &mdash; too
        =realm.carbs.many
        make them
        =realm.throw_up
      %li
        some people don’t &mdash; excess
        =realm.carbs
        don’t actually make them
        =realm.throw_up
        although they may feel
        =realm.sick
  %li
    if you try to
    =realm.lift
    =realm.weight.pluralize
    =realm.weight.pluralize.that
    are too
    =realm.heavy
    you will strain your
    =realm.muscles
    and be
    =realm.sore
    which means you need more
    =realm.amino_acids
    which you can only get from
    =realm.protein
    %ul
      %li
        the desire to
        =realm.lift
        =realm.heavy
        =realm.weight.pluralize
        is nurture
      %li
        some people were encouraged to continue to
        =realm.lift
        =realm.heavy
        =realm.weight.pluralize
        even when they were
        =realm.sore
      %li
        some people had their
        =realm.heavy
        =realm.weight.pluralize
        =realm.lift.ed
        for them when they were
        =realm.sore
