The reason you
-case subtype.ordinal
-when "first"
  are not
  =subtype.worn_out
-when "second", "fourth"
  have 
  =subtype.second? ? "more" : subtype.potential.fewer
  =subtype.potential
-when "third"
  can
  =subtype.produce_anything
=subtype.even? ? "when you are" : "after having been"
=subtype.left? ? "depressed" : "manic"
is because you
=subtype.even? ? "don’t" : "didn’t"
-case subtype.ordinal
-when "first", "second"
  =subtype.produce_anything.period
-when "third", "fourth"
  stop
  =subtype.produce.ing.period
