The reason you
-case subtype.ordinal
-when "first"
  are not
  =subtype.worn_out
-when "second", "fourth"
  =subtype.second? ? "accumulate" : "lose"
  =subtype.potential
-when "third"
  can
  =subtype.produce_anything
==when you are
=subtype.left? ? "depressed" : "manic"
is because you
-case subtype.ordinal
-when "first", "second"
  don’t try to
  =subtype.produce_anything.period
-when "third", "fourth"
  never stop
  =subtype.produce.ing.period
