%p.heading
  -unless current_page? type_path(realm.path)
    =link_to realm.name, type_path(realm.path)
%ul
  %li
    start
    =realm.produce.ing
    %ul
      %li
        use
        =realm.power
        for
        =realm.generic
        strength
      %li
        use
        =realm.kinetic_energy
        for
        =realm.generic
        energy
      %li
        run out of
        =realm.kinetic_energy
        and feel
        =realm.generic.ly
        tired
        %ul
          %li
            continue to
            =realm.produce
          %li
            feel
            =realm.losing_potential.erer
          %li
            =realm.potential_energy.are
            being converted back to
            =realm.kinetic_energy
    %li
      stop
      =realm.produce.ing
  %li
    start
    =realm.consume_without_object.ing
    %ul
      %li
        if you were
        =realm.weak.comma
        =realm.strength
        will make your
        =realm.power
        stronger
      %li
        if you are
        =realm.generic.ly
        full,
        =realm.energy
        will be stored as
        =realm.potential_energy
    %li
      stop
      =realm.consume_without_object.ing
