%h2=realm.name
%p
  While you sleep, the
  =realm.kinetics
  remaining in your
  =realm.container
  =realm.kinetics.are
  slowly converted into
  =realm.potentials.period
%p
  The more
  =realm.kinetics
  you had in your
  =realm.container
  when you fell asleep — and the longer you sleep — the more
  =realm.potentials
  you will store.
%p
  If you have
  =realm.produce.en
  =realm.big.er
  =realm.results
  than usual you will also build new
  =realm.strengths
  — unless you have not
  =realm.consume.en
  enough
  =realm.strong
  =realm.resources.period
%p
  Larger
  =realm.strengths
  allow you to
  =realm.produce
  =realm.big.er
  =realm.results
  and also hold more
  =realm.kinetics
  so you don’t feel as
  =realm.full.period
%p
  If you do not feel
  =realm.empty
  when you try to
  =realm.produce
  =realm.results.comma
  then you still have some fresh
  =realm.kinetics
  remaining in your
  =realm.container
  and you don’t need to
  =realm.consume
  any new
  =realm.resources.period
%p
  You can
  =realm.consume
  =realm.resources
  before you are
  =realm.empty
  if you like the way the
  =realm.resources
  =realm.appear
  — or if you are trying to load up on
  =realm.kinetics
  — but when you start to feel
  =realm.empty
  you will definitely want to stop
  =realm.produce.ing
  =realm.results
  and start
  =realm.consume.ing
  =realm.resources.period
  If you keep
  =realm.consume.ing
  =realm.resources
  after you feel
  =realm.full
  you will become 
  =realm.domain.ly
  sick and start spewing
  =realm.unprocessed
  =realm.resources.period
%p
  The
  =realm.empty.er
  you feel, the more
  =realm.energetic
  the
  =realm.resources
  you will want to
  =realm.consume.period
%p
  If you are still feeling
  =realm.full
  late in the day, you will start to
  =realm.waste_energy
  even if the
  =realm.production
  is unnecessary. 