-unless current_page? type_path(realm.path)
  %p.heading=link_to realm.name, type_path(realm.path)
%ul
  %li
    consume:
    =realm.consume
    %ul
      %li
        strength:
        =realm.strong_input
      %li
        energy:
        =realm.energetic_input
  %li
    produce:
    =realm.produce
    %ul
      %li
        expend:
        =realm.expend
      %li
        stored energy:
        =realm.energy
