%h2=link_to energy.name, type_path(energy.string.downcase)
%p
  You can start
  =energy.consume.ing
  either because you feel
  =energy.empty
  or because the
  =energy.resources
  =energy.seem_if
  good. Feeling
  =energy.empty
  is an internal signal:
  only you can know whether you feel
  =energy.empty
  or not.
  =energy.seem.ing.capitalize
  good is an external signal: people can agree or disagree as to whether the
  =energy.resources.are_phrase
  =energy.good.period
%p
  You can stop
  =energy.consume.ing
  either because you feel
  =energy.full
  or because the
  =energy.resources.have_phrase
  become
  =energy.bad.period
  Feeling
  =energy.full
  is an internal signal:
  only you can know whether you feel
  =energy.full
  enough.
  Being
  =energy.bad
  is an external signal: people can agree or disagree as to whether the
  =energy.resources.are_phrase
  =energy.bad.period
%p
  The more you
  =energy.consume
  the more
  =energy.potentials
  you will gain.
  Running out of essential
  =energy.essentials
  and being unable to
  =energy.produce
  is an acute emergency. Accumulating too
  =energy.potentials.many_phrase
  can be a problem depending upon your expectations of how scarce
  =energy.resources
  will be and how much you will have to
  =energy.produce
  in the future.
  In other words, are you going to need the
  =energy.potentials
  later, even if you don’t need
  =energy.potentials.them
  now?
