-unless current_page? type_path(realm.path)
  %p.heading=link_to realm.name, type_path(realm.path)
%ul
  %li
    output:
    =realm.output
  %li
    input:
    =realm.input
    %ul
      %li
        resources:
        =realm.resources
      %li
        energy:
        =realm.energy
      %li
        strength:
        =realm.strength
  
    