%dl
  -%w{act produce effect sensory get_resources strengtheners energizers buffers strengths worn_out energy potential_energy empty even_emptier death}.each do |method|
    %dt=Realm.generic.send(method)
    %dd=realm.send(method)
