-unless current_page? type_path(realm.path)
  %p.heading=link_to realm.name, type_path(realm.path)
%ul
  %li
    stored energy:
    =realm.energy
  %li
    gain:
    =realm.consume
  %li
    use:
    =realm.produce
