%p
  =realm.consume.capitalize.punctuate(":")
  =realm.ip
  =realm.ip2.parenthetical
  for
  =realm.adjective
  energy, optionally converting
  =realm.kinetic
  to and from
  =realm.potential.punctuate(";")
  =realm.ij
  =realm.ij2.parenthetical
  for
  =realm.adjective
  strength to build and repair
  =realm.strength.punctuate
%p
  =realm.produce.capitalize.punctuate(":")
  =realm.ep.ing
  =realm.ep2.parenthetical
  uses
  =realm.adjective
  energy and you know you have
  =realm.ep.ed
  too much when you feel
  =realm.empty
  which is a sign that you are converting
  =realm.potential
  into
  =realm.kinetic.punctuate(";")
  =realm.ej.ing
  =realm.ej2.parenthetical
  uses
  =realm.adjective
  strength and you know you have
  =realm.ej.ed
  too much when you feel
  =realm.worn
  which is a sign that you are putting excess wear and tear on your
  =realm.strength.punctuate
%p
  You feel
  =realm.energetic
  when you have a lot of
  =realm.adjective
  energy
  but you feel
  =realm.powerful
  when you have a lot of
  =realm.adjective
  strength.
