%dl
  %dt gain energy
  %dd
    =realm.eat
    =realm.carbs
  %dt energy
  %dd=realm.glycogen
  %dt use energy
  %dd=realm.run
  %dt use strength
  %dd=realm.hit
  %dt not strong enough
  %dd
    feel
    =realm.sore
  %dt gain strength
  %dd
    =realm.eat
    =realm.protein
