%td.half
  %p.heading
    =realm.kind.capitalize
  %dl
    -%w{ gain lose activity }.each do |term|
      =render "li", :term => term, :definition => realm.send(term)
%td.half
  %p.heading
    My
    =realm.location
    is…
  %dl
    -%w{full high low empty }.each do |term|
      =render "li", :term => term, :definition => realm.send(term)
