-unless current_page? type_path(realm.path)
  %p.heading=link_to realm.name, type_path(realm.path)
%ul
  %li
    feeling 
    =realm.empty
    means you're burning through 
    =realm.kinetic_energy
    and tapping into your
    =realm.potential_energy
  %li
    feeling
    =realm.full
    means you're full of 
    =realm.kinetic_energy
    and need to 
    =realm.output
    before you
    =realm.input
    again or you will store the excess
    =realm.kinetic_energy
    as 
    =realm.potential_energy
  %li
    being 
    =realm.weak
    means you need to
    =realm.consume
    =realm.strength