Just remember that although
-case subtype.ordinal
-when "first"
  you don’t need
  =subtype.potential.many_phrase
  — since you don’t want to
  =subtype.produce_anything
  — you do need enough
  =subtype.energy
  to be able to
  =subtype.produce
  in an emergency. So when you’re done
  =subtype.be_sick.ing.comma
  make sure you
  =subtype.consume_with
  a few of your favorite
  =subtype.resources.period
-when "second"
  “they” may not be happy that you are cherry-picking, they will be more unhappy if you don’t
  =subtype.consume_anything.period
-when "third"
  “they” may not be happy when you are
  =subtype.worn_out.comma
  being
  =subtype.worn_out
  is not
  =subtype.adverb
  unhealthy as long you
  %em
    keep
    =subtype.consume.ing.period
-when "fourth"
  having too
  =subtype.potential.many_phrase
  may be embarrassing, it’s not
  =subtype.adverb
  unhealthy as long you
  %em
    keep
    =subtype.produce.ing.period
