I
-case subtype.nurture
-when "thin"
  have far too little #{subtype.reserves}
-when "fat"
  have far too much #{subtype.reserves}
-when  "passive"
  have more #{subtype.reserves} than I need
-when "active"
  have less #{subtype.reserves} than I would like
