I must
=subtype.top? ? subtype.produce : subtype.consume
=subtype.diagonal? ? "more" : "less"
so I won’t
=subtype.left? ? "gain unwanted" : "lose wanted"
=subtype.potential.period
If I want to
%em=subtype.left? ? "lose" : "gain"
=subtype.potential
then I must also
=subtype.top? ? subtype.consume : subtype.produce
=subtype.diagonal? ? "less" : "more"
which I will only be able to do when I am not
=subtype.left? ? "depressed." : "manic."
If I am
=subtype.left? ? "depressed" : "manic"
the best I can do is not to
=subtype.left? ? "gain" : "lose"
too
=subtype.potential.many_phrase.period
If I should happen to
=subtype.left? ? "lose" : "gain"
too
=subtype.potential.many_phrase
when
=subtype.left? ? "manic" : "depressed"
then I can easily
=subtype.top? ? "start" : "stop"
=subtype.diagonal? ? subtype.consume.ing : subtype.produce.ing
again.
