tr
  th=realm.title
  td.left #{realm.zeitgebers}: I #{realm.accept} and #{realm.change} more or less.
  td.left Depending on where you are in your cycle #{realm.focus} can #{realm.appear} weak or strong regardless of #{realm.signal}.<p>It’s time for <em>it</em> to change: I turn the lights up or down.
