%p #{realm.name} depression is the worst kind of depression.
%p I can’t #{realm.produce} even though I am #{realm.consume.ing} more.
%p If depression lasted forever I would have too #{realm.potential.many_phrase}.