|> Although you
em> can
=display(s.flop)
|> , doing so will <em>not</em> make it any easier to
=display(s.opposite)
|> ; it just makes you
=s.size
| .
p
|> You need to
b=display(s)
|<> and
em=display(s.flip)
|<> (which you
em can
|< do)
