%p
  As a child, you were
  =subtype.provide.en
  as
  =subtype.energizers.many_phrase
  as you wanted.
%p
  As an adult, you didn’t know how to
  =subtype.provide
  =subtype.energizers
  =subtype.provide_helper
  yourself when you felt
  =subtype.empty.period
  Since you were
  =subtype.consume.ing
  less, but not
  =subtype.produce.ing
  less, you lost
  =subtype.potentials.period