|> Although you
em> can
=display(s.flop)
|> , doing so will <em>not</em> make it any easier to
=display(s.opposite)
|<> and will only make you
b
  =s.adverb
  |<>
  =s.sick
|<> because
=s.adjective
|<>
=s.foci
|<> make you feel
em=s.flip.feeling
|<> not
em=s.opposite.feeling
|> . It will make you feel
b=s.flop.mild
|<> however, which means you will
=display(t.flip).more
|> . So if you <em>must</em>
=display(t.flip)
|> , but the
=t.foci
|<> are not actually making you feel
=s.opposite.feeling
|<> enough to overcome the fact that you feel
=t.adverb
|<>
=s.flop.feeling
|> , then
=display(s.flop)
|> .  It is
em much
|<> healthier, however, to just
b=display(t).more
| .
