The second problem is that you will
=subtype.averse? ? "stop" : "start"
=subtype.hit.ing
=subtype.targets
even when you already have an energy
=subtype.imbalance
and do not need to
=subtype.change
more
=subtype.reserves + "."

This causes internal conflict. Just because you
="don’t" unless subtype.averse?
feel
=subtype.bad
doesn’t mean that you
=subtype.averse? ? "shouldn’t" : "should"
be
=subtype.hit.first_word.ing + "."


