the fact that you are
=realm.worn_out
%br
does not mean that you are
=realm.weak
%br
it means you are
=realm.produce.ing
more than usual
%br
just keep
=realm.consume.ing
=realm.strengtheners.parenthesize
%br
and you will develop new
=realm.strengths
and become even
=realm.strong.er
