%p.heading
  I
  =realm.putz
  and bring
  =realm.resources
  home to
  =realm.consume.period
  I prefer
  =realm.triggers
  and
  =realm.alt_triggers.period
-if @full
  %p
    If you want to
    =realm.consume
    more
    =realm.triggers
    and
    =realm.alt_triggers
    then you will have to
    =realm.putz
    at home as much as possible since you’re never going to go out and
    =realm.purge.period
  %p
    If you want to get rid of some of your unwanted
    =realm.potentials
    then force yourself to go out to
    =realm.consume
    =realm.resources
    by purging your
    =realm.home
    of everything except
    =realm.nontriggers
    and some
    =realm.triggers
    and
    =realm.alt_triggers
    you don’t binge on.
