%p.heading
  I
  =realm.putz
  when I have to. 
-unless @answer
  %p.heading
    I always have
    =realm.potentials
    in my
    =realm.body
    and always have
    =realm.resources
    in my
    =realm.home.period
-if @full
  %p
    You may be too
    =Attitude.second.domain_adjective
    to ever be able to stop
    =realm.putz.ing
    and just
    =realm.purge.comma
    but if you want to
    =realm.consume
    more
    =realm.triggers
    and 
    =realm.alt_triggers
    then you will have to 
    =realm.putz
    as much as possible.
  %p
    You may not be able to go out whenever you are 
    =realm.empty.comma
    but you can keep as
    =realm.resources.few_phrase
    as possible in your 
    =realm.home.colon
    a
    =realm.triggers.few_phrase
    and
    =realm.alt_triggers
    for when you're depressed and cannot 
    =realm.putz.comma
    and lots of 
    =realm.nontriggers
    for when you're manic and are feeling
    =realm.weak.period
  %p
    You have plenty of
    =realm.potentials
    in your
    =realm.body.semicolon
    you can stay home and be
    =realm.empty
    for a while until you can go out and get some fresh
    =realm.resources.period
    