%p.heading
  More
  =realm.energy
  than
  =realm.strengths.period
  %br
  I
  =realm.purge_verb
  =realm.big
  =realm.purge_nouns.period
  %br
  I
  =realm.consume
  =realm.triggers
  and
  =realm.alt_triggers.period
-if @full
  %p
    =realm.domain.capitalize
    Tops can
    =realm.purge_verb
    =realm.big
    =realm.purge_nouns
    because they can
    =realm.consume
    plenty of
    =realm.triggers
    and
    =realm.alt_triggers
    without feeling
    =realm.full.period
  %p
    If they are unable to even
    =realm.putz_short.comma
    let alone
    =realm.purge_short.comma
    they need a fresh infusion of
    =realm.triggers
    and
    =realm.alt_triggers
    to keep
    =realm.purge.ing.period
    =realm.nontriggers.capitalize
    and
    =realm.alt_nontriggers
    will not help: they have plenty of
    =realm.strengths.comma
    they’re just temporarily out of
    =realm.energy.period
  %p
    Or they can just take a break until their
    =realm.potentials
    =realm.potentials.if_uncountable("converts", "convert")
    back to
    =realm.energy.period
