another reason to
=subtype.sf? ? subtype.output : subtype.intake
=subtype.st? ? "before" : "after"
you
=subtype.nt? ? subtype.output : subtype.intake
is that the more
=subtype.sf? ? subtype.full : subtype.empty
you feel the less
=subtype.st? ? "pleasurable" : "painful"
=subtype.nt? ? subtype.intake.ing : subtype.output.ing
will be
