It’s 
=subtype.ease_of_consumption
for me to accept
=subtype.energy
=subtype.consume.parenthesize
=subtype.and_or_but
=subtype.ease_of_production
for me to use
=subtype.energy.them
=subtype.produce.parenthesize.period