-case subtype.attitude.adjective
-when "mania"
  =subtype.use_less_strength
-when "reception"
  =subtype.get_more_energy
-when "production"
  =subtype.use_more_strength
-when "depression"
  =subtype.get_less_energy
