I
=subtype.left? ? subtype.consume : subtype.produce
whenever I can
%br
%br
I can: I’m
=subtype.top? ? "allowed to" : "not feeling"
=subtype.ill if subtype.third?
=subtype.worn_out if subtype.fourth?
