%p
There are
=subtype.restless? ? "very few" : "lots of"
=subtype.targets
I want to
=subtype.hit + "."
%p
I
=subtype.sensitive? ? "often" : "rarely"
feel
=subtype.bad
when trying to
=subtype.intake
=subtype.strengtheners + "."
