-case subtype.attitude.ordinal
-when "fourth"
  =subtype.use_less_strength
-when "third"
  =subtype.get_more_energy
-when "second"
  use more
  =subtype.strength
-when "first"
  =subtype.get_less_energy
