I don’t know why I 
=subtype.bipolar? ? "keep #{subtype.behavior.ing}" : "can #{subtype.behavior}"
but I 
=subtype.bipolar? ? "don’t stop and" : "can’t"
=subtype.next.behavior
even when I feel
=subtype.next.feeling