-case subtype.attitude.adjective
-when "alpha"
  =subtype.use_less_strength
-when "beta"
  =subtype.get_more_energy
-when "gamma"
  use more
  =subtype.strength
-when "delta"
  =subtype.get_less_energy
