%h2=link_to subtype.name, discover_path(subtype.discover_path)
%p
  =subtype.short
%p
  If I
  =subtype.easy
  too
  =subtype.potential.many_phrase
  I need to
  ="— counterintuitively —" unless subtype.rational?
  =subtype.advice
