I enjoy
=subtype.p? ? subtype.intake.ing : subtype.output.ing
more than
=subtype.p? ? subtype.output.ing : subtype.intake.ing
=subtype.balanced? ? "but" : "and"
=subtype.e? ? subtype.intake.ing : subtype.output.ing
is
=subtype.balanced? ? "much" : "also"
easier than
=subtype.e? ? subtype.output.ing : subtype.intake.ing
