=link_to display(subtype), subtype_path(subtype.symbol)
&rArr; Using #{drugs} to force yourself to #{change}
=display(transform(drugged, :ing))
sooner will rebalance you, but so will giving yourself permission to
%em
  =continue
  =display(transform(natural, :ing)).bang
