%p.center=behaviors.first.generic_behavior.inline_description
%p.center
  More:
  =link_to behaviors.second.vertical.name, behavior_path(behaviors.second.vertical.symbol), class: "external"
  and
  =link_to behaviors.third.horizontal.name, behavior_path(behaviors.third.horizontal.symbol), class: "external"
%p.center
  Less:
  =link_to behaviors.first.name, behavior_path(behaviors.first.symbol), class: "external"
  and
  =link_to behaviors.fourth.opposite.name, behavior_path(behaviors.fourth.opposite.symbol), class: "external"
