%p
  Wait until you feel
  =realm.adverb
  full
  =surround "(", ")" do
    =realm.full
  to
  =realm.output + "."
%p
  Don’t force yourself to
  =realm.intake
  before you feel
  =realm.adverb
  empty
  =surround "(", ")" do
    =realm.empty
  but do
  =realm.intake
  when you feel
  =realm.empty
  even if you don’t have any
  =realm.resources
  you want to
  =realm.sense + "."
%p
  If you’re
  %em miserable
  it’s okay to create a temporary deficit of
  =realm.reserves
  by splurging
  =surround "(", ")" do
    =realm.output.ing
    when you are not feeling
    =realm.full
    just because the
    =realm.targets
    seem good
  but your primary
  =realm.adjective
  goal should always be to wait until you are feeling as
  =realm.full
  as possible before you
  =realm.impact
  =realm.anything + "."
