%p
  If you don’t have enough
  =subtype.potential.comma
  you can easily
  =subtype.consume
  =subtype.consume_helper
  more
  =subtype.energizers.period
  If you have too
  =subtype.potential.many_phrase
  you can easily
  =subtype.produce_with
  more
  things.
%p
  You were nurtured to
  do all the
  =subtype.produce.ing.comma
  but if you don’t want to
  =subtype.produce.comma
  don’t
  =subtype.produce.colon
  you have the right to remain
  =subtype.unproductive
  when you don’t have enough
  =subtype.kinetics.period
%p
  But if you want to
  =subtype.produce.comma
  =subtype.produce.colon
  your
  =subtype.strengths.are_phrase
  strong enough that you can usually
  =subtype.produce_with
  something without being too
  =subtype.worn_out.period
%ul.left
  %li
    if you are
    =subtype.worn_out.comma
    =subtype.consume
    =subtype.consume_helper
    more
    =subtype.strengtheners
  %li
    if you feel
    =subtype.empty.comma
    =subtype.consume
    =subtype.consume_helper
    =subtype.obvious.er
    =subtype.energizers
  %li
    avoid excess
    =subtype.buffers.colon
    =subtype.buffers.they
    will make you
    =subtype.consume
    more than you want to and gain too
    =subtype.potential.many_phrase
