%p
  Being strong (insensitive and dominant)
  is a balanced state. If you don’t have enough
  =subtype.potential.comma
  you can easily
  =subtype.consume
  =subtype.consume_helper
  more
  =subtype.energizers.period
%p
  It doesn’t mean you have to
  do all the
  =subtype.produce.ing
  for others:
  you have the right to
  remain
  =subtype.unproductive
  even if other people want
  you to
  =subtype.produce
  for them.
%p
  But if you want to
  =subtype.produce.comma
  =subtype.produce.colon
  your
  =subtype.strengths.are_phrase
  strong enough that you can usually
  =subtype.produce_with
  something without being too
  =subtype.worn_out.period
%ul.left
  %li
    if you are
    =subtype.worn_out.comma
    =subtype.consume
    =subtype.consume_helper
    more
    =subtype.strengtheners
  %li
    if you feel
    =subtype.empty.comma
    =subtype.consume
    =subtype.consume_helper
    more
    =subtype.energizers
  %li
    avoid unnecessary
    =subtype.buffers
