%p
  Being
  =subtype.domain
  is a balanced state.
  You’re
  =subtype.domain.period
  Be
  =subtype.domain.period
%p
  It doesn’t mean you have to do all the
  =subtype.produce.ing.colon
  you have the right to remain
  =subtype.unproductive
  even if you
  %em could
  =subtype.produce_with
  something.
%p
  But if you want to
  =subtype.produce.comma
  =subtype.produce.colon
  your
  =subtype.strengths.are_phrase
  strong enough that you can usually
  =subtype.produce_with
  something without being
  =subtype.worn_out.period
%ul.left
  %li
    if you are
    =subtype.worn_out.comma
    =subtype.consume
    =subtype.consume_helper
    more
    =subtype.strengtheners
  %li
    if you feel
    =subtype.empty.comma
    =subtype.consume
    =subtype.consume_helper
    more
    =subtype.energizers
  %li
    avoid unnecessary
    =subtype.buffers
