%p
  If you don’t have enough
  =subtype.potential.comma
  you can just
  =subtype.consume
  =subtype.consume_helper
  more
  =subtype.energizers.period
  If you have too
  =subtype.potential.many_phrase
  you can get rid of
  =subtype.potential.them
  by
  =subtype.produce_with.ing
  more
  things.
%p
  You were nurtured to
  do all the
  =subtype.produce.ing.comma
  but if you don’t want to
  =subtype.produce.comma
  don’t
  =subtype.produce.colon
  you have the right to be
  =subtype.unproductive
  when you don’t have enough
  =subtype.kinetics
  =subtype.realm.domain.open_paren
  energy). You will feel less guilty if can convince yourself that being
  =subtype.unproductive
  allows other people to build their own
  =subtype.strengths.comma
  rather than focusing on the fact that they will probably be
  =subtype.worn_out.period
%p
  But if you want to
  =subtype.produce.comma
  =subtype.produce.colon
  you have enough
  =subtype.strengths
  =subtype.realm.domain.open_paren
  strength)
  that you can usually
  =subtype.produce_with
  something without being
  =subtype.worn_out.period
%ul.left
  %li
    if you are
    =subtype.worn_out.comma
    =subtype.consume
    =subtype.consume_helper
    more
    =subtype.strengtheners
  %li
    if you feel
    =subtype.empty.comma
    =subtype.consume
    =subtype.consume_helper
    more
    =subtype.energizers
