%p
  Being 
  =subtype.domain
  is a balanced state. Over time you will settle into exactly as
  =subtype.potential.many_phrase
  as you need and want. 
%p
  Most of your focus has been on trying to change your nature to
  =subtype.wannabee.name
  by
  =subtype.produce.ing
  less.
%p
  BipolarType asserts that your goal should be to accept your nurture as
  =subtype.goal.name
  by 
  =subtype.consume.ing
  more.
%ul.left
  %li
    if you want to
    =subtype.produce.comma
    =subtype.produce 
  %li
    if you are
    =subtype.worn_out.comma
    =subtype.consume
    =subtype.consume_helper
    more
    =subtype.strengtheners
  %li
    if you feel
    =subtype.empty.comma
    =subtype.consume
    =subtype.consume_helper
    more
    =subtype.energizers