%h3 Nature
%p
  You are relatively
  -case sensitivity
  -when "i"
    sensitive
  -when "e"
    insensitive
  to
  =realm.neuro
  which means
  =realm.consume.ing
  is
  -case sensitivity
  -when "i"
    often
  -when "e"
    rarely
  painful.
  Since you were usually
  -case sensitivity
  -when "i"
    not
  willing to
  =realm.gain2
  =realm.resources.comma
  you
  -case sensitivity
  -when "i"
    did not have
  -when "e"
    had
  enough
  =realm.energy
  as a child.
%h3 Nurture
%p
  This was a
  -case index
  -when 0
    disaster.
  -when 1
    problem.
  -when 2
    minor inconvenience.
  -when 3
    nonissue.
  There were
  -case index
  -when 0
    always
  -when 1
    often
  -when 2
    rarely
  -when 3
    never
  times when you
  had
  to
  -case sensitivity
  -when "i"
    =realm.lose
  -when "e"
    =realm.gain
  but felt too
  -case sensitivity
  -when "i"
    =realm.empty
  -when "e"
    =realm.full
  to do so.
%p
  You felt
  =realm.empty
  -case index
  -when 0
    all
  -when 1
    too much
  -when 2
    only a little
  -when 3
    none
  of the time.
  You were
  -case index
  -when 0
    always
  -when 1
    eventually
  -when 2
    almost never
  -when 3
    never
  forced to
  -case sensitivity
  -when "i"
    seek out
  -when "e"
    reject
  those
  =realm.resources
  that were
  -case sensitivity
  -when "i"
    easier
  -when "e"
    harder
  for you to
  =realm.gain2
  so you wouldn’t feel so
  -case sensitivity
  -when "i"
    =realm.empty.period
  -when "e"
    =realm.full.period
%p
  You became
  -case index
  -when 0
    so good
  -when 1
    pretty good
  -when 2
    insignificantly better at
  -when 3
    no better
  at
  -case sensitivity
  -when "i"
    seeking out
    =realm.strong_resources
  -when "e"
    rejecting
    =realm.energetic_resources
  and
  -action=sensitivity == "i" ? "accumulated" : "used up"
  -case index
  -when 0
    =action
    so
    =realm.energy.much.split.first
  -when 1
    =action
    just enough
  -when 2
    rarely
    =action
    enough
  -when 3
    never
    =action
    enough
  =realm.energy
  that you felt
  -case sensitivity
  -when "i"
    =realm.full
  -when "e"
    =realm.empty
  and
  -case sensitivity
  -when "i"
    wanted
  -when "e"
    needed
  to
  -case sensitivity
  -when "i"
    =realm.lose.period
  -when "e"
    =realm.gain.period
%p
  You are
  -case index
  -when 0
    the most
  -when 1
    fairly well
  -when 2
    not very
  -when 3
    not at all
  differentiated in the
  =realm.kind
  realm. You
  -case index
  -when 0
    know
  -when 1
    usually know
  -when 2
    almost never know
  -when 3
    don’t know
  what it feels like to be so
  -case sensitivity
  -when "i"
    =realm.empty
  -when "e"
    =realm.full
  you are unable to
  -case sensitivity
  -when "i"
    =realm.lose
  -when "e"
    =realm.gain
  and you
  -case index
  -when 0
    always
  -when 1
    usually
  -when 2
    rarely
  -when 3
    never
  know what you need to do if you
  have
  to
  =sensitivity == "i" ? "accumulate" : "get rid of"
  =realm.energy.period
%h3
  The Maxim
  -case index
  -when 0,1
    you follow
  -when 2,3
    you need to follow
%p.heading
  -case sensitivity
  -when "i"
    stop trying to
    =realm.lose
  -when "e"
    start
    =realm.lose.ing
  and
  -case sensitivity
  -when "i"
    start
    =realm.gain2.ing
    =realm.strong_resources
  -when "e"
    try to
    =realm.gain2
    =realm.energetic_resources.fewer
  until you feel
  -case sensitivity
  -when "i"
    =realm.full
  -when "e"
    =realm.empty
  again
