h3=s.flip.goal
p
  |> Your nature is to
  =s.do_something
  |> . You learned to balance that by
  =s.flip.timed_action.ing
  | .
p
  |> As you were learning to
  =s.flip.do_something
  |> , you enhanced it by
  =s.opposite.do_something.ing
  |> . You have little to no interest in
  =s.opposite.goal.ing
  |> ; but you will
  =s.opposite.execute
  em<> some
  =s.adjective
  |<>
  =s.opposite.something
  |<> while
  =s.flip.attitude.goal.ing
  |<>
  =s.flip.what.last_word.them
  |> . You learned to balance that by
  =s.flop.timed_action.ing
  | .
