%h2 When Manic
%p.heading Your psyche thinks there’s an emergency.
%p.heading Get rid of the emergency and you will be able to sleep.
%table.center.wide
  -subtypes.in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td
          =link_to subtype.name, type_path(subtype.path)
          %p.heading
            you are too
            =subtype.result
            %br
            =subtype.forget_your_role
            ="immediately".punctuate("!" * subtype.high)
%h2 When Depressed
%p.heading Your psyche doesn’t think there is an emergency.
%p.heading Find the emergency and you will be able to wake up.
%table.center.wide
  -subtypes.in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td
          =link_to subtype.name, type_path(subtype.path)
          %p.heading
            you are still too
            =subtype.result
            %br
            you cannot
            =subtype.nature
            ="yet".punctuate("!" * subtype.low)
