%p.heading
  -unless current_page? type_path(subtype.path)
    =link_to subtype.name_with_mbti, type_path(subtype.path)
  %br
  =subtype.result
%p=render subtype.attitude.path, :realm => subtype.realm
