%h2=subtype.name
%p.heading=render "short", subtype: subtype
%p
  I usually try not to
  =subtype.left? ? subtype.consume : subtype.produce
  too
  =subtype.top? ? "much." : "little."
  Except when I am cutting off my nose and
  =subtype.left? ? subtype.consume.ing : subtype.produce.ing
  =subtype.top? ? "more" : "less"
  than is good for me just to spite my face (usually triggered by officious prigs who are trying to shame me into
  =subtype.left? ? subtype.consume.ing : subtype.produce.ing
  =subtype.top? ? "less." : "more."
  Just as if they thought I didn’t already
  %em know
  I should
  =subtype.left? ? subtype.consume : subtype.produce
  =subtype.top? ? "less!)." : "more!)."
  Or when I am
  =subtype.backslash? ? "depressed" : "manic"
  and just cannot
  =subtype.top? ? "stop" : "keep"
  =subtype.left? ? subtype.consume.ing : subtype.produce.ing
  no matter how hard I try.
%ol.left=(render subtype.ordinal, subtype: subtype)
