=b.episode
p.left When they feel guilty, when they feel like they aren’t doing what they “should” be doing, especially if they think that they “should” be #{b.flop.goal.ing}, they will often #{b.opposite.goal} even though they do not feel #{b.adverb} #{b.opposite.bad}.
p.left However, they can, and <em>will</em>, #{b.goal} when they feel #{b.bad}, even in the #{b.bottom? ? 'heights' : 'depths'} of #{b.opposite.bipolar}.
