%ul
  %li
    Don’t
    =subtype.should
    =subtype.should_action.ing.comma
    just
    =subtype.alternative
    =subtype.alternative_action.ing.punctuate
  %li
    You
    =subtype.strong
    to
    =subtype.action.punctuate
    You only
    =subtype.weak
    to
    =subtype.reaction.punctuate
  %li
    It’s crazy to
    =subtype.should
    doing something you
    =subtype.strong
    just to
    =subtype.alternative_opposite
    something you only
    =subtype.weak.punctuate
  %li
    Yes, you want to
    =subtype.action
    =subtype.delta
    than
    %em average,
    but you are also willing to
    %em=subtype.reaction
    =subtype.delta
    than average.
  %li
    The
    =subtype.more_or_less
    you
    =subtype.reaction.comma
    the
    =subtype.more_or_less
    you
    =subtype.can_or_must
    =subtype.action.punctuate
  %li
    So
    =subtype.alternative
    =subtype.reaction.ing.punctuate
-unless current_page? type_path(subtype.path)
  %p.heading=link_to subtype.name, type_path(subtype.path)
