%p.heading
  I
  =subtype.energetic_verb_prefix
  =subtype.produce("many")
  =subtype.strong_verb_prefix
  =subtype.effect.period
-unless @answer
  %p.center
    I am
    =subtype.energetic_adjective_prefix
    =subtype.adverb
    energetic
    =subtype.strong_adjective_prefix
    strong.
    %br
    I
    =subtype.energetic_verb_prefix
    =subtype.consume
    =subtype.consume_helper
    a lot of
    =subtype.energizers
    =subtype.strong_noun_prefix
    strong
    =subtype.strengths.period
-if @full
  %p
    Being able to
    =subtype.produce_verb
    lots of
    =subtype.produce_nouns
    is nature. You
    =subtype.energetic? ? "can" : "will never be able to"
    =subtype.act
    for a long time, because you
    =subtype.energetic? ? "can" : "can’t"
    =subtype.consume
    =subtype.consume_helper
    as
    =subtype.energizers.many_phrase
    as you need whenever you feel
    =subtype.empty.period
  %p
    Being able to
    =subtype.achieve
    lots of
    =subtype.effects
    is nurture. You
    =subtype.strong? ? "can" : "can’t"
    =subtype.act
    well, because you
    =subtype.strong? ? "were" : "were not"
    encouraged to
    %em keep
    =subtype.act.ing
    when you felt
    =subtype.worn_out
    —
    =subtype.strong? ? "no one" : "someone"
    else stepped in to
    =subtype.achieve
    the
    =subtype.difficult.er
    =subtype.effects
    for you —
    and so you
    =subtype.strong? ? "did" : "did not"
    develop strong
    =subtype.strengths.period
-unless @answer
  -if [Attitude, Realm, Quad].include? @object.class
    %p.center=link_to subtype.name, type_path(subtype.path)
  -elsif @object
    %p=link_to "BipolarTypes starting with this subtype", discover_path(subtype.discover_path)
