%table.center
  -subtypes.each do |subtype|
    %tr
      %td=render "normal/subtype", :subtype => subtype
      %td=render "manic/subtype", :subtype => subtype
      %td=render "depressed/subtype", :subtype => subtype
