-unless @answer
  -if [Attitude, Realm, Quad].include? @object.class
    %h2{:id => subtype.path}=subtype.name
%p.heading
  I am
  ="not" unless subtype.energetic?
  always willing to
  =subtype.consume_with
  =subtype.resources.period
  %br
  I
  ="don’t" unless subtype.strong?
  always want to
  =subtype.produce.period
-unless @answer
  %p
    Being
    =subtype.long_name.an_phrase
    is
    =subtype.balanced? ? "a balanced" : "an unbalanced"
    attitude.
  =render(subtype.attitude.domain, :subtype=>subtype)
%p
  =link_to "BipolarTypes with this subtype", discover_path(subtype.discover_path)