-unless @answer
  -if [Attitude, Realm, Quad].include? @object.class
    %h3=subtype.name
%p.heading
  I am
  =subtype.energetic? ? "almost" : "not"
  always willing to
  =subtype.consume
  =subtype.consume_helper
  =subtype.resources.period
  %br
  I
  =subtype.strong? ? "almost" : "don’t"
  always want to
  =subtype.produce.period
=render(subtype.attitude.domain, :subtype=>subtype) unless @answer
-if [Subtype, Attitude, Realm].include? @object.class
  %p
    =link_to "Discover BipolarTypes with this subtype", discover_path(subtype.discover_path)
