%h2 Advice
%table.center.narrow
  -subtypes.in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td
          =link_to subtype.name, type_path(subtype.path)
          %p.heading=subtype.advice.punctuate("!")
%h2 Self Image
%table.center.wide
  -subtypes.in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td
          =link_to subtype.name, type_path(subtype.path)
          =render "description", :object => subtype
%h2 Nature
%table.center
  -subtypes.in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td
          =link_to subtype.name, type_path(subtype.path)
          %p=render ["abnormal",subtype.attitude.path].join('/'), :realm => subtype.realm
%h2 Discussion
%table.center
  -subtypes.in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td
          =link_to subtype.name, type_path(subtype.path)
          %p.heading
            But I cannot
            =subtype.advice.punctuate("!")
          %p=render ["response",subtype.attitude.path].join('/'), :subtype => subtype
