h3 id=a =[s.goal, s.flip.goal].and
ul
  li #{s.jungian.capitalize}: #{s.behavior.timed_goal} (#{s.do_something}: #{s.advice(number)})
  li Balance: #{s.flip.timed_goal} (#{s.flip.do_something}: #{s.flip.advice(number)})
