%p
  You like to
  =subtype.top? ? subtype.use : subtype.consume
  =subtype.energy
%p
  During
  =subtype.top? ? "mania," : "depression,"
  you will
  =subtype.easy
  =subtype.top? ? "needed" : "unneeded"
  =subtype.potential
%p.left
  You cannot stem the
  =subtype.top? ? "loss" : "accumulation"
  of
  =subtype.potential
  by
  =subtype.backslash? ? subtype.use.ing : subtype.consume.ing
  =subtype.left? ? subtype.energy.fewer_phrase : subtype.energy.more_phrase
  because you will just
  =subtype.backslash? ? subtype.consume : subtype.use
  =subtype.left? ? subtype.energy.fewer_phrase.comma : subtype.energy.more_phrase.comma
  but you
  %em can
  =subtype.backslash? ? subtype.consume : subtype.use
  =subtype.left? ? subtype.energy.more_phrase : subtype.energy.fewer_phrase
  without
  =subtype.backslash? ? subtype.use.ing : subtype.consume.ing
  =subtype.left? ? subtype.energy.more_phrase : subtype.energy.fewer_phrase
%p.left
  If you want to
  %em=subtype.hard
  =subtype.top? ? "needed" : "unneeded"
  =subtype.potential
  you will have to wait until you are
  =subtype.top? ? "depressed" : "manic"
  and will be able to
  =subtype.backslash? ? subtype.use : subtype.consume
  =subtype.left? ? subtype.energy.fewer_phrase : subtype.energy.more_phrase
  without
  =subtype.backslash? ? subtype.consume.ing : subtype.use.ing
  =subtype.left? ? subtype.energy.fewer_phrase : subtype.energy.more_phrase
%p
  =subtype.backslash? ? subtype.consume.ing.capitalize : subtype.use.ing.capitalize
  =subtype.left? ? subtype.energy.more_phrase : subtype.energy.fewer_phrase
  is always safe
