%p.center
  -if @answer
    -if @answer.css(subtype) == "free"
      =link_to subtype.name, discover_path(@answer.next(subtype))
    -else
      =subtype.name
  -else
    =link_to subtype.name, discover_path(Answer.first.next(subtype))
%p=render subtype.attitude.ordinal, realm: subtype.realm
-unless @answer
  %hr.half
  =render "advice", subtype: subtype
-if @quad
  =link_to_unless_current subtype.realm.name, type_path(subtype.realm.path)
  |
  =link_to_unless_current subtype.attitude.name, type_path(subtype.attitude.path)
