%p.heading
  short
-unless @answer
  medium
-if @bipolar
  =render subtype.ordinal, :realm => subtype.realm
-unless @answer
  -if [Subtype, Attitude, Realm].include? @object.class
    %p.heading=link_to "BipolarTypes starting with this subtype", discover_path(subtype.discover_path)
  -else
    %h3=link_to subtype.name, type_path(subtype.path)
