h3=s.flip.goal
p
  |> Your nature is to
  =s.behavior.goal
  |> . You balance that by
  =s.flip.timed_action.ing
  |<> in order to
  =s.flip.goal.period
p
  |> You have little to no interest in
  =s.opposite.goal.ing
  |<> but you will often
  =s.opposite.do_something
  |<> while
  =s.flip.goal.words.first.ing
  |<>
  =s.flip.goal.words.last.them
  |> . You balance that by
  =s.flop.timed_action.ing.period
