%h2=subtype.short
%p.left
  Don’t feel guilty about 
  =subtype.bad_behave.ing
  when you are 
  =subtype.bad_episoding + "."
  It’s not a lack of willpower, it’s the 
  =subtype.bad_episode + "."
  You are not going to be able to 
  =subtype.desired
  =subtype.behave.ing
  without 
  =subtype.drugs
  so 
  =subtype.advice + "."
%p.left
  Don’t wait until you are 
  =subtype.good_episoding
  before you 
  =subtype.alt_behave
  =subtype.alt_amount + "."
  You can
  =subtype.alt_behave
  =subtype.alt_amount 
  without 
  =subtype.drugs + "."
  =subtype.alt_behave.ing.capitalize
  =subtype.alt_amount
  when you are 
  =subtype.bad_episoding
  will slow the 
  =subtype.bad_change
  of 
  =subtype.potential
  and 
  =subtype.alt_behave.ing
  =subtype.alt_amount  
  when you are 
  =subtype.good_episoding
  will speed the 
  =subtype.good_change
  of 
  =subtype.potential.period
