%h2=subtype.name unless @answer
%p.heading
  I
  =subtype.top? ? "love" : "like"
  to
  =subtype.left? ? subtype.consume.period : subtype.produce.period
  %br
  I
  =subtype.top? ? "don’t like" : "hate"
  to
  =subtype.left? ? subtype.produce.period : subtype.consume.period
  %br
  I tend to
  =subtype.left? ? "accumulate unwanted" : "run out of wanted"
  =subtype.energy.period
-unless @answer
  %p
    You will be
    %em happier
    if you
    =subtype.top? ? "keep" : "stop"
    =subtype.diagonal? ? subtype.produce.ing : subtype.consume.ing
    =subtype.top? ? "after" : "before"
    you feel
    =subtype.diagonal? ? subtype.worn_out : subtype.overwhelmed
    even if it seems more “reasonable” to
    =subtype.top? ? "stop" : "keep"
    =subtype.diagonal? ? subtype.consume.ing : subtype.produce.ing
    =subtype.top? ? "before" : "after"
    you feel
    =subtype.diagonal? ? subtype.overwhelmed.period : subtype.worn_out.period
  %p
    If you must
    =subtype.top? ? "stop" : "keep"
    =subtype.left? ? subtype.consume.ing : subtype.produce.ing
    in order to appear “reasonable” you may find
    =subtype.neuro_drugs
    helpful:
    they will
    =subtype.top? ? "make you feel" : "keep you from feeling"
    =subtype.overwhelmed
    =subtype.top? ? "sooner" : "as soon"
    and you
    =subtype.top? ? "won’t" : "will"
    be able to
    =subtype.consume
    =subtype.top? ? "as much." : "more."
