%ul
  -%w{hate dislike}.each do |attitude|
    %li
      =attitude + "s"
      =subtype.send("#{attitude}d_behavior").ing
%ul
  -%w{like love}.each do |attitude|
    %li
      =attitude + "s"
      =subtype.send("#{attitude}d_behavior").ing
