p #{b.link}s will always #{b.react} as soon as they start to feel #{b.adverb} #{b.bad} and will have #{b.goal.en} <em>long</em> before they feel #{b.adverb} #{b.worse}.
p It is very difficult to force an #{b.link} to #{b.flop.react} #{b.adverb} as it conflicts with their desire to #{b.react}. It is easier to subvert their need to #{b.flip.goal} into a desire to #{b.opposite.react} #{b.flip.what.last_word.them} even when they are #{b.flip.bad} and not #{b.opposite.bad}.