-unless @answer
  %h2
    =subtype.name
=render "sensitivity", sensitivity: subtype.sensitivity, realm: subtype.realm
=render "tendency", tendency: subtype.tendency, realm: subtype.realm
-unless @answer
  %p
    You will be
    %em happier
    if you
    =subtype.top? ? "keep" : "stop"
    =subtype.diagonal? ? subtype.produce.ing : subtype.consume.ing
    =subtype.top? ? "after" : "before"
    you are
    =subtype.diagonal? ? subtype.worn_out : subtype.overwhelmed
    even if it seems more
    %em reasonable
    to
    =subtype.top? ? "stop" : "keep"
    =subtype.diagonal? ? subtype.consume.ing : subtype.produce.ing
    =subtype.top? ? "before" : "after"
    you are
    =subtype.diagonal? ? subtype.overwhelmed.period : subtype.worn_out.period
