-unless @answer
  -if [Attitude, Realm, Quad].include? @object.class
    %h3=subtype.name
%p.heading
  I had
  =subtype.insensitive? ? "a lot of" : "very #{subtype.potential_energy.few}"
  =subtype.potential_energy
  as a child;
  I
  =subtype.consumer? ? "gained" : "lost"
  =subtype.how_much_of
  =subtype.potential_energy.them
  as a young adult.
-unless @answer
  %p.center
    =subtype.sensitivity.capitalize
    to
    =subtype.energetic_resources.period
-unless @bipolar || @answer
  %p.center=link_to subtype.name, type_path(subtype.path)
-if @bipolar
  =render subtype.domainer, :subtype => subtype
-if [Subtype, Attitude, Realm].include? @object.class
  %p
    =link_to "BipolarTypes starting with this subtype", discover_path(subtype.discover_path)
