%p
  You
  =subtype.consume
  and
  =subtype.use
  =subtype.left? ? "a lot of #{subtype.energy}" : subtype.energy.few_phrase
%h3 Balance
%p
  You want to
  =subtype.top? ? subtype.use : subtype.consume
  =subtype.energy
%p
  You don’t mind
  =subtype.top? ? subtype.consume.ing : subtype.use.ing
  =subtype.energy
%p.no_bottom
  When you
  =subtype.consume
  =subtype.top? ? subtype.energy.fewer_phrase : subtype.energy.more_phrase
  you automatically
  =subtype.use
  =subtype.top? ? subtype.energy.fewer_phrase : subtype.energy.more_phrase
%h3 Imbalance
%p.no_bottom
  If you are
  %em=subtype.top? ? "manic," : "depressed,"
  instead of
  =subtype.use.ing
  =subtype.top? ? subtype.energy.fewer_phrase : subtype.energy.more_phrase
  you will
  =subtype.top? ? "lose" : "gain"
  =subtype.potential
%p
  You cannot stem the
  =subtype.top? ? "loss" : "gain"
  of
  =subtype.potential
  by trying to
  =subtype.backslash? ? subtype.use : subtype.consume
  =subtype.left? ? subtype.energy.fewer_phrase : subtype.energy.more_phrase
  because you will merely
  =subtype.backslash? ? subtype.consume : subtype.use
  even
  =subtype.left? ? subtype.energy.fewer_phrase : subtype.energy.more_phrase
  and
  =subtype.top? ? "lose" : "gain"
  even more
  =subtype.potential
%p
  You can, however, try to
  =subtype.backslash? ? subtype.consume : subtype.use
  =subtype.left? ? subtype.energy.more_phrase : subtype.energy.fewer_phrase
%p
  If you want to
  %em=subtype.top? ? "gain" : "lose"
  =subtype.potential
  you will have to wait until you are
  =subtype.top? ? "depressed" : "manic"
  and can
  =subtype.backslash? ? subtype.use : subtype.consume
  =subtype.left? ? subtype.energy.fewer_phrase : subtype.energy.more_phrase
  without
  =subtype.backslash? ? subtype.consume.ing : subtype.use.ing
  =subtype.left? ? subtype.energy.fewer_phrase : subtype.energy.more_phrase

