%h2=subtype.name unless @answer
%p.heading
  I would rather
  =subtype.left? ? subtype.consume : subtype.produce
  than
  =subtype.left? ? subtype.produce : subtype.consume
  and tend to
  =subtype.left? ? "accumulate unwanted" : "run out of"
  =subtype.energy.period
  %br
  I
  =subtype.top? ? "can" : "can’t"
  =subtype.consume
  when I feel
  =subtype.overwhelmed
  without
  =subtype.reject.ing.period
-unless @answer
  %p
    You will be
    %em happier
    if you
    =subtype.top? ? "keep" : "stop"
    =subtype.diagonal? ? subtype.produce.ing : subtype.consume.ing
    =subtype.top? ? "after" : "before"
    you are
    =subtype.diagonal? ? subtype.worn_out : subtype.overwhelmed
    even if it seems more
    %em reasonable
    to
    =subtype.top? ? "stop" : "keep"
    =subtype.diagonal? ? subtype.consume.ing : subtype.produce.ing
    =subtype.top? ? "before" : "after"
    you are
    =subtype.diagonal? ? subtype.overwhelmed.period : subtype.worn_out.period
