%table.center.half
  -subtypes.in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td
          =link_to subtype.name_with_mbti, type_path(subtype.path)
          %p.heading=subtype.advice
          %p=render ["abnormal",subtype.attitude.path].join('/'), :realm => subtype.realm
