%p.heading
  =subtype.verb.capitalize.punctuate("!")
  =subtype.alt_verb.capitalize
  now!
%p
  Raised in an environment in which opportunities to
  =subtype.verb
  were few and far between, you were nurtured to take advantage of those opportunities whenever they presented themselves.
%p
  If your environment changes, and opportunities to
  =subtype.verb
  become abundant, you will become
  =subtype.state
  and you will need to
  =subtype.sequence.second.verb
  =subtype.sequence.second.alt.parenthetical
  more often to remain in balance.
%p
  If you
  =subtype.sequence.second.verb
  more often, you will inevitably
  =subtype.sequence.third.verb
  =subtype.sequence.third.alt.parenthetical
  more often as well, as they almost always go together, and you will become
  =subtype.sequence.third.state.punctuate
%p
  When you
  =subtype.sequence.third.verb
  more often, you will need to
  =subtype.sequence.fourth.verb
  =subtype.sequence.fourth.alt.parenthetical
  more also. Luckily, if opportunities to
  =subtype.verb
  have become more abundant, opportunities to
  =subtype.sequence.fourth.verb
  will also be more abundant, as they almost always go together.

