%table
  %caption=realm.name
  %tr
    =render "td", subtype: realm + Attitude.first
    =render "td", subtype: realm + Attitude.second
  %tr
    =render "td", subtype: realm + Attitude.third
    =render "td", subtype: realm + Attitude.fourth
