%table
  %tr
    %td.top.half
      %h2=link_to_unless controller.controller_name == "answers",  Attitude.ep.name, attitude_path("ep")
      =render "td", attitude: Attitude.ep
    %td.top.half
      %h2=link_to_unless controller.controller_name == "answers",  Attitude.ej.name, attitude_path("ej")
      =render "td", attitude: Attitude.ej
  %tr
    %td.top
      %h2=link_to_unless controller.controller_name == "answers",  Attitude.ip.name, attitude_path("ip")
      =render "td", attitude: Attitude.ip
    %td.top
      %h2=link_to_unless controller.controller_name == "answers",  Attitude.ij.name, attitude_path("ij")
      =render "td", attitude: Attitude.ij
