%table
  %tr
    %td stop leading
    %td=render "td"
    %td stop following
  %tr
    %td=render "td"
    %td
    %td=render "td"
  %tr
    %td start leading
    %td=render "td"
    %td start following

