%table{class: @class}
  %tr
    %th=type.first_realm.symbol
    %th=Position.second.symbol
    %th=type.second_realm.symbol
  %tr
    %th=Position.first.symbol
    %th
      -if @index
        =type.index + 1
      -elsif @omit.blank?
        🔁
    %th=Position.third.symbol
  %tr
    %th=type.fourth_realm.symbol
    %th=Position.fourth.symbol
    %th=type.third_realm.symbol
