%table
  %tr
    %td.top.half
      =render "td", attitude: Attitude.ul
    %td.top.half
      =render "td", attitude: Attitude.ur
  %tr
    %td.top
      =render "td", attitude: Attitude.ll
    %td.top
      =render "td", attitude: Attitude.lr
