%table
  %tr
    %td
      fill up on energy and explode;
      assertive use of
      =render "td"
      to achieve important goals
    %td use energy (J)
    %td
      manic waste of
      =render "td"
      to splurge on unimportant goals
  %tr
    %td E (fat)
    %td.none
    %td I (thin)
  %tr
    %td
      depressed acceptance of unhealthy resources to binge on
      =render "td"
    %td get energy (P)
    %td
      run out of energy and crash;
      receptive acceptance of healthy resources to get
      =render "td"
