%table{class: @class}
  %tr
    %th=Position.first.symbol
    %th=Position.second.symbol
    %th=Position.third.symbol
    %th=Position.fourth.symbol
  %tr
    %th=type.first_realm.symbol
    %th=type.second_realm.symbol
    %th=type.third_realm.symbol
    %th=type.fourth_realm.symbol
