%table
  %tr
    %td
      %p.heading use more (or get less) later
      =render "td", attitude: Attitude.ep
    %td
      Active:
      %br
      <= use energy now =>
    %td
      %p.heading get more (or use less) later
      =render "td", attitude: Attitude.ej
  %tr
    %td
      Manic (energized):
      %br
      losing reserves
    %td
      Centered:
      %br
      stable reserves
    %td
      Depressed (sedated):
      %br
      gaining reserves
  %tr
    %td
      %p.heading use more (or get less) later
      =render "td", attitude: Attitude.ip
    %td
      Receptive:
      %br
      <= get energy now =>
    %td
      %p.heading get more (or use less) later
      =render "td", attitude: Attitude.ij
