%table
  %tr
    %th.narrow
    %th Now
    %th Later
  %tr
    %th Surplus (abundant energy)
    %td.top
      =render "td", attitude: Attitude.ul
    %td.top
      =render "td", attitude: Attitude.ur
  %tr
    %th Deficit (scarce energy)
    %td.top
      =render "td", attitude: Attitude.ll
    %td.top
      =render "td", attitude: Attitude.lr
