%table
  %tr
    %td
      %h3 Auxiliary Happiness
      %p.heading could be more receptive if using energy was less painful
      =render "td", attitude: Attitude.ej
    %td
      %h3 Dominant Productivity
      %p.heading effective but also enjoys getting energy
      =render "td", attitude: Attitude.ep
  %tr
    %td
      accept things and be happy
      %br
      (receptive)
    %td
      change things and be productive
      %br
      (effective)
  %tr
    %td
      %h3 Dominant Happiness
      %p.heading receptive but also enjoys using energy
      =render "td", attitude: Attitude.ip
    %td
      %h3 Auxiliary Productivity
      %p.heading could be more effective if getting energy was less painful
      =render "td", attitude: Attitude.ij
