-subtype = @type.send(attitude.symbol) if @type
-subtype = @realm + attitude if @realm
%h3=link_to subtype.name, subtype_path(subtype.path)
%p
  Sometimes I feel compelled to
  =render "compulsion", subtype: subtype
