1. x.replace (it’s a *lot* more fun than using credit, even if using credit is 'easier') more cash
2. x.balance (makes using credit when you have to less painful) more invest
3. more 2 => x.balance == x.op.replace (less wages. fine. didn't really want to earn anyway)
4. more 1 => less x. inevitable if you use more x.replace (less borrow)
