%p.heading
  I go out to
  =realm.consume
  =realm.resources
  and
  =realm.purge.period
  I prefer
  =realm.nontriggers
  and
  =realm.alt_nontriggers.period
-if @full
  %p
    If you want to stop
    =realm.reject.ing
    then you will have to
    =realm.consume
    as
    =realm.triggers.few_phrase
    and
    =realm.alt_triggers
    as possible since you’re never going to stay home and
    =realm.putz.period
  %p
    If you want to get rid of some of your unwanted
    =realm.potentials
    then force yourself to stay home to
    =realm.purge
    by stocking your
    =realm.home
    with a little of everything:
    =realm.nontriggers
    for when you're depressed and
    =realm.weak
    and
    =realm.triggers
    for when you’re manic
    and
    =realm.empty.period
