%p
  Being thin (sensitive and dominant)
  is an unbalanced state. You will
  never have enough wanted and needed
  =subtype.potential.period
%p
  Most of your focus has been on trying to change your nature (with or without the use of
  sedatives)
  so you will be
  %em able
  to
  =subtype.consume
  more
  so you can become
  =subtype.wannabee.name.period
%p
  BipolarType asserts that your goal should be to try to change your nurture to
  =subtype.goal.name
  by encouraging yourself to
  =subtype.produce
  less.
%ul.left
  %li
    stop
    =subtype.produce.ing
    before you feel
    =subtype.empty
    or are
    =subtype.worn_out
  %li
    allow all but your core
    =subtype.strengths
    to atrophy
  %li
    buffer the
    =subtype.energizers
    you do
    =subtype.consume
    =subtype.consume_helper
    with more
    =subtype.buffers
