you must stop
=realm.produce.ing
%br
as soon as you feel
=realm.worn_out
%br
then you won’t develop such big
=realm.strengths
%br
then you won’t have to
=realm.consume
as much when you are manic
%br
and you won’t
=realm.reject
