%p
  As a child, you were never
  =subtype.provide.en
  with more
  =subtype.energizers
  than you wanted.
%p
  As an adult, you didn’t know how to avoid
  =subtype.energizers
  that were
  =subtype.provide.en
  =subtype.provide_helper
  you after you felt overwhelmed.
  Since you were
  =subtype.consume.ing
  more, but not
  =subtype.produce.ing
  more, you gained
  =subtype.potentials.period
