%p.heading
  I
  =realm.purge
  when I have to. 
-unless @answer
  %p.heading
    I always have
    =realm.potentials
    in my
    =realm.body
    and rarely have
    =realm.resources
    in my
    =realm.home.period
-if @full
  %p
    You may be too
    =Attitude.third.domain_adjective
    to ever be able to stop
    =realm.purge.ing
    and just
    =realm.putz.comma
    but if you want to stop
    =realm.reject.ing
    then you will have to
    =realm.consume
    as
    =realm.triggers.few_phrase
    and 
    =realm.alt_triggers
    as possible.
  %p
    You may not be able to stay home whenever you are 
    =realm.empty.comma
    but you can keep as
    =realm.resources.many_phrase
    as possible in your 
    =realm.home.colon
    lots of
    =realm.nontriggers
    and
    =realm.alt_nontriggers
    for when you're depressed and feeling 
    =realm.empty
    and
    =realm.weak.comma
    and a
    =realm.triggers.few_phrase
    and
    =realm.alt_triggers
    for when you're manic and need to
    =realm.purge
    =realm.something.period
  %p
    You have plenty of
    =realm.potentials
    in your
    =realm.body.comma
    you can stay home and
    =realm.purge
    for a while before you have to go out and get unfamiliar
    =realm.resources
    that may make you
    =realm.reject.period
    