%p
  You have always had too
  =subtype.potential.few
  wanted and needed
  =subtype.potential.colon
  you feel guilty if you
  =subtype.produce_with
  fewer
  things and your nature will not allow you to
  =subtype.consume
  more.
%p
  Most of your focus has been on trying to change your nature (with or without the use of
  sedatives)
  so you will be
  %em able
  to
  =subtype.consume
  more
  so you can become
  =subtype.wannabee.name.period
%p
  BipolarType asserts that your goal should be to try to change your nurture to
  =subtype.goal.name
  by encouraging yourself to
  =subtype.produce
  less
  and
  =subtype.produce_with
  fewer
  things. You will feel less guilty if you can convince yourself that you may strain your core
  =subtype.strengths
  if you keep
  =subtype.produce.ing
  when you are
  =subtype.worn_out.comma
  rather than focusing on the fact that you still have a
  =subtype.potential.few_phrase
  left.
%ul.left
  %li
    do not
    =subtype.produce_with
    unnecessary things,
    especially
    when you are
    =subtype.worn_out
    (if you
    =subtype.produce
    less, your
    =subtype.strengths
    will atrophy)
  %li
    stop
    =subtype.produce.ing
    before
    you feel
    =subtype.empty
    so you won’t use up your critical
    =subtype.potential
  %li
    =subtype.consume_with
    more
    =subtype.buffers
    and you’ll be able to
    =subtype.consume
    longer
