%p
  Being
  =subtype.domain
  is an unbalanced state. You never have enough wanted and needed
  =subtype.potential.period
%p
  Most of your focus has been on trying to change your nature to
  =subtype.wannabee.name
  by
  =subtype.consume.ing
  more.
%p
  BipolarType asserts that your goal should be to try to change your nurture to
  =subtype.goal.name
  by
  =subtype.produce.ing
  less.
%ul.left
  %li
    stop
    =subtype.produce.ing
    before you feel
    =subtype.empty
    or are
    =subtype.worn_out
  %li
    allow all but your core
    =subtype.strengths
    to atrophy
  %li
    buffer the
    =subtype.energizers
    you
    =subtype.consume
    =subtype.consume_helper
    with more
    =subtype.buffers
