-if @full
  %p
    You cannot
    =realm.get_triggered
    without feeling
    =realm.overwhelmed
    and you don’t want to
    =realm.reject.period
%p.center 
  Stop
  =realm.get_without.ing
  when you feel
  =realm.overwhelmed.colon
  you have plenty of
  =realm.kinetics.comma
  and you don’t want to start 
  =realm.reject.ing.period