-if @full
  %p
    You don't wait until you feel
    =realm.full
    before you start
    =realm.produce.ing.period 
%p.center 
  =realm.get_triggered.capitalize
  when you feel
  =realm.empty.colon
  you have enough
  =realm.strengths.comma
  what you need
  =realm.kinetics.are
  some
  =realm.kinetics.period