%p
  I
  %em cannot
  =realm.get
  (get #{realm.energy})
  when I am manic.
%p
  That means I must
  %em=realm.use
  as little as possible in order to
  %em not use
  the #{realm.energy} I don’t get.
%p
  And if I want to
  %em gain
  #{realm.reserves}, I’ll have to
  =realm.get
  when I am
  %em depressed
  (e.g. after noon).
