h4 id=a #{s.bipolar} problem
p
  |> If you have been condutioned to
  =s.opposite.goal
  | , you will notice that you are no longer
  =s.opposite.timed_action.ing
  |<> when. So you
  =s.flop.do_something
  |<>
  =s.opposite.time
  |> .
  =s.flop.do_something.too_much.ing.capitalize
  |<> displaces your natural instinct to
  =s.timed_action
  |> , removing a source of pleasure from your life and making it harder to
  =s.flip.timed_action
  |<> and
  =s.flip.goal
  |> . Which makes it even easier for authority figures, peer pressure, or social norms to convince you to
  =s.opposite.attitude.goal
  |<>
  =s.opposite.what.last_word.them
  | .
