h4 The vicious cycle
p
  |> If you <em>are</em> forced to
  =s.opposite.timed_action
  |<> for a long time, you may forget that you never wanted to
  =s.opposite.goal
  |<> in the first place. Then, when the circumstances forcing you to do so are removed, you notice that you are
  em<> not
  =s.opposite.timed_action.ing
  |<> and you assume that it is because you haven't
  em=s.flop.execute.en
  |<> enough
  =s.flop.something
  |> . So you start
  =s.flop.do_something.ing
  em<=s.opposite.time
  |> , and cannot stop.
p
  =s.flop.do_something.ing.capitalize
  em<> balances
  =s.opposite.do_something.ing
  |> , it doesn’t <em>cause</em> it.
p
  |> And
  =s.flop.do_something.too_much.ing
  |<> may displace your natural instinct to
  =s.timed_action
  |> , removing a source of pleasure from your life and making it harder to
  =s.flip.timed_action
  |<> and
  =s.flip.goal
  |> . Which makes it even easier for authority figures, peer pressure, or social norms to convince you to
  =s.opposite.attitude.goal
  |<>
  =s.opposite.what.last_word.them
  | .
