h4 The vicious cycle
p
  |> If you have to
  =s.opposite.goal
  |<> for a long time, when you no longer need to you will notice that you are
  em<> not
  =s.opposite.do_something.ing
  |> , even though it is
  =s.opposite.season
  |> . So you
  =s.flop.do_something
  |> .
  |> And
  =s.flop.do_something.too_much.ing
  |<> displaces your natural instinct to
  =s.timed_action
  |> , removing a source of pleasure from your life and making it harder to
  =s.flip.timed_action
  |<> and
  =s.flip.goal
  |> . Which makes it even easier for authority figures, peer pressure, or social norms to convince you to
  =s.opposite.attitude.goal
  |<>
  =s.opposite.what.last_word.them
  | .
