h4 The virtuous cycle
p
  |> Try not to
  =s.opposite.timed_action
  |<> unless <em>you</em> want to
  =s.opposite.goal
  |> . Then you will be able to
  =s.timed_action
  |<> instead of
  =s.flop.timed_action.ing
  |<> and
  em=s.opposite.time
  |> . Which will make it easier to
  =s.flip.timed_action
  |> . Making it even easier to
  =s.timed_action
  |<> to
  =s.behavior.goal
  | .
