%p
  If you have too
  =subtype.potential.many_phrase.comma
  you can easily
  =subtype.consume
  =subtype.consume_helper
  =subtype.energizers.fewer_phrase.period
  If you have too
  =subtype.potential.few_phrase
  you can easily
  =subtype.produce_with
  fewer
  things.
%p
  You were nurtured to
  let others
  do all the
  =subtype.produce.ing.comma
  but if you want to
  =subtype.produce.comma
  =subtype.produce.colon
  you have the right to
  =subtype.produce_with
  something when you have too
  =subtype.kinetics.many_phrase.period
%p
  But if you don’t want to
  =subtype.produce.comma
  don’t
  =subtype.produce.colon
  you have the right to remain
  =subtype.unproductive
  when you don’t have the right
  =subtype.strengths.period
%ul.left
  %li
    if you are
    =subtype.worn_out.comma
    =subtype.consume
    =subtype.consume_helper
    more
    =subtype.strengtheners
  %li
    if you feel
    =subtype.empty.comma
    =subtype.consume
    =subtype.consume_helper
    more
    =subtype.buffers
  %li
    avoid excess
    =subtype.energizers.colon
    =subtype.energizers.they
    will make you
    =subtype.produce
    more than you want to and lose too
    =subtype.potential.many_phrase
