%p
  If you have too
  =subtype.potential.many_phrase.comma
  you can get rid of
  =subtype.potential.them
  by
  =subtype.consume.ing
  less.
  If you have too
  =subtype.potential.few_phrase
  you can just
  =subtype.produce_with
  fewer
  things.
%p
  You were nurtured to
  let others
  do all the
  =subtype.produce.ing.comma
  but if you want to
  =subtype.produce.comma
  =subtype.produce.colon
  you have the right to
  =subtype.produce_with
  something when you have too
  =subtype.kinetics.many_phrase
  =subtype.realm.domain.open_paren
  energy). You will feel less guilty if you
  =subtype.produce
  when you are alone.
%p
  But if you don’t want to
  =subtype.produce.comma
  don’t
  =subtype.produce.colon
  you have the right to remain
  =subtype.unproductive
  when you don’t have enough
  =subtype.strengths
  =subtype.realm.domain.open_paren
  strength).
%ul.left
  %li
    if you are
    =subtype.worn_out.comma
    =subtype.consume
    =subtype.consume_helper
    more
    =subtype.strengtheners
  %li
    if you feel
    =subtype.empty.comma
    =subtype.consume
    =subtype.consume_helper
    more
    =subtype.buffers
