%p
  Being
  =subtype.domain
  is a balanced state.
  You’re
  =subtype.domain.period
  Be
  =subtype.domain.period
%p
  It doesn’t mean you have to let others do all the
  =subtype.produce.ing.colon
  you have the right to
  =subtype.produce
  even if you don’t have something you
  %em must
  =subtype.produce_with.period
%p
  But if you don’t want to
  =subtype.produce.comma
  don’t
  =subtype.produce.colon
  you have the right to remain
  =subtype.unproductive.period
%ul.left
  %li
    if you are
    =subtype.worn_out.comma
    =subtype.consume
    =subtype.consume_helper
    more
    =subtype.strengtheners
  %li
    if you feel
    =subtype.empty.comma
    =subtype.consume
    =subtype.consume_helper
    more
    =subtype.buffers
  %li
    avoid unwanted
    =subtype.energizers
