%li
  If you need to lose unwanted or unneeded 
  =energy.potentials.comma
  you will have to wait until you are
  =energy.empty
  before you
  =energy.consume
  again.
  %ul
    %li
      if you can, ignore
      ==“#{energy.resource}-time”
      altogether and only 
      =energy.consume
      when you are
      =energy.empty
    %li
      also, if you
      =energy.produce
      more between
      =energy.resource.pluralize
      you will be 
      =energy.empty
      much sooner