p You will #{@action.action.more} at some times and less at others (Bipolar) but when you #{@action.action.too_much}, it will almost always be in the same realm (Type).

hr
p.center What is your #{@action.problem.est} realm?
dl
  -Realm.without(@realms).each do |realm|
    -behavior = realm + @action
    dt=link_to behavior, send(@action.next_path, (@breadcrumbs.join + realm.path))
    dd
      | I #{behavior.specific.too_much}
      /when I am #{@unhappy}
      |< (#{realm.realm} #{@action.problem.to_noun}).
/hr
/p
/  |> If
/  -case @breadcrumbs.count
/  -when 1, 2
/    | none of these
/  -when 3
/    | neither of these
/  -when 4
/    | this does not
/  |<> look right, you may not be an #{@breadcrumbs.join} as BipolarType defines it. /Try
/  -if @breadcrumbs.one?
/    -other_type = (@breadcrumbs.first == 'i' ? 'e' : 'i')
/    =link_to other_type, ip_path(other_type)
/    | .
/  -else
/    | a different answer for one of the breadcrumb links at the top of the page.
