- content_for(:title, Action.title)

%table
  %tr
    -Action.each do |action|
      %td=render 'cookie', thing: action

%table
  %caption
    %h2 8 Behaviors
  -Thing.each do |thing|
    %tr
      -Action.each do |action|
        %td=render 'cookie', thing: action + thing

