- content_for(:title, Action.title)

%p Verbs are words that, among other things, convey action.
%table
  %tr
    -Action.each do |action|
      %td=render 'cookie', thing: action

%table
  %caption
    %h2
      8 Behaviors
      .plain A focused action creates a behavior.
  -Focus.each do |focus|
    %tr
      -Action.each do |action|
        %td=render 'cookie', thing: action + focus

