- content_for(:title, Action.title)

%table
  %caption
    %h2 Actions
  %tr
    -Action.each do |action|
      %td=render 'cookie', thing: action

%table
  %caption
    %h2 Focused Actions
  -Focus.each do |focus|
    %tr
      -Action.each do |action|
        %td=render 'cookie', thing: action + focus

