-content_for(:title, @title)
.center
  -Attitude.each do |attitude|
    =link_to_unless (@answer.taken?(attitude) || @choice==attitude), attitude.name, answer_path(@answer.next(attitude))
    ='|' unless attitude == Attitude.fourth
  %br
  -Realm.each do |realm|
    =link_to_unless (@answer.taken?(realm) || @choice==realm), realm.name, answer_path(@answer.next(realm))
    ='|' unless realm == Realm.fourth

-unless @answer.first?
  .center=link_to 'Start Over', answer_path(Answer.first_path)

%table.equal
  -@answer.free_things.each do |thing|
    %tr
      -thing.subtypes.each do |subtype|

        %td.left.bottom=render 'problem', subtype: subtype
    %tr
      %th{colspan:2} &nbsp;


-if Rails.env.development?
  %hr
  =@answer.subtypes
  %br
  =@answer.realms.map(&:name)
  %br
  =@answer.attitudes.map(&:name)
