-content_for(:title, @title)

%h2=@title

%table
  %tr
    %th
    -Thing.each do |thing|
      %th
        =format_from_key thing.symbol
  %tr
    -Tendency.each do |tendency|
      %tr
        %th
          =format_from_key tendency.symbol
        -Thing.each do |thing|

          -subtype = thing + tendency
          %td
            -unless @answer.taken?(subtype)
              =link_to_unless @answer.taken?(subtype), format_from_key(subtype.symbol), answer_path(@answer.next(subtype.symbol))
              .left=render 'q', subtype: subtype


-if Rails.env.development?
  =@answer.taken
