-content_for(:title, @title)

%h2=@title

%table
  %tr
    %th
    -Realm.each do |realm|
      %th
        =display realm
  %tr
    -Attitude.each do |attitude|
      %tr
        %th
          =display(attitude)
        -Realm.each do |realm|

          -subtype = realm + attitude
          %td
            -unless @answer.taken?(subtype)
              =link_to_unless @answer.taken?(subtype), display(subtype), answer_path(@answer.next(subtype.symbol))

-if Rails.env.development?
  =@answer.taken
