%p.center
  Once you have
  %span.chosen chosen
  something, other choices will become
  %span.constrained unavailable.

%table.fixed
  %tr
    -Phase.each do |p|
      %th=p.name
  %tr
    -Phase.each do |p|
      %td=render 'choice', phase: p

-unless @answer.number == 1
  %p.center
    If you are stuck you can
    =link_to_unless_current "start over", answer_path(Answer.first_path)

