-content_for(:title, @title)

%table
  %caption
    %h2=@title

  %tr

    %td=render 'choice', attitude: Attitude.I

    %td=render 'choice', attitude: Attitude.J

  %tr

    %td=render 'choice', attitude: Attitude.P

    %td=render 'choice', attitude: Attitude.E

.center=render 'layouts/more'

-if Rails.env.development?
  =@answer.subtypes
