- content_for(:title, @title)
%h2=@title

-case @answer.number
  -when 1, 2
    -realm = @answer.number==1 ? Realm.s : Realm.t
    %table
      -Quadrant.all.in_groups_of(2) do |row|
        %tr
          -row.each do |quadrant|
            %td.four_border
              -behavior = quadrant + realm
              %h2=link_to_if @answer.free?(behavior), behavior.episode, answer_path(@answer.next(behavior.path))
              =render 'problem', behavior: behavior

  -when 3
    %table
      -@answer.pair.each do |pair|
        %tr
          %td{colspan: 2}
            %h2
              =link_to answer_path(@answer.next(pair.map(&:path).join)) do
                =pair.first.episode
                %br &
                =pair.second.episode
        %tr
          %td.four_border=render 'problem', behavior: pair.first
          %td.four_border=render 'problem', behavior: pair.second
