- content_for(:title, @title)
%h2=@title

-case @answer.number
  -when 1, 2
    -realm = @answer.number==1 ? Realm.s : Realm.t
    %table.none
      -Quadrant.all.in_groups_of(2) do |row|
        %tr
          -row.each do |quadrant|
            %td.bordered=render 'answer_link', behavior: quadrant + realm

  -when 3
    %table.none
      -@answer.pair.each_with_index do |set, row|
        %tr
          %td.top.none=render 'answer_link', behavior: set.first
          %td.none and&nbsp;&nbsp;
          %td.top.none=render 'answer_link', behavior: set.second
        -if row == 0
          %tr
            %td{colspan: 3} or
