-content_for(:title, "Question ##{@answer.number} of 4")

-if @answer.number == 1
  %p.center
    If you know your MBTI type, you can start
    =link_to "there", chart_path
    although it’s not a one-to-one conversion.

-unless @answer.number == 1
  %p.center
    If you are stuck you can
    =link_to_unless_current "start over", answer_path(Answer.first_path)

%table
  %caption
    Pick the one you are
    %em best
    at.
  %tr
    -@answer.generic_behavior.behaviors.each do |behavior|
      %td.top{class: @answer.css(behavior)}
        =link_to_if @answer.free?(behavior), behavior.name, answer_path(@answer.next(behavior))
        %p
          %div.left=render "behaviors/#{behavior.symbol}"

%p.heading=render "behaviors/improvements"
