-title = @quadrant.ordinal.capitalize + ' Imbalance'
- content_for(:title, title)
%h2=title

%p
  Your #{@quadrant.ordinal} imbalance arose
  -if @answer.number > 1
    (will arise)
  sometime during your #{@quadrant.age.downcase.to_noun} in the realm in which you are the least
  =@quadrant.flip.stressed.period
  The imbalance
  -if @answer.number < 4
    cleared up
    -if @answer.number > 1
      (will clear up)
    during #{@quadrant.next_phase.age.to_noun}, but
  reoccurs during #{@quadrant.episode}.

-@quadrant.behaviors.each do |behavior|
  %p
    =link_to_if @answer.free?(behavior), behavior.mbti, answer_path(@answer.next(behavior))
    %em=behavior.flip.targets
    are the least
    =behavior.flip.which

-if @answer.number > 2
  %p
    If you would rather choose something that is not available, you will have to
    =link_to 'go back', answer_path(Answer.first_path)
    and try again.
