-content_for(:title, @title)

%h2=@title

Which of the following is
-case @answer.number
-when '1'
  the most stressful?
-when '2'
  the most boring?
-when '3'
  more stressful?

%ul.none
  -@answer.free_things.each do |thing|
    %li
      =link_to thing.static, answer_path(@answer.next(thing.symbol))
      -case @answer.number
      -when '1'
        I worry most about being #{formatted thing.imbalances.first}
      -when '2'
        I worry most about being #{formatted thing.imbalances.second}
      -when '3'
        I worry more about being #{formatted thing.imbalances.first}



-if Rails.env.development?
  =@answer.taken
