- content_for(:title, @title)
%h2=@title

-case @answer.number
  -when 1, 2
    -realm = @answer.number==1 ? Realm.s : Realm.t
    %table
      %tr
        %td{class: Quadrant.ep.css}
          =render 'answer_link', behavior: Quadrant.ep + realm
        %td{class: Quadrant.ej.css}
          =render 'answer_link', behavior: Quadrant.ej + realm
      %tr
        %td{class: Quadrant.ip.css}
          =render 'answer_link', behavior: Quadrant.ip + realm
        %td{class: Quadrant.ij.css}
          =render 'answer_link', behavior: Quadrant.ij + realm

  -when 3
    %table
      -@answer.pair.each_with_index do |set, row|
        %tr
          -set.each_with_index do |behavior, column|
            %td.top{class: behavior.css}=render 'answer_link', behavior: behavior
            -if column == 0
              %td &
        -if row == 0
          %tr
            %td{colspan: 3} OR
