%p.center
  Once you have
  %span.chosen chosen
  something, other choices will become
  %span.constrained unavailable.

-unless @answer.number == 1
  %p.center
    If you are stuck you can
    =link_to_unless_current "start over", answer_path(Answer.first_path)

%table
  %tr
    -Realm.each do |realm|
      %th=realm.name
  -Position.each do |position|
    %tr
      -Realm.each do |realm|
        -subtype = Subtype.select(realm, position)
        %td
          %div{:class => @answer.css(subtype)}
          -if @answer.css(subtype) == "free"
            =subtype.symbol
            =subtype.adjective
            =subtype.surplus_or_deficit
            %br
            =link_to subtype.reason, answer_path(@answer.next(subtype))

          -else
            =subtype.solution
