- content_for(:title, @title)
%h2=@title
%h3 The #{@answer.realm.name} Realm

%table
  %tr
    %th{colspan:2} Mania
  %tr
    %td.bottom{class: 'cycleB'}
      -behavior = @answer.realm + Quadrant.ep
      %h3=behavior.long.capitalize
      %p.left=render 'answer_link', behavior: behavior

    %td.bottom{class: :cycleU}
      -behavior = @answer.realm + Quadrant.ej
      %h3=behavior.long.capitalize
      %p.left=render 'answer_link', behavior: behavior


  %tr
    %td.top{class: :cycleG}
      -behavior = @answer.realm + Quadrant.ip
      %h3=behavior.long.capitalize
      %p.left=render 'answer_link', behavior: behavior

    %td.top{class: :cycleR}
      -behavior = @answer.realm + Quadrant.ij
      %h3=behavior.long.capitalize
      %p.left=render 'answer_link', behavior: behavior
  %tr
    %th{colspan:2} Depression

%p
  If none of these sound correct, it may help to
  =link_to 'change the words', behaviors_path
  used.

