-content_for(:title, "Question ##{@answer.number} of 7")
%p.heading=@phase.episode

-@phase.behaviors.each do |behavior|
  %p{class: @answer.css(behavior)}
    =succeed ":" do
      =link_to_if @answer.free?(behavior), behavior.episode, answer_path(@answer.next(behavior))
    =behavior.words.ing.capitalize
    =link_to behavior.eg.ing.wrap, behavior.path, class: "internal"
    comes easy for you but
    =behavior.opposite.words.ing
    =link_to behavior.opposite.eg.ing.wrap, behavior.path, class: "internal"
    takes a conscious effort.



-unless @answer.behaviors.empty?
  %p.center
    If you are stuck you can
    =link_to_unless_current "start over", answer_path(Answer.first_path)
  %dl.chosen
    %dt Previously chosen
    -@answer.behaviors.each do |behavior|
      %dd #{behavior.episode}: #{behavior.eg.too_much}

%p.heading=render "behaviors/improvements"
