-content_for(:title, @title)

%table
  %caption
    %h2=@title

  %tr
    %td.bottom.none.right=render 'action', action: Action.IP

    %td=render 'attitude', attitude: Attitude.I

    %td.bottom.none.left=render 'action', action: Action.IJ

  %tr

    %td=render 'attitude', attitude: Attitude.P

    %th &orarr;

    %td=render 'attitude', attitude: Attitude.J

  %tr

    %td.none.right=render 'action', action: Action.EP

    %td.bottom=render 'attitude', attitude: Attitude.E

    %td.none.left=render 'action', action: Action.EJ

-if Rails.env.development?
  =@answer.subtypes
