-content_for(:title, @title)

%h2=@title

-@answer.free_foci.each do |focus|
  %table
    %caption
      %h2=formatted focus
    %tr
      -Imbalance.each do |imbalance|
        %td=formatted imbalance + focus
    -Behavior.each do |behavior|
      %tr
        -Imbalance.each do |imbalance|
          -solution = imbalance + (focus + behavior)
          %td
            =link_to_unless @answer.taken?(solution), solution.symbol, answer_path(@answer.next(solution.symbol))
            .left=formatted_problem solution


-if Rails.env.development?
  =@answer.taken
