-content_for(:title, @title)

%h2=@title

%table
  %tr
    %th
    -Focus.each do |thing|
      %th=symbolic thing
  -Problem.all.sort_by(&:parts).in_groups_of(4).each do |row|
    %tr
      %th=symbolic row.first.phase
      -row.each do |problem|
        %td.left.bordered=link_to_unless @answer.taken?(problem), formatted(problem), answer_path(@answer.next(problem.symbol))

-if Rails.env.development?
  =@answer.taken
