-content_for(:title, @title)

%h2=@title

-case @answer.number
  -when '1'
    %p You do not have to start at the top. Start with the problem that is the most difficult for you to balance.
  -when '2'
    %p Continue with your next worst problem.
  -when '3'
    %p Finally, even if you have already have solved them, chose the one which is more difficult for you to balance.

-@answer.free_foci.each do |focus|
  %table
    %tr
      -Imbalance.each do |imbalance|
        %th=formatted imbalance + focus
    -Action.each do |action|
      %tr
        -Imbalance.each do |imbalance|
          -solution = imbalance + (focus + action)
          %td
            =link_to_unless @answer.taken?(solution), solution.symbol, answer_path(@answer.next(solution.symbol))
            .left=formatted_problem(solution) unless @answer.taken?(solution)


-if Rails.env.development?
  =@answer.taken
