- content_for(:title, Behavior.title)

%p Verbs are words that, among other things, convey action.
%table
  %tr
    -Behavior.each do |behavior|
      %td=render 'cookie', thing: behavior

%p A focused behavior creates an action. 4 nouns X 2 verbs = 8 actions.


%table
  %caption
    %h2 8 Actions
  -Focus.each do |focus|
    %tr
      -Behavior.each do |behavior|
        %td=render 'cookie', thing: behavior + focus

