- content_for(:title, 'The Behaviors')


= form_with method: :get do |form|

  %table.none
    %caption
      %h2 #{Realm.names.and} Behaviors
    %tr
      =render 'behavior_form', quadrant: Quadrant.ep, form: form
      =render 'behavior_form', quadrant: Quadrant.ej, form: form

    %tr
      =render 'behavior_form', quadrant: Quadrant.ip, form: form
      =render 'behavior_form', quadrant: Quadrant.ij, form: form
    %tr
      %td{colspan: 2}=form.submit 'Use Other Words'

  %div.right=form.submit 'Use Examples'
%br
%br
%br
