- content_for(:title, 'The Behaviors')
%p Bipolar disorder (previously known as Manic Depression) is usually defined in terms of Mental (cognition) or Affective (mood) behaviors. BipolarType adds Physical (caloric) and Financial (monetary) behaviors.


= form_with method: :get do |form|

  %table
    %tr
      %td.bottom{class: 'cycleB'}
        -quadrant = Quadrant.ep
        %h3=quadrant.short.capitalize
        -Realm.each do |realm|
          -behavior = realm + quadrant
          =link_to behavior.symbolic_name, behavior_path(behavior.path)
          %div=render 'behavior_form', behavior: behavior, form: form

      %td
        %h2 Mania
        Externalize
        %br
        &rlarr;
      %td.bottom{class: :cycleU}
        -quadrant = Quadrant.ej
        %h3=quadrant.short.capitalize
        -Realm.each do |realm|
          -behavior = realm + quadrant
          =link_to behavior.symbolic_name, behavior_path(behavior.path)
          %div=render 'behavior_form', behavior: behavior, form: form

    %tr
      %td Energy &udarr;
      %td &orarr;
      %td &udarr; Strength


    %tr
      %td.top{class: :cycleG}
        -quadrant = Quadrant.ip
        %h3=quadrant.short.capitalize
        -Realm.each do |realm|
          -behavior = realm + quadrant
          =link_to behavior.symbolic_name, behavior_path(behavior.path)
          %div=render 'behavior_form', behavior: behavior, form: form
      %td
        &rlarr;
        %br
        Internalize
        %h2 Depression
      %td.top{class: :cycleR}
        -quadrant = Quadrant.ij
        %h3=quadrant.short.capitalize
        -Realm.each do |realm|
          -behavior = realm + quadrant
          =link_to behavior.symbolic_name, behavior_path(behavior.path)
          %div=render 'behavior_form', behavior: behavior, form: form

  %p
    The above are my words for the sixteen behaviors. If you prefer, you can change the words used to better reflect <em>your</em> behaviors.
  =form.submit 'Use Other Words'
  =form.submit 'Use Default Words'
  %p If you want to save the words you enter between sessions, bookmark this page immediately after you have clicked on 'Use Other Words' (your words will be in the URL).
