- content_for(:title, 'The Behaviors')


= form_with method: :get do |form|

  %table
    %caption
      %h2=Realm.names.and
    %tr
      %td.bottom{class: 'cycleB'}
        -quadrant = Quadrant.ep
        %h3=quadrant.both
        -Realm.each do |realm|
          -behavior = realm + quadrant
          =link_to behavior.symbolic_name, behavior_path(behavior.path)
          %div=render 'behavior_form', behavior: behavior, form: form

      %td.bottom{class: :cycleU}
        -quadrant = Quadrant.ej
        %h3=quadrant.both
        -Realm.each do |realm|
          -behavior = realm + quadrant
          =link_to behavior.symbolic_name, behavior_path(behavior.path)
          %div=render 'behavior_form', behavior: behavior, form: form


    %tr
      %td.top{class: :cycleG}
        -quadrant = Quadrant.ip
        %h3=quadrant.both
        -Realm.each do |realm|
          -behavior = realm + quadrant
          =link_to behavior.symbolic_name, behavior_path(behavior.path)
          %div=render 'behavior_form', behavior: behavior, form: form


      %td.top{class: :cycleR}
        -quadrant = Quadrant.ij
        %h3=quadrant.both
        -Realm.each do |realm|
          -behavior = realm + quadrant
          =link_to behavior.symbolic_name, behavior_path(behavior.path)
          %div=render 'behavior_form', behavior: behavior, form: form

  %p
    The above are my words for the sixteen behaviors. If you prefer, you can change the words used to better reflect <em>your</em> behaviors.
  =form.submit 'Use Other Words'
  =form.submit 'Use Default Words'
  %p If you want to save the words you enter between sessions, bookmark this page immediately after you have clicked on 'Use Other Words' (your words will be in the URL).
