%table
  %tr
    %th
    %th=Direction.e.cycle_name
    %th=Direction.i.cycle_name
  -Realm.each do |realm|
    %tr{class: realm.css}
      %th=realm.symbolic_name
      %td=realm.output
      %td=realm.intake

%p The problem with most behaviors is that you cannot always figure out where they are coming from.
%p It is relatively easy to recognize when someone is stressed and #{Realm.all.map(&:use).map(&:ing).or} as opposed to relaxed and #{Realm.all.map(&:get).map(&:ing).or}, but it is much more difficult to determine whether they are angry or afraid, especially if they are only a little stressed.
%p
  Thus, there is only one word defined for each state. You can enter your own words to define them on the
  =link_to 'examples', example_path
  page.

