- content_for(:title, @behavior.name)
%div.center=@behavior.horizontal_when
-unless @behavior.generic?
  =render "behavior", behavior: @behavior
  =render "long", behavior: @behavior

-if @behavior.generic?
  -chunks = @behavior.behaviors.each.collect {|b| "#{render 'behavior', behavior: b}".html_safe}
  %table
    -chunks.each do |chunk|
      %tr
        %td.top=chunk

%p.heading=render "behaviors/improvements"
