- content_for(:title, Behavior.title)

=render 'instructions', items: 'verb phrases'

%table
  %tr
    -Behavior.each do |behavior|
      %td=render 'cookie', thing: behavior

%p A focused behavior creates an action.
=render 'instructions', items: 'verb phrases'

%table
  %caption
    %h2 8 Actions
  -Focus.each do |focus|
    %tr
      -Behavior.each do |behavior|
        %td=render 'cookie', thing: behavior + focus

