- content_for(:title, @behavior.name)
-if @behavior.is_a? GenericBehavior
  %div.center=@behavior.inline_description
  %p.heading
    All people do all four behaviors on a #{@behavior.short_description} and at other times when necessary.
    %br
    They are #{@behavior.opposite.problem_names} if you get trapped into doing them to excess at the wrong time.
  -@behavior.behaviors.each do |behavior|
    %h2=link_to behavior.name, answer_path(Answer.jump_path(behavior))
    %div.center=render "behaviors/#{behavior.symbol}"
-else
  %div.center=@behavior.generic_behavior.inline_description
  =render "behaviors/#{@behavior.symbol}"

%p.heading=render "behaviors/improvements"
