- content_for(:title, 'Comparison Chart')
%p
  The MBTI theory defines your personality type based on which of eight behaviors you prefer
  %em overall
  (your Dominant
  =succeed ")" do
    =link_to "function-attitude", "https://en.wikipedia.org/wiki/Jungian_cognitive_functions", class: "external"
  and then adds an Auxiliary function-attitude constrained by the MBTI theory to one of two function-attitudes depending on your first choice. Thus the MBTI has sixteen types (eight times two).
%p
  The BipolarType theory defines your personality type based on which of four behaviors you prefer most at
  %em four different times.
  BipolarType does not constrain the function of adjacent attitudes except in that they must be unique. Thus BipolarType has twenty-four types (four factorial).
%p
  Although sixteen doesn’t map onto twenty-four, you can still use your MBTI type to get you part-way to your BipolarType (as long as it is an actual
  =link_to "best-fit MBTI type", "https://www.myersbriggs.org/unique-features-of-myers-briggs/best-fit-type/", class: "external"
  and not just a test result).
%table
  -String::MBTI.in_groups_of(4).each_with_index do |row, index|
    %tr
      -row.each do |mbti|
        %td
          %b #{mbti}: #{mbti.jungian}
          %br
          =mbti.dominant.to_fa + ":"
          -dominant = Behavior.find_by_mbti(mbti.dominant)
          =link_to dominant.symbol, behavior_path(dominant.symbol), class: "external"
          %br
          =mbti.auxiliary.to_fa + ":"
          -auxiliary = Behavior.find_by_mbti(mbti.auxiliary)
          =link_to auxiliary.symbol, behavior_path(auxiliary.symbol), class: "external"
          %br
          =link_to "#{mbti} BipolarTypes", answer_path(Answer.jump_path(dominant, auxiliary))



