- content_for(:title, 'Conversion Chart')
%p
  The MBTI theory defines you as what you
  %em prefer
  most (your dominant
  =(link_to "function-attitude", "https://en.wikipedia.org/wiki/Jungian_cognitive_functions", class: "external") + ")"
  and adds what you prefer second as an auxiliary function-attitude (constrained by the MBTI theory to only two choices based on your first choice). Tertiary and Inferior function-attitudes are also constrained by the theory (based on your first two choices). Thus the MBTI has sixteen types (eight times two).
%p
  The BipolarType theory defines your type based not on what you prefer, but on what you are most
  %em balanced
  in. But BipolarType does not constrain realms except in that they must be unique. Thus BipolarType has twenty-four types (four factorial).
%p
  Of the twenty-four BipolarTypes, only four correspond to MBTI types. Even if you have determined your
  =link_to "best-fit MBTI type", "https://www.myersbriggs.org/unique-features-of-myers-briggs/best-fit-type/", class: "external"
  it probably does
  %em not
  determine your BipolarType. However, you can still try starting with the GetStrength realm of that type as that’s the first question on the
  =link_to "Your BipolarType", answer_path(Answer.first_path)
  page.
%table
  %tr
    %td
      %b ISTJ
      %p=render "mbti", components: %w{ISJ ETJ IFP ENP}
      =link_to "MAPF", type_path("MAPF")
    %td
      %b ISFJ
      %p=render "mbti", components: %w{ISJ EFJ ITP ENP}
      =link_to "MFPA", type_path("MFPA")
    %td
      %b INFJ
      %p=render "mbti", components: %w{INJ EFJ ITP ESP}
      =link_to "PFMA", type_path("PFMA")
    %td
      %b INTJ
      %p=render "mbti", components: %w{INJ ETJ IFP ESP}
      =link_to "PAMF", type_path("PAMF")
  %tr
    %td
      %b ISTP
      %p=render "mbti", components: %w{ITP ESP INJ EFJ}
      =link_to "PFMA", type_path("PFMA")
    %td
      %b ISFP
      %p=render "mbti", components: %w{IFP ESP INJ ETJ}
      =link_to "PAMF", type_path("PAMF")
    %td
      %b INFP
      %p=render "mbti", components: %w{IFP ENP ISJ ETJ}
      =link_to "MAPF", type_path("MAPF")
    %td
      %b INTP
      %p=render "mbti", components: %w{ITP ENP ISJ EFJ}
      =link_to "MFPA", type_path("MFPA")
  %tr
    %td
      %b ESTP
      %p=render "mbti", components: %w{ESP ITP EFJ INJ}
      =link_to "PFMA", type_path("PFMA")
    %td
      %b ESFP
      %p=render "mbti", components: %w{ESP IFP ETJ INJ }
      =link_to "PAMF", type_path("PAMF")
    %td
      %b ENFP
      %p=render "mbti", components: %w{ENP IFP ETJ ISJ }
      =link_to "MAPF", type_path("MAPF")
    %td
      %b ENTP
      %p=render "mbti", components: %w{ENP ITP EFJ ISJ }
      =link_to "MFPA", type_path("MFPA")
  %tr
    %td
      %b ESTJ
      %p=render "mbti", components: %w{ETJ ISJ ENP IFP }
      =link_to "MAPF", type_path("MAPF")
    %td
      %b ESFJ
      %p=render "mbti", components: %w{EFJ ISJ ENP ITP }
      =link_to "MFPA", type_path("MFPA")
    %td
      %b ENFJ
      %p=render "mbti", components: %w{EFJ INJ ESP ITP }
      =link_to "PFMA", type_path("PFMA")
    %td
      %b ENTJ
      %p=render "mbti", components: %w{ETJ INJ ESP IFP }
      =link_to "PAMF", type_path("PAMF")
