p A subtype is one of #{link_to_concept Realm} plus one of #{link_to_concept Mood}. There are #{link_to_concept Subtype}.

p A behavior is one of the realms plus one of #{link_to_concept Action}. There are #{link_to_concept Behavior}.

p A nature is a set of four distinct subtypes. There are #{link_to_concept Nature}

p A BipolarType is made up of a nature and a nurture. There are #{link_to_concept Type}.

