- content_for(:title, 'Cookies')
%p
  The following link can be bookmarked after you save your words so you don’t need to enter them again if you close your browser:
  =link_to 'bookmark', @url

=form_with url: cookies_path, method: :get do |f|
  %table
    %tr
      %th
      %th Default word
      %th Alternate words
      %th Your word
      %th{rowspan: @words.count}= f.submit 'Save'

    -@words.each do |key, value|
      %tr
        %td=key
        %td=value
        %td=@alt_words[key]
        %td=f.text_field key, value: cookies[key], maxlength: 80, size: 10
