- content_for(:title, 'Cycle')

%h2 The Bipolar Cycle
%p.italic.center The Natural Rhythm of Life

%table
  %tr
    %th Spring Morning (Up &uarr;)
  %tr
    %td.left Start changing things: use strength to improve your environment
  %tr
    %th Summer Midday (Down &darr;)
  %tr
    %td.left Start accepting things: get energy to refuel your strength
  %tr
    %th Fall Afternoon (NotDown &not;&darr;)
  %tr
    %td.left Stop accepting things: refuse things that you don&rsquo;t need or are actively hurting you
  %tr
    %th Winter Evening (NotUp &not;&uarr;)
  %tr
    %td.left Stop changing things: tolerate things that you don&rsquo;t like  but are not actually harming you

%p Note: weekly and lunar/monthly cycles follow the same natural rhythm, but which days of the week or month are associated with which phase of the cycle is not universal.