- content_for(:title, @title)
-if @answer || @realm
  .center
    %h2=@title
%table.none
  %tr
    %td{colspan:2}
    %td
      -subtype = @sixteen[2]
      =render 'answer_link', subtype: subtype
    %td
    %td
      -subtype = @sixteen[4]
      =render 'answer_link', subtype: subtype
    %td{colspan:2}

  %tr
    %td
    %td
      -subtype = @sixteen[1]
      =render 'answer_link', subtype: subtype
    %td{colspan:3}
    %td
      -subtype = @sixteen[5]
      =render 'answer_link', subtype: subtype
    %td

  %tr
    %td
      -subtype = @sixteen[0]
      =render 'answer_link', subtype: subtype
    %td
    %td
      -subtype = @sixteen[3]
      =render 'answer_link', subtype: subtype
    %td
    %td
      -subtype = @sixteen[7]
      =render 'answer_link', subtype: subtype
    %td
    %td
      -subtype = @sixteen[6]
      =render 'answer_link', subtype: subtype

  %tr
    %td{colspan:2}
    %td{colspan:3} &orarr;
    %td{colspan:2}

  %tr
    %td
      -subtype = @sixteen[10]
      =render 'answer_link', subtype: subtype
    %td
    %td
      -subtype = @sixteen[11]
      =render 'answer_link', subtype: subtype
    %td
    %td
      -subtype = @sixteen[15]
      =render 'answer_link', subtype: subtype
    %td
    %td
      -subtype = @sixteen[12]
      =render 'answer_link', subtype: subtype

  %tr
    %td
    %td
      -subtype = @sixteen[9]
      =render 'answer_link', subtype: subtype
    %td{colspan:3}
    %td
      -subtype = @sixteen[13]
      =render 'answer_link', subtype: subtype
    %td

  %tr
    %td{colspan:2}
    %td
      -subtype = @sixteen[8]
      =render 'answer_link', subtype: subtype
    %td
    %td
      -subtype = @sixteen[14]
      =render 'answer_link', subtype: subtype
    %td{colspan:2}

-if @answer && @answer.number > 1
  You can
  =link_to "start over", answer_path(Answer.first_path)
  if you get stuck.
