- content_for(:title, 'Cycle')

%h2 The Bipolar Cycle
%p.italic.center The Natural Rhythm of Life

%ol
  -Help.all.each do |help|
    %li
      =help.cycle_name.colon
      -case help.index
      -when 0
        use strength to improve your environment
      -when 1
        get energy to refuel your strength
      -when 2
        stop accepting things when you are full of energy
      -when 3
        stop changing things when you are out of strength

%p Note: weekly, lunar/monthly, and four-year cycles follow the same natural rhythm, but which days of the week, weeks of the month, or years of the cycle are associated with which phase is not universal.
