- content_for(:title, @title)

-if @answer
  %p.center
    If you can&rsquo;t find anything, try
    ='starting with' if @answer.number==1
    a different realm:
    -@answer.free_realms.without(@realm).each_with_index do |realm, index|
      =index == 0 ? '<br/ >'.html_safe : '|'
      =link_to realm.symbolic_name, answer_path(@answer.try(realm))
    -if @answer.number > 1
      %br
      or
      =link_to "start over", answer_path(Answer.first_path)

%table.none
  %caption
    %h2=@title

  %tr
    %td.bottom.right 🌔
    %td
    %td.happiness.right_border=render 'answer_link', subtype: @sixteen[2]
    %td 🌕<br />&rArr;<br />🥳
    %td.guilt.left_border=render 'answer_link', subtype: @sixteen[4]
    %td
    %td.bottom.left 🌖

  %tr
    %td
    %td.eustress.left
      =render 'answer_link', subtype: @sixteen[1]
      2ndQ
    %td.right_border
    %td
    %td.left_border
    %td.eustress.right
      =render 'answer_link', subtype: @sixteen[5]
      3rdQ
    %td

  %tr
    %td.guilt.bottom_border=render 'answer_link', subtype: @sixteen[0]
    %td.bottom_border
    %td.distress.bottom_border.right_border=render 'answer_link', subtype: @sixteen[3]
    %td
    %td.distress.bottom_border.left_border=render 'answer_link', subtype: @sixteen[7]
    %td.bottom_border
    %td.happiness.bottom_border=render 'answer_link', subtype: @sixteen[6]

  %tr
    %td 🌓&nbsp;&uArr;&nbsp;🫣
    %td
    %td
    %td &orarr;
    %td
    %td
    %td 🥱&nbsp;&dArr;&nbsp;🌗

  %tr
    %td.happiness.top_border=render 'answer_link', subtype: @sixteen[10]
    %td.top_border
    %td.distress.top_border.right_border=render 'answer_link', subtype: @sixteen[11]
    %td
    %td.distress.top_border.left_border=render 'answer_link', subtype: @sixteen[15]
    %td.top_border
    %td.guilt.top_border=render 'answer_link', subtype: @sixteen[12]

  %tr
    %td
    %td.eustress.left
      1stQ
      =render 'answer_link', subtype: @sixteen[9]
    %td.right_border
    %td
    %td.left_border
    %td.eustress.right
      4thQ
      =render 'answer_link', subtype: @sixteen[13]
    %td

  %tr
    %td.top.right 🌒
    %td
    %td.guilt.right_border=render 'answer_link', subtype: @sixteen[8]
    %td 😴<br />&nvlArr;<br />🌑
    %td.happiness.left_border=render 'answer_link', subtype: @sixteen[14]
    %td
    %td.top.left 🌘


-if @type
  %h2 Sample behaviors

  %h3 By Quarter
  %table
    %tr
      %th
      -4.times do |i|
        %th #{(i+1).ordinalize} Quarter
    -@type.foci.each do |first|
      %tr
        %th=first.realm.name
        -first.cycle.by_quarter.each do |subtype|
          %td{class: subtype.class_type}=link_to subtype.triplet.eg, subtype_path(subtype.path)

  %h3 Theory
  %table
    %tr
      %th
      %td.distress avoid distress<br />(Don&rsquo;t)
      %td.guilt avoid guilt<br />(Do)
      %td.eustress embrace eustress<br />(Do)
      %td.happiness happy, healthy neglect<br />(Don&rsquo;t)
    -@type.disses.each do |first|
      %tr
        %th=first.realm.name
        -first.cycle.subtypes.each do |subtype|
          %td{class: subtype.class_type}=link_to subtype.triplet.eg, subtype_path(subtype.path)

  %h3 In other words
  %table
    %tr
      %th
      %td.eustress To be able to
      %td.guilt You need to
      %td.happiness And
      %td.distress But not
    -@type.foci.each do |first|
      %tr
        %th=first.realm.name
        -first.cycle.by_focus.each do |subtype|
          %td{class: subtype.class_type}=link_to subtype.eg, subtype_path(subtype.path)
    %tr
      %td
      %td.eustress &hellip; more often
      %td.guilt &hellip; whenever possible
      %td.happiness &hellip; only when you want to
      %td.distress &hellip; unless you have to



-if @realms
  -if @realm.generic?
    %p Bipolar disorder (previously known as Manic Depression) is usually defined in terms of Mental (cognitive) or Affective (mood) cycling. BipolarType adds Physical (caloric) and Financial (monetary) cycles.
  %p.center
    -@realms.each do |realm|
      =link_to realm.symbolic_name, realm_path(realm.path)
  -if @realm.generic?
    %p Note: the moon emoji are not meant to imply that the cycle is exclusively monthly (lunar). The pattern is also present in yearly (seasonal), weekly, daily (circadian), and ultradian cycles. <em>Any</em> recurring life cycle that can be divided into four quarters with a reset or time-out between the fourth and first quarters qualifies.
