- content_for(:title, 'Cycle')

%h2 The Bipolar Cycle
%p.italic.center The Natural Rhythm of Life

%table
  %tr
    %th{colspan:2} Spring Morning &uarr; (Up)
  %tr
    %td Start changing things
    %td Use strength to improve your environment
  %tr
    %th{colspan:2} Summer Midday &darr; (Down)
  %tr
    %td Start accepting things
    %td Get energy to refuel your strength
  %tr
    %th{colspan:2} Fall Afternoon &not;&darr; (NotDown)
  %tr
    %td Stop accepting things
    %td Refuse things that are overwhelming or &ldquo;unnecessary&rdquo;
  %tr
    %th{colspan:2} Winter Evening &not;&uarr; (NotUp)
  %tr
    %td Stop changing things
    %td Tolerate things that are adequate or good &ldquo;enough&rdquo;

%p Note: weekly and lunar/monthly cycles follow the same natural rhythm.
