- content_for(:title, @title)
-if @realms
  %p Bipolar disorder (previously known as Manic Depression) is usually defined in terms of Mental (cognitive) or Affective (mood) cycling. BipolarType adds Physical (caloric) and Financial (monetary) cycles.
  %p.center
    -@realms.each do |realm|
      =link_to realm.symbolic_name, realm_path(realm.path)
-if @answer
  %p.center
    =@answer.number==1 ? 'Start with' : 'Try'
    a different realm:
    -@answer.free_realms.without(@realm).each_with_index do |realm, index|
      =index == 0 ? '<br/ >'.html_safe : '|'
      =link_to realm.symbolic_name, answer_path(@answer.try(realm))
    -if @answer.number > 1
      or
      =link_to "start over", answer_path(Answer.first_path)

%table.none
  %caption
    %h2=@title

  %tr
    %td
    %td
    %td.happiness.right_border=render 'answer_link', subtype: @sixteen[2]
    %td &rArr;
    %td.guilt.left_border=render 'answer_link', subtype: @sixteen[4]
    %td
    %td

  %tr
    %td
    %td.eustress=render 'answer_link', subtype: @sixteen[1]
    %td.right_border
    %td
    %td.left_border
    %td.eustress=render 'answer_link', subtype: @sixteen[5]
    %td

  %tr
    %td.guilt.bottom_border=render 'answer_link', subtype: @sixteen[0]
    %td.bottom_border
    %td.distress.bottom_border.right_border=render 'answer_link', subtype: @sixteen[3]
    %td
    %td.distress.bottom_border.left_border=render 'answer_link', subtype: @sixteen[7]
    %td.bottom_border
    %td.happiness.bottom_border=render 'answer_link', subtype: @sixteen[6]

  %tr
    %td &uArr;
    %td
    %td
    %td &orarr;
    %td
    %td
    %td &dArr;

  %tr
    %td.happiness.top_border=render 'answer_link', subtype: @sixteen[10]
    %td.top_border
    %td.distress.top_border.right_border=render 'answer_link', subtype: @sixteen[11]
    %td
    %td.distress.top_border.left_border=render 'answer_link', subtype: @sixteen[15]
    %td.top_border
    %td.guilt.top_border=render 'answer_link', subtype: @sixteen[12]

  %tr
    %td
    %td.eustress=render 'answer_link', subtype: @sixteen[9]
    %td.right_border
    %td
    %td.left_border
    %td.eustress=render 'answer_link', subtype: @sixteen[13]
    %td

  %tr
    %td
    %td
    %td.guilt.right_border=render 'answer_link', subtype: @sixteen[8]
    %td &nvlArr;
    %td.happiness.left_border=render 'answer_link', subtype: @sixteen[14]
    %td
    %td


-if @type
  %h2 #{@type.name} Sample behaviors
  %table.equal
    %tr
      %td.distress avoid distress
      %td.guilt avoid guilt
      %td.eustress embrace eustress
      %td.happiness happy, healthy neglect
    %tr
      %th Do not:
      %th Do:
      %th So you can:
      %th And not have to:
    -@type.disses.each do |distress|
      %tr
        -distress.cycle.subtypes.each do |subtype|
          %td=link_to subtype.eg, subtype_path(subtype.path)

%p The trick is in the cycle. That is, only half the time do your do instead behaviors come <em>after</em> the behavior you want to avoid. The other half they come before.
