- content_for(:title, 'Cycle')

%table
  %tr
    %td.halfish
      %em Accelerate
      %p achieve an external goal (use energy)

    %th On

    %td.halfish
      %em Decelerate
      .left leave the highway ()


  %tr
    %th
      Turn Engine On
      .plain (external orientation)
    %th
      &#8635;

    %th
      Turn Engine Off
      .plain (internal orientation)


  %tr
    %td
      %em Unplug
      %p leave the pump (conserve energy)
    %th Off

    %td
      %em Plug in
      %p feed an internal need (get energy)
