- content_for(:title, 'The Cycle')

=render 'euthymic', subtypes: Realm.generic.subtypes, caption: 'The Euthymic Cycle'

=render 'stressed', subtypes: Realm.generic.subtypes, caption: 'The Stressed Cycle'


%h2 BipolarType
%p BipolarType is an attempt to be both happy and healthy by learning how and why to switch <em>before</em> you become unappy, and how to stay healthy <em>after</em> you switch.
