- content_for(:title, 'The Cycle')

%table

  %tr
    %td.bottom
      %h3=Behavior.q2.symbolic_name
      Flee
    %td
      %h2 Summer Day
      Mania
      %br
      &rlarr;
    %td.bottom
      %h3=Behavior.q3.symbolic_name
      Fight

  %tr
    %td
      %h2 Spring Dawn
    %td &orarr;
    %td
      %h2 Autumn Dusk

  %tr
    %td.top
      Feed
      %h3=Behavior.q1.symbolic_name
    %td
      &rlarr;
      %br
      Depression
      %h2 Winter Night
    %td.top
      Rest
      %h3=Behavior.q4.symbolic_name

%p The four corner behaviors are all perfectly normal and natural. But if you get &ldquo;stuck&rdquo; in a corner, that behavior becomes unhealthy and unbalancing.
%p Recovering from an unbalancing and unhealthy compulsive behavior requires three things
%ol

  %li
    Replace the compulsive behavior with it&rsquo;s alternate <em>now</em>:
    %ul
      %li if you <em>are</em> manic and fleeing compulsively, fight instead
      %li if you <em>are</em> manic and fighting compulsively, flee instead
      %li if you <em>are</em> depressed and feeding compulsively, rest instead
      %li if you <em>are</em> depressed and resting compulsively, feed instead

  %li
    Subvert the compulsive behavior with it&rsquo;s opposite <em>later</em>:
    %ul
      %li if you <em>were</em> manic and fleeing compulsively, rest more: it will make replacement fighting easier
      %li if you <em>were</em> manic and fighting compulsively, feed more: it will make replacement fleeing easier
      %li if you <em>were</em> depressed and feeding compulsively, fight more: it will make replacement resting easier
      %li if you <em>were</em> depressed and resting compulsively, flee more: it will make replacement feeding easier

  %li
    Balance the compulsive behavior with it&rsquo;s complement:
    %ul
      %li if you <em>do</em> flee compulsively when manic, you must balance feeding (to replace the energy burned) with <em>not</em> feeding (which enables more fleeing).
      %li if you <em>do</em> fight compulsively when manic, you must balance resting (to restore the strength used) with <em>not</em> resting (which enables more fighting).
      %li if you <em>do</em> feed compulsively when depressed, you must balance fleeing (to burn the energy gotten) with <em>not</em> fleeing (which enables more feeding).
      %li if you <em>do</em> rest compulsively when depressed, you must balance fighting (to use the strength recovered) with <em>not</em> fighting (which enables more resting).

%p The first two &mdash; replacement and subversion &mdash; will be necessary indefinitely.
%p The third &mdash; balance &mdash; will become less <em>necessary</em> as you replace and subvert the unbalancing behavior but will also need to be carefully modulated so as not to <em>induce</em> the unbalancing behavior.
