- content_for(:title, @title)
-if @realms
  %p Bipolar disorder (previously known as Manic Depression) is usually defined in terms of Mental (cognitive) or Affective (mood) cycling. BipolarType adds Physical (caloric) and Financial (monetary) cycles.
  %p.center
    -@realms.each do |realm|
      =link_to realm.symbolic_name, realm_path(realm.path)
-if @answer
  %p.center
    =@answer.number==1 ? 'Start with' : 'Try'
    a different realm:
    -@answer.free_realms.without(@realm).each_with_index do |realm, index|
      =index == 0 ? '<br/ >'.html_safe : '|'
      =link_to realm.symbolic_name, answer_path(@answer.try(realm))
    -if @answer.number > 1
      or
      =link_to "start over", answer_path(Answer.first_path)

%table.none
  %caption
    %h2=@title

  %tr
    %td
    %td
    %td.auxiliary.right_border=render 'answer_link', subtype: @sixteen[2]
    %td &rArr;
    %td.secondary.left_border=render 'answer_link', subtype: @sixteen[4]
    %td
    %td

  %tr
    %td
    %td.dominant=render 'answer_link', subtype: @sixteen[1]
    %td.right_border
    %td
    %td.left_border
    %td.dominant=render 'answer_link', subtype: @sixteen[5]
    %td

  %tr
    %td.tertiary.bottom_border=render 'answer_link', subtype: @sixteen[0]
    %td.bottom_border
    %td.inferior.bottom_border.right_border=render 'answer_link', subtype: @sixteen[3]
    %td
    %td.inferior.bottom_border.left_border=render 'answer_link', subtype: @sixteen[7]
    %td.bottom_border
    %td.auxiliary.bottom_border=render 'answer_link', subtype: @sixteen[6]

  %tr
    %td &uArr;
    %td
    %td
    %td &orarr;
    %td
    %td
    %td &dArr;

  %tr
    %td.auxiliary.top_border=render 'answer_link', subtype: @sixteen[10]
    %td.top_border
    %td.inferior.top_border.right_border=render 'answer_link', subtype: @sixteen[11]
    %td
    %td.inferior.top_border.left_border=render 'answer_link', subtype: @sixteen[15]
    %td.top_border
    %td.tertiary.top_border=render 'answer_link', subtype: @sixteen[12]

  %tr
    %td
    %td.dominant=render 'answer_link', subtype: @sixteen[9]
    %td.right_border
    %td
    %td.left_border
    %td.dominant=render 'answer_link', subtype: @sixteen[13]
    %td

  %tr
    %td
    %td
    %td.tertiary.right_border=render 'answer_link', subtype: @sixteen[8]
    %td &nvlArr;
    %td.auxiliary.left_border=render 'answer_link', subtype: @sixteen[14]
    %td
    %td

