- content_for(:title, 'The Cycle')

=render 'cycle', realm: Realm.b


%h2 Mania
%p Mania appears to be a fixation on achieving an external goal.
%p While using strength to achieve that goal, you will occasionally stop to get strength and rest, but will very shortly return to achieving the goal without continuing on to get energy.
%p But the goal is <em>not</em> the motivation. Your <em>actual</em> motivation is to avoid having to get energy you do not want or cannot make room for. You fixate on a specific goal but if you manage to achieve that particular goal, you will merely find another to fixate on.

%h2 Depression
%p Depression appears to be a fixation on satisfying an internal need.
%p While getting energy to satisfy that need, you will occasionally stop to use energy and rest, but will very shortly return to satisyfing the need without continuing on to use strength.
%p But the need is <em>not</em> the motivation. Your <em>actual</em> motivation is to avoid having to use strength you do not have or cannot develop. You fixate on a specific need but if you manage to satisfy that particular need, you will merely find another to fixate on.
