%p BipolarType asserts that you, as an individual, are made up of four aspects.
%ol
  -Aspect.each do |aspect|
    %li #{aspect.adjective.capitalize}: your #{aspect.center} #{aspect.actions.collect{|a| aspect.center.plural? ? a : a.s}.and} #{aspect.nouns.wrap}

%table
  %tr
    %th
    %th=Direction.e.sick.to_noun.capitalize
    %th High
    %th Low
    %th=Direction.i.sick.to_noun.capitalize
  -Aspect.each do |aspect|
    %tr{class: aspect.css}
      %th=aspect.adjective.capitalize
      %td.bordered=aspect.use.too_much
      %td.bordered=aspect.use.ing
      %td.bordered=aspect.get.ing
      %td.bordered=aspect.get.too_much

%p You cannot change the fact that you cycle between High and Low. You <em>can</em> change the fact that you cycle between Mania and Depression.
