- content_for(:title, 'Episodes')

%h2 Mania
%p.italic.center very productive; not at all receptive
%ol
  %li Drive until you run out of gas.
  %li Walk to the nearest gas station.
%p Most common when rising or falling. When fully up you tend to notice that you need to stop and get gas and do so in order to continue achieving your goals. When fully down you don’t tend to start driving unless absolutely necessary. But rising can lead to anxious mania: you are so caught up in achieving goals that you don’t pay enough attention to your fuel levels. And falling can lead to irritable mania: you keep driving even when you no longer have a goal and so resent having to stop and refuel.

%h2 Hypomania
%p.italic.center very productive; only receptive when necessary

%ol
  %li Drive until the low fuel light turns on.
  %li Refuel at the nearest gas station until the gas pump clicks off and you can drive again.


%h2 Euthymia
%p.italic.center receptive
%ol
  %li Refuel until the gas pump clicks off.
  %li Drive around the nearest roads until the low fuel light turns on and you can refuel again.

%h2 Depression
%p.italic.center very receptive but not at all productive
%ol
  %li Refuel until the gas pump is empty.
  %li Drive to the next gas station.
%p Most common when rising or falling. When fully down you tend to notice that you need to stop and burn off fuel and do so in order to continue pursuing happiness. When fully up you don’t tend to start fueling unless absolutely necessary. But rising can lead to anxious depression: you are so caught up in pursuing happiness that you don’t pay enough attention to your fuel levels. And falling can lead to irritable mania: you keep fueling even when you no longer enjoy it and so resent having to stop and drive.
