p.center
  =@behavior.definition.too_much
  |<> / do not
  =@behavior.flip.definition.enough

p
  |> You like to
  =@behavior.generic
  |> . So
  =@behavior.flop.long
  |> . But don't
  =@behavior.long
  |> . Because you want to be able to
  =@behavior.opposite.long
  |<> instead of having to
  =@behavior.flip.long
  |> .
p

  |> If you have
  =@behavior.definition.too_much.en
  |<> (more common in the
  =@behavior.season
  |> ) you will not be able to
  =@behavior.flip.definition.enough
  |<> unless you use
  =@behavior.drugs
  | .
p
  |> If you hate to have to #{@behavior.flip.definition}:
  =link_to @behavior.episode, types_path(@behavior.flop.path)
