- content_for(:title, 'The Behaviors')

%p
  The general form of a behavior is:
  %span{class: 'grey'} MBTI: trigger => response (action) [example]

%p The examples below are an attempt to differentiate the two responses, but are neither comprehensive nor universal. On this page you can change the examples to be anything that you associate with that behavior.
%p On later pages you will be able to change the format to hide anything you are not interested in or that you find distracting or irritating. So if you don&rsquo;t like the examples, but don&rsquo;t want to write your own, you can just hide them.

#form
  =form_with method: :get do |form|
    %table
      -Phase.all.in_groups_of(2) do |row|
        %tr
        -row.each do |phase|
          %td.four_border
            %h3{class: phase.css}=phase.symbolic_name
            -Aspect.each do |aspect|
              -behavior = aspect + phase
              -cookie = cookies[behavior.mbti] || @words[behavior.mbti]
              .left
                =behavior.symbolic_name
                =form.text_field behavior.mbti, value: cookie, maxlength: 80, size: 15
    %tr
      %td{colspan:2}=form.submit 'Save Examples'

    %p If you want to save your changes between browser sessions, you will need to bookmark this page immediately after you save the examples (your changes will be in the URL).
    %p
      You can reset a single example by saving a blank entry or you can
      =form.submit 'Reset All Examples'

    %p
      If you want to see my examples, you can
      =form.submit 'Load Examples'
