- content_for(:title, Focus.title)

=render 'instructions', items: 'adjectives which attempt to describe the four foci'

%table
  -Focus.all.each do |focus|
    %tr
      %td=render 'cookie', thing: focus, static: focus.static
