- content_for(:title, 'Introduction')
%h2 Background
%p
  I’ve been working on BipolarType since the early 1980s when I was first diagnosed as
  =link_to 'bipolar', 'https://en.wikipedia.org/wiki/Bipolar_disorder', class: 'external'
  at around the same time I first learned about
  =succeed '.' do
    =link_to 'personality type', 'https://en.wikipedia.org/wiki/Personality_type', class: 'external'
%p
  The theory is scientific (it is
  =succeed ')' do
    =link_to 'falsifiable', 'https://en.wikipedia.org/wiki/Falsifiability', class: 'external'
  but it has not been validated by the medical, psychiatric, psychological, or type communities.
%p
  I am sharing it on the web because it helps
  =succeed '.' do
    =link_to 'me', my_path
  I hope that you will find it useful or interesting but I do not guarantee it to be either true or correct.
%h2 Overview
%p Pain and stress are signals: if it doesn’t need to be done, then don’t do it!
%p The question then becomes: does it need to be done?

%table
  %tr
    %th
    %th.left It needs to be done
    %th.left It doesn’t need to be done
  %tr
    %th.right You do it
    %td.left Eustress (healthy)
    %td.left Distress (unhealthy)
  %tr
    %th.right You don&rsquo;t do it
    %td.left Unhappy (unhealthy)
    %td.left Happy (healthy)

%p The goal of BipolarType is to be healthy and happy by embracing eustress and avoiding distress and unhappiness.
