- content_for(:title, 'Introduction')
%p
  The theory is scientific (it is
  =succeed ")" do
    =link_to "falsifiable", "https://en.wikipedia.org/wiki/Falsifiability", :class => "external"
  but it has not been validated by the medical, psychiatric, psychological, or type communities.
