p
  |> I have been working on BipolarType since the early 1980s when I was diagnosed as
  =link_to 'bipolar', 'https://en.wikipedia.org/wiki/Bipolar_disorder', class: 'external'
  |<> at around the same time I learned about
  =(link_to 'personality type', 'https://en.wikipedia.org/wiki/Personality_type', class: 'external').period
p BipolarType started as an attempt to create a self-rating questionnaire. As a rapid-cyler with mixed states, scales that required behaviors to last for two or more weeks were unable to accurately describe my episodes.
p As it developed over time, BipolarType grew into a comprehensive theory that allows me to treat my symptoms behaviorally in the moment, adjusting the advice depending on where I am in my cycle and what my current stressors are.

p
  |> The theory is scientific (it is
  =(link_to 'falsifiable', 'https://en.wikipedia.org/wiki/Falsifiability', class: 'external').endwrap.html_safe
  |< but it has not been validated by the medical, psychiatric, psychological, or type communities.
p
  |> I am sharing it on the web because it helps
  =link_to 'me', my_path
  | . I hope that you will find it interesting or useful.
