p
  |> I have been working on BipolarType since the early 1980s when I was diagnosed as
  =link_to 'bipolar', 'https://en.wikipedia.org/wiki/Bipolar_disorder', class: 'external'
  |<> at around the same time I learned about
  =link_to 'personality type', 'https://en.wikipedia.org/wiki/Personality_type', class: 'external'
  | .
p
  |> The BipolarType theory asserts that &ldquo;being bipolar&rdquo; is genetic, and causes the individual to experience a more pronounced
  =link_to 'cycle', cycle_path
  | , but that
  em<> how
  | the illness presents, if it presents at all, depends on
  ol
    li
      |> your
      =link_to 'personality type', natures_path
    li whether you try to slow the cycle down (hoping to start your episodes later) or speed the cycle up (hoping to stop your episodes sooner).
p
  |> The BipolarType theory further asserts that if you know what your
  =link_to 'BipolarType', types_path
  |< is, you will know what behaviors to focus on
  em<> wherever
  | you are in the cycle (manic, depressed, or mixed state).
p
  |> The
  =link_to 'theory', theory_path
  |<> is scientific (it is
  =link_to 'falsifiable', 'https://en.wikipedia.org/wiki/Falsifiability', class: 'external'
  | )
  |< but it has not been validated by the psychiatric, psychological, or type communities.
p
  |> I am sharing it on the web because it helps
  =link_to 'me', my_path
  | . I hope that you will find it useful or at least interesting.
