- content_for(:title, 'Introduction')
%p
  I’ve been working on BipolarType since the early 80s when I was first diagnosed as
  =link_to "bipolar", "https://en.wikipedia.org/wiki/Bipolar_disorder", :class => "external"
  at around the same time I first learned about
  =succeed "." do
    =link_to "personality type", "https://en.wikipedia.org/wiki/Personality_type", :class => "external"
%p You do not have to be bipolar to have a BipolarType. Your BipolarType does predict what symptoms you will exhibit and what problems you will face if you are bipolar, but it can also be used to offer solutions to people whose problems are not clinically significant.
%p
  The theory is scientific (it is
  =succeed ")" do
    =link_to "falsifiable", "https://en.wikipedia.org/wiki/Falsifiability", :class => "external"
  but it has not been validated by the medical, psychiatric, psychological, or type communities.
%p
  I am sharing it on the web because I hope that you may find it useful or interesting.
