- content_for(:title, 'Introduction')
%h2 Background
%p
  I’ve been working on BipolarType since the early 1980s when I was first diagnosed as
  =link_to 'bipolar', 'https://en.wikipedia.org/wiki/Bipolar_disorder', class: 'external'
  at around the same time I first learned about
  =succeed '.' do
    =link_to 'personality type', 'https://en.wikipedia.org/wiki/Personality_type', class: 'external'
%p
  The theory is scientific (it is
  =succeed ')' do
    =link_to 'falsifiable', 'https://en.wikipedia.org/wiki/Falsifiability', class: 'external'
  but it has not been validated by the medical, psychiatric, psychological, or type communities.
%p
  I am sharing it on the web because it helps
  =succeed '.' do
    =link_to 'me', my_path
  I hope that you will find it useful or interesting but I do not guarantee it to be either true or correct.
%h2 Overview
%p Pain and stress are signals: if it doesn’t need to be done, then don’t do it!
%p The question then becomes: does it need to be done?

%table
  %tr
    %th
    %th It needs to be done
    %th It doesn’t need to be done
  %tr
    %th.right You do it
    %td.left

      %span.control and stop when you feel satisfied¹
    %td.left

      %span.compulsion but never feel satisfied⁴
  %tr
    %th.right You don&rsquo;t do it
    %td.left

      %span.guilt and never feel ready³
    %td.left

      %span.serenity but start when you feel ready²

%p
  The goal of BipolarType is to maximize the
  %span.control satisfaction¹
  and
  %span.serenity readiness²
  of appropriate actions, and minimize the
  %span.guilt guilt³
  and
  %span.compulsion compulsion⁴
  of inappropriate actions.

