- content_for(:title, 'Introduction')
%p
  I’ve been working on BipolarType since the early 80s when I was first diagnosed as
  =link_to "bipolar", "https://en.wikipedia.org/wiki/Bipolar_disorder", :class => "external"
  at around the same time I first learned about
  =succeed "." do
    =link_to "personality type", "https://en.wikipedia.org/wiki/Personality_type", :class => "external"
%p Bipolar disorder runs in my mother’s side of my family. But although my mother and her father both responded fairly well to lithium and carbamazepine, I did not.
%p Psychopharmacological, psychological and behavioral therapies all failed to help me. So I developed my own solution through trial and error.
%p
  The theory is scientific (it is
  =succeed ")" do
    =link_to "falsifiable", "https://en.wikipedia.org/wiki/Falsifiability", :class => "external"
  but it has not been validated by the medical, psychiatric, psychological, or type communities.
%p BipolarType is based on the idea that different personality types respond differently to different behaviors.
%p
  That means I cannot just post what works for me, because what works for me will very likely make you worse unless you have the same personality type as I do.
%p
  What I have done is post
  =link_to "what works for me", me_path
  and extracted
  =link_to "the sixteen behaviors", sixteen_path
  from
  =(link_to "the general pattern", theory_path) + "."
%p
  Feel free to mix and match them in any way that seems to help you.
