%p Your natural rhythms are impacted by central heating, air conditioners, and artificial lights; choose whichever seems closest to your daily cycle.

%table
  %tr
    %th
    -Phase.each do |phase|
      %th.fifth
        #{phase.time} (#{phase.hour})
  -Hours.each do |avian|
    %tr
      %th
        =link_to avian.name, type_path(@type.set_hours(avian))
        .small.unbold.left=avian.description
      -Phase.each do |phase|
        %td=avian.range(phase)
