%p Your natural rhythms are impacted by central heating, air conditioners, and artificial lights; choose whichever seems easiest for you to follow. I do suggest a regular daily cycle, as it keeps your cycle entrained and not free running.

%table
  %tr
    %th
    -Phase.each do |phase|
      %th.fifth
        #{phase.time} (#{phase.hour})
  -Hours.each do |avian|
    %tr
      %th
        =link_to avian.name, type_path(@type.set_hours(avian))
        .small.unbold.left=avian.description
      -Phase.each do |phase|
        %td=avian.range(phase)
