- content_for(:title, 'Waking Hours')
%p Your available waking hours are the 24 hours of the day minus the hours you are asleep and have no access to any concious behaviors while your strengths build and repair.
%p Some people are more sensitive to light and others more sensitive to temperature.
%p BipolarType derived your sensitivity based on your type, but feel free to change it if you live in an environment full of artificial lights and air conditioning.
%table
  %tr
    %th.third
    -Phase.each do |phase|
      %th #{phase.hour} • #{phase.season}
  -Avian.each do |avian|
    %tr
      %th
        =link_to avian.name, type_path([@path, avian.symbol].join('•'))
        .small.unbold.left=avian.description
      -Phase.each do |phase|
        %td=[avian.hours(phase), avian.months(phase)].join(' • ')

