-content_for(:title, @subtype.symbol)
%h2=display(transform(@subtype, :titleize))

%p=render 'layouts/show_form'
-if @show
  %p
    You are
    =ly(@subtype)
    passive by nature. As a child, you had many requirements to get
    =display(@subtype.thing)
    energy, and learned to use more
    =display(@subtype.thing)
    strength than you wanted (e.g. start
    =display(transform(@subtype.problem, :ing))
    before you felt
    =ly(@subtype)
    full) in order to remain balanced.
  %p
    At some point, your requirements to get
    =display(@subtype.thing)
    energy decreased dramatically, and you started to lose
    =display(@subtype.thing)
    reserves.
  %p
    Instead of using less
    =display(@subtype.thing)
    strength to balance the decreased intake of
    =display(@subtype.thing)
    energy (which would have required unlearning your previous habit), you tried to fight your nature and return to your previous intake of
    =display(@subtype.thing)
    energy.
  %p
    Unless the original requirements to get
    =display(@subtype.thing)
    energy reoccur, you will be in a
    %em constant
    fight against your natural instincts and will probably require sedatives in order to keep
    =display(transform(@subtype.herring, :ing)).period
  %p
    A better solution is to just use less
    =display(@subtype.thing)
    strength.
%p=render 'advice', subtype: @subtype, help: @subtype.help.flip

%table
  %caption
    %h2 Strategy
  %tr
    -help = Help.all.first
    %th=help.cycle_name
    %td.left.bold
      You will start to
      =display(@subtype.problem)
      %em before
      you should
      =display(help)
      things.
    %td.left
      You will start
      =display(transform(@subtype.problem, :ing))
      %em long
      before you cannot
      =display(transform(help.opposite, :any_more)).period
      Unless and until you are given
      %em permission
      to wait.

  %tr
    -help = Help.all.second
    %th=help.cycle_name
    %td.left
      You will start to
      =display(@subtype.herring)
      when you should
      =display(help)
      things.
    %td.left
      Using sedatives to force yourself to start
      =display(transform(@subtype.herring, :ing))
      sooner will
      %em work,
      but so will giving yourself permission to
      %b
        not start
        =display(transform(@subtype.problem, :ing)).bang

  %tr
    -help = Help.all.third
    %th=help.cycle_name
    %td.left
      You will stop
      =display(transform(@subtype.herring, :ing))
      when you should
      =display(help)
      things.
    %td.left
      Using sedatives to force yourself to keep
      =display(transform(@subtype.herring, :ing))
      longer won’t actually get more things
      =display(transform(help.opposite, :en)).comma
      as you will also
      %em start
      later.


  %tr
    -help = Help.all.fourth
    %th=help.cycle_name
    %td.left
      You will stop
      =display(transform(@subtype.problem, :ing))
      when you should
      =display(help)
      things.
    %td.left
      You aren’t
      =display(@subtype)
      because you won’t stop
      =display(transform(@subtype.problem, :ing)).semi
      you are
      =display(@subtype)
      because
      %em start
      =display(transform(@subtype.problem, :ing))
      too soon.
