- content_for(:title, Imbalance.title)

%p There are two kinds of imbalances, each associated with one of the two episodes in the bipolar cycle. If you cycled between the two actions equally, you would  remain balanced over time. Most people do not cycle equally and have to learn to compensate for their natural tendencies.

%table
  %tr
    -Imbalance.each do |imbalance|
      %td=render 'cookie', thing: imbalance

%p BipolarType asserts that any imbalance gets worse during every cycle until it is a real problem which must be solved. Note: you cannot look at someone else and know what their problems are, because they may have solved it already or be overcompensating for their natural imbalance.

%table
  %caption
    %h2
      8 Problems
      .plain A focused imbalance creates a potential problem.
  -Focus.each do |focus|
    %tr
      -Imbalance.each do |imbalance|
        %td=render 'cookie', thing: imbalance + focus

