- content_for(:title, Imbalance.title)


%table
  %tr
    -Imbalance.each do |imbalance|
      %td=render 'cookie', thing: imbalance

%p A focused imbalance creates a problem.

%table
  %caption
    %h2 8 Problems
  -Focus.each do |focus|
    %tr
      -Imbalance.each do |imbalance|
        %td=render 'cookie', thing: imbalance + focus

