- content_for(:title, 'The 24 BipolarTypes')
%dl
  -Type.all.sort.each do |type|
    %dt=link_to type.name, type_path(type.path)
    %dd Do not #{type.disses.collect{|d| d.eg.split('.').first.downcase}.or}
