- content_for(:title,'All Types')
%h2 There are 24 possible BipolarTypes (4!).
%table
  %tr
    %th
    -Phase.linear.each_with_index do |q, index|
      %th=link_to_unless index == @qi, "sort by #{q.mbti}", types_path(sort: q.mbti)
  -@types.each_with_index do |type, index|
    %tr
      %th=link_to type.index, type_path(type.path)
      -type.dominants.each do |behavior|
        =td behavior, 'bottom', 'left'
