- content_for(:title, 'The 24 BipolarTypes')
%table.none
  %tr
    %th
    -Type.generic.disses.each do |dis|
      %th=link_to dis.display, subtype_path(dis.path)
  -Type.all.sort.each do |type|
    %tr
      %th=link_to type.name, type_path(type.path)
      -type.disses.each do |dis|
        %td.bordered
          =link_to dis.display, subtype_path(dis.path), target: '_blank', class: 'blank'
          %br
          Do not #{dis.triplet.eg.downcase}.
