- content_for(:title,'All Types')
%h2 There are 24 possible BipolarTypes (4!).
%table
  %tr
    %th
    -Phase.all.each_with_index do |phase, index|
      %th{class: cookies['state_colors'].present? ? nil : phase.css}
        =link_to_unless index == @sort_index, phase.name, types_path(sort: index)
  -@types.each_with_index do |type, index|
    %tr
      %th=link_to type.index, type_path(type.path)
      -type.functions.each_with_index do |function, index|
        -case index
        -when 0, 2
          =manic function, true
        -when 1, 3
          =depressed function, true
