- content_for(:title,'All Types')
%h2 There are 24 possible BipolarTypes (4!).
%table
  %tr
    %th
    -Phase.linear.each_with_index do |phase, index|
      -link=link_to_unless index == @linear_index, "sort by #{phase.mbti}", types_path(sort: phase.mbti)
      %th=phase_span(phase, link)
  -@types.each_with_index do |type, index|
    %tr
      %th=link_to type.index, type_path(type.path)
      -type.compulsions.each do |behavior|
        =td behavior, 'bottom', 'left'
