- content_for(:title, 'My BipolarType')
%p.center
  %b Use Logic and Listen to the Music
%table
  %tr
    %th.half{colspan:2} Fight/Flight Strength
    %th.half{colspan:2} Feed/Breed Endurance

  %tr

    %td.quarter
      %p Natural financial strength means it’s easier for you to collect investment income than wages and easier for you to use credit than cash.

    %td.quarter
      %p Natural mental strength means it’s easier for you to zoom out on the bigger picture than zoom in on the colorful details and easier for you to use logic than intuition.

    %td.quarter
      %p Natural physical endurance means it’s easier for you to eat sweets than savories and easier for you to walk long distances than lift heavy weights.

    %td.quarter
      %p Natural affective endurance means it’s easier for you to listen to the music than the words and easier for you to express emotion than to write.

  %tr

    %td
      %p Assuming that you’re trying to gain financial reserves, you want to focus on the the income that is easier for you and the expenditures that are harder for you so that you will earn more and spend less.

    %td
      %p Assuming that you’re trying to lose mental reserves in order to gain financial reserves, you want to focus on the thoughts that are easier for you and the sights that are harder for you so that you will think more and watch less.

    %td
      %p Assuming that you’re trying to lose physical reserves, you want to focus on the movements that are easier for you and the diet that is harder for you so that you will exercise more and eat less.

    %td
      %p Assuming that you’re trying to gain affective reserves in order to lose physical reserves, you want to focus on the sounds that are easier for you and the communication that is harder for you so that you will listen more and talk less.

  %tr

    %td
      %p So allow yourself to collect investment income instead of forcing yourself to collect wages.
      %p But force yourself to use cash instead of allowing yourself to use credit.

    %td
      %p So allow yourself use logic instead of forcing yourself to use intuition.
      %p But force yourself to zoom in on the colorful details instead of allowing yourself to zoom out on the bigger picture.

    %td
      %p So allow yourself to walk long distances instead of forcing yourself to lift heavy weights.
      %p But force yourself to eat savory proteins instead of allowing yourself to eat sweet carbs.

    %td
      %p So allow yourself to listen to the music instead of forcing yourself to listen to the words.
      %p But force yourself to write instead of allowing yourself to express emotion.

