- content_for(:title, 'My BipolarType')
%h2 Listen to Music
%ol
  %li
    Listen sooner. Listen all day long. If you have to stop, listen again
    %em later.
  %li Do not stop listening to music just because listening to opinions makes you feel suicidal. Music will make you feel better, not worse.
  %li Listen until you no longer feel depressed, you stop binging on carbs, and you actually want to move.
  %li
    If you want to eat but are not willing to eat protein, then
    %em listen to music;
    you don’t need calories, you need
    %em affect.
  %li Don't force yourself to do heavy physical labor if you can walk instead. Being able to eat more will not be worth the pain. Just walk and walk and then walk some more.
  %li Even after you have attained balance in the physical realm, you still need to listen to music in order to remain awake and alert during the day.

%h2 Close your Eyes
%ol
  %li
    Close your eyes sooner. Keep them closed all night long. If you have to open them, close them again
    %em later.
  %li Do not keep your eyes open just because zooming out makes you feel safer. Closing them will make you feel better, not worse.
  %li Close them until you no longer feel manic, you stop splurging with credit, and you actually want to earn money.
  %li
    If you want to buy but are not willing to spend cash, then
    %em close your eyes;
    you don’t have too much money, you have too much
    %em information.
  %li Don't force yourself to collect wages if you can collect investment income. Being able to soend more will not be worth the pain. Just invest and invest and then invest some more.
  %li Even after you have attained balance in the financial realm, you still need to close your eyes in order to remain asleep and calm during the night.
