- content_for(:title, 'My BipolarType')
%h2 Listen to Music
%ol
  %li
    Listen sooner. Listen all day long. If you have to stop, listen again
    %em later.
  %li Listen until you no longer feel depressed, you stop binging on carbs, and you actually want to move.
  %li
    If you want to eat but are not willing to eat protein, then
    %em listen to music;
    you don’t need calories, you need
    %em affect.
  %li Don't force yourself to lift heavy weights if you can walk long distances. Being able to eat more will not be worth the pain. Just walk and walk and then walk some more.

%h2 Close your Eyes
%ol
  %li
    Close your eyes sooner. Keep them closed all night long. If you have to open them, close them again
    %em later.
  %li Close them until you no longer feel manic, you stop splurging with credit, and you actually want to collect.
  %li
    If you want to buy but are not willing to spend cash, then
    %em close your eyes;
    you don’t have too much money, you have too much
    %em information.
  %li Don't force yourself to collect wages if you can collect investment income. Being able to spend more will not be worth the pain. Just invest and invest and then invest some more.
