- content_for(:title, 'My Mom’s BipolarType')
%p.center
  %b Use Intuition and Listen to the Words
%table
  %tr
    %th.half{colspan:2} Fight/Flight Endurance
    %th.half{colspan:2} Feed/Breed Strength
  %tr

    %td.quarter
      %p Natural financial endurance means it’s easier for you to collect wages than investment income and easier for you to use cash than credit.
    %td.quarter
      %p Natural mental endurance means it’s easier for you to zoom in on the colorful details than zoom out on the bigger picture and easier for you to use intuition than logic.
    %td.quarter
      %p Natural physical strength means it’s easier for you to eat savories than sweets and easier for you to lift heavy weights than walk long distances.
    %td.quarter
      %p Natural affective strength means it’s easier for you to listen to the words than the music and easier for you to write than express emotion.
  %tr

    %td
      %p Assuming that you’re trying to gain financial reserves, you want to focus on the the income that is easier for you and the expenditures that are harder for you so that you will earn more and spend less.

    %td
      %p Assuming that you’re trying to lose mental reserves in order to gain financial reserves, you want to focus on the thoughts that are easier for you and the sights that are harder for you so that you will think more and watch less.

    %td
      %p Assuming that you’re trying to lose physical reserves, you want to focus on the movements that are easier for you and the diet that is harder for you so that you will exercise more and eat less.

    %td
      %p Assuming that you’re trying to gain affective reserves in order to lose physical reserves, you want to focus on the sounds that are easier for you and the communication that is harder for you so that you will listen more and talk less.

  %tr

    %td
      %p So allow yourself to collect wages instead of forcing yourself to collect investment income.
      %p But force yourself to use credit instead of allowing yourself to use cash.

    %td
      %p So allow yourself use intuition instead of forcing yourself to use logic.
      %p But force yourself to zoom out on the bigger picture instead of allowing yourself to zoom in on the colorful details.

    %td
      %p So allow yourself to lift heavy weights instead of forcing yourself to walk long distances.
      %p But force yourself to eat sweet carbs instead of allowing yourself to eat savory proteins.

    %td
      %p So allow yourself to listen to the words instead of forcing yourself to listen to the music.
      %p But force yourself to express emotion instead of allowing yourself to write.
