%p Your natural rhythms are impacted by central heating, air conditioners, and artificial lights; choose whichever seems closest to your seasonal cycle. Choose the iNVERTED option if you are below the equator.

%table
  %tr
    %th
    -Phase.each do |phase|
      %th.fifth
        #{phase.season} (#{phase.episode})<br />or<br />#{phase.opposite.season} (#{phase.opposite.episode})

  -Months[0,5].each do |avian|
    %tr
      %th
        =link_to avian.name, type_path(@type.set_months(avian))
        or
        =link_to avian.under.name, type_path(@type.set_months(avian.under))
        .small.unbold.left=avian.description
      -Phase.each do |phase|
        %td=avian.range(phase)
