- content_for(:title, Mood.title)

%table
  %caption
    %h2 Moods
  %tr
    -Mood.each do |mood|
      %td=render 'cookie', thing: mood

%table
  %caption
    %h2 Focused Moods
  -Focus.each do |focus|
    %tr
      -Mood.each do |mood|
        %td=render 'cookie', thing: mood + focus

