-unless @answer.behaviors.empty?
  %dl.hz
    %dt Previously chosen
    -@answer.behaviors.each do |behavior|
      %dd #{behavior.episode}: #{behavior.name}
%br
%table
  %caption Choose your most compulsive and unbalancing behavior
  -@answer.available_behaviors.each do |row|
    %tr
      -row.each do |behavior|
        %td.top

          =link_to behavior.episode, answer_path(@answer.next(behavior))
          =render behavior.example_path

%p.note Note: you cannot type someone else. Even if you know what their current behaviors are, you have little way of knowing if they are natural behaviors or nurtured reversals or displacers of natural imbalances. 