%h2=@phase.episode

-unless @answer.behaviors.empty?
  %dl.chosen
    %dt Previously chosen
    -@answer.behaviors.each do |behavior|
      %dd #{behavior.episode}: #{behavior.name}

-@phase.behaviors.each do |behavior|
  -if @answer.free?(behavior)
    .div{class: @answer.css(behavior)}

      -if @answer.number == 4 && @answer.free?(behavior)
        .center.red If the following is not true, you might as well go back and try again.

      .center
        It is
        %em easier
        for me to
        %span.green #{behavior.name}
        than
        %span.red #{behavior.opposite.name}
      %table
        %tr
          %th=link_to_if @answer.free?(behavior), behavior.name, answer_path(@answer.next(behavior))
          %th=behavior.opposite.name
        %tr
          %td.green=render behavior.example_path
          %td.red=render behavior.opposite.example_path
    %br

%p.heading=render 'behaviors/improvements'
