%table
  -@phase.behaviors.each do |behavior|
    %tr
      %td
        %h2 #{behavior.name}
        Example behaviors:
        =link_to "#{render behavior.examples_path}".html_safe, behavior.path, class: 'internal'
        .clear
        %br
        =link_to behavior.episode, behavior.answer_path
        %br
        =behavior.natural_state.wrap
        .left #{behavior.words.ing.capitalize} is easy, but #{behavior.opposite.words.ing} is hard.
