%table
  -@phase.behaviors.each do |behavior|
    %tr
      %td
        %h2 #{behavior.name}
        =link_to behavior.path, class: 'internal' do
          =render behavior.example_path
        =render 'episode', behavior: behavior
