%table
  -@phase.behaviors.each do |behavior|
    %tr
      %td
        %h2 #{behavior.name}
        =render behavior.example_path
        =render 'episode', behavior: behavior

%p.heading=render 'behaviors/improvements'
