-content_for(:title, @title)

%h2=@title
%center=render 'layouts/tldr_button'

%table
  -Attitude.all.values_at(1,2).each do |attitude|
    %tr
      %th{colspan:4}=display(transform(attitude, :capitalize))
    %tr
    -Realm.each do |realm|
      %th=display(transform(realm, :capitalize))
    %tr
      -Realm.each do |realm|
        -subtype = realm + attitude
        %td
          -unless @answer.taken?(subtype)
            =link_to display(subtype), answer_path(@answer.next(subtype.symbol))
            -if @show
              .left=render subtype.attitude.symbol, realm: subtype.realm

%center=render 'layouts/tldr_button'

-if Rails.env.development?
  =@answer.taken
