-content_for(:title, "Question ##{@answer.number} of 7")
%p.heading=@answer.behaviors.map(&:symbol).join("•")

%p
  Of the following, I
  =@answer.number == 7 ? "more" : "most"
  %em want to
  (not “should”):
  -@answer.behaviors.each do |b|
    %br
    -case @answer.number
      -when 5
        =link_to b.opposite.eg, answer_path(@answer.next(b))
      -when 6
        =link_to b.balancer.eg, answer_path(@answer.next(b))
      -when 7
        =link_to b.displacer.eg, answer_path(@answer.next(b))
  %br
