- content_for(:title, 'Problems')

%table
  %tr
    %th
    %th P (receptive)
    %th J (productive)
  %tr
    %th E (depression)
    %td
      %p.italic EP (receptive depression)

      %p.left I have a long list of things I want to receive, but require caffeine or other stimulants in order to produce the few things I need to change.


    %td
      %p.italic EJ (productive depression)

      %p.left I have a short list of things I need to receive, but require caffeine or other stimulants in order to produce the many things I want to change.

  %tr
    %th I (mania)
    %td
      %p.italic IP (receptive mania)

      %p.left I have a short list of things I need to produce, but require alcohol or other sedatives in order to receive the many things I want to accept.

    %td
      %p.italic IJ (productive mania)

      %p.left I have a long list of things I want to produce, but require alcohol or other sedatives in order to receive the few things I need to accept.
