- content_for(:title, Problem.title)


%table
  %caption
    %h2 The Sixteen Problems
  -Problem.all.sort_by(&:pair).in_groups_of(4).each do |row|
    %tr
      -row.each do |problem|
        %td.left.bordered=render 'cookie', thing: problem
