-content_for(:title, @title)

%h2=@title

%p As an adolescent / young adult, I was most apt to die because I was…
%ul
  -Function.each do |function|
    %li
      =link_to function.death, answer_path(@answer.next(function.symbol))
      =function.run_out.ed.wrap
