-content_for(:title, @title)

%h2=@title

%ul
  -@answer.pair.each do |pair|
    %li
      =pair.first.symbol
      &
      =link_to pair.second.symbol, answer_path(@answer.next(pair.map(&:symbol).join))
