- content_for(:title, @title)
%h2=@title

-@answer.pair.each do |pair|
  -s1 = pair.first + Tendency.ij
  -s2 = pair.second + Tendency.ep

  %h3
    =link_to answer_path(@answer.next(pair.map(&:symbol).join)) do
      =tendency s1
      &
      =tendency s2
  =render 'q', subtype: s1
  %br <em>and</em>
  =render 'q', subtype: s2