- content_for(:title, 'The Four Realms')

%p Bipolar disorder (previously known as Manic Depression) is usually defined as a Mental (cognitive) or Affective (mood) disorder. 
%p BipolarType adds Physical (caloric) and Financial (monetary) realms of behavior as well. 


-Realm.all.each do |realm|
  =render 'cycle', realm: realm
