- content_for(:title, 'Realms')



%h2 Attitudes by Realm
%ul.none
  -Realm.each do |realm|
    %li
      =link_to display(transform(realm, :titleize)), realm_path(realm.string)
      -if @more
        =Words[realm.string + '-alt']


%h2 Realms by Attitude

%ul.none
  -Attitude.each do |attitude|
    %li
      =link_to display(transform(attitude, :titleize)), attitude_path(attitude.string)
      -if @more
        =Words[attitude.string + '-alt']
.center=render 'layouts/more'
