- content_for(:title, "The #{@realm.name} Realm")

=render 'cycle',
  chunks: @realm.behaviors.each.collect {|b| "#{render 'behavior', behavior: b}".html_safe}

%p.heading=render 'behaviors/improvements'
