- content_for(:title, 'The Four Realms')

%p Bipolar disorder (previously known as Manic Depression) is usually defined in terms of Mental (cognitive) or Affective (mood) cycling. BipolarType adds Physical (caloric) and Financial (monetary) cycles.

.center
  -Realm.each do |realm|
    =link_to realm.symbolic_name, realm_path(realm.path)


