- content_for(:title, 'Realms')

=form_with method: :get do |form|
  =render 'functions', form: form

  %p Change the words to something more meaningful or useful to you. You will be able to switch between yours and the originals by toggling 'Changed Words'.

  %p
    If you want to see my words, you can
    =form.submit 'Load Words'
    (if you want to use them, you will have to save them)

  %p
    You can reset a single word by saving a blank entry or you can
    =form.submit 'Reset All Words'

  %p If you want to save your changes between browser sessions, you will need to bookmark this page after saving (your changes will be in the URL).
