- content_for :title, @realm.name

=render "realm_links"

%table
  %tr
    %th
    %td.none{colspan:2} Bad #{@realm.name}<br />(Stressful/Interesting)
    %th
  %tr
    %th
    %td.none.left anxious
    %td.none.right irritated
    %th
  %tr
    %td.right.top.none flight
    %th=cookies[(@realm+Attitude.TL).tla] || @realm.use_energy
    %th=cookies[(@realm+Attitude.TR).tla] || @realm.use_strength
    %td.left.none.top fight
  %tr
    %td.none{rowspan:2} The #{@realm.name}<br />(Avoidable)
    %td.none.top{colspan:2}=@realm.use
    %td.none{rowspan:2} My #{@realm.name}<br />(Controllable)
  %tr
    %td.none.bottom{colspan:2}=@realm.get
  %tr
    %td.right.bottom.none digest
    %th=cookies[(@realm+Attitude.BL).tla] || @realm.energy
    %th=cookies[(@realm+Attitude.BR).tla] || @realm.strength
    %td.left.none.bottom rest
  %tr
    %th
    %td.none.left hungry
    %td.none.right tired
    %th
  %tr
    %th
    %td.none{colspan:2} Good #{@realm.name}<br />(Safe/Boring)
    %th
