- content_for :title, @realm.name

.center.bold=Realm.all.map{|r| link_to_unless(r == @realm, r.name, realm_path(r.string))}.join(' | ').html_safe

%table
  %caption
    %h2 The Cycle
  %tr
    %td.none
    %th{colspan:2}=@realm.use.capitalize
    %td.none
  %tr
    %td.none=display(@realm+Attitude.TL)
    %th{colspan:2}
    %td.none=display(@realm+Attitude.TR)
  %tr
    %th
    %th{colspan:2}
    %th
  %tr
    %th #{@realm.aka} Energy
    %th{colspan:2} &orarr;
    %th #{@realm.aka} Strength
  %tr
    %th
    %td.none{colspan:2}
    %th
  %tr
    %td.none=display(@realm+Attitude.BL)
    %th{colspan:2}
    %td.none=display(@realm+Attitude.BR)
  %tr
    %th
    %th{colspan:2}=@realm.get.first_word.capitalize
    %th

%table
  %caption
    %h2 The Episodes
  %tr
    %td
      .bold=(@realm+Attitude.TL).episode
      %p=display(@realm+Attitude.TL).too_much
    %td
      .bold=(@realm+Attitude.TR).episode
      %p=display(@realm+Attitude.TR).too_much
  %tr
    %td
      .bold=(@realm+Attitude.BL).episode
      %p=display(@realm+Attitude.BL).too_much
    %td
      .bold=(@realm+Attitude.BR).episode
      %p=display(@realm+Attitude.BR).too_much
