- content_for :title, @realm.name

%h2
  -Realm.each do |realm|
    =link_to_unless_current realm.name, realm_path(realm.string)
    ="|" unless realm==Realm.fourth

%table
  %tr
    %th
      The Bad #{@realm.name}
      .plain (avoid them)
    %th{colspan:2}
    %th
      My Bad #{@realm.name}
      .plain (fix them)
  %tr
    %th
    %td.none.left anxious
    %td.none.right irritated
    %th
  %tr
    %td.right.top.none flight
    %th=display(@realm+Attitude.TL)
    %th=display(@realm+Attitude.TR)
    %td.left.none.top fight
  %tr
    %td.right.bottom.none digest
    %th=display(@realm+Attitude.BL)
    %th=display(@realm+Attitude.BR)
    %td.left.none.bottom rest
  %tr
    %th
    %td.none.left empty
    %td.none.right tired
    %th
  %tr
    %th
      The Good #{@realm.name}
      .plain (enjoy them)
    %th{colspan:2}
    %th
      My Good #{@realm.name}
      .plain (rely on them)

%h3 The energetic subtypes
%p
  Energetic subtypes know instinctively when they are empty and need to find new
  =@realm.foci
  so they can
  =display(@realm + Attitude.BL)
  and when they are anxious and need to stop
  =@realm.get.first_word.ing
  and
  =display(@realm + Attitude.TL).period
%p
  They can be taught to
  =display(@realm + Attitude.TR).make_theirs
  and to
  =display(@realm + Attitude.BR).make_theirs.period
  But not when to stop one and start the other.

%h3 The strong subtypes
%p
  Strong subtypes know instinctively when their
  =@realm.foci
  are bad enough to fix, and when they themselves are tired enough to find old ones to
  =@realm.get
  and rely on.
%p
  They can be taught to
  =display(@realm + Attitude.BL).make_theirs
  and to
  =display(@realm + Attitude.TL).make_theirs.period
  But not when to stop one and start the other.
