- content_for(:title, 'The Responses')


%table
  %caption
    %h2 Normal Responses
  %tr
    -quadrant = Quadrant.ep
    %td.bottom{class: quadrant.class}
      %h3=quadrant.short
      =quadrant.symbolic_name
    %th
      =link_to 'SNS Response', 'https://en.wikipedia.org/wiki/Sympathetic_nervous_system', class: 'external'
      %div Danger
      &rlarr;
    -quadrant = Quadrant.ej
    %td.bottom{class: quadrant.class}
      %h3=quadrant.short
      =quadrant.symbolic_name

  %tr
    %th Fast &udarr;
    %th
    %th &udarr; Strong


  %tr
    -quadrant = Quadrant.ip
    %td.bottom{class: quadrant.class}
      =quadrant.symbolic_name
      %h3=quadrant.short
    %th
      &rlarr;
      %div Exhaustion
      =link_to 'PSNS Response', 'https://en.wikipedia.org/wiki/Parasympathetic_nervous_system', class: 'external'
    -quadrant = Quadrant.ij
    %td.bottom{class: quadrant.class}
      =quadrant.symbolic_name
      %h3=quadrant.short

%table
  %caption
    %h2 Bipolar Responses
  %tr
    %th{colspan:2}=link_to 'Mania', 'https://en.wikipedia.org/wiki/Mania', class: 'external'
  %tr
    =render 'bipolar', quadrant: Quadrant.ep
    =render 'bipolar', quadrant: Quadrant.ej
  %tr
    =render 'bipolar', quadrant: Quadrant.ip
    =render 'bipolar', quadrant: Quadrant.ij
  %tr
    %th{colspan:2}=link_to 'Depression', 'https://en.wikipedia.org/wiki/Depression_(mood)', class: 'external'
