- content_for(:title, 'The Seasons')

%table
  %tr
    %td.bottom
      %h3
        2ndQ Compulsion:
        =render 'answer_link', subtype: Subtype.exp4
        .unbold=Behavior.ep.symbolic_name
    %td
      %h2 Summer
      %p.left Time is balanced between 2nd and 3rd Quarter activities with short time-outs for necessary 1st and 4th Quarter activities.
    %td.bottom
      %h3
        3rdQ Compulsion:
        =render 'answer_link', subtype: Subtype.exj4
        .unbold=Behavior.ej.symbolic_name
  %tr
    %td
      %h2 Spring
      %p.left Time is balanced between 1st and 2nd Quarter activities with short time-outs for necessary 3rd and 4th Quarter activities.
    %td
    %td
      %h2 Autumn
      %p.left Time is balanced between 3rd and 4th Quarter activities with short time-outs for necessary 1st and 2nd Quarter activities.
  %tr
    %td.top
      %h3
        1stQ Compulsion:
        =render 'answer_link', subtype: Subtype.ixp4
        .unbold=Behavior.ip.symbolic_name
    %td
      %h2 Winter
      %p.left Time is balanced between 4th and 1st Quarter activities with short time-outs for necessary 2nd and 3rd Quarter activities.
    %td.top
      %h3
        4thQ Compulsion:
        =render 'answer_link', subtype: Subtype.ixj4
        .unbold=Behavior.ij.symbolic_name
