- content_for(:title, 'Seasonal Variations')

%table
  %tr
    %td{colspan: 2}
      %h2 Summer (E)
      %p.left During the Summer, there may be up to four cycles as the days are longer.
      %p.left During each cycle, more time is spent on 2nd and 3rd Quarter activities (BurnEnergy and UseStrength) and less on 1st and 4th Quarter activities (GetEnergy and RecoverStrength).
  %tr
    %td
      %h2 Spring (P)
      %p.left During the Summer, there are the typical three full cycles.
      %p.left During each cycle, more time is spent on 1st and 2nd Quarter activities (GetEnergy and BurnEnergy) and less on 3rd and 4th Quarter activities (UseStrength and RecoverStrength).
    %td
      %h2 Autumn (J)
      %p.left During the Autumn, there are the typical three full cycles.
      %p.left During each cycle, more time is spent on 3rd and 4th Quarter activities (UseStrength and RecoverStrength) and less on 1st and 2nd Quarter activities (GetEnergy and BurnEnergy).
  %tr
    %td{colspan: 2}
      %h2 Winter (I)
      %p.left During the Winter, there may be only two cycles as the days are shorter.
      %p.left During each cycle, more time is spent on 1st and 4th Quarter activities (GetEnergy and RecoverStrength) and less on 2nd and 3rd Quarter activities (BurnEnergy and UseStrength).
