- content_for(:title, 'Serenity')

%h2 The Serenity Prayer
%p.italic.center Help me CARE

%ul.none
  -Help.all.each do |help|
    %li <b>#{help.verb.first.capitalize}</b>#{help.verb.chip} the things that should be #{help.verb.en}
