- content_for(:title, 'Serenity')

%h2 The (modified) Serenity Prayer

%p.italic Help me change things if and only if they should be changed and accept things if and only if they should be accepted.

%table
  %tr
    %th Accept things
    %th Change things
  %tr
    %td
      IP
      .left Help me accept the things that should be accepted
    %td
      EJ
      .left Help me change the things that should be changed
  %tr
    %td
      EP
      .left Help me refuse the things that should not be accepted
    %td
      IJ
      .left Help me tolerate the things that should not be changed

%p Note: tolerating things (i.e. not changing them) is <em>not</em> the same as accepting them.
