- content_for(:title, 'Serenity')

%h2 The Serenity Prayer
%p.italic.center Help me CARE

%ul.none
  -Help.all.each do |help|
    %li <b>#{help.verb.first.capitalize}</b>#{help.verb.chip} the things I should #{display(help)}

%p Stress is forcing yourself to CARE either when you don’t actually need to CARE, or when it would be much easier to CARE at a different time.

.center=render 'layouts/show_form'
-if @show
  %h2 When things go wrong
  %table
    -Help.all.each do |help|
      %tr
        %th
          =help.season.capitalize
          =help.episode
        %td.left
          You are
          =display(transform(help, :ing))
          things that you should
          %em=display(help.opposite).bang
        %td.left
          It is
          =help.season.semi
          you
          %em will
          =display(help)
          things. There are things that you can and should
          =display(help).period
          =display(transform(help, :capitalize))
          %em them!
        %td.left
          You may have the
          %em ability
          to
          =display(help)
          things, but if
          =display(transform(help, :ing))
          them will harm you then
          %em=display(help.opposite)
          them.

  .center=render 'layouts/settings_form', skip: 'things'

