- content_for(:title, 'Serenity')

%h2 The (modified) Serenity Prayer

%p.italic Help me change things if and only if they should be changed and accept things if and only if they should be accepted.

%table
  %tr
    %th Too strong (Up &uarr;)
  %tr
    %td.left Help me tolerate the things that should not be changed
  %tr
    %th Too fat (Down &darr;)
  %tr
    %td.left Help me refuse the things that should not be accepted
  %tr
    %th Too thin (NotDown &not;&darr;)
  %tr
    %td.left Help me accept the things that should be accepted
  %tr
    %th Too weak (NotUp &not;&uarr;)
  %tr
    %td.left Help me change the things that should be changed

