- content_for(:title, 'Serenity')

%h2 The (modified) Serenity Prayer
%p.italic.center Accept or Change is a #{link_to 'false dichotomy', 'https://en.wikipedia.org/wiki/False_dilemma', class: 'external'}.


%table
  %tr
    %th Spring Mania (Change &uarr;)
  %tr
    %td.left Help me endure the things that should not be changed
  %tr
    %th Summer Depression (Accept &darr;)
  %tr
    %td.left Help me refuse the things that should not be accepted
  %tr
    %th Fall Mania (Refuse &not;&darr;)
  %tr
    %td.left Help me accept the things that should be accepted
  %tr
    %th Winter Depression (Endure &not;&uarr;)
  %tr
    %td.left Help me change the things that should be changed


