- content_for(:title, @name)
%table
  %tr
    -@subtypes.each do |subtype|
      %th.quarter=link_to subtype.name, subtype_path(subtype.path)
  %tr
    -@subtypes.each do |subtype|
      %td.p=render "problem", subtype: subtype
  %tr
    -@subtypes.each do |subtype|
      %td.p=render "choice", subtype: subtype
  %tr
    -@subtypes.each do |subtype|
      %td.p=render "solution", subtype: subtype
