- content_for(:title, @name)
.center
  %h1=@name
%h2 Behaviors related to #{@subtype.display}
%h3 Before and after in the cycle
.center
  -@subtype.cycle.subtypes.each_with_index do |adjacent, index|
    ='&rArr;'.html_safe unless index == 0
    %span{class: adjacent.class, title: adjacent.clear_name}=link_to adjacent.display, subtype_path(adjacent.path), target: '_blank', class: 'blank'

%h2 Examples of #{@subtype.triplet.name}
%p=@subtype.examples

%h2 #{@subtype.state.name} Considerations
%p=@subtype.considerations

-if @subtype.state.distress? && @subtype.behavior.last?
  %p
    Unless it is bedtime, in which case
    =@subtype.stop
    and go to sleep!

