- content_for(:title, @name)
=render "header"
%table
  %caption.heading The Four Subtypes
  %tr
    %th.narrow
    -@subtypes.each do |subtype|
      %th.quarter=link_to subtype.name, subtype_path(subtype.path)
  -%w{attitude manic depressed neither}.each do |word|
    %tr
      %th=word.capitalize
      -@subtypes.each do |subtype|
        %td.p=render word, subtype: subtype
