- content_for(:title, @name)
.center
  %h1=@name
%h2 Behaviors related to #{@subtype.display}
%h3 Before and after in the cycle
.center
  -@subtype.adjacents.each_with_index do |adjacent, index|
    ='&rArr;'.html_safe unless index == 0
    %span{class: adjacent.class, title: adjacent.clear_name}=link_to adjacent.display, subtype_path(adjacent.path)

%h3 Healthy behaviors in the same quadrant
.center
  -@subtype.siblings.each do |sibling|
    %span{class: sibling.class, title: sibling.clear_name}=link_to sibling.display, subtype_path(sibling.path)

%h2 Examples of #{@subtype.triplet.name}
%p=@subtype.eg

%h2 #{@subtype.position.name} Considerations
%p=@subtype.considerations

-if @subtype.position.inferior? && @subtype.behavior.last?
  %p
    Unless it is bedtime, in which case
    =@subtype.stop
    and go to sleep!

