- content_for(:title, 'The Theory')
%p Extroverts perceive abundance (the glass is half full) and consume more. After consuming more they have more energy and produce more.
%p Introverts perceive scarcity (the glass is half empty) and consume less. After consuming less they have less energy and produce less.
%p Perceptives feel guilty about how much they consume.
%p Judgers feel guilty about how much they produce.
%p
  This leads to four attitudes:
  %table.wide
    %tr
      %td.left EPs feel guilty when they consume too much
      %td.left EJs feel guilty when they produce too much
    %tr
      %td.left IPs feel guilty when they don’t consume enough
      %td.left IJs feel guilty when they don’t produce enough
%p The MBTI&reg; tells you not to feel guilty or defensive. I’m okay and you’re okay. Neither of us is better or worse, we’re just different.
%p BipolarType tells you how to change. When your guilt is stronger than your willpower. When you hate yourself but cannot change your behaviors. When you are tired of accepting yourself as different, and just want to feel normal for a little while.
%p
  What are the four problems that
  =link_to "you", answer_path(Answer.first_path)
  want to solve?
%p
  Or, choose from the list of
  =link_to "all sixteen problems", subtypes_path
  if you only want to solve one
