- content_for(:title, @type.symbol)
.center
  %h1.center=@type.symbol
=render 'stressed', subtypes: @type.subtypes,
         caption: @dominant.name

%dl
  -%w{dominant auxiliary tertiary inferior}.each do |index|
    %dt=index.capitalize
    %dd=@type.send(index).name
