- content_for(:title, @name)
%p.center=render "header"
%table
  %tr
    %th
    -@subtypes.each do |subtype|
      %th.quarter=link_to subtype.name, subtype_path(subtype.path)
  -%w{problem }.each do |partial|
    %tr
      %th=partial.capitalize
      -@subtypes.each do |subtype|
        %td.p=render partial, subtype: subtype
