- content_for(:title, "#{@name}")
=render "realms/links"
=render "attitudes/links"
%table
  %caption
    %h2 Subtypes
  -@subtypes.in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td.top.half
          -I18n.locale = subtype.locale
          =subtype.name
          %p.heading=render subtype.loc
          =render "advice/#{subtype.loc}"
