- content_for(:title, 'The Theory')
%h2=link_to "The Four Realms", realms_path
%p.center There are four realms of behavior, each centered around a different type of energy.
=render "realms/links"
%h2=link_to "The Four Attitudes", attitudes_path
%p.center There are four attitudes, each manifesting as a different problem.
=render "attitudes/links"
%h2=link_to "The Sixteen Subtypes", subtypes_path
%p.center A subtype is an attitude towards a realm.
=render "subtypes/links"
%h2=link_to "The BipolarTypes", answer_path(Answer.first_path)
%p.center A BipolarType is a set of attitudes, one for each realm.
