- content_for(:title, @name)
%p.center=render "header"
%table
  %tr
    %th
    -@subtypes.each do |subtype|
      %th.quarter=subtype.name
  -%w{problem solution theory oops}.each do |section|
    %tr
      %th=section.capitalize
      -@subtypes.each do |subtype|
        %td.top.left=render section, subtype: subtype
