- content_for(:title, @name)
%p.center=render "header"
%table
  %tr
    -@subtypes.each do |subtype|
      %th.quarter=link_to subtype.name, subtype_path(subtype.path)
  -%w{subtype nature baby nurture child}.each do |partial|
    %tr
      -@subtypes.each do |subtype|
        %td.p=render partial, subtype: subtype
