- content_for(:title, @name)
%p.center=render "header"
=render "overview"
%table
  %tr
    %th.narrow
    %th Anger
    %th{colspan: 2} Freeze
    %th Fear
  %tr
    %th
    -@subtypes.each do |subtype|
      %th=link_to subtype.name, subtype_path(subtype.path)
  -%w{ advice subtype rationale}.each do |section|
    %tr
      %th=section.titleize
      -@subtypes.each do |subtype|
        %td.quarter.top.left=render section, subtype: subtype
