- content_for(:title, @name)
.center
  %h1=@name
%h2 The #{@subtype.display} cycle
.center
  -@subtype.cycle.subtypes.each_with_index do |adjacent, index|
    ='&rArr;'.html_safe unless index == 0
    =render 'answer_link', subtype: adjacent

%h2 Examples of #{@subtype.triplet.name}
%p=@subtype.examples

%h2 #{@subtype.state.name} Considerations
%p=@subtype.considerations

-if @subtype.state.last? && @subtype.behavior.last?
  %p
    Unless it is bedtime, in which case
    =@subtype.stop
    and go to sleep!

%p.center
  -unless @subtype.realm.generic?
    =link_to 'Sounds like me (e.g. start my BipolarType here)', answer_path(Answer.first.next(@subtype)), title: @subtype.clear_name

