- content_for(:title, "#{@name}")
=render "realms/links"
=render "attitudes/links"
%table
  %caption
    %h2 Subtypes
  -@subtypes.in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td.top.half
          -I18n.locale = subtype.locale
          =link_to subtype.name, subtype_path(subtype.path)
          %p.heading=render subtype.loc
%table
  %caption
    %h2 General Advice
  -@subtypes.in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td.top.half
          -I18n.locale = subtype.locale
          =render "advice/#{subtype.loc}"
%table
  %caption
    %h2 Manic Advice
  -@subtypes.in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td.top.half
          -I18n.locale = subtype.locale
          =render "mania/#{subtype.loc}"
%table
  %caption
    %h2 Depressed Advice
  -@subtypes.in_groups_of(2).each do |row|
    %tr
      -row.each do |subtype|
        %td.top.half
          -I18n.locale = subtype.locale
          =render "depression/#{subtype.loc}"
