- content_for(:title, @name)
%p.center=render "header"
%table
  %tr
    %th
    -@subtypes.each do |subtype|
      %th.quarter=link_to subtype.name, subtype_path(subtype.path)
  -%w{do morning daytime evening nighttime}.each do |how|
    %tr
      %th=how.titleize
      -@subtypes.each do |subtype|
        %td.p=render how, subtype: subtype
