p
  |> A
  =link_to 'zeitgeber', 'https://en.wikipedia.org/wiki/Zeitgeber', class: 'external', target: '_blank', rel: 'noopener'
  |< is a signal that tells you what time it is. They determine where you are in the cycle. Different people are more or less sensitive to different zeitgebers.

p.center.larger=Realm.N.title
p The sunrise in the morning; the sunset at night. The full moon or new moon.
p Things that provide color (cones) and movements (rods) that you see or look for with your eyes and remember in your mind.
p Intangible things: truth, information, ideas. #{Realm.N.first_half}; #{Realm.N.second_half}.

p.center.larger=Realm.S.title
p Breakfast in the morning; supper at night. Thanksgiving feasts and Lenten fasts.
p Things that provide scents (olfactory) and flavors (gustatory) that you smell or taste with your mouth and then digest in your body.
p Edible things: foods, drinks, medicines. #{Realm.S.first_half}; #{Realm.S.second_half}.

p.center.larger=Realm.F.title
p Reveille in the morning; taps in the evening. Sunday morning services; three minutes of silence.
p Things that provide music (left) and speach (right) that you hear or listen to with your ears and then keep in your heart.
p Spiritual things: love, morals, stories. #{Realm.F.first_half}; #{Realm.F.second_half}.

p.center.larger=Realm.T.title
p The warmth of day; the cold of night. Fires in winter; fans in summer.
p Things that provide heat (thermoreceptors) and pain (nociceptors) that you feel or touch with your skin and then hold in your hands.
p Tangible things: shelter, clothes, tools. #{Realm.T.first_half}; #{Realm.T.second_half}.
