- content_for(:title, 'The Sixteen Behaviors')
%table
  %thead
    %tr
      %th
      %th.quarter Financial (money)
      %th.quarter Mental (information)
      %th.quarter Physical (calories)
      %th.quarter Social (affect)
  %tbody
    %tr
      %th{:rowspan => "2"} Energy
      %td
        %h2 Collect Wages
        %p Earned income. Winnings. Prizes. Rewards.
      %td
        %h2 Zoom In
        %p Foreground. Colors. Movement. Details.
      %td
        %h2 Eat Carbs
        %p Sweets. Grains. Starches. Fruits. Vegetables. Gatorade.
      %td
        %h2 Listen to Music
        %p Melody. Harmony. Intonation. Agreement. Shared human emotions.
    %tr
      %td
        %h2 Pay with Cash
        %p Checking. Savings. Debit. Coins.
      %td
        %h2 Use Intuition
        %p Use knowledge. Spatial evidence. Inference.
      %td
        %h2 Walk Long Distances
        %p Aerobics. Marathons. Triathalons. Cross-country skiing.
      %td
        %h2 Use Intonation
        %p Express emotion. Scream and shout. Laugh and cry. Sing.
    %tr
      %th{:rowspan => "2"} Strength
      %td
        %h2 Collect Investment Income
        %p Interest. Dividends. Rent. Annuities.
      %td
        %h2 Zoom Out
        %p Background. Outlines. Landmarks. Patterns.
      %td
        %h2 Eat Protein
        %p Savories. Meats. Poultry. Nuts. Cheese. Protein shakes.
      %td
        %h2 Listen to Opinions
        %p Lyrics. Meaning. Arguments. Debate. Dissonant points of view.
    %tr
      %td
        %h2 Pay with Credit
        %p Loans. Mortgages. Leases. Installments.
      %td
        %h2 Use Logic
        %p Use Rules. Linear Reasoning. Deduction.
      %td
        %h2 Lift Heavy Weights
        %p Anerobics. Boxing. Wrestling. Rowing.
      %td
        %h2 Use Words
        %p Write. Lecture. Preach. Teach. Tell stories.
  %tfoot
    %tr
      %th
      %td{:colspan => "4"}
        Note: I do
        %em not
        have affective strength. I have done the best I can to verbalize the sixteen behaviors, but if there is a disconnect between my words and your understanding it is more than likely that my words are incorrect.
