- content_for(:title, 'Solutions')

%table
  %tr
    %th
    %th P (anxious)
    %th J (irritable)
  %tr
    %th E (depression)
    %td
      %p.italic EP (anxious depression)
      %p.bold Gaining (accept too much)

      %p.left Accept only the things that are good for you, not the things that merely appear good.

    %td
      %p.italic EJ (irritable depression)
      %p.bold Conserving (change too little)

      %p.left Change also the things that appear bad, not merely the things that are bad for you.

  %tr
    %th I (mania)
    %td
      %p.italic IP (anxious mania)
      %p.bold Losing (accept too little)

      %p.left Accept also the things that appear good, not merely the things that are good for you.

    %td
      %p.italic IJ (irritable mania)
      %p.bold Wasting (change too much)

      %p.left Change only the things that are bad for you, not the things that merely appear bad.
