- content_for(:title, 'The States')

%p #{Quadrant.all.values_at(1,3,0,2).map(&:short).map(&:ing).and.capitalize} are all perfectly normal and natural behaviors. But if you get &ldquo;stuck&rdquo; in a corner, the behavior becomes unbalancing and unhealthy.

%table
  %tr
    %td.bottom{class: 'cycleB'}
      %h3=Quadrant.ep.short.capitalize
      =Quadrant.ep.symbolic_name
    %td
      %h2 Mania
      Externalize
      %br
      &rlarr;
    %td.bottom{class: :cycleU}
      %h3=Quadrant.ej.short.capitalize
      =Quadrant.ej.symbolic_name

  %tr
    %td Energy &udarr;
    %td &orarr;
    %td &udarr; Strength


  %tr
    %td.top{class: :cycleG}
      =Quadrant.ip.symbolic_name
      %h3=Quadrant.ip.short.capitalize
    %td
      &rlarr;
      %br
      Internalize
      %h2 Depression
    %td.top{class: :cycleR}
      =Quadrant.ij.symbolic_name
      %h3=Quadrant.ij.short.capitalize

