- content_for(:title, State.title)

%h2 Four States

%table
  %tr
    %th
    -Mood.each do |thing|
      %th=formatted thing
  -Action.each do |action|
    %tr
      %th=formatted action
      -Mood.each do |mood|
        %td.left.bordered=render 'cookie', thing: mood + action
