- content_for(:title, 'The States')

%table
  %tr
    %th.bottom_border{colspan: 2}
      =Response.e.adjective.colon
      =link_to 'SNS Response'.html_safe, 'https://en.wikipedia.org/wiki/Sympathetic_nervous_system', class: 'external'

  %tr
    %td.right_border=render 'state', quadrant: Quadrant.ep
    %td.left_border=render 'state', quadrant: Quadrant.ej

  %tr
    %th.top_border.bottom_border=Attitude.p.adjective
    %th.top_border.bottom_border=Attitude.j.adjective

  %tr
    %td.right_border=render 'state', quadrant: Quadrant.ip
    %td.left_border=render 'state', quadrant: Quadrant.ij

  %tr
    %th.top_border{colspan: 2}
      =Response.i.adjective.colon
      =link_to 'PSNS Response'.html_safe, 'https://en.wikipedia.org/wiki/Parasympathetic_nervous_system', class: 'external'
