- content_for(:title, 'My Story')
%p I am bipolar. I’m a rapid cycler with mixed states, comorbid binge eating disorder, and substance use disorder.
%p In 1980, I was diagnosed as “homesick” by the MIT school psychologist despite a letter from my mother describing in detail my familial history of bipolar disorder: my mother, her father, and his mother were all bipolar.
%p By 1984 I was morbidly obese and had been diagnosed with Major Depression and was almost immediately “upgraded” to Bipolar II after my initial reaction to antidepressants. In 1985 I had gastric surgery; although I initially lost a lot of weight, I eventually gained it all back and more. In 1998 I had a seizure after withdrawing too quickly from my prescribed drugs. In 1990 I was hospitalized under suicide watch after an overdose of prescribed drugs. In 1991 a psychopharmacologist “upgraded” my diagnosis again to Bipolar I with mixed states. In 1993 I was diagnosed as “mixed states - and classical bipolar manic and depressive - rapid cycling”. They gave up trying to classify me at some point and now they usually just diagnose me as Bipolar NOS (not otherwise specified).
%p
  In 2007 I went off all my medications for a
  =link_to "drug holiday", "https://en.wikipedia.org/wiki/Drug_holiday", :class => "external"
  and never went back on after it became obvious that I was no worse without medication.
%p
  BipolarType is in no way a recommendation for you to stop
  %em your
  medications. Both my mother and grandfather responded fairly well to mood stabilizers and if psychopharmaceuticals had helped me I would still be taking them. Unfortunately for me, psychopharmaceuticals did nothing, made things worse, or just stopped working after a few months.
%p Conversely, now that I no longer rely on medication I have made significant and lasting progress in my attempts to improve my physical, financial, and affective health. I am no longer morbidly obese. I am financially independent. I’m rarely suicidal, and when I am I no longer overdose on sedatives.
