%p In 1980, during my first semester of college, I got my first official diagnosis: I was “homesick”. This despite a letter from my mother describing my familial history of bipolar disorder. My mother, her father, and his mother were all bipolar.
%p By 1984 I was morbidly obese and being treated by a psychologist. After dropping out of college for the second time, I was diagnosed with Major Depression and referred to a psychiatrist. My diagnosis was changed to Bipolar II after starting antidepressants triggered a manic episode.
%p In 1985 I had gastric surgery. Although I initially lost a lot of weight, I eventually gained it all back. I eventually got my Bachelor’s degree but dropped out permanently after my first semester of grad school.
%p By 1988 I was heavily in debt despite a high-paying job. I started having blackouts which a neurologist determined was caused by a prescription benzodiazepine and I had a withdrawal seizure while tapering off.
%p In 1990 I was hospitalized under suicide watch after overdosing on a different prescription benzodiazepine.
%p By 1991, my diagnosis had been changed to Bipolar I (with mixed states and rapid cycling and an atypical drug response) after a more thorough history by a psychopharmacologist revealed that I’d been having manic episodes since high school, six years before my first antidepressant.
%p More recent diagnoses have been Bipolar NOS (not otherwise specified). Which basically means nobody knew what was wrong with me or how to fix it.
%p
  In 2007, after 23 years of antidepressants, antipsychotics, anxiolytics, mood stabilizers, and other various and sundry on- and off-label prescription drugs, I tapered off my medication cocktail for a
  =link_to "drug holiday.", "https://en.wikipedia.org/wiki/Drug_holiday", :class => "external"
%p It soon became obvious that although my moods and cycles weren’t any better off the meds, they were also no worse. The expense and side effects of the prescription drugs wasn’t worth the illusion of control.
%p
  BipolarType is
  %em not
  a recommendation that others should go off their medications. Both my mother and grandfather responded well to mood stabilizers and antidepressants. I would never have recommended that they go off their meds. For that matter, if psychopharmaceuticals had helped me I would still be taking them.
