- content_for(:title, 'My Story')
%p I am bipolar. I’m a rapid cycler with mixed states and comorbid binge eating disorder.
%p In 1980, I was diagnosed as “homesick” by the college psychologist despite a letter from my mother describing in detail my familial history of bipolar disorder: my mother, her father, and his mother were all bipolar.
%p By 1984 I was morbidly obese and had been diagnosed with Major Depression and was almost immediately “upgraded” to Bipolar II after my initial reaction to antidepressants. In 1985 I had gastric surgery; although I initially lost a lot of weight, I eventually gained it all back and more. In 1988 I had a benzodiazepine withdrawal seizure. In 1990 I was hospitalized under suicide watch after overdosing on a different benzodiazepine. A psychopharmacologist “upgraded” my diagnosis to Bipolar I with mixed states in 1991 and added rapid cycling in 1993. More recent diagnoses have been Bipolar NOS (not otherwise specified).
%p
  In 2007 I went off all my prescription medications for a
  =link_to "drug holiday", "https://en.wikipedia.org/wiki/Drug_holiday", :class => "external"
  and never went back on after it became obvious that I was no worse. Not better, but no worse.
%p
  BipolarType is in no way a recommendation for you to stop
  %em your
  medications. Both my mother and grandfather responded fairly well to mood stabilizers and if psychopharmaceuticals had helped me I would still be taking them. Unfortunately, they did nothing for me, made things worse, or just stopped working after a few months. I don’t use caffeine or alcohol, but over the counter melatonin does help me fall asleep, and I take a low dose every evening.
%p BipolarType is advice for when medication doesn't work or isn't available or has unacceptable side effects.
%p BipolarType has helped me make significant and lasting progress in improving my #{Realm.s.adjective}, #{Realm.t.adjective}, and #{Realm.f.adjective} health not by preventing the cycles, but by mitigating the collateral damage.
