- content_for(:title, 'My Story')
%p
  In 1980, during my first semester of college, I got my first official diagnosis: I was “homesick”. This despite a letter from my mother describing my familial history of Manic-Depression (as it was called at the time). I believe that personality type is relevant to bipolar disorder because I inherited this illness from my mother who inherited it from her father who inherited it from his mother so it must be the
  %em same illness.
  And yet we all had very different symptoms which I attribute to our different personality types.

%p By 1984 I was morbidly obese and being treated by a psychologist for depression. After dropping out of college for the second time, I was diagnosed with Major Depression and referred to a psychiatrist. My diagnosis was changed to Bipolar II after antidepressants appeart to trigger a manic episode.
%p By 1988 I was heavily in debt despite a high-paying job. I started having blackouts which a neurologist determined was caused by a prescription benzodiazepine and I had a withdrawal seizure while tapering off it too quickly. A few years later, I was hospitalized under suicide watch after overdosing on a different prescription benzodiazepine.
%p By 1992, my diagnosis had been changed to Bipolar I (with mixed states and rapid cycling) after a more thorough history by a psychopharmacologist revealed that I’d been having manic episodes since high school, six years before my first antidepressant. More recent diagnoses have been Bipolar NOS (not otherwise specified). Which basically means nobody knows exactly what is wrong with me or how to fix it.
%p
  In 2007, after over twenty years of antidepressants, antipsychotics, mood stabilizers, hypnotics, sedatives, stimulants, and other various and sundry prescription drugs, I tapered off my complex medication cocktail for a
  =succeed "." do
    =link_to "drug holiday", "https://en.wikipedia.org/wiki/Drug_holiday", :class => "external"
%p It soon became obvious that my symptoms were no worse off the meds than they had been on them. The expense and side effects of the prescription drugs weren’t worth the illusion of control.
%p I now believe that medication does little for me other than to “shift” my symptoms from one problem to another. Every time we adjusted my medications the current symptoms would improve, but other symptoms got worse. Ad infinitum.
%p I know this is not true for everyone: both my mother and grandfather were adequately treated with a combination of mood stabilizers and antidepressants with only the occasional (not constant) need to adjust their medications.
