- content_for(:title, @subtype.symbol)

%dl
  %dt Role
  %dd
    to
    =role(@subtype)
  %dt Tendency
  %dd=display @subtype
  %dt Bad Solution
  %dd
    -if @subtype.more?
      =display(@subtype.role)
      less
    -else
      =display(@subtype.herring)
      more
  %dt Actual Problem
  %dd
    -if @subtype.more?
      don’t
      =display(@subtype.solution)
      enough
    -else
      =display(@subtype.problem)
      too much
  %td Better Solution
  %dd
    -if @subtype.more?
      =display(@subtype.solution)
      more
    -else
      =display(@subtype.problem)
      less

=render 'advice', subtype: @subtype, help: @subtype.help.flip
