- content_for(:title, @subtype.symbol)

%dl
  %dt Problem
  %dd=display(@subtype)

  %dt Bad Solution
  %dd
    cannot
    -if @subtype.more?
      =display(transform(@subtype.role, :less))
    -else
      =display(transform(@subtype.herring, :more))

  %td Better Solution
  %dd
    -if @subtype.more?
      =display(transform(@subtype.solution, :more)).comma
      especially in the #{@subtype.help.flip.time}
    -else
      =display(transform(@subtype.problem, :less)).comma
      especially in the #{@subtype.help.flip.time}

=render 'advice', subtype: @subtype, help: @subtype.help.flip
