- content_for(:title, Subtype.title)
%h2 The 16 Subtypes

%table
  %tr
    %th
    -Thing.each do |thing|
      %th
        =display thing
  -Tendency.each do |tendency|
    %tr
      %th=display tendency
      -Thing.all.each do |thing|
        -subtype = thing + tendency
        %td.left=link_to display(subtype), subtype_path(subtype.symbol)
