- content_for(:title, @title)
-if @realms
  %p Bipolar disorder (previously known as Manic Depression) is usually defined in terms of Mental (cognitive) or Affective (mood) cycling. BipolarType adds Physical (caloric) and Financial (monetary) cycles.
  %p.center
    -@realms.each do |realm|
      =link_to realm.symbolic_name, realm_path(realm.path)

-if @answer && @answer.number > 1
  %p.center
    If you can&rsquo;t find anything that sounds like you, you can
    =link_to "start over", answer_path(Answer.first_path)
  %p.center Chosen: #{@answer.subtypes.map(&:display).and}

%table.none
  %caption
    %h2=@title

  %tr
    %td
      %ol
        -@sixteen[0,4].each do |subtype|
          %li=render 'answer_link', subtype: subtype
    %td
      %ol
        -@sixteen[4,4].each do |subtype|
          %li=render 'answer_link', subtype: subtype
  %tr
    %td
      %ol
        -@sixteen[8,4].each do |subtype|
          %li=render 'answer_link', subtype: subtype
    %td
      %ol
        -@sixteen[12,4].each do |subtype|
          %li=render 'answer_link', subtype: subtype

-if @type
  %h2 Example behaviors

  %h3 By Quarter
  %table.equal
    %tr
      -Behavior.sort_order.values_at(2,0,1,3).each do |behavior|
        %th #{behavior.st} Quarter
    -@type.by_quarter.in_groups_of(4) do |quarter|
      %tr
        -quarter.values_at(2,0,1,3).each do |subtype|
          %td{class: subtype.class_names}=link_to subtype.eg, subtype_path(subtype.path)

  %h3 By Realm
  %table.equal
    %tr
      -Realm.each do |realm|
        %th=realm.name
    -@type.by_realm.in_groups_of(4) do |quarter|
      %tr
        -quarter.each do |subtype|
          %td{class: subtype.class_names}=link_to subtype.eg, subtype_path(subtype.path)

