- content_for(:title, @subtype.symbol)

%dl
  %dt Nature
  %dd=display(transform(@subtype.role, :prepend, 'do '))
  %dt Natural Balance
  %dd=display(transform(@subtype.solution, :prepend, 'do '))
  %dt Nurture
  %dd
    =display(transform(@subtype.problem, :prepend, 'do '))
    (unbalancing)
  %dt Result
  %dd=display(@subtype)
  %dt Drugged solution
  %dd
    =display(transform(@subtype.herring, :prepend, 'do '))
    (requires #{@subtype.drugs})
  %td Better Solution
  %dd
    =display(transform(@subtype.solution, :prepend, 'do ')).comma
    especially in the #{@subtype.help.flip.time}


=render 'advice', subtype: @subtype, help: @subtype.help.flip
