%p.bigger.bold.center The BipolarType States

%ul.none.center
  =list_of Position.each do |position|
    %li #{position.inspect}: #{position.definition}

%p.bigger.bold.center The BipolarType Energies

%ul.none.center
  =list_of Realm.each do |realm|
    %li #{realm.inspect}: #{realm.definition}
