- content_for(:title, 'The Theory')
%p BipolarType defines four realms. Each realm has targets on which to use energy, and senses with which to get energy from resources.
%table
  %caption.heading The Four Realms
  -%w{targets energy sense resources}.each do |word|
    %tr
      %th=word.titleize
      -Realm.each do |realm|
        %td=realm.send(word)
=render "affect"
%p BipolarType defines two states: Mania and Depression. Mania is a stimulated state in which your focus narrows and using energy on elusive targets becomes easier. Depression is a sedated state in which your senses dull and getting energy from painful sources becomes easier. The bipolar cycle is Mania followed by Depression. In other words, stimulated enough to use energy to do work followed by sedated enough to harvest resources to get energy.
%p BipolarType defines four attitudes. Each attitude has a tendency towards an energy imbalance, a reason for that imbalance, and an attitude towards the bipolar cycle.
%table
  %caption.heading The Four Attitudes
  %tr
    %td{colspan: 2} Energy deficit
    %td{colspan: 2} Energy surplus
  %tr
    %td.p Getting energy is too difficult
    %td.p Using energy is too easy
    %td.p Getting energy is too easy
    %td.p Using energy is too difficult
  %tr
    %td.p I want to be depressed
    %td.p I don’t want to be manic
    %td.p I don’t want to be depressed
    %td.p I want to be manic
%p I believe that mania and depression are equally as beneficial to the two outside attitudes as they are harmful to the two inside attitudes. BipolarType is an attempt to prevent or at least mitigate the harm while maximizing the benefit without the use of sedatives or stimulants.
