- content_for(:title, 'The Theory')
%h2 The Bipolar Cycle
%h3 Depression
%p BipolarType defines depression as a period of time during which the dominant behaviors are focused on getting energy.
%p Depression is the first half of the cycle. You cannot use energy, after all, until you have some.
%p The life cycle begins with depression. An infant soaks up all the energies around them, but cannot use them well or consistently.
%h3 Mania
%p BipolarType defines mania as a period of time during which the dominant behaviors are focused on using energy.
%p Mania is the second half of the cycle. Getting energy creates a restless pressure to use it for something.
%p The life cycle ends with mania. At some point the individual runs out of energy and dies.
%h3 Cyclothymia
%p There are many cycles besides the life cycle. There are yearly solar cycles, monthly lunar cycles, weekly midweek/weekend cycles, and daily sleep/wake cycles. All of these, and others, cycle between getting and using energy and combine to create a modulating cycle of getting and using energy.
%p Most periods of time are some mixture of getting energy and using energy. But almost any given time has a slight manic or depressed aspect. The intensity and length of the episode determines whether it’s merely a part of the never-ending cycle or something that needs to be addressed.
%p Prolonged depression (getting energy without using it) is problematic, but rarely fatal. Uncontrolled mania (using energy without getting it) is always fatal if you run out of energy and are unable or unwilling to get more.
%h2 Individual Type Differences
%p BipolarType is concerned with four types of energy: #{Realm.all.map(&:energy).and}.

%p Calories and money are both measurable. If someone is gaining or losing fat (caloric reserves) or savings (monetary reserves), it’s measurable.
%p Information gain and loss is measurable in bytes in a computer, but the amount of memories (informational reserves) in a human brain is not measurable. Self-esteem (affective reserves)
