- content_for(:title, 'The Theory')
%p BipolarType defines four attitudes (#{Attitude.names.and}) and four realms (#{Realm.names.and}).
%p A Subtype is a realm based attitude (e.g. Physically Greedy or Mentally Lazy). There are sixteen subtypes.
%p The Physical realm is centered around glucose (physical energy). You gain glucose by sitting and eating and you lose glucose by walking and fasting. If you gain too much glucose you will store the surplus in your fat cells and become fatter. If you lose too much glucose you will withdraw the deficit from your fat cells and become skinnier.
%table.wide
  %caption.heading The Four Physical Subtypes
  %tr
    %td.p The Physically Greedy subtype is fat because they eat too often.
    %td.p The Physically Picky subtype is skinny because they fast too often.
  %tr
    %td.p The Physically Lazy subytype is fat because they sit too often.
    %td.p The Physically Hyperactive subtype is skinny because they walk too often.
%p One way to treat the energy imbalance is with psychopharmaceuticals (stimulants and sedatives) and behavior enforcers (coaches and dietitians).
%table.wide
  %caption.heading The Traditional Solutions
  %tr
    %th
    %th Stimulants
    %th Sedatives
  %tr
    %th Dietitian
    %td.p Encourage Physically Greedy subtypes to fast more.
    %td.p Encourage Physically Picky subtypes to eat more.
  %tr
    %th Coach
    %td.p Encourage Physically Lazy subytypes to walk more.
    %td.p Encourage Physically Hyperactive subtypes to sit more.
%p BipolarType is a systems approach to personality. In other words, if you are Physically Greedy, you cannot just change your eating habits. You cannot even just change your eating and walking habits. There is a reason why you keep stopping to eat but you have to look beyond the Physical realm to the #{Realm.s.others.map(&:name).and} realms to find it. Until you figure out how to treat your #{Realm.s.others.map(&:adjective).or} exhuastion, you will continue to want to stop and eat despite all the stimulants and dietitians in the world.
%p A BipolarType is the set of four attitudes distributed across the four realms. The Lazy and Picky realms are the triggering realms. The Greedy and Hyperactive realms are the responding realms.
%p Your Lazy realm is easily exhausted. When it becomes exhausted, you stop using energy and start getting energy. Your Greedy realm is always willing and able to get energy, so that’s the realm which responds to your Lazy realm’s stress.
%p Your Picky realm is easily overwhelmed. When it becomes overwhelmed, you stop getting energy and start using energy. Your Hyperactive realm is always willing and able to use energy, so that’s the realm which responds to your Picky realm’s stress.
