- content_for(:title, 'The Theory')
%table
  %caption.heading The Bipolar Cycle
  %tr
    %td
      Euphoric Depression
      %br
      Getting energy makes you feel joyful.
      %br
      Pleasurable Refreshments →
    %td
      Dysphoric Depression
      %br
      Having to use the energy you got feels painful.
      %br
      Painful Labors ↓
  %tr
    %td
      Dysphoric Mania
      %br
      Having to get the energy you used feels painful.
      %br
      Painful Refreshments ↑
    %td
      Euphoric Mania
      %br
      Using energy makes you feel joyful.
      %br
      Pleasurable Labors ←
%p Dysphoric Mania is caused because, in general, your labors are rarely painful and often pleasurable, but your refreshments are rarely pleasureable and often painful.
%p If you are currently suffering from Dysphoric Mania, you have to suffer through it because you need to get energy and so you have to get it from whatever refreshments are available, even if they are painful. But once the Dysphoric Mania has ended, you have two choices. You can make an effort to seek out more pleasurable refreshments. The next time you are desperate to get energy, you have a better chance of slipping right through Dysphoric Mania into Euphoric Depression. Or, you can avoid pleasurable labors. If you don’t experience Euphoric Mania, you will not become so desperate to get energy that you have to suffer painful refreshments.
%p Dysphoric Depression is caused because, in general, your refreshments are rarely painful and often pleasurable, but your labors are rarely pleasureable and often painful.
%p If you are currently suffering from Dysphoric Depression, you have to suffer through it because you need to use energy and so you have to use it on whatever labors are available, even if they are painful. But once the Dysphoric Depression has ended, you have two choices. You can make an effort to seek out more pleasurable labors. The next time you are desperate to use energy, you have a better chance of slipping right through Dysphoric Depression into Euphoric Mania. Or, you can avoid pleasurable refreshments. If you don’t experience Euphoric Depression, you will not become so desperate to use energy that you have to suffer painful labors.
%table
  %caption.heading The Four Attitudes
  %tr
    %th Using energy is painful
    %td Avoid pleasurable Refreshments
    %td Seek pleasurable Labors
  %tr
    %th Getting energy is painful
    %td Seek pleasurable Refreshments
    %td Avoid pleasurable Labors
%p BipolarType defines four realms: #{Realm.names.and}. Each realm is centered around its own type of energy and its own labors and refreshments.
%p All behaviors take time, and time is finite. Balancing energy requires equal time spend laboring and refreshing. Thus, if you start seeking pleasurable refreshments in one realm, you must perforce avoid pleasurable refreshments in another realm. Similarly, if you avoid pleasurable labors in one realm you must perforce seek out pleasurable labors in another. Assuming you started with both manic and depressed dysphoric episodes, maximising joy means you must end up with one of the above attitudes in each realm.
%p In other words, the end result is
%ul
  %li A realm in which you seek out more pleasurable labors in order to minimize dysphoric depression. You spend more time using energy to balance the time you were already spending getting energy in non-painful refreshments.
  %li A realm in which you avoid more pleasurable refreshments in order to minimize dysphoric depression. You spend less time getting energy to balance the time you were already not spending using energy in painful labor.
  %li A realm in which you seek out more pleasurable refreshments in order to minimize dysphoric mania. You spend more time getting energy to balance the time you were already spending using energy in non-painful labor.
  %li A realm in which you avoid more pleasurable labors in order to minimize dysphoric mania. You spend less time using energy to balance the time you were already not spending getting energy in painful refreshments.
