- content_for :title, 'Theory'

=render "realm_links"

%table
  %tr
    %th
    %th{colspan:2} Manic
    %th
  %tr
    %th
    %td.none.left anxious
    %td.none.right irritated
    %th
  %tr
    %td.right.top.none flight
    %td.none
    %td.none
    %td.left.none.top fight
  %tr
    %th Energy
    %th{colspan:2}
    %th Strength
  %tr
    %td.right.bottom.none digest
    %td.none
    %td.none
    %td.left.none.bottom rest
  %tr
    %th
    %td.none.left hungry
    %td.none.right tired
    %th
  %tr
    %th
    %th{colspan:2} Depressed
    %th
