- content_for(:title, 'The General Pattern')

%h2 Depression
%ol
  %li
    Get energy sooner. Get it all day long. If you have to stop, get it again
    %em later.
  %li Do not stop getting energy just because getting strengtheners makes you feel bad. Energy will make you feel better, not worse.
  %li Get the energy you need until you no longer feel depressed, you stop binging on energy you don’t need, and you actually want to use the energy you have.
  %li
    If you want to get energy you don’t need but are not willing to get strengtheners, then get the energy you
    %em do
    need; you don’t need the other kind of energy, you need the kind of energy you are
    %em low
    on.
  %li Don't force yourself to use strength if what you have an excess of is energy. Just use energy and then use some more.
  %li Even after you have attained balance in your surplus realm, you still need to get energy in your deficit realm in order to remain awake and alert during the day.

%h2 Mania
%ol
  %li
    Close your third-realm intake sooner. Keep it closed all night long. If you have to open it, close it again
    %em later.
  %li Do not keep it open just because getting strengtheners makes you feel good. Closing them will make you feel better, not worse.
  %li Close it until you no longer feel manic, you stop splurging with fourth-realm strength, and you actually want to get fourth-realm strength.
  %li
    If you want to use fourth-realm strength but are not willing to use fourth-realm energy, then close your
    %em third-realm intake;
    you don’t have too much fourth-realm strength, you have too much
    %em third-realm strength.
  %li Don't force yourself to get fourth-realm energy if you can get fourth-realm strength. Being able to use more fourth-realm strength will not be worth the pain. Just get fourth-realm strength and then get some more.
  %li Even after you have attained balance in the fourth realm, you still need to close your third-realm intake in order to remain asleep and calm during the night.
