- content_for(:title, 'The Theory')
%h2 The Bipolar Cycle
%table
  %tr
    %td
      %b=GenericBehavior.UE.name
      %br
    %th
    %td
      %b=GenericBehavior.US.name
      %br
  %tr
    %th
    %th ↻
    %th
  %tr
    %td
      %b=GenericBehavior.GE.name
      %br
    %th
    %td
      %b=GenericBehavior.GS.name
      %br

%h2 Two Imbalances & Four Solutions
%ul
  %li
    %b=GenericProblem.D.name + ":"
    UseStrength but do not GetEnergy.
    %ul
      %li
        %b=GenericSolution.UL.name
        if GetEnergy is actively painful (sedatives required)
      %li
        %b=GenericSolution.GM.name
        if GetEnergy is merely aversive (sedatives counterproductive)
  %li
    %b=GenericProblem.S.name + ":"
    GetEnergy but do not UseStrength.
    %ul
      %li
        %b=GenericSolution.UM.name
        if UseStrength is merely aversive (stimulants counterproductive)
      %li
        %b=GenericSolution.GL.name
        if UseStrength is actively painful (stimulants required)

%h2 The Four Realms
%ul
  -Realm.each do |realm|
    %li
      %b=realm.name
      =realm.sense
      (#{realm.neuro})

%h2 The 24 BipolarTypes
%p The MBTI only has 16 types, because they assume that Physical & Mental and Affective & Financial are opposites. BipolarType does not group the four Realms into two sets of two so there are 24 BipolarTypes (4x3x2 instead of 4x2x2)
