- content_for(:title, 'The Theory')
%p After you have slept, you feel rested and energetic and spend the Morning using energy to do work. After you have labored, you feel tired and empty and spend the Evening getting energy to refresh and replenish the energy you have used. After you have recharged, you feel full and sleepy and spend the Night sleeping.
%table
  %caption.heading The Three Time Periods
  %tr
    %th
    %th Morning
    %th Evening
    %th Night
  %tr
    %th Before
    %td rested & energetic
    %td tired & empty
    %td full & sleepy
  %tr
    %th Activity
    %td Labor
    %td Recharge
    %td Sleep
  %tr
    %th Energy
    %td Use Energy
    %td Get Energy
    %td Conserve Energy
  %tr
    %th After
    %td tired & empty
    %td full & sleepy
    %td rested & energetic
%p Depressed is when you start the Morning feeling tired. You don’t want to use energy to labor. You want to continue to conserve energy until it’s time get energy to recharge. Depression is an aversion to Mornings. Depression can be treated with stimulants. People who require caffeine to use energy and labor are depressed. People who require prescription stimulants are clinically depressed.
%p Manic is when you start the Evening feeling full. You don’t want to get energy to  recharge. You want to continue to use energy until it’s time to sleep and conserve energy. Mania is an aversion to Evenings. Mania can be treated with sedatives. People who require alcohol to get energy and recharge are manic. People who require prescription sedatives are clinically manic.
%p Suicidal is when you are averse to both Mornings and Evenings and you just want to go to sleep and stay asleep forever. Trying to get the right prescription stimulants to make Mornings tolerable at the same time as you are trying to get the right prescription sedatives to make Evenings tolerable is extremely difficult.
%p BipolarType tries to understand and solve the underlying aversion, instead of using drugs to manage the resultant behavior.
%p If you are Depressed, you “feel tired”. You don’t “want” to use energy to labor. So you don’t. Maybe you will do it tomorrow. Or the next day. By the time you are no longer feeling tired and are willing to do labor, you have three times as much labor to do, no way to do it all in the time allotted, and so you don’t even try.
