- content_for :title, 'Theory'
-if (@realm || @attitude)
  =nbsp

-unless (@realm || @attitude)
  .center A BipolarType realm is one of four foci:
.center=Realm.all.map{|r| link_to_unless(r == @realm, r.name, realm_path(r.string))}.join(' | ').html_safe
.center=Realm.all.map(&:adjective).join(' | ')
=nbsp
-unless (@realm || @attitude)
  .center A BipolarType attitude is one of four responses:
%table
  %tr
    %th
    %td.none{colspan:2}=(link_to 'SNS', 'https://en.wikipedia.org/wiki/Sympathetic_nervous_system', class: :external) unless (@realm || @attitude) 
    %th
  %tr
    %td.none
      -a=Attitude.TL
      =link_to_unless(a == @attitude, a.name, attitude_path(a.string))
      %br
      =a.action.deunderscore
    %th{colspan:2}
    %td.none
      -a=Attitude.TR
      =link_to_unless(a == @attitude, a.name, attitude_path(a.string))
      %br
      =a.action.deunderscore
  %tr
    %th
    %th{colspan:2}=circle
    %th
  %tr
    %td.none
      -a=Attitude.BL
      =link_to_unless(a == @attitude, a.name, attitude_path(a.string))
      %br
      =a.action.deunderscore
    %th{colspan:2}
    %td.none
      -a=Attitude.BR
      =link_to_unless(a == @attitude, a.name, attitude_path(a.string))
      %br
      =a.action.deunderscore
    %tr
      %th
      %td.none{colspan:2}=(link_to 'PSNS', 'https://en.wikipedia.org/wiki/Parasympathetic_nervous_system', class: :external) unless (@realm || @attitude) 
    %th

-unless (@realm || @attitude)
  %p
    =display(Subtype.first).capitalize
    =Subtype.first.aka.wrap
    is one of the sixteen focused responses (four realms x four attitudes).
    It can be 100% appropriate for the situation. Or it can be the right focus
    =Subtype.first.realm.name.wrap.comma
    but the wrong response
    (should be
    =Subtype.first.flop.attitude.name.endwrap.period
    In which case
    =display(Subtype.first.flop)
    =Subtype.first.flop.aka.wrap
    would be more appropriate. Conversely, it can be the right response
    =Subtype.first.attitude.name.wrap.comma
    but the wrong focus
    (should be
    =Subtype.first.next_realm.realm.name.endwrap.period
    In which case
    =display(Subtype.first.next_realm)
    =Subtype.first.next_realm.aka.wrap
    would be more appropriate.
  %p
    Whether you, as an individual, should or should
    %em not
    =display(Subtype.first).comma
    =display(Subtype.first.flop).comma
    or
    =display(Subtype.first.next_realm).comma
    depends on your BipolarType.
  %p
    You can change the words used for the focused responses. That is, if you want to eat dessert, instead of
    =Subtype.find_by_tla('GPE').action.comma
    or seek opinions, instead of
    =Subtype.find_by_tla('GES').action.comma
    you can make that change on the
    =link_to 'words', words_path
    page.

-if @attitude
  %table
    %tr
      -Realm.each do |realm|
        %th=display(@attitude + realm)
    %tr
      -Realm.each do |realm|
        %td.none=(realm + @attitude).aka
-if @realm
  %table
    %tr
      %th
      %td.none{colspan:2}=@realm.use
      %th
    %tr
      %th=display(@realm+Attitude.TL)
      %th{colspan:2}
      %th=display(@realm+Attitude.TR)
    %tr
      %td.none #{@realm.adjective} energy
      %th{colspan:2}=circle
      %td.none #{@realm.adjective} strength
    %tr
      %th=display(@realm+Attitude.BL)
      %th{colspan:2}
      %th=display(@realm+Attitude.BR)
    %tr
      %th
      %td.none{colspan:2}=@realm.get.first_word
      %th
