


p A subtype is one of #{link_to Realm.title, realms_path} plus one of #{link_to Mood.title, moods_path}. There are #{link_to '16 Subtypes', subtypes_path}.


p A behavior is a realm plus one of #{link_to Attitude.title, attitudes_path}. There are #{link_to '16 Behaviors', behaviors_path}.

p A BipolarType is made up of four subtypes and a presenting behavior. There are #{link_to '96 BipolarTypes', types_path}.

p For example, the four subtypes #{display_and Type.my_type.subtypes} are associated with four BipolarTypes, each of which has a different presenting episode:
dl
  -Type.my_type.family.each do |type|
    dt=type.episode_type
    dd
      |> excessive
      =display(type.episode_behavior)
      |> :
      =link_to type.path, type_path(type.path)



p Conventional wisdom asserts that mania is excessive fight <em>and</em> flight and should be treated with sedatives so you will no longer be manic whereas depression is excessive rest <em>and</em> digest and should be treated with stimulants so you will no longer be depressed.
p The BipolarType theory asserts that mania is excessive fight <em>or</em> flight and should be treated by doing more of the other so you will no linger be <em>unbalanced</em> whereas depression is excessive rest <em>or</em> digest and should be treated by doing more of the other so you will no linger be <em>unbalanced</em>.
p
  |> In other words, the theory asserts that being in the
  =link_to_concept(Mood.e)
  |<> part of the cycle (extroverted active mood) is perfectly natural, but that focusing purely on
  =link_to_concept(Attitude.ep)
  |<> (too much flight) or
  =link_to_concept(Attitude.ej)
  |< (too much fight) turns it into either euphoric or irritable mania respectively.
p
  |> Similarly, being in the
  =link_to_concept(Mood.i)
  |<> part of the cycle (introverted receptive mood) is perfectly natural, but that focusing purely on
  =link_to_concept(Attitude.ij)
  |<> (too much rest) or
  =link_to_concept(Attitude.ip)
  |< (too much digest) turns it into either lethargic or agitated depression respectively.
