- content_for :title, 'Theory'

%b.center=Realm.all.map{|r| link_to(r.name, realm_path(r.string))}.join(' | ').html_safe

%table
  %caption
    %h2 The Bipolar Cycle
  %tr
    %th
    %th{colspan:2} Mania
    %th
  %tr
    %th
    %td.none.left=Attitude.TL.unhappy
    %td.none.right=Attitude.TR.unhappy
    %th
  %tr
    %td.right.top.none=Attitude.TL.mode
    %td.none{colspan:2}
    %td.left.none.top=Attitude.TR.mode
  %tr
    %th Energy
    %th{colspan:2}=circle
    %th Strength
  %tr
    %td.right.bottom.none=Attitude.BL.mode
    %td.none{colspan:2}
    %td.left.none.bottom=Attitude.BR.mode
  %tr
    %th
    %td.none.left=Attitude.BL.unhappy
    %td.none.right=Attitude.BR.unhappy
    %th
  %tr
    %th
    %th{colspan:2} Depression
    %th

%table.equal
  %caption
    %h2 The Four Bipolar Episodes
  %tr
    =render 'description', attitude: Attitude.TL
    =render 'description', attitude: Attitude.TR
  %tr
    =render 'description', attitude: Attitude.BL
    =render 'description', attitude: Attitude.BR

%table.equal
  %caption
    %h2 Other Names
  %tr
    =render 'aka', attitude: Attitude.TL
    =render 'aka', attitude: Attitude.TR
  %tr
    =render 'aka', attitude: Attitude.BL
    =render 'aka', attitude: Attitude.BR
