- content_for(:title, 'The Theory')
%h2 The Four Behaviors
%table
  %tr
    %td=link_to GenericBehavior.UE.name, behavior_path("UE")
    %th
    %td=link_to GenericBehavior.US.name, behavior_path("US")
  %tr
    %th
    %th ↻
    %th
  %tr
    %td=link_to GenericBehavior.GE.name, behavior_path("GE")
    %th
    %td=link_to GenericBehavior.GS.name, behavior_path("GS")

%h2 The Four Realms
%div.center
  -Realm.all.each_with_index do |realm, index|
    ="|" unless index == 0
    =link_to realm.name, realm_path(realm.symbol)

%h2 The Four Problems
%table
  %tr
    %th
    %td
      =link_to GenericProblem.M.name, problem_path("M")
      %br
      All Use, no Get
    %th
  %tr
    %td
      =link_to GenericProblem.R.name, problem_path("R")
      %br
      All Energy, no Strength
    %th ↻
    %td
      =link_to GenericProblem.C.name, problem_path("C")
      %br
      All Strength, no Energy
  %tr
    %th
    %td
      =link_to GenericProblem.D.name, problem_path("D")
      %br
      All Get, no Use
    %th


%h2 The 24 BipolarTypes
%table
  %tr
    %td Excess Use RealmA Energy
    %td A&B #{GenericProblem.M.name}
    %td Excess Use RealmB Strength
  %tr
    %td D&A #{GenericProblem.R.name}
    %th ↻
    %td B&C #{GenericProblem.C.name}
  %tr
    %td Excess Get RealmD Energy
    %td C&D #{GenericProblem.D.name}
    %td Excess Get RealmC Strength
