%p.bigger.bold.center The BipolarType Energy Cycle

=render "table", type: Type.generic

%ul.none
  =list_of Position.each do |position|
    %li #{position.inspect}: #{position.definition}

%p.bigger.bold.center The BipolarType Realms

%ul.none
  =list_of Realm.each do |realm|
    %li #{realm.inspect}: #{realm.definition}

%p The goal of BipolarType is to stabilize your intake and output of energy in each realm and reduce or eliminate energy deficts and surpluses.
