- content_for(:title, 'The Theory')
%p BipolarType defines four realms of behavior based on four different types of energy. Each realm of behavior uses energy to achieve goals and gets energy by harvesting resources.
%table
  %caption.heading The Four Realms
  %tr
    %th.narrow
    -Realm.each do |realm|
      %th=realm.name

  -%w{ energy achieve_goals low_energy_activities high_energy_activities harvest_resources  low_energy_resources high_energy_resources}.each do |word|
    %tr
      %th=word.titleize
      -Realm.each do |realm|
        %td=realm.send(word)
%p Some people use a lot of energy even when performing low energy activities (liberal use of energy); some people use very little energy even when performing high energy activities (conservative use of energy). Some people achieve more goals after harvesting high energy resources (goal-oriented); some people achieve fewer goals after harvesting high energy resources (reserve-oriented).
=render "realms/table", realm: Realm.s
%p
  There are similar tables for the other realms:
  -Realm.s.others.each_with_index do |realm, index|
    =link_to realm.name, realm_path(realm.path)
    ="|" unless index == 2
%p A BipolarType is made up of four different attitudes towards the four realms: two manic realms and two depressed realms. Within the two manic realms, mania is more problematic for one because you achieve too many goals (your hyperactive realm) and the other is more problematic because you lose too many reserves (your finicky realm). Within the two depressed realms, depression is more problematic for one because you don’t achieve enough goals (your lazy realm) and the other is more problematic because you gain too many reserves (your greedy realm).
%p BipolarType gives advice on a realm by realm basis, because giving sedatives to someone who is manic so that they will be less liberal with their energy, makes them lazier and greedier. Similarly, giving stimulants to someone who is depressed so that they will be less conservative with their energy, makes them more hyperactive and finickier.
