- content_for(:title, 'Theory')
%h2 The Four Realms
%h3 Resources vs Toxins
You give resources to your friends and family. You give toxins to your enemies.
%h2 Normal Intake and Output
%h3 Intake pain
You feel intake pain because the resources are toxic. You need to find better resources to consume. Not everyone is equally as sensitive. Some people can tolerate a larger amount of toxins mixed in with their resources and still get enough energy
%h2 Mania and Depression
%h3 Mania
%p You feel intake pain because it’s time to use energy, not get energy. The resources are no worse than usual, and do not contain more toxins. You don’t need to find better resources to consume, you need to be active and productive.
%p You need to use more energy in the realms in which you have energy and in which getting energy is less painful. The realm in which you want to be productive is more sustainable than the realm in which you merely have enough energy to be active.
