- content_for(:title, 'The Theory')

%h2 Culture

%p In the culture I was raised in, becoming ever thinner was a moral obligation. Thin people must be doing something right. Fat people must be doing something wrong. If you become thinner, you’re making your parents proud. If you become fatter, then there is something wrong with you and you are a shame and a disgrace and need to be “fixed”.

%p Becoming ever richer was also a moral obligation in the culture I was raised in. Rich people must be doing something right. Poor people must be doing something wrong. If you become richer, you’re making your parents proud. If you become poorer, then there is something wrong with you and you are a shame and a disgrace and need to be “fixed”.

%p Actually, my parents were wonderful, loving, and compassionate. They were not judgemental or shaming, they were just worried about my physical and financial health. But I still felt broken.

%h2 Measurement and Balance

%p The physical and financial realms are measurable.

%p We can measure how many calories someone gets and how many they use and can measure their weight to see if they are maintaining a healthy balance between diet and exercise in the physical realm.

%p We can also measure how much money someone gets and how much they use and can measure their net worth to see if they are maintaining a healthy balance between income and expenditures in the financial realm.

%p
  The mental and affective realms are
  %em not
  measurable.

%p There is no way to measure how much information someone is actually getting (how much they see and how much of what they see they believe) nor how much information they are using (how much they think without showing anyone) nor can we measure whether they are maintaining a healthy balance in the mental realm.

%p We also have no way to measure how much affect someone is getting (how much they hear and how much of what they hear they understand) nor how much affect they are using (how much they care without telling anyone) nor can we measure whether they are maintaining a healthy balance in the affective realm.

%h2 Inseparable Responses

%p BipolarType asserts that the mental and financial realms are the two halves of the fight and flight response whereas the affective and physical realms are the two halves of the feed and breed response. The two halves cannot be separated. Whatever affects one half affects the other as well.

%p But if the mental and financial realms are inseparable then it's not actually possible to increase your financial reserves without also increasing your mental reserves. And if your head  has run out of room then you won't be able to pursue activities that get money (and information) or avoid activities that use money (and information) unless and until you figure out how to  improve your mental health, reduce your mental surplus, and empty your head.

%p And if the affective and physical realms are also inseparable then it's not actually possible to decrease your caloric reserves without also decreasing your affective reserves. And if your soul has run out of reserves then you won't be able to pursue activities that use calories (and affect) or avoid activities that get calories (and affect) unless and until you figure out how to improve your affective health, reduce your affective deficit, and fill your soul.

%table
  %tr
    %th Mental/Financial Mania
    %th Affective/Physical Depression

  %tr
    %td.half When you are stressed about being poor or feeling angry or afraid, then close your eyes and think.
    %td.half When you are stressed about being fat or feeling sick or ashamed, then shut up and listen.

  %tr
    %td Close your eyes and think and think and think. And then think some more. And then think even more.
    %td Shut up and listen and listen and listen. And then listen some more. And then listen even more.

  %tr
    %td Think until you are no longer compulsively emptying your wallet and are willing and eager to fill it.
    %td Listen until you no longer compulsively feeding your body and are willing and eager to move it.

  %tr
    %td No matter how much you’ve thought, if you are spending too much — or feel like splurging even if you don’t — and you don’t want to fill your wallet, then you still have a mental surplus.
    %td No matter how much you’ve heard, if you are eating too much — or feel like binging even if you don’t — and you don’t want to move your body, then you still have an affective deficit.

  %tr
    %td You won’t be able to stop emptying your wallet until you have emptied your head.
    %td You won’t be able to stop feeding your body until you have fed your soul.

%h2 Two BipolarType Types

%p If the generic solutions to the Manic-Depression illness are so simple, why didn’t I learn from my mother as she figured out how to think and listen more in order to eat and spend less? For that matter, why didn’t she learn from her father? Or he from his mother?

%p Why does the problem continue to run in the family, even after each person has found a solution that, more or less, works for them?

%p
  BipolarType asserts that there are two different personality types, and
  %em how
  you spend and eat is different for the two types, as is
  %em what
  you need to think about or listen to in order to achieve balance and stop cycling.
%p My mother couldn’t teach me, because her symptoms were not the same, so it wasn’t even obvious that we had the same illness. And everything that worked for her just made me worse. And her father couldn’t teach her for the same reason.
%p I suspect that if I had spent more time with my grandfather then I would have solved my problems a lot sooner. Sadly, I spent almost no time with my grandfather growing up and never, ever, talked with him about our shared mental/affective illness.
