- content_for(:title, 'The General Pattern')

%h2 Depression (energy deficit)
%ol
  %li
    Get energy sooner. Get it all day long. If you have to stop, get it again
    %em later.
  %li Get energy until you no longer feel depressed, you stop binging on second-realm energy, and you actually want to use second-realm energy.
  %li
    If you want to get second-realm energy but are not willing to get second-realm strength, then get energy
    %em in the first realm;
    you don’t need second-realm energy, you need
    %em first-realm
    energy.
  %li Don't force yourself to use second-realm strength if you can use second-realm energy. Being able to get more second-realm energy will not be worth the pain. Just use second-realm energy and then use some more.

%h2 Mania (strength surplus)
%ol
  %li
    Close off your third-realm intake sooner. Keep it closed all night long. If you have to open it, close it again
    %em later.
  %li Close it off until you no longer feel manic, you stop splurging with fourth-realm strength, and you actually want to get fourth-realm strength.
  %li
    If you want to use fourth-realm strength but are not willing to use fourth-realm energy, then close off your
    %em third-realm intake;
    you don’t have too much fourth-realm strength, you have too much
    %em third-realm
    strength.
  %li Don't force yourself to get fourth-realm energy if you can get fourth-realm strength. Being able to use more fourth-realm strength will not be worth the pain. Just get fourth-realm strength and then get some more.
