- content_for(:title, 'The Theory')
%p BipolarType defines four realms of behavior based on four different types of energy. Each realm of behavior uses energy to achieve goals and gets energy by harvesting resources.
%table
  %caption.heading The Four Realms
  %tr
    %th
    -Realm.each do |realm|
      %th=realm.name

  -%w{ energy achieve_goals harvest_resources}.each do |word|
    %tr
      %th=word.titleize
      -Realm.each do |realm|
        %td=realm.send(word)
%p
  Everyone has two realms which are more important to them. They want to use energy
  %em now
  and get energy
  %em now.
%p
  The other two realms are less important to them. They want to use energy
  %em eventually
  and get energy
  %em eventually.
%p The first tenet of BipolarType is that anyone who has an energy surplus is getting energy now but using energy later, but the long-term solution that will make someone happy depends on their attitude towards the realm.
%p The short term solution to rid themselves of the energy surplus is to use energy now and get energy later. If this is even possible, it means that they do actually have some control over timing.
%p If the realm is important to them, they should continue to use energy now and go back to getting energy now. If the realm is not important to them, they should continue to get energy later and go back to using energy later.
%table
  %caption.heading The Four Attitudes
  %tr
    %th
    %th More Important
    %th Less Important
  %tr
    %th Surplus
    %td.p
      %ul
        %li Short term: use energy now and get energy later.
        %li Long term: get and use energy now.
    %td.p
      %ul
        %li Short term: use energy now and get energy later.
        %Li Long term: get and use energy later.
  %tr
    %th Deficit
    %td.p
      %ul
        %li Short term: get energy now and use energy later.
        %li Long term: get and use energy now.
    %td.p
      %li Short term: get energy now and use energy later.
      %li Long term: get and use energy later.
%p The second tenet of BipolarType is that eating the same meals later and going places in the same way sooner does work to create a physical energy deficit, but eating a different kind of meal and going there a different way is easier.
%table
  %caption.heading The Four Realms
  %tr
    %th
    -Realm.each do |realm|
      %th=realm.name

  -%w{ use_energy_now get_energy_now use_energy_later get_energy_later }.each do |word|
    %tr
      %th=word.titleize
      -Realm.each do |realm|
        %td=realm.send(word)
