- content_for(:title, 'The Theory')

%h2 The Natural Cycle
-chunks = GenericBehavior.each.collect {|gb| "#{link_to gb.name, behavior_path(gb.symbol)}<p>#{gb.description}</p>".html_safe}
=render "cycle", chunks: chunks

%p BipolarType omits Night between the Dusk and Dawn (when you have access to none of the behaviors) and Summer between Spring and Fall (when you have access to all of the behaviors).

%h2 The Bipolar Cycle
-chunks = GenericBehavior.each.collect {|gb| "#{render 'problem', behavior: gb}".html_safe}
=render "cycle", chunks: chunks

%h2 Four Realms
%div.center
  -Realm.all.each_with_index do |realm, index|
    ="|" unless index == 0
    =link_to realm.name, realm_path(realm.symbol)

%h2 Twenty-four BipolarTypes
%p BipolarType defines your type by distributing the four realms over the four phases of the bipolar cycle. That is, for each phase you have a different realm which is most problematic.
