- content_for(:title, 'The Theory')
%h2 The Four Realms
-Realm.each do |realm|
  %p
    The
    =link_to realm.adjective, realm_path(realm.symbol)
    realm:
    getting and using #{realm.center}
%h2 The Bipolar Cycle
%p The bipolar cycle is a constant round of Use behaviors (mania) and Get behaviors (depression).
%p The more strength you use when manic, the more energy you need to get when depressed to fuel all the strength that you developed.
%p And the more energy you get when depressed, the more strength you need to use when manic to burn through all the energy that you stored.
%h2 The Two Problems
%p
  =link_to "Deficit", nurture_path("D")
  realms are those in which you were taught that using strength is productive and learned that developing and using strength makes you feel good. But you were not taught, or didn’t realize, that you would have to get energy in order to
  %em fuel
  that strength.
%p
  =link_to "Surplus", nurture_path("S")
  realms are those in which you were taught that getting energy is enjoyable and learned that getting and storing energy makes you feel good. But you were not taught, or didn’t realize, that you would have to use strength in order to
  %em burn
  that energy.
%h2 The Four Solutions

-Solution.each do |solution|
  %h3=link_to solution.description.titleize, solution_path(solution.symbol)
  -case solution.symbol
    -when "PD"
      %p
        Getting energy is
        %em painful
        even if you can control what energies you get.
        Being able to use strength is
        %em not
        worth having to get energy.
      %p
        The solution is to use more
        %em energy
        while manic, so as not to develop more strength, and get more
        %em strength
        when depressed, which is not as painful.
      %p This is a “less” realm. You’ll be happier spending less of your time in this realm so you’ll need to compensate by spending more time in your “more” realms.
    -when "WD"
      %p
        Getting energy
        %em can
        be enjoyable. It is only painful if you have no
        %em control
        over what energies you get.
        Being able to use strength
        %em is
        worth having to get energy.
      %p
        The solution is to continue using productive strength while manic but get more
        %em enjoyable
        energy when depressed.
      %p This is a “more” realm. You’ll be happier spending more of your time in this realm so you’ll need to compensate by spending less time in your “less” realms.
    -when "WS"
      %p
        Using strength
        %em can
        be productive. It is only painful if you have no
        %em control
        over what strengths you use.
        Being able to get energy
        %em is
        worth having to use energy.
      %p
        The solution is to continue getting enjoyable energy while depressed but use more
        %em productive
        strengths when manic.
      %p This is a “more” realm. You’ll be happier spending more of your time in this realm so you’ll need to compensate by spending less time in your “less” realms.
    -when "PS"
      %p
        Using strength is
        %em painful
        even if you can control what strengths you use.
        Being able to get energy is
        %em not
        worth having to use strength.
      %p
        The solution is to get more
        %em strength
        while depressed so as not to store more energy and use more
        %em energy
        when manic which is not as painful.
      %p This is a “less” realm. You’ll be happier spending less of your time in this realm so you’ll need to compensate by spending more time in your “more” realms.
%h2 BipolarType
%p The four realms and the four solutions fit together differently for different people.
%p Even if you are not bipolar — even if you do not have significant or problematic imbalances — you still have a BipolarType with “more” realms which include enjoyable and productive balancing behaviors and “less” realms where balancing is more painful.
