- content_for(:title, 'The Theory')
%p BipolarType defines four realms of energy. Each realm has behaviors which get energy by harvesting and processing resources and behaviors which use energy to do work and achieve goals.
%table
  %caption.heading The Four Realms
  %tr
    %th
    -Realm.each do |realm|
      %th=realm.name
  -%w{ energy process_resources achieve_goals}.each do |word|
    %tr
      %th=word.titleize
      -Realm.each do |realm|
        %td=realm.send(word)
%p BipolarType defines two energy imbalances. Mania is when you are using more energy than you are getting and are creating an energy defict. Depression is when you are getting more energy than you are using and are creating an energy surplus.
%p Mania and Depression cannot be maintained forever. Eventually you have to find a way to equalize energy inflow with energy outflow.
%p BipolarType defines four attitudes. Each attitude has a natural behavior, a resulting energy imbalance, a “cure” for the imbalance which is only a red herring since two wrongs may cancel each other out but they don’t actually make things right.
%table
  %caption.heading The Four Attitudes
  %tr
    %th
    -Attitude.each do |attitude|
      %th=attitude.name
  -%w{nature imbalance cure advice}.each do |word|
    %tr
      %th=word.titleize
      -Attitude.each do |attitude|
        %td=attitude.send(word)
%p The first half of BipolarType is knowing what is causing your problem. Are you fat because you are greedy or lazy? Are you skinny because you are hyperactive or picky? If you think you are both you will never be able to focus on the real problem long enough to actually solve it. If you chose the wrong one, you will find the advice easy to implement, but essentially ineffective since it is the red-herring “cure”.
%p The second half of BipolarType is sticking to the advice for the imbalance even though it is extremely difficult to implement — it goes against your nature — but is much more effective in the long run since it targets the cause of the imbalance.
