- content_for(:title, 'The Theory')
%h2 The Four Behaviors
%ol
  %li After you wake up, you do chores. Chores are habitual and repetitive and require some of your attention.
  %li After you have done chores, you do labor. Labor is goal oriented and productive and requires all of your attention.
  %li After you have done labor, you refuel. Refueling is satisying and relaxing and requires some of your attention.
  %li After you have refueled, you sleep. Sleep is restorative and automatic and requires none of your attention.
%h2 The Four Types
%ol
  %li Winter types use all of the short daylight hours to labor; they do their chores at dawn before sunrise and refuel at dusk after sunset.
  %li Spring types (early birds) use the daylight hours to labor and refuel; chores require less of their attention so they do them at dawn before sunrise.
  %li Summer types use all of short nighttime hours to sleep; they do their chores in the morning after sunrise and refuel in the afternoon before sunset.
  %li Autumn types (night owls) use the daylight hours to do chores and labor; refueling requires less of their attention so they do it at dusk after sunset.
%h2 The Four Problems
%p When a Winter type moves south, they burn out. They labor too long and don’t have enough time for restorative sleep.
%p When a Spring type tries to stay up late, they explode. They refuel too much on automatic after the sun sets; they are tired and not paying attention and they continue to refuel after they are satisfied and store the surplus energy as as unwanted reserves.
%p When a Summer type moves north, they stagnate. They sleep too long and don’t have enough time for productive labor.
%p When an Autumn type tries to get up early, they implode. They do too many chores on automatic before the sun rises; they are tired and not paying attention and they have to do them all over again correctly once they are fully awake and waste a lot of energy which they have to withdraw from their reserves.
%ol
  -Attitude.all.each do |attitude|
    %li #{attitude.episode.titleize}: #{attitude.name} types trying to act like #{attitude.opposite.name} types and #{attitude.suffering}
%p
  The first tenet of BipolarType is that “curing” mania or depression by giving people sedatives or stimulants so that it is easier for them to act like someone they are not is
  %em not
  the optimal solution.
%h2 The Four Realms
%table
  %tr
    %th
    -Realm.all.each do |realm|
      %th=realm.name
  -%w{ energy do_chores achieve_goals refuel reserves }.each do |word|
    %tr
      %th=word.titleize
      -Realm.all.each do |realm|
        %td=realm.send(word)
=render "affect"
%p The second tenet of BipolarType is that every person has the potential for a different problem in each realm of behavior. Not everyone actually experiences those problems, but everyone has the potential.
%p That is, if you are suffering from burn out in one realm, you cannot also suffer from stagnation or explosion or implosion in that realm, but you could potentially suffer from those other problems in other realms.
%p Trying to move north or south, or get up earlier or stay up later, in order to solve a problem in one realm will only cause a different problem in another realm.
%p Most people figure out what is most important to them, and find an optimal balance. Perhaps they move north so they will not burn out and go to bed earlier so they won’t explode. They live with the fact that they are stagnating and imploding in other, less important, realms.
%p Some people cannot balance their two most important realms, because they are in opposite attitudes. If they move north they stagnate in one realm and if they move south they burn out in another and neither is an acceptable outcome so they keep moving back and forth and cycling between mania and depression.
%h2 The BipolarType Solution
%p The third tenet of BipolarType is that the cure for these problems is to manipulate your schedule to suit your own needs, not your latitude or the needs of your roommates.
%table
  %tr
    %th.fifth
    %th.fifth Winter Burn Out
    %th.fifth Spring Explosion
    %th.fifth Summer Stagnation
    %th.fifth Autumn Implosion
  %tr
    %th Dawn
    %td.none no chores
    %td.none chores
    %td.none chores
    %td.none no chores
  %tr
    %th Morning
    %td.none chores
    %td.none labor
    %td.none labor
    %td.none chores
  %tr
    %th Daytime
    %td.none{colspan: 4} whatever is required (alert mindfulness)
  %tr
    %th Afternoon
    %td.none fuel
    %td.none fuel
    %td.none labor
    %td.none labor
  %tr
    %th Dusk
    %td.none no fuel
    %td.none no fuel
    %td.none fuel
    %td.none fuel
  %tr
    %th Nighttime
    %td.none{colspan: 4} sleep (automatic restoration)
