- content_for(:title, 'The General Theory')
%h2 Measurement and Balance

%p The physical and financial realms are measurable.

%p We can measure how many calories someone gets and how many they use and can measure their weight to see if they are maintaining a healthy balance between diet and exercise in the physical realm.

%p We can also measure how much money someone gets and how much they use and can measure their net worth to see if they are maintaining a healthy balance between income and expenditures in the financial realm.

%p
  The mental and social realms are
  %em not
  measurable.

%p There is no way to measure how much information someone is actually getting (how much they see and how much of what they see they believe) nor how much information they are using (how much they think without showing anyone) nor can we measure whether they are maintaining a healthy balance of reserves in the mental realm.

%p We also have no way to measure how much affect someone is getting (how much they hear and how much of what they hear they understand) nor how much affect they are using (how much they subvocalize without telling anyone) nor can we measure whether they are maintaining a healthy balance of reserves in the social realm.


%h2 Depression
%p There is an unmeasurable realm (either mental or social) in which a person is extremely low on reserves. During depression you binge but find it difficult to use energy.
%p During this time a measurable realm (either physical or financial) becomes fatter and weaker as you get calories or money that you cannot use.
%p Some people label themselves depressed when they cannot stop listening to music or watching videos, because they don’t know that those are healthy behaviors which are filling their reserves.
%p Some people label themselves depressed when they binge on carbs or wages and gain fat or savings that they cannot easily use.
%p
  In either case, depression will not end until you fill your reserves in the
  %em unmeasurable
  realm.

%h2 Mania
%p There is an unmeasurable realm (either mental or social) in which a person is extremely high on reserves. During mania you splurge but find it difficult to get energy.
%p During this time a measurable realm (either physical or financial) becomes thinner and stronger as you use calories or money that you cannot replace.
%p Some people label themselves manic when they have “pressure of speech” or “flight of ideas”, because they don’t know that those are healthy behaviors which are emptying their reserves.
%p Some people label themselves manic when they splurge with money or calories that they cannot easily replace.
%p
  In either case, mania will not end until you empty your reserves in the
  %em unmeasurable
  realm.
