- content_for(:title, 'Theory')
%h2 Definitions
%dl
  %dt mania
  %dd alert and active when you should be asleep: hyperalert / hyperactive
%dl
  %dt depression
  %dd nonresponsive and lethargic when you should be awake: hypoalert / hypoactive
%dl
  %dt alert
  %dd capable of perceiving sensory signals and getting energy from that source
%dl
  %dt active
  %dd capable of determining a goal and using energy in order to reach that goal
%dl
  %dt realm
  %dd a set of behaviors which get and use a specific type of energy
%dl
  %dt balance
  %dd behaviors which get energy balance behaviors which use energy: energy in == energy out
%dl
  %dt attitude
  %dd an individual’s behavioral goals when they are out of balance in a specific realm
%table
  %caption
    %h2 The Four Realms
  %tr
    %th.narrow
    -Realm.each do |realm|
      %th=link_to realm.name, realm_path(realm.path)
  -%w{energy perceive_sources get_energy use_energy achieve_goals}.each do |word|
    %tr
      %th=word.titleize
      -Realm.each do |realm|
        %td=realm.send(word)
%table
  %caption
    %h2 The Four Attitudes
  %tr
    %th.narrow
    -Attitude.each do |attitude|
      %th=link_to attitude.name, attitude_path(attitude.path)
  -%w{imbalance episode focus goal }.each do |word|
    %tr
      %th=word.titleize
      -Attitude.each do |attitude|
        %td=attitude.send(word)