p A BipolarType is the four natures (#{Mood.names.and}) distributed over the four realms (#{Realm.names.and}).

p Each BipolarType has four different subtypes, one nature per realm. Each subtype is defined by its imbalance: more energy than strength, more output than intake, more strength than energy, and more intake than output.

p Output must be balanced with intake, so depression and mania can lead to fatal imbalances.

p Energy does not need to be balanced with strength, so freedom and control are just personality types.

p BipolarType asserts that you can best balance winter depression and summer mania by extending spring freedom and autumn control: six months of summer mania kills you quickly and six months of winter depression kills you slowly, but six months of spring freedom followed by six months of autumn control doesn&rsquo;t kill you at all.
