h2 In and Out
p In order to remain balanced, your intake behaviors must get as much as your output behaviors use.

p There are some behaviors that you stop because of your  internals: when your own #{Realm.internals.or} are signalling that they are finished. There are some behaviors that you stop because of the externals, when the #{Realm.externals.or} are signalling that you are finished.

h3 Intake Example
p You are lost in the wilderness, and you find an apple tree. Do you eat as many apples as you want, and then get up and start walking? Or do you eat as many apples as the tree currently has available, and then settle down and wait for the rest to ripen as well? The first is eating because of internals: what your body wants to take. The second is eating because of externals: what the place is able to give you.
h3 Output Example
p Output example: you are lost in the wilderness, and you find another person. Do you tell them everything you want to say, and then calm down and start listening? Or do you tell them everything they want to know, and then rev up and wait for them to ask more questions? The first is talking because of internals: what your soul wants to give. The second is talking because of externals: what the person is able to take from you.

h2 Mania
p Mania is when you output more than you intake.
h3 Major mania
p You output as long as the #{Realm.externals.or} will take it, but you stop intaking when your #{Realm.internals.or} feels finished, which is <em>before</em> you have gotten everything you used. Major mania is hard to fix behaviorally: even if the first person has stopped taking, you may immediately run into another person who can take more. If your limit on when to stop talking is “when they stop listening to me”, you need to avoid people who can listen to you. Which is difficult.
h3 Minor mania
p You intake as long as the #{Realm.externals.or} will give it, but you stop outputting when your #{Realm.internals.or} feels finished, which is <em>after</em> you have used everything you got. Minor mania is easier to fix, because you just need to find another source of intake (find another apple tree when the first one stops feeding you).
h2 Depression
p Depression is when you intake more than you output.
h3 Major Depresson
p You intake as long as the #{Realm.externals.or} will give it, but you stop outputting when your #{Realm.internals.or} feels finished, which is <em>before</em> you have used everything you got. Major depression is hard to fix, because even if the first place has stopped feeding you, you may immediately run into another place that can feed you also. If your limit on when to stop eating is “when they stop feeding me”, you need to avoid places that can feed you. Which is difficult.
h3 Minor Depression
p You output as long as the #{Realm.externals.or} will take it, but you stop intaking when you feel finished, which is <em>after</em> you have gotten everything you used. Minor depression is easier to fix, because you just need to find another source of output (find another person when the first one stops listening).
