- content_for(:title, 'The Theory')
%p BipolarType defines mania as a state where it is easy to use energy to achieve goals and difficult to harvest resources to get energy. Depression is the opposite.
%p Mania and depression follow each other in a neverending cycle with your focus shifting from goals to resources and back to goals and then on to resources.
%p What is a problem for you during depression is never a problem during mania. When your focus shifts, so do your problems.
%p There are four possible problems
%ul
  %li
    Hyperactive Mania: why am I wasting energy on these uninteresting goals? Because you are currently goal oriented. If you don’t want to focus on
    %em uninteresting
    goals, then focus on
    %em interesting
    goals.
  %li
    Finicky Mania: why can’t I calm down and focus on these interesting resources? Because you are currently goal oriented. If you need to get energy, find resources that are a quick and easy source of energy and don’t require so much attention to harvest.
  %li
    Greedy Depression: why am I getting energy from these uninteresting resources? Because you are currently resource oriented. If you don’t want to focus on
    %em uninteresting
    resources, then focus on
    %em interesting
    resources.
  %li
    Lazy Depression: why can’t I rev up and focus on these interesting goals? Because you are currently resource oriented. If you need to use energy, find goals that are a quick and easy drain on energy and don’t require so much attention to achieve.
%p These four problems resolve themselves into the following two pairs.
%ul
  %li Goals: the kind I want to achieve but can’t because I am currently depressed and the kind I don’t care about achieving but do because I am currently manic.
  %li Resources: the kind I want to harves but can’t because I am currently manic and the kind I don’t care about harvesting but do because I am currently depressed.
%p
  The BipolarType solution to mania and depression is, unlike traditional solutions, not to end the mania or depression, but to change your focus while you are manic or depressed. That is, BipolarType doesn’t recommend sedatives for mania or stimulants for depression. It recommends focusing on
  %em important
  goals when manic, and
  %em important
  resources when depressed.
