p
  |> The cycle is natural, and repeats every eight hours (shift), every day (circadian), every
  =link_to 'week', 'https://en.wikipedia.org/wiki/Week', class: 'external'
  |<> (cultural), every month (lunar), every year (seasonal), and every lifetime (personal).
ol
  li You start out getting energy. In all realms. But one realm is your best realm for getting energy. You are happy and centered: if you have a surplus, you use energy; if it&rsquo;s too &ldquo;pure&rdquo; you get some strength.
  li Time moves on.
  li You start using energy. In all realms, but mostly in your best realm for getting energy. You're still happy, it’s the same <em>result</em> (freedom), but, it’s no longer <em>balanced</em> (that realm is centered around getting energy, using strength is <em>too hard</em>).
  li So you switch to a different realm where you can be happy and centered: if you have a deficit, you get energy; if it&rsquo;s too &ldquo;pure&rdquo; you use some strength.
  li Time moves on.
  li You start using strength. In all realms, but mostly in your best realm for using energy. You're still happy, it’s the same <em>result</em> (change), but, it’s no longer <em>balanced</em> (that realm is centered around using energy, getting strength is <em>too hard</em>).
  li So you switch to a different realm where you can be happy and centered: if you have a deficit, you get strength; if it&rsquo;s too &ldquo;pure&rdquo; you use some energy.
  li Time moves on.
  li You start getting strength. In all realms, but mostly in your best realm for using strength. You're still happy, it’s the same <em>result</em> (control), but, it’s no longer <em>balanced</em> (that realm is centered around using strength, getting energy is <em>too hard</em>).
  li So you switch to a different realm where you can be happy and centered: if you have a deficit, you use strength; if it&rsquo;s too &ldquo;pure&rdquo; you get some energy.
  li Time moves on.
  li You start getting energy. In all realms, but mostly in your best realm for getting strength. You're still happy, it’s the same <em>result</em> (stability), but, it’s no longer <em>balanced</em> (that realm is centered around getting strength, using energy is <em>too hard</em>).
  li So you switch to the original realm where you can be happy, healthy, and centered.

p BipolarType wants you to switch realms <em>before</em> you become unbalanced. And especially before you start taking <em>drugs</em> because the balancing behavior is <em>too hard</em>.
