- content_for(:title, Thing.title)

%table
  %tr
    %th
    -Thing::SYMBOL.each do |symbol|
      %th=format_from_key symbol

  -Help.each do |help|
    %tr
      %th=format_from_key help.symbol
      -Thing.all.each do |thing|
        %td=do_format_from_key help.symbol + thing.symbol
