- content_for(:title, Thing.title)

%table
  %tr
    %th
    -Thing.each do |thing|
      %th=display thing

  -Help.each do |help|
    %tr
      %th=display help
      -Thing.all.each do |thing|
        %td
          -behavior = help + thing
          =display(transform((behavior), :prepend, 'do '))
