- content_for(:title, Thing.title)

%table
  %tr
    -Thing.all.each do |thing|
      %th
        =thing.symbol
        things
  %tr
    -Thing.all.each do |thing|
      %td=format_from_key thing.symbol

  %tr
    %th{colspan:4}=format '↑', 'Change things: use strength'

  %tr
    -Thing.all.each do |thing|
      %td=format_from_key thing.symbol + '↑'

  %tr
    %th{colspan:4}=format '↓', 'Accept things: get energy'

  %tr
    -Thing.all.each do |thing|
      %td=format_from_key thing.symbol + '↓'

  %tr
    %th{colspan:4}=format '¬↓', 'Refuse things: do not get energy'

  %tr
    -Thing.all.each do |thing|
      %td=format_from_key thing.symbol + '¬↓'

  %tr
    %th{colspan:4}=format '¬↑', 'Tolerate things: do not use strength'

  %tr
    -Thing.all.each do |thing|
      %td=format_from_key thing.symbol + '¬↑'
