- content_for(:title, Thing.title)

%table
  %tr
    %th
    -Thing::SYMBOL.each do |symbol|
      %th=format_from_key symbol

  -Help.each do |help|
    %tr
      %th=help.name(cookies[:setting])
      -Thing.all.each do |thing|
        %td=format_from_key thing.symbol + help.symbol
