- content_for(:title, Thing.title)

%table
  %tr
    -Thing.all.each do |thing|
      %th=format_from_key thing.symbol


  -Help.each do |help|
    %tr
      %th{colspan:4}=format_from_key help.symbol
    %tr
      -Thing.all.each do |thing|
        %td
          =word(thing.symbol + help.symbol)
          %br
          #{word thing.symbol} #{word help.tendency_key}
