-if @realm && @realm == Realm.S
  %p The above are only examples
  %p #{@realm.burn_energy.ing.capitalize} is certainly not the <em>only</em> way to burn calories (&ldquo;waste&rdquo; physical energy); similar behaviors include walking, swimming, dancing, cycling, etc. Any aerobic exercise that is burning calories without achieving any specific goal (except for the goal of being physically healthy).
  %p #{@realm.use_strength.ing.capitalize} is certainly not the <em>only</em> way to use calories (use physical energy &ldquo;productively&rdquo;); similar behaviors include all physical labor. Any work towards a specific goal which requires the use of strong muscles.
  %p Etc.

