- content_for(:title, @type.symbol)

%h2 BipolarType #{@type.index + 1} of 24
%table
  %tr
    %th{colspan:4} Tendencies
  %tr
  -@type.subtypes.each do |subtype|
    %td=tendency subtype
  %tr
    %th{colspan:4} Goals
  %tr
  -@type.subtypes.each do |subtype|
    %td=solution subtype

%table
  %caption
    %h2 Best time to achieve goals
  %tr
    %th{colspan:4}=format '↑', 'Morning'
  %tr
    %th=solution @type.ep
    %th=solution @type.ej
  %tr
    %td=render 'every', subtype: @type.ep
    %td=render 'if', subtype: @type.ej
  %tr
    %th{colspan:2}=format '↓', 'Midday'
  %tr
    %th=solution @type.ij
    %th=solution @type.ip
  %tr
    %td=render 'every', subtype: @type.ij
    %td=render 'if', subtype: @type.ip
  %tr
    %th{colspan:2}=format '¬↓', 'Afternoon'
  %tr
    %th=solution @type.ej
    %th=solution @type.ep
  %tr
    %td=render 'every', subtype: @type.ej
    %td=render 'if', subtype: @type.ep
  %tr
    %th{colspan:2}=format '¬↑', 'Evening'
  %tr
    %th=solution @type.ip
    %th=solution @type.ij
  %tr
    %td=render 'every', subtype: @type.ip
    %td=render 'if', subtype: @type.ij
