- content_for(:title, @type.path)

-if cookies.to_h.present?
  .center
    =link_to 'bookmark', type_path(@type.path, cookies.to_h)
    (save your words between sessions)

%table

  %tr
    %td.none.left=render 'solution', attitude: Attitude.TL, realms: @type.tl_realms, classes: @solution.reverse
    %th
    %td.none.right=render 'solution', attitude: Attitude.TR, realms: @type.tr_realms, classes: @solution.reverse
  %tr
    %th
    %th=circle
    %th
  %tr
    %td.none.left=render 'solution', attitude: Attitude.BL, realms: @type.bl_realms, classes: @solution
    %th
    %td.none.right=render 'solution', attitude: Attitude.BR, realms: @type.br_realms, classes: @solution
  %tr
    %td.none{colspan:3}=render 'legend'
  -if Attitude.strings.include?(@show) || Realm.strings.include?(@show)
    -s=@type.find_ss_by(@show)
    %tr
      %td.left{colspan:3}
        When
        =@realm ? s.first.realm.foci : s.first.attitude.mode.ing
        =@realm ? 'are' : 'is'
        making you feel
        =s.first.unhappy.comma
        %br
        you no longer want to
        =(display s.first).comma
        %br
        and you know you should stop
        =(display s.second).ing.comma
        %br
        then
        =(display s.third).period
        %br
        If you cannot
        =(display s.third).comma
        then
        =(display s.fourth).period



-if Rails.env.development? && @type == Type.my_type
  %hr
  =link_to 'your type', type_path(Type.your_path)
