- content_for(:title, @type.symbol)

%h2 BipolarType #{@type.index + 1} of 24
%table
  %tr
    %td.bold{colspan:4} Tendencies
  %tr
  -@type.subtypes.each do |subtype|
    %td=format_from_key subtype.symbol
  %tr
    %td.bold{colspan:4} Goals
  %tr
  -@type.subtypes.each do |subtype|
    %td=format_solution subtype

%table
  %caption
    %h2
      BipolarType Advice
      -if @hide
        =button_to 'TL;DR', {}, method: :get, params: {details: 'show'}
      -else
        =button_to 'TL;DR', {}, method: :get, params: {details: 'hide'}
  =render 'time', name: 'Morning', subtypes: [@type.ep, @type.ip, @type.ij, @type.ej]
  =render 'time', name: 'Midday', subtypes: [@type.ij, @type.ep, @type.ej, @type.ip]
  =render 'time', name: 'Afternoon', subtypes: [@type.ej, @type.ij, @type.ip, @type.ep]
  =render 'time', name: 'Evening', subtypes: [@type.ip, @type.ej, @type.ep, @type.ij]
