- content_for(:title, @type.path)

-if cookies.to_h.present?
  .center
    =link_to 'bookmark', type_path(@type.path, cookies.to_h)
    (save your words between sessions)

%table

  %tr
    %td.none.left=render 'solution', attitude: Attitude.TL, realms: @type.tl_realms, classes: @solution.reverse
    %th
    %td.none.right=render 'solution', attitude: Attitude.TR, realms: @type.tr_realms, classes: @solution.reverse
  %tr
    %th
    %th=circle
    %th
  %tr
    %td.none.left=render 'solution', attitude: Attitude.BL, realms: @type.bl_realms, classes: @solution
    %th
    %td.none.right=render 'solution', attitude: Attitude.BR, realms: @type.br_realms, classes: @solution
  %tr
    %td.none{colspan:3}=render 'legend'
  -if Attitude.strings.include?(@show) || Realm.strings.include?(@show)
    -s=@type.find_ss_by(@show)
    %tr
      %td.none{colspan:3}
        %ul
          %li
            You are
            -if @realm
              surrounded by
              =s.first.realm.foci.period
            -else
              =s.first.unhappy.period
          %li.episodes
            You don&rsquo;t want to
            =(display s.first).period
          %li.donts
            You know you shouldn&rsquo;t
            =(display s.second).period
          %li.mores=(display s.third).capitalize.bang
          %li.dos
            If you cannot
            =(display s.third).comma
            then
            =(display s.fourth).period



-if Rails.env.development? && @type == Type.my_type
  %hr
  =link_to 'your type', type_path(Type.your_path)
