- content_for(:title, 'Your BipolarType')

%p
  A BipolarType is defined by your
  ="bad habits".dquote.period
  Those learned focused responses which are often inappropriate and usually unhealthy.
%table
  %tr
    %th
    -Attitude.linear.each do |attitude|
      %th
        =attitude.episode
        .plain=attitude.too
  -Realm.each do |realm|
    %tr
      %th
        =realm.name
        .plain=realm.adjective.wrap

      -Attitude.linear.add(realm).each do |s|
        %td
          =link_to_if @free.include?(s), display(s), types_path(@current+s.tla)
          %br
          =s.aka.wrap

