- content_for(:title, @title)
%h2=@title
%table
  %tr
    %th
    -@type.behaviors.each do |behavior|
      %th=behavior.realm.name
  %tr
    %th Do
    -@type.behaviors.each do |behavior|
      %td{class: behavior.class}=cookies[behavior.display]
  %tr
    %th So you can
    -@type.behaviors.each do |behavior|
      %td{class: behavior.flip.class}=cookies[behavior.flip.display]
  %tr
    %th Don&rsquo;t
    -@type.behaviors.each do |behavior|
      %td{class: behavior.flop.class}=cookies[behavior.flop.display]
  %tr
    %th You won&rsquo;t
    -@type.behaviors.each do |behavior|
      %td{class: behavior.opposite.class}=cookies[behavior.opposite.display]

%p
%table
  %tr
    %td{class: 'cycleB'}=render 'solution', behavior: @type.behaviors.first
    %td{class: 'cycleU'}=render 'solution', behavior: @type.behaviors.second
  %tr
    %td{class: 'cycleG'}=render 'solution', behavior: @type.behaviors.third
    %td{class: 'cycleR'}=render 'solution', behavior: @type.behaviors.fourth
