- content_for(:title, Type.title)
%h2 The 24 BipolarTypes (4!).
%table
  %tr
    %th
    -State.all.each_with_index do |state, index|
      %th
        =link_to_unless index == @sort_index, state.symbol, types_path(sort: index)
  -@types.each_with_index do |type, index|
    %tr
      %th=link_to type.index, type_path(type.path)
      -type.solutions.each do |solution|
        %td.left=static solution
