- content_for(:title, @title)
.center
  %h1=@title
%table
  %caption
    %h2 Do
  -@type.solutions.in_groups_of(2).each do |row|
    %tr
      -row.each do |behavior|
        =td behavior, 'depends'
%table
  %caption
    %h2 And
  -@type.solutions.map(&:flip).sort.in_groups_of(2).each do |row|
    %tr
      -row.each do |behavior|
        =td behavior, 'depends'


%table
  %caption
    %h2 Longer Advice
    %p.left If you are bipolar you are unbalanced. Since you cannot balance yourself #{Response.shorts.join('-to-').downcase}, try balancing yourself #{Attitude.shorts.join('-to-').downcase}.
  -@type.solutions.in_groups_of(2).each do |row|
    %tr
      -row.reverse.each do |behavior|
        %td.four_border
          %h3 Excess #{behavior.quadrant.flop.short.ing}
          =render 'problem', behavior: behavior.flop
          =render 'solution', behavior: behavior
