- content_for(:title, @type.symbol)

%div.right
  You can use
  =link_to 'this link', @url
  %br
  to bookmark your words.


%table
  %caption
    %h2 Problems
  -@type.behaviors.in_groups_of(2).each do |row|
    %tr
      -row.each do |behavior|
        %td
          =formatted(behavior)
          -unless cookies['setting'] == 'symbols'
            .left=render 'problem', behavior: behavior

%h2 Solutions By Focus
-Focus.each do |focus|
  %h3=formatted(focus)
  .left=render 'by_focus', behavior: @type.find_behavior(focus)


%h2 Priorities By State
-State.sorted.each_with_index do |state, index|
  %h3=formatted(state)
  =render 'by_state', behavior: @type.find_behavior(state), flip: @type.flip_behaviors[index].flip, flop: @type.flop_behaviors[index].flop, opposite: @type.opposite_behaviors[index].opposite


