- content_for(:title, @type.symbol)

%h2 BipolarType #{@type.index + 1} of 24
%table
  %tr
    %td.bold{colspan:4} Tendencies
  %tr
  -@type.subtypes.each do |subtype|
    %td=tendency subtype
  %tr
    %td.bold{colspan:4} Goals
  %tr
  -@type.subtypes.each do |subtype|
    %td=solution subtype

%table
  %caption
    %h2 Best time to achieve goals
  %tr
    %td.bold Every morning; more often in spring
  %tr
    %td=solution @type.ep
  %tr
    %td.bold Every midday; more often in summer
  %tr
    %td=solution @type.ij
  %tr
    %td.bold Every afternoon; more often in fall
  %tr
    %td=solution @type.ej
  %tr
    %td.bold Every evening; more often in winter
  %tr
    %td=solution @type.ip
