- content_for(:title, Type.title)
%h2 Twenty-Four BipolarTypes (4!).
%table
  %tr
    %th
    -State.all.each_with_index do |state, index|
      %th
        =link_to_unless index == @sort_index, formatted(state), types_path(sort: index)
  -@types.each_with_index do |type, index|
    %tr
      %th=link_to type.index, type_path(type.path)
      -type.behaviors.each do |behavior|
        %td.left=formatted behavior
