- content_for(:title, @type.symbol)

%h2 BipolarType #{@type.index + 1} of 24
%table
  %tr
    %th{colspan:4} Tendencies
  %tr
  -@type.subtypes.each do |subtype|
    %td=tendency subtype
  %tr
    %th{colspan:4} Goals
  %tr
  -@type.subtypes.each do |subtype|
    %td=solution subtype

%h3 Mornings
%table
  %tr
    %th=solution @type.ep
    %th=solution @type.ej
  %tr
    %td every day<br />(hardest in the fall)
    %td when possible<br />(easiest in the fall)
%h3 Middays
%table
  %tr
    %th=solution @type.ij
    %th=solution @type.ip
  %tr
    %td every day<br />(hardest in the winter)
    %td when possible<br />(easiest in the winter)
%h3 Afternoons
%table
  %tr
    %th=solution @type.ej
    %th=solution @type.ep
  %tr
    %td every day<br />(hardest in the spring)
    %td when possible<br />(easiest in the spring)
%h3 Evenings
%table
  %tr
    %th=solution @type.ip
    %th=solution @type.ij
  %tr
    %td every day<br />(hardest in the summer)
    %td when possible<br />(easiest in the summer)
