- content_for(:title, @type.path)
.right=link_to 'bookmark', type_path(@type.path, cookies.to_h)

%table
  %tr
    %th{colspan:2}
    %th.top{colspan:3} Manic<br />Stressful<br />Interesting
    %th{colspan:2}
  %tr
    %th
    %th.top.left=@tl.name
    %td.none.left.bottom anxious
    %th
    %td.none.right.bottom irritated
    %th.top.right=@tr.name
    %th
  %tr
    %th.bottom Prey
    %td.right.top.none flight
    %td=render 'solution', attitude: Attitude.TL, realms: [@tl, @bl, @tr, @br]
    %th
    %td=render 'solution', attitude: Attitude.TR, realms: [@tr, @br, @tl, @bl]
    %td.left.top.none fight
    %th.bottom Predator

  %tr
    %th Energy
    %th{colspan:5}
    %th Strength

  %tr
    %th.top Freedom
    %td.right.bottom.none digest
    %td=render 'solution', attitude: Attitude.BL, realms: [@bl, @tl, @br, @tr]
    %th
    %td=render 'solution', attitude: Attitude.BR, realms: [@br, @tr, @bl, @tl]
    %td.left.none.bottom rest
    %th.top Control

  %tr
    %th
    %th.bottom.left=@bl.name
    %td.none.left.top hungry
    %th
    %td.none.right.top tired
    %th.bottom.right=@br.name
    %th

  %tr
    %th{colspan:2}
    %th.bottom{colspan:3} Safe<br />Boring<br />Depressed
    %th{colspan:2}

%p
  %ul
    %li
      Legend:
      .bold do this more, now that you can
    %li let yourself do this, once you are balanced
    %li.strike do this less, it&rsquo;s not what you want to do
    %li.italic let yourself NOT do this, as soon as you no longer have to

-if Rails.env.development? && @type == Type.my_type
  %hr
  =link_to 'your type', type_path('NSTF')
