- content_for(:title, @title)
.center
  %h1=@title
%p
%table.none
  -@type.behaviors.in_groups_of(2).each do |row|
    %tr
      -row.each do |behavior|
        %td{class: behavior.css}=cookies[behavior.mbti]
%h2 And
%table.none
  -@type.behaviors.map(&:flip).sort.in_groups_of(2).each do |row|
    %tr
      -row.each do |behavior|
        %td{class: behavior.css}=cookies[behavior.mbti]



%table
  %caption
    %h2 By Realm
  %tr
    -@type.behaviors.each do |behavior|
      %th=behavior.realm.name
  %tr
    -@type.behaviors.each do |behavior|
      %td{class: behavior.css}=cookies[behavior.mbti]
  %tr
    -@type.behaviors.map(&:flip).each do |behavior|
      %td{class: behavior.css}=cookies[behavior.mbti]



%h2 Rationale
%p If you are bipolar you are unbalanced. Since you cannot balance yourself manic-to-depressed, try balancing yourself fast-to-powerful.
-@type.linear_behaviors.reverse.each do |behavior|
  =render 'problem', behavior: behavior.flop
  =render 'solution', behavior: behavior
