- content_for(:title, @type.symbol)

%h2 BipolarType #{@type.index + 1} of 24

%table
  %tr
    %th{colspan:4} Problems
  %tr
    %th{colspan:2} Mania
    %th{colspan:2} Depression
  %tr
    -@type.subtype_symbols.each do |ss|
      %td=display(ss)
  %tr
    %th{colspan:4} Goals
  %tr
    %th{colspan:2} Do Less
    %th{colspan:2} Do More
  %tr
    -@type.subtypes.each do |s|
      %td=display(transform((s.solution), :prepend, 'do '))


%h2
  Strategy
  -if @hide
    =button_to 'TL;DR', {}, method: :get, params: {details: 'show'}
  -else
    =button_to 'TL;DR', {}, method: :get, params: {details: 'hide'}
  -Help.each do |help|
    =render 'advice', help: help, subtype: @type.subtype_for(help)
