- content_for(:title, @type.path)

%table
  %tr
    %th The<br />#{@tl.name}
    %th.top{colspan:2} Manic
    %th My<br />#{@tr.name}
  %tr
    %th
    %td.none.left anxious
    %td.none.right irritated
    %th
  %tr
    %td.right.top.none flight
    %td
      %ul
        %li.bold=@tl.use_energy
        %li=@bl.use_energy
        %li.strike=@tr.use_energy
        %li.italic=@br.use_energy
    %td
      %ul
        %li.bold=@tr.use_strength
        %li=@br.use_strength
        %li.strike=@tl.use_strength
        %li.italic=@bl.use_strength
    %td.left.top.none fight

  %tr
    %th.left Energy
    %th{colspan:2}
    %th.right Strength

  %tr
    %td.right.bottom.none digest
    %td
      %ul
        %li.bold=@bl.get_energy
        %li=@tl.get_energy
        %li.strike=@br.get_energy
        %li.italic=@tr.get_energy
    %td
      %ul
        %li.bold=@br.get_strength
        %li=@tr.get_strength
        %li.strike=@bl.get_strength
        %li.italic=@tl.get_strength
    %td.left.none.bottom rest
  %tr
    %th
    %td.none.left hungry
    %td.none.right tired
    %th
  %tr
    %th The<br />#{@bl.name}
    %th.bottom{colspan:2} Depressed
    %th My<br />#{@br.name}

%p
  %ul
    %li
      Legend:
      .bold do this more
    %li let yourself do this
    %li.strike do this less
    %li.italic let yourself NOT do this

-if Rails.env.development? && @type == Type.my_type
  %hr
  =link_to 'your type', type_path('NSTF')
