- content_for(:title, Type.title)
%h2 The 24 BipolarTypes (4!).
%table
  %tr
    %th
    -Tendency.all.each_with_index do |tendency, index|
      %th
        =link_to_unless index == @sort_index, problem(tendency), types_path(sort: index)
  -@types.each_with_index do |type, index|
    %tr
      %th=link_to type.index + 1, type_path(type.path)
      -type.subtypes.each do |subtype|
        %td.left=tendency subtype
%p Note: these are <em>natural tendencies</em>. Most people work fairly hard in their dominant functions to <em>overcome</em> those tendencies. Thus, someone with #{tendency Subtype.find_by('ESP')} as their <em>dominant</em> will rarely <em>actually be</em> #{word 'S'} #{word '↓'}. But someone with #{tendency Subtype.find_by('ESP')} as their <em>inferior</em> usually will be.
%p Note also: BipolarType doesn’t actually differentiate between dominant and inferior functions. Two people with the same BipolarType may appear <em>very</em> different from each other, and have completely different MBTI&reg; Best-fit Types, even though they share the same natural tendencies.
