-title = @type.symbolic_name
- content_for(:title, title)
.center
  %h1=title
%table
  %caption
    %h2 Advice
  -@type.solutions.in_groups_of(2).each do |row|
    %tr
      -row.each do |behavior|
        =td behavior, 'depends'

%table
  %caption
    %h2 Longer Advice
    %p.left Since you cannot balance yourself between #{Response::SICK.amp.downcase}, try balancing yourself between #{Attitude::NOUN.amp.downcase}.

  -@type.problems.in_groups_of(2).each do |row|
    %tr
      -row.each do |behavior|
        %td.four_border
          %h3=span behavior
