- content_for(:title, @type.symbol)

%div.right
  You can use
  =link_to 'this link', @url
  %br
  to bookmark your words.


%table
  %caption
    %h2
      Problems
      .unbold.italic (compulsions)
  -@type.behaviors.in_groups_of(2).each do |row|
    %tr
      -row.each do |behavior|
        %td=formatted(behavior)


%h2
  Solutions
  .unbold.italic (by State)
-State.sorted.each_with_index do |state, index|
  %h3=formatted(state).titleize
  =render 'by_state', behavior: @type.quad.find_behavior(state), flip: @type.quad.flip_behaviors[index].flip, flop: @type.quad.flop_behaviors[index].flop, opposite: @type.quad.opposite_behaviors[index].opposite


%h2
  Solutions
  .unbold.italic (by Focus)
-Focus.each do |focus|
  %h3=formatted(focus).titleize
  .left=render 'by_focus', behavior: @type.quad.find_behavior(focus)
