- content_for(:title, @type.path)
.right=link_to 'bookmark', type_path(@type.path, cookies.to_h)

%table
  %tr
    %th.bottom.right=@tl.name
    %td.none.left.bottom anxious
    %td.none.right.bottom irritated
    %th.bottom.left=@tr.name
  %tr
    %td.right.top.none flight
    %td=render 'solution', attitude: Attitude.TL, realms: [@tl, @bl, @tr, @br]
    %td=render 'solution', attitude: Attitude.TR, realms: [@tr, @br, @tl, @bl]
    %td.left.top.none fight
  %tr
    %td.right.bottom.none digest
    %td=render 'solution', attitude: Attitude.BL, realms: [@bl, @tl, @br, @tr]
    %td=render 'solution', attitude: Attitude.BR, realms: [@br, @tr, @bl, @tl]
    %td.left.none.bottom rest
  %tr
    %th.top.right=@bl.name
    %td.none.left.top hungry
    %td.none.right.top tired
    %th.top.left=@br.name


%p
  %ul
    %li
      Legend:
      .bold do this more, now that you can
    %li let yourself do this, once you are balanced
    %li.strike do this less, it&rsquo;s not what you want to do
    %li.italic let yourself NOT do this, as soon as you no longer have to

-if Rails.env.development? && @type == Type.my_type
  %hr
  =link_to 'your type', type_path('NSTF')
