%br
%table
  -Attitude.rotate.each do |a|
    %tr
      -a.subtypes.rotate.each do |s|
        %td
          -if @free.include?(s)
            %b=link_to s.episode, types_path(@current+s.tla)
            .left
              I
              =display(s)
              whenever I feel
              =s.previous.feeling
              or
              =s.next.feeling
              and so rarely feel
              =s.adverb
              =s.feeling.period
