- content_for(:title, @type.symbol)

%h2 BipolarType #{@type.index + 1} of 24

%table
  %tr
    %th{colspan:4} Problems
  %tr
    %th{colspan:2} Mania
    %th{colspan:2} Depression
  %tr
    -@type.subtype_symbols.each do |ss|
      %td=display(ss)
  %tr
    %td.left
      =display(transform(@type.ij.problem, :ing))
      %em is
      easy and enjoyable, but
      =display(transform(@type.ij.herring, :ing))
      is painful and difficult and
      %em rarely
      worth it.
    %td.left
      =display(transform(@type.ip.solution, :ing))
      %em can
      be easy and enjoyable, you just need to
      %em do it
      so that you can continue to
      =display(@type.ip.role)
    %td.left
      =display(transform(@type.ep.problem, :ing))
      %em is
      easy and enjoyable, but
      =display(transform(@type.ep.herring, :ing))
      is painful and difficult and
      %em rarely
      worth it.
    %td.left
      =display(transform(@type.ej.solution, :ing))
      %em can
      be easy and enjoyable, you just need to
      %em do it
      so that you can continue to
      =display(@type.ej.role)


  %tr
    %th{colspan:4} Goals
  %tr
    %th{colspan:2} Do Less
    %th{colspan:2} Do More
  %tr
    -@type.subtypes.each do |s|
      %td=display(transform((s.solution), :prepend, 'do '))

%h2
  Strategy
  =render 'layouts/show_form'
-unless @show
  -Help.each do |help|
    %h3
      =help.cycle_name.colon
      %span.plain=display transform(@type.subtype_for(help).solution, :prepend, 'do ')

-if @show
  %table
    %tr
      %th
      %th Problem
      %th Solution
    %tr
    %th=Help.first.cycle_name
    %td.left
      You will
      =problem(@type.ij)
      &rArr;
      =link_to display(@type.ij), subtype_path(@type.ij.symbol)
    %td.left
      =render 'solution', subtype: @type.ep, drugs: 'stimulants', change: 'start', drugged: @type.ep.herring, natural: @type.ep.problem, continue: 'postpone'
    %tr
    %th=Help.second.cycle_name
    %td.left
      You will
      =problem(@type.ep)
      &rArr;
      =link_to display(@type.ep), subtype_path(@type.ep.symbol)
    %td.left
      =render 'solution', subtype: @type.ij, drugs: 'sedatives', change: 'start', drugged: @type.ij.herring, natural: @type.ij.problem, continue: 'postpone'
    %tr
    %th=Help.third.cycle_name
    %td.left
      You will
      =problem(@type.ip)
      &rArr;
      =link_to display(@type.ip), subtype_path(@type.ip.symbol)
    %td.left
      =render 'solution', subtype: @type.ej, drugs: 'stimulants', change: 'stop', drugged: @type.ej.role, natural: @type.ej.solution, continue: 'keep'
    %tr
    %th=Help.fourth.cycle_name
    %td.left
      You will
      =problem(@type.ej)
      &rArr;
      =link_to display(@type.ej), subtype_path(@type.ej.symbol)
    %td.left
      =render 'solution', subtype: @type.ip, drugs: 'sedatives', change: 'stop', drugged: @type.ip.role, natural: @type.ip.solution, continue: 'keep'
