p.larger.center=@type.title

=render @type.balance, type: @type, caption: 'Balancing (do more)'
br
=render 'nature', type: @type, caption: 'Nature (enjoy)'
br
=render @type.excess, type: @type, caption: 'Unbalancing (do less)'
