- content_for(:title, @type.symbol)

%table
  %tr
    %th{colspan:4} Natural Imbalances
  %tr
  -@type.subtypes.each do |subtype|
    %td=problem subtype
  %tr
    %th{colspan:4} Goals
  %tr
  -@type.subtypes.each do |subtype|
    %td.left=solution subtype
