- content_for(:title, Type.title)
%h2 The 24 BipolarTypes (4!).
%table
  %tr
    %th
    -Tendency.all.each_with_index do |tendency, index|
      %th
        =link_to_unless index == @sort_index, formatted(tendency.symbol, tendency.adjective), types_path(sort: index)
  -@types.each_with_index do |type, index|
    %tr
      %th=link_to type.index, type_path(type.path)
      -type.subtypes.each do |subtype|
        %td.left=problem subtype
