-if cookies.to_h.present?
  .center
    =link_to 'bookmark', type_path(@type.path, cookies.to_h)
    (save your words between sessions)

%br
=render 'cycle', caption: render('chooser'), render: 'advice', klass: :equal

.center
  Legend:
  .before continue as long as possible
  .dont not unless you need to
  .after start as soon as possible
  .plain only if you want to


-if Rails.env.development? && @type == Type.my_type
  %hr
  =link_to 'your type', type_path(Type.your_path)
