- content_for(:title, '24 BipolarTypes')

%p There are sixteen kinds of misery (bad realm & attitude matchup). Once you choose the first, there are only nine left (three realms & three attitudes). Choose another and there are four left. Choose a third, and you have a link to the associated BipolarType.
%table
  %tr
    %th
    -Realm.each do |realm|
      %th=realm.name
  -Attitude.linear.each do |attitude|
    %tr
      %th
        =attitude.name
        .plain=attitude.action.deunderscore.wrap
      -attitude.subtypes.each do |s|
        %td
          =link_to_if @free.include?(s), s.episode, types_path(@current+s.tla)
          %br
          =display(s).wrap

