- content_for(:title, '24 Types')
%table
  %caption
    %h2 The 24 BipolarTypes (4!)
  %tr
    %td.none.left You can change the sort order by clicking one of the four header links:
  %tr
    %th
      -Attitude.all.each_with_index do |attitude, index|
        =link_to_unless index == @sort_index, display(transform(attitude, :capitalize)), types_path(sort: index)
  -@types.each_with_index do |type, index|
    %tr
      %td
        =link_to type_path(type.path) do
          =type.subtypes.collect {|s| display(s)}.join(' | ')

