- content_for(:title, @type.path)
.right
  =link_to 'bookmark', type_path(@type.path, cookies.to_h)
  -if @realm
    (all four)

%h2
  -Realm.each do |realm|
    =link_to_unless @realm == realm, realm.name, type_path(@type.path, realm.string)
    ="|" unless realm==Realm.fourth

%table.equal
  %tr
    %th
      .plain (avoid them)
      =@tl.name
    %td.none.left.bottom anxious
    %td.none.right.bottom irritated
    %th
      .plain (fix them)
      =@tr.name
  %tr
    %td.right.top.none flight
    %td.top.left.none=render 'solution', attitude: Attitude.TL, realms: [@tl, @bl, @tr, @br], classes: %w{bold plain strike italic}
    %td.top.right.none=render 'solution', attitude: Attitude.TR, realms: [@tr, @br, @tl, @bl], classes: %w{bold plain strike italic}
    %td.left.top.none fight
  %tr
    %th &orarr;
    %th{colspan:2}
    %th &orarr;
  %tr
    %td.right.bottom.none digest
    %td.bottom.left.none=render 'solution', attitude: Attitude.BL, realms: [@bl, @tl, @br, @tr].reverse, classes: %w{bold plain strike italic}.reverse
    %td.bottom.right.none=render 'solution', attitude: Attitude.BR, realms: [@br, @tr, @bl, @tl].reverse, classes: %w{bold plain strike italic}.reverse
    %td.left.none.bottom rest
  %tr
    %th
      =@bl.name
      .plain (enjoy them)
    %td.none.left.top empty
    %td.none.right.top tired
    %th
      =@br.name
      .plain (rely on them)


%p
  %ul.center
    %li
      Legend:
      .bold do this
    %li.strike instead of that
    %li so you can do this
    %li.italic instead of having to do that

-if Rails.env.development? && @type == Type.my_type
  %hr
  =link_to 'your type', type_path('NSTF')
