- content_for(:title, @type.path)

-if cookies.to_h.present?
  .center
    =link_to 'bookmark', type_path(@type.path, cookies.to_h)
    (save your words between sessions)

%table.equal
  %tr
    %th
      .plain (#{Attitude.TL.react})
      =@tl.name
    %td.none.left.bottom anxious
    %td.none.right.bottom irritated
    %th
      .plain (#{Attitude.TR.react})
      =@tr.name
  %tr
    %td.right.top.none flight
    %td.top.left.none=render 'solution', attitude: Attitude.TL, realms: [@tl, @bl, @tr, @br], classes: %w{bold plain strike italic}
    %td.top.right.none=render 'solution', attitude: Attitude.TR, realms: [@tr, @br, @tl, @bl], classes: %w{bold plain strike italic}
    %td.left.top.none fight
  %tr
    %th='&orarr;'.html_safe unless (@show && [@tr, @br].map(&:string).include?(@show))
    %td.none{colspan:2}=render 'legend'
    %th='&orarr;'.html_safe unless (@show && [@tl, @bl].map(&:string).include?(@show))

  %tr
    %td.right.bottom.none digest
    %td.bottom.left.none=render 'solution', attitude: Attitude.BL, realms: [@bl, @tl, @br, @tr].reverse, classes: %w{bold plain strike italic}.reverse
    %td.bottom.right.none=render 'solution', attitude: Attitude.BR, realms: [@br, @tr, @bl, @tl].reverse, classes: %w{bold plain strike italic}.reverse
    %td.left.none.bottom rest
  %tr
    %th
      =@bl.name
      .plain (#{Attitude.BL.react})
    %td.none.left.top empty
    %td.none.right.top tired
    %th
      =@br.name
      .plain (#{Attitude.BR.react})

-if Rails.env.development? && @type == Type.my_type
  %hr
  =link_to 'your type', type_path(Type.your_path)
