- content_for(:title, @type.path)

-if cookies.to_h.present?
  .center
    =link_to 'bookmark', type_path(@type.path, cookies.to_h)
    (save your words between sessions)

%table

  %tr
    %td.none.left=render 'solution', attitude: Attitude.TL, realms: @type.tl_realms, classes: @solution.reverse
    %th
    %td.none.right=render 'solution', attitude: Attitude.TR, realms: @type.tr_realms, classes: @solution.reverse
  %tr
    -if Attitude.strings.include?(@show) || Realm.strings.include?(@show)
      %td.none{colspan:3}=render 'advice', s: @type.find_ss_by(@show)
    -else
      %th{colspan:3}=circle
  %tr
    %td.none.left=render 'solution', attitude: Attitude.BL, realms: @type.bl_realms, classes: @solution
    %th
    %td.none.right=render 'solution', attitude: Attitude.BR, realms: @type.br_realms, classes: @solution
  %tr
    %td.none{colspan:3}=render 'legend'


-if Rails.env.development? && @type == Type.my_type
  %hr
  =link_to 'your type', type_path(Type.your_path)
