- content_for(:title, @type.path)

-if cookies.to_h.present?
  .center
    =link_to 'bookmark', type_path(@type.path, cookies.to_h)
    (save your words between sessions)

%table.equal

  %tr
    %td.left.none=render 'solution', attitude: Attitude.TL, realms: [@bl, @tl, @tr, @br].reverse, classes: %w{ plain bold strike italic}.reverse
    %td.right.none=render 'solution', attitude: Attitude.TR, realms: [@br, @tr,  @tl, @bl].reverse, classes: %w{plain bold  strike italic}.reverse

  %tr
    %td.none{colspan:2}=render 'legend'


  %tr
    %td.left.none=render 'solution', attitude: Attitude.BL, realms: [@tl, @bl, @br, @tr], classes: %w{ plain bold strike italic}
    %td.right.none=render 'solution', attitude: Attitude.BR, realms: [@tr, @br, @bl, @tl], classes: %w{ plain bold strike italic}



-if Rails.env.development? && @type == Type.my_type
  %hr
  =link_to 'your type', type_path(Type.your_path)
