- content_for(:title, '24 BipolarTypes')

%table
  %tr
  %th
    Sort by:
    -Attitude.each do |a|
      =link_to_unless @unhappy == a.unhappy, a.unhappy.capitalize, types_path(a.unhappy)
      ='|' unless a.index == 3
  -@types.each do |t|
    %tr
    %td=link_to t.episodes.collect{|s|display(s)}.join(' | '), type_path(t.path)
