- content_for(:title, @type.symbol)

%h2 BipolarType #{@type.index + 1} of 24

%table
  %tr
    %td{colspan:2}
      %h3=display(transform(@type.subtypes.first, :titleize))
  %tr
    %td
      %h3=display(transform(@type.subtypes.second, :titleize))
    %td
      %h3=display(transform(@type.subtypes.third, :titleize))
  %tr
    %td{colspan:2}
      %h3=display(transform(@type.subtypes.fourth, :titleize))

%center=render 'layouts/show_form'
-if @show
  Pending
