- content_for(:title, @type.symbol)

%h2
  BipolarType #{@type.index + 1} of 24
  %br
  =display(@type)

.center=render 'layouts/more'
-if @more
  %ul
    %li
      =display @type.subtypes.first
      so you will be able to react to
      =display @type.subtypes.first.realm
      by
      =display(transform(@type.subtypes.first.next, :ing))
    %li
      don’t
      =display @type.subtypes.second.next
      so you will be able to react to
      =display @type.subtypes.second.realm
      by
      =display(transform(@type.subtypes.second, :ing))
    %li
      =display @type.subtypes.third
      so you won’t be distracted by
      =display(transform(@type.subtypes.third.opposite, :ing))
    %li
      =display @type.subtypes.fourth
      so you won’t
      =display @type.subtypes.fourth.next
      and waste your time
      =display(transform(@type.subtypes.fourth.opposite, :ing))
      in circles
