%p You have two pairs of imbalances.
%p
  The first is associated with Bipolar I: severe spring mania with milder winter depression:
  -@answer.ones.each do |behavior|
    %dt=behavior.imbalance
    %dd=render behavior.imbalance_path
.clear
%p
  The second with Bipolar II: severe winter depression with milder fall mania:
  -@answer.twos.each do |behavior|
    %dt=behavior.imbalance
    %dd=render behavior.imbalance_path
.clear
%p If this doesn’t look right, #{link_to 'go back', answer_path(Answer.first_path)} and try again.

%p If it does look right, #{link_to 'go on', type_path(@answer.type_path)} to see your schedule.
