- content_for :title, 'Words'

-if cookies.to_h.present?
  .center
    =link_to 'reset to defaults', words_path + '?GPE'
    %br
    (clears cookies for the current session)
=form_with url: words_path, method: :get do |f|
  %table
    -Realm.each do |realm|
      %tr
        %th{colspan:3}=realm.name
      -realm.subtypes.each do |subtype|
        %tr
          %th.right=subtype.attitude.action.titleize
          %td=subtype.action
          %td=f.text_field subtype.tla, value: cookies[subtype.tla], maxlength: 80, size: cookies.to_h.values.map(&:length).max || 15
      %tr
        %th{colspan:3}= f.submit 'Save'
