- content_for(:title, 'The Words')

%p BipolarType asserts that there are four realms of behavior, each of which uses a different kind of strength fueled by a different kind of energy:
%p=Realm.all.map(&:symbolic_name).break

= form_with method: :get do |form|
  %table
    %caption
      %p.left On future pages you will be able to customize how the behaviors are presented. You can use this form to create your own descriptions.
    -Quadrant.all.in_groups_of(2) do |row|
      %tr
        -row.each do |quadrant|
          %td.four_border
            %h3{class: quadrant.css}=quadrant.symbolic_name
            -Realm.each do |realm|
              -behavior = realm + quadrant
              -cookie = cookies[behavior.mbti] || @words[behavior.mbti]
              .left
                =behavior.symbolic_name
                =form.text_field behavior.mbti, value: cookie, maxlength: 80, size: 18
    %tr
      %td{colspan:2}=form.submit 'Change Words'

  %p If you want to save your changes between browser sessions, you will need to bookmark this page immediately after you change the words (your changes will be in the URL).
  %p
    You can clear a single phrase with a blank entry or you can
    =form.submit 'Clear All Cookies'
