%p
  The words on the right are
  %em my
  examples of the sixteen behaviors listed on the left. Please use your own words.

-if cookies.to_h.present?
  .right
    =link_to 'bookmark', words_path(cookies.to_h)
    %br
    (saves your words between sessions)
    %br
    =link_to 'reset to defaults', words_path + '?GPE'
    %br
    (clears cookies for the current session)
-else
  %br

=form_with url: words_path, method: :get do |f|
  -Realm.each do |realm|
    %table
      %caption
        %b.larger=realm.name
      -realm.subtypes.each do |subtype|
        %tr
          %td.right=subtype.do_something
          %td=f.text_field subtype.tla, value: cookies[subtype.tla], maxlength: 80, size: @size
          %td.left=subtype.action
      %tr
        %th{colspan:3}= f.submit 'Save'

%p
  Use pejorative words for behaviors you
  %span.dont should not do
  and laudatory words for behaviors you
  %span.sooner should start sooner
  or
  %span.longer should continue longer.
  For example, you could replace #{Subtype.find_by_tla(:GPE).action.dquote} with
  %span.sooner eat breakfast
  or
  %span.longer eat dessert
  or
  %span.dont eat sweets
