- content_for(:title, "The Four Energies")
%table
  %tr
    %th
    -Energy.all.each do |energy|
      %th=link_to energy.name, energy_path(energy.path)
  -%w{ get use measure }.each do |word|
    %tr
      %th=word.capitalize
      -Energy.all.each do |energy|
        %td=energy.send(word)
