- content_for(:title, 'The 16 Solutions')
%table
  -GenericSolution.each do |gs|
    %tr
      -gs.solutions.each do |solution|
        %td
          =link_to solution.name, solution_path(solution.symbol)
          %br
          =solution.focus
          %br
          =solution.words
          %br
          =solution.problem
          %br
          =solution.state
          %br
          =solution.ability
          %br
          =solution.problem_behavior
