-unless @subtype
  %p.heading=link_to subtype.name, subtype_path(subtype.path)
%p.heading
  =@type ? "I" : "You"
  ="have" unless subtype.goal_oriented?
  =render "problem", subtype: subtype
%p
  =@type ? "I" : "You"
  =render "description", subtype: subtype
%p
  If
  =@type ? "I" : "you"
  =render "goal", subtype: subtype
  then
  =@type ? "I" : "you"
  need to
  =render "solution", subtype: subtype
