%table
  -@subtypes.in_groups_of(2) do |row|
    %tr
    -row.each do |subtype|
      -I18n.locale=subtype.locale
      %td.bordered.half
        =link_to subtype_path(subtype.path) do
          =render subtype.attitude.mbti
