%table
  -Realm.all.each do |realm|
    %tr
      -realm.subtypes.each do |subtype|
        %td
          =link_to subtype_path(subtype.path) do
            -I18n.locale=subtype.locale
            =render subtype.attitude.path
