- content_for(:title, 'The 16 Subtypes (by nature)')
%table
  %tr
    %th.narrow
      Nature →
      %br
      Realm ↓
      =link_to "transpose", subtype_path("by_realm")
    -Nature.all.each do |nature|
      %th.quarterish
        =nature.name
  -Realm.all.each do |realm|
    %tr
      %th=realm.name
      -realm.subtypes.each do |subtype|
        %td.top=render "subtype", subtype: subtype
