- content_for(:title, "The 16 Subtypes")
%table
  %tr
    %th
      -Realm.all.each do |realm|
        %th.quarter=link_to realm.name, realm_path(realm.path)
      -Attitude.all.each do |attitude|
        %tr
          %th=link_to attitude.name, attitude_path(attitude.path)
          -attitude.subtypes.each do |subtype|
            %td.p
              =link_to subtype.name, subtype_path(subtype.path)
              %p=render "problem", subtype: subtype
              %p=render "solution", subtype: subtype
