- content_for(:title, "The 16 Subtypes")
%table
  %tr
    %th
      -Attitude.all.each do |attitude|
        %th.quarter=link_to attitude.name, attitude_path(attitude.path)
  -Realm.all.each do |realm|
    -%w{problem result solution theory oops}.each do |section|
      %tr
        %th=section.capitalize
        -realm.subtypes.each do |subtype|
          %td.top.left=render section, subtype: subtype
