- content_for(:title, "The 16 Subtypes")
%table.wide
  -Realm.all.each do |realm|
    -I18n.locale = realm.locale
    %tr
      -realm.subtypes.each do |subtype|
        %td.quarter.top
          =link_to subtype.name, subtype_path(subtype.path)
          %p=render subtype.attitude.path
