- content_for(:title, "The 16 Subtypes")
%table
  -Attitude.all.each do |attitude|
    %tr
      -attitude.subtypes.each do |subtype|
        %td.p
          =link_to subtype.name, subtype_path(subtype.path)
          %p=render "attitude", subtype: subtype
