- content_for(:title, "The 16 Subtypes")
%table
  %tr
    %th.narrow
    -Realm.all.each do |realm|
      %th=realm.name
  -Attitude.all.each do |attitude|
    %tr
      %th=attitude.name
      -attitude.subtypes.each do |subtype|
        %td.top=render "td", subtype: subtype
