- content_for(:title, "#{@name}")
%div.center
  =link_to @subtype.realm.name, realm_path(@subtype.realm.path)
  |
  =link_to @subtype.attitude.name, attitude_path(@subtype.attitude.path)
-I18n.locale = @subtype.locale
=render @subtype.attitude.path
=render "beginning/#{@subtype.attitude.path}"
=render "middle/#{@subtype.attitude.path}"
=render "end/#{@subtype.attitude.path}"
