- content_for(:title, "#{@name}")
=render "realms/links"
=render "attitudes/links"
-I18n.locale = @subtype.locale
=render "problems/#{@subtype.attitude.path}"
=render "solutions/#{@subtype.attitude.path}"
