- content_for(:title, @name)

-%w{attitude result solution}.each do |word|
  %p
    -if word == "attitude"
      I wish I could
    =(render word, subtype: @subtype) + "."

%h2 Siblings
%p.heading
  -@subtype.siblings.in_groups_of(3) do |row|
    -row.each_with_index do |subtype, index|
      =link_to subtype.name, subtype_path(subtype.path)
      ="|" unless index == 2
    %br
%h2 BipolarTypes with this Subtype
%ul.center
  -@subtype.types.each do |type|
    %li
      =link_to type_path(type.path) do
        =type.subtypes.map(&:name).join(", ")
%p.heading=link_to "Start Your BipolarType with this Subtype", answer_path(@subtype.answer_path)
