- content_for(:title, @name)
-%w{attitude manic depressed neither}.each do |word|
  %h2=word.capitalize
  %p=render word, subtype: @subtype

%h2 BipolarTypes with this Subtype
%p.heading=link_to "Start with this Subtype", answer_path(@subtype.answer_path)
-@subtype.types.each do |type|
  %h3=link_to type.name, type_path(type.path)
  =type.description
  %br
  =render "p", realm: type.p
  so you can
  =type.P.harvest_resources
  %br
  =render "j", realm: type.j
  so you can
  =type.J.do_work
