- content_for(:title, @name)
%p.center=render "header"
-%w{priorities problem misery happiness }.each do |partial|
  %h2=partial.titleize
  =render partial, subtype: @subtype
%h2=link_to "BipolarTypes with this Problem", answer_path(@subtype.answer_path)
-@subtype.types.each do |type|
  %h3=link_to type.name, type_path(type.path)
  =type.subtypes.map(&:name).to_sentence
