- content_for(:title, "#{@name}")
=render "realms/links"
=render "attitudes/links"
-I18n.locale = @subtype.locale
%p=render @subtype.attitude.mbti
=render "advice/" + @subtype.attitude.mbti
%h2 BipolarTypes
=render "types/table"
