- content_for(:title, "#{@name}")
%div.center
  =link_to @subtype.name, realm_path(@subtype.realm.path)
  |
  =link_to @subtype.name, attitude_path(@subtype.attitude.path)
=render "subtype", subtype: @subtype
