- content_for(:title, "#{@name}")
%div.center
  =link_to @subtype.realm.name, realm_path(@subtype.realm.path)
  |
  =link_to @subtype.attitude.name, attitude_path(@subtype.attitude.path)
-I18n.locale = @subtype.locale
%p.center=render "answers/#{@subtype.attitude.path}"
%p=render @subtype.attitude.path
%p.heading=render "rights/#{@subtype.attitude.path}"
