%p
  it becomes much easier to ignore the
  =realm.carbs
  and
  =realm.eat
  =realm.protein
  and
  =realm.move
  again
%p
  depression is a pain at first — I rather liked being
  =realm.energetic
  — but I don’t mind it so much once I realize I am actually gaining necessary and wanted
  =realm.muscles
