you notice fewer
=realm.carbs.punctuate(",")
=realm.eat.split.first
less, and you run out of
=realm.glycogen.punctuate
Since you cannot
=realm.run
you have to
=realm.hit
more which makes you feel
=realm.sore.punctuate
Since you find it difficult to
=realm.digest
=realm.proteins
you become
=realm.restrained.er
and
=realm.move
less
