%p
  I find it hard to
  =realm.hit
%p
  depression is a pain at first — I wish I were
  =realm.strong.er
  and could
  =realm.hit
  more — but I start to crave it once I realize I can
  =realm.eat
  lots of
  =realm.carbs
  without
  =realm.walk.ing
