you are tired, so you seek out and
=realm.eat
=realm.carbs
that
=realm.taste
good until you can sleep and promise yourself that
%em tomorrow
you won’t
=realm.eat.split.first
so much. The next everning you are tired and you
=realm.eat
too much again.
