%p
  I
  =realm.eat
  more and more and more
  =realm.carbs
  even though they no longer
  =realm.taste
  good, and I am not at all
  =realm.hungry
  and I hate myself for
  =realm.eat.split.first.ing
  so much and having so little control
%p
  depression is an unmitigated and never-ending horrific disaster and the best reason to become manic again as soon as possible
