you are tired, so you seek out and
=realm.eat
=realm.carbs
that
=realm.taste
good but you still can’t sleep so you
=realm.eat.split.first
more and more and more until you hate yourself for
=realm.eat.ing
so many
=realm.carbs
