You can’t
=realm.produce_with
=realm.things
unless you 
=realm.consume_with
=realm.energy.period
%br
%br
Yes, the
=realm.resources
are excruciatingly boring, but if you can make them
=realm.obvious.er
you may be able to 
=realm.consume_with
them. You need to
=realm.turn_on.period
