Depression (or taking sedatives)
is not a problem for me because my
=realm.potential.dont_phrase
accumulate too fast because I have enough 
=realm.strengths
to soak up the excess 
=realm.energy
so I don’t have to either force myself to try to
=realm.consume
less than I want to
=realm.consume
or keep 
=realm.produce.ing
until I am
=realm.worn_out
and
=realm.adjective.ly
exhausted.
