%p
  The atrophy of your
  =realm.strengths
  during depression may be distressing, but since you don’t want to
  =realm.produce_strongly
  anyway,
  =realm.strengths.they_are
  no great loss.
%p
  Any
  =realm.strengths
  you actually use will not atrophy since you
  =realm.consume
  enough
  =realm.strengtheners
  to repair essential
  =realm.strengths.period
%p
  If you need to
  =realm.psv
  =realm.psn.those
  =realm.psn
  in the future you can rebuild the needed
  =realm.strengths
  at that time; it takes a lot less time and effort to rebuild
  =realm.strengths
  than it does to build
  =realm.strengths.them
  the first time.
