%p
  Gaining
  =realm.energy
  during depression is distressing but you must remember two things.
%p
  First, too
  =realm.energy.many_phrase
  is a burden, but it’s not necessarily  unhealthy as long as you
  %em
    keep
    =realm.produce.ing.period
  And the more you
  =realm.produce
  the
  =realm.energy.fewer_phrase
  you will gain. So force yourself to
  =realm.produce
  as much as you can whenever you can.
%p
  Second, running out of energy can be fatal. If you are still depressed enough to be unable to stop
  =realm.consume_energizers.ing.comma
  then you are still dangerously low in energy in some other realm. Possibly your Producer realm, but more likely your Energetic realm.
