Depression (or taking sedatives)
is a problem for me because I accumulate
=realm.potential
too fast because I don’t have enough 
=realm.strengths
to soak up the excess 
=realm.energy
so I either have to force myself to try to
=realm.consume
less than I want to
=realm.consume
or keep 
=realm.produce.ing
until I am
=realm.worn_out
and
=realm.adjective.ly
exhausted.
%br
%br
Either will work. Doing both will work better. Doing neither is not really an option unless I want to gain more and more
=realm.potential
with every depressive episode or whenever I take sedatives.
%br
%br
The main advantage to
=realm.produce.ing
until I am
=realm.worn_out
and
=realm.adjective.ly
exhausted is that I will develop
=realm.strengths
that will soak up excess
=realm.energy
so I can
=realm.consume
more. The main disadvantage is feeling
=realm.worn_out
and 
=realm.adjective.ly
exhausted…
%br
%br
The main advantage to
=realm.consume.ing
less than I want to
=realm.consume
is that I can make myself want to
=realm.consume
less by choosing
=realm.resources
that objectively
=realm.appear
=realm.obvious.er
and by
=realm.consume.ing
=realm.resources.them
later in the day when I am more sensitive to the
=realm.resources.period
The main disadvantage is having to change what and when I
=realm.consume.period
