=render "depression/template", :subtype => subtype,
  :type_of_depression => "Euphoric",
  :i_am_depressed => "I am not #{subtype.reject_energy.ing}!",
  :you_are_depressed => "you are not #{subtype.reject_energy.ing}"