Take the opportunity to
gain some
=realm.potential
by refraining from
=realm.produce_alt.ing
anything that isn’t
necessary.
%br
%br
The
=realm.resources
aren’t actually any
=realm.good.er.comma
you just aren’t as aware of the
=realm.bad
=realm.parts.period