You will not be able to get rid of unwanted
=realm.potential.comma
the best you can do is to not gain any by 
=realm.consume_with.ing
=realm.obvious
=realm.resources
as late in the day as possible.
%br
%br
=realm.produce.capitalize
as much and as often as you can: the more you
=realm.produce.comma
the more you can
=realm.consume.period
