%p
  Gaining
  =realm.energy
  during depression is a huge relief, but you needn’t go overboard.
%p
  You don’t actually need to save up enough
  =realm.energy
  now to last you for the rest of your life; you only need to save up enough to get you through your next manic spell. You
  %em can
  =realm.consume_verb
  when you are not manic. And there are even times you enjoy
  =realm.consume_verb.ing.period
%p
  And never forget that the
  %em only
  reason you want to store up
  =realm.energy
  is so that you can
  =realm.produce.period
  So there isn’t much point in not
  =realm.produce.ing
  once you have built up enough reserves.
