%h3==#{type_of_depression} depression: #{i_am_depressed}
%ul
  %li
    =you_are_depressed
    because you have stopped
    =subtype.fill_up.ing
  %li
    because you have stopped
    =subtype.fill_up.ing.comma
    you are
    =subtype.low_on_energy
