%p
  The atrophy of your
  =realm.strengths
  during depression is distressing, since you want to be able to
  =realm.produce_strongly.comma
  but
  =realm.strengths.they_are
  actually no great loss because only the
  =realm.strengths
  you are not currently using will atrophy.
%p
  Any
  =realm.strengths
  you actually use will not atrophy since you
  =realm.consume
  enough
  =realm.strengtheners
  to repair essential
  =realm.strengths.period
%p
  If you need to
  =realm.psv
  =realm.psn.those
  particular
  =realm.psn
  in the future you can rebuild the needed
  =realm.strengths
  at that time; it takes a lot less time and effort to rebuild
  =realm.strengths
  than it does to build
  =realm.strengths.them
  the first time.
