:css
  table {margin: auto; border: none; border-collapse: collapse;}
  td {border: 1px solid grey; text-align: center; vertical-align: top;}

  .center {text-align: center;}
  .left {text-align: left;}
  .right {text-align: right;}

  a.external:link {color: dimgrey; text-decoration: none;}
  a.external:visited {color: dimgrey; text-decoration: none;}
  a.external:hover {text-decoration: underline;}

  h1 {font-weight: bold; font-size: 1.3em; display: inline-block; padding: 0; margin: 0;}
  h2 {text-align: center; font-weight: bold; font-size: 1.2em;}
  h3 {text-align: center; font-style: italic; font-size: 1.1em;}

  .plain {font-weight: normal; font-style: normal;}
  .italic {font-style: italic;}
  .bold {font-weight: bold;}

  ul.none { padding: 0; margin: 1em; list-style-type: none; }
  ol.none { padding: 0; margin: 1.5em}

  input[type=text] {font-weight: bold; font-size: 1em;}
