:css

  table {margin: auto; border: none; border-collapse: collapse;}
  table.uncentered {margin: 1em;};
  table.equal {table-layout: fixed; width: 100%; overflow-wrap: break-word;}

  td {border: none; text-align: center; vertical-align: top;}
  td.middle {vertical-align: middle;}
  td.bottom {vertical-align: bottom;}
  {th td}.bordered {border: 1px solid grey; }
  {th td}.four_border {border: 1px solid grey; }
  {th td}.left_border {border-left: 1px solid grey;}
  {th td}.right_border{border-right: 1px solid grey;}
  {th td}.bottom_border{border-bottom: 1px solid grey;}
  {th td}.top_border{border-top: 1px solid grey;}
  {th hd}.half{width: 50%}

  .center {text-align: center;}
  .left {text-align: left;}
  .right {text-align: right;}

  hr {width: 80%; border: 1px dotted;}

  a.answer:link{color: black}
  a.answer:visited {color: black}

  a.external:link {color: dimgrey; text-decoration: none;}
  a.external:visited {color: dimgrey; text-decoration: none;}
  a.external:hover {text-decoration: underline;}

  h1 {font-weight: bold; font-size: 1.3em; display: inline-block; padding: 0; margin: 0;}
  h2 {text-align: center; font-weight: bold; font-size: 1.2em;}
  h3 {text-align: center; font-style: italic; font-size: 1.1em;}
  h4 {text-align: center; font-weight: bold; font-size: 1em;}

  .plain {font-weight: normal; font-style: normal;}
  .italic {font-style: italic;}
  .bold {font-weight: bold;}


  ul.none { padding: 0; margin: 1em; list-style-type: none; }
  ol.none { padding: 0; margin: 1.5em}
