:css
  .digest {background-color: #9Be0F1} /*blue*/
  .flee {background-color: #F7FAA1} /*yellow*/
  .fight {background-color: #F29A7F} /*pink orange*/
  .rest {background-color: #A2ACeB} /*purple*/
  .example {background-color: #B4F6A4} /*green*/
  .orange {background-color: #FCDA9C} /*orange*/
  .red {background-color: #F898A4} /*red*/

  table {margin: auto; border: none; border-collapse: collapse;}
  table.equal {table-layout: fixed; width: 100%; overflow-wrap: break-word;}

  td {border: none; text-align: center; vertical-align: top;}
  {th td}.four_border {border: 1px solid grey; }
  {th td}.left_border {border-left: 1px solid grey;}
  {th td}.right_border{border-right: 1px solid grey;}
  {th td}.bottom_border{border-bottom: 1px solid grey;}
  {th td}.top_border{border-top: 1px solid grey;}

  .center {text-align: center;}
  .left {text-align: left;}
  .right {text-align: right;}

  hr {width: 80%; border: 1px dotted;}

  a.external:link {color: grey; text-decoration: none;}
  a.external:visited {color: grey; text-decoration: none;}
  a.external:hover {text-decoration: underline;}

  h1 {font-weight: bold; font-size: 1.3em; display: inline-block; padding: 0; margin: 0;}
  h2 {text-align: center; font-weight: bold; font-size: 1.2em;}
  h3 {text-align: center; font-style: italic; font-size: 1.1em;}
  h4 {text-align: center; font-weight: bold; font-size: 1em;}
  .plain {font-weight: normal; font-style: normal;}

  ul.none { list-style-type: none; }
  ol.none { padding: 0; margin: 1.5em}
