A few alternatives are provided as examples, but you can enter any words you want to represent the above concepts which will be saved as cookies in your current session. If you save a blank entry, the default will be used.
