If you don’t like the
=link_to 'words', 'https://github.com/ambtus/bipolar_type/blob/master/app/models/words.rb', class: 'external'
you can fork the
=link_to "SourceCode", "https://github.com/ambtus/bipolar_type", :class => "external"




