=link_to_unless_current "Introduction", root_path
|
=link_to_unless_current "The Theory", theory_path
|
=link_to_unless_current "My BipolarType", me_path
|
=link_to_unless_current "My Mom’s BipolarType", mom_path
|
=link_to "SourceCode", "https://github.com/ambtus/bipolar_type", :class => "external"
