=link_to_unless_current 'Introduction', root_path
|
=link_to_unless_current 'The Cycle', cycle_path
|
=link_to_unless_current 'The Four Realms', realms_path
|
=link_to_unless_current 'Balance', balance_path
|
=link_to_unless controller.controller_name == 'answers', 'Your BipolarType', answer_path(Answer.first_path)
