%p.small
  =link_to_unless_current "Introduction", root_path
  |
  =link_to_unless_current "Your Bipolar Type", discover_path(Answer.first_path)
  |
  =link_to_unless_current "Realms", type_path("realms")
  |
  =link_to_unless_current "Attitudes", type_path("attitudes")
  |
  =link_to_unless_current "My BipolarType", type_path(Quad.first_path)
  |
  =link_to "Source Code", "https://github.com/ambtus/bipolar_type", :class => "external"
