=link_to_unless_current "Introduction", root_path
|
=link_to_unless_current "My BipolarType", me_path
|
=link_to_unless_current "The Sixteen Behaviors", sixteen_path
|
=link_to_unless_current "The General Pattern", theory_path
