=link_to_unless_current('Introduction', root_path)
|
=link_to_unless_current('Theory', theory_path)
|
=link_to_unless(@answer, 'You', answer_path(Answer.first_path)) {@title}
|
=link_to_unless_current('Words', words_path)

