%h1
  =link_to_unless_current 'Introduction', root_path
  |
  =link_to_unless_current 'Attitudes', attitudes_path
  |
  =link_to_unless_current 'Realms', realms_path
  |
  =link_to_unless_current 'You', answer_path(Answer.first_path)
  |
  =link_to_unless_current 'Me', type_path(Type.my_path)
