%h1
  =link_to_unless_current 'Introduction', root_path
  |
  =link_to_unless_current 'Cycle', cycle_path
  |
  =link_to_unless_current 'Serenity', serenity_path
  |
  =link_to_unless_current Thing.title, things_path
  |
  =link_to_unless_current 'You', answer_path(Answer.first_path)
  |
  =link_to_unless_current 'Me', type_path(Type.my_path)
  |
  =link_to_unless_current Type.title, types_path
