=link_to_unless_current 'Introduction', root_path
|
=link_to_unless_current 'The Four Realms', realms_path
|
=link_to_unless_current 'The Cycle', cycle_path
|
=link_to_unless_current 'The Four Problems', problems_path
|
=link_to_unless_current 'The Sixteen Solutions', solutions_path
|
=link_to_unless controller.controller_name == 'answers', 'Your BipolarType', answer_path(Answer.first_path)
|
=link_to_unless_current 'My BipolarType', my_path
