=link_to_unless_current "Introduction", root_path
|
=link_to_unless_current "Discover Your BipolarType", discover_path(Answer.first_path)
|
=link_to_unless_current "Overview", type_path(:overview)
|
=link_to_unless_current "My BipolarType", type_path(Quad.my_path)
|
=link_to "SourceCode", "https://github.com/ambtus/bipolar_type", :class => "external"
