=succeed ":" do
  =link_to_unless_current "The Four Realms", realms_path
=render "realms/links"
%br
=succeed ":" do
  =link_to_unless_current "The Four Attitudes", attitudes_path
=render "attitudes/links"
%br
=link_to_unless_current "The Sixteen Subtypes", subtypes_path
