!!!
%html{:lang=>"en"}
  %head
    %title="BipolarType: #{yield(:title).clean}"
    %meta{:content => "text/html; charset=utf-8"}
    %meta{:name => "viewport",  :content=>"width=device-width, initial-scale=1.0"}
    =render "layouts/favicon"
    =render "layouts/css"

  %body
    %h1=render "layouts/links"
    =yield

    -if Rails.env.development?
      %hr
      params: #{params}
      %br
      cookies: #{cookies.to_h}
