!!!
%html{:lang=>"en"}
  %head
    %title="BipolarType: #{@title}"
    %meta{:content => "text/html; charset=utf-8"}
    %meta{:name => "viewport", :content=>"initial-scale=1"}
    =stylesheet_link_tag '/application.css'
    =render "layouts/favicon"
  %body
    %p.header=render "layouts/links"
    =yield
    %p.subfooter=render "layouts/links"
    %p.footer=render "layouts/sublinks"
