!!!
%html{:lang=>"en"}
  %head
    %title="BipolarType: #{yield(:title).clean}"
    %meta{:content => "text/html; charset=utf-8"}
    %meta{:name => "viewport",  :content=>"width=device-width, initial-scale=1.0"}
    =render "layouts/favicon"
    =render "layouts/css"

  %body
    %p=render "layouts/links"
    -if (%w{answers types} & params.values).present?
      %div.right=render 'layouts/form'

    =yield

    -if (%w{cycle serenity things} & params.values).present?
      %p In general, Up↑ and NotDown¬↓ are associated with mania, whereas Down↓ and NotUp¬↑ are associated with depression.

    %p=render "layouts/links"

    -if Rails.env.development?
      =cookies.to_h
      =params.values

