!!!
%html{:lang=>"en"}
  %head
    %title="BipolarType: #{@title}"
    %meta{:content => "text/html; charset=utf-8"}
    %meta{:name => "viewport", :content=>"initial-scale=1"}
    =stylesheet_link_tag '/application.css'
    =render "layouts/favicon"
  %body
    %h1="#{link_to_unless_current 'BipolarType', root_path}: #{@title}"
    =yield
    %p.heading=render 'behaviors/improvements'
