!!!
%html{:lang=>"en"}
  %head
    %title="BipolarType: " + yield(:title)
    %meta{:content => "text/html; charset=utf-8"}
    %meta{:name => "viewport", :content=>"initial-scale=1"}
    =stylesheet_link_tag 'application', media: 'all'
    =render "layouts/favicon"
  %body
    %p=render "layouts/links"
    %hr
    %h1="BipolarType: " + yield(:title)
    =yield
    %hr
    %p=render "layouts/links"
