!!!
%html{:lang=>"en"}
  %head
    %title="BipolarType: #{yield(:title).clean}"
    %meta{:content => "text/html; charset=utf-8"}
    %meta{:name => "viewport",  :content=>"width=device-width, initial-scale=1.0"}
    =render "layouts/favicon"
    =render "layouts/css"

  %body
    %p=render "layouts/links"
    -unless controller.action_name == 'home'
      %div=render 'layouts/form'
    =yield
    %p=render "layouts/links"
    -if Rails.env.development?
      =cookies.to_h

