!!!
%html{:lang=>"en"}
  %head
    %title="BipolarType: #{yield(:title).clean}"
    %meta{:content => "text/html; charset=utf-8"}
    %meta{:name => "viewport",  :content=>"width=device-width, initial-scale=1.0"}
    =render "layouts/favicon"
    =render "layouts/css"

  %body
    %p=render "layouts/links"
    -if (%w{answers types states} & params.values).present?
      %div.right=render 'layouts/form'

    =yield

    -unless (%w{home answers states types} & params.values).present?
      %div=render 'layouts/explanation'
    %p=render "layouts/links"

    -if Rails.env.development?
      =cookies.to_h
      =params.values

