!!!
%html{:lang=>"en"}
  %head
    %title="BipolarType: #{yield(:title).clean}"
    %meta{:content => "text/html; charset=utf-8"}
    %meta{:name => "viewport",  :content=>"width=device-width, initial-scale=1.0"}
    =render "layouts/favicon"
    =render "layouts/css"

  %body
    %p=render "layouts/links"
    -if (%w{things answers types subtypes} & params.values).present?
      %div.right=render 'layouts/settings_form'

    =yield

    -if (%w{answers types subtypes } & params.values).present?
      =render 'footer' unless (@type || @subtype)

    -if Rails.env.development?
      %hr
      %p=cookies.to_h
      %p=params.values

