!!!
%html{:lang=>"en"}
  %head
    %title="BipolarType: " + yield(:title)
    %meta{:content => "text/html; charset=utf-8"}
    %meta{:name => "viewport", :content=>"initial-scale=1"}
    =stylesheet_link_tag '/application.css'
  %body
    %p.header=render "layouts/links"
    %h1="BipolarType: " + yield(:title)
    =yield
    %p.footer=render "layouts/links"
