!!!
%html{:lang=>"en"}
  %head
    %title="BipolarType: " + yield(:title)
    %meta{:content => "text/html; charset=utf-8"}
    %meta{:name => "viewport", :content=>"initial-scale=1"}
    =stylesheet_link_tag 'application', media: 'all'
    =render "layouts/favicon"
  %body
    %p.header=render "layouts/links"
    %p.subheader=render "layouts/sublinks"
    -unless @type
      %h1="BipolarType: " + yield(:title)
    =yield
    %p.subfooter=render "layouts/sublinks"
    %p.footer=render "layouts/links"
