!!!
%html
  %head
    %title="BipolarType: " + yield(:title)
    %meta{:content => "text/html; charset=utf-8"}
    %meta{:name => "viewport", :content=>"width=device-width"}
    =stylesheet_link_tag 'application'
  %body
    %p.small
      =link_to_unless_current "Introduction", root_path
      |
      =link_to_unless_current "My BipolarType", type_path(Type.my_path)
      |
      =link_to_unless_current "BipolarTypes", discover_path("Q1")
      |
      =link_to_unless_current "Subtypes", type_path("subtypes")
      |
      =link_to "Source Code", "https://github.com/ambtus/bipolar_type", :class => "external"
    %h1="BipolarType: " + yield(:title)
    %div=yield
