!!!
%html
  %head
    %title="BipolarType: " + yield(:title)
    %meta{:content => "text/html; charset=utf-8"}
    %meta{:name => "viewport", :content=>"width=device-width"}
    =stylesheet_link_tag 'application'
  %body
    %p.small
      =link_to_unless_current "Introduction", root_path
      |
      -%w{behave sf st nf nt}.each do |locale|
        -I18n.with_locale(locale) do
          =link_to_unless_current t(:title), type_path(locale)
          |
      =link_to_unless_current "Bipolar", type_path("bipolar")
      |
      =link_to_unless_current "BipolarTypes", type_path("bipolartypes")
      |
      =link_to_unless_current "Appendix", type_path("appendix")
    %h1="BipolarType: " + yield(:title)
    =yield
