!!!
%html{:lang=>"en"}
  %head
    %title="BipolarType: #{yield(:title).to_phrase}"
    %meta{:content => "text/html; charset=utf-8"}
    %meta{:name => "viewport", :content=>"initial-scale=1"}
    :css
      .dominant {font-weight: bold;}
      .auxiliary {font-weight: normal;}
      .tertiary {font-style: italic;}
      .inferior {text-decoration: line-through;}
      .chosen {font-weight: bold; color: red; }
      .constrained { color: orange; }
      .free {color: green}
      table {margin: auto; border: 1px solid grey; border-collapse: collapse;}
      table.none {border: none}
      table.equal {table-layout: fixed; width: 100%; overflow-wrap:break-word; }
      td {border: none; padding: .5em; text-align: center;}
      td.bordered {border: 1px solid grey; }
      td.left_border{border-left: 1px solid grey;}
      td.right_border{border-right: 1px solid grey;}
      td.bottom_border{border-bottom: 1px solid grey;}
      td.top_border{border-top: 1px solid grey;}
      td.top {vertical-align: top;}
      {td th}.bottom {vertical-align: bottom;}
      table.uncollapse {border-collapse: separate;}
      td.round {border-radius: 40%; border: 1px solid black; }
      .center {text-align: center;}
      .left {text-align: left;}
      .right {text-align: right;}
      .half {width: 50%;}
      .third {width: 33%;}
      .wide {width: 75%; margin: 0 auto;}
      hr {width: 80%; border: 1px dotted;}
      a.external:link {color: grey; text-decoration: none;}
      a.external:visited {color: grey; text-decoration: none;}
      a.external:hover {text-decoration: underline;}
      .unbold {font-weight: normal;}
      .normal {font-style: normal;}
      h1 {font-weight: bold; font-size: 1.3em; display: inline-block; padding: 0; margin: 0;}
      h2 {text-align: center; font-weight: bold; font-size: 1.2em;}
      h3 {text-align: center; font-style: italic; font-size: 1.1em;}
      dt::after {content: ":";}
      dt { float: left; clear: left; text-align: right; font-weight: bold; width: 6; }
      dd { margin: 0 0 0 7ch; }

      =render "layouts/favicon"

  %body
    .center=render "layouts/links"
    =yield
    %br
    -#.center=render "layouts/links", footer: true
