!!!
%html{:lang=>"en"}
  %head
    %title="BipolarType: " + yield(:title)
    %meta{:content => "text/html; charset=utf-8"}
    %meta{:name => "viewport", :content=>"width=device-width"}
    =stylesheet_link_tag 'application', media: 'all'
    =render "layouts/favicon"
  %body
    %p.small=render "layouts/links"
    %h1="BipolarType: " + yield(:title)
    %div=yield
    %p=render "layouts/links"
