!!!
%html
  %head
    %title="BipolarType: " + yield(:title)
    %meta{:content => "text/html; charset=utf-8"}
    %meta{:name => "viewport", :content=>"width=device-width"}
    =stylesheet_link_tag 'application'
  %body
    %p.small
      =link_to_unless_current "Introduction", root_path
      -TypeController::ARRAY.each do |locale|
        -I18n.with_locale(locale) do
          |
          =link_to_unless_current t(:title), type_path(locale)
      |
      =link_to "Source Code", "https://github.com/ambtus/bipolar_type", :class => "external"
    %h1="BipolarType: " + yield(:title)
    %div=yield
